<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="data" primaryKey="ID" foreignKey="ParentID" [autoGenerate]="false" height="400px" width="900px"
                [showToolbar]="true"
                toolbarTitle="Tree Grid Toolbar"
                [columnHiding]="true">
        <igx-column field="Name" header="Name" width="25%">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <igx-avatar [src]="cell.row.rowData.Avatar" roundShape="true" size="small"></igx-avatar>
                    <span class="name">{{ cell.value }}</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Title'" dataType="string" [sortable]="true" width="25%"></igx-column>
        <igx-column [field]="'ID'" dataType="number" [sortable]="true" width="15%"></igx-column>
        <igx-column [field]="'Age'" dataType="number" [sortable]="true" width="15%"></igx-column>
        <igx-column [field]="'HireDate'" dataType="date" [sortable]="true" width="20%"></igx-column>

        <ng-template igxToolbarCustomContent let-igxTreeGrid="grid">
            <button igxButton="flat" igxRipple igxRippleCentered="true" (click)="igxTreeGrid.clearSort()">
                <igx-icon fontSet="material">clear</igx-icon>
                Clear Sort
            </button>
        </ng-template>
    </igx-tree-grid>
</div>
