<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll #treeGrid [data]="data" primaryKey="ID" foreignKey="ParentID"
        [autoGenerate]="false" height="400px">
        <igx-grid-toolbar>
            <igx-grid-toolbar-title>Tree Grid Toolbar</igx-grid-toolbar-title>
            <igx-grid-toolbar-actions>
                <button igxButton="flat" igxRipple (click)="treeGrid.clearSort()">
                    <igx-icon family="material">clear</igx-icon>
                    <span>Clear Sort</span>
                </button>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="Name" header="Name" width="25%">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <igx-avatar [src]="cell.row.data.Avatar" roundShape="true" size="small"></igx-avatar>
                    <span class="name">{{ cell.value }}</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Title" dataType="string" [sortable]="true" width="25%"></igx-column>
        <igx-column field="ID" dataType="number" [sortable]="true" width="15%"></igx-column>
        <igx-column field="Age" dataType="number" [sortable]="true" width="15%"></igx-column>
        <igx-column field="HireDate" dataType="date" [sortable]="true" width="20%"></igx-column>


    </igx-tree-grid>
</div>
