.grid__wrapper {
  margin: 0 auto;
  padding: 5px;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .grid__wrapper igx-input-group {
    width: 80%; }
  .grid__wrapper igx-grid {
    margin-top: 25px; }

@-webkit-keyframes popin {
  0% {
    opacity: 0.1;
    transform: scale(0.75, 0.75);
    -webkit-filter: blur(3px) invert(1);
            filter: blur(3px) invert(1); }
  50% {
    opacity: .5;
    -webkit-filter: blur(1px);
            filter: blur(1px); }
  100% {
    transform: scale(1, 1);
    opacity: 1;
    -webkit-filter: none;
            filter: none; } }

@keyframes popin {
  0% {
    opacity: 0.1;
    transform: scale(0.75, 0.75);
    -webkit-filter: blur(3px) invert(1);
            filter: blur(3px) invert(1); }
  50% {
    opacity: .5;
    -webkit-filter: blur(1px);
            filter: blur(1px); }
  100% {
    transform: scale(1, 1);
    opacity: 1;
    -webkit-filter: none;
            filter: none; } }
