<div class="badge-variants">
    <div class="variant-item">
        <div class="avatar-wrapper">
            <igx-avatar icon="notifications" shape="circle" size="small"></igx-avatar>
            <igx-badge value="2" outlined type="primary"></igx-badge>
        </div>
        <span>Primary</span>
    </div>
    <div class="variant-item">
        <div class="avatar-wrapper">
            <igx-avatar initials="AZ" shape="circle" size="small"></igx-avatar>
            <igx-badge icon="check" outlined type="info"></igx-badge>
        </div>
        <span>Info</span>
    </div>
    <div class="variant-item">
        <div class="avatar-wrapper">
            <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
            <igx-badge icon="check" outlined type="success"></igx-badge>
        </div>
        <span>Success</span>
    </div>
    <div class="variant-item">
        <div class="avatar-wrapper">
            <igx-avatar icon="mail" shape="circle" size="small"></igx-avatar>
            <igx-badge value="2" outlined type="warning"></igx-badge>
        </div>
        <span>Warn</span>
    </div>
    <div class="variant-item">
        <div class="avatar-wrapper">
            <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
            <igx-badge icon="close" outlined type="error"></igx-badge>
        </div>
        <span>Error</span>
    </div>
</div>
