<igx-avatar icon="notifications" shape="circle" size="small"></igx-avatar>
<igx-badge value="2" outlined type="primary"></igx-badge>
<span>Primary</span>

<igx-avatar initials="AZ" shape="circle" size="small"></igx-avatar>
<igx-badge icon="check" outlined type="info"></igx-badge>
<span>Info</span>

<igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
<igx-badge icon="check" outlined type="success"></igx-badge>
<span>Success</span>

<igx-avatar icon="mail" shape="circle" size="small"></igx-avatar>
<igx-badge value="2" outlined type="warning"></igx-badge>
<span>Warn</span>

<igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
<igx-badge icon="close" outlined type="error"></igx-badge>
<span>Error</span>
