<div class="sample-wrapper">
    <div class="sample-content">
        <!-- Single selection mode -->
        <article class="sample-column calendar-wrapper">
            <igx-calendar></igx-calendar>
            <span>Single selection</span>
        </article>
        <!-- Multi selection mode -->
        <article class="sample-column calendar-wrapper">
            <igx-calendar selection="multi"></igx-calendar>
            <span>Multi selection</span>
        </article>
        <!-- Range selection mode -->
        <article class="sample-column calendar-wrapper">
            <igx-calendar selection="range"></igx-calendar>
            <span>Range selection</span>
        </article>
    </div>
</div>
