@use "layout.scss";
@use "igniteui-angular/theming" as *;

.sample-column {
    gap: 1rem;
}

$custom-input-group: input-group-theme(
    $box-background: #57a5cd,
    $border-color: #57a5cd,
);

@include css-vars($custom-input-group);
