@import '~igniteui-angular/lib/core/styles/themes/index';

.sample-column {
    max-width: 550px;
}

$custom-input-group: igx-input-group-theme(
  $filled-text-color: #288a54,
  $focused-text-color: #174f30,
  $idle-text-color: #288a54,
  $idle-bottom-line-color: #288a54,
  $interim-bottom-line-color: #288a54,
  $hover-bottom-line-color: #288a54,
  $focused-secondary-color: #174f30,
  $box-background: #eeeeee
);

// :host {
//     @include igx-css-vars($custom-input-group);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-input-group($custom-input-group);
}

