@use "layout.scss";
@use "igniteui-angular/theming" as *;

// CSS variables approach

// igx-input-group {
//     --border-color: #0f62fe;
//     --size: #{rem(40px)};
//     --idle-bottom-line-color: #8d8d8d;
//     --hover-bottom-line-color: #8d8d8d;
//     --hover-placeholder-color: var(--ig-gray-600);
//     --idle-secondary-color: var(--ig-gray-600);
//     --focused-secondary-color: var(--ig-gray-700);
//     --focused-bottom-line-color: #8d8d8d;
//     --box-background-hover: var(--ig-gray-100);
//     --helper-text-color: var(--ig-gray-600);
// }

// Sass theme approach

$custom-input-group: input-group-theme(
    $border-color: #0f62fe,
    $idle-bottom-line-color: #8d8d8d,
    $hover-bottom-line-color: #8d8d8d,
    $hover-placeholder-color: var(--ig-gray-600),
    $idle-secondary-color: var(--ig-gray-600),
    $focused-secondary-color: var(--ig-gray-700),
    $size: rem(40px),
    $box-border-radius: 0,
    $box-background-hover: var(--ig-gray-100),
    $placeholder-color: var(--ig-gray-600),
    $helper-text-color: var(--ig-gray-600)
);

:host {
    @include tokens($custom-input-group);
}
