<div class="sample-wrapper">
    <div class="sample-content">
        <!-- Single selection mode -->
        <div class="cal-wrapper">
            <igx-calendar [weekStart]="1"></igx-calendar>
        </div>
        <!-- Single selection mode -->
        <div class="cal-wrapper">
            <igx-calendar selection="multi"></igx-calendar>
        </div>
        <!-- Single selection mode -->
        <div class="cal-wrapper">
            <igx-calendar selection="range"></igx-calendar>
        </div>
    </div>
</div>
