@use "layout.scss";
@use "igniteui-angular/theming" as *;

// CSS variables approach

:host {
    ::ng-deep {
        .igx-days-view__date--weekend:not(.igx-days-view__date--inactive) {
            --date-hover-background: var(--background-hover);
            --date-selected-foreground: var(--primary);
            --date-selected-background: #FFF;
            --date-selected-border-color: var(--primary);
            --date-selected-focus-foreground: var(--primary);
            --date-selected-focus-background: var(--background-hover);
            --date-selected-focus-border-color: var(--primary);
            --date-selected-hover-foreground: var(--primary);
            --date-selected-hover-background: var(--background-hover);
            --date-selected-hover-border-color: var(--primary);
            --date-selected-current-hover-background: var(--background-hover);
            --date-selected-current-focus-background: var(--background-hover);
            --date-selected-current-background: #FFF;
            --date-selected-current-border-color: var(--primary);
            --date-selected-current-hover-border-color: var(--primary);
            --date-current-hover-background: var(--background-hover);
        }
    }
}

igx-calendar {
    --date-focus-background: transparent;
    --week-number-background: transparent;
    --weekend-color: #131E29;
    --weekday-color: #556B82;
    --week-number-foreground: #556B82;
    --inactive-color: #556B82;
    --date-current-border-color: var(--current-border);
    --date-current-hover-border-color: var(--current-border);
    --date-current-focus-border-color: var(--current-border);
    --date-current-hover-background: var(--background-weekend);
    --date-selected-current-border-color: var(--current-border);
    --date-selected-current-background: #FFF;
    --date-selected-current-foreground: var(--primary);
    --date-selected-current-focus-border-color: var(--current-border);
    --date-selected-current-focus-background: var(--background-weekend);
    --date-selected-current-focus-foreground: var(--primary);
    --date-selected-current-hover-border-color: var(--current-border);
    --date-selected-current-hover-background: var(--background-weekend);
    --date-selected-current-hover-foreground: var(--primary);
    --date-selected-foreground: var(--primary);
    --date-selected-background: #FFF;
    --date-selected-border-color: var(--primary);
    --date-selected-hover-foreground: var(--primary);
    --date-selected-hover-background: var(--background-weekend);
    --date-selected-hover-border-color: var(--primary);
    --date-selected-focus-foreground: var(--primary);
    --date-selected-focus-background: var(--background-weekend);
    --date-selected-focus-border-color: var(--primary);
    --picker-foreground: var(--primary);
    --picker-hover-foreground: var(--primary);
    --picker-focus-foreground: var(--primary);
    --ym-hover-background: var(--background);
    --ym-selected-background: #EDF5FF;
    --ym-selected-hover-background: #D9EAFF;
    --ym-selected-hover-foreground: var(--primary);
    --ym-selected-outline-color: var(--primary);
    --ym-selected-hover-outline-color: var(--primary);
    --ym-selected-focus-outline-color: var(--primary);
    --ym-selected-focus-background: #D9EAFF;
    --ym-current-foreground: var(--primary);
    --ym-current-background: transparent;
    --ym-current-outline-color: transparent;
    --ym-current-hover-foreground: var(--primary);
    --ym-current-hover-background: var(--background);
    --ym-current-outline-hover-color: var(--primary);
    --ym-selected-current-foreground: var(--primary);
    --ym-selected-current-background: #EDF5FF;
    --ym-selected-current-outline-color: var(--primary);
    --ym-selected-current-hover-foreground: var(--primary);
    --ym-selected-current-hover-background: #D9EAFF;
    --ym-selected-current-outline-hover-color: var(--primary);
    --ym-selected-current-outline-focus-color: var(--primary);
}

// Sass theme approach

// $custom-calendar-theme-weekend: calendar-theme(
//     $date-hover-background: var(--background-hover),
//     $date-selected-foreground: var(--primary),
//     $date-selected-background: #FFF,
//     $date-selected-border-color: var(--primary),
//     $date-selected-focus-foreground: var(--primary),
//     $date-selected-focus-background: var(--background-hover),
//     $date-selected-focus-border-color: var(--primary),
//     $date-selected-hover-foreground: var(--primary),
//     $date-selected-hover-background: var(--background-hover),
//     $date-selected-hover-border-color: var(--primary),
//     $date-selected-current-hover-background: var(--background-hover),
//     $date-selected-current-focus-background: var(--background-hover),
//     $date-selected-current-background: #FFF,
//     $date-selected-current-border-color: var(--primary),
//     $date-selected-current-hover-border-color: var(--primary),
//     $date-current-hover-background: var(--background-hover)
// );

// $custom-calendar-theme: calendar-theme(
//     $date-focus-background: transparent,
//     $picker-foreground: var(--primary),
//     $picker-hover-foreground: var(--primary),
//     $picker-focus-foreground: var(--primary),
//     $weekday-color: #556B82,
//     $weekend-color: #131E29,
//     $inactive-color: #556B82,
//     $week-number-foreground: #556B82,
//     $week-number-background: transparent,
//     $ym-selected-current-hover-foreground: var(--primary),
//     $ym-selected-current-hover-background: #D9EAFF,
//     $ym-hover-background: var(--background),
//     $ym-current-foreground: var(--primary),
//     $ym-current-background: transparent,
//     $ym-current-hover-foreground: var(--primary),
//     $ym-current-hover-background: var(--background),
//     $ym-selected-current-foreground: var(--primary),
//     $ym-selected-current-background: #EDF5FF,
//     $ym-selected-background: #EDF5FF,
//     $ym-selected-hover-foreground: var(--primary),
//     $ym-selected-hover-background: #D9EAFF,
//     $ym-current-outline-color: transparent,
//     $ym-current-outline-hover-color: var(--primary),
//     $ym-selected-outline-color: var(--primary),
//     $ym-selected-hover-outline-color: var(--primary),
//     $ym-selected-focus-outline-color: var(--primary),
//     $ym-selected-current-outline-color: var(--primary),
//     $ym-selected-current-outline-hover-color: var(--primary),
//     $ym-selected-current-outline-focus-color: var(--primary),
//     $date-selected-current-foreground: var(--primary),
//     $date-selected-current-background: #FFF,
//     $date-selected-current-hover-foreground: var(--primary),
//     $date-selected-current-hover-background: var(--background-weekend),
//     $date-selected-current-focus-foreground: var(--primary),
//     $date-selected-current-focus-background: var(--background-weekend),
//     $date-selected-foreground: var(--primary),
//     $date-selected-background: #FFF,
//     $date-selected-border-color: var(--primary),
//     $date-selected-hover-foreground: var(--primary),
//     $date-selected-hover-background: var(--background-weekend),
//     $date-selected-hover-border-color: var(--primary),
//     $date-selected-focus-foreground: var(--primary),
//     $date-selected-focus-background: var(--background-weekend),
//     $date-selected-focus-border-color: var(--primary),
//     $date-current-border-color: var(--current-border),
//     $date-current-hover-border-color: var(--current-border),
//     $date-current-focus-border-color: var(--current-border),
//     $date-selected-current-border-color: var(--current-border),
//     $date-selected-current-hover-border-color: var(--current-border),
//     $date-selected-current-focus-border-color: var(--current-border),
//     $date-current-hover-background: var(--background-weekend),
//     $border-radius: rem(8px)
// );

// :host {
//     ::ng-deep {
//         .igx-days-view__date--weekend:not(.igx-days-view__date--inactive) {
//             @include tokens($custom-calendar-theme-weekend);
//         }
//     }
// }

// igx-calendar {
//     @include tokens($custom-calendar-theme);
// }
