@use '../../../../variables' as *;

.calendar-wrapper {
    max-width: 600px;
    min-width: 200px;
    margin: 8px;
}

.igx-calendar {
    box-shadow: elevation(4);
}

$custom-calendar-theme: calendar-theme(
    $header-background: #345779,
    $content-background: #fdfdfd,
    $header-foreground: #ffffff,
    $date-current-foreground: #2dabe8,
    $navigation-color: #2dabe8,
    $date-selected-foreground: #fdfdfd,
    $date-current-background: #fdfdfd,
    $navigation-hover-color: #345779,
    $year-current-foreground: #2dabe8,
    $year-hover-foreground: #2dabe8,
    $month-current-foreground: #2dabe8,
    $month-hover-foreground: #2dabe8,
    $picker-foreground: #2dabe8,
    $picker-hover-foreground: #345779,
);

:host {
    @include css-vars($custom-calendar-theme);
}

