@import "~igniteui-angular/lib/core/styles/themes/index";

.calendar-wrapper {
    max-width: 600px;
    min-width: 200px;
    margin: 8px;
}

.igx-calendar {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26),
    0 1px 1px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px -1px rgba(0, 0, 0, 0.08);
}

/*BASIC THEMING*/

$custom-calendar-theme: igx-calendar-theme(
    $header-background: #345779,
    $content-background: #fdfdfd,
    $header-text-color: #ffffff,
    $date-current-text-color: #2dabe8,
    $picker-arrow-color: #2dabe8,
    $date-selected-text-color: #fdfdfd,
    $date-current-bg-color: #fdfdfd,
    $picker-arrow-hover-color: #345779,
    $year-current-text-color: #2dabe8,
    $year-hover-text-color: #2dabe8,
    $month-current-text-color: #2dabe8,
    $month-hover-text-color: #2dabe8,
    $picker-text-color: #2dabe8,
    $picker-text-hover-color: #345779,
);

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    @include igx-css-vars($custom-calendar-theme);
}
