@import "~igniteui-angular/lib/core/styles/themes/index";

.calendar-wrapper {
    max-width: 600px;
    min-width: 200px;
    margin: 8px;
}

.igx-calendar {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.08);
}

/*BASIC THEMING*/

$custom-calendar-theme: igx-calendar-theme(
    $header-background: #345779,
    $content-background: #fdfdfd,
    $header-text-color: #ffffff,
    $date-current-text-color: #2dabe8,
    $picker-arrow-color: #2dabe8,
    $date-selected-text-color: #fdfdfd,
    $date-current-bg-color: #fdfdfd,
    $picker-arrow-hover-color: #345779,
    $year-current-text-color: #2dabe8,
    $year-hover-text-color: #2dabe8,
    $month-current-text-color: #2dabe8,
    $month-hover-text-color: #2dabe8,
    $picker-text-color: #2dabe8,
    $picker-text-hover-color: #345779,
);

/*ENHANCED APPROACHES*/

// $blue-color: #345779;
// $light-gray-color: #fdfdfd;

/*PALETTE*/

// $custom-calendar-palette: igx-palette(
//     $primary: $blue-color,
//     $secondary: $light-gray-color
// );

// $custom-calendar-theme: igx-calendar-theme(
//   $header-background: igx-color($custom-calendar-palette, "primary", 500),
//   $content-background: igx-color($custom-calendar-palette, "secondary", 500),
//   $header-text-color: igx-color($custom-calendar-palette, "secondary", 50),
//   $date-current-text-color: igx-color($custom-calendar-palette, "primary", 50),
//   $date-selected-text-color: igx-color($custom-calendar-palette, "secondary", 50),
//   $date-current-bg-color: igx-color($custom-calendar-palette, "secondary", 50),
//   $picker-arrow-color: igx-color($custom-calendar-palette, "primary", 50),
//   $picker-arrow-hover-color: igx-color($custom-calendar-palette, "primary", 500),
//   $year-current-text-color: igx-color($custom-calendar-palette, "primary", 50),
//   $year-hover-text-color: igx-color($custom-calendar-palette, "primary", 50),
//   $month-current-text-color: igx-color($custom-calendar-palette, "primary", 50),
//   $month-hover-text-color: igx-color($custom-calendar-palette, "primary", 50),
//   $picker-text-color: igx-color($custom-calendar-palette, "primary", 50),
//   $picker-text-hover-color: igx-color($custom-calendar-palette, "primary", 500),
//   $date-selected-text-color: igx-color($custom-calendar-palette, "secondary", 500)
// );

/*SCHEMAS*/

// $custom-calendar-schema: extend($_light-calendar,
//     (
//         header-background: (igx-color: ('primary', 500)),
//         content-background: (igx-color: ('secondary', 500)),
//         header-text-color: (igx-color: ('secondary', 50)),
//         date-current-text-color: (igx-color: ('primary', 50)),
//         date-selected-text-color: (igx-color: ('secondary', 50)),
//         date-current-bg-color: (igx-color: ('secondary', 50)),
//         picker-arrow-color: (igx-color: ('primary', 50)),
//         picker-arrow-hover-color: (igx-color: ('primary', 500)),
//         year-current-text-color: (igx-color: ('primary', 50)),
//         year-hover-text-color: (igx-color: ('primary', 50)),
//         month-current-text-color: (igx-color: ('primary', 50)),
//         month-hover-text-color: (igx-color: ('primary', 50)),
//         picker-text-color: (igx-color: ('primary', 50)),
//         picker-text-hover-color: (igx-color: ('primary', 500)),
//         date-selected-background: (igx-color: ('primary', 500)),
//         date-selected-text-color: (igx-color: ('secondary', 500))
//     )
// );

/*THEME*/

// $custom-calendar-theme: igx-calendar-theme(
//   $palette: $custom-calendar-palette,
//   $schema: $custom-calendar-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    @include igx-css-vars($custom-calendar-theme);
}
