@use "igniteui-angular/theming" as *;

:host {
    ::ng-deep {

        // Note: This is not the standard approach for styling the component.
        // We're using it here solely to mirror the UI5 sample.

        [title="Week"] .igx-days-view__label.igx-days-view__label--week-number {
            opacity: 0;
        }

        igx-icon {
            --color: var(--primary);
            --size: #{rem(20px)};
        }

        .igx-calendar-view__item-inner {
            color: var(--primary)
        }

        .igx-days-view__date--selected span {
            font-weight: 700;
        }

        .igx-days-view__date--current span {
            border-width: rem(2px);
        }

        .igx-days-view__date--weekend:not(.igx-days-view__date--inactive):not(.igx-days-view__date--selected) span:not(:hover) {
            background: var(--background-weekend);
        }

        .igx-days-view__date--active ::after {
            border: rem(2px) solid #0032A5;
            width: rem(20px);
            height: rem(20px);
            border-radius: rem(3px);
            left: rem(3px);
        }

        .igx-days-view__date--active.igx-days-view__date--current :after {
            left: rem(2px);
        }

        .igx-calendar-view__item:not(.igx-calendar-view__item--selected) .igx-calendar-view__item-inner:hover {
            box-shadow: inset 0 0 0 rem(1px) #BCC3CA;
        }

        .igx-calendar-view {
            padding: 1rem rem(6px);
        }

        .igx-calendar-picker__prev {
            position: absolute;
        }

        .igx-calendar-picker__next {
            position: absolute;
            right: 0;
        }

        .igx-calendar-picker__nav {
            position: relative;
            left: 0;
            bottom: rem(27px);
        }

        .igx-calendar-picker__next:hover,
        .igx-calendar-picker__prev:hover {
            background-color: var(--background);
            border-radius: rem(8px);
            box-shadow: inset 0 0 0 rem(1px) #BCC3CA;
        }

        .igx-calendar-picker__next,
        .igx-calendar-picker__prev {
            padding: rem(6px);
        }

        .igx-calendar-picker {
            display: unset;
        }

        .igx-calendar-picker__dates {
            justify-content: center;
            position: relative;
            top: rem(4px);
            gap: 1rem;
            height: 2rem;

            span:not(.igx-calendar__aria-off-screen) {
                font-size: rem(14px);
                padding: rem(4px) rem(10px);

                &:hover {
                    background-color: var(--background);
                    border-radius: rem(8px);
                    box-shadow: inset 0 0 0 rem(1px) #BCC3CA;
                }
            }
        }

        .igx-calendar__pickers--days {
            height: rem(24px);
        }

        .igx-calendar-picker {
            padding-inline: 1rem;
        }
    }
}

.calendar-wrapper {
    max-width: rem(600px);
    margin: rem(8px);
}

igx-calendar {
    --current-border: #A100C2;
    --primary: #0064D9;
    --background: #EAECEE;
    --background-weekend: #E8E8E8;
    --background-hover: #F5F6F8;

    width: rem(290px);
    min-height: rem(282px);
    box-sizing: border-box;
    padding-top: rem(6px);
    box-shadow: elevation(4);
    --ig-font-family: Arial, sans-serif;
    --ig-subtitle-1-font-weight: 600;
    --ig-size: 1;
    --ig-radius-factor: 0.4;
}