@use "layout.scss";
@use "igniteui-angular/theming" as *;

$my-calendar-theme: calendar-theme(
  $border-radius: 15px,
  $content-background: #57a5cd,
);

:host {
  @include tokens($my-calendar-theme);
}
