<div class="wrapper">
    <igx-query-builder #queryBuilder
        [entities]="entities"
        [expressionTree]="expressionTree">
        <igx-query-builder-header [title]="'Query Builder Overview'" [showLegend]="true">        
        </igx-query-builder-header>
        <ng-template #searchValueTemplate igxQueryBuilderSearchValue 
                        let-searchValue
                        let-selectedField = "selectedField" 
                        let-selectedCondition = "selectedCondition"
                        let-defaultSearchValueTemplate = "defaultSearchValueTemplate">
                @if (selectedField?.field === 'Id' && selectedCondition === 'equals'){
                    <igx-select [placeholder]="'Please Select'" [(ngModel)]="searchValue.value">
                        <igx-select-item *ngFor="let c of options" [value]="c">{{ c }}</igx-select-item>
                    </igx-select>
                } @else {  
                    <ng-container #defaultTemplate *ngTemplateOutlet="defaultSearchValueTemplate"></ng-container>
                }
            </ng-template>
    </igx-query-builder>
    <div class="output-area">
        <pre>{{ printExpressionTree(queryBuilder.expressionTree) }}</pre>
    </div>
</div>
