<div class="summary-chooser">
    <igx-buttongroup [values]="summaryCalcModes" (onSelect)="selectSummaryCalcMode($event)"></igx-buttongroup>
</div>

<div class="summary-chooser">
    <igx-buttongroup [values]="summaryPositions" (onSelect)="selectSummaryPosition($event)"></igx-buttongroup>
</div>

<igx-tree-grid igxPreventDocumentScroll  #treegrid1 [data]="data" [autoGenerate]="false" height="500px" width="100%"
    primaryKey="ID" foreignKey="ParentID">
    <igx-column #col field="ID" header="Product ID" [sortable]="true">
    </igx-column>
    <igx-column #col field="Name" header="Product Name" [hasSummary]="true">
    </igx-column>
    <igx-column #col field="UnitPrice" header="Price" [formatter]="formatCurrency" [filterable]="false" editable="true" dataType="number"
                [hasSummary]="true" [summaries]="avgSummary">
    </igx-column>
    <igx-column #col field="Discontinued" header="Discontinued" [dataType]="'boolean'">
        <ng-template igxCell let-cell="cell" let-val>
            <img *ngIf="val" src="https://www.infragistics.com/angular-demos/assets/images/grid/active.png" title="Continued" alt="Continued" />
            <img *ngIf="!val" src="https://www.infragistics.com/angular-demos/assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
        </ng-template>
    </igx-column>
    <igx-column #col field="AddedDate" header="Added Date" [dataType]="'date'">
    </igx-column>
</igx-tree-grid>