<div class="sample-content">
    <section class="sample-column">
        <article class="icons-wrapper">
            <div class="icon-sample">
                <igx-icon fontSet="filtering" name="contains"></igx-icon>
            </div>
            <div class="icon-sample">
                <igx-icon fontSet="svg-flags" name="does_not_contain"></igx-icon>
            </div>
            <div class="icon-sample">
                <igx-icon fontSet="svg-flags" name="does_not_equal"></igx-icon>
            </div>
            <div class="icon-sample">
                <igx-icon fontSet="svg-flags" name="ends_with"></igx-icon>
            </div>
            <div class="icon-sample">
                <igx-icon fontSet="svg-flags" name="equals"></igx-icon>
            </div>
            <div class="icon-sample">
                <igx-icon fontSet="svg-flags" name="is_empty"></igx-icon>
            </div>
            <div class="icon-sample">
                <igx-icon fontSet="svg-flags" name="starts_with"></igx-icon>
            </div>
        </article>
    </section>
</div>