.grid__wrapper {
    display: flex;
    flex-flow: column;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advanced-dialog {
    margin-bottom: 2px;
    width: 800px;
    height: 300px;
}