<div class="sample-wrapper">
  <section class="sample-content">
    <article class="sample-column">
      <h4 class="sample-title">Circular progress indicator</h4>
      <div class="circular-samples">
        <div class="circular-container">
          <igx-circular-bar [value]="currentValue" [max]="100" [animate]="true" (onProgressChanged)="progresChanged($event)"></igx-circular-bar>
        </div>
      </div>
    </article>
  </section>
  <section class="sample-content">
    <div class="button-container">
        <p>Press the button to start updating the bar</p>
        <button igxButton="fab" igxButtonBackground="#333" igxRipple="white" (click)="tick()">
          <igx-icon fontSet="material" [name]="changeIcon()"></igx-icon>
        </button>
    </div>
  </section>
</div>
