@use '../../../../variables' as *;

$theme: dialog-theme(
    $schema: $schema
);

:host {
    display: block;
    margin: 16px;

    .dialog {
        @include tokens($theme, $mode: 'scoped');

        display: flex;
        flex-direction: column;
        width: rem(280px);
        min-width: rem(280px);
        border: rem(1px) solid var-get($theme, 'border-color');
        border-radius: var-get($theme, 'border-radius');
        background: var-get($theme, 'background');
        box-shadow: var-get($theme, 'elevation');
        overflow: hidden;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(16px) rem(24px);
        }

        &__title {
            display: inline-block;
            color: var-get($theme, 'title-color');
        }

        &__icon {
            cursor: move;
        }

        &__content {
            color: var-get($theme, 'message-color');
            padding: rem(14px) rem(24px);
       }
    }
}
