<div class="grid-container">
    <igx-tree-grid igxPreventDocumentScroll #treeGrid1 [pinning]="pinningConfig" #treegrid [data]="data" primaryKey="ID" foreignKey="ParentID"
        [width]="'100%'" [height]="'520px'" [cellSelection]="'none'"
        (mouseover)="onMouseOver(actionStrip1, treeGrid1, $event)" (onCellClick)="onCellClick($event)"
        (mouseleave)="onMouseLeave(actionStrip1, $event)"
        (onDataPreLoad)="actionStrip1.hide()">
        <igx-column *ngFor="let c of columns" [field]="c.field" [dataType]="c.dataType" [header]="c.label">
        </igx-column>
        <igx-action-strip #actionStrip1>
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
        </igx-action-strip>
    </igx-tree-grid>
</div>