@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-theme: grid-theme(
  $pinned-border-width: 1px,
  $pinned-border-style: dashed,
  $pinned-border-color: #f325e9,
);

:host {
  @include tokens($custom-theme);
}
