@use "igniteui-angular/theming" as *;

$dark-snackbar: snackbar-theme(
  $text-color: #ffcd0f,
  $background: #292826,
  $button-color: #ffcd0f,
  $border-radius: 12px
);

:host {
  @include tokens($dark-snackbar);
}
