@use "igniteui-angular/theming" as *;

$dark-snackbar: snackbar-theme(
  $text-color: #FFCD0F,
  $background: #292826,
  $button-color: #FFCD0F,
  $border-radius: 12px
);

@include css-vars($dark-snackbar);
 