.contact-container{
    span {
        margin: 5px;
    }
    &--edit{
        margin-bottom:5px
    }
}

.address-container{
    display: flex;
    div + div{
        margin-left: 5px
    }

    &--edit{
        display: flex;
        div + div{
            margin-left: 10px;
        }
        margin-bottom:5px;
        margin-top:3px;
    }
}

.grid__wrapper {
    width: 950px;
    margin: 0 auto;
}