@use '../../../variables' as *;

$custom-theme: grid-theme(
    $pinned-border-width: 5px,
    $pinned-border-style: double,
    $pinned-border-color: #FFCD0F,
    $cell-active-border-color: #FFCD0F
);

:host {
    ::ng-deep{
        @include grid($custom-theme);
    }
}

.grid-container {
    display: flex;
    padding: 16px;
}
