@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$custom-theme: igx-grid-summary-theme(
    $background-color: #e0f3ff,
    $focus-background-color: rgba( #94d1f7, .3 ),
    $label-color: #e41c77,
    $result-color: black,
    $pinned-border-width: 2px,
    $pinned-border-style: dotted,
    $pinned-border-color: #e41c77
);

/*ENHANCED APPROACHES*/

// $blue-color: #7793b1;
// $green-color: #00ff2d;

/*PALETTE*/

// $my-custom-palette: igx-palette(
//     $primary: $blue-color,
//     $secondary: $green-color
// );

// $custom-theme: igx-grid-summary-theme(
//     $background-color: igx-color($my-custom-palette, "primary", 700),
//     $focus-background-color: igx-color($my-custom-palette, "primary", 800),
//     $label-color: igx-color($my-custom-palette, "secondary", 500),
//     $result-color: igx-color($my-custom-palette, "grays", 900),
//     $pinned-border-width: 2px,
//     $pinned-border-style: dotted,
//     $pinned-border-color: igx-color($my-custom-palette, "secondary", 500)
// );

/*SCHEMAS*/

// $my-summary-schema: extend($_light-grid-summary,
//     (
//         background-color: (igx-color: ('primary', 700)),
//         focus-background-color: (igx-color: ('primary', 800)),
//         label-color: (igx-color: ('secondary', 500)),
//         result-color: (igx-color: ('grays', 900)),
//         pinned-border-width: 2px,
//         pinned-border-style: dotted,
//         pinned-border-color: (igx-color: ('secondary', 500))
//     )
// );

// $my-custom-schema: extend($light-schema,
//     (
//         igx-grid-summary: $my-summary-schema
//     )
// );

/*THEME*/

// $custom-theme: igx-grid-summary-theme(
//     $palette: $my-custom-palette,
//     $schema: $my-custom-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    ::ng-deep {
        @include igx-grid-summary($custom-theme);
    }
    display: block;
    padding: 8px;
}

.summary-chooser {
    margin-bottom: 16px;
}

igx-buttongroup{
    display: block;
    width: 600px;
}