@import '../../../variables';

$custom-grid: igx-grid-theme(
    $filtering-row-background: #FFCD0F
);

$custom-button: igx-button-theme(
    $background: #FFCD0F,
    $foreground: #292826,
    $hover-background: #292826,
    $hover-foreground: #FFCD0F
);

$custom-input-group: igx-input-group-theme(
    $box-background: #FFCD0F,
    $idle-text-color: #292826,
    $focused-text-color: #292826,
    $filled-text-color: #292826
);

$custom-list: igx-list-theme(
    $background: #FFCD0F
);

$custom-checkbox: igx-checkbox-theme(
    $empty-color: #292826,
    $fill-color: #292826,
    $tick-color: #FFCD0F,
    $label-color: #292826
);

$custom-drop-down: igx-drop-down-theme(
    $background-color: #FFCD0F,
    $item-text-color: #292826,
    $hover-item-background: #292826,
    $hover-item-text-color: #FFCD0F
);

:host {
    ::ng-deep {
        @include igx-drop-down($custom-drop-down);
        @include igx-grid($custom-grid);
        .igx-excel-filter, .igx-excel-filter__secondary {
            @include igx-button($custom-button);
            @include igx-input-group($custom-input-group);
            @include igx-checkbox($custom-checkbox);
            @include igx-list($custom-list);
            .igx-input-group__input::placeholder {
                color: #292826;
            }
        }
    }
}

.grid__wrapper {
    margin: 16px;
}
