<igx-expansion-panel (onExpanded)="handleExpansion($event)" (onCollapsed)="handleCollapse($event)">
    <igx-expansion-panel-header>
        <igx-expansion-panel-title>
            Hummingbird
        </igx-expansion-panel-title>
        <igx-expansion-panel-description *ngIf="panel.collapsed">
            One of the smallest birds
        </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
        Hummingbirds are birds native to the Americas that constitute the family Trochilidae. They are among the smallest of birds,
        most species measuring 7.5–13 cm (3–5 in) in length. Indeed, the smallest extant bird species is a hummingbird, the
        5 cm (2.0 in) bee hummingbird weighing less than 2.0 g (0.07 oz).
        <a [href]="readMore">Read more</a>
    </igx-expansion-panel-body>
</igx-expansion-panel>
<igx-toast displayTime=1500 #eventToast></igx-toast>