<div class="wrapper">
    <div class="button-sample">
        <span igxIconButton="outlined" igxRipple class="small">
            <igx-icon>person</igx-icon>
        </span>
    </div>
    <div class="button-sample">
        <div igxIconButton="outlined" igxRipple class="medium">
            <igx-icon>place</igx-icon>
        </div>
    </div>
    <div class="button-sample">
        <button igxIconButton="outlined" igxRipple class="large">
            <igx-icon>phone</igx-icon>
        </button>
    </div>
</div>
