[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

:root {
  --success-color: igx-color($default-palette, 'success'); }

.list-sample ::ng-deep {
  --igx-checkbox-border-radius: 10px;
  --igx-checkbox-border-radius-ripple: 24px;
  --igx-checkbox-variant: material;
  --igx-checkbox-tick-color: #fff;
  --igx-checkbox-label-color: rgba(0, 0, 0, 0.87);
  --igx-checkbox-empty-color: rgba(0, 0, 0, 0.54);
  --igx-checkbox-fill-color: #4eb862;
  --igx-checkbox-disabled-color: rgba(0, 0, 0, 0.26);
  --igx-checkbox-disabled-color-label: rgba(0, 0, 0, 0.26); }

@-webkit-keyframes scale-in-out {
  50% {
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%; } }

@keyframes scale-in-out {
  50% {
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%; } }

@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.list-sample ::ng-deep .igx-checkbox {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  outline-style: none; }

.list-sample ::ng-deep .igx-checkbox--disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  cursor: initial; }

.list-sample ::ng-deep .igx-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  clip: rect(0, 0, 0, 0);
  outline: 0;
  pointer-events: none;
  overflow: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.list-sample ::ng-deep .igx-checkbox__composite-wrapper {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1.25em;
  height: 1.25em; }

.list-sample ::ng-deep .igx-checkbox__composite {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  min-width: 1.25em;
  border-width: 0.125rem;
  border-style: solid;
  border-color: var(--igx-checkbox-empty-color);
  border-radius: var(--igx-checkbox-border-radius);
  -webkit-tap-highlight-color: transparent;
  transition: border-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden; }
  .list-sample ::ng-deep .igx-checkbox__composite::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.list-sample ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite, .igx-checkbox--indeterminate .list-sample ::ng-deep .igx-checkbox__composite, .list-sample ::ng-deep .igx-checkbox--checked .igx-checkbox__composite, .igx-checkbox--checked .list-sample ::ng-deep .igx-checkbox__composite {
  border-color: var(--igx-checkbox-fill-color);
  background: var(--igx-checkbox-fill-color); }
  .list-sample ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite::after, .igx-checkbox--indeterminate .list-sample ::ng-deep .igx-checkbox__composite::after, .list-sample ::ng-deep .igx-checkbox--checked .igx-checkbox__composite::after, .igx-checkbox--checked .list-sample ::ng-deep .igx-checkbox__composite::after {
    background: var(--igx-checkbox-fill-color); }

.list-sample ::ng-deep .igx-checkbox--disabled .igx-checkbox__composite, .igx-checkbox--disabled .list-sample ::ng-deep .igx-checkbox__composite {
  border-color: var(--igx-checkbox-disabled-color);
  background: transparent; }

.list-sample ::ng-deep .igx-checkbox--indeterminate.igx-checkbox--disabled .igx-checkbox__composite, .igx-checkbox--indeterminate.igx-checkbox--disabled .list-sample ::ng-deep .igx-checkbox__composite, .list-sample ::ng-deep .igx-checkbox--checked.igx-checkbox--disabled .igx-checkbox__composite, .igx-checkbox--checked.igx-checkbox--disabled .list-sample ::ng-deep .igx-checkbox__composite {
  background: var(--igx-checkbox-disabled-color); }
  .list-sample ::ng-deep .igx-checkbox--indeterminate.igx-checkbox--disabled .igx-checkbox__composite::after, .igx-checkbox--indeterminate.igx-checkbox--disabled .list-sample ::ng-deep .igx-checkbox__composite::after, .list-sample ::ng-deep .igx-checkbox--checked.igx-checkbox--disabled .igx-checkbox__composite::after, .igx-checkbox--checked.igx-checkbox--disabled .list-sample ::ng-deep .igx-checkbox__composite::after {
    background: var(--igx-checkbox-disabled-color); }

.list-sample ::ng-deep .igx-checkbox__composite-mark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  stroke: var(--igx-checkbox-tick-color);
  stroke-linecap: square;
  stroke-width: 3;
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  fill: none;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.list-sample ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite-mark {
  top: 0;
  left: 0; }

.list-sample ::ng-deep .igx-checkbox--checked .igx-checkbox__composite-mark, .igx-checkbox--checked .list-sample ::ng-deep .igx-checkbox__composite-mark {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.list-sample ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite-mark, .igx-checkbox--indeterminate .list-sample ::ng-deep .igx-checkbox__composite-mark {
  stroke-dashoffset: 41;
  /* length of path - adjacent line length */
  opacity: 1;
  -ms-transform: rotate(45deg) translateX(-0.125em);
      transform: rotate(45deg) translateX(-0.125em); }

.list-sample ::ng-deep .igx-checkbox__label, .list-sample ::ng-deep .igx-checkbox__label--before {
  display: inline-block;
  color: var(--igx-checkbox-label-color);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-wrap: break-all; }
  .list-sample ::ng-deep .igx-checkbox__label:empty, .list-sample ::ng-deep .igx-checkbox__label--before:empty {
    margin: 0; }

.list-sample ::ng-deep .igx-checkbox__label--before:empty,
.list-sample ::ng-deep .igx-checkbox__label:empty {
  margin: 0; }

.list-sample ::ng-deep .igx-checkbox__label {
  margin-left: 0.5em; }

.list-sample ::ng-deep .igx-checkbox__label--before {
  margin-right: 0.5em;
  -ms-flex-order: -1;
      order: -1; }

.list-sample ::ng-deep .igx-checkbox--disabled .igx-checkbox__label, .igx-checkbox--disabled .list-sample ::ng-deep .igx-checkbox__label, .list-sample ::ng-deep .igx-checkbox--disabled .igx-checkbox__label--before, .igx-checkbox--disabled .list-sample ::ng-deep .igx-checkbox__label--before {
  color: var(--igx-checkbox-disabled-color-label); }

.list-sample ::ng-deep .igx-checkbox__ripple {
  display: block;
  position: absolute;
  top: calc(50% - 1.5em);
  right: calc(100% - 1.5em - 0.625em);
  width: 3em;
  height: 3em;
  border-radius: var(--igx-checkbox-border-radius-ripple);
  overflow: hidden;
  pointer-events: none;
  -webkit-filter: opacity(1);
          filter: opacity(1); }
  .list-sample ::ng-deep .igx-checkbox__ripple {
    --igx-ripple-variant: material;
    --igx-ripple-color: var(--igx-checkbox-fill-color); }
  .list-sample ::ng-deep .igx-checkbox__ripple .igx-ripple__inner {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: var(--igx-ripple-color);
    pointer-events: none;
    -ms-transform-origin: center;
        transform-origin: center;
    transform: translate3d(0, 0, 0) scale(0);
    will-change: opacity, transform;
    opacity: .5;
    margin: 0 !important;
    border: none !important; }
  .list-sample ::ng-deep .igx-checkbox__ripple .igx-ripple {
    overflow: hidden; }
  .list-sample ::ng-deep .igx-checkbox__ripple {
    --igx-ripple-variant: material;
    --igx-ripple-color: var(--igx-checkbox-fill-color); }

.list-sample ::ng-deep .igx-checkbox--focused .igx-checkbox__ripple, .igx-checkbox--focused .list-sample ::ng-deep .igx-checkbox__ripple {
  -webkit-animation: "scale-in-out" 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
          animation: "scale-in-out" 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  background: var(--igx-checkbox-empty-color);
  transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: .12; }

.list-sample ::ng-deep .igx-checkbox--focused.igx-checkbox--checked .igx-checkbox__ripple, .igx-checkbox--focused.igx-checkbox--checked .list-sample ::ng-deep .igx-checkbox__ripple, .list-sample ::ng-deep .igx-checkbox--focused.igx-checkbox--indeterminate .igx-checkbox__ripple, .igx-checkbox--focused.igx-checkbox--indeterminate .list-sample ::ng-deep .igx-checkbox__ripple {
  background: var(--igx-checkbox-fill-color); }

.list-sample ::ng-deep .igx-checkbox:hover .igx-checkbox__ripple::after, .igx-checkbox:hover .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox:active .igx-checkbox__ripple::after, .igx-checkbox:active .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--indeterminate:hover .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:hover .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--indeterminate:active .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:active .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--checked:hover .igx-checkbox__ripple::after, .igx-checkbox--checked:hover .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--checked:active .igx-checkbox__ripple::after, .igx-checkbox--checked:active .list-sample ::ng-deep .igx-checkbox__ripple::after {
  position: absolute;
  content: '';
  opacity: .06;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.list-sample ::ng-deep .igx-checkbox:hover .igx-checkbox__ripple::after, .igx-checkbox:hover .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox:active .igx-checkbox__ripple::after, .igx-checkbox:active .list-sample ::ng-deep .igx-checkbox__ripple::after {
  background: var(--igx-checkbox-empty-color); }

.list-sample ::ng-deep .igx-checkbox--indeterminate:hover .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:hover .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--indeterminate:active .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:active .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--checked:hover .igx-checkbox__ripple::after, .igx-checkbox--checked:hover .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--checked:active .igx-checkbox__ripple::after, .igx-checkbox--checked:active .list-sample ::ng-deep .igx-checkbox__ripple::after {
  background: var(--igx-checkbox-fill-color); }

.list-sample ::ng-deep .igx-checkbox:active .igx-checkbox__ripple::after, .igx-checkbox:active .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--indeterminate:active .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:active .list-sample ::ng-deep .igx-checkbox__ripple::after, .list-sample ::ng-deep .igx-checkbox--checked:active .igx-checkbox__ripple::after, .igx-checkbox--checked:active .list-sample ::ng-deep .igx-checkbox__ripple::after {
  opacity: .12; }

.list-sample ::ng-deep .igx-checkbox--plain .igx-checkbox__composite,
.list-sample ::ng-deep .igx-checkbox--plain .igx-checkbox__composite::after,
.list-sample ::ng-deep .igx-checkbox--plain .igx-checkbox__composite-mark,
.list-sample ::ng-deep .igx-checkbox--plain .igx-checkbox--checked .igx-checkbox__composite-mark,
.igx-checkbox--checked .list-sample ::ng-deep .igx-checkbox--plain .igx-checkbox__composite-mark {
  transition: none; }

.sample {
  display: -ms-flexbox;
  display: flex; }
  .sample .grid_wrapper {
    padding-left: 15px;
    padding-top: 15px;
    width: 75%; }
  .sample .list-sample {
    padding-top: 15px;
    width: 20%; }
    .sample .list-sample .completed {
      opacity: .7; }
    .sample .list-sample igx-list {
      height: 450px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }
    .sample .list-sample .empty-list h6 {
      padding: 15px; }
    .sample .list-sample .empty-list ul {
      margin-left: 15px;
      font-size: 20px;
      font-weight: 400; }
