.addSingerBtn.igx-button--raised{
    margin-bottom: 10px;
    background-color: lightgrey;
    color: black;
    &:hover {
        background-color:  rgba(0, 0, 0, 0.26)
    }
}

.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

::ng-deep {
    .activeRow {
        border: 2px solid #fc81b8;
        border-left: 3px solid #e41c77;
    }
    .toggle-section {
        width: 300px;
        height: 100px;
        background-color: white;
    }

}

