<igx-geographic-map #map
    width="100%"
    height="calc(100% - 60px)"
    zoomable="true" >
</igx-geographic-map>

<ng-template let-series="series" let-item="item" #template>
        <div>
            <span >
                City: {{item.city}}
            </span>
            <br/>
            <span>
                Country: {{item.country}}
            </span>
            <br/>
            <span>
                Population: {{item.population}} M
            </span>
        </div>
</ng-template>
