.puzzle_part_container {
    padding: 0px;
    width: 100px;
    height: 100px;
}

.puzzle_part {
    -moz-user-select: none;
    width: 99px;
    height: 99px;
    padding: 1px;
}

.puzzle_board_wrapper {
    margin: 20px;
}

.outside_container {
    display: flex;
    flex-flow: row;
    height: 100px;
}

.inside_container {
    width: 100px;
    height: 100px;
}