<div class="sample-column">
    <igx-navbar actionButtonIcon="menu" [isActionButtonVisible]="true">
        <div igxNavbarTitle>
            <div>Custom Title </div>
            <a href="https://www.infragistics.com/products/ignite-ui-angular" target="_blank">
                <img src="https://static.infragistics.com/marketing/Website/products/ignite-ui-landing/ignite-ui-logo.svg"
                     width="120px" height="50px" alt="" style="margin-left: 5px; margin-top: 5px;">
            </a>
        </div>

        <igx-icon>search</igx-icon>
        <igx-icon>favorite</igx-icon>
        <igx-icon>more_vert</igx-icon>
    </igx-navbar>
</div>
