@use '../../../../variables' as *;

.avatars-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.avatar-sample {
    display: flex;
    flex: 1 0 30%;
    width: 88px;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

$initials-avatar-theme: igx-avatar-theme(
    $background: #72da67,
    $color: #000000,
    $border-radius: 16px
);

$icon-avatar-theme: igx-avatar-theme(
    $background: #217346,
    $color: #ffffff
);

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
.initials{
    @include igx-avatar($initials-avatar-theme);
}

.icon{
    @include igx-avatar($icon-avatar-theme);
}
