<div class="sample avatar-styling-sample">
    <igx-list class="chat-list">
        <igx-list-item [isHeader]="true">Chats</igx-list-item>

        <igx-list-item>
            <div igxListThumbnail class="avatar-with-badge">
                <igx-avatar
                    class="size-small"
                    shape="circle"
                    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-07.png"
                    alt="A profile photo of Nick Evans.">
                </igx-avatar>
                <igx-badge class="avatar-status avatar-check-badge size-small" outlined shape="rounded" type="success">
                    <igx-icon name="check" collection="material"></igx-icon>
                </igx-badge>
            </div>
            <h2 igxListLineTitle>Nick Evans</h2>
            <span igxListLineSubTitle>Hi Samira, thanks for the ...</span>
            <span igxListAction>9:44 AM</span>
        </igx-list-item>

        <igx-list-item>
            <div igxListThumbnail class="avatar-with-badge">
                <igx-avatar class="avatar-muted size-small" shape="circle" initials="JF" alt="James Ford initials."></igx-avatar>
                <igx-badge class="avatar-status avatar-check-badge avatar-muted-badge size-small" outlined shape="rounded" type="primary">
                    <igx-icon name="x" collection="material"></igx-icon>
                </igx-badge>
            </div>
            <h2 igxListLineTitle>James Ford</h2>
            <span igxListLineSubTitle>I'll send the text and im ...</span>
            <span igxListAction>8:30 AM</span>
        </igx-list-item>

        <igx-list-item>
            <div igxListThumbnail class="avatar-with-badge">
                <igx-avatar
                    class="size-small"
                    shape="circle"
                    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-08.png"
                    alt="A profile photo of Kate Porter.">
                </igx-avatar>
                <igx-badge class="avatar-status avatar-check-badge size-small" outlined shape="rounded" type="danger">
                    <igx-icon name="horizontalRule" collection="material"></igx-icon>
                </igx-badge>
            </div>
            <h2 igxListLineTitle>Kate Porter</h2>
            <span igxListLineSubTitle>That's great!</span>
            <span igxListAction>Yesterday</span>
        </igx-list-item>

        <igx-list-item [isHeader]="true">Meetings</igx-list-item>

        <igx-list-item>
            <igx-avatar igxListThumbnail class="size-small" shape="circle" alt="Calendar icon.">
                <igx-icon name="calendar" collection="material"></igx-icon>
            </igx-avatar>
            <h2 igxListLineTitle>Weekly Meeting</h2>
            <span igxListLineSubTitle>https://www.infra.com</span>
            <span igxListAction>Monday</span>
        </igx-list-item>

        <igx-list-item>
            <igx-avatar igxListThumbnail class="size-small" shape="circle" alt="Group icon.">
                <igx-icon name="group" collection="material"></igx-icon>
            </igx-avatar>
            <h2 igxListLineTitle>Design Discussion</h2>
            <span igxListLineSubTitle>https://www.infra.com</span>
            <span igxListAction>11:30 AM</span>
        </igx-list-item>
    </igx-list>
</div>
