@use "igniteui-theming/sass/typography" as *;

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

igx-list {
    --ig-list-border-width: #{rem(1px)};
    --ig-list-border-color: var(--ig-gray-300);
    --ig-list-header-text-color: var(--ig-gray-900);

    max-width: rem(328px);
}

igx-avatar {
    --ig-avatar-background: var(--ig-gray-300);
    --ig-avatar-color: var(--ig-gray-300-contrast);
}

.avatar-with-badge {
    position: relative;
}

igx-badge {
    --ig-size: var(--ig-size-small);
}

.avatar-status {
    position: absolute;
    inset-inline-end: rem(-4px);
    inset-block-end: rem(-4px);
}

.avatar-muted-badge {
    --ig-badge-background-color: var(--ig-gray-300);
    --ig-badge-icon-color: var(--ig-gray-300-contrast);
}
