<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data | async" width="100%" height="540px" [paging]="true" [perPage]="perPage" [paginationTemplate]="customPager">
        <igx-column field="ID"></igx-column>
        <igx-column field="ProductName"></igx-column>
        <igx-column field="QuantityPerUnit"></igx-column>
        <igx-column field="SupplierName"></igx-column>
        <igx-column field="UnitsInStock"></igx-column>
        <igx-column field="Rating"></igx-column>
    </igx-grid>
    <ng-template #customPager let-api>
        <div class="igx-grid__footer">
            <div id="numberPager" class="igx-paginator" style="justify-content: center;">
                <button [disabled]="firstPage" (click)="previousPage()" igxButton="flat">
                    PREV
                </button>
                <span *ngIf="shouldShowFirstPage" (click)="paginate(0)">
                    <a class="pageNavLinks" [routerLink]=''>{{1}}</a> <span class="pageNavLinks">...</span>
                </span>
                <span *ngFor="let item of pages" (click)="paginate(item)">
                    <a class="pageNavLinks {{activePage(item)}}" [routerLink]=''>{{item + 1}}</a>
                </span>
                <span *ngIf="shouldShowLastPage" (click)="paginate(totalPages - 1)">
                    <span class="pageNavLinks">...</span> <a class="pageNavLinks" [routerLink]=''>{{ totalPages }}</a>
                </span>
                <button [disabled]="lastPage" (click)="nextPage()" igxButton="flat">
                    NEXT
                </button>
            </div>
        </div>
    </ng-template>
</div>