<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
<div class="wrapper">
    <div class="icon-sample">
        <igx-icon family="material-symbols" class="custom-icon">grade</igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon family="material-symbols" class="custom-icon">favorite</igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon family="material-symbols" class="custom-icon">&#xe73c;</igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon family="material-symbols" class="custom-icon">diamond</igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon family="material-symbols" class="custom-icon">auto_awesome</igx-icon>
    </div>
</div>