igx-chips-area {
    margin-bottom: 10px;
    height: 50px;
    igx-chip {
        padding: 10px 0 10px 10px;
    }
}

.group-drop-area {
    padding: 0 10px 0 10px;
    margin: 10px;
    flex: 1 0 0%;
    font-size: 0.8rem;
    background-color:rgba(0, 0, 0, 0.08);
}
