@use '../../variables' as *;

:host ::ng-deep {
    .fin-dark-theme {
		.finjs-slider,
		.sample-toolbar,
		.group-drop-area {
			color: contrast-color(null, 'gray', 900);
		}

		.group-drop-area {
			background: color(null, 'surface', 500);
		}
	}

	.finjs-icons {
		display: flex;
		align-items: center;

		igx-icon {
			font-size: rem(16px);
			width: rem(16px);
			height: rem(16px);
			margin-inline-start: rem(4px);
		}
	}

	.igx-grid__grouparea {
		max-height: 100%;
		height: auto;
	}

	.changePos,
	.changeNeg,
	.strongPositive,
	.strongNegative {
		color: contrast-color(null, 'gray', 900) !important;

		.igx-grid__td-text {
			padding: rem(2px) rem(5px);
		}
	}

	.positive {
		color: color(null, 'success', 500) !important;
	}

	.positive.strongPositive {
		.igx-grid__td-text {
			color: color(null, 'success', 500, .8) !important;
		}
	}

	.negative {
		color: color(null, 'error', 500)  !important;
	}

	.negative.strongNegative {
		.igx-grid__td-text {
			color: color(null, 'error', 500, .8)  !important;
		}
	}

	// NORMAL
	// positive
	.changePos {
		.igx-grid__td-text {
			background: color(null, 'success', 500, .5);
		}
	}

	.changePos1 {
		background: color(null, 'success', 500, .5);
		color: contrast-color(null, 'gray', 900);
	}

	.changePos2 {
		.igx-grid__td-text {
			border-inline-end: rem(4px) solid color(null, 'success', 500, .5);
			padding-inline-end: rem(4px);
		}
	}

	// negative
	.changeNeg {
		.igx-grid__td-text {
			background: color(null, 'error', 500, .5);
		}
	}

	.changeNeg1 {
		background: color(null, 'error', 500, .5);
		color: contrast-color(null, 'gray', 900);
	}

	.changeNeg2 {
		.igx-grid__td-text {
			border-right: rem(4px) solid color(null, 'error', 500, .5);
			padding-right: rem(4px);
		}
	}

	// selected
	.igx-grid__td--selected.changePos1,
	.igx-grid__td--selected.changePos2,
	.igx-grid__td--selected.changePos {
		background-color: color(null, 'success', 500, .5) !important;

		.finjs-icons,
		.igx-grid__td-text {
			color: contrast-color(null, 'gray', 900);
		}
	}

	.igx-grid__td--selected.changeNeg1,
	.igx-grid__td--selected.changeNeg2,
	.igx-grid__td--selected.changeNeg {
		background-color: color(null, 'error', 500, .5) !important;

		.finjs-icons,
		.igx-grid__td-text {
			color: contrast-color(null, 'gray', 900);
		}
	}

	// STRONG
	// positive
	.strongPositive {
		.igx-grid__td-text {
			background: color(null, 'success', 500);
		}
	}

	.strongPositive1 {
		background: color(null, 'success', 500);
		color: contrast-color(null, 'gray', 900);
	}

	.strongPositive2 {
		.igx-grid__td-text {
			border-right: rem(4px) solid color(null, 'success', 500);
			padding-right: rem(4px);
		}
	}

	// negative
	.strongNegative {
		.igx-grid__td-text {
			background: color(null, 'error', 500);
			color: contrast-color(null, 'gray', 900);
		}
	}

	.strongNegative1 {
		background: color(null, 'error', 500);
		color: contrast-color(null, 'gray', 900);
	}

	.strongNegative2 {
		.igx-grid__td-text {
			border-right: rem(4px) solid color(null, 'error', 500);
			padding-right: rem(4px);
		}
	}

	// selected
	.igx-grid__td--selected.strongPositive1,
	.igx-grid__td--selected.strongPositive2,
	.igx-grid__td--selected.strongPositive {
		background-color: color(null, 'success', 500) !important;

		.finjs-icons,
		.igx-grid__td-text {
			color: contrast-color(null, 'gray', 900);
		}
	}

	.igx-grid__td--selected.strongNegative1,
	.igx-grid__td--selected.strongNegative2,
	.igx-grid__td--selected.strongNegative {
		background-color: color(null, 'error', 500) !important;

		.finjs-icons,
		.igx-grid__td-text {
			color: contrast-color(null, 'gray', 900);
		}
	}

	.controls-holder {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		padding-block-end: rem(4px);
	}

	.switches {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1 0 0%;
		padding-right: rem(20px);
		font-size: .9rem;
	}

	.control-item {
		padding-right: rem(20px);
	}

	.igx-slider,
	.igx-slider--disabled {
		height: rem(24px);
	}

	.finjs-slider {
		width: 40%;
		min-width: rem(145px);
	}

	.finjs-play-controls {
		width: 45%;
		min-width: rem(620px);
		margin-block-start: rem(10px);
	}

	.sample-toolbar {
		height: rem(20px);
		font-size: .8rem;
		line-height: rem(20px);
		margin-block-start: rem(11px);
	}

	.igx-grid__outlet span,
	.igx-excel-filter span,
	.igx-excel-filter header,
	.igx-excel-filter input {
		font-size: 0.8125rem;
	}

	.igx-button--icon {
		width: 2rem;
		height: 2rem;
	}
}

.grid__wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;
	padding: rem(15px);
	display: flex;
	flex-direction: column;
}

igx-grid {
	flex: 1 0 0%;
}

.controls-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
}

.grid-toolbar-title {
	max-width: none;
}
