@use '../../../variables' as *;
@import 'igniteui-dockmanager/dist/collection/styles/igc.themes.css';

:host {
    width: 100%;
    overflow-y: auto;
}


.grid-chart-contextmenu-wrapper {
    width: 100%;
    height: 95%;
}

.dock-m-position {
    width: 100vw;
    height: 100vh;
    padding: 0 rem(8px) rem(8px) rem(8px);
    --igc-pane-content-background: #{contrast-color($color: 'gray', $variant: 900)};

    igx-grid {
        --ig-size: var(--ig-size-small);
    }
}

.chart-types-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-left: rem(15px);
}

.selection-area {

    @include scrollbar(scrollbar-theme($sb-size: 6px));
    width: 100%;
    height: 90%;
    display: inline-flex;
    position: absolute;

    .chart-area {
        margin-top: 1rem;
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
    }


}

$custom-badge-theme: badge-theme(
    $border-color: contrast-color($color: 'gray', $variant: 900),
    $icon-color: contrast-color($color: 'gray', $variant: 900),
    $text-color: contrast-color($color: 'gray', $variant: 50),
    $background-color: contrast-color($color: 'gray', $variant: 500),
    $border-radius: 50%
);
:host ::ng-deep {
    .selected {
        igx-badge {
            & {
                @include tokens($custom-badge-theme);
            }

            position: absolute;
            bottom: 0;
            left: 18px;
        }
    }

    .wrapper {
        padding: 3px;

        .types-section {

            display: flex;
            flex-wrap: wrap;

            button {
                margin-right: 4px;
                margin-top: 4px;
            }
        }

        .igx-divider {
            margin-top: 5px !important;
            background: contrast-color($color: 'gray', $variant: 50) !important;
            width: 95% !important;
        }
    }

    .grid-chart-contextmenu-wrapper {
        igx-grid {
            @include scrollbar(scrollbar-theme($sb-size: 16px));
        }
    }

    .analytics-btn {
        @include tokens(
            contained-button-theme(
                $foreground: contrast-color($color: 'gray', $variant: 900),
                $background: color($color: 'success', $variant: 500, $opacity: .8),
                $hover-background: color($color: 'success'),
                $hover-foreground: contrast-color($color: 'gray', $variant: 900),
                $focus-background: color($color: 'success'),
                $focus-foreground: contrast-color($color: 'gray', $variant: 900),
                $border-radius: 0
            )
        );
        z-index: 9;
        position: absolute;
    }

    .ig-chart-legend-items-list {
        height: 20%;
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .igx-grid__grouparea {
        max-height: 100%;
        height: auto;
    }

    igx-tab-content {
        @include scrollbar(scrollbar-theme($sb-size: 10px));
    }

}

.selected, .disabled {
    pointer-events: none;
}

.disabled {
    opacity: .5;
}


.disableButton {
    opacity: .3;
    pointer-events: none;
}

$font-family: 'Titillium Web', 'Roboto', 'Helvetica Neue', sans-serif;

.tab-options-wrapper {
    @include scrollbar(scrollbar-theme($sb-size: 6px));

    display: flex;
    flex-flow: column;
    max-height: rem(110px);
    max-width: rem(310px);
    margin: -0.8rem -1.5rem -0.8rem -1.5rem;

    .header {
        font-size: 0.7rem;
        display: flex;
        width: 100%;
        padding: 0 0.2rem 0 0.4rem;
        font-weight: 650;
        border-bottom: 1px solid color($color: 'gray', $variant: 100);
        align-self: center;
        font-family: $font-family;
        letter-spacing: 1.7px;
        color: contrast-color($color: 'gray', $variant: 50);
    }
}

.tab-option {
    padding: .5rem 0.4rem 0.4rem 0.4rem;
    height: rem(110px);
    width: rem(310px);
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-content: center;
}

.action {
    cursor: pointer;

    opacity: .62;

    &.selected--condition {
        pointer-events: none;
        opacity: 1;
    }

    .name {
        font-size: .9rem;
        font-weight: 500;
        text-align: center;
        font-family: $font-family;
    }
}

.clear-action {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    justify-content: center;
}


.btn {

    &.condition {
        padding-right: 16px;
    }

    display: inline-flex;
    flex-flow: column;
    align-items: center;

    img {
        pointer-events: none;
    }

    span {
        pointer-events: none;
    }
}
