@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-theme: grid-theme(
  $sorted-header-icon-color: #dc38e8,
  $sortable-header-icon-hover-color: #5d1461
);

:host {
  @include tokens($custom-theme);
}
