<div class="content-wrap">
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
      <ng-template igxDrawer>
        <nav>
          <span igxDrawerItem [isHeader]="true">Components</span>

          <span
              igxDrawerItem
              igxRipple
              *ngFor="let item of componentLinks"
              routerLink="{{item.link}}"
              routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive"
          >
          {{item.name}}
          </span>
        </nav>
      </ng-template>
    </igx-nav-drawer>

    <main>
        <span igxButton="icon" igxToggleAction="navigation">
            <igx-icon fontSet="material">menu</igx-icon>
        </span>
    </main>
  </div>
