.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 300px;
}

.chart {
    flex: 1;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 20px;
}

.chartToolbar {
    clear: both;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 5px;
}

.chartLegend {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    float: right;
    padding-left: 50px;
}

.chartTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 10px;
    background: rgb(223, 223, 223);
    color: rgb(129, 129, 129);
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
 }

.tooltipGrid {
    display: table;
    width: 170px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.tooltipRow { display: table-row; }

.tooltipCountry {
    display: table-cell;
    text-align: left;
    color: rgb(116, 114, 114);
    font-weight: 600;
}

.tooltipTitle {
    display: table-cell;
    padding-left: 5px;
    width: 120px;
}

.tooltipValue {
    display: table-cell;
    padding-left: 0px;
    font-weight: 600;
    color: rgb(116, 114, 114);
}

.tooltipBadge {
    display: table-cell;
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-right: 3px;
  }