@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$custom-theme: igx-progress-circular-theme(
    $base-circle-color: lightgray,
    $progress-circle-color: rgb(32, 192, 17)

);

:host {
    @include igx-css-vars($custom-theme);
}
