@use "igniteui-angular/theming" as *;

$custom-theme: progress-circular-theme(
  $fill-color-default: rgb(32, 192, 17),
  $diameter: 50px,
);

igx-circular-bar {
    @include tokens($custom-theme);
    margin: 20px;
}
