@import '~igniteui-angular/lib/core/styles/themes/index';

.item {
    margin-bottom: 5px;
}

.item-line1 {
    font-size: 14px;
    color: gray;
}

.item-line2 {
    font-size: 12px;
    color: darkgray;
}

igx-tab-panel {
    padding: 10px;
}

/*BASIC THEMING*/

$dark-bottom-nav: igx-bottom-nav-theme(
    $background: #292826,
    $active-item-color: #F4D45C
);

/*ENHANCED APPROACHES*/

// $yellow-color: #F4D45C;
// $black-color: #292826;
// $dark-palette: igx-palette($primary: $black-color, $secondary: $yellow-color);

// $dark-bottom-nav: igx-bottom-nav-theme(
//     $background: igx-color($dark-palette, "primary", 400),
//     $active-item-color: igx-color($dark-palette, "secondary", 400)
// );

/*SCHEMAS*/

// $dark-bottom-nav-schema: extend($_dark-bottom-nav,
//     (
//         background: (
//             igx-color: ("primary", 400)
//         ),
//         active-item-color: (
//             igx-color: ("secondary", 400)
//         )
//     )
// );

// $custom-dark-schema: extend($dark-schema,(
//     igx-bottom-nav: $dark-bottom-nav-schema
// ));

// $dark-bottom-nav: igx-bottom-nav-theme(
//   $palette: $dark-palette,
//   $schema: $custom-dark-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    @include igx-css-vars($dark-bottom-nav);
}
