@use "layout.scss";
@use "igniteui-angular/theming" as *;

$dark-bottom-nav: bottom-nav-theme(
  $background: #011627,
  $icon-selected-color: #F4D45C
);

:host {
  @include tokens($dark-bottom-nav);
}
