@use "layout.scss";
@use "igniteui-angular/theming" as *;

$summaries-background: #eef4e5;

$custom-theme: grid-summary-theme(
    $background-color: $summaries-background,
    $label-color: #486821,
    $result-color: #172505,
    $pinned-border-width: 2px,
    $pinned-border-style: dotted,
    $pinned-border-color: #172505,
);

:host {
    ::ng-deep {
        igx-grid-summary-row {
            --summaries-patch-background: #{$summaries-background};

            @include tokens($custom-theme);
        }
    }
}
