@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-theme: grid-summary-theme(
  $background-color: #e0f3ff,
  $label-color: #e41c77,
  $result-color: black,
  $pinned-border-width: 2px,
  $pinned-border-style: dotted,
  $pinned-border-color: #e41c77
);

:host {
    @include tokens($custom-theme);
}
