<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <h4 class="sample-title">Alert</h4>
            <p class="sample-description">Notification for completed action.</p>
            <button igxButton="raised" igxButtonColor="white" igxButtonBackground="#EC6F74" igxRipple="white" (click)="alert.open()">Show Dialog</button>
            <igx-dialog #alert title="Notification" message="Your email has been sent successfully!" leftButtonLabel="OK" (onLeftButtonSelect)="alert.close()">
            </igx-dialog>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Standard Dialog</h4>
            <p class="sample-description">Confirmation dialog.</p>
            <button igxButton="raised" igxButtonColor="white" igxButtonBackground="#EC6F74" igxRipple="white" (click)="dialog.open()">Show Dialog</button>
            <igx-dialog #dialog title="Confirmation" leftButtonLabel="Cancel" (onLeftButtonSelect)="dialog.close()" rightButtonLabel="OK"
                rightButtonRipple="#4CAF50" (onRightButtonSelect)="onDialogOKSelected($event)" message="Are you sure you want to delete the Annual_Report_2016.pdf and Annual_Report_2017.pdf files?">
            </igx-dialog>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Custom Dialog</h4>
            <p class="sample-description">Sign in form.</p>
            <button igxButton="raised" igxButtonColor="white" igxButtonBackground="#EC6F74" igRipple="white" (click)="form.open()">Show Dialog</button>

            <igx-dialog #form title="Sign In" leftButtonLabel="Cancel" (onLeftButtonSelect)="form.close()" (onRightButtonSelect)="signIn($event)" rightButtonLabel="Sign In"
                rightButtonBackgroundColor="#0375be" rightButtonColor="#ffffff" closeOnOutsideSelect="true">
                <div class="igx-form-group">
                    <input type="text" igxInput />
                    <label igxLabel>Username</label>
                </div>
                <div class="igx-form-group">
                    <input type="password" igxInput />
                    <label igxLabel>Password</label>
                </div>
            </igx-dialog>
        </article>
    </section>
</div>
