<div class="badge-overview">
  <div class="badge-example avatar-example">
    <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
    <igx-badge icon="check" outlined type="success"></igx-badge>
  </div>
  <div class="badge-example icon-example">
    <igx-icon>mail</igx-icon>
    <igx-badge value="2" outlined type="error"></igx-badge>
  </div>
  <div class="badge-example event-example">
    <igx-chip>Events</igx-chip>
    <igx-badge value="new" outlined type="info"></igx-badge>
  </div>
  <div class="badge-example notification-example">
    <igx-icon>notifications</igx-icon>
    <igx-badge dot outlined type="error"></igx-badge>
  </div>
</div>
