<igx-avatar
    class="avatar-anchor"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png"
    shape="circle"
    size="small">
</igx-avatar>
<igx-badge icon="check" outlined type="success"></igx-badge>

<igx-icon class="mail-anchor">mail</igx-icon>
<igx-badge value="2" outlined type="error"></igx-badge>

<igx-chip class="events-anchor">Events</igx-chip>
<igx-badge value="new" outlined type="info"></igx-badge>

<igx-icon class="notifications-anchor">notifications</igx-icon>
<igx-badge dot outlined type="error"></igx-badge>
