igx-avatar {
    --size: 40px;
}

igx-icon {
    color: var(--ig-gray-700);
    font-size: 1.5rem;
}

igx-badge {
    --ig-size: var(--ig-size-small);
    position: absolute;
    inset-block-start: -0.15rem;
    inset-inline-end: -0.15rem;
}

.avatar-example igx-badge {
    inset-block-start: auto;
    inset-block-end: -0.15rem;
    inset-inline-end: -0.15rem;
}

.event-example igx-chip {
    --ig-size: var(--ig-size-large);
}

.event-example igx-badge {
    inset-block-start: 0;
    inset-inline-end: -0.8rem;
}

.icon-example igx-badge {
    inset-block-start: 0;
    inset-inline-end: 0;
}

.notification-example igx-badge {
    inset-block-start: 0.5rem;
    inset-inline-end: 0.5rem;
}

.event-example {
    min-width: auto;
}

.badge-overview {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    min-height: 7rem;
}

.badge-example {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    min-height: 2.5rem;
}

.icon-example,
.notification-example {
    width: 2.5rem;
    height: 2.5rem;
}
