@use "layout.scss";
@use "igniteui-angular/theming" as *;

$dark-grid-column-moving-theme: grid-theme(
  $ghost-header-text-color: #f4d45c,
  $ghost-header-background: #575757,
  $ghost-header-icon-color: #f4bb5c
);

:host {
  @include tokens($dark-grid-column-moving-theme);
}
