:host {
  contain: content;
  --ig-size: 2;
}

.grid-lite-wrapper {
  width: 100%;
  height: 100%;
}

.grid-section {
  position: relative;
}

igc-circular-progress {
  visibility: hidden;
  --diameter: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.in-operation {
  visibility: visible;
  pointer-events: all;
  user-select: contain;
}

p {
  border: 1px solid #ccc;
  padding: 1rem;
  min-height: 1rem;
  font-size: 0.75rem;
}

igc-grid-lite {
  min-height: 65vh;
}
