:host {
  contain: content;
  --ig-size: 2;
}

.grid-lite-wrapper {
  width: 100%;
  height: 100%;
}

.grid-section {
  position: relative;
}

p {
  border: 1px solid #ccc;
  padding: 1rem;
  min-height: 1rem;
  font-size: 0.75rem;
}

igx-grid-lite {
  min-height: 65vh;
}
