@use '../../../variables' as *;

:host ::ng-deep {
    .igx-switch__label {
        line-height: 1rem;
    }
}

.tlb {
    display: flex;
    max-width: 734px;
}

.grid-wrapper {
    width: 50wh;
    height: 364px;
    margin-top: 7px;
}
