.sample-holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  height: 100%; }

.my-expansion-panel {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
  border: 1px solid rgba(171, 171, 171, 0.3); }

.example-content {
  padding: 16px; }
