<div >
    <div >
        <igx-radial-gauge #radialGauge
            tickStartExtent=0.45
            tickEndExtent=0.575
            tickStrokeThickness=2
            tickBrush="DodgerBlue"

            minorTickCount=4
            minorTickEndExtent=0.5
            minorTickStartExtent=0.575
            minorTickStrokeThickness=1
            minorTickBrush="DarkViolet"

            height="300px" width="300px"
            minimumValue=0 value=50
            maximumValue=80 interval=10 >
        </igx-radial-gauge>
    </div>
</div>
