:host ::ng-deep{
    .igx-carousel__inner {
        width: 100%;
        text-align: center; 
    }
    
    igx-carousel igx-icon.igx-icon{
        color: #e41c77;
    }
    
    span.progress-linear__value {
        display: none;
    }
    
    ul.igx-carousel__indicators {
        display: none;
    }
    
    .slide-wrapper{

        width: 80%;
        margin: 10px auto;
        img {
            width:80%;
            height: 80%; 
        }
    }
    
    .igx-slide img{
        object-fit: fill;
    }
}

.carousel-wrapper{
    height: 100%;
    width: 90%;
    margin: 20px auto;
}

.action-wrapper{
    height: 40px;
    width: 70%;
    display: flex;
    align-items: baseline
}

.carousel-animation-wrapper{
    height: 100%;
    margin: 16px auto;
    display: flex;
    flex-flow:column;
}