<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid [data]="data" [autoGenerate]="false" width="100%" height="600px"
        [paging]="true" [perPage]="10" [allowFiltering]="true">
        <igx-column field="ProductName" header="Product Name" width="15%" [dataType]="'string'" [sortable]="true"
            [hasSummary]="true" [editable]="true" [resizable]="true">
        </igx-column>
        <igx-column field="UnitsInStock" header="Units In Stock" width="13%" dataType="number" [sortable]="true"
            [hasSummary]="true" [editable]="true" [resizable]="true">
        </igx-column>
        <igx-column field="OrderDate" header="Order Date" width="15%" [dataType]="'date'" [sortable]="true"
            [hasSummary]="true" [editable]="true" [resizable]="true">
            <ng-template igxCell let-cell="cell" let-val>
                {{val | date:'dd/MM/yyyy'}}
            </ng-template>
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" width="13%" [dataType]="'boolean'" [sortable]="true"
            [hasSummary]="true" [editable]="true">
        </igx-column>
        <igx-column field="ReorderLevel" header="Reorder Level" dataType="number" width="13%" [sortable]="true"
            [hasSummary]="true" [editable]="true" [filterable]="false">
            <ng-template igxCellEditor let-cell="cell">
                <input type="number" [(ngModel)]="cell.editValue" class="reorderLevelInput" />
            </ng-template>
        </igx-column>
    </igx-grid>
</div>