@use '../../../variables' as *;

$white: #fff;
$blue: #4567bb;

$color-palette: palette($primary: $white, $secondary: $blue);

$grid-theme: grid-theme(
    $cell-editing-background: $blue,
    $cell-active-border-color: $blue,
    $cell-edited-value-color: $white,
    $edit-mode-color: color($color-palette, "secondary", 200)
);

$checkbox-theme: checkbox-theme(
    $empty-color: color($color-palette, "secondary", 200),
    $fill-color: $white,
    $tick-color: $blue
);

$datepicker-theme: calendar-theme(
    $date-selected-text-color: $white,
    $date-selected-background: $blue
);

$input-theme: input-group-theme(
    $palette: $color-palette,
    $filled-text-color: $white,
    $focused-text-color: $white,
    $idle-text-color: $white,
    $idle-bottom-line-color: $white,
    $focused-bottom-line-color: $white,
    $interim-bottom-line-color: $white,
    $hover-bottom-line-color: $white,
    $box-background: $blue
);

:host {
    ::ng-deep {
        .igx-grid__tbody{
            @include css-vars($input-theme);
        }
        @include css-vars($checkbox-theme);
        @include css-vars($datepicker-theme);
        @include css-vars($grid-theme);
    }
}

.grid__wrapper {
    padding: 16px;
}

.igx-grid {
    margin-top: 10px;
}

.reorderLevelInput {
    color: black;
    width: 100%;
}
