<h5 class="sample-title">Different time formats</h5>
<div class="container">
    <div class="group">
        <label for="timepicker1">h:m tt</label>
        <igx-time-picker id="timepicker1" format="h:m tt" mode="dropdown" [(ngModel)]="date"></igx-time-picker>
    </div>
    <div class="group">
        <label for="timepicker2">HH:mm</label>
        <igx-time-picker id="timepicker2" format="HH:mm" mode="dropdown" [(ngModel)]="date"></igx-time-picker>
    </div>
    <div class="group">
        <label for="timepicker3">hh tt</label>
        <igx-time-picker id="timepicker3" format="hh tt" mode="dropdown" [(ngModel)]="date"></igx-time-picker>
    </div>
</div>