<div class="chip-state-item">
    <span>Idle</span>
    <igx-chip removable>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
    </igx-chip>
</div>
<div class="chip-state-item">
    <span>Hover</span>
    <igx-chip class="state-hover" removable>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
    </igx-chip>
</div>
<div class="chip-state-item">
    <span>Focused</span>
    <igx-chip class="state-focused" removable>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
    </igx-chip>
</div>
<div class="chip-state-item">
    <span>Selected</span>
    <igx-chip removable selectable [selected]="true">
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
    </igx-chip>
</div>
