@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$custom-column-hiding-theme: igx-column-hiding-theme(
    $background-color: steelblue,
    $title-color: gold
);
$custom-button: igx-button-theme($flat-text-color: gold, $disabled-color: black);

/*ENHANCED APPROACHES*/

// $yellow-color: gold;
// $blue-color: steelblue;
// $custom-palette: igx-palette($primary: $blue-color, $secondary: $yellow-color);

/*PALETTE and IGX-COLOR*/

// $custom-column-hiding-theme: igx-column-hiding-theme(
//     $palette: $custom-palette,
//     $title-color: igx-color($custom-palette, "secondary", 400),
//     $background-color: igx-color($custom-palette, "primary", 200)
// );
// $custom-button: igx-button-theme(
//     $palette: $custom-palette,
//     $flat-text-color: igx-color($custom-palette, "secondary", 400),
//     $disabled-color: black
// );

/*SCHEMAS*/

// $custom-column-hiding-schema: extend($_dark-column-hiding,
//     (
//         title-color:(
//             igx-color: ("secondary", 400)
//         ),
//         background-color:(
//             igx-color: ("primary", 200)
//         )
//     )
// );
// 
// $custom-button-schema: extend($_dark-button,
//     (           
//         flat-text-color:(
//             igx-color:("secondary", 500)
//         ),
//         disabled-color:(
//             igx-color:("primary", 700)
//         )
//     )
// );
// 
// $custom-dark-schema: extend($dark-schema,(
//     igx-column-hiding: $custom-column-hiding-schema,
//     igx-button: $custom-button-schema
// ));
// $custom-column-hiding-theme: igx-column-hiding-theme(
//   $palette: $custom-palette,
//   $schema: $custom-dark-schema
// );
// $custom-button: igx-button-theme(
//   $palette: $custom-palette,
//   $schema: $custom-dark-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    ::ng-deep {
        @include igx-column-hiding($custom-column-hiding-theme);
        .igx-column-hiding {
            @include igx-button($custom-button);
        }
    }
}

.grid__wrapper {
    margin: 10px;
}
