@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$dark-column-hiding-theme: igx-column-hiding-theme(
    $background-color: $bg,
    $title-color: $yellow
);

$dark-button-theme: igx-button-theme(
    $outlined-background: $yellow,
    $outlined-text-color: $bg,
    $outlined-hover-background: $gray,
    $outlined-hover-text-color: $yellow,
    $outlined-focus-background: $yellow,
    $flat-text-color: $yellow,
    $flat-hover-background: $gray,
    $flat-hover-text-color: $yellow,
    $flat-focus-background: $yellow,
    $disabled-color: $light-gray
);

$dark-input-group: igx-input-group-theme(
    $filled-text-color: $yellow,
    $focused-text-color: $yellow,
    $idle-text-color: $yellow,
    $idle-bottom-line-color: $yellow,
    $interim-bottom-line-color: $yellow,
    $hover-bottom-line-color: $yellow,
    $focused-secondary-color: $gray,
    $box-background: $bg
);

$dark-checkbox-theme: igx-checkbox-theme(
    $label-color: $yellow,
    $empty-color: $yellow,
    $fill-color: $yellow,
    $tick-color: $bg
);

$dark-ripple-theme: igx-ripple-theme(
    $color: $gray
);

/*ENHANCED APPROACHES*/

// $yellow-color: gold;
// $blue-color: steelblue;
// $custom-palette: igx-palette($primary: $blue-color, $secondary: $yellow-color);

/*PALETTE and IGX-COLOR*/

// $custom-column-hiding-theme: igx-column-hiding-theme(
//     $palette: $custom-palette,
//     $title-color: igx-color($custom-palette, "secondary", 400),
//     $background-color: igx-color($custom-palette, "primary", 200)
// );
// $custom-button: igx-button-theme(
//     $palette: $custom-palette,
//     $flat-text-color: igx-color($custom-palette, "secondary", 400),
//     $disabled-color: black
// );

/*SCHEMAS*/

// $custom-column-hiding-schema: extend($_dark-column-hiding,
//     (
//         title-color:(
//             igx-color: ("secondary", 400)
//         ),
//         background-color:(
//             igx-color: ("primary", 200)
//         )
//     )
// );
// 
// $custom-button-schema: extend($_dark-button,
//     (           
//         flat-text-color:(
//             igx-color:("secondary", 500)
//         ),
//         disabled-color:(
//             igx-color:("primary", 700)
//         )
//     )
// );
// 
// $custom-dark-schema: extend($dark-schema,(
//     igx-column-hiding: $custom-column-hiding-schema,
//     igx-button: $custom-button-schema
// ));
// $custom-column-hiding-theme: igx-column-hiding-theme(
//   $palette: $custom-palette,
//   $schema: $custom-dark-schema
// );
// $custom-button: igx-button-theme(
//   $palette: $custom-palette,
//   $schema: $custom-dark-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    ::ng-deep {
        @include igx-column-hiding($dark-column-hiding-theme);

        igx-column-hiding, igx-grid-toolbar {
            @include igx-checkbox($dark-checkbox-theme);
            @include igx-input-group($dark-input-group);
            @include igx-button($dark-button-theme);
            @include igx-ripple($dark-ripple-theme);
        }
    }
}

.grid__wrapper {
    margin: 10px;
}
