@use '../../../variables' as *;

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$dark-column-actions-theme: column-actions-theme(
    $background-color: $bg,
    $title-color: $yellow
);

$dark-button-theme: button-theme(
    $background: $yellow,
    $foreground: $bg,
    $hover-background: $gray,
    $hover-foreground: $yellow,
    $focus-background: $yellow,
    $disabled-foreground: $light-gray
);

$dark-input-group: input-group-theme(
    $filled-text-color: $yellow,
    $focused-text-color: $yellow,
    $idle-text-color: $yellow,
    $idle-bottom-line-color: $yellow,
    $interim-bottom-line-color: $yellow,
    $hover-bottom-line-color: $yellow,
    $focused-secondary-color: $gray,
    $box-background: $bg
);

$dark-checkbox-theme: checkbox-theme(
    $label-color: $yellow,
    $empty-color: $yellow,
    $fill-color: $yellow,
    $tick-color: $bg
);

$dark-ripple-theme: ripple-theme(
    $color: $gray
);

:host {
    ::ng-deep {
	    @include css-vars($dark-column-actions-theme);

	    igx-column-actions, igx-grid-toolbar {
            @include css-vars($dark-button-theme);
		    @include css-vars($dark-input-group);
		    @include css-vars($dark-checkbox-theme);
		    @include css-vars($dark-ripple-theme);
	    }
    }
}

.grid__wrapper {
    margin: 10px;
}
