@use "layout.scss";
@use "igniteui-angular/theming" as *;

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$dark-column-actions-theme: column-actions-theme(
  $background-color: $bg,
  $title-color: $yellow
);

$dark-button-theme: flat-button-theme(
  $background: $yellow,
  $foreground: $bg,
  $hover-background: $gray,
  $hover-foreground: $yellow,
  $focus-background: $yellow,
  $disabled-foreground: $light-gray
);

$dark-input-group: input-group-theme(
  $filled-text-color: $yellow,
  $focused-text-color: $yellow,
  $idle-text-color: $yellow,
  $idle-bottom-line-color: $yellow,
  $hover-bottom-line-color: $yellow,
  $focused-secondary-color: $gray,
  $box-background: $bg
);

$dark-checkbox-theme: checkbox-theme(
  $label-color: $yellow,
  $empty-color: $yellow,
  $fill-color: $yellow,
  $tick-color: $bg
);

$dark-radio-theme: radio-theme(
  $label-color: $yellow,
  $empty-color: $yellow,
  $fill-color: $yellow
);

$dark-ripple-theme: ripple-theme(
  $color: $gray
);

:host {
    @include tokens($dark-column-actions-theme);
    @include tokens($dark-radio-theme);
    @include tokens($dark-button-theme);
    @include tokens($dark-checkbox-theme);
    @include tokens($dark-input-group);
    @include tokens($dark-ripple-theme);
}
