<div class="sample-content">

  <!--Avatars w/ badges-->
  <section class="sample-column">
    <article class="avatars-wrapper">

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar roundShape="true"></igx-avatar>
          <igx-badge class="badge-1" type="success" position="top-left" icon="check"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar size="medium"></igx-avatar>
          <igx-badge class="badge-2" type="info" position="top-right" value="8"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar size="large" roundShape="true"></igx-avatar>
          <igx-badge class="badge-3" type="error" position="bottom-left" icon="close"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar bgColor="rgba(0, 0, 0, 0.26)" color="rgba(0, 0, 0, 0.74)" initials="AZ"></igx-avatar>
          <igx-badge class="badge-4" type="warning" position="bottom-right" icon="info_outline"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar initials="AZ" bgColor="rgba(0, 0, 0, 0.26)" color="rgba(0, 0, 0, 0.74)" roundShape="true" size="medium"></igx-avatar>
          <igx-badge class="badge-5" type="success" position="top-left" value="72"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar initials="AZ" bgColor="rgba(0, 0, 0, 0.26)" color="rgba(0, 0, 0, 0.74)" size="large"></igx-avatar>
          <igx-badge class="badge-6" type="info" position="bottom-right" icon="star"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar src="https://randomuser.me/api/portraits/men/1.jpg" roundShape="true"></igx-avatar>
          <igx-badge class="badge-7" type="error" position="top-left" value="212"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar src="https://randomuser.me/api/portraits/men/6.jpg" size="medium"></igx-avatar>
          <igx-badge class="badge-8" type="warning" position="top-right" icon="perm_identity"></igx-badge>
        </div>
      </div>

      <div class="avatar-sample">
        <div class="avatar-sample__inner">
          <igx-avatar src="https://randomuser.me/api/portraits/men/14.jpg" roundShape="true" size="large"></igx-avatar>
          <igx-badge class="badge-9" type="success" position="bottom-left" icon="chat_bubble"></igx-badge>
        </div>
      </div>
    </article>
  </section>
</div>
