<div class="grid__wrapper">
    <div class="controls-holder">
        <div class="control-item">
            <ul>
                <li>Leave the page by navigating to the <a [routerLink]="['../grid-about']"><strong>ABOUT</strong></a> page or hitting the Save button, the current grid state will be stored in the localStorage object.</li>
                <li>To restore the previous grid state, use the <strong><igx-icon class="desc-icon">refresh</igx-icon> Restore Grid State</strong> button.</li>
                <li>To restore a specific feature state, click on the corresponding restore action button.</li>
                <li>Use the switch buttons to stop saving state for the corresponding feature.</li>
            </ul>
        </div>
        <p class="category-title">Features to include in the grid state persistance:</p>
        <div class="switches">
            <!-- <div class="control-item">
                <igx-switch [(ngModel)]="options.rowSelection" (change)="onChange($event, 'rowSelection')">Row Selection</igx-switch>
            </div> -->
            <div class="control-item">
                <igx-switch [(ngModel)]="options.cellSelection" (change)="onChange($event, 'cellSelection')">Cell Selection</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="options.filtering" (change)="onChange($event, 'filtering')">Filtering</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="options.advancedFiltering" (change)="onChange($event, 'advancedFiltering')">Advanced Filtering</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="options.paging" (change)="onChange($event, 'paging')">Paging</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="options.sorting" (change)="onChange($event, 'sorting')">Sorting</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="options.groupBy" (change)="onChange($event, 'groupBy')">Grouping</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="options.columns" (change)="onChange($event, 'columns')">Columns</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="serialize">Serialize</igx-switch>
            </div>
        </div>
        <p class="category-title">Restore actions:</p>
        <div class="switches">
            <div class="control-item">
                <button igxButton="raised" (click)="restoreGridState()"><igx-icon class="btn-icon">refresh</igx-icon> Restore Grid State</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restoreColumns()"><igx-icon class="btn-icon">refresh</igx-icon> Columns</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restoreFiltering()"><igx-icon class="btn-icon">refresh</igx-icon> Filtering</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restoreAdvancedFiltering()"><igx-icon class="btn-icon">refresh</igx-icon> Adv Filtering</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restoreSorting()"><igx-icon class="btn-icon">refresh</igx-icon> Sorting</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restoreGroupby()"><igx-icon class="btn-icon">refresh</igx-icon> Grouping</button>
            </div>
            <!-- <div class="control-item">
                <button igxButton="raised" (click)="restoreRowSelection()">Row Selection</button>
            </div> -->
            <div class="control-item">
                <button igxButton="raised" (click)="restoreCellSelection()"><igx-icon class="btn-icon">refresh</igx-icon> Cell Selection</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restorePaging()"><igx-icon class="btn-icon">refresh</igx-icon> Paging</button>
            </div>
        </div>
        <p class="category-title">Grid state actions:</p>
        <div class="switches" style="justify-content: flex-start;">
            <div class="control-item" style="margin-right: 10px;">
                <button igxButton="raised" (click)="saveGridState()"><igx-icon class="btn-icon">save</igx-icon> Save Current State</button>
            </div>
            <div class="control-item" style="margin-right: 10px;">
                <button igxButton="raised" (click)="resetGridState()"><igx-icon class="btn-icon">clear</igx-icon> Reset Current State</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restoreGridState()"><igx-icon class="btn-icon">delete</igx-icon> Delete State from localStorage</button>
            </div>
        </div>
    </div>

    <igx-grid igxPreventDocumentScroll [id]="gridId" #grid1 [igxGridState]="options"
        width="1150px" height="550px" [autoGenerate]="false"
        [data]="localData"
        [primaryKey]="'EmployeeID'" 
        [rowEditable]="false"
        [allowFiltering]="true" [allowAdvancedFiltering]="true" [filterMode]="'excelStyleFilter'"
        [paging]="true"
        [showToolbar]="true"
        [columnPinning]="true"
        [columnHiding]="true"
        [displayDensity]="'cosy'"
        [cellSelection]="'multiple'"
        [rowSelection]="'none'">
        <igx-column *ngFor="let c of columns"
            [sortable]="c.sortable"
            [movable]="c.movable"
            [editable]="true"
            [hasSummary]="c.hasSummary"
            [filterable]="c.filterable"
            [groupable]="c.groupable"
            [field]="c.field"
            [header]="c.header"
            [dataType]="c.dataType"
            [pinned]="c.pinned"
            [hidden]="c.hidden">
        </igx-column>
        </igx-grid>
</div>