<div class="grid__wrapper">
    <div class="controls-holder">
        <div class="switches">
            <button igxButton="raised" (click)="restoreGridState()"><igx-icon class="btn-icon">restore</igx-icon>Restore</button>
            <button igxButton="raised" (click)="saveGridState()"><igx-icon class="btn-icon">save</igx-icon>Save</button>
            <button igxButton="raised" (click)="resetGridState()"><igx-icon class="btn-icon">clear</igx-icon>Reset</button>
            <button igxButton="raised" [routerLink]="['../grid-about']"><igx-icon class="btn-icon">forward</igx-icon>Leave</button>
            <button igxButton="raised" (click)="clearStorage()"><igx-icon class="btn-icon">delete</igx-icon>Clear</button>
            <button igxButton="raised" (click)="reloadPage()"><igx-icon class="btn-icon">refresh</igx-icon>Reload</button>
        </div>

        <div class="switches">
            <ul>
                <li>Clicking the SAVE button or leaving the page <a [routerLink]="['../grid-about']"><strong>here</strong></a> will save grid state to localStorage.</li>
                <li>Use the control buttons to SAVE / RESTORE / RESET / DELETE / grid state or LEAVE the page.</li>
                <li>Select/Deselect checkboxes to control saving / restoring feature state.</li>
            </ul>
        </div>

        <div class="switches">
            <div class="control-item">
                <igx-checkbox [checked]="true" (change)="onChange($event, 'toggleAll')">Select All</igx-checkbox>
            </div>
            <div class="control-item" *ngFor="let f of features">
                <igx-checkbox (change)="onChange($event, f.key)" [checked]="options[f.key]">
                    {{ f.shortName }}
                </igx-checkbox>
            </div>
        </div>
    </div>

    <igx-grid igxPreventDocumentScroll [id]="gridId" #grid1 [igxGridState]="options"
        width="1150px" height="550px" [autoGenerate]="false"
        [data]="localData"
        [primaryKey]="'EmployeeID'" 
        [rowEditable]="false"
        [allowFiltering]="true" [allowAdvancedFiltering]="true" [filterMode]="'excelStyleFilter'"
        [paging]="true"
        [showToolbar]="true"
        [columnPinning]="true"
        [columnHiding]="true"
        [displayDensity]="'cosy'"
        [cellSelection]="'multiple'"
        [rowSelection]="'none'">
        <igx-column *ngFor="let c of columns"
            [sortable]="c.sortable"
            [movable]="c.movable"
            [editable]="true"
            [hasSummary]="c.hasSummary"
            [filterable]="c.filterable"
            [groupable]="c.groupable"
            [field]="c.field"
            [header]="c.header"
            [dataType]="c.dataType"
            [pinned]="c.pinned"
            [hidden]="c.hidden">
        </igx-column>
    </igx-grid>
</div>