::ng-deep {
    .igx-drop-down__item {
        padding: 0;
    }
    .igx-drop-down__list {
        min-width: 88px;
    }
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: auto;
    min-width: 700px;
    max-width: 1000px;
    height: 350px;
    position: relative;
}

.my-action-strip {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}