<div class="sample-wrapper">
  <label>Choose a fruit and submit your choice:</label>
  <form [formGroup]="fruitsForm" (ngSubmit)="onSubmit()">
    <igx-input-group>
      <input igxInput name="fullName" type="text" formControlName="fullName" required />
    </igx-input-group>

    <igx-radio-group name="fruitsRadioGroup" formControlName="favoriteFruit">
      @for (fruit of fruits; track fruit) {
        <igx-radio class="radio-sample" value="{{fruit}}">
          {{fruit}}
        </igx-radio>
      }
    </igx-radio-group>
    <button igxButton="contained" igxRipple type="submit">Submit</button>
    <button igxButton="contained" igxRipple type="button" (click)="onReset()">Reset</button>
  </form>
  @if (newModel) {
    <label igxLabel>{{newModel.fullName}} favourite fruit is {{newModel.favFruit}}.</label>
  }
</div>
