igx-switch {
  margin-top: 24px; }

[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

:host {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  padding: 16px;
  /* Using Theme Overrides to provide IE 11 support.
     * NOTE: Theming using this approach will greatly increase the size
     * of the output CSS. If you do not plan to target IE 11,
     * delete this section and use the `igx-css-vars` mixin as shown above.
    **/ }
  :host ::ng-deep {
    --igx-switch-border-radius-track: 7px;
    --igx-switch-border-radius-thumb: 10px;
    --igx-switch-border-radius-ripple: 24px;
    --igx-switch-resting-elevation: 2;
    --igx-switch-hover-elevation: 3;
    --igx-switch-disabled-elevation: 1;
    --igx-switch-variant: material;
    --igx-switch-border-color: transparent;
    --igx-switch-border-hover-color: transparent;
    --igx-switch-border-disabled-color: transparent;
    --igx-switch-border-on-color: transparent;
    --igx-switch-border-on-hover-color: transparent;
    --igx-switch-thumb-on-color: #ECAA53;
    --igx-switch-track-on-color: #F0CB9C;
    --igx-switch-thumb-off-color: #eaeaea;
    --igx-switch-track-disabled-color: rgba(0, 0, 0, 0.12);
    --igx-switch-track-off-color: rgba(0, 0, 0, 0.54);
    --igx-switch-thumb-disabled-color: #bcbcbc;
    --igx-switch-label-color: rgba(0, 0, 0, 0.87);
    --igx-switch-label-disabled-color: rgba(0, 0, 0, 0.26);
    --igx-switch-resting-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
    --igx-switch-hover-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.26), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.08);
    --igx-switch-disabled-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.08); }

@-webkit-keyframes scale-in-out {
  50% {
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%; } }

@keyframes scale-in-out {
  50% {
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%; } }
  :host ::ng-deep .igx-switch {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-align: center;
        align-items: center; }
  :host ::ng-deep .igx-switch__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    clip: rect(0, 0, 0, 0);
    outline: 0;
    pointer-events: none;
    overflow: hidden;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  :host ::ng-deep .igx-switch--disabled {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    cursor: initial; }
  :host ::ng-deep .igx-switch__composite {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    width: 2.25rem;
    height: 0.875rem;
    border: 1px solid var(--igx-switch-border-color);
    border-radius: var(--igx-switch-border-radius-track);
    background: var(--igx-switch-track-off-color);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    :host ::ng-deep .igx-switch__composite:hover, :host ::ng-deep .igx-switch__composite:focus {
      border-color: var(--igx-switch-border-hover-color); }
  :host ::ng-deep .igx-switch--checked .igx-switch__composite, .igx-switch--checked :host ::ng-deep .igx-switch__composite {
    background: var(--igx-switch-track-on-color);
    border-color: var(--igx-switch-border-on-color); }
    :host ::ng-deep .igx-switch--checked .igx-switch__composite:hover, .igx-switch--checked :host ::ng-deep .igx-switch__composite:hover, :host ::ng-deep .igx-switch--checked .igx-switch__composite:focus, .igx-switch--checked :host ::ng-deep .igx-switch__composite:focus {
      border-color: var(--igx-switch-border-on-hover-color); }
  :host ::ng-deep .igx-switch--disabled .igx-switch__composite, .igx-switch--disabled :host ::ng-deep .igx-switch__composite {
    background: var(--igx-switch-track-disabled-color);
    border-color: var(--igx-switch-border-disabled-color); }
  :host ::ng-deep .igx-switch__composite-thumb {
    position: relative;
    display: block;
    width: 1.25rem;
    height: 20px;
    min-width: 1.25rem;
    border-radius: var(--igx-switch-border-radius-thumb);
    background: var(--igx-switch-thumb-off-color);
    box-shadow: var(--igx-switch-resting-shadow);
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transform: translateX(-0.0625rem);
        transform: translateX(-0.0625rem); }
    :host ::ng-deep .igx-switch__composite-thumb:hover {
      box-shadow: var(--igx-switch-hover-shadow); }
  :host ::ng-deep .igx-switch--checked .igx-switch__composite-thumb, .igx-switch--checked :host ::ng-deep .igx-switch__composite-thumb {
    background: var(--igx-switch-thumb-on-color);
    -ms-transform: translateX(0.9375rem);
        transform: translateX(0.9375rem); }
  :host ::ng-deep .igx-switch--disabled .igx-switch__composite-thumb, .igx-switch--disabled :host ::ng-deep .igx-switch__composite-thumb {
    background: var(--igx-switch-thumb-disabled-color);
    box-shadow: var(--igx-switch-disabled-shadow); }
  :host ::ng-deep .igx-switch__ripple {
    display: block;
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    width: 3em;
    height: 3em;
    overflow: hidden;
    pointer-events: none;
    -webkit-filter: opacity(1);
            filter: opacity(1);
    border-radius: var(--igx-switch-border-radius-ripple); }
    :host ::ng-deep .igx-switch__ripple {
      --igx-ripple-variant: material;
      --igx-ripple-color: var(--igx-switch-thumb-on-color); }
    :host ::ng-deep .igx-switch__ripple .igx-ripple__inner {
      display: block;
      position: absolute;
      border-radius: 50%;
      background: var(--igx-ripple-color);
      pointer-events: none;
      -ms-transform-origin: center;
          transform-origin: center;
      transform: translate3d(0, 0, 0) scale(0);
      will-change: opacity, transform;
      opacity: .5;
      margin: 0 !important;
      border: none !important; }
    :host ::ng-deep .igx-switch__ripple .igx-ripple {
      overflow: hidden; }
    :host ::ng-deep .igx-switch__ripple {
      --igx-ripple-variant: material;
      --igx-ripple-color: var(--igx-switch-thumb-on-color); }
  :host ::ng-deep .igx-switch--focused .igx-switch__ripple, .igx-switch--focused :host ::ng-deep .igx-switch__ripple {
    -webkit-animation: "scale-in-out" 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
            animation: "scale-in-out" 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    background: var(--igx-switch-track-off-color);
    transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: .12; }
  :host ::ng-deep .igx-switch--focused.igx-switch--checked .igx-switch__ripple, .igx-switch--focused.igx-switch--checked :host ::ng-deep .igx-switch__ripple {
    background: var(--igx-switch-thumb-on-color); }
  :host ::ng-deep .igx-switch__label, :host ::ng-deep .igx-switch__label--before {
    display: inline-block;
    color: var(--igx-switch-label-color);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    word-wrap: break-all; }
    :host ::ng-deep .igx-switch__label:empty, :host ::ng-deep .igx-switch__label--before:empty {
      margin: 0; }
  :host ::ng-deep .igx-switch__label--before:empty,
  :host ::ng-deep .igx-switch__label:empty {
    margin: 0; }
  :host ::ng-deep .igx-switch__label {
    margin-left: 0.5em; }
  :host ::ng-deep .igx-switch__label--before {
    -ms-flex-order: -1;
        order: -1;
    margin-right: 0.5em; }
  :host ::ng-deep .igx-switch--disabled .igx-switch__label, .igx-switch--disabled :host ::ng-deep .igx-switch__label, :host ::ng-deep .igx-switch--disabled .igx-switch__label--before, .igx-switch--disabled :host ::ng-deep .igx-switch__label--before {
    color: var(--igx-switch-label-disabled-color); }
  :host ::ng-deep .igx-switch:hover .igx-switch__ripple::after, .igx-switch:hover :host ::ng-deep .igx-switch__ripple::after, :host ::ng-deep .igx-switch:active .igx-switch__ripple::after, .igx-switch:active :host ::ng-deep .igx-switch__ripple::after, :host ::ng-deep .igx-switch--checked:hover .igx-switch__ripple::after, .igx-switch--checked:hover :host ::ng-deep .igx-switch__ripple::after, :host ::ng-deep .igx-switch--checked:active .igx-switch__ripple::after, .igx-switch--checked:active :host ::ng-deep .igx-switch__ripple::after {
    position: absolute;
    content: '';
    opacity: .06;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  :host ::ng-deep .igx-switch:hover .igx-switch__ripple::after, .igx-switch:hover :host ::ng-deep .igx-switch__ripple::after, :host ::ng-deep .igx-switch:active .igx-switch__ripple::after, .igx-switch:active :host ::ng-deep .igx-switch__ripple::after {
    background: var(--igx-switch-track-off-color); }
  :host ::ng-deep .igx-switch--checked:hover .igx-switch__ripple::after, .igx-switch--checked:hover :host ::ng-deep .igx-switch__ripple::after, :host ::ng-deep .igx-switch--checked:active .igx-switch__ripple::after, .igx-switch--checked:active :host ::ng-deep .igx-switch__ripple::after {
    background: var(--igx-switch-thumb-on-color); }
  :host ::ng-deep .igx-switch:active .igx-switch__ripple::after, .igx-switch:active :host ::ng-deep .igx-switch__ripple::after, :host ::ng-deep .igx-switch--checked:active .igx-switch__ripple::after, .igx-switch--checked:active :host ::ng-deep .igx-switch__ripple::after {
    opacity: .12; }
