.max-points-slider, .frequency-slider {
    width: 195px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 12px;
  }

.optimizeCheckbox{
    width: 130px;
    vertical-align: top;
    display:inline-block;
    margin-right: 12px;
}

.sample-container {
    width: 100%;
    height: 550px;
}
.sample-controls {
    margin-left: 10px;
    height: 50px;
    font: "16px 'Titillium Web', sans-serif"
}
igx-category-chart {
    max-width: 900px;
    width: 100%;
    height: calc(100% - 50px);
}
.label {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.checkbox{
    width: 100%;
    display: inline-block;
    margin: 25 auto;    
}

.fpslabel {
    display: inline-block;
    width: 65px;
}