.sample-vertical-box {
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.optimizeCheckbox{
    width: 130px;
    vertical-align: top;
    display:inline-block;
    margin-right: 12px;
}

.sample-container {
    height: 100%;
    min-width: 300px;
    overflow: hidden;
}

.sample-controls {
    margin-left: 10px;
    font: "16px 'Titillium Web', sans-serif"
}

.chart {
    width: 100%;
    height: calc(100% - 70px);
}

.slider {
    width: 165px;
}

igx-category-chart {
    min-width: 50px;
    width: 100%;
    height: 100%;
}

.checkbox {
    width: 100%;
}

.label {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.fpsLabel {
    width: 65px;
    display: block;
    text-align: center;
}
