<div class="switches">
    <igx-switch (change)='changePinningPosition()' style="padding-left: 20px"> Bottom Row Pinning toggle</igx-switch>
</div>

<div class="grid-container">
    <igx-tree-grid [paging]='true' [pinning]="pinningConfig" #treegrid [allowFiltering]='true' [data]="data" primaryKey="ID" foreignKey="ParentID"
    [width]="'900px'" [height]="'800px'"
   >
   <igx-column width='150px' [filterable]='false'>
        <ng-template igxCell let-cell="cell" let-val>
            <igx-icon class="pin-icon" fontSet="filtering-icons" name="{{cell.row.pinned ? 'unpin' : 'pin'}}" (mousedown)="togglePinning(cell.row, $event)">
            </igx-icon>
        </ng-template>
    </igx-column>
    <igx-column *ngFor="let c of columns" [field]="c.field" [dataType]="c.dataType" [header]="c.label"
        [width]="c.width" [sortable]="true" [filterable]="true" [hidden]="c.hidden"
        [minWidth]="c.minWidth" [maxWidth]="c.maxWidth">
    </igx-column>
</igx-tree-grid>
</div>


