<div class="url">
    <p class="url__title">Current URL Path:</p>
    <p class="url__path">http://localhost:4200{{path}}</p>
</div>

<router-outlet></router-outlet>

<!--NOTE: This component has been updated by Infragistics migration: v12.0.0
Please check your template whether all bindings/event handlers are correct.-->
<igx-bottom-nav #tabs1>
    <igx-bottom-nav-item
        routerLinkActive
        #rla1="routerLinkActive"
        [selected]="rla1.isActive"
        >
<igx-bottom-nav-header routerLink="tabbar-view1">
<span igxBottomNavHeaderLabel>Item 1</span>
</igx-bottom-nav-header></igx-bottom-nav-item>

    <igx-bottom-nav-item
    routerLinkActive
    #rla2="routerLinkActive"
    [selected]="rla2.isActive"
    >
<igx-bottom-nav-header routerLink="tabbar-view2">
<span igxBottomNavHeaderLabel>Item 2</span>
</igx-bottom-nav-header></igx-bottom-nav-item>

    <igx-bottom-nav-item
    routerLinkActive
    #rla3="routerLinkActive"
    [selected]="rla3.isActive"
    >
<igx-bottom-nav-header routerLink="tabbar-view3">
<span igxBottomNavHeaderLabel>Item 3</span>
</igx-bottom-nav-header></igx-bottom-nav-item>
</igx-bottom-nav>
