<div class="url">
    <p class="url__title">Current URL Path:</p>
    <p class="url__path">http://localhost:4200{{path}}</p>
</div>

<router-outlet></router-outlet>

<igx-bottom-nav #tabs1>
    <igx-tab
        label="Item 1"
        routerLink="tabbar-view1"
        routerLinkActive
        #rla1="routerLinkActive"
        [isSelected]="rla1.isActive"
        ></igx-tab>

    <igx-tab
    label="Item 2"
    routerLink="tabbar-view2"
    routerLinkActive
    #rla2="routerLinkActive"
    [isSelected]="rla2.isActive"
    ></igx-tab>

    <igx-tab
    label="Item 3"
    routerLink="tabbar-view3"
    routerLinkActive
    #rla3="routerLinkActive"
    [isSelected]="rla3.isActive"
    ></igx-tab>
</igx-bottom-nav>
