:host {
    .url {
        padding: 12px;

        &__title {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
        }

        &__path {
            margin: 0;
            padding: 0;
            font-size: 13px;
        }
    }

    ::ng-deep p {
        margin: 0;
        padding: 12px;
    }
}
