<div class="sample-content">

  <!--Round Avatars-->
  <section class="sample-column">
    <article class="avatars-wrapper">
      <div class="avatar-sample">
        <igx-avatar [roundShape]="'true'" color="#424242"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar [roundShape]="'true'" color="#424242" size="medium"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar [roundShape]="'true'" color="#424242" size="large"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar initials="AZ" [roundShape]="'true'" bgColor="#BDBDBD" color="#424242"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar initials="AZ" [roundShape]="'true'" bgColor="#BDBDBD" color="#424242" size="medium"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar initials="AZ" [roundShape]="'true'" bgColor="#BDBDBD" color="#424242" size="large"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar src="https://randomuser.me/api/portraits/men/15.jpg" roundShape="true"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar src="https://randomuser.me/api/portraits/men/1.jpg" roundShape="true" size="medium"></igx-avatar>
      </div>

      <div class="avatar-sample">
        <igx-avatar src="https://randomuser.me/api/portraits/men/3.jpg" roundShape="true" size="large"></igx-avatar>
      </div>
    </article>
  </section>
</div>