<igx-tabs>
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>Tab 1</span>
        </igx-tab-header>
        <igx-tab-content>Tab 1 Content</igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>Tab 2</span>
        </igx-tab-header>
        <igx-tab-content>Tab 2 Content</igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>Tab 3</span>
        </igx-tab-header>
        <igx-tab-content>Tab 3 Content</igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>Tab 4</span>
        </igx-tab-header>
        <igx-tab-content>Tab 4 Content</igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>Tab 5</span>
        </igx-tab-header>
        <igx-tab-content>Tab 5 Content</igx-tab-content>
    </igx-tab-item>
</igx-tabs>
