<div class="sample-wrapper">
    <section class="section">
        <article class="sample-column">
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="raised" igxRipple>Styled Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" [disabled]="'true'" igxRipple>Disabled</button>
                </div>
            </div>
        </article>
    </section>
</div>
