@for (item of range; let i = $index; track i) {
  <div [class]="'buttons-sample-' + (i + 1)">
    <div class="button-sample">
      <button igxButton="contained">Solid</button>
    </div>
    <div class="button-sample">
      <button igxButton="outlined">Outlined</button>
    </div>
    <div class="button-sample dashed">
      <button igxButton="outlined">Dashed</button>
    </div>
    <div class="button-sample filled">
      <button igxButton="flat">Filled</button>
    </div>
    <div class="button-sample text">
      <button igxButton="flat">Text</button>
    </div>
    <div class="button-sample link">
      <button igxButton="flat">Link</button>
    </div>
  </div>
}