@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-contained-theme: contained-button-theme(
  $background: #348ae0,
  $hover-background: #2e7bc8,
  $focus-visible-background: #2e7bc8
);

$custom-flat-theme: flat-button-theme(
  $foreground: var(--ig-error-500-contrast),
  $hover-foreground: var(--ig-error-800-contrast),
  $focus-visible-foreground: var(--ig-error-800-contrast),
  $background: var(--ig-error-500),
  $hover-background: var(--ig-error-800),
  $focus-visible-background: var(--ig-error-800)
);

$custom-outlined-theme: outlined-button-theme(
  $foreground: var(--ig-success-500),
  $hover-foreground: var(--ig-success-700),
  $focus-foreground: var(--ig-success-700),
  $border-color: var(--ig-success-500),
  $hover-border-color: var(--ig-success-700),
  $focus-border-color: var(--ig-success-700)
);

$custom-fab-theme: fab-button-theme(
  $background: #ffc506
);

.button-sample {
  @include css-vars($custom-contained-theme);
  @include css-vars($custom-flat-theme);
  @include css-vars($custom-outlined-theme);
  @include css-vars($custom-fab-theme);
};
 