@use "igniteui-angular/theming" as *;
@use "igniteui-angular/lib/core/styles/components/button/button-component" as button;
@use 'sass:map';

:host {
    ::ng-deep {
        @include button($flat: flat-button-theme($schema: $light-bootstrap-schema),
				$contained: contained-button-theme($schema: $light-bootstrap-schema),
				$outlined: outlined-button-theme($schema: $light-bootstrap-schema),
				$fab: fab-button-theme($schema: $light-bootstrap-schema));
        @include button.component();
    }
}

[class^=buttons-sample] {
    display: flex;
    margin: 1rem 0.5rem 0.5rem 1rem;
}

.button-sample {
    margin-right: 1rem;
}

.dashed button{
    border-style: dashed;
}
  
[class^="buttons-sample"]:hover .link button {
    background: none;
}

[igxbutton] {
	  --ig-button-font-weight: 400;
	  --ig-button-text-transform: capitalize;
    min-height: 1.5rem;
    outline: rem(1px) solid #fff;
}