@use "igniteui-angular/theming" as *;
@use "igniteui-angular/lib/core/styles/components/button/button-component" as button;
@use 'sass:map';

:host {
    ::ng-deep {
        @include button($flat: flat-button-theme($schema: $light-bootstrap-schema), $contained: contained-button-theme($schema: $light-bootstrap-schema), $outlined: outlined-button-theme($schema: $light-bootstrap-schema), $fab: fab-button-theme($schema: $light-bootstrap-schema));
        @include button.component();
    }
}

[class^=buttons-sample] {
    display: flex;
    margin: 16px 8px 8px 16px;
}

.button-sample {
    display: flex;
    margin-right: 16px;
}

.dashed button{
    border-style: dashed;
}

[class^="buttons-sample"]:hover .link button {
    background: none;
}

.button-sample .igx-button {
    font-weight: 400;
    height: 24px;
    min-height: 24px;
    text-transform: capitalize;
    outline: 1px solid #fff;
}