@use "igniteui-angular/theming" as *;
@use "igniteui-angular/lib/core/styles/components/button/button-component" as button;
@use 'sass:map';

:host {
    ::ng-deep {
        @include button($flat: flat-button-theme($schema: $light-bootstrap-schema),
        $contained: contained-button-theme($schema: $light-bootstrap-schema),
        $outlined: outlined-button-theme($schema: $light-bootstrap-schema),
        $fab: fab-button-theme($schema: $light-bootstrap-schema));
        @include button.component();
    }
}

[class^=buttons-sample] {
    display: flex;
    margin: 1rem rem(8px) rem(8px) 1rem;
}

.button-sample {
    margin-right: 1rem;
}

.dashed button{
    border-style: dashed;
}
  
[class^="buttons-sample"]:hover .link button {
    background: none;
}

[igxbutton] {
    --ig-button-font-weight: 400;
    --ig-button-text-transform: capitalize;
    min-height: rem(24px);
    outline: rem(1px) solid #fff;
}

.button-sample button {
    --ig-size: var(--ig-size-medium);
    padding: 0px rem(7px);
    min-width: unset;
}

.button-sample .igx-button {
    --ig-font-family: 'alibaba-sans', sans-serif;
}