<ng-template #header let-title="title">
    <header class="filter-group__header">
        <h1 class="ig-typography__overline">{{ title }}</h1>
    </header>
</ng-template>

<article
    #outlet
    class="outlet-group"
    [class.outlet-group--active]="
        positionStrategy === 'absolute' && absPositionStrategy === 'container'
    "
>
    <section
        #anchor
        class="outlet-group__anchor"
        [class.outlet-group__anchor--active]="positionStrategy === 'relative'"
    >
        <igx-icon>anchor</igx-icon>
    </section>

    <header>
        <h1 class="ig-typography__h5 outlet-group__title">
            Outlet Container
        </h1>
        <h2 class="ig-typography__body-1 outlet-group__subtitle">
            The card will be positioned relative to the container or the anchor
            based on the selected <em><b>type and strategy</b></em
            >.
        </h2>
    </header>
</article>

<article class="filter-group">
    <ng-container
        *ngTemplateOutlet="header; context: { title: 'Type' }"
    ></ng-container>

    <igx-buttongroup (selected)="selectPositionStrategy($event)">
        <button
            igxButton
            *ngFor="let item of positionStrategies; let i = index"
            [selected]="positionStrategy === positionStrategies[i]"
        >
            {{ item }}
        </button>
    </igx-buttongroup>
</article>

<article class="filter-group" *ngIf="positionStrategy === 'absolute'">
    <ng-container
        *ngTemplateOutlet="header; context: { title: 'Position' }"
    ></ng-container>

    <igx-buttongroup (selected)="selectAbsPosition($event)">
        <button
            igxButton
            *ngFor="let item of absPositions; let i = index"
            [selected]="absPosition === absPositions[i]"
        >
            {{ item }}
        </button>
    </igx-buttongroup>
</article>

<article class="fitler-group" *ngIf="positionStrategy === 'absolute'">
    <ng-container
        *ngTemplateOutlet="header; context: { title: 'Strategy' }"
    ></ng-container>

    <igx-buttongroup (selected)="selectAbsStrategy($event)">
        <button
            igxButton
            *ngFor="let item of absStrategies; let i = index"
            [selected]="absPositionStrategy === absStrategies[i]"
        >
            {{ item }}
        </button>
    </igx-buttongroup>
</article>

<article class="filter-group" *ngIf="positionStrategy === 'relative'">
    <ng-container
        *ngTemplateOutlet="header; context: { title: 'Position' }"
    ></ng-container>

    <igx-buttongroup (selected)="selectRelPosition($event)">
        <button
            igxButton
            *ngFor="let item of relPositions; let i = index"
            [selected]="relPosition === relPositions[i]"
        >
            {{ item }}
        </button>
    </igx-buttongroup>
</article>

<article class="filter-group" *ngIf="positionStrategy === 'relative'">
    <ng-container
        *ngTemplateOutlet="header; context: { title: 'Strategy' }"
    ></ng-container>

    <igx-buttongroup (selected)="selectRelStrategy($event)">
        <button
            igxButton
            *ngFor="let item of relStrategies; let i = index"
            [selected]="relPositionStrategy === relStrategies[i]"
        >
            {{ item }}
        </button>
    </igx-buttongroup>
</article>

<button #buttonElement igxButton="raised" (click)="showOverlay()">
    Apply Settings
</button>
