<div #container>
    <section class="presets-sample-content">
        <div class="sample-section">
            <div class="column settings">
                <div class="radio-group">
                    <p>Absolute Position Strategies</p>
                    <div>
                        <igx-radio *ngFor="let item of absStrategies" value="{{item}}" name="ps"
                            [(ngModel)]="absPositionStrategy" (ngModelChange)="onChange($event)">{{item}}</igx-radio>
                    </div>
                </div>
                <div class="radio-group">
                    <p>Absolute Position Settings</p>
                    <igx-radio *ngFor="let item of absPositions" value="{{item}}" name="pos" [(ngModel)]="absPosition"
                        (ngModelChange)="onChange($event)">{{item}}</igx-radio>
                </div>
            </div>
            <div class="column settings">
                <div class="radio-group">
                    <p>Relative Position Strategies</p>
                    <div>
                        <igx-radio *ngFor="let item of relStrategies" value="{{item}}" name="ps"
                            [(ngModel)]="relPositionStrategy" (ngModelChange)="onChange($event)">{{item}}</igx-radio>
                    </div>
                </div>
                <div class="radio-group">
                    <p>Relative Position Settings</p>
                    <igx-radio *ngFor="let item of relPositions" value="{{item}}" name="pos" [(ngModel)]="relPosition"
                        (ngModelChange)="onChange($event)">{{item}}</igx-radio>
                </div>
            </div>
            <div #outlet class="outlet">
                Outlet
            </div>
        </div>
        <div class="sample-dropdown">
        <button class="igx-button--raised" #buttonElement igxButton igxDrag (click)='showOverlay()'>
            Show Card
        </button>
    </div>
    </section>
<div>