<ng-template #header let-title="title">
  <header class="filter-group__header">
    <h1 class="ig-typography__overline">{{ title }}</h1>
  </header>
</ng-template>

<article
  #outlet
  class="outlet-group"
    [class.outlet-group--active]="
        positionStrategy === 'absolute' && absPositionStrategy === 'container'
    "
  >
  <section
    #anchor
    class="outlet-group__anchor"
    [class.outlet-group__anchor--active]="positionStrategy === 'relative'"
    >
    <igx-icon>anchor</igx-icon>
  </section>

  <header>
    <h1 class="ig-typography__h5 outlet-group__title">
      Outlet Container
    </h1>
    <h2 class="ig-typography__body-1 outlet-group__subtitle">
      The card will be positioned relative to the container or the anchor
      based on the selected <em><b>type and strategy</b></em
      >.
    </h2>
  </header>
</article>

<article class="filter-group">
  <ng-container
    *ngTemplateOutlet="header; context: { title: 'Type' }"
  ></ng-container>

  <igx-buttongroup (selected)="selectPositionStrategy($event)">
    @for (item of positionStrategies; track item; let i = $index) {
      <button
        igxButton
        [selected]="positionStrategy === positionStrategies[i]"
        >
        {{ item }}
      </button>
    }
  </igx-buttongroup>
</article>

@if (positionStrategy === 'absolute') {
  <article class="filter-group">
    <ng-container
      *ngTemplateOutlet="header; context: { title: 'Position' }"
    ></ng-container>
    <igx-buttongroup (selected)="selectAbsPosition($event)">
      @for (item of absPositions; track item; let i = $index) {
        <button
          igxButton
          [selected]="absPosition === absPositions[i]"
          >
          {{ item }}
        </button>
      }
    </igx-buttongroup>
  </article>
}

@if (positionStrategy === 'absolute') {
  <article class="fitler-group">
    <ng-container
      *ngTemplateOutlet="header; context: { title: 'Strategy' }"
    ></ng-container>
    <igx-buttongroup (selected)="selectAbsStrategy($event)">
      @for (item of absStrategies; track item; let i = $index) {
        <button
          igxButton
          [selected]="absPositionStrategy === absStrategies[i]"
          >
          {{ item }}
        </button>
      }
    </igx-buttongroup>
  </article>
}

@if (positionStrategy === 'relative') {
  <article class="filter-group">
    <ng-container
      *ngTemplateOutlet="header; context: { title: 'Position' }"
    ></ng-container>
    <igx-buttongroup (selected)="selectRelPosition($event)">
      @for (item of relPositions; track item; let i = $index) {
        <button
          igxButton
          [selected]="relPosition === relPositions[i]"
          >
          {{ item }}
        </button>
      }
    </igx-buttongroup>
  </article>
}

@if (positionStrategy === 'relative') {
  <article class="filter-group">
    <ng-container
      *ngTemplateOutlet="header; context: { title: 'Strategy' }"
    ></ng-container>
    <igx-buttongroup (selected)="selectRelStrategy($event)">
      @for (item of relStrategies; track item; let i = $index) {
        <button
          igxButton
          [selected]="relPositionStrategy === relStrategies[i]"
          >
          {{ item }}
        </button>
      }
    </igx-buttongroup>
  </article>
}

<button #buttonElement igxButton="contained" (click)="showOverlay()">
  Apply Settings
</button>
