<div class="sample">
  <div class="sample__header">
    <div class="sample__header-title">
      <igx-select
        (selectionChanging)="handleSelection($event)"
        type="box"
        [value]="selectedCategory"
        >
        <label igxLabel>Select category</label>
        @for (option of categories; track option.category) {
          <igx-select-item
            [value]="option.category"
            >
            {{ option.text }}
          </igx-select-item>
        }
      </igx-select>
    </div>
    <igx-input-group class="sample__header-search" type="search">
      <input #input igxInput placeholder="Search by icon name or keyword" (input)="onSearchInput(input.value)" />
      <igx-prefix>
        <igx-icon>search</igx-icon>
      </igx-prefix>
      @if (input.value.length > 0) {
        <igx-suffix
          (click)="input.value = ''; clearSearch()"
          >
          <igx-icon>clear</igx-icon>
        </igx-suffix>
      }
    </igx-input-group>
  </div>
  <div class="sample__body">
    @if (filteredResults$ | async; as fResults) {
      @for (group of fResults; track trackByCategory($index, group)) {
        <article class="sample__body-inner">
          <header class="sample__body-title">
            {{ group.category }}
          </header>
          <section class="sample__body-section">
            <div class="sample__grid">
              @for (icon of group.icons; track trackByIcon($index, icon)) {
                <div
                  class="sample__grid-item"
                  (mouseenter)="onIconMouseEnter(icon)"
                  (mouseleave)="onIconMouseLeave()"
                  >
                  <button
                    [value]="icon.name"
                    [title]="'Copy &quot;' + icon.name + '&quot; to clipboard'"
                    (click)="copyValue($event, icon.name)"
                    class="sample__grid-item-clipboard"
                    >
                    <igx-icon>content_copy</igx-icon>
                  </button>
                  <div class="sample__grid-item-content">
                    <igx-icon
                      class="sample__grid-icon"
                      family="imx-icons"
                      [name]="icon.name">
                    </igx-icon>
                    <span
                      class="sample__grid-icon-name"
                      [title]="icon.name">
                      {{ icon.name }}
                    </span>
                  </div>
                  @if (hoveredIcon === icon) {
                    <button
                      (click)="downloadFile(icon)"
                      class="sample__grid-item-download"
                      igxButton="contained"
                      igxRipple>
                      <igx-icon>arrow_downward</igx-icon>
                      <span>SVG</span>
                    </button>
                  }
                </div>
              }
              </div>
            </section>
          </article>
        }
        <div class="sample__body-empty">
          <span>
            No results
            {{selectedCategory !== 'all' && fResults.length !== -1 ? ' in category: ' : 'found' }}
            @if (selectedCategory !== 'all' && fResults.length !== -1) {
              <strong>{{ selectedCategory }}</strong>
            }
          </span>
          @if (selectedCategory !== 'all' && fResults.length !== -1) {
            <button igxButton (click)="resetFilter()">
              Reset the category filter
            </button>
          }
        </div>
      }
    </div>
  </div>
