<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [height]="'530px'" [width]="'100%'"
        (onSelection)='calculateSummary()'
        (onRangeSelection)='calculateSummary()'>
        <igx-column [field]="'ProductID'"></igx-column>
        <igx-column [field]="'ProductName'"></igx-column>
        <igx-column [field]="'UnitPrice'" [dataType]="'number'" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'UnitsInStock'" [dataType]="'number'"></igx-column>
        <igx-column [field]="'Discontinued'" [dataType]="'boolean'">
            <ng-template igxCell let-cell="cell" let-val>
                <img *ngIf="val" src="https://www.infragistics.com/angular-demos/assets/images/grid/active.png" title="Continued" alt="Continued" />
                <img *ngIf="!val" src="https://www.infragistics.com/angular-demos/assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
            </ng-template>
        </igx-column>
        <igx-column [field]="'OrderDate'" [dataType]="'date'"></igx-column>
        <igx-grid-footer>
            <div class="custom-summaries">
                <div *ngFor="let summary of selectionSummaries" class="summaries-data-wrapper" [ngClass]="grid1.displayDensity">
                    <span class="igx-grid-summary__label">{{ summary.label }}</span>
                    <span class="igx-grid-summary__result">{{ format(summary.summaryResult) }}</span>
                </div>
            </div>
        </igx-grid-footer>
    </igx-grid>
</div>