@use "layout.scss";
@use "igniteui-angular/theming" as *;

$background: #19171b;
$foreground: #eeece1;
$accent: #ffcd0f;

$grid-theme: grid-theme(
	$background: $background,
	$foreground: $foreground,
	$accent-color: $accent,
);

$grid-toolbar-theme: grid-toolbar-theme(
	$background: #170237,
	$border-color: $accent,
	$title-text-color: #f6d8d8,
	$item-hover-background: rgb(246 216 216 / 0.3),
);

:host ::ng-deep {
	igx-hierarchical-grid {
		@include tokens($grid-theme);
	}
	
	igx-grid-toolbar {
		@include tokens($grid-toolbar-theme);
	}
}
