@use "layout.scss";
@use "igniteui-angular/theming" as *;

$dark-button-theme: outlined-button-theme(
  $background: #ffcd0f,
  $foreground: #292826,
  $hover-background: #404040,
  $hover-foreground: #ffcd0f
);

$dark-grid-toolbar-theme: grid-toolbar-theme(
  $background-color: #292826,
  $title-text-color: #ffcd0f
);

:host {
    @include tokens($dark-grid-toolbar-theme);

    .igx-grid-toolbar__actions {
        @include tokens($dark-button-theme);

        .igx-button--outlined {
            margin-left: 0.5rem;
            border: none;
        }
    }
}
