@use "layout.scss";
@use "igniteui-angular/theming" as *;

$background: #292826;
$accent: #ffcd0f;

$dark-button-theme: outlined-button-theme(
    $foreground: $accent,
    $hover-background: $accent,
);

$dark-grid-toolbar-theme: grid-toolbar-theme(
    $background-color: $background,
    $title-text-color: $accent,
);

:host ::ng-deep {
    igx-grid-toolbar {
        @include tokens($dark-grid-toolbar-theme);

        [igxButton="outlined"] {
            @include tokens($dark-button-theme);
        }
    }
}
