<div class="sample__wrapper">
    <div class="controls-wrapper">
        <igx-input-group>
            <label igxLabel for="height">Summary Row Height</label>
            <input igxInput id="height" name="height" type="number" [(ngModel)]="summaryHeight">
        </igx-input-group>
        <igx-switch [(ngModel)]="hasSummary">Toggle Summaries</igx-switch>
        <igx-buttongroup [values]="sizes" (selected)="selectSize($event)"></igx-buttongroup>
    </div>

    <igx-tree-grid [igxPreventDocumentScroll]="true" #treeGrid [data]="data" cellSelection="single" primaryKey="ID"
        foreignKey="ParentID" height="520px" width="100%" [summaryRowHeight]="summaryHeight">
        <igx-column field="Name"></igx-column>
        <igx-column field="Age" dataType="number" width="15%" [hasSummary]="hasSummary">
            <ng-template igxSummary let-summaryResults>
                <div class="summary-temp">
                    <span><strong>{{ summaryResults[0].label }}</strong><span>{{ summaryResults[0].summaryResult }}</span></span>
                    <span><strong>{{ summaryResults[1].label }}</strong><span>{{ summaryResults[1].summaryResult }}</span></span>
                    <span><strong>{{ summaryResults[2].label }}</strong><span>{{ summaryResults[2].summaryResult }}</span></span>
                    <span><strong>{{ summaryResults[3].label }}</strong><span>{{ summaryResults[3].summaryResult }}</span></span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Title" [hasSummary]="hasSummary" [summaries]="ptoSummary"></igx-column>
        <igx-column field="HireDate" [dataType]="'date'"></igx-column>
        <igx-column field="OnPTO" width="15%" [dataType]="'boolean'" [editable]="true" [hasSummary]="hasSummary">
        </igx-column>
    </igx-tree-grid>
</div>
