[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin: 16px 0; }

.icon-sample {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 20%;
      flex: 1 0 20%;
  width: 44px;
  height: 44px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

:host {
  /* Using Theme Overrides to provide IE 11 support.
     * NOTE: Theming using this approach will greatly increase the size
     * of the output CSS. If you do not plan to target IE 11,
     * delete this section and use the `igx-css-vars` mixin as shown above.
    **/ }
  :host .igx-icon:hover {
    color: #0a415c; }
  :host ::ng-deep {
    --igx-icon-color: #1481b8;
    --igx-icon-size: 1.5rem;
    --igx-icon-disabled-color: #494949; }
  :host ::ng-deep .igx-icon, :host ::ng-deep .igx-icon--inactive {
    width: var(--igx-icon-size);
    height: var(--igx-icon-size);
    font-size: var(--igx-icon-size);
    color: var(--igx-icon-color); }
    :host ::ng-deep .igx-icon svg, :host ::ng-deep .igx-icon--inactive svg {
      width: inherit;
      height: inherit;
      fill: currentColor; }
      :host ::ng-deep .igx-icon svg use, :host ::ng-deep .igx-icon--inactive svg use {
        pointer-events: none; }
  :host ::ng-deep .igx-icon--inactive {
    color: var(--igx-icon-disabled-color) !important;
    opacity: .54; }
