<div >
    <div >
        <igx-radial-gauge #radialGauge
            backingShape="Fitted"
            backingBrush="#fcfcfc"
            backingOutline="DodgerBlue"
            backingOversweep=5
            backingCornerRadius=10
            backingStrokeThickness=5
            backingOuterExtent=0.8
            backingInnerExtent=0.15

            scaleStartAngle=135
            scaleEndAngle=45
            scaleBrush="#dddddd"

            height="300px" width="300px"
            minimumValue=0 value=50
            maximumValue=80 interval=10 >
        </igx-radial-gauge>
    </div>
</div>
