<div class="buttons-sample">
  <div class="button-sample">
    <button igxButton="flat" class="!light-flat-button ![--foreground:#7B9E89]">Flat Button</button>
  </div>
  <div class="button-sample">
    <button igxButton="contained" class="!light-contained-button ![--background:#7B9E89]">Contained Button</button>
  </div>
  <div class="button-sample">
    <button igxButton="outlined" class="!light-outlined-button ![--foreground:#7B9E89]">Outlined Button</button>
  </div>
  <div class="button-sample">
    <button igxButton="fab" class="!light-fab-button ![--background:#7B9E89]">Fab Button</button>
  </div>
</div>
