<div class="buttons-sample">
  <div class="button-sample">
    <button igxButton="flat" class="!material-flat-button-color-[#7B9E89]">Flat Button</button>
  </div>
  <div class="button-sample">
    <button igxButton="contained" class="!material-contained-button-color-[#7B9E89] ![--active-background:#4F6A5A]">Contained Button</button>
  </div>
  <div class="button-sample">
    <button igxButton="outlined" class="!material-outlined-button-color-[#7B9E89]">Outlined Button</button>
  </div>
  <div class="button-sample">
    <button igxButton="fab" class="!material-fab-button-color-[#7B9E89]">Fab Button</button>
  </div>
</div>
