<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [autoGenerate]="false" [showToolbar]="true" [columnHiding]="true" height="850px" width="100%" [allowFiltering]="true" [filterMode]="'excelStyleFilter'">
        <ng-template igxExcelStyleSorting>Template area [Sorting]</ng-template>
        <ng-template igxExcelStyleHiding>Template area [Hiding]</ng-template>
        <ng-template igxExcelStyleMoving>Template area [Moving]</ng-template>
        <ng-template igxExcelStylePinning>Template area [Pinning]</ng-template>
        <ng-template igxExcelStyleSelecting>Template area [Selecting]</ng-template>
        <igx-column field="ProductName" header="Product Name" [sortable]="true" [movable]="true" [dataType]="'string'">
        </igx-column>
        <igx-column field="QuantityPerUnit" header="Quantity Per Unit" [sortable]="true" [movable]="true" [dataType]="'string'">
        </igx-column>
        <igx-column field="UnitPrice" header="Unit Price"  dataType="number">
            <ng-template igxCell let-cell="cell" let-val let-row>
                {{+val | currency}}
            </ng-template>
        </igx-column>
        <igx-column field="OrderDate" header="Order Date" [dataType]="'date'" [formatter]="formatDate">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'">
            <ng-template igxCell let-cell="cell" let-val>
                <img *ngIf="val" src="assets/images/grid/active.png" title="Continued" alt="Continued" />
                <img *ngIf="!val" src="assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
            </ng-template>
        </igx-column>
    </igx-grid>

</div>
