@use '../../../variables' as *;

$my-light-gray: #e3e3e3;

$my-banner-palette: $purple-palette;

$custom-grid: grid-theme(
    $palette: $purple-palette
);


.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

$banner-theme: banner-theme(
    $banner-background: $my-light-gray,
    $banner-message-color: color($my-banner-palette, "secondary", 600)
);

$button-theme: button-theme(
  $palette: $purple-palette
);

$custom-checkbox: checkbox-theme(
  $palette: $my-banner-palette
);

.custom-buttons {
    @include css-vars($button-theme);
  }

:host ::ng-deep {
	@include css-vars($custom-checkbox);
	@include css-vars($custom-grid);
	@include css-vars($banner-theme);
}
