@use '../../../variables' as *;

.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

$banner-theme: banner-theme(
    $banner-background: #e3e3e3,
    $banner-message-color: color($purple-palette, "secondary", 600)
);

:host {
    @include palette($purple-palette);

    ::ng-deep {
        @include css-vars(css-vars);
    }
}
