.references {
    background-color: #eeeeee;
    font-size: .75em;
    p {
        margin: 0;
        letter-spacing: initial;
        line-height: initial;
        font-size: 1em;
    }
}

.grid__wrapper {
    margin: 0 auto;
    width: 950px;
}
