<div class="card-item">
    <span class="card-item__label">Media before header</span>

    <igx-card class="position-card">
        <igx-card-media height="6.5rem">
            <img [src]="roomImage" alt="A meeting room with a long table and chairs" />
        </igx-card-media>
        <igx-card-header>
            <span igxCardHeaderTitle>Book your meeting room</span>
            <span igxCardHeaderSubtitle>Max 15 seats / 10 m2</span>
        </igx-card-header>
        <igx-card-actions>
            <div igxStart class="position-card__icons">
                <igx-icon>videocam</igx-icon>
                <igx-icon>bluetooth</igx-icon>
                <igx-icon>volume_off</igx-icon>
            </div>
            <button igxButton="flat" igxEnd class="position-card__action">Book now</button>
        </igx-card-actions>
    </igx-card>
</div>

<div class="card-item">
    <span class="card-item__label">Media after header</span>

    <igx-card class="position-card">
        <igx-card-header>
            <span igxCardHeaderTitle>Book your meeting room</span>
            <span igxCardHeaderSubtitle>Max 15 seats / 10 m2</span>
        </igx-card-header>
        <igx-card-media height="6.5rem">
            <img [src]="roomImage" alt="A meeting room with a long table and chairs" />
        </igx-card-media>
        <igx-card-actions>
            <div igxStart class="position-card__icons">
                <igx-icon>videocam</igx-icon>
                <igx-icon>bluetooth</igx-icon>
                <igx-icon>volume_off</igx-icon>
            </div>
            <button igxButton="flat" igxEnd class="position-card__action">Book now</button>
        </igx-card-actions>
    </igx-card>
</div>
