<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/angular-demos/" />
      </rule>
      <rule name="Angular Root Redirect" enabled="true" stopProcessing="true">
        <match url="^/?$" />
        <action type="Redirect" url="/products/ignite-ui-angular/getting-started" redirectType="Permanent" />
    </rule>
    </rules>
  </rewrite>
  <staticContent>
    <remove fileExtension=".json" />
    <remove fileExtension=".csv" />
    <remove fileExtension=".shp" />
    <remove fileExtension=".dbf" />
    <remove fileExtension=".itf" />
    <remove fileExtension=".svg" />

    <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
    <mimeMap fileExtension=".csv"  mimeType="application/csv;charset=UTF-8;" />
    <mimeMap fileExtension=".shp"  mimeType="application/octet-stream" />
    <mimeMap fileExtension=".dbf"  mimeType="application/octet-stream" />
    <mimeMap fileExtension=".itf"  mimeType="application/octet-stream" />
    <mimeMap fileExtension=".svg"  mimeType="image/svg+xml" />
  </staticContent>
  <httpProtocol>
      <customHeaders>
          <add name="X-XSS-Protection" value="0" />
      </customHeaders>
  </httpProtocol>
</system.webServer>
</configuration>
