<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
2.  <rewrite>
3.    <rules>
4.      <rule name="Angular Routes" stopProcessing="true">
5.        <match url=".*" />
6.        <conditions logicalGrouping="MatchAll">
7.          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
8.          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
9.        </conditions>
10.        <action type="Rewrite" url="/angular-demos/" />
11.      </rule>
12.    </rules>
13.  </rewrite>
14.</system.webServer>
</configuration>