<div >
    <div >
        <igx-radial-gauge #radialGauge
            height="300px" width="300px"
            minimumValue=0 value=50
            maximumValue=80 interval=10

            rangeBrushes ="#a4bd29, #F86232"
            rangeOutlines="#a4bd29, #F86232"  >

            <igx-radial-gauge-range
                startValue=10 endValue=25
                innerStartExtent=0.50 innerEndExtent=0.50
                outerStartExtent=0.57 outerEndExtent=0.57>
            </igx-radial-gauge-range>
            <igx-radial-gauge-range
                startValue=25 endValue=40
                innerStartExtent=0.50 innerEndExtent=0.50
                outerStartExtent=0.57 outerEndExtent=0.57>
            </igx-radial-gauge-range>
        </igx-radial-gauge>

    </div>
</div>
