<div class="pivotgrid-sample">
    <div class="button-container">
        <div class="button-container__actions">
            <button igxButton="contained" (click)="exportButtonHandler()">Export To Excel</button>
            <button igxButton="contained" (click)="exportPdfButtonHandler()">Export To PDF</button>
        </div>
    </div>

    <igx-pivot-grid #grid [data]="data" [pivotConfiguration]="pivotConfig" [rowSelection]="'single'"
        [superCompactMode]="true" [defaultExpandState]='true' [pivotUI]="{ showRowHeaders: true }">
    </igx-pivot-grid>
</div>
