.pivotgrid-sample {
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    height: 80%;

    .button-container {
        margin: 25px auto;

        &__actions {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
        }
    }

    igx-pivot-grid {
        align-items: center;
    }
}
