@use 'layout.scss';
@use 'igniteui-angular/theming' as *;

$custom-theme: grid-theme(
	$header-background: #f8f8ed,
	$header-text-color: #7a6551,
	$header-border-style: dashed,
	$header-border-color: rgba(0, 0, 0, 0.08)
);

:host {
	@include tokens($custom-theme);
}
