.sample-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 16px;
  max-width: 500px; }

.wrapper {
  display: -ms-flexbox;
  display: flex; }
  .wrapper > * {
    width: 100%;
    margin-left: 8px; }
    .wrapper > *:first-of-type {
      margin-left: 0; }
