<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [height]="'500px'" width="100%">
        <igx-column sortable="true" [field]="'Settlement'"></igx-column>
        <igx-column sortable="true" [field]="'Type'"></igx-column>
        <igx-column sortable="true" [field]="'Region'"></igx-column>
        <igx-column sortable="true" [field]="'Country'"></igx-column>
        <igx-column sortable="true" [field]="'Price'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column sortable="true" [field]="'Buy'" dataType="number" [formatter]="formatCurrency">
        </igx-column>
    </igx-grid>
</div>