@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-slider-theme: slider-theme(
  $track-color: #ff7400,
  $tick-label-color: #b246c2,
  $tick-color: #b246c2
);

:host {
    @include tokens($custom-slider-theme);
}
