@use '../../../../variables' as *;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    height: 100%;
}

$custom-slider-theme: slider-theme(
    $track-color: #ff7400,
    $track-hover-color: #ff7400,

    $thumb-color: #ff7400,

    $base-track-color: #ddd,
    $base-track-hover-color: #ccc,

    $tick-label-color: #b246c2,

    $tick-color: #b246c2
);

:host ::ng-deep {
    @include css-vars($custom-slider-theme);
}

