@import '~igniteui-angular/lib/core/styles/themes/index';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    height: 100%;
}

$custom-slider-theme: igx-slider-theme(
    $track-color: #ff7400,
    $track-hover-color: #ff7400,

    $thumb-color: #ff7400,

    $base-track-color: #ddd,
    $base-track-hover-color: #ccc,

    $tick-label-color: #b246c2,
    $tick-label-color-tall: #ff7400,

    $tick-color: #b246c2,
    $tick-color-tall: #ff7400,
);

// :host {
//     @include igx-css-vars($custom-slider-theme);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-slider($custom-slider-theme);
}

