@use "layout.scss";
@use "igniteui-angular/theming" as *;

$summaries-background: #e0f3ff;

$custom-theme: grid-summary-theme(
    $background-color: $summaries-background,
    $label-color: #e41c77,
    $result-color: black,
    $pinned-border-width: 2px,
    $pinned-border-style: dotted,
    $pinned-border-color: #e41c77,
);

:host {
    --ig-grid-summaries-patch-background: #{$summaries-background};
    @include tokens($custom-theme);
}
