<div class="grid__wrapper">
    <igx-grid #grid1 [data]="data" [width]="'100%'" [height]="'500px'">
        <igx-column #col *ngFor="let c of columns" [field]="c.field" [header]="c.header" [width]="c.width" [pinned]='c.pinned'
            [hidden]='c.hidden' [headerClasses]="'customHeaderSyle'">
            <ng-template igxHeader>
                <span style="float:left">{{col.header}}</span>
                <igx-icon class="header-icon" (click)="toggleColumn(col)">{{col.pinned ? 'lock' : 'lock_open' }}</igx-icon>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>