<div class="grid__wrapper">
    <igx-tree-grid [igxPreventDocumentScroll]="true"  #grid1 [data]="data" height="530px" width="100%" [autoGenerate]="false"
        primaryKey="ID" foreignKey="ParentID">
        <igx-column field="ID" header="Order ID">
        </igx-column>
        <igx-column field="Name" header="Order Product" [cellClasses] = "allergenClasses">
        </igx-column>
        <igx-column field="Category" header="Category">
        </igx-column>
        <igx-column field="Units" header="Units" [dataType]="'number'">
        </igx-column>
        <igx-column field="UnitPrice" header="Unit Price" [dataType]="'currency'" [pipeArgs]="formatOptions" [cellClasses] = "priceClasses">
        </igx-column>
        <igx-column field="Price" header="Price" [dataType]="'currency'" [pipeArgs]="formatOptions">
        </igx-column>
        <igx-column field="OrderDate" header="Order Date" [dataType]="'date'" [formatter]="formatDate">
        </igx-column>
        <igx-column field="Delivered" header="Delivered" [sortable]="true" [disableHiding]="true" [dataType]="'boolean'">
            <ng-template igxCell let-cell="cell" let-val>
                <img *ngIf="val" src="assets/images/grid/active.png" title="Delivered" alt="Delivered" />
                <img *ngIf="!val" src="assets/images/grid/expired.png" title="Undelivered" alt="Undelivered" />
            </ng-template>
        </igx-column>
    </igx-tree-grid>
    <span id="message">May contain allergens.</span>
</div>
