@import '~igniteui-angular/lib/core/styles/themes/index';


$custom-theme: igx-chip-theme(
    $background: #494949,
    $text-color: #e2e2e2,
    $remove-icon-color-focus: #ffcd0f,
    $hover-text-color: #f2f2f2,
    $selected-background: #ffcd0f,
    $selected-border-color: #ffcd0f,
    $hover-selected-background: #ebbf11,
    $focus-selected-background: #ffcd0f,
    $border-radius: 5px
);

$custom-button-theme: igx-button-theme(
    $raised-background: #494949,
    $raised-text-color: #e2e2e2,
    $raised-hover-background: #ffcd0f
);

// $black-color: #494949;
// $yellow-color: #ffcd0f;

/* Custom Palette */

// $custom-palette: igx-palette(
//   $primary: $black-color,
//   $secondary: $yellow-color
// );
    
// $custom-theme: igx-chip-theme(
//   $background: igx-color($custom-palette, "primary", 500),
//   $text-color: igx-contrast-color($custom-palette, "primary", 500),
//   $remove-icon-color: igx-contrast-color($custom-palette, "primary", 500),
//   $remove-icon-color-focus: igx-color($custom-palette, "secondary", 500),
//   $hover-text-color: igx-contrast-color($custom-palette, "primary", 500),
//   $selected-background: igx-color($custom-palette, "secondary", 500),
//   $selected-border-color: igx-color($custom-palette, "secondary", 500),
//   $hover-selected-background: igx-color($custom-palette, "secondary", 600),
//   $focus-selected-background: igx-color($custom-palette, "secondary", 500),
//   $border-radius: 5px
// );

/* Custom Schema */

// $custom-chip-schema: extend($_light-chip, (
//   background: (igx-color("primary", 500)),
//   text-color: (igx-contrast-color("primary", 500)),
//   hover-text-color: (igx-contrast-color("primary", 500)),
//   remove-icon-color: (igx-contrast-color("primary", 500)),
//   remove-icon-color-focus: (igx-contrast-color("secondary", 500)),
//   selected-background: (igx-color("secondary", 500)),
//   selected-border-color: (igx-color("secondary", 500)),
//   hover-selected-background: (igx-color("secondary", 600)),
//   focus-selected-background: (igx-color("secondary", 500)),
//   border-radius: 5px
// ));

// $my-custom-schema: extend($light-schema, (
//   igx-chip: $custom-chip-schema
// ));

// $custom-theme: igx-chip-theme(
//   $palette: $custom-palette,
//   $schema: $my-custom-schema
// );

:host {
  ::ng-deep {
    @include igx-chip($custom-theme);
    @include igx-button($custom-button-theme);
  }
}

.sample-holder {
    padding: 30px;
    border: 1px dotted #ddd;
    margin: 0 auto;
    width: 700px;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 650px;
}
.chiparea{
    width: 640px;
    margin-top: 1.5em;
    flex-flow: wrap;
}
.chips{
    z-index: 1;
}

:host ::ng-deep .igx-drop-down {
    z-index: 2;
}

.igx-drop-down__item {
    margin: 0.75em 0em;
}

.igx-drop-down__item ::ng-deep .igx-avatar__image {
    padding: 0.75em;
}

.emailText{
    margin: 0px;
    height: 300px;
    margin-top: 1.5em;
    width: 640px;
    resize: none;
    line-height: 1em;
    font-size: 1em;
    min-width: 0;
    overflow: visible;
    font-family: inherit;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    outline-style: none;
    box-shadow: none;
}

.emailText{
    height: 270px;
}

.emailText:focus{
    cursor: text;
}

.chip-avatar-resized {
    width: 2em;
    height: 2em;
    min-width: 2em;
}

.chipStyle {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}