.controls-holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.switches {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  min-width: 100%;
  padding-right: 20px;
  font-size: 0.9rem;
  margin-top: 0; }

.control-item {
  display: block;
  padding: 8px 0px; }
  .control-item > span {
    cursor: pointer; }

.grid__wrapper {
  margin: 0 16px;
  width: 1150px; }

p.category-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  font-style: italic; }

.desc-icon {
  font-size: 0.8em;
  width: 0.8em;
  height: 0.8em; }

.btn-icon {
  margin-right: 5px; }
