.toggle-button {
  width: 150px;
  margin-bottom: 15px; }

.toggle-content {
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 260px; }

.toggle-section {
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .dark-theme .toggle-section {
    background-color: #111; }
  .custom-body .toggle-section {
    color: var(--igx-surface-500-contrast);
    background-color: var(--igx-surface-500); }

img {
  width: 300px;
  height: 240px; }

h6 {
  margin: 10px; }
