<div class="sample-wrapper container">
    <igx-financial-chart
        class="chart"
        [dataSource]="data"
        [xAxisMode]="SelectedXAxisMode"
        [yAxisMode]="SelectedYAxisMode"
        chartType="candle"
        isToolbarVisible="false">
    </igx-financial-chart>

    <div class="options">
        <span class="optionsLabel">X-Axis Mode:</span>
        <select [(ngModel)]="SelectedXAxisMode">
            <option>Time</option>
            <option>Ordinal</option>
        </select>
        <span class="optionsLabel">Y-Axis Mode:</span>
        <select [(ngModel)]="SelectedYAxisMode">
            <option>PercentChange</option>
            <option>Numeric</option>
        </select>
    </div>
</div>