<div class="content-wrap" igxLayout>
  <igx-nav-drawer id="navigation" [pin]="true" [pinThreshold]="0">
    <ng-template igxDrawer>
        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon fontSet="material">{{ item.name }}</igx-icon>
          <span>{{ item.text }}</span>
        </span>
    </ng-template>
    <ng-template igxDrawerMini>
        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
            <igx-icon fontSet="material">{{ item.name }}</igx-icon>
        </span>
    </ng-template>
  </igx-nav-drawer>

  <main igxFlex>
    <!-- <button (click)="drawer.toggle()"> Menu </button> -->
    <span igxButton="icon" igxToggleAction="navigation">
      <igx-icon fontSet="material">menu</igx-icon>
    </span>
  </main>
</div>
