<div class="content-wrap" igxLayout>
  <igx-nav-drawer id="navigation" [pin]="true" [pinThreshold]="0">
    <ng-template igxDrawer>
      @for (item of navItems; track item) {
        <span igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon family="material">{{ item.name }}</igx-icon>
          <span>{{ item.text }}</span>
        </span>
      }
    </ng-template>
    <ng-template igxDrawerMini>
      @for (item of navItems; track item) {
        <span igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon family="material">{{ item.name }}</igx-icon>
        </span>
      }
    </ng-template>
  </igx-nav-drawer>

  <main igxFlex>
    <!-- <button (click)="drawer.toggle()"> Menu </button> -->
    <span igxIconButton="flat" igxToggleAction="navigation">
      <igx-icon family="material">menu</igx-icon>
    </span>
  </main>
</div>
