<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treegrid1 [data]="data" [autoGenerate]="false" height="480px" width="100%" [allowFiltering]="true"
        primaryKey="ID" foreignKey="ParentID">
        <igx-column field="ID" header="Product ID" [dataType]="'string'" [filterCellTemplate]="defaultFilterTemplate">
            </igx-column>
            <igx-column field="Name" header="Product Name" [dataType]="'string'" [filterCellTemplate]="defaultFilterTemplate">
            </igx-column>
            <igx-column field="UnitPrice" header="Unit Price" dataType="number" [filterCellTemplate]="defaultFilterTemplate">
                <ng-template igxCell let-cell="cell" let-val let-row>
                    {{+val | currency}}
                </ng-template>
            </igx-column>
            <igx-column field="AddedDate" header="Added Date" [dataType]="'date'" [formatter]="formatDate" [filterCellTemplate]="dateFilterTemplate">
            </igx-column>
            <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'">
                <ng-template igxCell let-cell="cell" let-val>
                    <img *ngIf="val" src="assets/images/grid/active.png" title="Continued" alt="Continued" />
                    <img *ngIf="!val" src="assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
                </ng-template>
            </igx-column>
        </igx-tree-grid>
        <ng-template #defaultFilterTemplate igxFilterCellTemplate let-column="column">
            <div class="filter-cell">
                <igx-input-group #inputGr class="filter-input" type="box" [displayDensity]="'compact'">
                    <igx-prefix>
                        <igx-icon>search</igx-icon>
                    </igx-prefix>
                    <input
                        #input
                        igxInput
                        tabindex="0"
                        placeholder="Filter..."
                        autocomplete="off"
                        [value]="getFilterValue(column)"
                        (input)="onInput(input, column)"
                        (click)="onClick(inputGr)"
                        (keydown)="onKeyDown($event)"/>
                    <igx-suffix *ngIf="input.value || input.value === 0" (click)="clearInput(column)" tabindex="0">
                        <igx-icon>clear</igx-icon>
                    </igx-suffix>
                </igx-input-group>
            </div>
        </ng-template>
        <ng-template #dateFilterTemplate igxFilterCellTemplate let-column="column">
            <div class="filter-cell">
                <igx-date-picker [value]="getFilterValue(column)"
                                 (onSelection)="onDateSelected($event, column)">
                    <ng-template igxDatePickerTemplate let-openDialog="openDialog" let-displayData="displayData">
                        <igx-input-group type="box" [displayDensity]="'compact'">
                            <igx-prefix>
                                <igx-icon>search</igx-icon>
                            </igx-prefix>
                            <input #input
                                igxInput
                                (click)="openDatePicker(openDialog)"
                                placeholder="Filter..."
                                autocomplete="off"
                                tabindex="0"
                                [value]="displayData | date"
                                [readonly]="true" />
                            <igx-suffix *ngIf="input.value || input.value === 0" (click)="clearInput(column)" tabindex="0">
                                <igx-icon>clear</igx-icon>
                            </igx-suffix>
                        </igx-input-group>
                    </ng-template>
                </igx-date-picker>
            </div>
        </ng-template>
</div>