<div class="sample-wrapper">
    <section class="sample-content">
        <div>
            <article class="sample-column">
                <h4 class="sample-title">Scroll</h4>
                <igx-scroll #scroll
                            (onScroll)="updateList($event)"
                            [visibleItemsCount]="visibleItemsCount"
                            [itemHeight]="64"
                            [totalItemsCount]="items.length">
                    <ul class="list">
                        <li igxLayout igxLayout igxLayoutItemAlign="center" class="list-item" *ngFor="let item of visibleItems">
                            <igx-avatar igxFlex [src]="item.avatar" roundShape="true"></igx-avatar>
                            <h5 igxFlex>{{item.text}}</h5>
                        </li>
                    </ul>
                </igx-scroll>
            </article>
        </div>
    </section>
</div>
