<div class="grid__wrapper">
  <igx-hierarchical-grid [igxPreventDocumentScroll]="true" #hierarchicalGrid [data]="data" [primaryKey]="'ID'"
    [height]="'500px'" [width]="'100%'" [rowEditable]="true" [batchEditing]="true" [allowFiltering]="true">
    <igx-column field="Artist" [sortable]="true" [disableHiding]="true" [width]="'200px'"></igx-column>
    <igx-column field="Photo" [width]="'200px'">
      <ng-template igxCell let-cell="cell">
        <div class="cell__inner_2">
          <img [src]="cell.value" class="photo" />
        </div>
      </ng-template>
    </igx-column>
    <igx-column field="Debut" dataType="number" [sortable]="true" [width]="'200px'" [formatter]="formatter"></igx-column>
    <igx-column field="GrammyNominations" header="Grammy Nominations" dataType="number" [sortable]="true" [width]="'200px'"></igx-column>
    <igx-column field="GrammyAwards" header="Grammy Awards" dataType="number" [sortable]="true" [width]="'200px'"></igx-column>

    <igx-row-island [height]="null" [key]="'Albums'" [autoGenerate]="false">
      <igx-column field="Album" dataType="string" [sortable]="true"></igx-column>
      <igx-column field="LaunchDate" header="Launch Date" dataType="date" [sortable]="true"></igx-column>
      <igx-column field="BillboardReview" header="Billboard Review" dataType="number" [sortable]="true"></igx-column>
      <igx-column field="USBillboard200" header="US Billboard 200" dataType="number" [sortable]="true"></igx-column>
      <igx-row-island [height]="null" [key]="'Songs'" [autoGenerate]="false">
        <igx-column field="Number" header="No." dataType="number"></igx-column>
        <igx-column field="Title" dataType="string"></igx-column>
        <igx-column field="Released" dataType="date"></igx-column>
        <igx-column field="Genre" dataType="string"></igx-column>
      </igx-row-island>
    </igx-row-island>

    <igx-row-island [height]="null" [key]="'Tours'" [autoGenerate]="false">
      <igx-column field="Tour" dataType="string"></igx-column>
      <igx-column field="StartedOn" header="Started on" dataType="string"></igx-column>
      <igx-column field="Location" dataType="string"></igx-column>
      <igx-column field="Headliner" dataType="string"></igx-column>
    </igx-row-island>
    <igx-action-strip #actionstrip>
      <igx-grid-pinning-actions></igx-grid-pinning-actions>
      @if (!inEditMode(actionstrip.context)) {
        <button title="Edit" igxIconButton="flat" igxRipple
          (click)='startEdit(actionstrip.context)'>
          <igx-icon>edit</igx-icon>
        </button>
        @if (isDirty(actionstrip.context)) {
          <button title="Undo All" igxIconButton="flat" igxRipple
            (click)='undo(actionstrip.context)'>
            <igx-icon>undo</igx-icon>
          </button>
        }
        @if (!isDirty(actionstrip.context) && hasDiscardedTransactions(actionstrip.context)) {
          <button title="Redo All" igxIconButton="flat" igxRipple
            (click)='redo(actionstrip.context)'>
            <igx-icon>redo</igx-icon>
          </button>
        }
        @if (isDirty(actionstrip.context)) {
          <button title='Save' igxIconButton="flat" igxRipple
            (click)='commit(actionstrip.context)'>
            <igx-icon>save</igx-icon>
          </button>
        }
        @if (!isDeleted(actionstrip.context)) {
          <button title="Delete" igxIconButton="flat" igxRipple
            (click)='actionstrip.context.delete()'>
            <igx-icon>delete</igx-icon>
          </button>
        }
      }
    </igx-action-strip>
  </igx-hierarchical-grid>
</div>
