<div class="grid__wrapper">
    <igx-hierarchical-grid igxPreventDocumentScroll #hierarchicalGrid [data]="data" [primaryKey]="'ID'"
        [height]="'500px'" [width]="'100%'" [rowEditable]="true" [batchEditing]="true" [allowFiltering]="true">
            <igx-column field="Artist" [sortable]="true" [disableHiding]="true" [width]="'200px'"></igx-column>
            <igx-column field="Photo" [width]="'200px'">
                <ng-template igxCell let-cell="cell">
                    <div class="cell__inner_2">
                        <img [src]="cell.value" class="photo" />
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="Debut" dataType="number" [sortable]="true" [width]="'200px'" [formatter]="formatter"></igx-column>
            <igx-column field="GrammyNominations" header="Grammy Nominations" dataType="number" [sortable]="true" [width]="'200px'"></igx-column>
            <igx-column field="GrammyAwards" header="Grammy Awards" dataType="number" [sortable]="true" [width]="'200px'"></igx-column>

            <igx-row-island [height]="null" [key]="'Albums'" [autoGenerate]="false">
                <igx-column field="Album" dataType="string" [sortable]="true"></igx-column>
                <igx-column field="LaunchDate" header="Launch Date" dataType="date" [sortable]="true"></igx-column>
                <igx-column field="BillboardReview" header="Billboard Review" dataType="number" [sortable]="true"></igx-column>
                <igx-column field="USBillboard200" header="US Billboard 200" dataType="number" [sortable]="true"></igx-column>
            <igx-row-island [height]="null" [key]="'Songs'" [autoGenerate]="false">
                    <igx-column field="Number" header="No." dataType="number"></igx-column>
                    <igx-column field="Title" dataType="string"></igx-column>
                    <igx-column field="Released" dataType="date"></igx-column>
                    <igx-column field="Genre" dataType="string"></igx-column>
            </igx-row-island>
        </igx-row-island>

        <igx-row-island [height]="null" [key]="'Tours'" [autoGenerate]="false">
            <igx-column field="Tour" dataType="string"></igx-column>
            <igx-column field="StartedOn" header="Started on" dataType="string"></igx-column>
            <igx-column field="Location" dataType="string"></igx-column>
            <igx-column field="Headliner" dataType="string"></igx-column>
        </igx-row-island>
        <igx-action-strip #actionstrip>
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
            <ng-container *ngIf="!inEditMode(actionstrip.context)">
                <button title="Edit" igxButton="icon" igxRipple
                    (click)='startEdit(actionstrip.context)'>
                    <igx-icon>edit</igx-icon>
                </button>
                <button title="Undo All" igxButton="icon" igxRipple *ngIf='isDirty(actionstrip.context)'
                    (click)='undo(actionstrip.context)'>
                    <igx-icon>undo</igx-icon>
                </button>
                <button title="Redo All" igxButton="icon" igxRipple
                    *ngIf='!isDirty(actionstrip.context) && hasDiscardedTransactions(actionstrip.context)'
                    (click)='redo(actionstrip.context)'>
                    <igx-icon>redo</igx-icon>
                </button>
                <button title='Save' igxButton="icon" igxRipple *ngIf='isDirty(actionstrip.context)'
                    (click)='commit(actionstrip.context)'>
                    <igx-icon>save</igx-icon>
                </button>
                <button title="Delete" igxButton="icon" igxRipple *ngIf='!isDeleted(actionstrip.context)'
                    (click)='actionstrip.context.delete()'>
                    <igx-icon>delete</igx-icon>
                </button>
            </ng-container>
        </igx-action-strip>
    </igx-hierarchical-grid>
</div>
