<form>
    <div class="select-wrapper">
        <igx-select #selectModel="ngModel" [(ngModel)]="selected" name="fruit" required>
            <label igxLabel>Pick a fruit</label>
            <igx-select-item> None </igx-select-item>
            <igx-select-item *ngFor="let fruit of fruits" [value]="fruit">
                {{fruit}}
            </igx-select-item>
        </igx-select>
        <div class="output">
            <div>Selected: {{selected ? selected : "n/a"}}</div>
            <div [ngStyle]="{'color':selectModel.valid === true ? 'green' : 'red' }">Valid: {{selectModel.valid}}</div>
        </div>
    </div>
</form>
