<div class="carousel-container">
    <igx-carousel>
        <igx-slide>
            <div class="slide-content-wrapper">
                <img src="assets/images/carousel/slide1@x2.jpg">
            </div>
        </igx-slide>
        <igx-slide>
            <div class="slide-content-wrapper">
                <img src="assets/images/carousel/16:9-CulturalDip.png">
            </div>
        </igx-slide>
        <igx-slide>
            <div class="slide-content-wrapper">
                <img src="assets/images/carousel/slide3@x2.jpg">
            </div>
        </igx-slide>
    </igx-carousel>
</div>
