@use "layout.scss";
@use "igniteui-angular/theming" as *;

// Create carousel theme
$custom-carousel-theme: carousel-theme(
  $button-background: rgb(124 50 221 / 60%),
  $button-arrow-color: #c5bcd0,
  $button-hover-arrow-color: #F3E8FF,
  $indicator-background: rgb(124 50 221 / 60%),
  $indicator-border-color: #a29aab,
  $button-shadow: var(--ig-elevation-5)
);

// Apply the custom theme to the components mixins.
@include css-vars($custom-carousel-theme); 