.grid__wrapper {
  margin: 20px; }

.addRootBtn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 10px;
  color: black; }
  .addRootBtn:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .addRootBtn igx-icon {
    margin-right: 5px; }

.buttonsArea {
  margin: auto; }

.emplBtn {
  margin-right: 5px; }

.dialogNewRecord {
  margin: 10px;
  padding: 10px; }

.igx-input-group {
  margin-bottom: 10px;
  padding: 5px; }

.igx-checkbox {
  margin-bottom: 10px;
  padding: 5px; }

.datePicker {
  padding: 5px;
  margin-bottom: 10px; }
