<div class="sample-wrapper container">
    <div class="options">
        <div>
            <label class="optionLabel">Chart Type: </label>
            <select class="select" [(ngModel)]="options.chartType">
                <option>Auto</option>
                <option>Bar</option>
                <option>Candle</option>
                <option>Column</option>
                <option>Line</option>
            </select>

            <label class="optionItem"><input [(ngModel)]="options.calloutsVisible" type="checkbox" />Show Callouts</label>
            <label class="optionItem"><input [(ngModel)]="options.finalValueAnnotations" type="checkbox" />Final Value Annotations</label>
        </div>
        <div>
            <label class="optionLabel">Crosshairs: </label>
            <select class="select" [(ngModel)]="options.crosshairDisplay">
                <option>Default</option>
                <option>None</option>
                <option>Horizontal</option>
                <option>Vertical</option>
                <option>Both</option>
            </select>

            <label class="optionItem"><input [(ngModel)]="options.crosshairSnap" type="checkbox" />Snap to Data</label>
            <label class="optionItem"><input [(ngModel)]="options.crosshairAnnotations" type="checkbox" />Crosshairs Annotations</label>
        </div>
    </div>

    <div class="chart">
        <igx-financial-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="stocksData"
            [chartType]="options.chartType"
            zoomSliderType="none"

            brushes="#8c42f4, #1aba2a, #6b6b6b"
            outlines="#8c42f4, #1aba2a, #6b6b6b"
            negativeBrushes="#e23a31"
            negativeOutlines="#e23a31"

            [crosshairsDisplayMode]="options.crosshairDisplay"
            [crosshairsSnapToData]="options.crosshairSnap"
            [crosshairsAnnotationEnabled]="options.crosshairAnnotations"

            [finalValueAnnotationsVisible]="options.finalValueAnnotations"

            [calloutsVisible]="options.calloutsVisible"
            [calloutsDataSource]="calloutsData"
            calloutsXMemberPath="index"
            calloutsYMemberPath="value"
            calloutsLabelMemberPath="label"
            xAxisExtent="50"
            thickness="1"
            >
        </igx-financial-chart>

    </div>
</div>
