<div class="sample-wrapper">
    <div class="content">
        <igx-expansion-panel class="content__collapsible">
            <igx-expansion-panel-header (onInteraction)="onInteraction($event)" [disabled]="false">
                <igx-expansion-panel-title class="sample-title">Personal Information</igx-expansion-panel-title>
                <igx-expansion-panel-icon>
                    <igx-icon fontSet="material" [name]="collapsed(0) ? 'expand_more':'expand_less'"></igx-icon>
                </igx-expansion-panel-icon>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body class="body">
                <igx-input-group class="group">
                    <input igxInput name="fullName" type="text" [(ngModel)]="user.fullName"/>
                    <label igxLabel for="fullName">Full Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="group">
                    <igx-prefix>+359</igx-prefix>
                    <label igxLabel for="phone">Phone</label>
                    <input igxInput name="phone" type="text" [(ngModel)]="user.phone" />
                    <igx-suffix>
                        <igx-icon name="phone"></igx-icon>
                    </igx-suffix>
                    <igx-hint position="start">Ex.: +359 555 123 456</igx-hint>
                </igx-input-group>
                <igx-input-group class="group">
                    <label igxLabel for="email">Email address</label>
                    <input igxInput name="email" type="email" [(ngModel)]="user.email"/>
                    <igx-suffix>
                        <igx-icon name="email"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
            </igx-expansion-panel-body>
        </igx-expansion-panel>

        <igx-expansion-panel class="content__collapsible">
            <igx-expansion-panel-header (onInteraction)="onInteraction($event)" [disabled]="false">
                <igx-expansion-panel-title class="sample-title">Billing Address</igx-expansion-panel-title>
                <igx-expansion-panel-icon>
                    <igx-icon fontSet="material" [name]="collapsed(1) ? 'expand_more':'expand_less'"></igx-icon>
                </igx-expansion-panel-icon>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body class="body">
                <igx-input-group class="group">
                    <input igxInput name="address" type="text" [(ngModel)]="shippingAddress.address"/>
                    <label igxLabel for="address">Billing Address:</label>
                    <igx-suffix>
                        <igx-icon name="add_location"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="group">
                    <label igxLabel for="city">City:</label>
                    <input igxInput name="city" type="text" [(ngModel)]="shippingAddress.city"/>
                    <igx-suffix>
                        <igx-icon name="location_city"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="group">
                    <label igxLabel for="state">State:</label>
                    <input igxInput name="state" type="text" [(ngModel)]="shippingAddress.state"/>
                    <igx-suffix>
                        <igx-icon name="terrain"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="group">
                    <label igxLabel for="zipCode">Zip Code:</label>
                    <input igxInput name="zipCode" type="text" [(ngModel)]="shippingAddress.zipCode">
                    <igx-suffix>
                        <igx-icon name="mail_outline"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
            </igx-expansion-panel-body>
        </igx-expansion-panel>

        <igx-expansion-panel class="content__collapsible">
            <igx-expansion-panel-header (onInteraction)="onInteraction($event)" [disabled]="false">
                <igx-expansion-panel-title class="sample-title">Shipping Address</igx-expansion-panel-title>
                <igx-expansion-panel-icon>
                    <igx-icon fontSet="material" [name]="collapsed(2) ? 'expand_more':'expand_less'"></igx-icon>
                </igx-expansion-panel-icon>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body class="body">
                <igx-input-group class="group">
                    <input igxInput name="address" type="text" [(ngModel)]="billingAddress.address"/>
                    <label igxLabel for="address">Shipping Address:</label>
                    <igx-suffix>
                        <igx-icon name="add_location"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="group">
                    <label igxLabel for="city">City:</label>
                    <input igxInput name="city" type="text" [(ngModel)]="billingAddress.city"/>
                    <igx-suffix>
                        <igx-icon name="location_city"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="group">
                    <label igxLabel for="state">State:</label>
                    <input igxInput name="state" type="text" [(ngModel)]="billingAddress.state"/>
                    <igx-suffix>
                        <igx-icon name="terrain"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="group">
                    <label igxLabel for="zipCode">Zip Code:</label>
                    <input igxInput name="zipCode" type="text" [(ngModel)]="billingAddress.zipCode">
                    <igx-suffix>
                        <igx-icon name="mail_outline"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
    </div>
</div>
