@import "~igniteui-angular/lib/core/styles/themes/index";

$default-arrow-color: igx-color($default-palette, 'grays', 400);
$default-arrow-hover-color: igx-color($default-palette, 'grays', 800);
$default-arrow-all-color: igx-color($default-palette, 'secondary', 100);

@mixin selector($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    min-width: 50px;
    cursor: pointer;
}

.header-selector {
    @include selector(flex-end, flex-end);
    height: 100%;
    padding: 8px;
}

.row-selector {
    @include selector(center, center);
}

::ng-deep {
    .igx-grid__cbx-selection {
        padding: 0;
    }
}

.excel-style-arrow {
    color: $default-arrow-color;
    &:hover {
        color: $default-arrow-hover-color;
    }
}

.excel-style-arrow-all {
    color: $default-arrow-all-color;
}
