<div class="grid__wrapper">
    <igx-grid [igxPreventDocumentScroll]="true" #myGrid [data]="data" primaryKey="ID" rowSelection="multiple" cellSelection="none" [height]="'510px'" width="100%">
        <igx-paginator></igx-paginator>
        <igx-column field="ContactName" width="20%"></igx-column>
        <igx-column field="Country" width="20%"></igx-column>
        <igx-column field="City" width="20%"></igx-column>
        <igx-column field="PostalCode" width="20%"></igx-column>
        <igx-column field="CompanyName" width="20%"></igx-column>

        <ng-template igxHeadSelector let-headContext>
            <div class="header-selector" [ngClass]="{
                'excel-style-arrow-all': headContext.selectedCount === headContext.totalCount && headContext.totalCount !== 0,
                'excel-style-arrow': headContext.selectedCount !== headContext.totalCount
            }">
                <i class="material-icons">signal_cellular_4_bar</i>
            </div>
        </ng-template>

        <ng-template igxRowSelector let-rowContext>
            <div class="row-selector">
                <span>{{ rowContext.index + 1 }}</span>
            </div>
        </ng-template>
    </igx-grid>
</div>
