<div class="list-sample">
    <igx-list>
        <igx-list-item [isHeader]="true">Contacts</igx-list-item>

        <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item-content" *ngFor="let item of navItems">
            <div class="item-container">
                <div class="contact">
                    <igx-avatar [src]="item.avatar" roundShape="true"></igx-avatar>
                    <div class="contact__info">
                        <span class="name">{{item.text}}</span>
                    </div>
                </div>
                <span igxButton="icon" igxRipple igxRippleCentered="true" (click)="delete(item)">
                    <igx-icon color="#ff5252">delete</igx-icon>
                </span>
            </div>

        </igx-list-item>

        <igx-snackbar message="Contact deleted" actionText="Undo" (onAction)="restore()"></igx-snackbar>
    </igx-list>
</div>
