<div class="sample">
    <div class="grid_wrapper">
        <igx-grid height="600px" width="100%" [paging]="true" [allowFiltering]="true" [filterMode]="'excelStyleFilter'"
            summaryCalculationMode="rootLevelOnly" columnSelection="single" [showToolbar]="true" [allowAdvancedFiltering]="true">
            <igx-column-group header="General Information" [groupable]="true">
                <igx-column field="CompanyName" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
                <igx-column-group [movable]="true" header="Personal Details" [collapsible]="true"
                        dataType="string" [expanded]="false" (expandedChange)="expandChange($event)">
                    <igx-column field="PersonalDetails" [width]="'250px'" [groupable]="true" [visibleWhenCollapsed]="true"></igx-column>
                    <igx-column field="ContactName" [groupable]="true" [visibleWhenCollapsed]="false"
                        [hasSummary]="true" [sortable]="true" [groupable]="true" [editable]=true></igx-column>
                    <igx-column field="ContactTitle" [visibleWhenCollapsed]="false" [sortable]="true" [groupable]="true" [editable]="true"></igx-column>
                </igx-column-group>
            </igx-column-group>
            <igx-column-group header="Address Information">
                <igx-column-group header="Location" [groupable]="true" [collapsible]="true" [expanded]="false" (expandedChange)="expandChange($event)">
                    <igx-column field="FullAddress" header="Full Address" [width]="'250px'" [visibleWhenCollapsed]="true"
                        [dataType]="'string'" [visibleWhenCollapsed]="true"></igx-column>
                    <igx-column field="Country" [groupable]="true" [visibleWhenCollapsed]="false" [hasSummary]="true" [sortable]="true" [editable]="true"></igx-column>
                    <igx-column field="Region" [groupable]="true" [visibleWhenCollapsed]="false" [sortable]="true" [groupable]="true" [editable]="true"></igx-column>
                    <igx-column field="City" [groupable]="true" [visibleWhenCollapsed]="false" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
                    <igx-column field="Address" [visibleWhenCollapsed]="false"></igx-column>
                </igx-column-group>
                <igx-column-group header="Contact Information">
                    <igx-column field="Phone" [groupable]="true" [editable]="true"></igx-column>
                    <igx-column field="Fax" [editable]="true"></igx-column>
                    <igx-column field="PostalCode"></igx-column>
                </igx-column-group>
            </igx-column-group>
        </igx-grid>
    </div>
    <div class="list-sample">
        <igx-list>
            <igx-list-item isHeader=true>Combinations</igx-list-item>
            <igx-list-item @load *ngFor="let c of keyboardCollection" [ngClass]="{'completed': c.completed}" [@completed]="c.completed ? 'completed' : ''">
                <h4 igxListLineTitle>{{ c.title }}</h4>
                <p igxListLineSubTitle>{{ c.subTitle }}</p>
                <igx-icon @load *ngIf="c.completed">done</igx-icon>
            </igx-list-item>
        </igx-list>
    </div>
</div>
