.photo {
    vertical-align: middle;
    max-height: 62px;
}
.cell__inner_2 {
    margin: 1px
}

.filter-cell {
    flex-grow: 1;
}

.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

igx-input-group,
igx-date-picker {
    --ig-size: var(--ig-size-small);
}
