<div class="radio-orientation-item billing-cycle">
    <span id="billing-title" class="radio-orientation-title">Billing cycle</span>
    <igx-radio-group name="billing" alignment="vertical" value="monthly" aria-labelledby="billing-title">
        <igx-radio value="monthly">Monthly</igx-radio>
        <igx-radio value="annual">Annual</igx-radio>
        <igx-radio value="two-year">Two-year</igx-radio>
    </igx-radio-group>
</div>
<div class="radio-orientation-item chart-type">
    <span id="chart-title" class="radio-orientation-title">Chart type</span>
    <igx-radio-group name="chart" alignment="horizontal" value="line" aria-labelledby="chart-title">
        <igx-radio value="line">Line</igx-radio>
        <igx-radio value="bar">Bar</igx-radio>
        <igx-radio value="pie">Pie</igx-radio>
    </igx-radio-group>
</div>
