<div class="grid__wrapper">
    <igx-grid #grid1 [data]="data" [width]="'100%'" [height]="'500px'" [pinning]="pinningConfig" [autoGenerate]="false" [showToolbar]="true">
        <ng-template igxToolbarCustomContent>
            <div class="crm-toolbar-template">
                <div class="crm-sample-toolbar__title">
                    <span class="crm-sample-toolbar__ellipsis">Sprint Charts</span>
                </div>
                <div class="sample-flex-container">
                    <igx-checkbox [(ngModel)]="columnsPinned">
                        Freeze Podiums
                    </igx-checkbox>
                </div>
            </div>
        </ng-template>
        <igx-column field="CountryName" header="Team" width="88">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner country-cell">
                    <img [src]="cell.rowData.CountryFlag" class="country-flag" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef">
                    <div #tooltipRef="tooltip" igxTooltip>
                        {{ cell.rowData.CountryName }}
                    </div>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Avatar" header="Photo" dataType="string" width="80">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner avatar-cell">
                    <igx-avatar [src]="cell.rowData.Avatar" [roundShape]="true" size="small"></igx-avatar>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Name" header="Name"></igx-column>
        <igx-column field="AthleteNumber" header="Number"></igx-column>
        <igx-column field="BeatsPerMinute" header="BPM"></igx-column>
        <igx-column field="TopSpeed" header="Top Speed"></igx-column>
        <igx-column field="TrackProgress" header="Track Progress"></igx-column>
        <igx-column field="RegistrationDate" header="Date of Registration" width="200"></igx-column>
        <igx-column field="FirstPlaces" header="Gold" width="90" [pinned]="columnsPinned"></igx-column>
        <igx-column field="SecondPlaces" header="Silver" width="90" [pinned]="columnsPinned"></igx-column>
        <igx-column field="ThirdPlaces" header="Bronze" width="90" [pinned]="columnsPinned"></igx-column>
    </igx-grid>
</div>