.title-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid__wrapper {
    margin: 0 auto;
    padding: 5px;
}

img.country-flag {
    width: 35px;
    height: 20px;
}