@use "layout.scss";
@use "igniteui-angular/theming" as *;

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;

$custom-grid: grid-theme(
  $filtering-row-text-color: $bg,
  $filtering-row-background: $yellow,
  $filtering-header-text-color: $bg,
  $filtering-header-background: $yellow
);

$dark-input-group: input-group-theme(
  $box-background: $yellow,
  $idle-text-color: $bg,
  $focused-text-color: $bg,
  $filled-text-color: $bg
);

$dark-button: flat-button-theme(
  $background: $yellow,
  $foreground: $bg,
  $hover-background: $bg,
  $hover-foreground: $yellow
);


:host {
  @include tokens($custom-grid);

  ::ng-deep {
    .igx-grid__filtering-row {
      @include tokens($dark-button);
      @include tokens($dark-input-group);
    }
  }
}
