@use '../../../variables' as *;

$custom-grid: igx-grid-theme(
    $filtering-row-text-color: #292826,
    $filtering-row-background: #FFCD0F,
    $filtering-header-text-color: #292826,
    $filtering-header-background: #FFCD0F
);

$dark-input-group: igx-input-group-theme(
    $box-background: #FFCD0F,
    $idle-text-color: #292826,
    $focused-text-color: #292826,
    $filled-text-color: #292826
);

$dark-button: igx-button-theme(
    $background: #FFCD0F,
    $foreground: #292826,
    $hover-background: #292826,
    $hover-foreground: #FFCD0F
);

:host {
     ::ng-deep {
        @include igx-grid($custom-grid);
        .igx-grid__filtering-row {
            @include igx-button($dark-button);
            @include igx-input-group($dark-input-group);
            .igx-input-group__input::placeholder {
                color: #292826;
            }
        }
    }
}

.grid__wrapper {
    margin: 16px;
}
