@use '../../../variables' as *;

$custom-grid: grid-theme(
    $filtering-row-text-color: #292826,
    $filtering-row-background: #FFCD0F,
    $filtering-header-text-color: #292826,
    $filtering-header-background: #FFCD0F
);

$dark-input-group: input-group-theme(
    $box-background: #FFCD0F,
    $idle-text-color: #292826,
    $focused-text-color: #292826,
    $filled-text-color: #292826
);

$dark-button: button-theme(
    $background: #FFCD0F,
    $foreground: #292826,
    $hover-background: #292826,
    $hover-foreground: #FFCD0F
);

:host {
	::ng-deep {
		@include css-vars($custom-grid);

		.igx-grid__filtering-row {
			@include css-vars($dark-button);
			@include css-vars($dark-input-group);

			.igx-input-group__input::placeholder {
				color: #292826;
			}
		}
	}
}

.grid__wrapper {
    margin: 16px;
}
