<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid height="480px" [data]="data" displayDensity="compact">
        <igx-column field="ID"></igx-column>
        <igx-column-group header="General Information">
            <igx-column field="CompanyName"></igx-column>
            <igx-column-group header="Personal Details">
                <igx-column field="ContactName"></igx-column>
                <igx-column field="ContactTitle"></igx-column>
            </igx-column-group>
        </igx-column-group>
        <igx-column-group header="Address Information">
            <igx-column-group header="Location">
                <igx-column field="Country"></igx-column>
                <igx-column field="Region"></igx-column>
                <igx-column field="City"></igx-column>
                <igx-column field="Address"></igx-column>
            </igx-column-group>
            <igx-column-group header="Contact Information">
                <igx-column field="Phone"></igx-column>
                <igx-column field="Fax"></igx-column>
                <igx-column field="PostalCode"></igx-column>
            </igx-column-group>
        </igx-column-group>
        <igx-column-group header="Address Information">
            <igx-column-group header="Location">
                <igx-column field="Country"></igx-column>
                <igx-column field="Region"></igx-column>
                <igx-column field="City"></igx-column>
                <igx-column field="Address"></igx-column>
            </igx-column-group>
            <igx-column-group header="Contact Information">
                <igx-column field="Phone"></igx-column>
                <igx-column field="Fax"></igx-column>
                <igx-column field="PostalCode"></igx-column>
            </igx-column-group>
        </igx-column-group>
        <igx-column-group header="Contact Information">
            <igx-column field="Phone"></igx-column>
            <igx-column field="Fax"></igx-column>
            <igx-column field="PostalCode"></igx-column>
        </igx-column-group>
    </igx-grid>