<div class="sample-wrapper container">
    <div>
        <span>Chart Type: </span>
        <select [(ngModel)]="chartType">
            <option>Auto</option>
            <option>Area</option>
            <option>Line</option>
            <option>Column</option>
            <option>Point</option>
            <option>Spline</option>
            <option>SplineArea</option>
            <option>StepArea</option>
            <option>StepLine</option>
            <option>Waterfall</option>
        </select>
    </div>
    <div class="chart">
        <igx-category-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="data"
            chartTitle="Energy Production by Country"
            yAxisMinimumValue="0"
            [tooltipTemplate]="valueTooltip"
            [chartType]="chartType">
        </igx-category-chart>
    </div>

    <ng-template let-series="series" let-item="item" #valueTooltip>
        <div>
            <span [style.color]="series.actualBrush">Production of {{item.Country}}<br/></span>
            <span> Coal: {{item.Coal | number}}<br/></span>
            <span> Oil: {{item.Oil | number}}<br/></span>
            <span> Gas: {{item.Gas | number}}<br/></span>
            <span> Nuclear: {{item.Nuclear | number}}<br/></span>
            <span> Hyrdo: {{item.Hydro | number}}<br/></span>
        </div>
    </ng-template>
</div>
