<article class="sample-column">
    <div class="density-chooser">
        <igx-buttongroup [values]="sizes" (selected)="selectSize($event)"></igx-buttongroup>
    </div>
    <div class="button-sample">
        <div class="button-sample">
            <button igxButton="flat" igxRipple>Flat</button>
        </div>
        <div class="button-sample">
            <button igxButton="raised" igxRipple>Raised</button>
        </div>
        <div class="button-sample">
            <button igxButton="outlined" igxRipple>Outlined</button>
        </div>
        <div class="button-sample">
            <button igxButton="fab" igxRipple>
                <igx-icon family="material">edit</igx-icon>
            </button>
        </div>
        <div class="button-sample">
            <button igxButton="fab" igxRipple>
                <span>Like</span>
                <igx-icon family="material">favorite</igx-icon>
            </button>
        </div>
    </div>
</article>
