<article class="sample-column">
    <div class="density-chooser">
        <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)"></igx-buttongroup>
    </div>
    <div class="button-sample">
        <div class="button-sample">
            <button igxButton="flat" igxRipple [displayDensity]="density">Flat</button>
        </div>
        <div class="button-sample">
            <button igxButton="raised" igxRipple [displayDensity]="density">Raised</button>
        </div>
        <div class="button-sample">
            <button igxButton="outlined" igxRipple [displayDensity]="density">Outlined</button>
        </div>
        <div class="button-sample">
            <button igxButton="fab" igxRipple [displayDensity]="density"><igx-icon family="material">edit</igx-icon></button>
        </div>
        <div class="button-sample">
            <button igxButton="fab" igxRipple [displayDensity]="density">
                <igx-icon family="material">favorite</igx-icon>
                <span>Like</span>
            </button>
        </div>
    </div>
</article>
