.igx-grid__thead-wrapper {
    position: initial !important;
}

.settingsInputWrapper {
    width: fit-content;
    display: flex;
    flex-flow: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.layoutSettingsContainer {
    display: flex;
    flex-flow: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.layoutListContainer {
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    text-align:center;
    min-height: 50px;
}

.layoutContainer {
    width: 100%;
    max-height:250px;
    margin-bottom: 15px;
    text-align:center;
    min-height: 50px;
    overflow: auto;
}

.colsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.dark-theme .colsWrapper {
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.columnOut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.25rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}

.columnOut:hover {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.columnOut:active {
    background-color: rgba(0, 0, 0, 0.22) !important;
}


.columnIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 0;
    overflow: visible;
    outline-style: hidden !important;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.dark-theme .columnIn {
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.columnIn:focus {
    outline-style: hidden !important;
}

.columnInHovered {
    background-color: rgba(0, 0, 0, 0.22) !important;
}

.dark-theme .columnInHovered {
    background-color: rgba(255, 255, 255, 0.22) !important;
}

.textWrapper {
    margin: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    line-height: unset !important;
    padding: 0 1.5rem;
}

.resizerLeft {
    position: absolute;
    width: 6px;
    top: 0;
    left: -3px;
    height: 100%;
    z-index: 2;
    cursor: col-resize;
}

.resizerLeft-small {
    position: absolute;
    width: 3px;
    top: 0;
    left: 0px;
    height: 100%;
    z-index: 2;
    cursor: col-resize;
}

.resizerRight {
    position: absolute;
    width: 6px;
    top: 0;
    right: -3px;
    height: 100%;
    z-index: 2;
    cursor: col-resize;
}

.resizerRight-small {
    position: absolute;
    width: 3px;
    top: 0;
    right: 0px;
    height: 100%;
    z-index: 2;
    cursor: col-resize;
}

.resizerBottom {
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -3px;
    left: 0px;
    z-index: 2;
    cursor: row-resize;
}

.resizerBottom-small {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    cursor: row-resize;
}

.rowLayoutView {
    display: -ms-grid;
    display: grid;
    margin: auto;
    position: inherit;
}

.outer-wrapper {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.grid-wrapper {
    margin: auto;
    width: 800px;
}

.bottomButton { 
    margin: 5px;
}

.igx-input-group__bundle {
    padding-top: 0;
    top: -2px;
}

.igx-grid__thead-wrapper {
    position: static;
}
