<div style="text-align: center; width: 900px">
    <br />
    <span>Navigating to the previous page, components will reinitialize as per their initial configuration, therefore the igxPivotGrid will lose its state.</span>
    <br />
    <span>What our PivotGridStatePersistanceSampleComponent does is reading the state from the window.localStorage object and applying the corresponding state in the AfterViewInit lifecycle.</span><br />
    <span igxButton="contained" igxButtonColor="white" igxButtonBackground="#e41c77" [routerLink]="['../pivot-grid-state-persistence']">Go Back</span>
</div>
