<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="data" primaryKey="ID" foreignKey="ParentID" [autoGenerate]="false" height="400px" width="900px"
                [showToolbar]="true"
                toolbarTitle="Tree Grid Toolbar">
        <igx-column field="Name" width="25%">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <igx-avatar [src]="cell.row.rowData.Avatar" roundShape="true" size="small"></igx-avatar>
                    <span class="name">{{ cell.value }}</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Title'" dataType="string" width="25%"></igx-column>
        <igx-column [field]="'ID'" dataType="number" width="15%"></igx-column>
        <igx-column [field]="'Age'" dataType="number" width="15%"></igx-column>
        <igx-column [field]="'HireDate'" dataType="date" width="20%"></igx-column>
    </igx-tree-grid>
</div>
