.preview {
    height: 300px;
}

.preview.bottom {
    background: url('https://cdn.rawgit.com/IgniteUI/igniteui-angular/6cd4cc79/demos/images/rsrcs/toast-bg-bottom.svg') no-repeat;
}

.preview.middle {
    background: url('https://cdn.rawgit.com/IgniteUI/igniteui-angular/6cd4cc79/demos/images/rsrcs/toast-bg-middle.svg') no-repeat;
}

.preview.top {
    background: url('https://cdn.rawgit.com/IgniteUI/igniteui-angular/6cd4cc79/demos/images/rsrcs/toast-bg-top.svg') no-repeat;
}

.btn-group {
    display: flex;
    width: 300px;
    margin-top: 16px;
    justify-content: space-between;
}

