<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid height="750px" [data]="data" [moving]="true" displayDensity="compact" [allowFiltering]="true">
        <igx-grid-toolbar>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                <igx-grid-toolbar-exporter [exportCSV]="false" [exportExcel]="true">
                </igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column [resizable]="true" field="ID" [filterable]="false"></igx-column>
        <igx-column-group header="General Information" [collapsible]="true" [expanded]="true">
            <igx-column field="CompanyName" [visibleWhenCollapsed]="true"></igx-column>
            <igx-column-group header="Personal Details" [collapsible]="true" [expanded]="false"
                [visibleWhenCollapsed]="false">
                <igx-column field="ContactName"></igx-column>
                <igx-column field="ContactTitle"></igx-column>
            </igx-column-group>
        </igx-column-group>
        <igx-column-group header="Address Information">
            <igx-column-group header="Location" [collapsible]="true" [expanded]="false" [visibleWhenCollapsed]="true">
                <igx-column field="Country" [visibleWhenCollapsed]="true" [hidden]="true"></igx-column>
                <igx-column field="Region" [visibleWhenCollapsed]="false" [hidden]="true"></igx-column>
                <igx-column field="City" [visibleWhenCollapsed]="false" [hidden]="true"></igx-column>
                <igx-column field="Address" [visibleWhenCollapsed]="false" [hidden]="true"></igx-column>
            </igx-column-group>
            <igx-column-group header="Contact Information">
                <igx-column field="Phone"></igx-column>
                <igx-column field="Fax"></igx-column>
                <igx-column field="PostalCode"></igx-column>
            </igx-column-group>
        </igx-column-group>
    </igx-grid>
