<p class="grid__wrapper">
    <span class="customPager">
        <igx-grid #grid1 [data]="data | async" width="100%" height="540px" [paging]="true" [perPage]="perPage">
            <igx-column field="ID"></igx-column>
            <igx-column field="ProductName"></igx-column>
            <igx-column field="QuantityPerUnit"></igx-column>
            <igx-column field="SupplierName"></igx-column>
            <igx-column field="UnitsInStock"></igx-column>
            <igx-column field="Rating"></igx-column>
        </igx-grid>
        <ng-template #customPager let-api>
            <div class="igx-grid-paginator__pager" style="justify-content: center">
                <button [disabled]="firstPage" (click)="paginate(0, false)" igxButton="icon" igxRipple
                    igxRippleCentered="true">
                    <igx-icon fontSet="material">first_page</igx-icon>
                </button>
                <button [disabled]="firstPage" (click)="previousPage()" igxButton="icon" igxRipple
                    igxRippleCentered="true">
                    <igx-icon fontSet="material">chevron_left</igx-icon>
                </button>
                <span>{{ page + 1 }} of {{totalPages}}</span>
                <button [disabled]="lastPage" (click)="nextPage()" igxRipple igxRippleCentered="true" igxButton="icon">
                    <igx-icon fontSet="material">chevron_right</igx-icon>
                </button>
                <button [disabled]="lastPage" (click)="paginate(totalPages - 1, false)" igxButton="icon" igxRipple
                    igxRippleCentered="true">
                    <igx-icon fontSet="material">last_page</igx-icon>
                </button>
                <select style="margin-left: 1rem;" (change)="perPage = parseToInt($event.target.value);">
                    <option [value]="val" [selected]="perPage == val" *ngFor="let val of [5, 10, 15, 25, 50, 100, 500]">{{ val
            }}</option>
                </select>
            </div>
        </ng-template>
        <ng-template #secCustomPager let-api>
            <div class="igx-grid-paginator__pager" style="justify-content: center">
                <button [disabled]="firstPage" (click)="previousPage()" igxButton="flat" igxButtonColor="#09f">
                    PREV
                </button>
                <span *ngIf="shouldShowFirstPage" (click)="paginate(0, false)"><a class="pageNavLinks"
                        [routerLink]=''>{{1}}</a> ...</span>
                <span *ngFor="let item of pages" (click)="paginate(item, false)"><a
                        class="pageNavLinks {{activePage(item)}}" [routerLink]=''>{{item + 1}}</a> </span>
                <span *ngIf="shouldShowLastPage" (click)="paginate(totalPages - 1, false)">... <a class="pageNavLinks"
                        [routerLink]=''>{{ totalPages }}</a></span>
                <button [disabled]="lastPage" (click)="nextPage()" igxButton="flat" igxButtonColor="#09f">
                    NEXT
                </button>
            </div>
        </ng-template>
        <br />
        <button (click)="changeTemplate()" class='changeBtn' igxButton="flat" igxButtonColor="#09f"
            igxButtonBackground="#dadada"> Change
            Paging Template</button>
    </span>
</p>
