<div class="sample-content">
  <section class="sample-column">
    <article class="avatars-wrapper">
        <div class="avatar-sample">
            <igx-avatar initials="JS" bgColor="#ACBEDC" size="small"></igx-avatar>
        </div>
        <div class="avatar-sample">
            <igx-avatar src="https://randomuser.me/api/portraits/men/3.jpg" roundShape="true" size="medium"></igx-avatar>
        </div>
        <div class="avatar-sample">
            <igx-avatar initials="AZ" [roundShape]="'true'" bgColor="#ADBDBB" color="#424242" size="large"></igx-avatar>
        </div>
    </article>
  </section>
</div>
