<div class="sample-column">
    <igx-navbar title="Sample App">
        <igx-navbar-action>
            <button igxButton="icon">
                <igx-icon>menu</igx-icon>
            </button>
        </igx-navbar-action>
        
        <button igxButton="icon">
            <igx-icon>search</igx-icon>
        </button>
        <button igxButton="icon">
            <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon">
            <igx-icon>more_vert</igx-icon>
        </button>
    </igx-navbar>
</div>
