<div class="control-wrapper">
    <igx-combo class="!light-combo ![--toggle-button-background:#99BAA6] ![--clear-button-foreground:#99BAA6]" [width]="'430px'" [data]="weaponsData" [displayKey]="'field'" [valueKey]="'field'" [overlaySettings]="{outlet: elem}"
        [groupKey]="'weaponRange'" placeholder="Pick up two weapons" searchPlaceholder="Search..."
        [itemsMaxHeight]="255" (selectionChanging)="setWeaponsLimit($event)">
    </igx-combo>

    <igx-toast #loadToast [displayTime]="1200"></igx-toast>
</div>


