<div class="icon_wrapper">
    <div class="outside_container" *ngFor="let icon of icons">
        <div (onEnter)="onEnterHandler($event)" 
            igxDrop 
            id="{{icon.id}}" 
            (onDrop)="onIconDropped($event)" 
            class="inside_container" 
            >
            <div igxDrag 
                id="{{icon.id}}" 
                (dragStart)="dragStartHandler(icon.id)"
                class="drag_container" 
                [hideBaseOnDrag]="true" 
                [ghostImageClass]="'drag_ghost_class'">
                <span class="icon_container" draggable="false" onmousedown="if (event.preventDefault) event.preventDefault()">
                    <img [src]="icon.url"/>
                </span>
            </div>
        </div>
    </div>
</div>