<div class="icons_wrapper">
    <ng-container *ngFor="let icon of icons">
        <div (onEnter)="onEnterHandler($event)"
            class="drag_container" 
            igxDrag
            igxDrop 
            id="{{icon.id}}" 
            (onDrop)="onIconDropped($event)" 
            (dragStart)="dragStartHandler(icon.id)"
            [hideBaseOnDrag]="true" 
            [ghostImageClass]="'drag_ghost_class'">
            <span class="icon_container" draggable="false" onmousedown="if (event.preventDefault) event.preventDefault()">
                <img [src]="icon.url"/>
            </span>
        </div>
    </ng-container> 
</div>