<div class="wrapper theme">
    <div class="sample-content">
        <div class="sample-column">
            <igx-hierarchical-grid igxPreventDocumentScroll  #hierarchicalGrid [data]="localdata" [height]="'500px'" [width]="'950px'" displayDensity="compact" [allowFiltering]="true">
                <igx-column-group [movable]="true" [pinned]="false" header="General Information" [collapsible]="true" [expanded]="false">
                    <ng-template igxCollapsibleIndicator let-column="column">
                        <igx-icon [attr.draggable]="false" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef" [showDelay]="0" [hideDelay]="0">{{column.expanded ? 'expand_more' : 'chevron_right'}} </igx-icon>
                        <div #tooltipRef="tooltip" igxTooltip>
                            {{getTooltipText(column.expanded)}}
                        </div>
                    </ng-template>
                    <igx-column field="ContactName" header="Full Name"  dataType="string" [movable]="true" [sortable]="true" [resizable]="true" width="200px" [visibleWhenCollapsed]="false"></igx-column>
                    <igx-column field="LastName" header="Last Name" dataType="string" [movable]="true" [sortable]="true" [resizable]="true" width="200px" [visibleWhenCollapsed]="true"></igx-column>
                    <igx-column field="ContactTitle" header="Title"  [width]="'250px'" dataType="string" [movable]="true" [sortable]="true" [resizable]="true"></igx-column>
                    <igx-column field="CustomerID" [movable]="true" [width]="'140px'"[resizable]="true" [filterable]="false" [visibleWhenCollapsed]="false"></igx-column>
                    <igx-column field="CompanyName" header="Company" [width]="'140px'" [movable]="true" [sortable]="true" [resizable]="true" [visibleWhenCollapsed]="false"></igx-column>
                    <igx-column field="Phone" dataType="string" [width]="'140px'" [sortable]="true" [resizable]="true" [visibleWhenCollapsed]="false"></igx-column>
                </igx-column-group>
                <igx-column-group header="Address Information">
                    <igx-column-group header="Location" [collapsible]="true">
                        <ng-template igxCollapsibleIndicator let-column="column">
                            <igx-icon [attr.draggable]="false" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef" [showDelay]="0" [hideDelay]="0">{{column.expanded ? 'expand_more' : 'chevron_right'}} </igx-icon>
                            <div #tooltipRef="tooltip" igxTooltip>
                                <span style="width: 200px"> {{getTooltipText(column.expanded)}}</span>
                            </div>
                        </ng-template>
                        <igx-column field="FullAddress" [width]="'300px'" dataType="string" [sortable]="true" [resizable]="true" [visibleWhenCollapsed]="true"></igx-column>
                        <igx-column field="Country" dataType="string" [width]="'200px'" [sortable]="true" [resizable]="true" [visibleWhenCollapsed]="false"></igx-column>
                        <igx-column field="City" dataType="string" [width]="'200px'" [sortable]="true" [resizable]="true" [visibleWhenCollapsed]="false"></igx-column>
                        <igx-column field="Address" dataType="string" [width]="'200px'" [sortable]="true" [resizable]="true" [visibleWhenCollapsed]="false"></igx-column>
                        <igx-column field="PostalCode" dataType="string" [width]="'200px'" [sortable]="true" [resizable]="true" [visibleWhenCollapsed]="false"></igx-column>
                    </igx-column-group>
                </igx-column-group>
                <igx-row-island [key]="'Orders'" [autoGenerate]="false">
                    <igx-column-group header="Order Information">
                        <igx-column-group header="Order Details">
                            <igx-column field="OrderID" [movable]="true" sortable="true" resizable="true"></igx-column>
                            <igx-column field="EmployeeID" [movable]="true" sortable="true" resizable="true"></igx-column>
                            <igx-column field="OrderDate" [movable]="true" sortable="true" resizable="true" [dataType]="'date'"></igx-column>
                            <igx-column field="RequiredDate" [movable]="true" sortable="true" resizable="true" [dataType]="'date'"></igx-column>
                        </igx-column-group>
                        <igx-column-group header="General Shipping Information">
                            <igx-column field="ShippedDate" sortable="true" resizable="true" [dataType]="'date'"></igx-column>
                            <igx-column field="ShipVia" sortable="true" resizable="true"></igx-column>
                            <igx-column field="Freight" sortable="true" resizable="true"></igx-column>
                            <igx-column field="ShipName" sortable="true" resizable="true"></igx-column>
                        </igx-column-group>
                        <igx-column-group header="Shipping Location">
                            <igx-column field="ShipAddress" sortable="true" resizable="true"></igx-column>
                            <igx-column field="ShipCity" sortable="true" resizable="true"></igx-column>
                            <igx-column field="ShipPostalCode" sortable="true" resizable="true"></igx-column>
                            <igx-column field="ShipCountry" sortable="true" resizable="true"></igx-column>
                        </igx-column-group>
                    </igx-column-group>
                    <igx-row-island [key]="'OrderDetails'" [autoGenerate]="false">
                            <igx-column field="ProductID" sortable="true" resizable="true"></igx-column>
                            <igx-column field="UnitPrice" sortable="true" resizable="true"></igx-column>
                            <igx-column field="Quantity" sortable="true" resizable="true"></igx-column>
                            <igx-column field="Discount" sortable="true" resizable="true"></igx-column>
                    </igx-row-island>
                </igx-row-island>

            </igx-hierarchical-grid>
        </div>
    </div>
</div>