@use "igniteui-angular/theming" as *;

$custom-navbar-theme: navbar-theme(
  $background: #011627,
);

$custom-icon-button-theme: flat-icon-button-theme(
  $foreground: #ecaa53,
);

:host {
  @include tokens($custom-navbar-theme);
  @include tokens($custom-icon-button-theme);
}
