@use "igniteui-angular/theming" as *;

$custom-navbar-theme: navbar-theme(
  $background: #011627,
);

$custom-icon-button-theme: flat-icon-button-theme(
  $foreground: #ecaa53,
);

@include css-vars($custom-navbar-theme);
@include css-vars($custom-icon-button-theme);
