.sample-flex-container {
    display: flex;
    min-width: 1150px;
}

.switch-container {
    margin: 20px;
}

.combo-container {
    margin: 10px;
}

.header-class, .footer-class, .empty-class {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

:host {
    display: block;
    overflow: auto;
    height: 100%; 
}