<div class="grid__wrapper">
    <div class="sample__header">
        <div class="crm-sample-toolbar">

            <div class="crm-sample-toolbar__title">
                <span class="crm-sample-toolbar__ellipsis">Combo features</span>
            </div>

            <div class="sample-flex-container">
                <div class="wrapper">
                    <h3>Features</h3>
                    <div class="switch-container">
                        <igx-switch [(ngModel)]="filterable">Enable Filtering</igx-switch>
                        <igx-switch [(ngModel)]="customValues">Allow Custom Values</igx-switch>
                        <igx-switch (change)="enableGroups($event)">Enable Grouping</igx-switch>
                        <igx-switch [(ngModel)]="disabled">Disabled</igx-switch>
                    </div>
                    <div class="combo-container">
                        <igx-combo #combo1 class="input-container" width="300px"
                            [data]="lData" [displayKey]="'field'" [valueKey]="'field'"
                            placeholder="Location(s)" searchPlaceholder="Search..."
                            [allowCustomValues]="customValues" (onAddition)="handleAddition($event)"
                            [filterable]="filterable"
                            [disabled]="disabled">
                        </igx-combo>
                    </div>
                </div>

                <div class="wrapper">
                    <h3>Remote Binding</h3>
                    <div class="combo-container">
                        <igx-combo #combo2 class="input-container" width="300px"
                            [data]="rData | async" [valueKey]="'Type'" (onDataPreLoad)="dataLoading($event)"
                            placeholder="Location(s)" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="wrapper">
                    <h3>Templating</h3>
                    <div class="combo-container">
                        <igx-combo #combo3 class="input-container" width="300px"
                            [data]="lData" [valueKey]="'field'"
                            placeholder="Location(s)" searchPlaceholder="Search...">

                            <ng-template #itemTemplate let-display let-key="valueKey">
                                <div class="item">
                                    <span class="state">State: {{ display[key] }}</span>
                                    <span class="region">Region: {{ display.region }}</span>
                                </div>
                            </ng-template>

                            <ng-template #headerTemplate>
                                <div class="header-class">Custom header</div>
                                <img src=""/>
                            </ng-template>

                            <ng-template #footerTemplate>
                                <div class="footer-class">Custom footer</div>
                                <img src=""/>
                            </ng-template>

                            <igx-combo>
                                <ng-template #emptyTemplate>
                                    <span class="empty-class">List is empty</span>
                                </ng-template>
                            </igx-combo>
                        </igx-combo>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>