
.wrapper {
    margin: 20px;
    float: left;
}

.switch-container {
    margin: 20px;
}

.combo-container {
    margin: 20px;
}

.header-class, .footer-class, .empty-class {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}