<div class="hgrid-sample">
    <igx-hierarchical-grid #grid1 class="hgrid" [data]="localdata" [autoGenerate]="false"
        [height]="'600px'" [width]="'1000px'" #hGrid>
        <igx-column field="Artist" [sortable]='true'></igx-column>
        <igx-column field="Photo">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner_2">
                    <span>
                        <img [src]="cell.value" class="photo" />
                    </span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Debut" [sortable]='true'></igx-column>
        <igx-column field="Grammy Nominations" [sortable]='true'></igx-column>
        <igx-column field="Grammy Awards" [sortable]='true'></igx-column>

        <igx-row-island [key]="'Albums'" [autoGenerate]="false" #layout1 >
            <igx-column field="Album" [sortable]='true'></igx-column>
            <igx-column field="Launch Date" [sortable]='true'></igx-column>
            <igx-column field="Billboard Review" [sortable]='true'></igx-column>
            <igx-column field="US Billboard 200" [sortable]='true'></igx-column>
        <igx-row-island [key]="'Songs'" [autoGenerate]="false" >
                <igx-column field="No." [sortable]='true'></igx-column>
                <igx-column field="Title" [sortable]='true'></igx-column>
                <igx-column field="Released" [sortable]='true'></igx-column>
                <igx-column field="Genre" [sortable]='true'></igx-column>
        </igx-row-island>
    </igx-row-island>

    <igx-row-island [key]="'Tours'" [autoGenerate]="false">
        <igx-column field="Tour" [sortable]='true'></igx-column>
        <igx-column field="Started on" [sortable]='true'></igx-column>
        <igx-column field="Location" [sortable]='true'></igx-column>
        <igx-column field="Headliner" [sortable]='true'></igx-column>
    </igx-row-island>

    </igx-hierarchical-grid>
</div>