<div class="grid-lite-wrapper">
  <igc-grid-lite 
    [data]="data"
    (sorting)="handleSorting($event)"
    (sorted)="handleSorted($event)">
    <igc-grid-lite-column field="name" header="Name" sortable></igc-grid-lite-column>
    <igc-grid-lite-column field="price" header="Price" data-type="number" sortable></igc-grid-lite-column>
    <igc-grid-lite-column field="rating" header="Rating" data-type="number" sortable [cellTemplate]="formatRating"></igc-grid-lite-column>
    <igc-grid-lite-column field="sold" header="Sold" data-type="number" sortable></igc-grid-lite-column>
    <igc-grid-lite-column field="total" header="Total" data-type="number" sortable></igc-grid-lite-column>
  </igc-grid-lite>
  <div class="log">
    @for (entry of log; track entry) {
      <p><code>{{ entry }}</code></p>
    }
  </div>
</div>
