:host {
  contain: content;
  --ig-size: 2;
}

.grid-lite-wrapper {
  width: 100%;
  height: 100%;
}

igx-grid-lite {
  min-height: 65vh;
}

.log {
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
  min-height: 1rem;
  font-size: 0.75rem;
  max-height: 5rem;
  overflow-y: auto;
}
