.igx-carousel__inner {
    width: 100%;
    text-align: center; 
}
igx-icon.igx-icon{
    color: #e41c77;
}
span.progress-linear__value {
    display: none;
}
ul.igx-carousel__indicators {
    display: none;
}
div.igx-slide img {
    width: 80%
}