<igx-carousel #carousel [loop]="loop" pause="false" 
    (onSlideChanged)="onSlideChanged(carousel)">
    <igx-slide *ngFor="let slide of slides;">
        <br />
        <span igxButton="raised" igxButtonColor="white" igxButtonBackground="#e41c77" (click)="goTo(carousel.current)">{{slide.heading}}</span>
        <p>{{slide.description}}</p>
        <img [src]="slide.image">
    </igx-slide>
    <igx-linear-bar #linearbar [striped]="false" [max]="total" animate="true"></igx-linear-bar>
    <span>{{current}} out of {{total}}</span>
</igx-carousel>