<div class="sample-content">
    <article class="sample-column">
        <div class="wrapper">
            <igx-avatar class="avatar" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef"
                        src="assets/images/avatar/10.jpg" size="medium" [roundShape]="true">
            </igx-avatar>

            <div #tooltipRef="tooltip" igxTooltip>
                Her name is Toola Tipa
            </div>
        </div>
    </article>
    <article class="sample-column">
        <div>
            <div class="switchContainer">
                <igx-switch [(ngModel)]="target.tooltipDisabled">Disable tooltip</igx-switch>
            </div>
            <div>
                <igx-slider minValue="0" maxValue="3000" [step]="100" [(ngModel)]="target.showDelay"></igx-slider>
                <span>Show Delay: {{target.showDelay}} ms</span>
            </div>
            <div>
                <igx-slider minValue="0" maxValue="3000" [step]="100" [(ngModel)]="target.hideDelay"></igx-slider>
                <span>Hide Delay: {{target.hideDelay}} ms</span>
            </div>
        </div>
    </article>
</div>