:host ::ng-deep {
    .igx-button--icon {
        width: 2rem;
        height: 2rem;
    }
}

.grid__wrapper {
    --ig-size: var(--ig-size-small);

    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

igx-grid {
    flex: 1 0 0%;
}

.grid-toolbar-title {
    max-width: none;
}
