
<igx-chips-area class="chips-area"
    (reorder)="orderChanged($event)"
    (moveEnd)="onMoveEnd()">
    <igx-chip *ngFor="let col of groupColumns"
        [id]="col"
        displayDensity='compact'
        removable='true'
        [draggable]="'true'"
        (remove)="onGroupColumnRemoved($event)">
        <span>{{ col }}</span>
    </igx-chip>
</igx-chips-area>

<span class="group-drop-area"
    igxDrop
    (enter)="onGroupAreaEnter($event)"
    (leave)="onGroupAreaLeave($event)"
    (dropped)="onGroupColumnDropped($event)">
    Drag a column header and drop it here to group by that column.</span>
