<div class="sample-holder sample-center--col">
    <igx-expansion-panel class="my-expansion-panel">
        <igx-expansion-panel-header (interaction)="onInteraction($event)" [disabled]="false">
            <igx-expansion-panel-title class="sample-title">HTML5</igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
                HTML5 is a software solution stack that defines the properties and behaviors of web page content by implementing a markup-based pattern to it.
        </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="my-expansion-panel">
        <igx-expansion-panel-header (interaction)="onInteraction($event)" [disabled]="false">
            <igx-expansion-panel-title class="sample-title">CSS3</igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
                Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML
        </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="my-expansion-panel">
        <igx-expansion-panel-header (interaction)="onInteraction($event)" [disabled]="false">
            <igx-expansion-panel-title class="sample-title">SASS/SCSS</igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
                Sass is a preprocessor scripting language that is interpreted or compiled into Cascading Style Sheets (CSS).
        </igx-expansion-panel-body>
    </igx-expansion-panel>
</div>
