<p class="grid__wrapper">
  <igx-grid #igxGrid1 [data]="data" [groupingExpressions]='expr' [allowFiltering]="true" [cellSelection]="'single'"
    [hideGroupedColumns]="true" [width]="'900px'" [height]="'700px'">
    <igx-column *ngFor="let c of columns" [sortable]="true" [field]="c.field" [header]="c.field" [width]="c.width"
        [hidden]='c.hidden' [groupable]='c.groupable' [movable]='true' [editable]="true" [dataType]='c.dataType'>
    </igx-column>
  </igx-grid>

  <button igxButton="raised" (click)="exportButtonHandler()" class="exportButton">Export Grid to Excel</button>
</p>
