<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll [data]="data" (onColumnResized)="onResize($event)" [autoGenerate]="false" height="500px" width="100%">
        <igx-column [field]="'ID'" [header]="'ID'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'CompanyName'" [header]="'Company Name'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'ContactName'" [header]="'Contact Name'" width="100px" [resizable]="true" [minWidth]="'60px'" [maxWidth]="'230px'"></igx-column>
        <igx-column [field]="'ContactTitle'" [header]="'Contact Title'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'Address'" [header]="'Address'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'City'" [header]="'City'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'Region'" [header]="'Region'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'PostalCode'" [header]="'Postal Code'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'Phone'" [header]="'Phone'" width="100px" [resizable]="true"></igx-column>
        <igx-column [field]="'Fax'" [header]="'Fax'" width="100px" [resizable]="true"></igx-column>
    </igx-grid>
</div>
