@import '~igniteui-angular/core/styles/themes/index';

$grid-sample-theme: igx-grid-theme(
  $row-selected-background: #333,
  $row-selected-text-color: #ddd,
  $row-hover-background: #f8f8f8,
  $row-border-color: #f8f8f8,

  $cell-selected-background: rgba(255,255,255, .1),
  $cell-selected-text-color: #fff
);

.grid__wrapper {
    @include igx-grid($grid-sample-theme);
    width: 1000px;
    margin: 0 auto;
}
