.grid-controls {
    display: flex;
    justify-content: space-between;
    margin: 0 16px 24px;

    [igxButton] {
        height: auto;
    }

    [igxButton] + [igxButton] {
        margin-left: 8px;
    }
}

.grid__wrapper {
    margin: 0 16px;
}
