button {
    font-size: 0.708rem !important;
    text-transform: inherit !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;

}
.igx-grid__th span{
    color: #e41c77 !important;
}

.igx-grid-summary__label {
    color: #e41c77 !important;
}