<div class="container">
    <div class="chip-container">
        <igx-chips-area>
            <igx-chip *ngFor="let node of selectedNodes" [id]="node.data.ID" [removable]="true" (remove)="chipRemoved($event)">{{node.data.Name}}</igx-chip>
        </igx-chips-area>
    </div>
    <button igxButton="icon" [igxToggleAction]="countriesDropDown" [igxDropDownItemNavigation]="countriesDropDown">
        <igx-icon fontSet="material">expand_more</igx-icon>
    </button>
</div>

<igx-drop-down #countriesDropDown [height]="'500px'" [width]="'300px'" (closing)="handleClosing($event)">
    <igx-tree #igxTree selection="BiState" (nodeSelection)="onNodeSelection($event)">
        <igx-tree-node *ngFor="let country of countries" [data]="country" [expanded]="true" [selected]="true">
            {{ country.Name }}
            <igx-tree-node *ngFor="let city of country.Cities" [data]="city">
                {{ city.Name }}
            </igx-tree-node>
        </igx-tree-node>
    </igx-tree>
</igx-drop-down>
