.chip-container{
    width : 500px;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #FFFBFA;
    display: inline-flex;
    margin-left:10px;
}
igx-chip {
    margin-right: 5px;
    margin-bottom: 5px;
}

.button {
    width: 250px;
    border: #ccc;
}
  

