.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 300px;
}

.options {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    font-family: aktiv-grotesk, sans-serif;
    color: #585858;
    display: inline-block;
}

.optionItem {
    margin-left: 10px;
    // font-family: Arial, Verdana, Helvetica, "Times New Roman", Times, serif;
    display: inline-block;
    vertical-align: center;
}

.button {
    vertical-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
