@use 'igniteui-theming' as *;

:host {
    display: grid;
    place-items: center;
    height: 100vh;
}

.sample-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(60px);
}

igx-buttongroup {
    max-width: 400px;
    min-width: 280px;
}
