.button-group-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    min-height: 5.5rem;
}

igx-buttongroup {
    display: inline-block;
    max-width: 400px;
}

.button-group-layout button {
    min-width: 100px;
}

.button-group-layout igx-icon {
    --ig-icon-size: 20px;
}
