<article class="sample-column button-group-layout">
    <igx-buttongroup>
        @for (layout of layouts; track layout.value) {
            <button igxButton [igxRipple]="rippleColor">{{ layout.label }}</button>
        }
    </igx-buttongroup>

    <igx-buttongroup>
        @for (layout of layouts; track layout.value) {
            <button igxButton [igxRipple]="rippleColor">
                <igx-icon>{{ layout.icon }}</igx-icon>
            </button>
        }
    </igx-buttongroup>
</article>
