@import '~igniteui-angular/lib/core/styles/themes/index';

$custom-navbar-theme: igx-navbar-theme(
    $text-color: #151515,
    $background: #dedede,
    $idle-icon-color: #151515,
    $hover-icon-color: #8c8c8c
);

// :host {
//     @include igx-css-vars($custom-navbar-theme);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-navbar($custom-navbar-theme);
}

