<div class="carousel-container">
    <igx-carousel #carousel [loop]="false" indicatorsOrientation="top">
            <igx-slide  *ngFor="let slide of slides;">
                <div class="image-container">
                    <img style="width: 80%" [src]="slide.src">
                </div>
             </igx-slide>
        <igx-slide>
            <div class="form-wrapper">
                <div style="margin: 20px auto; width: 60%">
                    <img style="width: 80%" src="assets/images/svg/carousel/SignUp.svg">
                    <div (click)="goTo()" style="cursor: pointer; display: inline-block">
                        <igx-icon class="icon" fontSet="material">info</igx-icon>
                    </div>
                </div>
                <form #form class="signInForm" >
                    <igx-input-group>
                        <igx-prefix>
                            <igx-icon>person</igx-icon>
                        </igx-prefix>
                        <label style="display: flex;" igxLabel for="username">Username</label>
                        <input igxInput id="username" type="text" />
                    </igx-input-group>
                    <igx-input-group>
                        <igx-prefix>
                            <igx-icon>lock</igx-icon>
                        </igx-prefix>
                        <label style="display: flex;" igxLabel for="password">Password</label>
                        <input igxInput id="password" type="password" />
                    </igx-input-group>
                </form>
                <button igxButton="raised" type="submit" (click)="form.reset()">Sign Up</button>
            </div>
        </igx-slide>
        <ng-template igxCarouselIndicator let-slide>
            <div [ngClass]="{'selected': slide.current === current}" class="indicator"></div>
        </ng-template>
    </igx-carousel>
</div>
