@import '~igniteui-angular/lib/core/styles/themes/index';

$button-theme: igx-button-theme(
    $raised-text-color: #fff,
    $raised-background: igx-color($default-palette, "primary", 500)
);

.carousel-container{
    width: 60%;
    height: 100%;
    margin: 16px auto;
}

:host ::ng-deep{
    @include igx-button($button-theme);

    .image-container{
        margin: 20px auto;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .indicator{
        width: 12px;
        height: 12px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        border-radius: 4px;
        background: #dad8d8;
        box-shadow: igx-elevation($elevations, 1);
    }

    [aria-selected=true] .indicator{
        background: igx-color($default-palette, "primary", 500);
        border: none
    }

    .icon {
        color: peru;
    }

    .slide-content-wrapper{
        .signInForm {
            margin-bottom: 1rem;
            margin: 10px auto;
            width: 60%;    
            igx-input-group + igx-input-group {
                margin-top: 10px;
            }
        }
    }

    .igx-slide img{
        object-fit: fill;
    }

}


