<div class="sample-wrapper container">
    <div class="checkbox">
        <span> xAxis Mode: </span>
        <select [(ngModel)]="xAxisMode">
            <option>Ordinal</option>
            <option>Time</option> 
        </select>
    </div>
    <div>
        <span> yAxis Mode: </span>
        <select [(ngModel)]="yAxisMode">
            <option>Numeric</option>
            <option>PercentChange</option> 
        </select>
    </div>
    <div class="chart">
        <igx-financial-chart height="100%" width="100%"
            [dataSource]="data"
            [xAxisMode]="xAxisMode"
            [yAxisMode]="yAxisMode">
        </igx-financial-chart>
    </div>
</div>
<!-- [yAxisMode]="yAxisMode" -->
