<igx-financial-chart height="calc(100% - 60px)" width="100%"
    [dataSource]="stocksData"
    chartType="line"
    volumeType="none"
    isLegendVisible="false"

    brushes="#8c42f4, #1aba2a, #6b6b6b"
    outlines="#8c42f4, #1aba2a, #6b6b6b"
    negativeBrushes="#e23a31"
    negativeOutlines="#e23a31"
    finalValueAnnotationsVisible="true"

    crosshairsDisplayMode="both"
    crosshairsAnnotationEnabled="true"
    [calloutsDataSource]="calloutsData"
    calloutsVisible="true"
    calloutsXMemberPath="index"
    calloutsYMemberPath="value"
    calloutsLabelMemberPath="label">
</igx-financial-chart>
