.hgrid-sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin: 0 auto;
    padding: 16px;
    width: 90%;
    height: 600px;
}

.hgrid-sample > igx-hierarchical-grid {
    margin-bottom: 30px;
}

.exportButton {
    margin-top: 5px;
    margin-right: auto;
}