<igx-select #select>
  <label igxLabel>Select With Groups</label>
  @for (group of greengrocery; track group) {
    <igx-select-item-group [label]="group.label">
      @for (item of group.items; track item) {
        <igx-select-item [value]="item.type" [text]="item.type">
          {{item.type}}
          @if (item.origin === 'local') {
            <igx-icon
              title="Local product"
            >local_shipping</igx-icon>
          } @else {
            <igx-icon title="Import product">flight</igx-icon>
          }
        </igx-select-item>
      }
    </igx-select-item-group>
  }
</igx-select>
