<igx-buttongroup [alignment]="alignment">
    <button igxButton (click) = "layout = 'row'" [igxRipple]="rippleColor" [selected]="true">Row</button>
    <button igxButton (click) = "layout = 'row-reverse'" [igxRipple]="rippleColor">Row reverse</button>
</igx-buttongroup>
<div *ngIf="layout == 'row'">
    <div class="layout-box" igxLayout igxLayoutDir="row">
        <div class="layout-box__el" igxFlex>1</div>
        <div class="layout-box__el" igxFlex>2</div>
        <div class="layout-box__el" igxFlex>3</div>
    </div>
</div>

<div *ngIf="layout == 'row-reverse'">
    <div class="layout-box" igxLayout igxLayoutDir="row" igxLayoutReverse="true">
        <div class="layout-box__el" igxFlex>1</div>
        <div class="layout-box__el" igxFlex>2</div>
        <div class="layout-box__el" igxFlex>3</div>
    </div>
</div>
