<div class="drop-area" igxDrop (enter)="onEnterAllowed($event)" (leave)="onLeaveAllowed($event)"
    (dropped)="onDropAllowed($event)">
    <igx-icon>delete</igx-icon>
    <div>Drag a row here to delete it</div>
</div>
<igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="localData" childDataKey="Employees" width="800px" height="540px" [autoGenerate]="false"
    [rowDraggable]="true" [paging]="true" [allowFiltering]="true" [columnHiding]="true" [columnPinning]="true"
    [exportExcel]="true" [exportCsv]="true" exportExcelText="To Excel" [primaryKey]="'ID'" exportCsvText="To CSV" 
    (onRowDragEnd)="onRowDragEnd($event)">
    <igx-column field="Name" dataType="string" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true">
    </igx-column>
    <igx-column field="Title" dataType="string" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true">
    </igx-column>
    <igx-column field="HireDate" header="Hire Date" dataType="date" [sortable]="true" [editable]="true" [movable]="true"
        [resizable]="true" width="150px"></igx-column>
    <igx-column field="Age" dataType="number" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"
        width="100px"></igx-column>
    <ng-template igxDragIndicatorIcon>
        <igx-icon>drag_handle</igx-icon>
    </ng-template>
</igx-tree-grid>