<div igxOverlayOutlet>
    <button igxButton="raised" igxRipple="white" (click)="openDialog()">Show Styled Dialog</button>
    <igx-dialog #dialog1  message="This will create a new social media account.">
        <igx-dialog-title>
            <div class="dialog-container">
                <igx-icon>account_box</igx-icon>
                <div class="dialog-title">Create a new account?</div>
            </div>
        </igx-dialog-title>
        <div  igxDialogActions class="dialog-container dialog-actions">
            <button igxButton="raised" igxRipple="white" (click)="dialog.close()">CREATE</button>
            <button igxButton="raised" igxRipple="white" (click)="dialog.close()">CANCEL</button>
        </div>
    </igx-dialog>
</div>
