:host {
    overflow-y: auto;

    igx-calendar {
        overflow: auto;
        border: 1px solid var(--ig-gray-300);
    }
}

:host,
.settings__item {
    display: flex;
    flex-direction: column;
}

:host {
    gap: 32px;
}

.settings {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.settings__item {
    gap: 8px;
}
