<div class="settings">
    <div class="settings__item">
        <strong>Header orientation</strong>
        <igx-buttongroup selectionMode="singleRequired">
            @for (ho of orientations; track ho) {
                <button
                    igxButton
                    (click)="setHeaderOrientation(ho)"
                    [selected]="ho === headerOrientation"
                >
                    {{ ho }}
                </button>
            }
        </igx-buttongroup>
    </div>

    <div class="settings__item">
        <strong>View orientation</strong>
        <igx-buttongroup selectionMode="singleRequired">
            @for (vo of orientations; track vo) {
                <button
                    igxButton
                    (click)="setOrientation(vo)"
                    [selected]="vo === orientation"
                >
                    {{ vo }}
                </button>
            }
        </igx-buttongroup>
    </div>
</div>

<igx-calendar
    [monthsViewNumber]="2"
    [headerOrientation]="headerOrientation"
    [orientation]="orientation"
></igx-calendar>

