<div class="grid__wrapper">
    <igx-grid #grid1 [data]="data" [height]="'530px'" width="100%" [autoGenerate]='false'>
        <igx-column [field]="'ProductID'"></igx-column>
        <igx-column [field]="'ProductName'"></igx-column>
        <igx-column [field]="'UnitPrice'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'UnitsInStock'" dataType="number"></igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'">
            <ng-template igxCell let-cell="cell" let-val>
                <img *ngIf="val" src="https://www.infragistics.com/angular-demos/assets/images/grid/active.png" title="Continued" alt="Continued" />
                <img *ngIf="!val" src="https://www.infragistics.com/angular-demos/assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
            </ng-template>
        </igx-column>
        <igx-column [field]="'OrderDate'" dataType="date"></igx-column>
    </igx-grid>
    <div class="igx-grid__tfoot">
      <aggregated-data #aggrData [grid]="grid1" style="margin-left: auto"></aggregated-data>
    </div>
</div>