<div class="content-wrap">
  <igx-nav-drawer id="navigation" #drawer [isOpen]="true" [pinThreshold]="5000">
    <ng-template igxDrawer>
        <span igxDrawerItem [isHeader]="true">Components</span>

        @for (item of navItems; track item) {
          <span igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
            <igx-icon family="material">{{ item.name }}</igx-icon>
            <span>{{ item.text }}</span>
          </span>
        }
    </ng-template>
  </igx-nav-drawer>

  <main>
    <!-- <button (click)="drawer.toggle()"> Menu </button> -->
    <span igxIconButton="flat" igxToggleAction="navigation">
      <igx-icon family="material">menu</igx-icon>
    </span>

    <h5>{{selected}} content.</h5>
  </main>
</div>
