.content-wrap {
    display: flex;
    height: 100%;
}

main {
    height: 100%;
    overflow: auto;
    padding: 16px;
    h5 {
        padding: 8px 0;
    }
}

:host {
    display: block;
    height: 100%;
}
