<div class="content-wrap">
  <igx-nav-drawer id="navigation" #drawer [isOpen]="true" [pinThreshold]="5000">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Components</span>

        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon fontSet="material">{{ item.name }}</igx-icon>
          <span>{{ item.text }}</span>
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main>
    <!-- <button (click)="drawer.toggle()"> Menu </button> -->
    <span igxButton="icon" igxToggleAction="navigation">
      <igx-icon fontSet="material">menu</igx-icon>
    </span>

    <h5>{{selected}} content.</h5>
  </main>
</div>
