<div class="container">
    <igx-slider id="slider" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="1000" [(lowerValue)]="priceRange.lower" [(upperValue)]="priceRange.upper"></igx-slider>

    <div class="row-container">
        <igx-input-group type="border">
            <label igxLabel for="lowerRange">Lowest price</label>
            <igx-prefix>$</igx-prefix>
            <input igxInput id="lowerRange" type="number" min="0" [max]="priceRange.upper" [(ngModel)]="priceRange.lower" />
        </igx-input-group>

        <igx-input-group type="border">
            <label igxLabel for="upperRange">Highest price</label>
            <igx-prefix>$</igx-prefix>
            <input igxInput id="upperRange" type="number" [min]="priceRange.lower" max="1000" [(ngModel)]="priceRange.upper" />
        </igx-input-group>
    </div>
</div>
