<div class="container">
    <igx-slider id="slider" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="1000" [(ngModel)]="priceRange"></igx-slider>

    <div class="row-container">
        <igx-input-group type="border">
            <label igxLabel for="lowerRange">From</label>
            <igx-prefix>$</igx-prefix>
            <input igxInput id="lowerRange" type="number" [(ngModel)]="priceRange.lower" />
        </igx-input-group>

        <igx-input-group type="border">
            <label igxLabel for="upperRange">To</label>
            <igx-prefix>$</igx-prefix>
            <input igxInput id="upperRange" type="number" [(ngModel)]="priceRange.upper" />
        </igx-input-group>
    </div>
</div>
