<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid [data]="data" [height]="'600px'" [width]="'100%'" (contextMenu)="handleLeftClick($event)" [primaryKey]="'ProductID'" (activeNodeChange)="handleChange()" [rowClasses]="rowClasses">
        <igx-column [field]="'ProductID'"></igx-column>
        <igx-column [field]="'ProductName'"></igx-column>
        <igx-column [field]="'UnitsInStock'" [dataType]="'number'"></igx-column>
        <igx-column [field]="'UnitPrice'" [dataType]="'number'"></igx-column>
        <igx-column [field]="'Discontinued'" [dataType]="'boolean'">
        </igx-column>
        <igx-column [field]="'OrderDate'" [dataType]="'date'"></igx-column>
    </igx-grid>
</div>
