@use "igniteui-angular/theming" as *;

igx-avatar {
    --ig-size: var(--ig-size-small);
}

igx-list {
    --ig-spacing-block-small: 0;
    --ig-spacing-block-medium: 0;
    --ig-spacing-block-large: 0;
    --item-background: transparent;
    --border-color: transparent;
    --item-background-hover: transparent;
    --item-background-active: transparent;

    gap: rem(4px);
}

.sample-form {
    overflow-y: scroll;
    overflow-x: auto;
    max-width: rem(400px);
    height: rem(580px);
    background: color(null, surface, 500);
    box-shadow: var(--ig-elevation-12);
    margin: rem(24px) auto;
    border-radius: rem(4px);

    * {
        overflow-anchor: none;
    }
}

.massage-field {
    position: sticky;
    bottom: 0;
    padding-block: rem(12px);
    padding-inline: rem(16px);
    background: color(null, surface, 500);
}

.overflow-anchor {
    height: 1px;
    overflow-anchor: auto;
}

.contact {
    margin-block: rem(24px) rem(8px);

    &__panel {
        display: flex;
        align-items: center;
        gap: rem(8px);
    }

    &__panel {
        display: flex;
        align-items: center;
    }

    &:active {
        background: transparent;
    }
}

.message {
    @include type-style("body-2");

    display: flex;
    align-items: center;
    min-height: rem(32px);
    border-radius: rem(4px);
    padding-inline: rem(16px);

    &__info {
        h6 {
            @include type-style("body-1");
            font-weight: 600;
            margin: initial;
            line-height: 1;
        }

        span {
            @include type-style("caption");
        }
    }
}

.own-message {
    margin-inline-start: auto;
    background-color: color(null, gray, 200);
    color: contrast-color(null, gray, 200);

    &--first {
        border-top-right-radius: 0;
    }

    &.message__info {
        background: transparent;
        color: color(null, gray, 700);
        text-align: end;
    }

    &:active {
        background-color: inherit;
    }
}

.other-message {
    background-color: color(null, primary, 800);
    color: contrast-color(null, primary, 800);

    &--first {
        border-top-left-radius: 0;
    }

    &:active {
        background-color: color(null, primary, 900);
        color: contrast-color(null, primary, 900);
    }
}
