<div class="chat-sample-wrapper">
    <form class="chat-sample__form">
        <igx-list #list>
            <ng-template #othersMessage let-message="message" let-contact="contact" let-messageIndex="index">
                <igx-list-item class="contact" *ngIf="isFirstMessage(messageIndex)">
                    <div class="contact__panel">
                        <igx-avatar [src]="contact.photo" roundShape="true"></igx-avatar>
                        <span class="message__info">
                            {{ contact.name }}, {{ message.timestamp | date: 'shortTime'}}
                        </span>
                    </div>
                </igx-list-item>
                <igx-list-item [ngClass]="{
                    'others-message': true,
                    'others-message--first': isFirstMessage(messageIndex)}">
                    <span>
                        {{ message.message }}
                    </span>
                </igx-list-item>
            </ng-template>
            <ng-template #myMessage let-message="message" let-messageIndex="index">
                <igx-list-item class="contact" *ngIf="isFirstMessage(messageIndex)">
                    <span class="my-message__info">
                        {{ message.timestamp | date: 'shortTime'}}
                    </span>
                </igx-list-item>
                <igx-list-item class="my-message" [ngClass]="{
                    'my-message': true,
                    'my-message--first': isFirstMessage(messageIndex)}">
                    <span>
                        {{ message.message }}
                    </span>
                </igx-list-item>
            </ng-template>

            <ng-container *ngFor="let message of messagesService.getMessages(); index as i">
                <ng-container *ngTemplateOutlet="getMessageTemplate(message); context: {message: message, contact: contactsService.getContact(message.authorId), index: i}">
                </ng-container>
            </ng-container>
        </igx-list>

        <div class="chat-massage-field">
            <igx-input-group class="chat-input-group" type="box">
                <input class="input-round-box" placeholder="Send message" autocomplete="off" igxInput #newMessage name="newMessage"
                    [(ngModel)]="message" (keypress)="onMessageKeypress($event)" />
            </igx-input-group>
            <button class="send-message-button" igxButton="icon" igxButtonColor="#09f" igxButtonBackground="#fff"
                igxRipple="#09f" igxRippleCentered="true" (click)="onSendButtonClick()">
                <igx-icon fontSet="material">send</igx-icon>
            </button>
        </div>
    </form>
</div>
