<div class="icons_wrapper">
    <ng-container *ngFor="let icon of icons">
        <div class="drag_container" 
            igxDrag
            igxDrop
            #dragRef
            id="{{icon.id}}" 
            (dropped)="onIconDropped($event)" 
            (dragStart)="dragStartHandler(icon.id)"
            (ghostCreate)="ghostCreateHandler(dragRef)"
            (dragEnd)="dragEndHandler(dragRef)"
            (enter)="onEnterHandler($event)"
            [ghostClass]="'drag_ghost_class'">
            <span class="icon_container" draggable="false" onmousedown="if (event.preventDefault) event.preventDefault()">
                <img [src]="icon.url"/>
            </span>
        </div>
    </ng-container> 
</div>