.divider-sample {
    display: flex;
    padding: 20px;
    border: 1px solid #ededed;
    p {
        margin-top: 0;
    }
    .mt {
        margin-top: 16px;
    }
    .mb {
        margin-bottom: 0;
    }
}
