<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="data" rowSelection="multiple" cellSelection="none" primaryKey="ID"
        foreignKey="ParentID" height="530px" width="100%" [autoGenerate]="false" [paging]="true">
        <igx-column field="Name"></igx-column>
        <igx-column field="Title"></igx-column>
        <igx-column field="HireDate"></igx-column>
        <igx-column field="Age" width="15%"></igx-column>
        <igx-column field="OnPTO" width="15%"></igx-column>

        <ng-template igxHeadSelector>
            <div class="header-selector">
                <img src="assets/images/card/avatars/igLogo.png" class="header-image">
            </div>
        </ng-template>

        <ng-template igxRowSelector let-rowContext>
            <div class="row-selector">
                <span class="row-selector-index">{{ rowContext.index + 1 }}</span>
                <igx-checkbox class="row-selector-checkbox"
                    [checked]="rowContext.selected"
                    [readonly]="true"
                    disableRipple="true" [disableTransitions]="treeGrid.disableTransitions">
                </igx-checkbox>
            </div>
        </ng-template>
    </igx-tree-grid>
</div>
