.buttons-sample {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.button-sample {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 30%;
      flex: 1 0 30%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }

.density-chooser {
  margin-bottom: 24px; }
