igx-expansion-panel {
  display: -ms-flexbox;
  display: flex;
  font-size: .75rem;
  min-width: 50%;
  max-width: 50%;
  padding: 0;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
  igx-expansion-panel igx-expansion-panel-description, igx-expansion-panel igx-expansion-panel-body {
    font-size: .75rem;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto; }
  igx-expansion-panel .description {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
    padding: .5rem 1rem;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-direction: column;
        flex-direction: column; }

::ng-deep .expand {
  padding: 2px;
  background: transparent; }
  ::ng-deep .expand:hover {
    background: transparent; }
  ::ng-deep .expand .igx-expansion-panel__header-description {
    font-weight: bold; }

::ng-deep .igx-grid__tr:hover .expand {
  background: #fff; }

::ng-deep .dark-theme:hover .expand {
  background: #333; }

.employees-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-positive: 1;
      flex-grow: 1; }
  .employees-container--edit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-positive: 1;
        flex-grow: 1; }
    .employees-container--edit > igx-expansion-panel {
      display: -ms-flexbox;
      display: flex;
      min-width: 50%;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.grid__wrapper {
  margin: 0 auto;
  width: 950px; }
