<div class="date-picker-wrapper">
    <igx-date-picker [value]="date">
        <ng-template igxDatePickerTemplate let-openDialog="openDialog" let-value="value" let-displayData="displayData">
            <igx-input-group (click)="openDialog()">
                <igx-prefix>
                    <igx-icon>event_note</igx-icon>
                </igx-prefix>
                <label igxLabel>Date Picker</label>
                <input igxInput [value]="displayData"/>
            </igx-input-group>
            <label>{{value}}</label>
        </ng-template>
    </igx-date-picker>
</div>
