:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-grid {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem;
}

.size-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
}

.size-small {
    --ig-size: var(--ig-size-small);
}

.size-medium {
    --ig-size: var(--ig-size-medium);
}

.size-large {
    --ig-size: var(--ig-size-large);
}
