<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
    <h5 class="sample-title">CONTENT-FIT TABS</h5>
    <igx-navbar title="Contacts" actionButtonIcon="menu">
        <igx-icon>search</igx-icon>
        <igx-icon>more_vert</igx-icon>
    </igx-navbar>
    <igx-tabs>
        <igx-tabs-group label="HOME">Home content.</igx-tabs-group>
        <igx-tabs-group label="RECENT CONTACTS">Recent contacts list.</igx-tabs-group>
        <igx-tabs-group label="MORE INFORMATION ABOUT SELECTED CONTACT">More detailed contact information.</igx-tabs-group>
    </igx-tabs>
</div>

<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
    <h5 class="sample-title">FIXED TABS</h5>
    <igx-navbar title="Contacts" actionButtonIcon="menu">
        <igx-icon>search</igx-icon>
        <igx-icon>more_vert</igx-icon>
    </igx-navbar>
    <igx-tabs tabsType="fixed">
        <igx-tabs-group label="HOME">Home content.</igx-tabs-group>
        <igx-tabs-group label="RECENT CONTACTS">Recent contacts list.</igx-tabs-group>
        <igx-tabs-group label="MORE INFORMATION ABOUT SELECTED CONTACT">More detailed contact information.</igx-tabs-group>
    </igx-tabs>
</div>