:host {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

button {
  margin: 8px 0px; }

.combo-section {
  margin: 24px;
  width: 320px; }

.cities-container {
  max-height: 200px;
  overflow-y: auto; }
  .cities-container igx-card {
    margin: 8px 8px 8px 0; }
