<div class="sample-content">
    <article class="sample-column calendar-wrapper">
        <igx-calendar #component>
            <ng-container *ngIf="formatParts; else parseTemplate">
                <ng-template igxCalendarHeader let-parts>
                    {{ parts.month.combined | titlecase }} {{ parts.day.combined }} {{ parts.weekday.combined }}
                </ng-template>
                <ng-template igxCalendarSubheader let-parts>
                    <span class="date__el" (click)="parts.monthView()">{{ parts.month.combined }}</span>
                    <span class="date__el" (click)="parts.yearView()">{{ parts.year.combined }}</span>
                </ng-template>
            </ng-container>

            <!-- Parse template for browsers not supporting Intl -->
            <ng-template #parseTemplate>
                <ng-template igxCalendarHeader let-parts>
                    {{ parser.getDatePart(parts, component, 'month') | titlecase }}
                    {{ parser.getDatePart(parts, component, 'day') }}
                    {{ parser.getDatePart(parts, component, 'weekday') }}
                </ng-template>
                <ng-template igxCalendarSubheader let-parts>
                    <span class="date__el"
                        (click)="parts.monthView()">{{ parser.getDatePart(parts, component, 'month') }}</span>
                    <span class="date__el"
                        (click)="parts.yearView()">{{ parser.getDatePart(parts, component, 'year') }}</span>
                </ng-template>
            </ng-template>
        </igx-calendar>
    </article>
</div>
