.grid__wrapper {
    margin: 10px;
}

.cell__inner {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    justify-content: space-between;
}

.name {
    margin-left: 30px;
}
