<div style="width:300px; margin-bottom:20px">
    <igx-slider id="slider" [minValue]="0.1" [maxValue]="0.9" [step]="0.1" [isContinuous]="true" [(ngModel)]="mainIgxList.panEndTriggeringThreshold" ></igx-slider>
    <label>Threshold: {{panThreshold}}</label>
</div>

<div class="list-sample">
    <igx-list [allowLeftPanning]="true" [allowRightPanning]="true" #mainIgxList
        (onLeftPan)="leftPanPerformed($event)" (onRightPan)="rightPanPerformed($event)">
        <ng-template igxListItemLeftPanning>
            <div class="listItemLeftPanningStyle"><igx-icon name="delete" [color]="white" style="margin-left:10px"></igx-icon>Delete</div>
        </ng-template>
        <ng-template igxListItemRightPanning>
            <div class="listItemRightPanningStyle"><igx-icon name="call" [color]="white" style="margin-right:10px"></igx-icon>Dial</div>
        </ng-template>
        <igx-list-item isHeader="true">Contacts</igx-list-item>
        <igx-list-item #item *ngFor="let contact of contacts" igxRipple="pink" igxRippleTarget=".igx-list__item-content">
            <div class="item-container">
                <div class="contact">
                    <igx-avatar [src]="contact.photo" roundShape="true"></igx-avatar>
                    <div class="contact__info">
                        <span class="name">{{ contact.name }}</span>
                        <span class="phone">{{ contact.phone }}</span>
                    </div>
                </div>
                <igx-icon name="star" [color]="contact.isFavorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(contact)"></igx-icon>
            </div>
        </igx-list-item>
    </igx-list>
    <igx-toast #toast></igx-toast>
</div>

<button (click)="repopulateHandler()" style="margin-top:20px">Repopulate IgxList</button>
