<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll #treeGrid [batchEditing]="true" [data]="data" primaryKey="ID"
        foreignKey="ParentID" [width]="'100%'" [height]="'500px'" [rowEditable]="true"
        (onFormGroupCreate)="formCreateHandler($event)">
        <igx-column field="ID" header="ID" dataType="number" [editable]="false"></igx-column>
        <igx-column field="Age" header="Age" dataType="number" [editable]="true" required min="18" max="99">
        </igx-column>
        <igx-column field="Name" header="Full Name" dataType="string" [editable]="true" forbiddenName="bob" required>
            <ng-template igxCellValidationError>
                <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['forbiddenName']">
                    This name is forbidden.
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Title" header="Title" dataType="string" [editable]="true" required></igx-column>
        <igx-column field="HireDate" header="Hire Date" dataType="date" [editable]="true" required>
            <ng-template igxCellValidationError>
                <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['forbiddenDate']">
                    The date is invalid.
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="OnPTO" header="On PTO" dataType="boolean" [editable]="true"></igx-column>
    </igx-tree-grid>
</div>