<igx-card class="tp-app__backlog-card">
    <igx-card-header>
        <h1 igxCardHeaderTitle>Master Backlog</h1>
    </igx-card-header>
    <igx-divider></igx-divider>
    <igx-card-content>
        <igx-tabs>
            <igx-tabs-group label="unassigned">
                <igx-input-group type="search" class="tp-app__task-search">
                    <input #taskSearch igxInput placeholder="Search" />
                    <igx-prefix>
                        <igx-icon>search</igx-icon>
                    </igx-prefix>
                    <igx-suffix *ngIf="taskSearch.value.length > 0" (click)="clearSearchInput()">
                        <igx-icon>clear</igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <div class="tp-app__list-scroll">
                    <igx-list>
                        <igx-list-item *ngFor="let issue of issues">
                            <igx-icon igxListThumbnail>drag_indicator</igx-icon>
                            <h1 igxListLineTitle>{{ (issue.issue.length > 19) ? (issue.issue | slice:0:16) + '...': issue.issue }}</h1>
                            <h2 [class]="issue.priority.toLowerCase()" igxListLineSubTitle>
                                {{issue.priority}}
                            </h2>
                            <button igxListAction igxButton="icon" igxRipple igxRippleCentered="true">
                                <igx-icon>edit</igx-icon>
                            </button>
                            <button igxListAction igxButton="icon" igxRipple igxRippleCentered="true">
                                <igx-icon>delete</igx-icon>
                            </button>
                        </igx-list-item>
                        <ng-template igxDataLoading>

                        </ng-template>
                        <ng-template igxEmptyList>
                            No issues found
                        </ng-template>
                    </igx-list>
                </div>
            </igx-tabs-group>
        </igx-tabs>
    </igx-card-content>
</igx-card>
