<div class="wrapper">
    <div class="button-sample">
        <button class="!material-flat-icon-button-color-[#7B9E89]" igxIconButton="flat">
            <igx-icon>home</igx-icon>
        </button>
    </div>
    <div class="button-sample">
        <button class="!material-contained-icon-button-color-[#7B9E89] ![--active-background:#4F6A5A]" igxIconButton="contained">
            <igx-icon>home</igx-icon>
        </button>
    </div>
    <div class="button-sample">
        <button class="!material-outlined-icon-button-color-[#7B9E89]" igxIconButton="outlined">
            <igx-icon>home</igx-icon>
        </button>
    </div>
</div>
