.grid__wrapper {
    margin: 0 auto;
    padding: 5px;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

    igx-input-group {
        width: 80%;
    }

    igx-tree-grid {
        margin-top: 25px;
    }
}

@keyframes popin {
    0% {
        opacity: 0.1;
        transform: scale(.75, .75);
        filter: blur(3px) invert(1);
    }

    50% {
        opacity: .5;
        filter: blur(1px);
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
        filter: none;
    }
}