<div class="grid__wrapper">
    <igx-tree-grid [igxPreventDocumentScroll]="true"  #grid1 [data]="localData" childDataKey="Employees" width="100%" height="500px"
        displayDensity="compact" (gridKeydown)="customKeydown($event)" [moving]="true" [autoGenerate]="false" [rowSelection]="selectionMode" [allowFiltering]="true">
        <igx-paginator></igx-paginator>
        <igx-column field="HireDate" dataType="date" [sortable]="true" [editable]="true"
            [resizable]="true"></igx-column>
        <igx-column field="Age" dataType="number" [sortable]="true" [editable]="true"
            [resizable]="true"></igx-column>
        <igx-column field="Name" dataType="string" [sortable]="true" [editable]="true"
            [resizable]="true"></igx-column>
    </igx-tree-grid>
</div>
