<div class="sample-wrapper date-picker-wrapper">
  <h4 class="sample-title">Date Picker with a Japanese locale</h4>
  <p class="sample-description">Date Picker supports locales.</p>
  <div>
<igx-datePicker id="date-picker" locale="ja-JP" [value]="date">
  <ng-template igxCalendarHeader let-format>
    {{ format.month.combined | titlecase }}{{format.day.combined }}{{ format.weekday.combined }}
  </ng-template>
  <ng-template igxCalendarSubheader let-format>
    <span class="date__el" (click)="format.yearView()">{{ format.year.combined }}</span>
    <span class="date__el" (click)="format.monthView()">{{ format.month.combined | titlecase }}</span>
  </ng-template>
</igx-datePicker>
  </div>
</div>
