@use "layout.scss";
@use "igniteui-angular/theming" as *;

$my-drop-down-theme: drop-down-theme(
  $background-color: #efefef
);

$my-overlay-theme: overlay-theme(
  $background-color: rgba(0, 153, 255, 0.3)
);

:host {
    @include tokens($my-overlay-theme);
    @include tokens($my-drop-down-theme);
}
