<button igxButton [igxToggleAction]="dropdown1" [overlaySettings]="{outlet:element, modal: true}"
    [igxDropDownItemNavigation]="dropdown1">
    Custom
</button>
<igx-drop-down #dropdown1 height="350px">
    <igx-drop-down-item *ngFor="let item of items" [value]="item.id" [isHeader]="item.header"
        [selected]="item.id === 102">
        {{ item.name }}
    </igx-drop-down-item>
</igx-drop-down>

<button igxButton [igxToggleAction]="dropdown2" [igxDropDownItemNavigation]="dropdown2" [overlaySettings]="{modal: true}">
    Default
</button>
<igx-drop-down #dropdown2 height="350px">
    <igx-drop-down-item *ngFor="let item of items" [value]="item.id" [isHeader]="item.header"
        [selected]="item.id === 102">
        {{ item.name }}
    </igx-drop-down-item>
</igx-drop-down>