@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$custom-grid: igx-grid-theme(
    $filtering-row-background: #292826
);

$custom-button: igx-button-theme(
    $disabled-color: gray,

    $outlined-text-color: #FFCD0F,
    $outlined-outline-color: #FFCD0F,
    $outlined-hover-text-color: #292826,
    $outlined-hover-background: #FFCD0F,
    $outlined-focus-text-color: #292826,
    $outlined-focus-background: #807449,

    $icon-color: #FFCD0F,
    $icon-hover-color: #FFCD0F,

    $flat-text-color: #FFCD0F,
    $flat-hover-text-color: #292826,
    $flat-hover-background: #FFCD0F,
    $flat-focus-text-color: #292826,
    $flat-focus-background: #807449,

    $raised-background: #FFCD0F,
    $raised-text-color: #292826,
    $raised-hover-background: #ffe482,
    $raised-hover-text-color: #292826
);

$custom-button-group: igx-button-group-theme(
    $item-background:  #292826,
    $item-text-color: #FFCD0F,
    $item-border-color: #FFCD0F,
    $item-selected-background: #FFCD0F,
    $item-hover-background: #FFCD0F,
    $item-selected-hover-background: #FFCD0F
);

$custom-input-group: igx-input-group-theme(
    $box-background: #4a4a4a,
    $box-disabled-background: #404040,
    $idle-text-color: #FFCD0F,
    $focused-text-color: #FFCD0F,
    $filled-text-color: #FFCD0F,
    $idle-bottom-line-color: #ffe482,
    $focused-secondary-color: #FFCD0F
);

$custom-chip: igx-chip-theme(
    $background: #FFCD0F,
    $text-color: #292826
);

$custom-drop-down: igx-drop-down-theme(
    $background-color: #292826,
    $item-text-color: #FFCD0F,
    $hover-item-background: #FFCD0F,
    $hover-item-text-color: #292826,
    $focused-item-background: #FFCD0F,
    $focused-item-text-color: #292826,
    $selected-item-background: #FFCD0F,
    $selected-item-text-color: #292826,
    $selected-focus-item-background: #FFCD0F,
    $selected-focus-item-text-color: #292826,
    $selected-hover-item-background: #FFCD0F,
    $selected-hover-item-text-color: #292826,
);

/*ENHANCED APPROACHES*/

// $yellow-color: #FFCD0F;
// $black-color: #292826;
// $dark-palette: igx-palette($primary: $yellow-color, $secondary: $black-color);

/*PALETTE and IGX-COLOR*/

// $custom-grid: igx-grid-theme(
//     $filtering-row-background: igx-color($dark-palette, "secondary", 400)
// );

// $custom-button: igx-button-theme(
//     $disabled-color: igx-color($dark-palette, "secondary", 100),
//     $outlined-text-color: igx-color($dark-palette, "primary", 400),
//     $outlined-outline-color: igx-color($dark-palette, "primary", 400),
//     $outlined-hover-text-color: igx-color($dark-palette, "secondary", 400),
//     $outlined-hover-background: igx-color($dark-palette, "primary", 400),
//     $outlined-focus-text-color: igx-color($dark-palette, "secondary", 400),
//     $outlined-focus-background: igx-color($dark-palette, "primary", 900),
//     $icon-color: igx-color($dark-palette, "primary", 400),
//     $icon-hover-color: igx-color($dark-palette, "primary", 400),
//     $flat-text-color: igx-color($dark-palette, "primary", 400),
//     $flat-hover-text-color: igx-color($dark-palette, "secondary", 400),
//     $flat-hover-background: igx-color($dark-palette, "primary", 400),
//     $flat-focus-text-color: igx-color($dark-palette, "secondary", 400),
//     $flat-focus-background: igx-color($dark-palette, "primary", 900),
//     $raised-background: igx-color($dark-palette, "primary", 400),
//     $raised-text-color: igx-color($dark-palette, "secondary", 400),
//     $raised-hover-background: igx-color($dark-palette, "primary", 200),
//     $raised-hover-text-color: igx-color($dark-palette, "secondary", 400)
// );

// $custom-button-group: igx-button-group-theme(
//     $item-background:  igx-color($dark-palette, "secondary", 400),
//     $item-text-color: igx-color($dark-palette, "primary", 400),
//     $item-border-color: igx-color($dark-palette, "primary", 400),
//     $item-selected-background: igx-color($dark-palette, "primary", 400),
//     $item-hover-background: igx-color($dark-palette, "primary", 400),
//     $item-selected-hover-background: igx-color($dark-palette, "primary", 400)
// );

// $custom-input-group: igx-input-group-theme(
//     $box-background: igx-color($dark-palette, "secondary", 200),
//     $box-disabled-background: igx-color($dark-palette, "secondary", 200),
//     $idle-text-color: igx-color($dark-palette, "primary", 400),
//     $focused-text-color: igx-color($dark-palette, "primary", 400),
//     $filled-text-color: igx-color($dark-palette, "primary", 400),
//     $idle-bottom-line-color: igx-color($dark-palette, "primary", 400),
//     $focused-secondary-color: igx-color($dark-palette, "primary", 100)
// );

// $custom-chip: igx-chip-theme(
//     $background: igx-color($dark-palette, "primary", 400),
//     $text-color: igx-color($dark-palette, "secondary", 400)
// );

// $custom-drop-down: igx-drop-down-theme(
//     $background-color: igx-color($dark-palette, "secondary", 400),
//     $item-text-color: igx-color($dark-palette, "primary", 400),
//     $hover-item-background: igx-color($dark-palette, "primary", 400),
//     $hover-item-text-color: igx-color($dark-palette, "secondary", 400),
//     $focused-item-background: igx-color($dark-palette, "primary", 100),
//     $focused-item-text-color: igx-color($dark-palette, "secondary", 400),
//     $selected-item-background: igx-color($dark-palette, "primary", 400),
//     $selected-item-text-color: igx-color($dark-palette, "secondary", 400),
//     $selected-focus-item-background: igx-color($dark-palette, "primary", 400),
//     $selected-focus-item-text-color: igx-color($dark-palette, "secondary", 400),
//     $selected-hover-item-background: igx-color($dark-palette, "primary", 400),
//     $selected-hover-item-text-color: igx-color($dark-palette, "secondary", 400),
// );

/*SCHEMAS*/

// $grid-dark-palette: igx-palette($primary: #11bd7b, $secondary: #e32057, $info: $black-color);

// $custom-grid-schema: extend($_light-grid,
//     (
//         filtering-row-background:(
//             igx-color: ("info")
//         )
//     )
// );

// $custom-button-schema: extend($_light-button,
//     (
//         disabled-color:(
//             igx-color: ("secondary", 100)
//         ),
//         outlined-text-color: (
//             igx-color: ("primary", 400)
//         ),
//         outlined-outline-color:(
//             igx-color: ("primary", 400)
//         ),
//         outlined-hover-text-color: (
//             igx-color: ("secondary", 400)
//         ),
//         outlined-hover-background: (
//             igx-color: ("primary", 400)
//         ),
//         outlined-focus-text-color: (
//             igx-color: ("secondary", 400)
//         ),
//         outlined-focus-background: (
//             igx-color: ("primary", 900)
//         ),
//         icon-color:(
//             igx-color: ("primary", 400)
//         ),
//         icon-hover-color:(
//             igx-color: ("primary", 400)
//         ),
//         flat-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         flat-hover-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         flat-hover-background:(
//             igx-color: ("primary", 400)
//         ),
//         flat-focus-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         flat-focus-background:(
//             igx-color: ("primary", 900)
//         ),
//         raised-background:(
//             igx-color: ("primary", 400)
//         ),
//         raised-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         raised-hover-background:(
//             igx-color: ("primary", 200)
//         ),
//         raised-hover-text-color:(
//             igx-color: ("secondary", 400)
//         )
//     )
// );

// $custom-button-group-schema: extend($_light-button-group,
//     (
//         item-background:(
//             igx-color: ("secondary", 400)
//         ),
//         item-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         item-border-color:(
//             igx-color: ("primary", 400)
//         ),
//         item-selected-background:(
//             igx-color: ("primary", 400)
//         ),
//         item-hover-background:(
//             igx-color: ("primary", 400)
//         ),
//         item-selected-hover-background:(
//             igx-color: ("primary", 400)
//         )
//     )
// );

// $custom-input-group-schema: extend($_light-input-group,
//     (
//         box-background:(
//             igx-color: ("secondary", 200)
//         ),
//         box-disabled-background:(
//             igx-color: ("secondary", 200)
//         ),
//         idle-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         focused-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         filled-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         idle-bottom-line-color:(
//             igx-color: ("primary", 400)
//         ),
//         focused-secondary-color:(
//             igx-color: ("primary", 100)
//         )
//     )
// );

// $custom-chip-schema: extend($_light-chip,
//     (
//         background:(
//             igx-color: ("primary", 400)
//         ),
//         text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         hover-background: (
//             igx-color: ("primary", 800)
//         ),
//         focus-background: (
//             igx-color: ("primary", 800)
//         ),
//         selected-background: (
//             igx-color: ("primary", 800)
//         ),
//         hover-selected-background: (
//             igx-color: ("primary", 800)
//         ),
//         focus-selected-background: (
//             igx-color: ("primary", 800)
//         )
//     )
// );

// $custom-drop-down-schema: extend($_light-drop-down,
//     (
//         background-color:(
//             igx-color: ("secondary", 400)
//         ),
//         item-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         hover-item-background:(
//             igx-color: ("primary", 400)
//         ),
//         hover-item-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         focused-item-background:(
//             igx-color: ("primary", 100)
//         ),
//         focused-item-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         selected-item-background:(
//             igx-color: ("primary", 400)
//         ),
//         selected-item-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         selected-focus-item-background:(
//             igx-color: ("primary", 400)
//         ),
//         selected-focus-item-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         selected-hover-item-background:(
//             igx-color: ("primary", 400)
//         ),
//         selected-hover-item-text-color:(
//             igx-color: ("secondary", 400)
//         )
//     )
// );

// $custom-light-schema: extend($light-schema,(
//     igx-grid: $custom-grid-schema,
//     igx-button: $custom-button-schema,
//     igx-button-group: $custom-button-group-schema,
//     igx-input-group: $custom-input-group-schema,
//     igx-chip: $custom-chip-schema,
//     igx-drop-down: $custom-drop-down-schema
// ));

// $custom-grid: igx-grid-theme(
//     $palette: $grid-dark-palette,
//     $schema: $custom-light-schema
// );

// $custom-button: igx-button-theme(
//     $palette: $dark-palette,
//     $schema: $custom-light-schema
// );

// $custom-button-group: igx-button-group-theme(
//     $palette: $dark-palette,
//     $schema: $custom-light-schema
// );

// $custom-input-group: igx-input-group-theme(
//     $palette: $dark-palette,
//     $schema: $custom-light-schema
// );

// $custom-chip: igx-chip-theme(
//     $palette: $dark-palette,
//     $schema: $custom-light-schema
// );

// $custom-drop-down: igx-drop-down-theme(
//     $palette: $dark-palette,
//     $schema: $custom-light-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    ::ng-deep {
        @include igx-grid($custom-grid);
        igx-advanced-filtering-dialog {
            @include igx-button($custom-button);
            @include igx-button-group($custom-button-group);
            @include igx-input-group($custom-input-group);
            @include igx-chip($custom-chip);
            @include igx-drop-down($custom-drop-down);
            .igx-input-group__input::placeholder {
                color: gray;
            }
            .igx-filter-empty__title {
                color: #FFCD0F
            }
            .igx-advanced-filter__header {
                color: #FFCD0F
            }
            .igx-filter-tree__expression-actions igx-icon {
                color: #FFCD0F
            }
            .igx-filter-tree__expression-actions igx-icon:hover {
                color: #ffe482
            }
            .igx-filter-tree__expression-actions igx-icon:focus {
                color: #ffe482
            }
            .igx-filter-contextual-menu {
                border: 1px solid #FFCD0F
            }
            .igx-filter-contextual-menu__close-btn {
                position: absolute !important;
                background: #292826 !important;
                border-color: #FFCD0F !important;
            }
        }
    }
}

.grid__wrapper {
    margin: 15px;
}
