<div class="grid__wrapper">
    <igx-hierarchical-grid [igxPreventDocumentScroll]="true"  #hGrid [primaryKey]="'customerId'" [autoGenerate]="false" [height]="'580px'" [width]="'100%'">
        <igx-column field="customerId" [hidden]="true"></igx-column>
        <igx-column field="companyName"></igx-column>
        <igx-column field="contactName"></igx-column>
        <igx-column field="contactTitle"></igx-column>
        <igx-column field="address.country"></igx-column>
        <igx-column field="address.phone"></igx-column>
        <igx-row-island [height]="null" [key]="'orders'" [primaryKey]="'orderId'" [autoGenerate]="false"  (gridCreated)="gridCreated($event, 'customers')" [width]="'100%'">
            <igx-column field="orderID" [hidden]="true"></igx-column>
            <igx-column field="shipAddress.country"></igx-column>
            <igx-column field="shipAddress.city"></igx-column>
            <igx-column field="shipAddress.street"></igx-column>
            <igx-column field="orderDate" [formatter]="dateFormatter"></igx-column>
            <igx-row-island [height]="null" [key]="'details'" [primaryKey]="'productId'" [autoGenerate]="false" (gridCreated)="gridCreated($event, 'orders')">
                <igx-column field="productID" [hidden]="true"></igx-column>
                <igx-column field="quantity"></igx-column>
                <igx-column field="unitPrice"></igx-column>
                <igx-column field="discount"></igx-column>
            </igx-row-island>
        </igx-row-island>
    </igx-hierarchical-grid>
</div>
