@use '../../../variables' as *;

$custom-column-actions-theme: igx-column-actions-theme(
    $background-color: steelblue,
    $title-color: gold
);

$custom-button: igx-button-theme($foreground: gold, $disabled-foreground: black);

:host {
    ::ng-deep {
        @include igx-column-actions($custom-column-actions-theme);
        .igx-column-actions {
            @include igx-button($custom-button);
        }
    }
}

.grid__wrapper {
    margin: 10px;
}
