@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-column-actions-theme: column-actions-theme(
  $background-color: steelblue,
  $title-color: gold
);

$custom-button: flat-button-theme(
  $foreground: gold,
  $disabled-foreground: black
);

:host ::ng-deep{
  @include tokens($custom-column-actions-theme);
  @include tokens($custom-button);
}
