@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-column-actions-theme: column-actions-theme(
  $background-color: steelblue,
  $title-color: gold
);

$custom-button: button-theme(
  $foreground: gold, 
  $disabled-foreground: black
);

:host {
  ::ng-deep {
    @include css-vars($custom-column-actions-theme);
    .igx-column-actions {
      @include css-vars($custom-button);
    }
  }
}
 