.drop-down-wrapper{
    display: flex; 
    flex-direction: column
}

.igx-drop-down__list {
    border-radius: 4px;
}

.igx-navbar 
{
    width: 30%;
    margin: 0px 5px
}

.textContainer {
    width: 30%; 
    height: 100px; 
    margin: 0px 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

label {
    margin: 15px;
}

.overlayOutlet {
    z-index: 99; 
    position: relative;
}