<div class="grid-container">
        <igx-grid igxPreventDocumentScroll #sourceGrid [data]="data1" [height]="'480px'" [width]="'640px'" [autoGenerate]="false"
            [rowDraggable]="true" [primaryKey]="'ID'" (onRowDragStart)="onRowDragStart($event)"
            (onRowDragEnd)="onRowDragEnd($event)" [cellSelection]="'none'" [rowSelection]="selectionMode">
            <igx-column [field]="'ID'" [header]="'ID'" width="100px"></igx-column>
            <igx-column [field]="'CompanyName'" [header]="'Company Name'" width="100px"></igx-column>
            <igx-column [field]="'ContactName'" [header]="'Contact Name'" width="100px" [minWidth]="'60px'"
                [maxWidth]="'230px'"></igx-column>
            <igx-column [field]="'ContactTitle'" [header]="'Contact Title'" width="100px"></igx-column>
            <igx-column [field]="'Address'" [header]="'Address'" width="100px"></igx-column>
            <igx-column [field]="'City'" [header]="'City'" width="100px"></igx-column>
            <igx-column [field]="'Region'" [header]="'Region'" width="100px"></igx-column>
            <igx-column [field]="'PostalCode'" [header]="'Postal Code'" width="100px"></igx-column>
            <igx-column [field]="'Phone'" [header]="'Phone'" width="100px"></igx-column>
            <igx-column [field]="'Fax'" [header]="'Fax'" width="100px"></igx-column>
            <ng-template let-data igxRowDragGhost>
                <div class="allow-drop"> 
                    <igx-icon fontSet="material">{{dragIcon}}{{countIcon}}</igx-icon> 
                </div>
            </ng-template>
        </igx-grid>
        
        <igx-grid igxPreventDocumentScroll #targetGrid igxDrop [data]="data2" [height]="'480px'" [width]="'640px'" [autoGenerate]="false"
            [emptyGridTemplate]="dragHereTemplate" (enter)="onEnter($event)" (leave)="onLeave($event)"
            (dropped)="onDropAllowed($event)" [primaryKey]="'ID'">
            <igx-column [field]="'ID'" [header]="'ID'" width="100px"></igx-column>
            <igx-column [field]="'CompanyName'" [header]="'Company Name'" width="100px"></igx-column>
            <igx-column [field]="'ContactName'" [header]="'Contact Name'" width="100px" [minWidth]="'60px'"
                [maxWidth]="'230px'"></igx-column>
            <igx-column [field]="'ContactTitle'" [header]="'Contact Title'" width="100px"></igx-column>
            <igx-column [field]="'Address'" [header]="'Address'" width="100px"></igx-column>
            <igx-column [field]="'City'" [header]="'City'" width="100px"></igx-column>
            <igx-column [field]="'Region'" [header]="'Region'" width="100px"></igx-column>
            <igx-column [field]="'PostalCode'" [header]="'Postal Code'" width="100px"></igx-column>
            <igx-column [field]="'Phone'" [header]="'Phone'" width="100px"></igx-column>
            <igx-column [field]="'Fax'" [header]="'Fax'" width="100px"></igx-column>
            <ng-template #dragHereTemplate>
                <div class="empty-grid">Drop a row to add it to the grid</div>
            </ng-template>
        </igx-grid>
    </div>