@import 'dark-theme';
:host {
    display: block;
    margin: 16px;
    box-shadow: igx-elevation($elevations, 12);
    //Set the dark themes for the components.
    &.dark-theme {
        background: $dark-color;
        ::ng-deep {
          @include igx-grid($dark-grid-theme);
          @include igx-paginator($dark-paginator-theme);
          @include igx-dialog($dark-dialog-theme);
          @include igx-input-group($dark-input-group-theme);
          @include igx-snackbar($dark-snackbar-theme);
          @include igx-button($dark-button-theme);
          @include igx-button-group($dark-button-group-theme);
          @include igx-calendar($dark-calendar-theme);
          @include igx-chip($dark-chip-theme);
          @include igx-icon($dark-icon-theme);
          @include igx-drop-down($dark-drop-down-theme);
          @include igx-badge($dark-badge-theme);
        }
      }
}