@use 'dark-theme';
:host {
    display: block;
    margin: 16px;
    box-shadow: elevation(12);
    //Set the dark themes for the components.
    &.dark-theme {
        background: $dark-color;
        ::ng-deep {
          @include tokens($dark-grid-theme);
          @include tokens($dark-paginator-theme);
          @include tokens($dark-dialog-theme);
          @include tokens($dark-input-group-theme);
          @include tokens($dark-snackbar-theme);
          @include tokens($dark-button-theme);
          @include tokens($dark-button-group-theme);
          @include tokens($dark-calendar-theme);
          @include tokens($dark-chip-theme);
          @include tokens($dark-icon-theme);
          @include tokens($dark-drop-down-theme);
          @include tokens($dark-badge-theme);
        }
      }
}
