@use 'igniteui-angular/theming' as *;

// Import grid component and theme styles
@use '~igniteui-angular/lib/core/styles/components/grid/grid-component';
@use '~igniteui-angular/lib/core/styles/components/grid/grid-theme';

// Import paginator component and theme styles
@use '~igniteui-angular/lib/core/styles/components/paginator/paginator-component';
@use '~igniteui-angular/lib/core/styles/components/paginator/paginator-theme';

// Import dialog-group component and theme styles
@use '~igniteui-angular/lib/core/styles/components/dialog/dialog-component';
@use '~igniteui-angular/lib/core/styles/components/dialog/dialog-theme';

// Import input-group component and theme styles
@use '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@use '~igniteui-angular/lib/core/styles/components/input/input-group-theme';

// Import grid snackbar and theme styles
@use '~igniteui-angular/lib/core/styles/components/snackbar/snackbar-component';
@use '~igniteui-angular/lib/core/styles/components/snackbar/snackbar-theme';

// Import button component and theme styles
@use '~igniteui-angular/lib/core/styles/components/button/button-component';
@use '~igniteui-angular/lib/core/styles/components/button/button-theme';

// Import button-group component and theme styles
@use '~igniteui-angular/lib/core/styles/components/button-group/button-group-component';
@use '~igniteui-angular/lib/core/styles/components/button-group/button-group-theme';

// Import chip component and theme styles
@use '~igniteui-angular/lib/core/styles/components/chip/chip-component';
@use '~igniteui-angular/lib/core/styles/components/chip/chip-theme';

// Import badge component and theme styles
@use '~igniteui-angular/lib/core/styles/components/badge/badge-component';
@use '~igniteui-angular/lib/core/styles/components/badge/badge-theme';

// Define the primary colors
$dark-color: #282828;

// Define the secondary colors
$orange-color: #FFA500;

// Define the palettes:
$dark-theme-palette: palette($primary: $dark-color, $secondary: $orange-color);

$dark-grid-theme: grid-theme(
$content-background: color($dark-theme-palette, "secondary", 100),
$header-background: color($dark-theme-palette, "primary", 500),
$header-text-color: color($dark-theme-palette, "secondary", 600),
$cell-selected-background: color($dark-theme-palette, "primary", 500),
$cell-selected-text-color: color($dark-theme-palette, "secondary", 500),
$row-hover-background: color($dark-theme-palette, "primary", 100),
$header-border-color: color($dark-theme-palette, "primary", 600)
);

// Define dark theme for the paginator
$dark-paginator-theme: paginator-theme(
  $text-color: color($dark-theme-palette, "secondary", 700),
  $background-color: color($dark-theme-palette, "primary", 500),
  $border-color: color($dark-theme-palette, "secondary", 500)
);

// Define dark theme for the dialog
$dark-dialog-theme: dialog-theme(
$background: color($dark-theme-palette, "primary", 100),
$title-color: color($dark-theme-palette, "secondary", 500),
$message-color: color($dark-theme-palette, "secondary", 600)
);

// Define dark theme for the input-group
$dark-input-group-theme: input-group-theme(
$box-background:  color($dark-theme-palette, "primary", 100),
$disabled-border-color: color($dark-theme-palette, "primary", 500),
$box-disabled-background: color($dark-theme-palette, "secondary", 100),
$hover-bottom-line-color: color($dark-theme-palette, "secondary", 700),
$focused-bottom-line-color: color($dark-theme-palette, "secondary", 700),
$focused-text-color: color($dark-theme-palette, "secondary", 500),
$idle-text-color: color($dark-theme-palette, "secondary", 700)
);

// Define dark theme for the snackbar
$dark-snackbar-theme: snackbar-theme(
$background: color($dark-theme-palette, "primary", 100),
$text-color: color($dark-theme-palette, "secondary", 500)
);

// Define dark theme for the button-group
$dark-button-group-theme: button-group-theme(
$item-text-color: color($dark-theme-palette, "primary", 500),
$item-background: color($dark-theme-palette, "secondary", 500),
$item-selected-background: color($dark-theme-palette, "primary", 200),
$item-selected-text-color: color($dark-theme-palette, "secondary", 500)
);

// Define dark theme for the button
$dark-button-theme: button-theme(
$foreground: color($dark-theme-palette, "secondary", 700),
$hover-foreground: color($dark-theme-palette, "primary", 500),
$hover-background: color($dark-theme-palette, "secondary", 500),
$focus-foreground: color($dark-theme-palette, "primary", 500),
$focus-background: color($dark-theme-palette, "secondary", 500),
$disabled-background: color($dark-theme-palette, "primary", 400),
$disabled-foreground: color($dark-theme-palette, "primary", 700)
);

// Define dark theme for the chip
$dark-chip-theme: chip-theme(
    $text-color: color($dark-theme-palette, "primary", 500),
    $background: color($dark-theme-palette, "secondary", 500),
);

// Define dark theme for the badge
$dark-badge-theme: badge-theme(
    $background-color: color($dark-theme-palette, "secondary", 500)
);
