@use 'dark-theme';
:host {
    display: block;
    margin: 16px;
    box-shadow: elevation($igx-elevations, 12);
    //Set the dark themes for the components.
    &.dark-theme {
        background: $dark-color;
        ::ng-deep {
          @include grid($dark-grid-theme);
          @include paginator($dark-paginator-theme);
          @include dialog($dark-dialog-theme);
          @include input-group($dark-input-group-theme);
          @include snackbar($dark-snackbar-theme);
          @include button($dark-button-theme);
          @include button-group($dark-button-group-theme);
          @include calendar($dark-calendar-theme);
          @include chip($dark-chip-theme);
          @include icon($dark-icon-theme);
          @include drop-down($dark-drop-down-theme);
          @include badge($dark-badge-theme);
        }
      }
}
