@import '~igniteui-angular/lib/core/styles/themes/utilities';

$black-color: #000000;
$aqua-color: #00BFFF;

$black-theme-palette: igx-palette($primary: $black-color, $secondary: $aqua-color, $grays: #fff);

$_black-snackbar-schema: extend($_dark-snackbar,
        (
            background:(
                igx-color:("primary", 100)
            ),
            text-color:(
                igx-color:("secondary", 500)
            )
        )  
);

$_black-dialog-schema: extend($_dark-dialog,
        (
            background:(
                igx-color:("primary", 100)
            ),
            title-color:(
                igx-color:("secondary", 500)
            ),
            message-color:(
                igx-color:("secondary", 600)
            )
        )
);

$_black-input-group-schema: extend($_dark-input-group,
        (
            box-background:(
                igx-color:("primary", 100)
            ),
            disabled-border-color:(
                igx-color:("secondary", 500)
            ),
            focused-bottom-line-color:(
                igx-color:("secondary", 700)
            ),
            focused-text-color:(
                igx-color:("secondary", 700)
            ),
            focused-secondary-color:(
                igx-color:("secondary", 700)
            ),
            idle-text-color:(
                igx-color:("secondary", 700)
            ),
            box-disabled-background:(
                igx-color:("primary", 100)
            )
        )
);

$_black-button-schema: extend($_dark-button,
        (  
            icon-color:(
                igx-color:("secondary", 700)
            ),
            icon-hover-color:(
                igx-color:("primary", 500)
            ),
            icon-hover-background:(
                igx-color:("secondary", 500)
            ),
            icon-focus-color:(
                igx-color:("primary", 500)
            ),
            icon-focus-background:(
                igx-color:("secondary", 500)
            ),
            disabled-background:(
                igx-color:("primary", 300)
            ),
            disabled-color:(
                igx-color:("primary", 500)
            )
        )
);

$_black-button-group-schema: extend($_dark-button-group,
        (
            item-text-color:(
                igx-color:("primary", 500)
            ),
            item-background:(
                igx-color:("secondary", 500)
            ),
            item-selected-background:(
                igx-color:("primary", 200)
            ),
            item-selected-text-color:(
                igx-color:("secondary", 500)
            )
        )
);

$_black-grid-schema: extend($_dark-grid,
        (
            content-background:(
                igx-color:("primary", 100)
            ),
            header-background:(
                igx-color:("primary", 700)
            ),
            header-border-color:(
                igx-color:("secondary", 500)
            ),
            header-text-color:(
                igx-color:("secondary", 500)
            ),
            cell-selected-background:(
                igx-color:("primary", 500)
            ),
            cell-selected-text-color:(
                igx-color:("secondary", 500)
            ),
            row-hover-background:(
                igx-color:("secondary", 100)
            ),
            content-text-color: white,
            row-hover-text-color:(
                igx-color:("primary", 700)
            ),   
        )
);

$_black-paginator-schema: extend($_dark-pagination,
        (
            text-color:(
                igx-color: ("secondary", 700)
            ),
            background-color:(
                igx-color: ("primary", 700)
            ),
            border-color:(
                igx-color:( "secondary", 500)
            )
        )
);

$_black-calendar-schema: extend($_dark-calendar,
        (
            content-background:(
                igx-color:("primary", 100)
            ),
            content-text-color:(
                igx-color:("secondary", 500)
            ),
            picker-text-hover-color:(
                igx-color:("secondary", 500)
            ),
            picker-text-color:(
                igx-color:("primary", 700)
            ),
            picker-arrow-color:(
                igx-color:("primary", 700)
            ),
            picker-arrow-hover-color:(
                igx-color: ("secondary", 500)
            ),
            inactive-text-color:(
                igx-color: ("primary", 700)
            )
        )
);

$_black-badge-schema: extend($_dark-badge,
        (
            background-color:(
                igx-color: ("primary", 200)
            )
        )
);

$my-black-schema: extend( $dark-schema, (
        igx-snackbar: $_black-snackbar-schema,
        igx-dialog: $_black-dialog-schema,
        igx-input-group: $_black-input-group-schema,
        igx-button: $_black-button-schema,
        igx-button-group: $_black-button-group-schema,
        igx-grid: $_black-grid-schema,
        igx-paginator: $_black-paginator-schema,
        igx-calendar: $_black-calendar-schema,
        igx-badge: $_black-badge-schema 
    )
);