@use 'themes';

:host {
    display: block;
    margin: 16px;
    box-shadow: elevation($igx-elevations, 12);


  //Set the light themes for the components.
    &.light-theme {
      background: $light-color;
      ::ng-deep {
        .sort-icon.material-icons.igx-icon {
            color: white;
        }
        @include grid($light-grid-theme);
        @include snackbar($light-snackbar-theme);
        @include input-group($light-input-group-theme);
        @include paginator($light-paginator-theme);
        @include button($light-button-theme);
        @include dialog($light-dialog-theme);
        @include button-group($light-button-group-theme);
        @include calendar($light-calendar-theme);
        @include icon($light-icon-theme);
        @include chip($light-chip-theme);
        @include drop-down($light-drop-down-theme);
        @include badge($light-badge-theme);
      }
    }

    //Set the dark themes for the components.
    &.dark-theme {
      background: $dark-color;
      ::ng-deep {
        @include grid($dark-grid-theme);
        @include snackbar($dark-snackbar-theme);
        @include input-group($dark-input-group-theme);
        @include paginator($dark-paginator-theme);
        @include button($dark-button-theme);
        @include dialog($dark-dialog-theme);
        @include button-group($dark-button-group-theme);
        @include calendar($dark-calendar-theme);
        @include icon($dark-icon-theme);
        @include chip($dark-chip-theme);
        @include drop-down($dark-drop-down-theme);
        @include badge($dark-badge-theme);
      }
    }

     //Set the black themes for the components.
    &.black-theme {
      background: $black-color;
      ::ng-deep {
        @include grid($black-grid-theme);
        @include snackbar($black-snackbar-theme);
        @include input-group($black-input-group-theme);
        @include paginator($black-paginator-theme);
        @include button($black-button-theme);
        @include dialog($black-dialog-theme);
        @include button-group($black-button-group-theme);
        @include calendar($black-calendar-theme);
        @include icon($black-icon-theme);
        @include chip($black-chip-theme);
        @include drop-down($black-drop-down-theme);
        @include badge($black-badge-theme);

        .igx-drop-down__list{
            background: $black-color;
          }

      }
    }
  }
