@use 'schemas';

// Import grid component and theme styles
@use '~igniteui-angular/lib/core/styles/components/grid/grid-component';
@use '~igniteui-angular/lib/core/styles//components/grid/grid-theme';

// Import grid snackbar and theme styles
@use '~igniteui-angular/lib/core/styles//components/snackbar/snackbar-component';
@use '~igniteui-angular/lib/core/styles//components/snackbar/snackbar-theme';

// Import input-group component and theme styles
@use '~igniteui-angular/lib/core/styles//components/input/input-group-component';
@use '~igniteui-angular/lib/core/styles//components/input/input-group-theme';

// Import dialog-group component and theme styles
@use '~igniteui-angular/lib/core/styles//components/dialog/dialog-component';
@use '~igniteui-angular/lib/core/styles//components/dialog/dialog-theme';

// Import paginator component and theme styles
@use '~igniteui-angular/lib/core/styles//components/paginator/paginator-component';
@use '~igniteui-angular/lib/core/styles//components/paginator/paginator-theme';

// Import button component and theme styles
@use '~igniteui-angular/lib/core/styles//components/button/button-component';
@use '~igniteui-angular/lib/core/styles//components/button/button-theme';

// Import button-group component and theme styles
@use '~igniteui-angular/lib/core/styles//components/button-group/button-group-component';
@use '~igniteui-angular/lib/core/styles//components/button-group/button-group-theme';

// Import drop-down component and theme styles
@use '~igniteui-angular/lib/core/styles//components/drop-down/drop-down-component';
@use '~igniteui-angular/lib/core/styles//components/drop-down/drop-down-theme';

// Import calendar component and theme styles
@use '~igniteui-angular/lib/core/styles/components/calendar/calendar-component';
@use '~igniteui-angular/lib/core/styles/components/calendar/calendar-theme';

// Import chip component and theme styles
@use '~igniteui-angular/lib/core/styles/components/chip/chip-component';
@use '~igniteui-angular/lib/core/styles/components/chip/chip-theme';

// Import icon component and theme styles
@use '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@use '~igniteui-angular/lib/core/styles/components/icon/icon-theme';

// Import drop-down component and theme styles
@use '~igniteui-angular/lib/core/styles/components/drop-down/drop-down-component';
@use '~igniteui-angular/lib/core/styles/components/drop-down/drop-down-theme';

// Import badge component and theme styles
@use '~igniteui-angular/lib/core/styles/components/badge/badge-component';
@use '~igniteui-angular/lib/core/styles/components/badge/badge-theme';


// Define the primary colors
$light-color: #F8F8F8;
$dark-color: #282828;

// Define the secondary colors
$royalblue-color: #4169E1;
$orange-color: #FFA500;

// Define the palettes:
$light-theme-palette: palette($primary: $light-color, $secondary: $royalblue-color);
$dark-theme-palette: palette($primary: $dark-color, $secondary: $orange-color);

// Define light theme for the snackbar
$light-snackbar-theme: snackbar-theme(
  $background: color($light-theme-palette, "secondary", 500),
  $text-color: color($light-theme-palette, "primary", 500),
  $button-color: color($light-theme-palette, "primary", 500)
);

// Define dark theme for the snackbar
$dark-snackbar-theme: snackbar-theme(
  $background: color($dark-theme-palette, "primary", 100),
  $text-color: color($dark-theme-palette, "secondary", 500)
);

// Define black theme with schema for the snackbar
$black-snackbar-theme: snackbar-theme(
  $schema: $my-black-schema
);

// Define light theme for the dialog
$light-dialog-theme: dialog-theme(
  $background: color($light-theme-palette, "primary", 100),
  $title-color: color($light-theme-palette, "secondary", 500),
  $message-color: color($light-theme-palette, "secondary", 600)
);

// Define dark theme for the dialog
$dark-dialog-theme: dialog-theme(
  $background: color($dark-theme-palette, "primary", 100),
  $title-color: color($dark-theme-palette, "secondary", 500),
  $message-color: color($dark-theme-palette, "secondary", 600)
);

// Define black theme for the dialog
$black-dialog-theme: dialog-theme(
  $schema:  $my-black-schema
);

// Define light theme for the input-group
$light-input-group-theme: input-group-theme(
  $palette: $light-theme-palette,
  $disabled-border-color: color($light-theme-palette, "primary", 500),
  $box-disabled-background: color($light-theme-palette, "secondary", 100),
  $hover-bottom-line-color: color($light-theme-palette, "secondary", 700),
  $focused-bottom-line-color: color($light-theme-palette, "secondary", 700),
  $focused-text-color: color($light-theme-palette, "secondary", 500),
  $focused-secondary-color: color($light-theme-palette, "secondary", 500)
);

// Define dark theme for the input-group
$dark-input-group-theme: input-group-theme(
  $palette: $dark-theme-palette,
  $box-background:  color($dark-theme-palette, "primary", 100),
  $disabled-border-color: color($dark-theme-palette, "primary", 500),
  $box-disabled-background: color($dark-theme-palette, "secondary", 100),
  $hover-bottom-line-color: color($dark-theme-palette, "secondary", 700),
  $focused-bottom-line-color: color($dark-theme-palette, "secondary", 700),
  $focused-text-color: color($dark-theme-palette, "secondary", 500),
  $idle-text-color: color($dark-theme-palette, "secondary", 700)
);

// Define black theme for the input-group
$black-input-group-theme: input-group-theme(
  $palette: $black-theme-palette,
  $schema: $my-black-schema
);

// Define light theme for the button
$light-button-theme: button-theme(
  $foreground: color($light-theme-palette, "secondary", 700),
  $hover-foreground: color($light-theme-palette, "primary", 500),
  $hover-background: color($light-theme-palette, "secondary", 100),
  $focus-foreground: color($light-theme-palette, "primary", 500),
  $focus-background: color($light-theme-palette, "secondary", 500),
);

// Define dark theme for the button
$dark-button-theme: button-theme(
  $foreground: color($dark-theme-palette, "secondary", 700),
  $hover-foreground: color($dark-theme-palette, "primary", 500),
  $hover-background: color($dark-theme-palette, "secondary", 500),
  $focus-foreground: color($dark-theme-palette, "primary", 500),
  $focus-background: color($dark-theme-palette, "secondary", 500),
  $disabled-background: color($dark-theme-palette, "primary", 400),
  $disabled-foreground: color($black-theme-palette, "primary", 700)
);

// Define black theme for the button
$black-button-theme: button-theme(
  $schema: $my-black-schema
);

// Define light theme for the button-group
$light-button-group-theme: button-group-theme(
  $item-text-color: color($light-theme-palette, "primary", 500),
  $item-background: color($light-theme-palette, "secondary", 500),
  $item-selected-background: color($light-theme-palette, "primary", 200),
  $item-selected-text-color: color($light-theme-palette, "secondary", 500)
);

// Define dark theme for the button-group
$dark-button-group-theme: button-group-theme(
  $item-text-color: color($dark-theme-palette, "primary", 500),
  $item-background: color($dark-theme-palette, "secondary", 500),
  $item-selected-background: color($dark-theme-palette, "primary", 200),
  $item-selected-text-color: color($dark-theme-palette, "secondary", 500)
);

// Define black theme for the button-group
$black-button-group-theme: button-group-theme(
  $schema: $my-black-schema

);

// Define light theme for the grid
$light-grid-theme: grid-theme(
  $header-background: color($light-theme-palette, "secondary", 700),
  $header-text-color:color($light-theme-palette, "primary", 600),
  $cell-selected-background: color($light-theme-palette, "secondary", 200),
  $cell-selected-text-color: color($light-theme-palette, "primary", 500),
  $row-hover-background: color($light-theme-palette, "secondary", 100),
  $header-border-color: color($light-theme-palette, "primary", 600)
  );

// Define dark theme for the grid
$dark-grid-theme: grid-theme(
  $content-background: color($dark-theme-palette, "secondary", 100),
  $header-background: color($dark-theme-palette, "primary", 500),
  $header-text-color: color($dark-theme-palette, "secondary", 600),
  $cell-selected-background: color($dark-theme-palette, "primary", 500),
  $cell-selected-text-color: color($dark-theme-palette, "secondary", 500),
  $row-hover-background: color($dark-theme-palette, "primary", 100),
  $header-border-color: color($dark-theme-palette, "primary", 600)
);

// Define black theme for the grid
$black-grid-theme: grid-theme(
  $schema: $my-black-schema
);

// Define light theme for the paginator
$light-paginator-theme: paginator-theme(
  $background-color:color($light-theme-palette, "primary", 100),
  $border-color: color($light-theme-palette, "secondary", 500)
);

// Define dark theme for the paginator
$dark-paginator-theme: paginator-theme(
  $text-color: color($dark-theme-palette, "secondary", 700),
  $background-color:color($dark-theme-palette, "primary", 500),
  $border-color: color($dark-theme-palette, "secondary", 500)
);

// Define black theme for the paginator
$black-paginator-theme: paginator-theme(
  $schema: $my-black-schema
);

$light-calendar-theme: calendar-theme(
    $content-background: color($light-theme-palette, "primary", 500),
    $content-text-color: color($light-theme-palette, "secondary", 600),
    $header-background: color($light-theme-palette, "secondary", 500),
    $header-text-color: color($light-theme-palette, "primary", 500),
    $picker-arrow-hover-color: color($light-theme-palette, "secondary", 100),
    $inactive-text-color: color($light-theme-palette, "secondary", 200),
    $picker-text-hover-color: color($light-theme-palette, "secondary", 100),
    $year-current-text-color: color($light-theme-palette, "secondary", 500),
    $weekend-text-color: color($light-theme-palette, "secondary", 500)

);

$dark-calendar-theme: calendar-theme(
    $content-background: color($dark-theme-palette, "primary", 100),
    $content-text-color: color($dark-theme-palette, "secondary", 500),
    $inactive-text-color: color($dark-theme-palette, "primary", 700),
    $picker-arrow-color: color($dark-theme-palette, "primary", 700),
    $picker-arrow-hover-color: color($dark-theme-palette, "secondary", 500),
    $picker-text-color: color($dark-theme-palette, "primary", 700),
    $picker-text-hover-color:color($dark-theme-palette, "secondary", 500)

);

$black-calendar-theme: calendar-theme(
    $schema: $my-black-schema
);

$light-icon-theme: icon-theme(
);

$dark-icon-theme: icon-theme(
);

$black-icon-theme: icon-theme(
);

$light-chip-theme: chip-theme(
    $text-color: color($light-theme-palette, "primary", 500)
);

$dark-chip-theme: chip-theme(
    $text-color: color($dark-theme-palette, "primary", 500),
    $background: color($dark-theme-palette, "secondary", 500),
);

$black-chip-theme: chip-theme(
);

$light-drop-down-theme: drop-down-theme(
);

$dark-drop-down-theme: drop-down-theme(
);

$black-drop-down-theme: drop-down-theme(
);

$light-badge-theme: badge-theme(
    $background-color: color($light-theme-palette, "secondary", 700),
);

$dark-badge-theme: badge-theme(
    $background-color: color($dark-theme-palette, "secondary", 500)
);

$black-badge-theme: badge-theme(
    $schema: $my-black-schema
);
