@use 'themes';

:host {
    display: block;
    margin: 16px;
    box-shadow: elevation(12);


  //Set the light themes for the components.
    &.light-theme {
      background: $light-color;
      ::ng-deep {
        .sort-icon.material-icons.igx-icon {
            color: white;
        }
        @include tokens($light-grid-theme);
        @include tokens($light-snackbar-theme);
        @include tokens($light-input-group-theme);
        @include tokens($light-paginator-theme);
        @include tokens($light-button-theme);
        @include tokens($light-dialog-theme);
        @include tokens($light-button-group-theme);
        @include tokens($light-calendar-theme);
        @include tokens($light-icon-theme);
        @include tokens($light-chip-theme);
        @include tokens($light-drop-down-theme);
        @include tokens($light-badge-theme);
      }
    }

    //Set the dark themes for the components.
    &.dark-theme {
      background: $dark-color;
      ::ng-deep {
        @include tokens($dark-grid-theme);
        @include tokens($dark-snackbar-theme);
        @include tokens($dark-input-group-theme);
        @include tokens($dark-paginator-theme);
        @include tokens($dark-button-theme);
        @include tokens($dark-dialog-theme);
        @include tokens($dark-button-group-theme);
        @include tokens($dark-calendar-theme);
        @include tokens($dark-icon-theme);
        @include tokens($dark-chip-theme);
        @include tokens($dark-drop-down-theme);
        @include tokens($dark-badge-theme);
      }
    }

     //Set the black themes for the components.
    &.black-theme {
      background: $black-color;
      ::ng-deep {
        @include tokens($black-grid-theme);
        @include tokens($black-snackbar-theme);
        @include tokens($black-input-group-theme);
        @include tokens($black-paginator-theme);
        @include tokens($black-button-theme);
        @include tokens($black-dialog-theme);
        @include tokens($black-button-group-theme);
        @include tokens($black-calendar-theme);
        @include tokens($black-icon-theme);
        @include tokens($black-chip-theme);
        @include tokens($black-drop-down-theme);
        @include tokens($black-badge-theme);

        .igx-drop-down__list{
            background: $black-color;
          }

      }
    }
  }
