// Import the theme utilities first
@import '~igniteui-angular/lib/core/styles/themes/utilities';

// Import grid component and theme styles
@import '~igniteui-angular/lib/core/styles/components/grid/grid-component';
@import '~igniteui-angular/lib/core/styles//components/grid/grid-theme';

// Import grid snackbar and theme styles
@import '~igniteui-angular/lib/core/styles//components/snackbar/snackbar-component';
@import '~igniteui-angular/lib/core/styles//components/snackbar/snackbar-theme';

// Import input-group component and theme styles
@import '~igniteui-angular/lib/core/styles//components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles//components/input/input-group-theme';

// Import dialog-group component and theme styles
@import '~igniteui-angular/lib/core/styles//components/dialog/dialog-component';
@import '~igniteui-angular/lib/core/styles//components/dialog/dialog-theme';

// Import grid-paginator component and theme styles
@import '~igniteui-angular/lib/core/styles//components/grid-paginator/grid-paginator-component';
@import '~igniteui-angular/lib/core/styles//components/grid-paginator/grid-paginator-theme';

// Import grid-filtering component and theme styles
@import '~igniteui-angular/lib/core/styles//components/grid-filtering/grid-filtering-component';
@import '~igniteui-angular/lib/core/styles//components/grid-filtering/grid-filtering-theme';

// Import button component and theme styles
@import '~igniteui-angular/lib/core/styles//components/button/button-component';
@import '~igniteui-angular/lib/core/styles//components/button/button-theme';

// Import button-group component and theme styles
@import '~igniteui-angular/lib/core/styles//components/button-group/button-group-component';
@import '~igniteui-angular/lib/core/styles//components/button-group/button-group-theme';

// Import drop-down component and theme styles
@import '~igniteui-angular/lib/core/styles//components/drop-down/drop-down-component';
@import '~igniteui-angular/lib/core/styles//components/drop-down/drop-down-theme';

// Define the primary colors
$light-color: #F8F8F8;
$dark-color: #282828;
$black-color: #000000;

// Define the secondary colors
$royalblue-color: #4169E1;
$orange-color: #FFA500;
$aqua-color: #00BFFF;

// Define the palettes:
$light-theme-palette: igx-palette($primary: $light-color, $secondary: $royalblue-color);
$dark-theme-palette: igx-palette($primary: $dark-color, $secondary: $orange-color);
$black-theme-palette: igx-palette($primary: $black-color, $secondary: $aqua-color);


// Define light theme for the snackbar
$light-snackbar-theme: igx-snackbar-theme(
  $palette: $light-theme-palette,
  $background: igx-color($light-theme-palette, "secondary", 500),
  $text-color: igx-color($light-theme-palette, "primary", 500),
  $button-color: igx-color($light-theme-palette, "primary", 500)
);

// Define dark theme for the snackbar
$dark-snackbar-theme: igx-snackbar-theme(
  $palette: $dark-theme-palette,
  $background: igx-color($dark-theme-palette, "primary", 100),
  $text-color: igx-color($dark-theme-palette, "secondary", 500)
);

// Define black theme for the snackbar
$black-snackbar-theme: igx-snackbar-theme(
  $palette: $black-theme-palette,
  $background: igx-color($black-theme-palette, "primary", 100),
  $text-color: igx-color($black-theme-palette, "secondary", 500)
);

// Define light theme for the dialog
$light-dialog-theme: igx-dialog-theme(
  $palette: $light-theme-palette,
  $background: igx-color($light-theme-palette, "primary", 100),
  $title-color: igx-color($light-theme-palette, "secondary", 500),
  $message-color: igx-color($light-theme-palette, "secondary", 600) 
);

// Define dark theme for the dialog
$dark-dialog-theme: igx-dialog-theme(
  $palette: $dark-theme-palette,
  $background: igx-color($dark-theme-palette, "primary", 100),
  $title-color: igx-color($dark-theme-palette, "secondary", 500),
  $message-color: igx-color($dark-theme-palette, "secondary", 600)
);

// Define black theme for the dialog
$black-dialog-theme: igx-dialog-theme(
  $palette: $black-theme-palette,
  $background: igx-color($black-theme-palette, "primary", 100),
  $title-color: igx-color($black-theme-palette, "secondary", 500),
  $message-color: igx-color($black-theme-palette, "secondary", 600)
);

// Define light theme for the input-group
$light-input-group-theme: igx-input-group-theme(
  $palette: $light-theme-palette,
  $disabled-border-color: igx-color($light-theme-palette, "primary", 500),
  $box-disabled-background: igx-color($light-theme-palette, "secondary", 100),
  $hover-bottom-line-color: igx-color($light-theme-palette, "secondary", 700),
  $focused-bottom-line-color: igx-color($light-theme-palette, "secondary", 700),
  $focused-text-color: igx-color($light-theme-palette, "secondary", 500),
  $focused-secondary-color: igx-color($light-theme-palette, "secondary", 500)
);

// Define dark theme for the input-group
$dark-input-group-theme: igx-input-group-theme(
  $palette: $dark-theme-palette,
  $box-background:  igx-color($dark-theme-palette, "primary", 100),
  $disabled-border-color: igx-color($dark-theme-palette, "primary", 500),
  $box-disabled-background: igx-color($dark-theme-palette, "secondary", 100),
  $hover-bottom-line-color: igx-color($dark-theme-palette, "secondary", 700),
  $focused-bottom-line-color: igx-color($dark-theme-palette, "secondary", 700),
  $focused-text-color: igx-color($dark-theme-palette, "secondary", 500),
  $idle-text-color: igx-color($dark-theme-palette, "secondary", 700)
);

// Define black theme for the input-group
$black-input-group-theme: igx-input-group-theme(
  $palette: $black-theme-palette,
  $box-background:  igx-color($black-theme-palette, "primary", 100),
  $disabled-border-color: igx-color($black-theme-palette, "secondary", 500),
  $focused-bottom-line-color: igx-color($black-theme-palette, "secondary", 700),
  $focused-text-color: igx-color($black-theme-palette, "secondary", 700),
  $focused-secondary-color: igx-color($black-theme-palette, "secondary", 700),
  $idle-text-color: igx-color($black-theme-palette, "secondary", 700),
  $box-disabled-background: igx-color($black-theme-palette, "primary", 100)
);

// Define light theme for the button
$light-button-theme: igx-button-theme(
  $palette: $light-theme-palette,
  $icon-color: igx-color($light-theme-palette, "secondary", 700),
  $icon-hover-color: igx-color($light-theme-palette, "primary", 500),
  $icon-hover-background: igx-color($light-theme-palette, "secondary", 500),
  $icon-focus-color: igx-color($light-theme-palette, "primary", 500),
  $icon-focus-background: igx-color($light-theme-palette, "secondary", 500),
  $flat-hover-background: igx-color($light-theme-palette, "secondary", 100),
  $flat-text-color: igx-color($light-theme-palette, "secondary", 700)

);

// Define dark theme for the button
$dark-button-theme: igx-button-theme(
  $palette: $dark-theme-palette,
  $icon-color: igx-color($dark-theme-palette, "secondary", 700),
  $icon-hover-color: igx-color($dark-theme-palette, "primary", 500),
  $icon-hover-background: igx-color($dark-theme-palette, "secondary", 500),
  $icon-focus-color: igx-color($dark-theme-palette, "primary", 500),
  $icon-focus-background: igx-color($dark-theme-palette, "secondary", 500),
  $disabled-background: igx-color($dark-theme-palette, "primary", 400),
  $disabled-color: igx-color($black-theme-palette, "primary", 700)
);

// Define black theme for the button
$black-button-theme: igx-button-theme(
  $palette: $black-theme-palette,
  $icon-color: igx-color($black-theme-palette, "secondary", 700),
  $icon-hover-color: igx-color($black-theme-palette, "primary", 500),
  $icon-hover-background: igx-color($black-theme-palette, "secondary", 500),
  $icon-focus-color:  igx-color($black-theme-palette, "primary", 500),
  $icon-focus-background: igx-color($black-theme-palette, "secondary", 500),
  $disabled-background: igx-color($black-theme-palette, "primary", 300),
  $disabled-color: igx-color($black-theme-palette, "primary", 500)
);

// Define light theme for the button-group
$light-button-group-theme: igx-button-group-theme(
  $palette: $light-theme-palette,
  $item-text-color: igx-color($light-theme-palette, "primary", 500),
  $item-background: igx-color($light-theme-palette, "secondary", 500),
  $item-selected-background: igx-color($light-theme-palette, "primary", 200),
  $item-selected-text-color: igx-color($light-theme-palette, "secondary", 500)
);

// Define dark theme for the button-group
$dark-button-group-theme: igx-button-group-theme(
  $palette: $dark-theme-palette,
  $item-text-color: igx-color($dark-theme-palette, "primary", 500),
  $item-background: igx-color($dark-theme-palette, "secondary", 500),
  $item-selected-background: igx-color($dark-theme-palette, "primary", 200),
  $item-selected-text-color: igx-color($dark-theme-palette, "secondary", 500)
);

// Define black theme for the button-group
$black-button-group-theme: igx-button-group-theme(
  $palette: $black-theme-palette,
  $item-text-color: igx-color($black-theme-palette, "primary", 500),
  $item-background: igx-color($black-theme-palette, "secondary", 500),
  $item-selected-background: igx-color($black-theme-palette, "primary", 200),
  $item-selected-text-color: igx-color($black-theme-palette, "secondary", 500)
);

// Define light theme for the grid
$light-grid-theme: igx-grid-theme(
  $palette: $light-theme-palette,
  $header-background: igx-color($light-theme-palette, "secondary", 700),
  $header-text-color:igx-color($light-theme-palette, "primary", 600),
  $cell-selected-background: igx-color($light-theme-palette, "secondary", 200),
  $cell-selected-text-color: igx-color($light-theme-palette, "primary", 500),
  $row-hover-background: igx-color($light-theme-palette, "secondary", 100),
  $header-border-color: igx-color($light-theme-palette, "primary", 600)
  );

// Define dark theme for the grid
$dark-grid-theme: igx-grid-theme(
  $palette: $dark-theme-palette,
  $content-background: igx-color($dark-theme-palette, "secondary", 100),
  $header-background: igx-color($dark-theme-palette, "primary", 500),
  $header-text-color: igx-color($dark-theme-palette, "secondary", 600),
  $cell-selected-background: igx-color($dark-theme-palette, "primary", 500),
  $cell-selected-text-color: igx-color($dark-theme-palette, "secondary", 500),
  $row-hover-background: igx-color($dark-theme-palette, "primary", 100),
  $header-border-color: igx-color($dark-theme-palette, "primary", 600)
);

// Define black theme for the grid
$black-grid-theme: igx-grid-theme(
  $palette: $black-theme-palette,
  $content-background:  igx-color($black-theme-palette, "primary", 100),
  $header-background: igx-color($black-theme-palette, "secondary", 700),
  $cell-selected-background: igx-color($black-theme-palette, "primary", 500),
  $cell-selected-text-color: igx-color($black-theme-palette, "secondary", 500),
  $row-hover-background: igx-color($black-theme-palette, "secondary", 100),
  $header-border-color: igx-color($black-theme-palette, "primary", 600)
);

// Define light theme for the grid-paginator
$light-grid-paginator-theme: igx-grid-paginator-theme(
  $palette: $light-theme-palette,
  $background-color:igx-color($light-theme-palette, "primary", 100),
  $border-color: igx-color($light-theme-palette, "secondary", 500)
);

// Define dark theme for the grid-paginator
$dark-grid-paginator-theme: igx-grid-paginator-theme(
  $palette: $dark-theme-palette,
  $text-color: igx-color($dark-theme-palette, "secondary", 700),
  $background-color:igx-color($dark-theme-palette, "primary", 500),
  $border-color: igx-color($dark-theme-palette, "secondary", 500)
);

// Define black theme for the grid-paginator
$black-grid-paginator-theme: igx-grid-paginator-theme(
  $palette: $black-theme-palette,
  $text-color: igx-color($black-theme-palette, "secondary", 700),
  $background-color: igx-color($black-theme-palette, "primary", 700),
  $border-color: igx-color($black-theme-palette, "secondary", 500)
);

// Define light theme for the grid-filtering
$light-grid-filtering-theme: igx-grid-filtering-theme(
  $palette: $light-theme-palette,
  $toggle-icon-color: igx-color($light-theme-palette, "primary", 500),
  $toggle-active-background:  igx-color($light-theme-palette, "primary", 100),
  $toggle-hover-background:  igx-color($light-theme-palette, "secondary", 500),
  $menu-background: igx-color($light-theme-palette, "primary", 100),
  $menu-text-color: igx-color($light-theme-palette, "secondary", 500),
  $menu-button-text-color: igx-color($light-theme-palette, "secondary", 500),
  $menu-button-disabled-text-color: igx-color($light-theme-palette, "secondary", 500)	
);

// Define dark theme for the grid-filtering
$dark-grid-filtering-theme: igx-grid-filtering-theme(
  $palette: $dark-theme-palette,
  $menu-background: igx-color($dark-theme-palette, "primary", 100),
  $toggle-hover-background: igx-color($dark-theme-palette, "primary", 100),
  $menu-text-color: igx-color($dark-theme-palette, "secondary", 500),
  $menu-button-text-color: igx-color($dark-theme-palette, "secondary", 500),
  $menu-button-disabled-text-color: igx-color($dark-theme-palette, "secondary", 500)
  );

// Define black theme for the grid-filtering
$black-grid-filtering-theme: igx-grid-filtering-theme(
  $palette: $black-theme-palette,
  $toggle-icon-color: igx-color($black-theme-palette, "primary", 500),
  $toggle-hover-background:  igx-color($black-theme-palette, "primary", 100),
  $toggle-active-background:  igx-color($black-theme-palette, "primary", 100),
  $toggle-icon-active-color: igx-color($black-theme-palette, "secondary", 500),
  $menu-background: igx-color($black-theme-palette, "primary", 100),
  $menu-text-color: igx-color($black-theme-palette, "secondary", 500),
  $menu-button-text-color: igx-color($black-theme-palette, "secondary", 500),
  $menu-button-disabled-text-color: igx-color($black-theme-palette, "secondary", 700)
  );
