[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.drag-ghost {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 11.25rem;
  color: var(--igx-secondary-200-contrast);
  font-size: 0.8125rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  /* IE fallback */
  background-color: #e41c77;
  /* Default color */
  background: var(--igx-secondary-200); }
  .drag-ghost igx-icon {
    margin-right: 0.5rem; }

:host {
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  font-style: normal;
  height: 100%; }
  :host .folders {
    width: 12.5rem;
    padding: 8px;
    /* IE fallback color */
    background: rgba(0, 0, 0, 0.02);
    /* Default color */
    background: var(--igx-grays-50);
    border: none; }
    :host .folders igx-icon {
      margin: 0; }
    :host .folders igx-list-item {
      cursor: pointer;
      border-radius: 4px;
      background: transparent;
      transition: background 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      :host .folders igx-list-item.drag-enter {
        /* IE fallback color */
        background: #f0b2ce;
        /* Default color */
        background: var(--igx-secondary-100); }
      :host .folders igx-list-item:hover {
        /* IE fallback color */
        background: rgba(0, 0, 0, 0.04);
        /* Default color */
        background: var(--igx-grays-100); }
      :host .folders igx-list-item:nth-child(5) igx-icon {
        color: #af1159; }
      :host .folders igx-list-item:nth-child(6) igx-icon {
        color: #0071bf; }
      :host .folders igx-list-item:nth-child(7) igx-icon {
        color: #4eb862; }
  :host .emails {
    -ms-flex-positive: 1;
        flex-grow: 1;
    border: none;
    border-radius: 0; }
  :host .email-checked {
    /* IE Fallback */
    background-color: #ea87b4;
    /* Default color */
    color: var(--igx-secondary-100-contrast);
    background: var(--igx-secondary-100);
    transition: background .1s ease-out; }
