<article>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <h4>Registration Form</h4>
    <div class="container">
      <igx-input-group>
        <label igxLabel for="username">Username</label>
        <input igxInput name="username" type="text" [(ngModel)]="user.username" required />
      </igx-input-group>

      <igx-input-group>
        <label igxLabel for="email">Email</label>
        <input igxInput name="email" type="email" [(ngModel)]="user.email" #email="ngModel" required email />
        @if (email.errors?.email) {
          <igx-hint>Please enter a valid email</igx-hint>
        }
      </igx-input-group>

      <igx-input-group>
        <label igxLabel for="password">Password</label>
        <input igxInput name="password" [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="user.password" #password="ngModel" required minlength="8" />
          @if (password.errors?.minlength) {
            <igx-hint>Password should be at least 8 characters</igx-hint>
          }
          @if (password.value) {
            <igx-icon igxSuffix (click)="showPassword = !showPassword">
              {{ togglePasswordVisibility }}
            </igx-icon>
          }
        </igx-input-group>

        <button igxButton="contained" igxRipple type="submit" [disabled]="!registrationForm.valid">Submit</button>
      </div>
    </form>
  </article>
