<article>
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
        <h4>Registration Form</h4>
        <div class="container">
            <igx-input-group>
                <label igxLabel for="username">Username</label>
                <input igxInput name="username" type="text" [(ngModel)]="user.username" required />
            </igx-input-group>

            <igx-input-group>
                <label igxLabel for="email">Email</label>
                <input igxInput name="email" type="email" [(ngModel)]="user.email" #email="ngModel" required email />
                <igx-hint *ngIf="email.errors?.email">Please enter a valid email</igx-hint>
            </igx-input-group>

            <igx-input-group>
                <label igxLabel for="password">Password</label>
                <input igxInput name="password" type="password" [(ngModel)]="user.password" #password="ngModel" required minlength="8" />
                <igx-hint *ngIf="password.errors?.minlength">Password should be at least 8 characters</igx-hint>
            </igx-input-group>

            <button igxButton="raised" igxRipple type="submit" [disabled]="!registrationForm.valid">Submit</button>
        </div>
    </form>
</article>
