.grid__wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: stretch;
}

.advanced-dialog {
    margin-bottom: 2px;
    max-height: 325px;
    overflow-y: auto;
}
