.grid__wrapper {
    margin: 0 16px;
}

.header-selector {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 40px;
    height: 40px;
}

.row-selector {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.row-selector-index {
    width: 20px;
    text-align: center;
}
