:host {
    margin: 16px;
    display: block;
}

igx-expansion-panel-body {
    padding: 16px;
}

igx-slider {
    margin: 24px;
}

.categories-container {
    display: flex;
    flex-flow: column nowrap;
}

igx-checkbox, igx-radio {
    margin: 4px 0;
}
