<article class="sample-wrapper">
  <igx-accordion #accordion>
    <igx-expansion-panel>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Categories{{ checkedItems }}</igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <div class="categories-container">
          @for (item of categories; track item) {
            <igx-checkbox [(ngModel)]="item.checked" (change)="checkedChange()">
              {{ item.type }}
            </igx-checkbox>
          }
        </div>
      </igx-expansion-panel-body>
    </igx-expansion-panel>

    <igx-expansion-panel>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Cost: {{ '$' + slider.lowerValue + ' to ' + '$' + slider.upperValue }}</igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <igx-slider #slider id="slider" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="1000"
        [(ngModel)]="priceRange"></igx-slider>
      </igx-expansion-panel-body>
    </igx-expansion-panel>

    <igx-expansion-panel>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Rating@if (rating) {
          <span>{{': ' + rating }}</span>
        }</igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        @for (item of [].constructor(4); track item; let i = $index) {
          <div style="display:flex; gap: 4px; align-items: center;">
            @if (i===0) {
              <igx-radio [(ngModel)]="rating" [value]="i+1 + ' star or more'"> {{ i + 1 }} star or more</igx-radio>
            }
            @if (i>0) {
              <igx-radio [(ngModel)]="rating" [value]="i+1 + ' stars or more'"> {{ i + 1 }} stars or more</igx-radio>
            }
            <div style="display:inline-flex; padding-top: 4px">
              @for (fillStar of [].constructor(i + 1); track fillStar) {
                <div>
                  <igx-icon>star</igx-icon>
                </div>
              }
              <igx-icon>star_half</igx-icon>
              @for (borderStar of [].constructor(3 - i); track borderStar) {
                <div>
                  <igx-icon>star_border</igx-icon>
                </div>
              }
            </div>
          </div>
        }
      </igx-expansion-panel-body>
    </igx-expansion-panel>

    <igx-expansion-panel>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Time{{ time }}</igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <igx-time-picker [(ngModel)]="arriveTime" mode="dropdown" [spinLoop]='false'>
          <label igxLabel>Arrive before</label>
        </igx-time-picker>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
  </igx-accordion>
</article>
