<article class="sample-wrapper">
    <igx-accordion #accordion>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>Categories{{ checkedItems }}</igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="body-container">
                    <div class="categories-container">
                        <igx-checkbox *ngFor="let item of categories" [(ngModel)]="item.checked" (change)="checkedChange()">
                            {{ item.type }}
                        </igx-checkbox>
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>

        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>Cost: {{ '$' + slider.lowerValue + ' to ' + '$' + slider.upperValue }}</igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="body-container">
                    <igx-slider #slider id="slider" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="1000"
                    [(ngModel)]="priceRange"></igx-slider>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>

        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>Rating<span *ngIf="rating">{{': ' + rating }}</span></igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="body-container">
                    <div *ngFor="let item of [].constructor(4); let i = index">
                        <igx-radio [(ngModel)]="rating" *ngIf="i===0" [value]="i+1 + ' star or more'"> {{ i + 1 }} star or more</igx-radio>
                        <igx-radio [(ngModel)]="rating" *ngIf="i>0" [value]="i+1 + ' stars or more'"> {{ i + 1 }} stars or more</igx-radio>
                        <div style="display:inline-flex;">
                            <div *ngFor="let fillStar of [].constructor(i + 1)">
                                <igx-icon>star</igx-icon>
                            </div>
                            <igx-icon>star_half</igx-icon>
                            <div *ngFor="let borderStar of [].constructor(3 - i)">
                                <igx-icon>star_border</igx-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>

        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>Time{{ time }}</igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="body-container">
                    <igx-time-picker [(ngModel)]="arriveTime" mode="dropdown" [spinLoop]='false'>
                        <label igxLabel>Arrive before</label>
                    </igx-time-picker>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
    </igx-accordion>
</article>
