<igx-grid [data]="data" #grid width="100%" height="560px" [showToolbar]="true">
    <igx-column *ngFor="let c of columns" [field]="c.field" [header]="c.field"
        [resizable]="c.resizable" [width]="c.width" [sortable]="c.sortable"
        [filterable]="true" [selectable]="c.selectable" [dataType]="c.type">
    </igx-column>
    <ng-template igxToolbarCustomContent let-grid="grid">
        <button igxButton="outlined" #columnSelectionButton igxRipple (click)="toggleColumnSelection()" [displayDensity]="grid.displayDensity" >
            Select columns
            <igx-icon>arrow_drop_down</igx-icon>
        </button>
        <igx-drop-down #columnSelectionDropdown>
            <igx-input-group class="igx-column-hiding__header-input">
                <input igxInput tabindex="0" [(ngModel)]="searchSelectedColumn"
                    [placeholder]="'Filter Column list ...'" autocomplete="off" />
            </igx-input-group>
            <div class="igx-column-hiding__columns"
                [style.max-height]="(grid.calcHeight) ? grid.calcHeight * 0.7 + 'px' : '100%'">
                <igx-checkbox
                    *ngFor="let columnItem of grid.columns | filterColumns: searchSelectedColumn"
                    class="igx-column-hiding__columns-item"
                    (change)="columnItem.selected = !columnItem.selected" [checked]="columnItem.selected"
                    [disabled]="!columnItem.selectable">
                    {{ columnItem.field }}
                </igx-checkbox>
            </div>
        </igx-drop-down>
    </ng-template>
</igx-grid>
