.sample-column {
    flex: 0 70%;
}

.button-group {
    margin-bottom: 30px;
}

.layout-box {
    width: 100%;
    background: var(--igx-grays-200);
    padding: 8px;
    border-radius: 6px;
}

.layout-box__el {
    height: 48px;
    padding: 10px 20px;
    margin: 8px;
    background: var(--igx-secondary-500);
    color: var(--igx-surface-500);
}
