<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <igx-buttongroup class="button-group" [alignment]="alignment">
                <button igxButton (click) = "layout = 'column'" [igxRipple]="rippleColor" [selected]="true">Column</button>
                <button igxButton (click) = "layout = 'column-reverse'" [igxRipple]="rippleColor">Column reverse</button>
            </igx-buttongroup>
            <div *ngIf="layout == 'column'" class="layout-sample">
                <div class="layout-box" igxLayout igxLayoutDir="column">
                    <div class="layout-box__el" igxFlex>1</div>
                    <div class="layout-box__el" igxFlex>2</div>
                    <div class="layout-box__el" igxFlex>3</div>
                </div>
            </div>

            <div *ngIf="layout == 'column-reverse'" class="layout-sample">
                <div class="layout-box" igxLayout igxLayoutDir="column" igxLayoutReverse="true">
                    <div class="layout-box__el" igxFlex>1</div>
                    <div class="layout-box__el" igxFlex>2</div>
                    <div class="layout-box__el" igxFlex>3</div>
                </div>
            </div>
        </article>
    </section>
</div>
