@use 'igniteui-angular/lib/core/styles/themes/index' as *;
@forward 'igniteui-angular/lib/core/styles/themes/index';

@include fade-in-top();

:host {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

igx-card {
    @include animation('fade-in-top' 3s $ease-out-quad forwards);

    max-width: 400px;
    min-width: 250px;
}
