@use 'igniteui-angular/theming' as *;
@include fade-in-top();

.sample-column {
    display: block;
    padding: 16px;
    @include animation('fade-in-top' 3s $ease-out-quad infinite);
}

.card-wrapper {
    max-width: 400px;
    min-width: 250px;
}
