<div class="sample-column card-wrapper">
    <igx-card [horizontal]="horizontal" elevated>
        <div igxLayout igxLayoutDir="column" igxFlex [igxFlexGrow]="1">
            <igx-card-header>
                <div class="igx-card-header__tgroup">
                    <h5 class="igx-card-header__title">Rozes</h5>
                    <h5 class="igx-card-header__subtitle">Under the Grave (2016)</h5>
                </div>
                <igx-card-media width="64px" height="64px">
                    <img src="assets/images/card/media/ROZES-Under-the-Grave.jpg">
                </igx-card-media>
            </igx-card-header>

            <igx-card-content>
                <p class="igx-card-content__text">As I have always said: I write what's real and what's true,
                    even if it means throwing myself under the bus.</p>
            </igx-card-content>
        </div>

        <igx-divider [vertical]="horizontal"></igx-divider>

        <igx-card-actions layout="justify">
            <button igxButton="icon" igxRipple [igxRippleCentered]="true" igxEnd>
                <igx-icon family="material">skip_previous</igx-icon>
            </button>
            <button igxButton="icon" igxRipple [igxRippleCentered]="true" igxEnd>
                <igx-icon family="material">play_arrow</igx-icon>
            </button>
            <button igxButton="icon" igxRipple [igxRippleCentered]="true" igxEnd>
                <igx-icon family="material">skip_next</igx-icon>
            </button>
        </igx-card-actions>
    </igx-card>
</div>
