<igx-tabs>
    <igx-tab-item>
        <igx-tab-header>
            <span igxPrefix>Tab</span>
            <h6>1</h6>
            <img igxSuffix src="https://static.infragistics.com/marketing/Website/products/ignite-ui-landing/ignite-ui-logo.svg"
                width="80px" height="40px" />
        </igx-tab-header>
        <igx-tab-content>
            Tab1 Content
        </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <span igxPrefix>Tab</span>
            <h6>2</h6>
            <span igxSuffix>Header</span>
        </igx-tab-header>
        <igx-tab-content>
            Tab2 Content
        </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <igx-icon igxPrefix>folder</igx-icon>
            <span igxTabHeaderLabel>Tab3 Header</span>
        </igx-tab-header>
        <igx-tab-content>
            Tab3 Content
        </igx-tab-content>
    </igx-tab-item>
</igx-tabs>
