.grid__wrapper {
  margin: 10px; }

.column-group-template__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.column-group-template__icon {
  cursor: pointer; }
