<div class="grid__wrapper">
    <ng-template #columnGroupTemplate let-col>
        <div class="column-group-template__container">
            <igx-icon [attr.draggable]="false"
                      (click)="toggleColumnGroup(col)"
                      class="column-group-template__icon">
                      {{columnGroupStates.get(col) ? 'expand_more' : 'expand_less'}}</igx-icon>
            {{col.header}}
        </div>
    </ng-template>

    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="data" primaryKey="ID" foreignKey="ParentID" [rowSelection]="selectionMode" height="480px"
        displayDensity="compact" [allowFiltering]="true" width="100%">
        <igx-column field="Name" dataType="string" [movable]="true" [sortable]="true" [resizable]="true" width="200px"></igx-column>
        <igx-column-group [movable]="true" [pinned]="false" header="General Information" [headerTemplate]="columnGroupTemplate">
            <igx-column field="HireDate" dataType="date" [movable]="true" [sortable]="true" [resizable]="true"></igx-column>
            <igx-column-group [movable]="true" header="Personal Details">
                <igx-column field="ID" dataType="number" [movable]="true" [resizable]="true" [filterable]="false"></igx-column>
                <igx-column field="Title" dataType="string" [movable]="true" [sortable]="true" [resizable]="true"></igx-column>
                <igx-column field="Age" dataType="number" [movable]="true" [sortable]="true" [resizable]="true"></igx-column>
            </igx-column-group>
        </igx-column-group>
        <igx-column-group header="Address Information" [headerTemplate]="columnGroupTemplate">
            <igx-column sortable="true" resizable="true" field="Location" hidden="true"></igx-column>
            <igx-column sortable="true" resizable="true" field="Phone" hidden="true"></igx-column>
            <igx-column-group header="Location">
                <igx-column field="Country" dataType="string" [sortable]="true" [resizable]="true"></igx-column>
                <igx-column field="City" dataType="string" [sortable]="true" [resizable]="true"></igx-column>
                <igx-column field="Address" dataType="string" [sortable]="true" [resizable]="true"></igx-column>
            </igx-column-group>
            <igx-column-group header="Contact Information">
                <igx-column field="Phone" dataType="string" [sortable]="true" [resizable]="true"></igx-column>
                <igx-column field="Fax" dataType="string" [sortable]="true" [resizable]="true"></igx-column>
                <igx-column field="PostalCode" dataType="string" [sortable]="true" [resizable]="true"></igx-column>
            </igx-column-group>
        </igx-column-group>
    </igx-tree-grid>
</div>
