<div class="sample-wrapper container">
    <div class="options">
        <span>Chart Type:</span>
        <select [(ngModel)]="chartType">
            <option>Auto</option>
            <option>Line</option>
            <option>Column</option>
            <option>Point</option>
            <option>Spline</option>
            <option>SplineArea</option>
            <option>StepArea</option>
            <option>StepLine</option>
            <option>Waterfall</option>
        </select>
    </div>
    <div class="chart">
        <igx-category-chart height="98%" width="98%"
            [dataSource]="data"
            [chartType]="chartType"
            chartTitle="Energy Production by Country"
            yAxisMinimumValue="0"
            yAxisMaximumValue="1000"
            xAxisOverlap="0"

            negativeBrushes="red"
            negativeOutlines="#555657, #F14027, #F7A30B, #0BA50B, #059CFA"
            brushes="#555657, #F14027, #F7A30B, #0BA50B, #059CFA"
            outlines="#555657, #F14027, #F7A30B, #0BA50B, #059CFA"
            markerOutlines="#555657, #F14027, #F7A30B, #0BA50B, #059CFA"
            markerBrushes="#555657, #F14027, #F7A30B, #0BA50B, #059CFA"
            markerTypes="diamond"
            thickness="3"
            isTransitionInEnabled="true"
            transitionInDuration="2000"
            transitionInMode="AccordionFromBottom" >
        </igx-category-chart>
    </div>
</div>
