.pickers-wrapper {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex: 1;
    width: 450px;
}

.form-date-picker {
    flex: 50%;
}

.form-time-picker {
    flex: 50%;
    margin-left: 16px;
}
