<div class="date-picker-wrapper">
    <div class="form-group">
        <div class="form-date-picker">
            <igx-date-picker name="date-picker" [(ngModel)]="date">
                <label igxLabel>Start Date</label>
            </igx-date-picker>
        </div>
        <div class="form-time-picker">
            <igx-time-picker name="time-picker" [(ngModel)]="date">
                <label igxLabel>Start Time</label>
            </igx-time-picker>
        </div>
    </div>
    <div class="text">
        Selected date is {{date.toLocaleString()}}
    </div>
</div>