.pickers-wrapper {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex: 1;
    width: 400px;
}

.form-date-picker {
    flex: 55%;
}

.form-time-picker {
    flex: 45%;
    margin-left: 16px;
}
