@use '../../../../variables' as *;

// common
$purple: #9e379f;
$blue: #61aedb;

$custom-palette: palette(
    $primary: $blue,
    $secondary: $purple,
    $surface: #fff
);

$today-text: color($custom-palette, 'primary', 500);
$text-color: color($custom-palette, 'secondary', 200);
$color-focused: color($custom-palette, 'secondary', 500);


// DATE-RANGE
$custom-date-range-theme: date-range-picker-theme(
    $label-color: $color-focused
);

// INPUT GROUP
$custom-input-group-theme: input-group-theme(
  $filled-text-color: $text-color,
  $idle-text-color: $text-color,
  $focused-text-color: $color-focused,
  $idle-bottom-line-color: $purple,
  $hover-bottom-line-color: $color-focused,
  $interim-bottom-line-color: $color-focused
);

// CALENDAR styling specific overlay component requires outlet -> [overlaySettings]="{ outlet: element }"
$custom-calendar-theme: calendar-theme(
    $date-current-text-color: $today-text,
    $border-radius: 0.5,
    $date-border-radius: 0.5
);

:host {
    display: block;
    padding: 1rem;

    ::ng-deep {
        @include date-range-picker($custom-date-range-theme);
        @include input-group($custom-input-group-theme);
        @include calendar($custom-calendar-theme);
    }
}
