@use "igniteui-angular/theming" as *;

$purple: #9e379f;
$blue: #61aedb;
$light-gray: #efefef;

$custom-palette: palette(
  $primary: $blue,
  $secondary: $purple,
  $surface: $light-gray
);

$today-text: color($custom-palette, 'primary', 500);
$text-color: color($custom-palette, 'secondary', 200);
$color-focused: color($custom-palette, 'secondary', 500);

// DATE-RANGE
$custom-date-range-theme: date-range-picker-theme(
  $label-color: $color-focused
);

// INPUT GROUP
$custom-input-group-theme: input-group-theme(
  $filled-text-color: $text-color,
  $idle-text-color: $text-color,
  $focused-text-color: $color-focused,
  $idle-bottom-line-color: $purple,
  $hover-bottom-line-color: $color-focused
);

// CALENDAR styling specific overlay component requires outlet -> [overlaySettings]="{ outlet: element }"
$custom-calendar-theme: calendar-theme(
  $date-current-foreground: $today-text,
  $border-radius: 0.5,
  $date-border-radius: 0.5
);

:host {
  display: block;
  padding: 1rem;

  @include tokens($custom-date-range-theme);
  @include tokens($custom-input-group-theme);
  @include tokens($custom-calendar-theme);
}
