<div class='overlay-sample' #mainContainer>
    <div class='container'>
        <div class="container__row">
            <igx-switch [(ngModel)]='modalValue'>
                Modal
            </igx-switch>
            <div class='section__row--wide'>
                <div class="section__container--wide" #modalDemo>
                    <span (click)="onClickModal($event, 'auto')">
                        <igx-icon>notifications</igx-icon>
                        <p>Auto</p>
                    </span>
                    <span (click)="onClickModal($event, 'elastic')">
                        <igx-icon>notifications</igx-icon>
                        <p>Elastic</p>
                    </span>
                    <span (click)="onClickModal($event, 'connected')">
                        <igx-icon>notifications</igx-icon>
                        <p>Connect</p>
                    </span>
                    <span (click)="onClickModal($event, 'global')">
                        <igx-icon>notifications</igx-icon>
                        <p>Global</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="overlay__element" #overlayDemo>
            <igx-card>
                <igx-card-header>
                    <h3 class="igx-card-header__title">Overlay</h3>
                </igx-card-header>
                <igx-card-content>
                    <p class="igx-card-content__text">Click on the positioning settings to dynamically re-attach this
                        element.</p>
                </igx-card-content>
            </igx-card>
        </div>
    </div>
</div>