<igc-qr-code class="qr-blue" [value]="value" size="150" dot-style="rounded" square-style="rounded"
    error-level="H"></igc-qr-code>
<igc-qr-code class="qr-orange" [value]="value" size="150" dot-style="rounded" square-style="rounded"
    error-level="H"></igc-qr-code>
<igc-qr-code class="qr-green" [value]="value" size="150" dot-style="rounded" square-style="rounded"
    error-level="H"></igc-qr-code>
<igc-qr-code class="qr-dark" [value]="value" size="150" dot-style="rounded" square-style="rounded"
    error-level="H"></igc-qr-code>
