<div class="sample-wrapper">
    <section class="sample-content">
      <article class="linear-samples sample-column">
        <h4 class="sample-title">Linear progress bar</h4>
        <div class="linear-container">
        <h5>Default</h5>
        <igx-linear-bar type="default"></igx-linear-bar>
        <h5>Text is aligned CENTER</h5>
        <igx-linear-bar type="info" [textTop]="false" [textAlign]="positionCenter" [striped]="true"></igx-linear-bar>
        <h5>Text is aligned END</h5>
        <igx-linear-bar type="success" [textTop]="false" [textAlign]="positionEnd"></igx-linear-bar>
        <h5> Set your custom text</h5>
        <igx-linear-bar type="warning" [text]="'Custom text'" [textAlign]="positionCenter" [striped]="true"></igx-linear-bar>
        <h5>Text is set above the line</h5>
        <igx-linear-bar type="danger" [textTop]="true"></igx-linear-bar>
        <h5>Witout text</h5>
        <igx-linear-bar type="default" [textVisibility]="false"></igx-linear-bar>
        </div>
    </article>
</section>
<section class="sample-content">
    <article class="linear-samples sample-column">
        <div class="button-container">
            <p>Press the button to start updating the bars</p>
            <button igxButton="fab" igxButtonBackground="#333" igxRipple="white" (click)="tick()">
                <igx-icon fontSet="material" [name]="changeIcon()"></igx-icon>
            </button>
        </div>
    </article>
    <article class="linear-samples sample-column">
        <div class="button-container">
            <p>Press the button to reset the bars</p>
            <button igxButton="fab" igxButtonBackground="#333" igxRipple="white" (click)="reset()" [disabled]="disable">
                <igx-icon name="replay" color="white" isActive="true" ></igx-icon>
            </button>
        </div>
    </article>
</section>
</div>