@use '../../../../variables' as *;

$sample-gap: 20px;
:host {
	display: block;
	padding: $sample-gap;
	max-width: rem(1150px);

	p {
		margin: 0;
	}
}

.sample-step-actions,
.card-wrapper,
.sample-row,
.flex-form,
.form-row,
.success-message,
.success-text {
	display: flex;
}

.sample-row {
	align-items: flex-start;
	gap: rem(50px);

	> * {
		flex: 1;
	}
}

.sample-step-actions {
	gap: $sample-gap;
	margin-top: $sample-gap * 2;
}

.card-wrapper {
	gap: rem(30px);
}

$my-card: card-theme(
	$palette: $default-palette,
	$schema: $light-schema,
	$border-radius: rem(8px),
	$content-text-color: color($default-palette, 'gray', 900),
);

@include card($my-card);

.selected-card {
	border: 2px solid color($default-palette, 'primary', 400);
	position: relative;
	overflow: initial;

	igx-badge {
		position: absolute;
		top: rem(-11px);
		left: 0;
		right: 0;
		margin: 0 auto;
		content: 'Current choice';
		padding: rem(4px) rem(8px);
		max-width: 50%;
	}
}

.igx-card {
	cursor: pointer;
	user-select: none;
	min-width: 280px;

	&:focus {
		outline: none;
		box-shadow: inset 0 0 0 1px color($default-palette, 'primary', 400),
			0 5px 5px -3px rgba(0, 0, 0, 0.26),
			0 8px 10px 1px rgba(0, 0, 0, 0.12),
			0 3px 14px 2px rgba(0, 0, 0, 0.08);
	}
}

.sample-step-title {
	font-size: rem(20px);
	letter-spacing: 0;
	font-weight: 500;
	line-height: normal;
	margin-bottom: rem(24px);
}

.igx-card__media {
	max-width: rem(340px);
	padding: rem(30px) rem(30px) 0 rem(30px);
}

.igx-card-content {
	text-align: center;

	p {
		font-size: rem(16px);
		line-height: rem(24px);
	}

	padding: rem(30px);
}

.card-title {
	display: block;
	font-size: rem(14px);
	font-weight: 500;
	margin: 0 rem(8px);
	color: color($default-palette, 'secondary');
}

.card-currency {
	display: block;
	font-size: rem(48px);
	color: color($default-palette, 'secondary');
	margin-bottom: rem(8px);

	&::before {
		content: '$';
		font-size: rem(34px);
		margin-right: rem(6px);
		position: relative;
		top: rem(-12px);
	}
}

.flex-form,
.form-row {
	gap: rem(16px);
}

.flex-form {
	flex-direction: column;

	igx-checkbox {
		white-space: nowrap;
	}
}

.sample-card {
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	img {
		width: rem(180px);
		max-width: rem(300px);
		min-width: rem(130px);
	}

	.card-title {
		font-size: 12px;
		margin:0 rem(4px);
	}

	.card-currency {
		font-size: rem(36px);
		margin-bottom: rem(4px);

		&::before {
			font-size: rem(22px);
			margin-right: rem(4px);
		}
	}

	p {
		font-size: rem(14px);
		white-space: nowrap;
	}
}

.radio-sample {
	margin-bottom: rem(16px);
}

.success-marker {
	display:flex;
	align-items: center;
	justify-content: center;
	width: rem(30px);
	height: rem(30px);
	border-radius: rem(15px);
	background: color($default-palette, 'success');
	color: #fff;
	user-select: none;
}

.success-message {
	align-items: center;
	gap: rem(16px);
	margin-bottom: rem(32px);
}

.success-text {
	flex-direction: column;

	.sample-step-title {
		margin: 0;
	}
}

.sample-date {
	display: block;
	margin-bottom: rem(16px);
	text-align: left;
	font-weight: 500;
}

.sample-small-card {
	max-width: rem(500px);
}

.sample-terms {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	> a {
		margin-left: rem(8px);
		color: color($default-palette, 'primary');
		text-decoration: none;

		&:hover {
			color: color($default-palette, 'primary', 600);
		}
	}
}

.sample-required {
	color: color($default-palette, 'error');
	margin-left: rem(2px);
}
