<igx-buttongroup [alignment]="alignment">
    <button igxButton (click) = "layout = 'space-between'" [igxRipple]="rippleColor" [selected]="true">Space Between</button>
    <button igxButton (click) = "layout = 'space-around'" [igxRipple]="rippleColor">Space Around</button>
</igx-buttongroup>
<div *ngIf="layout == 'space-between'">
    <div class="layout-box" igxLayout igxLayoutJustify="space-between">
        <div class="layout-box__el">1</div>
        <div class="layout-box__el">2</div>
        <div class="layout-box__el">3</div>
    </div>
</div>

<div *ngIf="layout == 'space-around'">
    <div class="layout-box" igxLayout igxLayoutJustify="space-around">
        <div class="layout-box__el">1</div>
        <div class="layout-box__el">2</div>
        <div class="layout-box__el">3</div>
    </div>
</div>
