<div class="sample-wrapper">      
  <section style="flex-flow: row wrap; display: flex; justify-content: center;">
      <article class="sample-column">
          <h4 class="sample-title">Exclusive Selection <i class="light">Horizontal</i></h4>
          <igx-buttongroup [multiSelection]="!multi" [values]="alignOptions">
          </igx-buttongroup>

          <h4 class="sample-title">Exclusive Selection <i class="light">Vertical</i></h4>
          <igx-buttongroup [multiSelection]="false" [values]="cities" [alignment]="alignment">
          </igx-buttongroup>
      </article>
      <article class="sample-column">
        <h4 class="sample-title">Multiple Selection <i class="light">Horizontal</i></h4>
        <igx-buttongroup [multiSelection]="multi" [values]="fontOptions" [disabled]="false">
        </igx-buttongroup>

        <h4 class="sample-title">Multiple Selection <i class="light">Vertical</i></h4>
        <igx-buttongroup [multiSelection]="true" [values]="borders" [alignment]="alignment">
        </igx-buttongroup>
    </article>
  </section>
</div>
