<igx-banner #rateBanner [animationSettings]="animationSettings">
    <igx-icon>star_rate</igx-icon>
    Looks like you are enjoing our app! Would you like to rate it?
    <igx-banner-actions>
        <button igxButton="raised" (click)="rateApp()">Yah!</button>
        <button igxButton="raised" (click)="rateBanner.close()">Nah.</button>
    </igx-banner-actions>
</igx-banner>
<div class="sample-content">
    <igx-card [style.width]="contentWidth">
        <igx-card-header>
            <strong>What this man saw <u>WILL</u> shock you!</strong>
        </igx-card-header>
        <igx-card-content>
            A young J.D. was on a hike through Yellowstone park. They seemend normal, like any other - birds chirping,
            soft wind blowing, beavers being beavers.
            But just as he was about to cross the bridge over a nearby brook, he saw something that changed his life
            forever!
        </igx-card-content>
        <igx-card-actions>
            <button igxButton="flat">Continue Reading</button>
        </igx-card-actions>
    </igx-card>
    <hr />
    <button igxButton="flat" [style.width]="contentWidth" igxRipple (click)="rateBanner.toggle()">Toggle Banner</button>
</div>