<div class="grid__wrapper">
    <div class="columnHidingContainer">
        <igx-column-hiding #columnHidingUI [columns]="grid.columns" title="Column Hiding" filterColumnsPrompt="Type here to search">
        </igx-column-hiding>
        <div class="columnsOrderOptionsContainer">
            <igx-radio [checked]="columnHidingUI.columnDisplayOrder === 'Alphabetical'" (click)="columnHidingUI.columnDisplayOrder = 'Alphabetical'">
                Alphabetical order
            </igx-radio>
            <igx-radio [checked]="columnHidingUI.columnDisplayOrder === 'DisplayOrder'" (click)="columnHidingUI.columnDisplayOrder = 'DisplayOrder'">
                Display order
            </igx-radio>
        </div>
    </div>
    <div class="gridContainer">
        <igx-grid igxPreventDocumentScroll #grid [data]="data" [autoGenerate]="false" width="100%" height="560px" columnWidth="200px"
            [allowFiltering]="true">
            <igx-column [field]="'ID'" dataType="string" [sortable]="true"></igx-column>
            <igx-column [field]="'ContactName'" dataType="string" [sortable]="true" [disableHiding]="true"></igx-column>
            <igx-column [field]="'ContactTitle'" dataType="string" [sortable]="true" [disableHiding]="true"></igx-column>
            <igx-column [field]="'City'" dataType="string" [sortable]="true"></igx-column>
            <igx-column [field]="'CompanyName'" dataType="string" [sortable]="true"></igx-column>
            <igx-column [field]="'Fax'" dataType="string" [sortable]="true"></igx-column>
            <igx-column [field]="'Address'" dataType="string" [sortable]="true"></igx-column>
            <igx-column [field]="'PostalCode'" dataType="string" [sortable]="true"></igx-column>
            <igx-column [field]="'Country'" dataType="string" [sortable]="true"></igx-column>
            <igx-column [field]="'Phone'" dataType="string" [sortable]="true"></igx-column>
        </igx-grid>
    </div>
</div>
