<div class="hgrid-sample">
    <igx-hierarchical-grid class="hierarchicalGrid" [data]="localdata" [autoGenerate]="false" [allowFiltering]='true'
        [height]="'500px'" [width]="'100%'" #hierarchicalGrid>
        <igx-column field="Artist" [filterable]='true' [dataType]="'string'" [filters]="caseSensitiveFilteringOperand"></igx-column>
        <igx-column field="HasGrammyAward" [filterable]='true' [dataType]="'boolean'" [filters]="booleanFilteringOperand">
            <ng-template igxCell let-cell="cell" let-val>
                <img *ngIf="val" src="assets/images/grid/active.png" title="True" alt="True" />
                <img *ngIf="!val" src="assets/images/grid/expired.png" title="False" alt="False" />
            </ng-template>
        </igx-column>
        <igx-column field="Debut" [filterable]='true'></igx-column>
        <igx-column field="GrammyNominations" [filterable]='true' [dataType]="'number'"></igx-column>
        <igx-column field="GrammyAwards" [filterable]='true' [dataType]="'number'"></igx-column>

        <igx-row-island [key]="'Albums'" [autoGenerate]="false" [allowFiltering]='true'>
            <igx-column field="Album" [filterable]='true'></igx-column>
            <igx-column field="Launch Date" [filterable]='true' [dataType]="'date'"></igx-column>
            <igx-column field="Billboard Review" [filterable]='true' [dataType]="'number'"></igx-column>
            <igx-column field="US Billboard 200" [filterable]='true' [dataType]="'number'"></igx-column>
        <igx-row-island [key]="'Songs'" [autoGenerate]="false" >
                <igx-column field="No."></igx-column>
                <igx-column field="Title"></igx-column>
                <igx-column field="Released"></igx-column>
                <igx-column field="Genre"></igx-column>
        </igx-row-island>
    </igx-row-island>

    </igx-hierarchical-grid>
</div>