@use "layout.scss";
@use "igniteui-angular/theming" as *;

$my-dark-palette: palette(
  $primary: #2466ff,
  $secondary: #ffcd0f,
  $surface: #2a2b2f,
  $gray: #fff,
);

$my-dark-color: color($my-dark-palette, 'surface');

$dark-button-theme: flat-button-theme(
  $hover-foreground: color($my-dark-palette, 'secondary')
);

$dark-grid-toolbar-theme: grid-toolbar-theme(
  $background-color: $my-dark-color,
  $title-text-color: color($my-dark-palette, 'secondary'),
  $dropdown-background: $my-dark-color,
);

$dark-column-actions-theme: column-actions-theme(
  $title-color: color($my-dark-palette, 'secondary'),
  $background-color: color($my-dark-palette, 'surface')
);

$dark-checkbox-theme: checkbox-theme(
  $tick-color: $my-dark-color,
);

igx-grid {
  @include palette($my-dark-palette);
  @include tokens($dark-grid-toolbar-theme);
  @include tokens($dark-column-actions-theme);
  @include tokens($dark-checkbox-theme);
  @include tokens($dark-button-theme);
}

:host {
  ::ng-deep {
    .igx-grid-toolbar__actions {
      .igx-button--outlined {
        margin-left: 0.5rem;
        border: none;
      }
    }
  }
}

