.grid__wrapper {
  margin: 0 16px; }

.header-selector {
  width: 60px;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.header-image {
  width: 40px;
  height: 40px; }

.row-selector {
  width: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.row-selector-index {
  width: 25px;
  text-align: center; }
