<igx-hierarchical-grid igxPreventDocumentScroll  #hierarchicalGrid [data]="localdata" [height]="'500px'" [width]="'100%'" displayDensity="compact">
    <igx-column field="CustomerID"></igx-column>
    <igx-column-group header="General Information">
        <igx-column field="CompanyName"></igx-column>
        <igx-column-group header="Personal Details">
            <igx-column field="ContactName"></igx-column>
            <igx-column field="ContactTitle"></igx-column>
        </igx-column-group>
    </igx-column-group>
    <igx-column-group header="Address Information">
        <igx-column-group header="Location">
            <igx-column field="Address"></igx-column>
            <igx-column field="City"></igx-column>
            <igx-column field="PostalCode"></igx-column>
            <igx-column field="Country"></igx-column>
        </igx-column-group>
        <igx-column-group header="Contact Information">
            <igx-column field="Phone"></igx-column>
            <igx-column field="Fax"></igx-column>
        </igx-column-group>
    </igx-column-group>

    <igx-row-island [key]="'Orders'" [autoGenerate]="false">
        <igx-column-group header="Order Information">
            <igx-column-group header="Order Details">
                <igx-column field="OrderID"></igx-column>
                <igx-column field="EmployeeID"></igx-column>
                <igx-column field="OrderDate" [dataType]="'date'"></igx-column>
                <igx-column field="RequiredDate" [dataType]="'date'"></igx-column>
            </igx-column-group>
            <igx-column-group header="General Shipping Information">
                <igx-column field="ShippedDate" [dataType]="'date'"></igx-column>
                <igx-column field="ShipVia"></igx-column>
                <igx-column field="Freight"></igx-column>
                <igx-column field="ShipName"></igx-column>
            </igx-column-group>
            <igx-column-group header="Shipping Location">
                <igx-column field="ShipAddress"></igx-column>
                <igx-column field="ShipCity"></igx-column>
                <igx-column field="ShipPostalCode"></igx-column>
                <igx-column field="ShipCountry"></igx-column>
            </igx-column-group>
        </igx-column-group>
        <igx-row-island [key]="'OrderDetails'" [autoGenerate]="false">
                <igx-column field="ProductID"></igx-column>
                <igx-column field="UnitPrice"></igx-column>
                <igx-column field="Quantity"></igx-column>
                <igx-column field="Discount"></igx-column>
        </igx-row-island>
    </igx-row-island>

</igx-hierarchical-grid>