<div class="badge-shape">
  <div class="badge-shape-row">
    <span class="row-label">Rounded</span>
    <igx-badge icon="check" type="success" shape="rounded"></igx-badge>
    <igx-badge value="2" type="success" shape="rounded"></igx-badge>
    <igx-badge icon="check" type="success" shape="rounded" class="badge-small"></igx-badge>
  </div>
  <div class="badge-shape-row">
    <span class="row-label">Square</span>
    <igx-badge icon="check" type="info" shape="square"></igx-badge>
    <igx-badge value="2" type="info" shape="square"></igx-badge>
    <igx-badge icon="check" type="info" shape="square" class="badge-small"></igx-badge>
  </div>
</div>
