@use "sass:list";
@use "igniteui-theming/sass/typography" as *;

:host {
    display: grid;
    grid-template-columns: rem(80px) rem(40px) rem(40px) rem(40px);
    place-content: center;
    place-items: center;
    column-gap: rem(8px);
    row-gap: rem(40px);
    min-height: 8.5rem;
}

span {
    justify-self: end;
    color: var(--ig-gray-700);

    @include type-style("body-2") {
        margin: 0;
    }
}

$sizes: small, medium, large;

@each $size in $sizes {
    $i: list.index($sizes, $size);

    igx-badge:nth-of-type(3n + #{$i}) {
        --ig-size: var(--ig-size-#{$size});
    }
}
