igc-tile-manager {
  margin-bottom: 5px;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

.card {
  min-height: 30px;
  min-width: 250px;
  max-width: 320px;
  margin: 0 15px 15px 15px
}

igx-card-content {
  color: var(--content-text-color);
}

.body-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.string {
  text-align: center;
  margin-top: 50px;
  color: var(--ig-gray-800);
}

.sample {
  overflow: auto;
}

.content {
  display: flex;
  justify-content: space-between;
}

.order-info::part(base) {
  display: flex;
  flex-direction: column;
}

.order-info::part(content-container) {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}
