<igc-dockmanager [layout]=layout style="height: 600px;">
    <div slot="content1" class="dockManagerContent">Content 1</div>
    <div slot="content2" class="dockManagerContent">Content 2</div>
    <div slot="content3" class="dockManagerContent">Content 3</div>
    <div slot="content4" class="dockManagerContent">Content 4</div>
    <div slot="content5" class="dockManagerContent">Content 5</div>
    <div slot="content6" class="dockManagerContent">Content 6</div>
    <div slot="content7" class="dockManagerContent">Content 7</div>
    <div slot="content8" class="dockManagerContent">Content 8</div>
    <div slot="content9" class="dockManagerContent">Content 9</div>
</igc-dockmanager>

