// Fits the smallest row density.
.photo {
  vertical-align: middle;
  max-block-size: 24px;
  border-radius: 50%;
}

.cell__inner_2 {
  margin: 1px
}

:host {
  display: block;
}

.grid__wrapper{
  padding: 10px;
}
