<div class="radio-layout-item">
    <span>Label After</span>
    <igx-radio-group name="color-after" alignment="vertical" value="yellow">
        <igx-radio value="yellow">Yellow</igx-radio>
        <igx-radio value="orange">Orange</igx-radio>
        <igx-radio value="purple">Purple</igx-radio>
    </igx-radio-group>
</div>
<div class="radio-layout-item">
    <igx-radio-group name="color-before" alignment="vertical" value="yellow">
        <igx-radio value="yellow" labelPosition="before">Yellow</igx-radio>
        <igx-radio value="orange" labelPosition="before">Orange</igx-radio>
        <igx-radio value="purple" labelPosition="before">Purple</igx-radio>
    </igx-radio-group>
    <span>Label Before</span>
</div>
