<div class="grid__wrapper">
    <div class="sample__header">
        <igx-input-group>
            <input class="gridSample__filter" igxInput type="text" placeholder="Filter by product name" (input)="filter($event.target.value)">
        </igx-input-group><br>
    </div>

    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [autoGenerate]="false" height="480px" width="100%" [allowFiltering]="true">
        <igx-column field="ProductName" header="Product Name" [dataType]="'string'">
        </igx-column>
        <igx-column field="QuantityPerUnit" header="Quantity Per Unit" [dataType]="'string'">
        </igx-column>
        <igx-column field="UnitPrice" header="Unit Price" dataType="number">
            <ng-template igxCell let-cell="cell" let-val let-row>
                {{+val | currency}}
            </ng-template>
        </igx-column>
        <igx-column field="OrderDate" header="Order Date" [dataType]="'date'" [formatter]="formatDate">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'">
            <ng-template igxCell let-cell="cell" let-val>
                <img *ngIf="val" src="assets/images/grid/active.png" title="Continued" alt="Continued" />
                <img *ngIf="!val" src="assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
            </ng-template>
        </igx-column>
    </igx-grid>

</div>