<div class="grid__wrapper">
  <div class="sample__header">
    <igx-input-group>
        <input class="gridSample__filter" igxInput type="text" placeholder="Filter by product name" (input)="filter($event.target.value)">
    </igx-input-group><br>
  </div>
  
  <igx-grid #grid1 [data]="data" [autoGenerate]="false" height="520px" width="100%">
    <igx-column field="ProductName" header="Product Name" width="250px" [dataType]="'string'" filterable="true">
    </igx-column>
    <igx-column field="QuantityPerUnit" header="Quantity Per Unit" width="200px" [dataType]="'string'" filterable="true">
    </igx-column>
    <igx-column field="UnitPrice" header="Unit Price" width="150px" [dataType]="'number'" filterable="true">
        <ng-template igxCell let-cell="cell" let-val let-row>
        {{+val | currency}}
        </ng-template>
    </igx-column>
    <igx-column field="OrderDate" header="Order Date" [dataType]="'date'" width="150px" [formatter]="formatDate" filterable="true">
    </igx-column>
    <igx-column field="Discontinued" header="Discontinued" width="150px" filterable="true" [dataType]="'boolean'">
        <ng-template igxCell let-cell="cell" let-val>
          <img *ngIf="val" src="assets/images/grid/active.png" title="Continued" alt="Continued" />
          <img *ngIf="!val" src="assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
        </ng-template>
    </igx-column>
  </igx-grid>

</div>