.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 300px;
    // margin-right: 120px;
    // margin-left: 120px;
}

.chart {
    flex: 1;
    overflow: hidden;
    width: 100%;
    // height: calc(100% - 60px);
    // margin-top: 10px;
    margin-bottom: 0px;
}

.legendContainer {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex; justify-content: center;
    background: white;
}

.legend {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11pt;
    color: rgb(116, 114, 114);
    background: white;
}


.tooltipGrid {
    display: table;
    width: 150px;
    border-collapse: separate;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0px;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 1000;
}

.tooltipRow {
    display: table-row;
 }

.tooltipProps {
    display: table-cell;
    padding: 0px;
    width: 40px;
    font-size: 11pt;
}

.tooltipValue {
    display: table-cell;
    padding-left: 10px;
    color: rgb(116, 114, 114);
    font-size: 11pt;
    font-weight: 600;
}

.tooltipTitle {
    // display: table-cell;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 11pt;
    font-weight: 600;
    text-align: "center";
}
