<div class="switches">
    <button igxButton="raised" (click)="restoreState()">
        <igx-icon class="btn-icon">restore</igx-icon>
        <span>Restore</span>
    </button>
    <button igxButton="raised" (click)="saveState()">
        <igx-icon class="btn-icon">save</igx-icon>
        <span>Save</span>
    </button>
    <button igxButton="raised" (click)="clearStorage()">
        <igx-icon class="btn-icon">delete</igx-icon>
        <span>Clear</span>
    </button>

        <button igxButton="raised" (click)="grid.sortStrategy = customStrategy">
        <igx-icon class="btn-icon">Set Strategy</igx-icon>
        <span>Set NooP custom Sort Strategy</span>
    </button>
</div>

<div class="grid__wrapper">
    <igx-grid [igxPreventDocumentScroll]="true" [igxGridState]="options"  #grid
        [data]="data | async" [height]="'500px'" width="100%" [autoGenerate]='false' [allowFiltering]="true">
        <igx-column [field]="'Category'" [sortable]="true" [width]="'120px'"></igx-column>
        <igx-column [field]="'Type'" [sortable]="true" [width]="'150px'" [filterable]='false'></igx-column>
        <igx-column [field]="'Open Price'" [sortable]="true" [width]="'120px'" dataType="number"
            [formatter]="formatCurrency">
        </igx-column>
        <igx-column [field]="'Price'" [sortable]="true" [width]="'120px'" dataType="number"
            [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Change'" [sortable]="true" [width]="'120px'" dataType="number"
            [headerClasses]="'headerAlignSyle'">
            <ng-template igxHeader>
                <span>Change</span>
            </ng-template>

            <ng-template igxCell let-val>
                <div class="currency-badge-container">
                    <igx-badge *ngIf="val>0" type="success" position="bottom-right" icon="arrow_upward"
                        class="badge-left"></igx-badge>
                    <igx-badge *ngIf="val<0" type="error" position="bottom-right" icon="arrow_downward"
                        class="error badge-left"></igx-badge>
                    <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Change(%)'" [sortable]="true" [width]="'130px'" dataType="number"
            [formatter]="formatNumber">
            <ng-template igxHeader>
                <span>Change(%)</span>
            </ng-template>

            <ng-template igxCell let-val>
                <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}%</span>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Change On Year(%)'" [sortable]="true" [width]="'150px'" dataType="number"
            [formatter]="formatNumber">
            <ng-template igxCell let-val>
                <div class="currency-badge-container">
                    <igx-badge *ngIf="val>0" type="success" position="bottom-right" icon="arrow_upward"
                        class="badge-left"></igx-badge>
                    <igx-badge *ngIf="val<0" type="error" position="bottom-right" icon="arrow_downward"
                        class="error badge-left"></igx-badge>
                    <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}%</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Buy'" [sortable]="true" [width]="'130px'" dataType="number" [formatter]="formatCurrency">
        </igx-column>
        <igx-column [field]="'Sell'" [sortable]="true" [width]="'130px'" dataType="number" [formatter]="formatCurrency">
        </igx-column>
        <igx-column [field]="'Spread'" [sortable]="true" [width]="'130px'" dataType="number" [formatter]="formatNumber">
        </igx-column>
        <igx-column [field]="'Volume'" [sortable]="true" [width]="'130px'" dataType="number" [formatter]="formatNumber">
        </igx-column>
        <igx-column [field]="'High(D)'" [sortable]="true" [width]="'130px'" dataType="number"
            [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Low(D)'" [sortable]="true" [width]="'130px'" dataType="number"
            [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'High(Y)'" [sortable]="true" [width]="'130px'" dataType="number"
            [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Low(Y)'" [sortable]="true" [width]="'130px'" dataType="number"
            [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Start(Y)'" [sortable]="true" [width]="'130px'" dataType="number"
            [formatter]="formatCurrency"></igx-column>
    </igx-grid>
    <br />
</div>