.grid__wrapper {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.control-panel {
    margin-bottom: 24px;

    &__switches {
        margin-top: 16px;

        > * {
            margin-left: 32px;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

.athlete-name {
    margin-left: 8px;
}

.country-name {
    margin-left: 8px;
}
