<div class="grid__wrapper">
    <igx-grid [igxPreventDocumentScroll]="true" #grid1 id="grid1" [data]="data" [autoGenerate]="false" height="400px"
        (toolbarExporting)="configureExport($event)"
    >
        <igx-grid-toolbar>
            <igx-grid-toolbar-title>Grid toolbar</igx-grid-toolbar-title>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>


        <igx-column field="Name" header="Athlete" width="200">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <igx-avatar [src]="cell.row.data.Avatar" [roundShape]="true" size="small"></igx-avatar>
                    <span class="athlete_name">{{ cell.value }}</span>
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="CountryName" header="Country" width="200">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <igx-avatar [src]="cell.row.data.CountryFlag" [roundShape]="true" size="small"></igx-avatar>
                    <span class="country_name">{{ cell.value }}</span>
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="BeatsPerMinute" header="Beats Per Minute">
            <ng-template igxCell let-val>
                <div class="cell__inner">{{ val }}</div>
            </ng-template>
        </igx-column>

        <igx-column field="TopSpeed" header="Top Speed">
            <ng-template igxCell let-val>
                <div class="cell__inner">{{ val }}</div>
            </ng-template>

        </igx-column>

        <igx-column field="AthleteNumber" header="ID">
            <ng-template igxCell let-val>
                <div class="cell__inner">{{ val }}</div>
            </ng-template>
        </igx-column>

        <igx-column field="TrackProgress" header="Progress">
            <ng-template igxCell let-val>
                <div class="cell__inner">{{ val }}</div>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>
