<ul class="list-container">
    <li *ngFor="let employee of employees" 
        igxDrag 
        igxDrop
        id="{{employee.id}}" 
        (enter)="onEnterHandler($event)" 
        (dropped)="onTileDropped($event)" 
        (dragStart)="dragStartHandler(employee.id)" 
        [hideBaseOnDrag]="true"
        [ngStyle]="{ 'visibility': dragged ? 'hidden' : 'visible' }"
        class="list-item-container">
            <div class="text-container"> 
                <div class="name">{{employee.name}}</div>
                <div class="title">{{employee.title}}</div>
            </div>
            <igx-icon igxDragHandle fontSet="material" class="dialogHandle">drag_indicator</igx-icon>
    </li>
</ul>
