<ul class="list-container">
    <li *ngFor="let employee of employees"
        igxDrop 
        igxDrag 
        id="{{employee.id}}" 
        (onEnter)="onEnterHandler($event)" 
        (onDrop)="onTileDropped($event)" 
        (dragStart)="dragStartHandler(employee.id)" 
        [hideBaseOnDrag]="true"
        [ghostImageClass]="'drag-ghost-class'" 
        class="list-item-container">
            <div class="text-container"> 
                <div class="name">{{employee.name}}</div>
                <div class="title">{{employee.title}}</div>
            </div>
            <igx-icon igxDragHandle fontSet="material" class="dialogHandle">drag_indicator</igx-icon>
    </li>
</ul>
