<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll [data]="data" height="530px" width="100%" cellSelection="none" primaryKey="ID" rowSelection="multiple"
        [paging]="true" (onRowSelectionChange)="onRowSelect($event)">
        <igx-column field="ContactName" width="20%"></igx-column>
        <igx-column field="Country" width="20%"></igx-column>
        <igx-column field="City" width="20%" dataType="number"></igx-column>
        <igx-column field="PostalCode" width="20%" dataType="number"></igx-column>
        <igx-column field="CompanyName" width="20%" dataType="number"></igx-column>

        <ng-template igxRowSelector let-rowContext>
            <div class="row-selector">
                <igx-checkbox [readonly]="true" [checked]="rowContext.selected"
                    [disabled]="!isSelectionAllowed(rowContext.rowID)"
                    [aria-label]="rowContext.selected ? 'Deselect row' : 'Select row'">
                </igx-checkbox>
            </div>
        </ng-template>
    </igx-grid>
</div>
