:host {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

button {
    margin: 8px 0px;
}

.combo-section {
    margin: 24px;
    width: 320px;

    label {
        font-weight: 800;
    }
}

.cities-container {
    max-height: 200px;
    overflow-y: auto;
    margin: 8px 0px;

    igx-card {
        padding: 8px;
        overflow: visible;
    }
}