.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 300px;
}

.options {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.optionItem {
    margin-left: 10px;
    display: inline-block;
    vertical-align: center;
}