<igx-nav-drawer [isOpen]="true" [enableGestures]="true" width="280px">
    <ng-template igxDrawer>
        <igx-tree>
            <igx-tree-node *ngFor="let route of routes">
                <a igxTreeNodeLink [routerLink]="route.path">{{ route.data?.displayName }}</a>
                <igx-tree-node *ngFor="let child of route.children">
                    <a igxTreeNodeLink [routerLink]="[route.path, child.path]">{{ child.data?.displayName }}</a>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree>
    </ng-template>
</igx-nav-drawer>
