<div class="content-wrap" igxLayout>
  <igx-nav-drawer #drawer [isOpen]="true" [enableGestures]="true" width="280px">
    <ng-template igxDrawer>
      <igx-tree #tree>
        @for (route of routes; track route) {
          <igx-tree-node [data]="route.displayName">
            {{ route.displayName }}
            @for (child of route.children; track child) {
              <igx-tree-node [data]="child.displayName">
                <a igxTreeNodeLink [routerLink]="child.path">{{ child.displayName }}</a>
              </igx-tree-node>
            }
          </igx-tree-node>
        }
      </igx-tree>
    </ng-template>
  </igx-nav-drawer>

  <main igxFlex>
    <span igxIconButton="flat" igxToggleAction="navigation" (click)="drawer.toggle()">
      <igx-icon family="material">menu</igx-icon>
    </span>
    <h5>{{selectedContent}}</h5>
  </main>
</div>