.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 16px 0;
}

.icon-sample {
    display: flex;
    flex: 1 0 20%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}
