@use '../../../variables' as *;

.grid-wrapper {
    margin: 15px;
}

.location-wrapper {
    min-width: 200px;
    margin: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.ellipsis {
    @include ellipsis();
}

.warning {
    color:red;
}
