<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [allowFiltering]="true" [filterMode]="'excelStyleFilter'"
        [autoGenerate]="false" [height]="'500px'" [width]="'100%'" displayDensity="compact">
        <igx-column field="ProductName" header="Product Name" [sortable]="true" [hasSummary]="true" [editable]="true"
            [dataType]="'string'">
        </igx-column>
        <igx-column field="QuantityPerUnit" header="Quantity Per Unit" [sortable]="true" [hasSummary]="true"
            [editable]="true" [dataType]="'string'">
        </igx-column>
        <igx-column field="UnitPrice" header="Unit Price" [sortable]="true" [hasSummary]="true" [editable]="true"
            dataType="number">
        </igx-column>
        <igx-column field="OrderDate" header="Order Date" [sortable]="true" [hasSummary]="true" [editable]="true"
            [dataType]="'date'">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [sortable]="true" [hasSummary]="true" [editable]="true"
            [dataType]="'boolean'">
        </igx-column>
    </igx-grid>
</div>