.container {
  height: 100%;
  overflow: auto; }

.container > * {
  margin-top: 32px; }

.input-group-form {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 24px;
  margin-bottom: 48px; }

h4 {
  margin-top: 0; }
