<div class="grid__wrapper">
    <igx-grid #grid id="grid" [data]="data" [autoGenerate]="false" width="100%" height="560px" columnWidth="200px" (onColumnInit)="initColumns($event)"
              [showToolbar]="true" [columnHiding]="true" toolbarTitle="Employees" columnHidingTitle="Column Hiding" hiddenColumnsText="Hidden">
        <igx-column [field]="'ID'" dataType="string"></igx-column>
        <igx-column [field]="'ContactName'" dataType="string"></igx-column>
        <igx-column [field]="'ContactTitle'" dataType="string"></igx-column>
        <igx-column [field]="'City'" dataType="string"></igx-column>
        <igx-column [field]="'CompanyName'" dataType="string"></igx-column>
        <igx-column [field]="'Fax'" dataType="string"></igx-column>
        <igx-column [field]="'Address'" dataType="string"></igx-column>
        <igx-column [field]="'PostalCode'" dataType="string"></igx-column>
        <igx-column [field]="'Country'" dataType="string"></igx-column>
        <igx-column [field]="'Phone'" dataType="string"></igx-column>
    </igx-grid>
</div>