<div class="grid__wrapper">
    <div class="columnHidingContainer">
        <igx-column-hiding #columnHidingUI id="columnHidingUI" [columns]="grid.columns" [togglable]="false" title="Column Hiding"
            filterColumnsPrompt="Type here to search">
        </igx-column-hiding>
        <div class="columnsOrderOptionsContainer">
            <igx-radio [checked]="columnHidingUI.columnDisplayOrder === columnsOrder.Alphabetical" (click)="columnHidingUI.columnDisplayOrder = columnsOrder.Alphabetical">
                Alphabetical order
            </igx-radio>
            <igx-radio [checked]="columnHidingUI.columnDisplayOrder === columnsOrder.DisplayOrder" (click)="columnHidingUI.columnDisplayOrder = columnsOrder.DisplayOrder">
                Display order
            </igx-radio>
        </div>
    </div>
    <div class="gridContainer">
        <igx-grid #grid id="grid" [data]="data" [autoGenerate]="false" width="100%" height="560px" columnWidth="200px" (onColumnInit)="initColumns($event)">
            <igx-column [field]="'ID'" dataType="string"></igx-column>
            <igx-column [field]="'ContactName'" dataType="string" [disableHiding]="true"></igx-column>
            <igx-column [field]="'ContactTitle'" dataType="string" [disableHiding]="true"></igx-column>
            <igx-column [field]="'City'" dataType="string"></igx-column>
            <igx-column [field]="'CompanyName'" dataType="string"></igx-column>
            <igx-column [field]="'Fax'" dataType="string"></igx-column>
            <igx-column [field]="'Address'" dataType="string"></igx-column>
            <igx-column [field]="'PostalCode'" dataType="string"></igx-column>
            <igx-column [field]="'Country'" dataType="string"></igx-column>
            <igx-column [field]="'Phone'" dataType="string"></igx-column>
        </igx-grid>
    </div>
</div>