<igx-select [value]="currentDocumentLocation" (onSelection)="handleSelection($event)">
    <label igxLabel>URL</label>
    <igx-select-item *ngFor="let aLocation of urlLocations" [value]="aLocation.url">
        {{ aLocation.label }}
    </igx-select-item>
</igx-select>

Use the tab items to select different group of buttons.<br>

<router-outlet></router-outlet>

<igx-bottom-nav>
    <igx-tab label="Push Buttons" icon="radio_button_unchecked"
        routerLink="view1"
        routerLinkActive #rla1="routerLinkActive"
        [isSelected]="rla1.isActive">
    </igx-tab>

    <igx-tab label="Checkbox Buttons" icon="check_circle_outline"
        routerLink="view2"
        routerLinkActive #rla2="routerLinkActive"
        [isSelected]="rla2.isActive">
    </igx-tab>

    <igx-tab label="Radio Buttons" icon="radio_button_checked"
        routerLink="view3"
        routerLinkActive #rla3="routerLinkActive"
        [isSelected]="rla3.isActive">
    </igx-tab>
</igx-bottom-nav>
