@use "../switch-bootstrap" as switch-bootstrap;

@include switch-bootstrap.bootstrap-switch;

:host ::ng-deep igx-switch .igx-switch__thumb {
	min-width: 10px;
}

:host ::ng-deep igx-switch .igx-switch__ripple {
	display: none;
}

:host {
	display: flex;
	place-content: center;
	place-items: center;
	padding: 40px;
}
