<div class="grid-lite-wrapper">
  <section class="theme-selector">
    <igc-select
      flip
      [value]="selectedTheme"
      label="Select a theme:"
      (igcChange)="updateTheme($event)">
      @for (theme of themes; track theme) {
        <igc-select-item [value]="theme">{{ theme }}</igc-select-item>
      }
    </igc-select>
  </section>

  <igc-grid-lite
    [attr.data-theme]="selectedTheme"
    [data]="data">
    <igc-grid-lite-column field="name" header="Product" sortable filterable></igc-grid-lite-column>
    <igc-grid-lite-column field="price" header="Price per item" data-type="number" sortable filterable></igc-grid-lite-column>
    <igc-grid-lite-column field="sold" header="Items sold" data-type="number" sortable filterable></igc-grid-lite-column>
    <igc-grid-lite-column field="total" header="Total" data-type="number" sortable filterable></igc-grid-lite-column>
    <igc-grid-lite-column field="rating" header="User rating" data-type="number" sortable filterable [cellTemplate]="ratingTemplate"></igc-grid-lite-column>
  </igc-grid-lite>
</div>
