:host {
  contain: content;
  --ig-size: 2;
}

.grid-lite-wrapper {
  width: 100%;
  height: 100%;
}

.theme-selector {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}

igc-grid-lite {
  min-height: 400px;
}
