:host {
    display: flex;
    place-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: 0 auto;
    height: 100vh;
    padding: 2rem;
}

.profile-status {
    anchor-name: --profile-status;
}

.status-badge {
    position: absolute;
    position-anchor: --profile-status;
    inset-block-start: anchor(85%);
    inset-inline-start: anchor(85%);
    translate: -50% -50%;
}

.avatar-stack {
    display: flex;

    > igx-avatar:not(:first-child) {
        margin-left: -24px;
    }

    > *:last-child {
        --ig-avatar-background: #e8eef6;
        --ig-avatar-color: #6f8097;
    }

    igx-avatar {
        box-shadow: 0 0 0 .4rem var(--ig-surface-500);
    }
}
