<!-- Simple avatar -->
<igx-avatar
    shape="circle"
    size="large"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png"
    alt="A profile photo of a man.">
</igx-avatar>

<!-- Avatar + badge -->
<igx-avatar
    class="profile-status"
    shape="circle"
    size="large"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-06.png"
    alt="A profile photo of a woman.">
</igx-avatar>
<igx-badge
    class="status-badge"
    dot
    outlined
    type="success">
</igx-badge>

<!-- Avatar stack -->
<div class="avatar-stack" aria-label="Project members">
    <igx-avatar
        shape="circle"
        size="large"
        src="https://dl.infragistics.com/x/img/avatars/avatar-profile-07.png"
        alt="A profile photo of a animated kid.">
    </igx-avatar>
    <igx-avatar
        shape="circle"
        size="large"
        src="https://dl.infragistics.com/x/img/avatars/avatar-profile-03.png"
        alt="A profile photo of a man.">
    </igx-avatar>
    <igx-avatar
        shape="circle"
        size="large"
        src="https://dl.infragistics.com/x/img/avatars/avatar-profile-08.png"
        alt="A profile photo of a abstract flat cat.">
    </igx-avatar>
    <igx-avatar
        shape="circle"
        size="large"
        initials="+3"
        alt="Three additional project members.">
    </igx-avatar>
</div>

