<div class="top-row">
  <igx-switch [(ngModel)]="rowEdit">Row edit</igx-switch>
</div>
<div class="grid__wrapper">
  <igx-tree-grid [igxPreventDocumentScroll]="true" #treeGrid [batchEditing]="true" [data]="data" primaryKey="ID"
    foreignKey="ParentID" [width]="'100%'" [height]="'500px'" [rowEditable]="true" [pinning]="pinningConfig"
    (formGroupCreated)="formCreateHandler($event)" (cellEdit)="editHandler($event)" (rowEdit)="editHandler($event)">
    <igx-column field="ID" header="ID" dataType="number" [editable]="false"></igx-column>
    <igx-column field="Age" header="Age" dataType="number" [editable]="true" required min="18" max="99"></igx-column>
    <igx-column field="Name" header="Full Name" dataType="string" [editable]="true" required></igx-column>
    <igx-column field="City" header="City" dataType="string" [editable]="true" required>
      <ng-template igxCellEditor let-cell="cell" let-fc='formControl'>
        <igx-select [formControl]="fc" [igxFocus]="true" >
          @for (city of cities; track city) {
            <igx-select-item [value]="city">
              {{ city }}
            </igx-select-item>
          }
        </igx-select>
      </ng-template>
    </igx-column>
    <igx-column field="Country" header="Country" dataType="string" [editable]="true" required>
      <ng-template igxCellEditor let-cell="cell" let-fc='formControl'>
        <igx-select [formControl]="fc" [igxFocus]="true">
          @for (country of countries; track country) {
            <igx-select-item [value]="country">
              {{ country }}
            </igx-select-item>
          }
        </igx-select>
      </ng-template>
    </igx-column>
    <igx-column field="Title" header="Title" dataType="string" [editable]="true" required></igx-column>
    <igx-column field="HireDate" header="Hire Date" dataType="date" [editable]="true" required></igx-column>
    <igx-column field="OnPTO" header="On PTO" dataType="boolean" [editable]="true"></igx-column>
    <igx-column field="row_valid" header=" " [editable]="false" [pinned]="true" [width]="'150px'">
      <ng-template igxCell let-cell="cell">
        @if (isRowValid(cell)) {
          <div [igxTooltipTarget]="tooltipRef"  style="margin: 'auto';">
            <img width="18" src="assets/images/grid/active.png"/>
          </div>
        }
        @if (!isRowValid(cell)) {
          <div [igxTooltipTarget]="tooltipRef" style="margin: 'auto';">
            <img width="18" src="assets/images/grid/expired.png"/>
          </div>
        }
        <div #tooltipRef="tooltip" igxTooltip [style.width]="'max-content'">
          @for (message of stateMessage(cell); track message) {
            <div>
              {{message}}
            </div>
          }
        </div>
      </ng-template>
    </igx-column>
  </igx-tree-grid>
  <div class="buttons-wrapper">
    <button igxButton [disabled]="treeGrid.transactions.getAggregatedChanges(false).length < 1" (click)="commit()">Commit</button>
  </div>
</div>

