<div class="grid-lite-wrapper">
    <section class="panel">
      <button igxButton="outlined" [igxToggleAction]="dropdown" [igxDropDownItemNavigation]="dropdown">
        Column Properties
      </button>
      <igx-drop-down #dropdown [isOverlay]="true" [autoClose]="false" [closed]="false">
        @for (column of columns; track column) {
            <igx-drop-down-item>
            <div class="config">
                <span class="config-key">{{ column.header }}</span>
                <igx-checkbox
                #hiddenChk
                [checked]="column.hidden"
                (click)="$event.stopPropagation()"
                (change)="toggleColumnProperty(column, 'hidden', hiddenChk.checked)">
                Hidden
                </igx-checkbox>
                <igx-checkbox
                #resizableChk
                [checked]="column.resizable"
                (click)="$event.stopPropagation()"
                (change)="toggleColumnProperty(column, 'resizable', resizableChk.checked)">
                Resizable
                </igx-checkbox>
                <igx-checkbox
                #filterChk
                [checked]="column.filterable"
                (click)="$event.stopPropagation()"
                (change)="toggleColumnProperty(column, 'filterable', filterChk.checked)">
                Filter
                </igx-checkbox>
                <igx-checkbox
                #sortableChk
                [checked]="column.sortable"
                (click)="$event.stopPropagation()"
                (change)="toggleColumnProperty(column, 'sortable', sortableChk.checked)">
                Sort
                </igx-checkbox>
            </div>
            </igx-drop-down-item>
        }
      </igx-drop-down>

      <igx-switch
        labelPosition="before"
        [checked]="hasFormatters"
        (igxChange)="toggleFormatters($event)">
        Value formatters:
      </igx-switch>
    </section>

    <igc-grid-lite [data]="data">
        @for (col of columns; track col) {
            <igc-grid-lite-column
                [field]="col.field"
                [header]="col.header"
                [dataType]="col.dataType"
                [hidden]="col.hidden"
                [resizable]="col.resizable"
                [sortable]="col.sortable"
                [filterable]="col.filterable"
                [cellTemplate]="col.field === 'price' || col.field === 'total'
                ? (hasFormatters ? formatCurrency : undefined)
                : (col.field === 'rating' ? ratingTemplate : undefined)">
            </igc-grid-lite-column>
        }
    </igc-grid-lite>
  </div>
