:host {
  contain: content;
  --ig-size: 2;
}

.grid-lite-wrapper {
  width: 100%;
  height: calc(100% - 50px);
}

.panel {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

igc-grid-lite {
  min-height: 65vh;
}
