.panel {
    margin: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.config {
    display: grid;
    grid-template-columns: 180px repeat(4, max-content);
    column-gap: 1rem;
    align-items: center;
    width: 100%;
}

.config-key {
    font-weight: bold;
    white-space: nowrap;
}

.config igx-checkbox {
    white-space: nowrap;
}

.grid-lite-wrapper {
    width: 100%;
    height: 100%;
}

igx-grid-lite {
    min-height: 65vh;
    --ig-size: 2;
}
