<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [autoGenerate]="false" height="500px" width="100%"
        (onSortingDone)="removeSorting($event)" [showToolbar]="true">
        <ng-template igxToolbarCustomContent let-grid="grid">
            <igx-select [(ngModel)]="currentSortingType" (onSelection)="sortTypeSelection($event)">
                <label igxLabel>Select Sorting Type</label>
                <igx-select-item *ngFor="let type of sortingTypes" [value]="type.value">
                    {{type.name}}
                </igx-select-item>
            </igx-select>
        </ng-template>
        <igx-column field="OrderID" header="Order ID">
        </igx-column>
        <igx-column field="CategoryName" header="Category Name" [dataType]="'string'" sortable="true">
        </igx-column>
        <igx-column field="CompanyName" header="Company Name" [dataType]="'string'" sortable="true">
        </igx-column>
        <igx-column field="ShipCountry" header="Ship Country" [dataType]="'string'" sortable="true">
        </igx-column>
        <igx-column field="SaleAmount" header="Sale Amount" dataType="number" sortable="true">
            <ng-template igxCell let-cell="cell" let-val let-row>
                ${{val}}
            </ng-template>
        </igx-column>
        <igx-column field="ShippedDate" header="Shipped Date" [dataType]="'date'" [formatter]="formatDate"
            sortable="true">
        </igx-column>
    </igx-grid>
</div>