.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

.pageNavLinks {
    text-decoration: none;
    font-size: 10.5pt;
    color: #989898;
}

.activePage {
    font-size: 11.5pt;
    font-weight: bold;
}

.igx-input-group__input {
    display: inline;
}

#numberPager {
    display: flex;
    align-items: center;
    justify-content: center;
}

#numberPager span {
    margin-left: .5rem;
}

.fullWidth {
    width: 100%;
}