<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <div class="list-sample">
                <igx-list allowLeftPanning="true" allowRightPanning="true">
                    <igx-list-item [isHeader]="true">Contacts</igx-list-item>
                    <igx-list-item options="true" igxRipple="pink" igxRippleTarget=".igx-list__item" *ngFor="let item of navItems">
                        <div class="item">
                            <igx-avatar [src]="item.avatar" roundShape="true"></igx-avatar>
                            <span igxLabel>{{item.text}}</span>
                            <span igxButton="icon" igxRipple igxRippleCentered="true" (click)="delete(item)">
                                <igx-icon fontSet="material" color="#ff5252" name="delete"></igx-icon>
                            </span>
                        </div>
                    </igx-list-item>
                    <div class="snackbar-container">
                        <igx-snackbar message="Contact deleted" actionText="Undo" (onAction)="restore()"></igx-snackbar>
                    </div>
                </igx-list>
            </div>
        </article>
    </section>
</div>