:host {
    display: block;
    padding: 16px;
}

.list-sample {
    display: block;
    position: relative;
    overflow: hidden;
    height: 280px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  flex: 1 0 240px;
  align-items: center;
  position: relative;
  z-index: 0;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 24px;
  }
}

igx-snackbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
