.grid-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 16px 24px;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-align: start;
      align-items: flex-start; }

.grid__wrapper {
  margin: 0 16px; }

igx-snackbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; }

.igx-snackbar {
  background: rgba(0, 0, 0, 0.7); }

.container {
  display: -ms-flexbox;
  display: flex; }
  .container igx-icon {
    margin: 20px; }
