@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$custom-theme: igx-grid-theme(
    $sorted-header-icon-color: #ffb06a,
    $sortable-header-icon-hover-color: black
);

/*ENHANCED APPROACHES*/

// $black-color: black;
// $orange-color: #ffb06a;

/*PALETTE*/

// $custom-palette: igx-palette(
//     $primary: $black-color,
//     $secondary: $orange-color
// );

// $custom-theme: igx-grid-theme(
//     $sorted-header-icon-color: igx-color($custom-palette, "secondary", 500),
//     $sortable-header-icon-hover-color: igx-color($custom-palette, "primary", 500)
// );

/*SCHEMAS*/

// $custom-grid-schema: extend($_light-grid,
//     (
//         sorted-header-icon-color: (igx-color:('secondary', 500)),
//         sortable-header-icon-hover-color: (igx-color:('primary', 500))
//     )
// );

// $my-custom-schema: extend($light-schema, 
//     (
//         igx-grid: $custom-grid-schema
//     )
// );

/*THEME*/

// $custom-theme: igx-grid-theme(
//   $palette: $custom-palette,
//   $schema: $my-custom-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
  ::ng-deep {
    @include igx-grid($custom-theme);
  }
}

.grid__wrapper {
    margin: 10px 16px;
}
