:host {
  display: block;
  padding: 4px; }

.mask-sample {
  position: relative;
  padding: 16px 16px 48px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.form-title {
  margin: 0;
  margin-bottom: 24px; }

igx-input-group + igx-input-group {
  margin-top: 24px; }

igx-snackbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0; }
