<form class="mask-sample" action="/" method="POST">
    <h5 class="form-title">Personal Data</h5>

    <igx-input-group>
        <label igxLabel for="name">Name</label>
        <input igxInput name="name" type="text" [(ngModel)]="person.name" required />
    </igx-input-group>

    <igx-input-group>
        <label igxLabel for="email">Birthday</label>
        <input igxInput #dateInput [igxMask]="'00/00/0000'" [igxTextSelection]="true" name="birthday" type="text"
            [(ngModel)]="person.birthday" (blur)="validateDate(dateInput, snackbar)" />
    </igx-input-group>

    <igx-input-group>
        <label igxLabel for="socialSecurityNumber">Social Security Number</label>
        <input igxInput #ssn [igxMask]="'###-##-####'" [igxTextSelection]="true" name="socialSecurityNumber" type="text"
            [(ngModel)]="person.socialSecurityNumber" (blur)="validateSSN(ssn, snackbar)" />

    </igx-input-group>

    <igx-snackbar #snackbar></igx-snackbar>
</form>
