<div class="sample-container">
        <igx-category-chart
          yAxisLabelExtent="40"
          #chart>
        </igx-category-chart>

        <div class="sample-controls">
          <span #loadTimeSpan class="load-time">Load Time: </span>
          <button igxButton="raised" style="margin-right: 10px;"
            igxRipple="white"
            (click)="onGenerateDataClicked()"
          >Generate Data</button>
          <button igxButton="raised" style="margin-right: 10px;"
            igxRipple="white"
            (click)="onAssignDataClicked()"
          >Assign Data</button>

          <div class="max-points-slider" style="margin-top: 20px;">
            <span class="label">Data amount: {{ maxPointsText }}</span>
            <igx-slider id="slider"
                minValue="5000"
                maxValue="2000000"
                [value]="maxPoints"
                [isContinuous]=true
                (onValueChange)="onMaxPointsChanged($event.value)">
            </igx-slider>
          </div>
        </div>
    </div>
