@use '../../../variables' as *;

.photo {
    vertical-align: middle;
    max-height: 62px;
}

.cell__inner_2 {
    margin: 1px
}

.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

.sample-wrapper {
    margin: 0 auto;
    padding: 5px;
}

$banner-theme: banner-theme(
    $banner-background: #e3e3e3,
    $banner-message-color: color($purple-palette, "secondary", 600)
);

:host {
    @include palette($purple-palette);

    ::ng-deep {
        @include css-vars($banner-theme);
    }
}
