@use "layout.scss";
@use "igniteui-angular/theming" as *;

$banner-theme: banner-theme(
  $banner-background: #e3e3e3,
  $banner-message-color: color($purple-palette, "secondary", 600)
);

:host {
    @include tokens($banner-theme);
}

igx-hierarchical-grid {
  @include palette($purple-palette);
}
