@use '../../../variables' as *;

.photo {
    vertical-align: middle;
    max-height: 62px;
}
.cell__inner_2 {
    margin: 1px
}

.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

$my-light-gray: #e3e3e3;

$my-banner-palette: $purple-palette;

$custom-grid: grid-theme(
    $palette: $purple-palette
);


.sample-wrapper {
    margin: 0 auto;
    padding: 5px;
}

$banner-theme: banner-theme( 
    $banner-background: $my-light-gray,
    $banner-message-color: color($my-banner-palette, "secondary", 600)
);

$button-theme: button-theme(
  $palette: $purple-palette
);

$custom-checkbox: checkbox-theme(
  $palette: $my-banner-palette
);

.custom-buttons {
    @include button($button-theme);
  }

:host {
  ::ng-deep {
          @include checkbox($custom-checkbox);
          @include grid($custom-grid);
          @include banner($banner-theme);

  }
}
