<div class="sample-wrapper">
  <igx-tree selection="Cascading" class="tree-root">
    @for (root of data; track root) {
      <igx-tree-node [expanded]="true" [active]="true" [data]="root">
        <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: root }"></ng-container>
        @for (folder of root.Files; track folder) {
          <igx-tree-node #subfolder [data]="folder">
            <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: folder }"></ng-container>
            @for (file of folder.Files; track file) {
              <igx-tree-node [data]="file">
                <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: file }"></ng-container>
              </igx-tree-node>
            }
          </igx-tree-node>
        }
      </igx-tree-node>
    }
    <igx-tree-node #remote [loading]="loading" [disabled]="loading" [data]="remoteRoot"
      (expandedChange)="getNodeData(remote, $event)">
      <div class="node">
        <igx-icon class="tree-node-icon" [family]="family" [name]="remoteRoot.Icon"></igx-icon>
        <span class="node-title">{{ remoteRoot.Name }}</span>
        @if (showRefresh) {
          <igx-icon class="tree-node-icon node-refresh" (click)="refreshData(remote)" #target="tooltipTarget"
          [showDelay]="600" [hideDelay]="100" [igxTooltipTarget]="tooltipRef">refresh</igx-icon>
        }
      </div>
      @if (!remoteData?.length && !remote.loading) {
        <igx-tree-node #dummyNode [data]="{}" [disabled]="true">
        </igx-tree-node>
      }
      @for (entry of remoteData; track entry) {
        <igx-tree-node [data]="entry" [selected]="!!entry.Selected"
          (selectedChange)="handleSelection(entry, $event)">
          <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: entry }"></ng-container>
        </igx-tree-node>
      }
    </igx-tree-node>
  </igx-tree>
  <ng-template #nodeTemplate let-data>
    <div class="node">
      <igx-icon class="tree-node-icon" [family]="family" [name]="data.Icon"></igx-icon>
      <span class="node-title">{{ data.Name }}</span>
    </div>
  </ng-template>
</div>
<div #tooltipRef="tooltip" igxTooltip>
  Reload Remote Data
</div>
