<div class="sample-wrapper">
    <igx-tree selection="Cascading" class="tree-root">
        <igx-tree-node *ngFor="let root of data" [expanded]="true" [active]="true" [data]="root">
            <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: root }"></ng-container>
            <igx-tree-node #subfolder *ngFor="let folder of root.Files" [data]="folder">
                <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: folder }"></ng-container>
                <igx-tree-node *ngFor="let file of folder.Files" [data]="file">
                    <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: file }"></ng-container>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree-node>
        <igx-tree-node #remote [loading]="loading" [disabled]="loading" [data]="remoteRoot"
            (expandedChange)="getNodeData(remote, $event)">
            <div class="node">
                <igx-icon class="tree-node-icon" [family]="family" [name]="remoteRoot.Icon"></igx-icon>
                <span class="node-title">{{ remoteRoot.Name }}</span>
                <igx-icon *ngIf="showRefresh" class="tree-node-icon node-refresh" (click)="refreshData(remote)" #target="tooltipTarget"
                    [showDelay]="600" [hideDelay]="100" [igxTooltipTarget]="tooltipRef">refresh</igx-icon>
            </div>
            <igx-tree-node #dummyNode *ngIf="!remoteData?.length && !remote.loading" [data]="{}" [disabled]="true">
            </igx-tree-node>
            <igx-tree-node *ngFor="let entry of remoteData" [data]="entry" [selected]="!!entry.Selected"
                (selectedChange)="handleSelection(entry, $event)">
                <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: entry }"></ng-container>
            </igx-tree-node>
        </igx-tree-node>
    </igx-tree>
    <ng-template #nodeTemplate let-data>
        <div class="node">
            <igx-icon class="tree-node-icon" [family]="family" [name]="data.Icon"></igx-icon>
            <span class="node-title">{{ data.Name }}</span>
        </div>
    </ng-template>
</div>
<div #tooltipRef="tooltip" igxTooltip>
    Reload Remote Data
</div>
