<div class="grid__wrapper">
    <igx-tree-grid [igxPreventDocumentScroll]="true" [data]="localData" [autoGenerate]="false" primaryKey="ID"
        foreignKey="ParentID" height="350px" width="100%" primaryKey="ID">
        <igx-grid-toolbar #toolbar>
            <igx-grid-toolbar-actions>
                <button [disabled]="toolbar.showProgress" (click)="longRunning(toolbar)" igxButton>
                    Simulate long running operation
                </button>
                <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="ID" header="Order ID" [dataType]="'string'">
        </igx-column>
        <igx-column field="Name" header="Order Product" [dataType]="'string'">
        </igx-column>
        <igx-column field="Category" header="Category" [dataType]="'string'">
        </igx-column>
        <igx-column field="Units" header="Units" [dataType]="'number'">
        </igx-column>
        <igx-column field="UnitPrice" header="Unit Price" dataType="number">
            <ng-template igxCell let-cell="cell" let-val let-row>
                {{+val | currency}}
            </ng-template>
        </igx-column>
        <igx-column field="Price" header="Price" dataType="number">
            <ng-template igxCell let-cell="cell" let-val let-row>
                {{+val | currency}}
            </ng-template>
        </igx-column>
        <igx-column field="OrderDate" header="Order Date" [dataType]="'date'">
        </igx-column>
    </igx-tree-grid>
</div>
