<div >
    <div >
        <igx-radial-gauge #radialGauge
            scaleStartAngle=135
            scaleEndAngle=45
            scaleBrush="DodgerBlue"
            scaleSweepDirection="Clockwise"
            scaleOversweep=1
            scaleOversweepShape="Fitted"
            scaleStartExtent=0.45
            scaleEndExtent=0.575

            height="300px" width="300px"
            minimumValue=0 value=50
            maximumValue=80 interval=10 >
        </igx-radial-gauge>
    </div>
</div>
