<div class="switches">
    <igx-switch (change)='changePinningPosition()' style="padding-left: 20px"> Bottom Row Pinning toggle</igx-switch>
</div>
<div class="grid-container">
    <igx-grid #grid igxPreventDocumentScroll [data]="data" [pinning]='pinningConfig' [height]="'520px'" [width]="'100%'"
        [autoGenerate]="false" [primaryKey]="'ID'" [cellSelection]="'none'">
        <igx-column width='70px' [filterable]='false' [pinned]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <igx-icon class="pin-icon" (mouseup)="togglePinning(cell.row, $event)" fontSet="filtering-icons"
                    name="{{cell.row.pinned ? 'unpin' : 'pin'}}">
                </igx-icon>
            </ng-template>
        </igx-column>
        <igx-column [field]="'CompanyName'" [header]="'Company Name'" [width]="'300px'"></igx-column>
        <igx-column [field]="'ContactName'" [header]="'Contact Name'"></igx-column>
        <igx-column [field]="'ContactTitle'" [header]="'Contact Title'"></igx-column>
        <igx-column [field]="'Address'" [header]="'Address'"></igx-column>
        <igx-column [field]="'City'" [header]="'City'"></igx-column>
        <igx-column [field]="'PostalCode'" [header]="'Postal Code'"></igx-column>
        <igx-column [field]="'Phone'" [header]="'Phone'"></igx-column>
        <igx-column [field]="'Fax'" [header]="'Fax'"></igx-column>
    </igx-grid>
</div>