<igx-input-group type="search" class="input-group">
  <igx-prefix>
    @if (searchText.length === 0) {
      <igx-icon>search</igx-icon>
    }
    @if (searchText.length > 0) {
      <igx-icon (click)="clearSearch()">clear</igx-icon>
    }
  </igx-prefix>

  <input #search1 id="search1" igxInput placeholder="Search" autocomplete="off" [(ngModel)]="searchText" (ngModelChange)="onTextboxChange()"
    (keydown)="searchKeyDown($event)" />

    <igx-suffix>
      <div class="caseSensitiveButton">
        <button type="button" igxIconButton="flat" igxRipple [igxRippleCentered]="true" (click)="updateSearch()"
          [style.background]="caseSensitive ? 'rgb(73, 180, 254)' : 'transparent'" title="Match case">
          <igx-icon class="caseSensitiveIcon" family="material">text_fields</igx-icon>
        </button>
      </div>
      @if (searchText.length > 0) {
        <span>
          @if (matchCount > 0) {
            {{ index + 1 }} of {{ matchCount }} results
          }
          @if (matchCount === 0) {
            No results
          }
        </span>
        <div class="searchButtons">
          <button igxIconButton="flat" igxRipple [igxRippleCentered]="true" (click)="findPrev()" [disabled]="!canMoveHighlight">
            <igx-icon family="material">navigate_before</igx-icon>
          </button>
          <button igxIconButton="flat" igxRipple [igxRippleCentered]="true" (click)="findNext()" [disabled]="!canMoveHighlight">
            <igx-icon family="material">navigate_next</igx-icon>
          </button>
        </div>
      }
    </igx-suffix>
  </igx-input-group>
  <div igxTextHighlight
    [value]="html"
    [groupName]="'group1'"
    [containerClass]="'sample-text-container'"
    class="sample-text-container">
    {{html}}
  </div>

