.puzzle_part_container {
    padding: 0px;
    width: 100px;
    height: 100px;
}

.puzzle_part {
    -moz-user-select: none;
    width: 100px;
    height: 100px;
    border-right: 1px solid #616161;
    border-bottom: 1px solid #616161;
}

.puzzle_board_wrapper {
    margin: 20px;
}

.outside_container {
    display: flex;
    flex-flow: row;
    height: 100px;
}

.inside_container {
    width: 100px;
    height: 100px;
    background-color: #F22F6F;
    border: 1px #616161 solid;
}