@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fontawesome.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-regular.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-solid.css");
.cellAlignSyle {
  text-align: right;
  float: right; }

.cellAlignSyle > span {
  float: right; }

.up {
  color: green; }

.down {
  color: red; }

.grid__wrapper {
  padding: 5px 1px; }

.currency-badge-container {
  width: 80px;
  float: right; }

.badge-left {
  float: left; }

.pin-icon {
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #999; }
  .pin-icon:hover {
    color: #444; }

:host ::ng-deep .igx-grid__th--pinned .pin-icon {
  color: #444; }
  :host ::ng-deep .igx-grid__th--pinned .pin-icon:hover {
    color: #999; }

.title-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
