<div class="grid__wrapper">
    <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)" [displayDensity]="displayDensity">
    </igx-buttongroup>
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [displayDensity]="displayDensity"
        [summaryRowHeight]="summaryHeight" [autoGenerate]="false" height="550px" width="100%">
        <igx-paginator *ngIf="false"></igx-paginator>
        <igx-column field="ProductID" header="Product ID" width="10%" [headerClasses]="'prodId'">
        </igx-column>
        <igx-column field="ProductName" header="Product Name" width="17%" [headerClasses]="'prodId'">
        </igx-column>
        <igx-column field="UnitPrice" header="Price" [filterable]="false" width="17%" editable="true" dataType="number">
        </igx-column>
        <igx-column field="UnitsInStock" header="Units In Stock" width="21%" dataType="number" editable="true"
            [hasSummary]="hasSummary" [summaries]="discontinuedSummary">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [editable]="true" width="17%" [dataType]="'boolean'">
        </igx-column>
        <igx-column field="OrderDate" width="18%" [dataType]="'date'" [hasSummary]="hasSummary">
            <ng-template igxSummary let-summaryResult>
                <span>{{ summaryResult[0].label }} - {{ summaryResult[0].summaryResult }}</span>
                <span>{{ summaryResult[1].label }} - {{ summaryResult[1].summaryResult }}</span>
                <span>{{ summaryResult[2].label }} - {{ summaryResult[2].summaryResult }}</span>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>
<div class="controls-wrapper">
    <igx-input-group>
        <label igxLabel for="height">Summary Row Height</label>
        <input igxInput name="height" type="number" [(ngModel)]="summaryHeight">
    </igx-input-group>
    <igx-switch [(ngModel)]="hasSummary">Toggle Summaries</igx-switch>
</div>
