<div class="grid-lite-wrapper">
  <igx-grid-lite
    [data]="data"
    (filtering)="handleFiltering($event)"
    (filtered)="handleFiltered($event)">

    <igx-grid-lite-column
      field="firstName"
      header="First name"
      filterable>
    </igx-grid-lite-column>

    <igx-grid-lite-column
      field="lastName"
      header="Last name"
      filterable>
    </igx-grid-lite-column>

    <igx-grid-lite-column
      field="age"
      header="Age"
      dataType="number"
      filterable>
    </igx-grid-lite-column>

    <igx-grid-lite-column
      field="active"
      header="Active"
      dataType="boolean"
      filterable>
      <ng-template #checkboxTemplate let-value>
        <igx-checkbox
          [checked]="value"
          [readonly]="true">
        </igx-checkbox>
      </ng-template>
    </igx-grid-lite-column>

  </igx-grid-lite>

  <div class="log">
    @for (entry of log; track $index) {
      <p><code>{{ entry }}</code></p>
    }
  </div>
</div>
