[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

igx-buttongroup {
  display: inline-block;
  width: 200px; }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
  --igx-button-group-border-radius: 4px;
  --igx-button-group-elevation: 2;
  --igx-button-group-variant: material;
  --igx-button-group-item-background: #2f4d6a;
  --igx-button-group-item-border-color: #c7c7c7;
  --igx-button-group-item-text-color: #fdfdfd;
  --igx-button-group-item-hover-text-color: #fdfdfd;
  --igx-button-group-item-hover-background: #1f3347;
  --igx-button-group-item-selected-text-color: #fdfdfd;
  --igx-button-group-item-selected-background: #1f3347;
  --igx-button-group-item-selected-hover-background: #1f3347;
  --igx-button-group-item-selected-border-color: #969696;
  --igx-button-group-disabled-text-color: gray;
  --igx-button-group-disabled-background-color: lightgray;
  --igx-button-group-item-disabled-border: #c7c7c7;
  --igx-button-group-border: none;
  --igx-button-group-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08); }

:host ::ng-deep .igx-button-group, :host ::ng-deep .igx-button-group--vertical {
  display: -ms-flexbox;
  display: flex;
  box-shadow: var(--igx-button-group-shadow);
  transition: all 140ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: var(--igx-button-group-border-radius); }

:host ::ng-deep .igx-button-group__item, :host ::ng-deep .igx-button-group__item--selected {
  border: 1px solid var(--igx-button-group-item-border-color);
  color: var(--igx-button-group-item-text-color);
  background: var(--igx-button-group-item-background);
  min-width: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 0;
  transition: all 140ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  :host ::ng-deep .igx-button--flat.igx-button-group__item, :host ::ng-deep .igx-button--flat.igx-button-group__item--selected {
    border-radius: 0; }
  :host ::ng-deep .igx-button-group__item .igx-icon, :host ::ng-deep .igx-button-group__item--selected .igx-icon, :host ::ng-deep .igx-button-group__item .igx-icon--inactive, :host ::ng-deep .igx-button-group__item--selected .igx-icon--inactive {
    color: currentColor; }
  :host ::ng-deep .igx-button-group__item:not(:nth-child(0)), :host ::ng-deep .igx-button-group__item--selected:not(:nth-child(0)) {
    margin-left: -1px; }
  :host ::ng-deep .igx-button-group__item:first-of-type, :host ::ng-deep .igx-button-group__item--selected:first-of-type {
    border-top-left-radius: var(--igx-button-group-border-radius);
    border-bottom-left-radius: var(--igx-button-group-border-radius); }
  :host ::ng-deep .igx-button-group__item:last-of-type, :host ::ng-deep .igx-button-group__item--selected:last-of-type {
    border-top-right-radius: var(--igx-button-group-border-radius);
    border-bottom-right-radius: var(--igx-button-group-border-radius); }
  :host ::ng-deep .igx-button--disabled.igx-button-group__item, :host ::ng-deep .igx-button--disabled.igx-button-group__item--selected {
    color: var(--igx-button-group-disabled-text-color) !important;
    background: var(--igx-button-group-disabled-background-color) !important;
    border-color: var(--igx-button-group-item-disabled-border); }
  :host ::ng-deep .igx-button-group__item:hover, :host ::ng-deep .igx-button-group__item--selected:hover, :host ::ng-deep .igx-button-group__item:focus, :host ::ng-deep .igx-button-group__item--selected:focus {
    color: var(--igx-button-group-item-hover-text-color);
    background: var(--igx-button-group-item-hover-background);
    z-index: 1; }
    :host ::ng-deep .igx-button-group__item:hover .igx-icon, :host ::ng-deep .igx-button-group__item--selected:hover .igx-icon, :host ::ng-deep .igx-button-group__item:hover .igx-icon--inactive, :host ::ng-deep .igx-button-group__item--selected:hover .igx-icon--inactive, :host ::ng-deep .igx-button-group__item:focus .igx-icon, :host ::ng-deep .igx-button-group__item--selected:focus .igx-icon, :host ::ng-deep .igx-button-group__item:focus .igx-icon--inactive, :host ::ng-deep .igx-button-group__item--selected:focus .igx-icon--inactive {
      color: currentColor; }

:host ::ng-deep .igx-button-group--vertical .igx-button-group__item:not(:nth-child(0)), .igx-button-group--vertical :host ::ng-deep .igx-button-group__item:not(:nth-child(0)) {
  margin-top: -1px;
  margin-left: 0; }

:host ::ng-deep .igx-button-group--vertical .igx-button-group__item:first-of-type, .igx-button-group--vertical :host ::ng-deep .igx-button-group__item:first-of-type {
  border-top-left-radius: var(--igx-button-group-border-radius);
  border-top-right-radius: var(--igx-button-group-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

:host ::ng-deep .igx-button-group--vertical .igx-button-group__item:last-of-type, .igx-button-group--vertical :host ::ng-deep .igx-button-group__item:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--igx-button-group-border-radius);
  border-bottom-right-radius: var(--igx-button-group-border-radius); }

:host ::ng-deep .igx-button-group__item--selected {
  color: var(--igx-button-group-item-selected-text-color);
  background: var(--igx-button-group-item-selected-background);
  border-color: var(--igx-button-group-item-selected-border-color);
  position: relative;
  z-index: 1; }
  :host ::ng-deep .igx-button-group__item--selected:hover, :host ::ng-deep .igx-button-group__item--selected:focus {
    color: var(--igx-button-group-item-selected-text-color);
    background: var(--igx-button-group-item-selected-hover-background); }
  :host ::ng-deep .igx-button--disabled.igx-button-group__item--selected {
    position: relative; }
    :host ::ng-deep .igx-button--disabled.igx-button-group__item--selected::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.06); }

:host ::ng-deep .igx-button-group--vertical {
  -ms-flex-flow: column;
      flex-flow: column; }

:host ::ng-deep .igx-button-group__item-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  min-width: 0; }
  :host ::ng-deep .igx-button-group__item-content * ~ * {
    margin-left: 0.625rem; }

:host ::ng-deep .igx-button-group__button-text {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
