@import '~igniteui-angular/lib/core/styles/themes/index';

igx-time-picker {
    width: 400px;
}

$my-time-picker-theme: igx-time-picker-theme(
  $text-color: #e4c8a5,
  $hover-text-color: #ECAA53,
  $selected-text-color: #ECAA53,
  $header-background: #ECAA53,
  $header-hour-text-color: #011627,
  $header-time-period-color: #011627,
  $background-color: #011627
);

$dark-button: igx-button-theme(
    $flat-text-color: #ECAA53,
    $flat-hover-background: #ECAA53
);

// :host {
//     @include igx-css-vars($my-time-picker-theme);
//     @include igx-css-vars($dark-button);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-time-picker($my-time-picker-theme);
    @include igx-button($dark-button);
}

