<div class="sample-wrapper container">
    <div class="options">
        <span>Chart Type: </span>
        <select [(ngModel)]="chartType">
            <option>Auto</option>
            <option>Area</option>
            <option>Line</option>
            <option>Column</option>
            <option>Point</option>
            <option>Spline</option>
            <option>SplineArea</option>
            <option>StepArea</option>
            <option>StepLine</option>
            <option>Waterfall</option>
        </select>
    </div>
    <div class="chart">
        <igx-category-chart height="calc(100% - 60px)" width="98%"
            [dataSource]="data"
            [chartType]="chartType"
            chartTitle="Olympic Medals By Country"

            xAxisLabelTextStyle="10pt Verdana"
            xAxisLabelTopMargin="5"
            xAxisLabelTextColor="gray"
            yAxisLabelTextStyle="10pt Verdana"
            yAxisLabelRightMargin="5"
            yAxisLabelTextColor="gray"

            xAxisTitle="Years"
            xAxisTitleTextColor="gray"
            xAxisTitleTextStyle="12pt Verdana"
            xAxisTitleAngle="0"
            yAxisTitle="Total Medals"
            yAxisTitleTextStyle="12pt Verdana"
            yAxisTitleTextColor="gray"
            yAxisTitleAngle="90"
            yAxisTitleLeftMargin="5"

            xAxisTickLength="15"
            xAxisTickStrokeThickness="2"
            xAxisTickStroke="gray"
            yAxisTickLength="0"

            yAxisMinimumValue="50"
            yAxisMaximumValue="150"

            yAxisInterval="25"
            yAxisMajorStroke="black"
            yAxisMajorStrokeThickness="1"
            yAxisMinorInterval="5"
            yAxisMinorStroke="gray"
            yAxisMinorStrokeThickness="0.5"

            xAxisGap="0.125"
            xAxisOverlap="0"
        >
        </igx-category-chart>
    </div>
</div>
