:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.age-question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.age-title {
    color: var(--ig-gray-900);
    font-family: var(--ig-subtitle-1-font-family, var(--ig-font-family));
    font-size: var(--ig-subtitle-1-font-size);
    font-weight: var(--ig-subtitle-1-font-weight);
    line-height: var(--ig-subtitle-1-line-height);
    letter-spacing: var(--ig-subtitle-1-letter-spacing);
}
