<div class="sample-wrapper" style="padding: 1rem;">
  <h4 class="sample-title">Default Date Picker.</h4>
  <p class="sample-description">The default datepicker with button set</p>
  <div>
    <igx-datePicker cancelButtonLabel="cancel" todayButtonLabel="today"></igx-datePicker>
  </div>
  <h4 class="sample-title">Date Picker with passed date.</h4>
  <p class="sample-description">Datepicker with initial value and locale.</p>
  <div>
    <igx-datePicker locale="de" [value]="date"></igx-datePicker>
  </div>
  <h4 class="sample-title">Date Picker with passed date and custom formatter.</h4>
  <p class="sample-description">Datepicker with passed date and a custom formatter function.</p>
  <div>
    <igx-datePicker [value]="date" [formatter]="formatter"></igx-datePicker>
  </div>
</div>
