<div class="sample-wrapper">
    <section style="flex-flow: row wrap; display: flex; justify-content: center;">
        <article class="sample-column">
            <h4 class="sample-title">Flat & Raised Buttons</h4>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="flat" igxRipple>Flat</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxRipple="white">Raised</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxRipple="#FBB13C" [disabled]="true">Disabled</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Do 1</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="#FBB13C">Do 2</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="#FBB13C">Do 3</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Do 4</button>
                </div>
                <div class="button-sample">
                    <button igxButton="flat" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Do 5</button>
                </div>
                <div class="button-sample">
                    <button igxButton="raised" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">Do 6</button>
                </div>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Floating Action Buttons</h4>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="fab" igxRipple="white">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">
                        <igx-icon fontSet="material" name="edit"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">
                        <igx-icon fontSet="material" name="add"></igx-icon>
                    </button>
                </div>
            </div>
                        <h4 class="sample-title">Icon Buttons</h4>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true">
                        <igx-icon fontSet="material" name="search"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxButtonColor="#E41C77" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true">
                        <igx-icon fontSet="material" name="more_vert"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="white" igxButtonBackground="#E41D78" igxRipple="white" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="search"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="favorite"></igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow" igxRippleCentered="true">
                        <igx-icon fontSet="material" name="more_vert"></igx-icon>
                    </button>
                </div>
            </div>
        </article>
    </section>
        
    <section style="flex-flow: row wrap; display: flex; justify-content: center;">
        <article class="sample-column">
            <h4 class="sample-title">Exclusive Selection <i class="light">Horizontal</i></h4>
            <igx-buttongroup [multiSelection]="!multi" [values]="alignOptions">
            </igx-buttongroup>
  
            <h4 class="sample-title">Multiple Selection <i class="light">Horizontal</i></h4>
            <igx-buttongroup [multiSelection]="multi" [values]="fontOptions" [disabled]="false">
            </igx-buttongroup>

            <h4 class="sample-title">Exclusive Selection <i class="light">Vertical</i></h4>
            <igx-buttongroup [multiSelection]="false" [values]="cities" [alignment]="alignment">
            </igx-buttongroup>
  
            <h4 class="sample-title">Multiple Selection <i class="light">Vertical</i></h4>
            <igx-buttongroup [multiSelection]="true" [values]="borders" [alignment]="alignment">
            </igx-buttongroup>
        </article>
        <article class="sample-column">
            <h4 class="sample-title">Light Ripple on Dark Background</h4>
            <div class="ripple-sample dark" igxRipple="white">
               <p>Click me to see my ripple!</p>
            </div>
     
            <h4 class="sample-title">Dark Ripple on Light Background</h4>
            <div class="ripple-sample light" igxRipple="black">
               <p>Click me to see my ripple!</p>
            </div>
        </article>
    </section>

</div>
