@import "~igniteui-angular/lib/core/styles/themes/index";
@import "~bootstrap/scss/bootstrap";

@include igx-core();

:host {
    // Include the Bootstrap theme colors
    @each $color, $value in $theme-colors {
        --#{$color}: #{$value};
    }

    ::ng-deep {
        @include igx-avatar(igx-avatar-theme(
            $initials-background: var(--primary),
            $initials-color: var(--dark),
            $icon-background: var(--info),
            $icon-color: var(--light)
        ));
    }
}

igx-avatar {
    margin: 8px;
}
