@use '../../../../variables' as *;

:host {
    --teal-light: #64ffda;
    --teal-dark: #004d40;

    ::ng-deep {
        @include avatar(
            avatar-theme(
                $background: var(--teal-light),
                $color: var(--teal-dark)
            )
        );
    }
}

igx-avatar {
    margin: 8px;
}
