@import "~igniteui-angular/lib/core/styles/themes/index";

@include igx-core();

:host {
    --teal-light: #64ffda;
    --teal-dark: #004d40;
    --green-dark: #558B2F;
    --gray-light: #fafafa;

    ::ng-deep {
        @include igx-avatar(
            igx-avatar-theme(
                $background: var(--teal-light),
                $color: var(--teal-dark)
            )
        );
    }
}

igx-avatar {
    margin: 8px;
}
