:host {
    ::ng-deep {
        .igx-chip__item {
            height: 1.25rem;
            font-size: 0.75rem;
        }
    }
}

igx-chip {
    margin-right: 0.5rem;
    margin-top: 1.25rem;
}

igx-chips-area {
    margin-left: 1.25rem;
}