<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <form>
                <igx-input-group>
                    <igx-prefix>+359</igx-prefix>
                    <label igxLabel for="phone">Phone</label>
                    <input igxInput name="phone" type="text" [(ngModel)]="user.phone" />
                    <igx-suffix>
                        <igx-icon>phone</igx-icon>
                    </igx-suffix>
                </igx-input-group>
            </form>
        </article>
    </section>
</div>
