.avatars-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.avatar-sample {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 30%;
      flex: 1 0 30%;
  width: 88px;
  height: 88px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 15px 0; }

.avatar-sample.initials .igx-avatar {
  background: #e41c77; }

.avatar-sample.icon .igx-avatar {
  background: #9e9e9e; }
