@use '../../../../variables' as *;

$border-color: color($color: gray, $variant: 300);

.calendar-wrapper {
    max-width: 500px;
    min-width: 300px;
    border: 1px solid $border-color;
    border-radius: 6px;
    margin: 8px;
}

.igx-calendar {
	--ig-size: 2;
	
    border-radius: 4px;
}
