@use '../../../variables' as *;

$custom-theme: igx-grid-theme(
    $sorted-header-icon-color: #ffb06a,
    $sortable-header-icon-hover-color: black
);

:host {
  ::ng-deep {
    @include igx-grid($custom-theme);
  }
}

.photo {
    vertical-align: middle;
    max-height: 62px;
}

.cell__inner_2 {
    margin: 1px
}

.hgrid-sample{
    padding: 16px;
}
