<div class="button-grid">
    <div class="button-row">
        <button igxButton="contained" class="confirm-button">Confirm</button>
        <button igxButton="outlined" class="send-button">
            <igx-icon family="material">send</igx-icon>
            Send
        </button>
        <button igxButton="flat" class="cancel-button">Cancel</button>
        <button igxButton="fab" class="add-button">
            Add
            <igx-icon family="material">add</igx-icon>
        </button>
    </div>
</div>
