:host {
    padding: 8px;
    display: flex;
    flex-direction: column;

    ::ng-deep {

        igx-pivot-data-selector {
            border: 1px solid hsla(var(--igx-grays-200));
            margin: 0 8px;
        }
    }

}

igx-pivot-grid {
    flex: 1;
}

.pivot-container {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    order: 0;
}

.pivot-grid-wrapper {
    position: relative;
    z-index: 0;
}