@use "layout.scss";
@use "igniteui-angular/theming" as *;

$splitter-theme: splitter-theme(
  $bar-color: #011627,
  $handle-color: #ecaa53,
  $expander-color: #ecaa53,
  $size: 4px
);

:host {
  @include tokens($splitter-theme);
}
