<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  [data]="data" primaryKey="ID" foreignKey="ParentID" [autoGenerate]="false" height="500px"
        width="100%">
        <igx-column [field]="'Name'" [header]="'Name'" dataType="string" [resizable]="true" [width]="'220px'"
            [minWidth]="'200px'" [maxWidth]="'250px'"></igx-column>
        <igx-column [field]="'Title'" [header]="'Title'" dataType="string" [resizable]="true" [width]="'100px'">
        </igx-column>
        <igx-column [field]="'HireDate'" [header]="'Hire Date'" dataType="date" [resizable]="true" [width]="'100px'">
        </igx-column>
        <igx-column [field]="'Age'" [header]="'Age'" dataType="number" [resizable]="true" [width]="'100px'">
        </igx-column>
        <igx-column [field]="'Address'" [header]="'Address'" dataType="string" [resizable]="true" [width]="'100px'">
        </igx-column>
        <igx-column [field]="'City'" [header]="'City'" dataType="string" [resizable]="true" [width]="'100px'">
        </igx-column>
        <igx-column [field]="'Country'" [header]="'Country'" dataType="string" [resizable]="true" [width]="'100px'">
        </igx-column>
        <igx-column [field]="'Fax'" [header]="'Fax'" dataType="string" [resizable]="true" [width]="'100px'">
        </igx-column>
        <igx-column [field]="'PostalCode'" [header]="'Postal Code'" dataType="string" [resizable]="true"
            [width]="'100px'"></igx-column>
        <igx-column [field]="'Phone'" [header]="'Phone'" dataType="string" [resizable]="true" [width]="'100px'">
        </igx-column>
    </igx-tree-grid>
</div>