@use '../../../variables' as *;

$custom-theme-palette: palette(
    $primary: #0288d1,
    $secondary: #bdbdbd,
    $surface: #fff
);

$custom-grid-theme: grid-theme(
    $resize-line-color: color($custom-theme-palette, 'secondary', 500)
);

:host {
    @include palette($custom-theme-palette);

    ::ng-deep {
        @include css-vars($custom-grid-theme);
    }
}

.grid__wrapper {
    margin: 16px;
}
