.container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
.lowerInput {
    clear:both; 
    float:left;
}
.upperInput {
    clear:none; 
    float: right;
}