.select-wrapper {
  display: -ms-flexbox;
  display: flex;
  padding-top: 220px;
  padding-left: 40px; }

.icon {
  padding-left: 10px;
  padding-left: 10px; }

:host ::ng-deep .select__entry span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  padding-right: 12px; }
