.month-picker-wrapper {
    width: 300px;
    height: 400px;
    border: 1px solid #666;
    box-shadow: 0 12px 24px rgba(#000, .06);
    margin-bottom: 12px;
  }

.sample-content{
    display: flex;
    flex-direction: column;
    margin:10px;
}

.text-content{
    height: 40px;
}