:host ::ng-deep .fin-dark-theme .finjs-slider,
:host ::ng-deep .fin-dark-theme .sample-toolbar {
  color: rgba(255, 255, 255, 0.87); }

:host ::ng-deep .finjs-icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  :host ::ng-deep .finjs-icons igx-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 4px; }

:host ::ng-deep .igx-grid__grouparea {
  max-height: 100%;
  height: auto; }

:host ::ng-deep .changePos,
:host ::ng-deep .changeNeg,
:host ::ng-deep .strongPositive,
:host ::ng-deep .strongNegative {
  color: #fff !important; }
  :host ::ng-deep .changePos .igx-grid__td-text,
  :host ::ng-deep .changeNeg .igx-grid__td-text,
  :host ::ng-deep .strongPositive .igx-grid__td-text,
  :host ::ng-deep .strongNegative .igx-grid__td-text {
    padding: 2px 5px; }

:host ::ng-deep .positive {
  color: #4eb862 !important; }

:host ::ng-deep .positive.strongPositive .igx-grid__td-text {
  color: rgba(78, 184, 98, 0.8) !important; }

:host ::ng-deep .negative {
  color: #d31642 !important; }

:host ::ng-deep .negative.strongNegative .igx-grid__td-text {
  color: rgba(255, 19, 74, 0.8) !important; }

:host ::ng-deep .changePos .igx-grid__td-text {
  background: #335e3b; }

:host ::ng-deep .changePos1 {
  background: #335e3b;
  color: #fff; }

:host ::ng-deep .changePos2 .igx-grid__td-text {
  border-right: 4px solid #335e3b;
  padding-right: 4px; }

:host ::ng-deep .changeNeg .igx-grid__td-text {
  background: #7a1c32; }

:host ::ng-deep .changeNeg1 {
  color: #fff;
  background: #7a1c32; }

:host ::ng-deep .changeNeg2 .igx-grid__td-text {
  border-right: 4px solid #7a1c32;
  padding-right: 4px; }

:host ::ng-deep .igx-grid__td--selected.changePos1,
:host ::ng-deep .igx-grid__td--selected.changePos2,
:host ::ng-deep .igx-grid__td--selected.changePos {
  background-color: #335e3b !important; }
  :host ::ng-deep .igx-grid__td--selected.changePos1 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.changePos1 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.changePos2 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.changePos2 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.changePos .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.changePos .igx-grid__td-text {
    color: #fff; }

:host ::ng-deep .igx-grid__td--selected.changeNeg1,
:host ::ng-deep .igx-grid__td--selected.changeNeg2,
:host ::ng-deep .igx-grid__td--selected.changeNeg {
  background-color: #7a1c32 !important; }
  :host ::ng-deep .igx-grid__td--selected.changeNeg1 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.changeNeg1 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.changeNeg2 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.changeNeg2 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.changeNeg .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.changeNeg .igx-grid__td-text {
    color: #fff; }

:host ::ng-deep .strongPositive .igx-grid__td-text {
  background: #459a55; }

:host ::ng-deep .strongPositive1 {
  background: #459a55;
  color: #fff; }

:host ::ng-deep .strongPositive2 .igx-grid__td-text {
  border-right: 4px solid #459a55;
  padding-right: 4px; }

:host ::ng-deep .strongNegative .igx-grid__td-text {
  background: #d31642;
  color: #fff; }

:host ::ng-deep .strongNegative1 {
  background: #d31642;
  color: #fff; }

:host ::ng-deep .strongNegative2 .igx-grid__td-text {
  border-right: 4px solid #d31642;
  padding-right: 4px; }

:host ::ng-deep .igx-grid__td--selected.strongPositive1,
:host ::ng-deep .igx-grid__td--selected.strongPositive2,
:host ::ng-deep .igx-grid__td--selected.strongPositive {
  background-color: #459a55 !important; }
  :host ::ng-deep .igx-grid__td--selected.strongPositive1 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.strongPositive1 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.strongPositive2 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.strongPositive2 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.strongPositive .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.strongPositive .igx-grid__td-text {
    color: #fff; }

:host ::ng-deep .igx-grid__td--selected.strongNegative1,
:host ::ng-deep .igx-grid__td--selected.strongNegative2,
:host ::ng-deep .igx-grid__td--selected.strongNegative {
  background-color: #d31642 !important; }
  :host ::ng-deep .igx-grid__td--selected.strongNegative1 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.strongNegative1 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.strongNegative2 .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.strongNegative2 .igx-grid__td-text,
  :host ::ng-deep .igx-grid__td--selected.strongNegative .finjs-icons,
  :host ::ng-deep .igx-grid__td--selected.strongNegative .igx-grid__td-text {
    color: #fff; }

:host ::ng-deep .controls-holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px; }

:host ::ng-deep .switches {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  padding-right: 20px;
  font-size: 0.9rem; }

:host ::ng-deep .control-item {
  padding-right: 20px; }
  :host ::ng-deep .control-item label {
    color: var(--igx-surface-500-contrast); }

:host ::ng-deep .igx-slider,
:host ::ng-deep .igx-slider--disabled {
  height: 24px; }

:host ::ng-deep .finjs-slider {
  width: 40%;
  min-width: 145px; }

:host ::ng-deep .finjs-play-controls {
  width: 45%;
  min-width: 620px;
  margin-top: 10px; }

:host ::ng-deep .sample-toolbar {
  height: 20px;
  font-size: 0.8rem;
  line-height: 20px;
  /* position: absolute; */
  /* bottom: 10px; */
  /* left: 10px; */
  margin-top: 11px; }

:host ::ng-deep .igx-grid__outlet span,
:host ::ng-deep .igx-excel-filter span,
:host ::ng-deep .igx-excel-filter header,
:host ::ng-deep .igx-excel-filter input {
  font-size: 0.8125rem; }

:host ::ng-deep .igx-button--icon {
  width: 2rem;
  height: 2rem; }

.grid__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

igx-grid {
  -ms-flex: 1 0 0%;
      flex: 1 0 0%; }

.controls-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative; }
