<div >
    <!-- <input type="button" value="Animate Gauge"
        (click)="onClick($event)"> -->

    <div class="sample-container"  >

        <igx-linear-gauge
            #linearGauge
            height="100px"
            width="400px"
            minimumValue = 0
            maximumValue = 90
            value = 45
            interval = 10
            labelInterval = 10
            labelExtent = 0.02
            rangeBrushes="#fffb2d, #f4c51e, #f44c1e"
            rangeOutlines="gray, gray, gray"
            needleShape = "Triangle"
            needleBrush = "#4286f4"
            needleOutline = "#4286f4"
            scaleStrokeThickness = 1
            scaleBrush = "#dbdbdb"
            scaleOutline = "#d3d3d3"
            backingBrush = "#f7f7f7"
            backingOutline = "#d1d1d1"
            backingStrokeThickness = 10>

            <igx-linear-graph-range
                startValue=20 endValue=50
                innerStartExtent = 0.2
                innerEndExtent = 0.2
                outerStartExtent = 0.85
                outerEndExtent = 0.85>
            </igx-linear-graph-range>
            <igx-linear-graph-range
                startValue=50 endValue=80
                innerStartExtent = 0.2
                innerEndExtent = 0.2
                outerStartExtent = 0.85
                outerEndExtent = 0.85>
            </igx-linear-graph-range>
            <igx-linear-graph-range
                startValue=80 endValue=120
                innerStartExtent = 0.2
                innerEndExtent = 0.2
                outerStartExtent = 0.85
                outerEndExtent = 0.85>
            </igx-linear-graph-range>

        </igx-linear-gauge>

    </div>

</div>
