@use "layout.scss";
@use "igniteui-angular/theming" as *;

// CSS variables approach

igx-checkbox {
    --tick-color: #0064d9;
    --tick-color-hover: #e3f0ff;
    --tick-width: 2;
    --fill-color: transparent;
    --fill-color-hover: #e3f0ff;
    --label-color: #131e29;
    --focus-outline-color: #0032a5;
    --border-radius: #{rem(4px)};
}

igx-checkbox:hover {
    --empty-fill-color: #e3f0ff;
}

// Sass theme approach

// $custom-checkbox-theme: checkbox-theme(
//     $tick-color: #0064d9,
//     $tick-width: 2,
//     $tick-color-hover: #e3f0ff,
//     $fill-color: transparent,
//     $fill-color-hover: #e3f0ff,
//     $label-color: #131e29,
//     $focus-outline-color: #0032a5,
//     $empty-color: #131e29,
//     $border-radius: rem(4px),
// );

// :host {
//     @include tokens($custom-checkbox-theme);
// }
