@use '../../../../variables' as *;

$custom-checkbox-theme: igx-checkbox-theme(
    $border-radius: 10px,
    $label-color: #011627,
    $empty-color: #ecaa53,
    $fill-color: #ecaa53,
    $tick-color: #011627,
);

:host {
    display: flex;
    padding: 16px;

    // @include igx-css-vars($custom-checkbox-theme);

    /* Using Theme Overrides to provide IE 11 support.
     * NOTE: Theming using this approach will greatly increase the size
     * of the output CSS. If you do not plan to target IE 11,
     * delete this section and use the `igx-css-vars` mixin as shown above.
    **/
    ::ng-deep {
        @include igx-checkbox($custom-checkbox-theme);
    }
}

