@use "igniteui-angular/theming" as *;
@use "igniteui-angular/lib/core/styles/components/checkbox/checkbox-component" as checkbox;
@use "sass:map";

:host {
    ::ng-deep {
        $_checkbox-schema: map.get($light-fluent-schema, checkbox);
        @include checkbox(checkbox-theme($schema: $_checkbox-schema));
        @include checkbox.component();

				// Note: This is not the standard approach for styling the component.
				// We're using it here solely to mirror the UI5 sample.
        .igx-checkbox--checked .igx-checkbox__composite-wrapper .igx-checkbox__composite {
            border-color: var(--empty-color);
        }

        .igx-checkbox__composite {
            min-width: 1.125rem;
            height: 1.125rem;
        }

        .igx-checkbox--checked:hover .igx-checkbox__composite-wrapper .igx-checkbox__composite {
            border-color: var(--empty-color);
        }

        .igx-checkbox__label {
            margin-inline-start: auto;
        }
    }
}

igx-checkbox {
    display: flex;
    margin: 1.25rem 0 0 1.25rem;
}