<div class="sample-wrapper dark-grid">
    <igx-grid #grid [data]="remoteData | async" [height]="'500px'" [width]="'100%'" [autoGenerate]='false' (onDataPreLoad)="processData($event)"
        (onFilteringDone)="processData($event)">
        <igx-column [field]="'ID'"></igx-column>
        <igx-column [field]="'ProductName'" [filterable]="true"></igx-column>
        <igx-column [field]="'CategoryName'" [filterable]="true"></igx-column>
        <igx-column [field]="'Rating'" [dataType]="'number'" [headerClasses]="'headerAlignSyle'" [filterable]="true">
            <ng-template igxHeader>
                <span class="cellAlignSyle">Rating</span>
            </ng-template>
            <ng-template igxCell let-val>
                <div class="currency-badge-container">
                    <igx-badge *ngIf="val>0" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                    <igx-badge *ngIf="val<=0" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                    <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<=0">{{ formatNumber(val) }}</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'UnitPrice'" [dataType]="'number'" [formatter]="formatCurrency" [filterable]="true"></igx-column>
        <igx-column [field]="'UnitsInStock'" [dataType]="'number'" [headerClasses]="'headerAlignSyle'" [filterable]="true">
            <ng-template igxHeader>
                <span class="cellAlignSyle">UnitsInStock</span>
            </ng-template>
            <ng-template igxCell let-val>
                <div class="currency-badge-container">
                    <igx-badge *ngIf="val>50" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                    <igx-badge *ngIf="val<=50" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                    <span class="cellAlignSyle" [class.up]="val>50" [class.down]="val<=50">{{ formatNumber(val) }}</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'SupplierName'" [filterable]="true"></igx-column>
    </igx-grid>
</div>