<igx-buttongroup [values]="tabAlignments" (selected)="changeAlignment($event)">
</igx-buttongroup>

<igx-tabs [tabAlignment]="tabAlignment">
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>Home</span>
        </igx-tab-header>
        <igx-tab-content>
            Home Content.
        </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>Recent</span>
        </igx-tab-header>
        <igx-tab-content>
            Recent contact list.
        </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
        <igx-tab-header>
            <span igxTabHeaderLabel>More</span>
        </igx-tab-header>
        <igx-tab-content>
            More detailed contact information.
        </igx-tab-content>
    </igx-tab-item>
</igx-tabs>
