@use '../../../variables' as *;

$yellow: #ffcd0f;
$black: #292826;
$muted-yellow: #ffe482;

$custom-grid: igx-grid-theme(
    $filtering-row-background: $black
);

$custom-button: igx-button-theme(
    $palette: $dark-material-palette,
    $schema: $dark-material-schema,
    $background: $black,
    $foreground: $yellow,
    $hover-foreground: $black,
    $hover-background: $yellow,
    $focus-foreground: $yellow,
    $focus-background: $black,
    $border-color: $yellow
);

$custom-raised-button: igx-button-theme(
    $palette: $dark-material-palette,
    $schema: $dark-material-schema,
    $background: $yellow,
    $foreground: $black,
    $hover-background: $yellow,
    $hover-foreground: $black
);

$custom-button-group: igx-button-group-theme(
    $palette: $dark-material-palette,
    $schema: $dark-material-schema,
    $item-background:  $black,
    $item-text-color: $yellow,
    $item-border-color: $yellow,
    $item-selected-background: $yellow,
    $item-hover-background: $yellow,
    $item-selected-hover-background: $yellow
);

$custom-input-group: igx-input-group-theme(
    $palette: $dark-material-palette,
    $schema: $dark-material-schema,
    $idle-text-color: $yellow,
    $focused-text-color: $yellow,
    $filled-text-color: $yellow,
    $idle-bottom-line-color: $muted-yellow,
    $focused-secondary-color: $yellow
);

$custom-chip: igx-chip-theme(
    $palette: $dark-material-palette,
    $schema: $dark-material-schema,
    $background: $yellow,
    $text-color: $black
);

$custom-drop-down: igx-drop-down-theme(
    $palette: $dark-material-palette,
    $schema: $dark-material-schema,
    $background-color: $black,
    $item-text-color: $yellow,
    $hover-item-background: $yellow,
    $hover-item-text-color: $black,
    $focused-item-background: $yellow,
    $focused-item-text-color: $black,
    $selected-item-background: $yellow,
    $selected-item-text-color: $black,
    $selected-focus-item-background: $yellow,
    $selected-focus-item-text-color: $black,
    $selected-hover-item-background: $yellow,
    $selected-hover-item-text-color: $black
);


:host {
    display: block;
    margin: 16px;

    ::ng-deep {
        @include igx-grid($custom-grid);

        igx-advanced-filtering-dialog {
            @include igx-button($custom-button);
            @include igx-button-group($custom-button-group);
            @include igx-input-group($custom-input-group);
            @include igx-chip($custom-chip);
            @include igx-drop-down($custom-drop-down);

            .igx-excel-filter__apply {
                @include igx-button($custom-raised-button);
            }

            .igx-filter-empty__title {
                color: $yellow
            }

            .igx-advanced-filter__header {
                color: $yellow;
                background-color: $black;
            }

            .igx-filter-tree__expression-actions igx-icon {
                color: $yellow
            }

            .igx-filter-tree__expression-actions igx-icon:hover {
                color: $muted-yellow
            }

            .igx-filter-tree__expression-actions igx-icon:focus {
                color: $muted-yellow
            }

            .igx-filter-contextual-menu {
                border: 1px solid $yellow
            }

            .igx-filter-contextual-menu__close-btn {
                position: absolute !important;
                background: $black !important;
                border-color: $yellow !important;
            }
        }
    }
}
