@use 'igniteui-theming/sass/elevations' as *;
@use 'igniteui-theming/sass/elevations/presets' as * with (
    $color-1: #4c394f,
    $color-2: #917898,
    $color-3: #bcb8ce
);

:host {
    @include elevations($material-elevations);

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    min-width: 250px;
    padding: 24px;

    .card-sample {
        max-width: 300px;

        + .card-sample {
            margin-left: 24px;
        }
    }

    ::ng-deep {
        igx-card#igx-card-1 {
            --resting-shadow: #{elevation(8)};
            --hover-shadow: #{elevation(16)};
        }
    }
}
