@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/themes/index';

:host ::ng-deep {

    $myCard: igx-card-theme(
        $resting-shadow: igx-elevation($elevations, 10)
    );
    @include igx-card($myCard);

    // Creating colors for all 3 shadows
    $color-1: rgb(153, 191, 170); // Umbra
    $color-2: rgb(92, 134, 141); // Penumbra
    $color-3: rgb(92, 61, 70); // Ambient

    // Use igx-elevations to generate sass maps for all three
    // box-shadows with the costume colors
    $elevations-color: igx-elevations($color-1, $color-2, $color-3);

    // Use the igx-elevation to set the desired elevation level
    $mySpecialCard: igx-card-theme(
        $resting-shadow: igx-elevation($elevations-color, 10)
    );

    // If you want you can scope your custom elevation to a specifics selector
    .special-card {
        @include igx-card($mySpecialCard);
    }

    $myboringCard: igx-card-theme(
        $resting-shadow: 0 10px 10px 10px #666
    );

    .boring-card {
        @include igx-card($myboringCard);
    }
}
.sample-wrapper {
    flex-wrap: nowrap;
    display: flex;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    min-width: 250px;
    padding: 24px;

    igx-card {
        max-width: 300px;
        margin-left: 30px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

