<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <form class="input-group-form" [formGroup]="user">
                <h4 class="sample-title">Check movie availability</h4>
                <div class="hor-container">
                    <div class="vert-container">
                        <igx-input-group>
                            <input igxInput #cinema name="cinema" formControlName="cinema"
                                [igxAutocomplete]='cinemaPanel' />
                            <label igxLabel for="cinema">Cinema</label>
                            <igx-suffix igxRipple>
                                <igx-icon fontSet="material">place</igx-icon>
                            </igx-suffix>
                        </igx-input-group>
                        <igx-drop-down #cinemaPanel maxHeight="350px">
                            <igx-drop-down-item-group *ngFor="let town of towns | groupContains: cinema.value"
                                [label]="town.name">
                                <igx-drop-down-item *ngFor="let cinema of town.cinemas | contains: cinema.value"
                                    [value]="cinema">
                                    {{cinema}}
                                </igx-drop-down-item>
                            </igx-drop-down-item-group>
                        </igx-drop-down>
                        <igx-select class="select" #movie name="movie" formControlName="movie" [disabled]="!user.value.cinema">
                            <igx-select-item-group *ngFor="let genre of genres" [label]="genre.type">
                                <igx-select-item *ngFor="let movie of genre.movies" [value]="movie">
                                    {{ movie }}
                                </igx-select-item>
                            </igx-select-item-group>
                            <label igxLabel for="movies">Movie</label>
                            <ng-template igxSelectToggleIcon>
                                <igx-icon fontSet="material">local_movies</igx-icon>
                            </ng-template>
                        </igx-select>
                    </div>
                    <div class="vert-container">
                        <igx-date-picker #date name="date" formControlName="date" [disabled]="!user.value.movie"
                            [disabledDates]="disabledDates" [mode]="pickerMode"></igx-date-picker>
                        <igx-time-picker name="time" formControlName="time" [disabled]="!user.value.movie"
                            (onValueChanged)="onTimeSelection($event)" [mode]="pickerMode"
                            [itemsDelta]="{ hours: 1, minutes: 60 }" minValue="16:00" maxValue="23:00">
                        </igx-time-picker>
                    </div>
                </div>
                <igx-dialog #alert title="Available tickets" leftButtonLabel="OK" (onLeftButtonSelect)="alert.close()">
                </igx-dialog>
                <div class="center-content">
                    <button igxButton="raised" igxRipple (click)="onCheck()" [disabled]="!user.valid">Check</button>
                </div>
            </form>
        </article>
    </section>
</div>