.igx-input-group, .center-content, .select {
    margin-top: 32px;
}

.hor-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vert-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 300px;
    margin: 0 50px;
}

.vert-container > * {
    margin-top: 32px;
}

.input-group-form {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    padding: 24px 0;
    margin-bottom: 48px;
}

.sample-title {
    margin: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
}