<igx-input-group class="autocomplete">
  <label igxLabel for="cinema">Cinema</label>
  <input igxInput name="cinema" type="text"
    [igxAutocomplete]="townsPanel"
    [igxAutocompleteSettings]="settings"
    [(ngModel)]="cinemaSelected"
    />
  </igx-input-group>
  <igx-drop-down #townsPanel maxHeight="300px">
    @for (town of towns; track town) {
      <igx-drop-down-item-group [label]="town.name">
        @for (cinema of town.cinemas | startsWith:cinemaSelected; track cinema) {
          <igx-drop-down-item [value]="cinema">
            {{cinema}}
          </igx-drop-down-item>
        }
      </igx-drop-down-item-group>
    }
  </igx-drop-down>
