:host::ng-deep .grid__wrapper {
  margin: 0 auto;
  padding: 5px; }

:host::ng-deep .cellContainer {
  width: 100%;
  float: right; }

:host::ng-deep .cellAlignSyle {
  width: 100%;
  text-align: right;
  float: right; }

:host::ng-deep .upFont {
  color: red; }

:host::ng-deep .downFont {
  color: green; }

:host::ng-deep .topSpeedFont {
  color: royalblue; }

:host::ng-deep .contentStyle, :host::ng-deep .arrow, :host::ng-deep .top100:before, :host::ng-deep .belowTop100:before, :host::ng-deep .star, :host::ng-deep .topSpeed:before {
  font-size: 2.5em;
  font-weight: bold;
  margin-right: 25px; }

:host::ng-deep .arrow, :host::ng-deep .top100:before, :host::ng-deep .belowTop100:before {
  content: "^"; }

:host::ng-deep .star, :host::ng-deep .topSpeed:before {
  content: "*"; }

:host::ng-deep .top100:before {
  color: green;
  margin-top: 10px; }

:host::ng-deep .belowTop100:before {
  color: red;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin-top: -10px; }

:host::ng-deep .topSpeed:before {
  font-weight: normal;
  color: royalblue;
  margin-top: 10px; }
