[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

/*BASIC THEMING*/
/*ENHANCED APPROACHES*/
/*PALETTE*/
/*SCHEMAS*/
/*THEME*/
/*INCLUSION by DEFAULT ViewEncapsulation strategy*/
:host ::ng-deep {
  --igx-grid-summary-background-color: #e0f3ff;
  --igx-grid-summary-focus-background-color: rgba(148, 209, 247, 0.3);
  --igx-grid-summary-label-color: #e41c77;
  --igx-grid-summary-label-hover-color: #007ed2;
  --igx-grid-summary-result-color: black;
  --igx-grid-summary-border-color: rgba(0, 0, 0, 0.26);
  --igx-grid-summary-pinned-border-width: 2px;
  --igx-grid-summary-pinned-border-style: dotted;
  --igx-grid-summary-pinned-border-color: #e41c77; }

:host ::ng-deep .igx-grid-summary, :host ::ng-deep .igx-grid-summary--pinned, :host ::ng-deep .igx-grid-summary--empty, :host ::ng-deep .igx-grid-summary--fw, :host ::ng-deep .igx-grid-summary--cosy, :host ::ng-deep .igx-grid-summary--compact {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  padding: 0 1.5rem;
  background: var(--igx-grid-summary-background-color, inherit);
  overflow: hidden;
  outline-style: none; }
  :host ::ng-deep .igx-grid-summary::after, :host ::ng-deep .igx-grid-summary--pinned::after, :host ::ng-deep .igx-grid-summary--empty::after, :host ::ng-deep .igx-grid-summary--fw::after, :host ::ng-deep .igx-grid-summary--cosy::after, :host ::ng-deep .igx-grid-summary--compact::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  :host ::ng-deep .igx-grid-summary:focus::after, :host ::ng-deep .igx-grid-summary--pinned:focus::after, :host ::ng-deep .igx-grid-summary--empty:focus::after, :host ::ng-deep .igx-grid-summary--fw:focus::after, :host ::ng-deep .igx-grid-summary--cosy:focus::after, :host ::ng-deep .igx-grid-summary--compact:focus::after {
    background: var(--igx-grid-summary-focus-background-color); }

:host ::ng-deep .igx-grid-summary--cosy {
  padding: 0 1rem; }

:host ::ng-deep .igx-grid-summary--compact {
  padding: 0 0.75rem; }

:host ::ng-deep .igx-grid-summary--pinned, :host ::ng-deep .igx-grid-summary--pinned-last, :host ::ng-deep .igx-grid-summary--pinned-first {
  position: relative;
  z-index: 1; }

:host ::ng-deep .igx-grid-summary--fw {
  -ms-flex-positive: 0;
      flex-grow: 0; }

:host ::ng-deep .igx-grid-summary--pinned-last {
  border-right: var(--igx-grid-summary-pinned-border-width) var(--igx-grid-summary-pinned-border-style) var(--igx-grid-summary-pinned-border-color); }
  @media print {
    :host ::ng-deep .igx-grid-summary--pinned-last {
      border-right: var(--igx-grid-summary-pinned-border-width) var(--igx-grid-summary-pinned-border-style) #999; } }

:host ::ng-deep .igx-grid-summary--pinned-first {
  border-left: var(--igx-grid-summary-pinned-border-width) var(--igx-grid-summary-pinned-border-style) var(--igx-grid-summary-pinned-border-color); }
  @media print {
    :host ::ng-deep .igx-grid-summary--pinned-first {
      border-left: var(--igx-grid-summary-pinned-border-width) var(--igx-grid-summary-pinned-border-style) #999; } }

:host ::ng-deep .igx-grid-summary__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.375rem 0;
  font-size: 0.75rem;
  position: relative; }

:host ::ng-deep .igx-grid-summary--cosy .igx-grid-summary__item, .igx-grid-summary--cosy :host ::ng-deep .igx-grid-summary__item {
  padding: 0.125rem 0; }

:host ::ng-deep .igx-grid-summary--compact .igx-grid-summary__item, .igx-grid-summary--compact :host ::ng-deep .igx-grid-summary__item {
  padding: 0; }

:host ::ng-deep .igx-grid-summary__label {
  color: var(--igx-grid-summary-label-color);
  min-width: 1.875rem;
  margin-right: 0.1875rem; }
  :host ::ng-deep .igx-grid-summary__label:hover {
    color: var(--igx-grid-summary-label-hover-color); }

:host ::ng-deep .igx-grid-summary__result {
  color: var(--igx-grid-summary-result-color);
  font-weight: 600;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  text-align: right; }

:host ::ng-deep .igx-grid-summary__label, :host ::ng-deep .igx-grid-summary__result {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.photo {
  vertical-align: middle;
  max-height: 62px; }

.cell__inner_2 {
  margin: 1px; }
