.drop-down {
    margin: 8px;
    width: 220px;
}

.drop-down__scroll-container {
    max-height: 280px;
}

@import "~igniteui-angular/lib/core/styles/themes/index";

$custom-drop-down-theme: igx-drop-down-theme(
    $background-color: #fdfdfd,
    $header-text-color: #345779,
    $item-text-color: #2dabe8,
    $selected-item-background: #345779,
    $selected-item-text-color: #fdfdfd,
    $selected-hover-item-background: #345779,
    $selected-hover-item-text-color: #fdfdfd,
    $selected-focus-item-background: #345779,
    $selected-focus-item-text-color: #fdfdfd,
    $hover-item-background: rgba(0, 0, 0, 0.12),
    $hover-item-text-color: #345779,
);

$custom-button-theme: igx-button-theme(
    $raised-background: #345779,
    $raised-text-color: #fdfdfd,
);

// :host {
//     @include igx-css-vars($custom-drop-down-theme);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host  ::ng-deep {
    @include igx-drop-down($custom-drop-down-theme);
    @include igx-button($custom-button-theme);
}
