@import '~igniteui-angular/lib/core/styles/themes/index';

$yellow-color: #F4D45C;
$black-color: #292826;

$dark-palette: igx-palette(
    $primary: $black-color,
    $secondary: $yellow-color
);

$dark-tabs: igx-tabs-theme(
    $palette: $dark-palette,
    $item-text-color: igx-color($dark-palette, "secondary", 400),
    $item-background: igx-color($dark-palette, "primary", 400),
    $item-hover-background: igx-color($dark-palette, "secondary", 400),
    $item-hover-color: igx-color($dark-palette, "primary", 400),
    $item-active-color: igx-color($dark-palette, "secondary", 400),
    $item-active-icon-color: igx-color($dark-palette, "secondary", 400),
    $indicator-color: igx-color($dark-palette, "secondary", 400),
    $tab-ripple-color: igx-color($dark-palette, "secondary", 400)
);

:host {
    igx-tabs-group {
        padding: 8px;
    }

    ::ng-deep {
        @include igx-tabs($dark-tabs);
    }
}

