.sample-wrapper {
    width: 420px;
}

.content {
    width: 100%;
}

.content__collapsible {
    width: 100%;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: .3em;
    box-shadow: 0 1px 2px hsl(0, 0%, 82%);
}

.body {
    padding: 0em 1em;
}

.group {
    padding: 0em 0em 1em 0px;
}

.sample-title {
    font-weight: 900;
}
