<!--NOTE: This component has been updated by Infragistics migration: v12.0.0
Please check your template whether all bindings/event handlers are correct.-->
<igx-bottom-nav>
  <igx-bottom-nav-item>
<igx-bottom-nav-header>
<span igxBottomNavHeaderLabel>Item 1</span>
</igx-bottom-nav-header>
<igx-bottom-nav-content>This is Item 1 content.</igx-bottom-nav-content>
</igx-bottom-nav-item>
  <igx-bottom-nav-item>
<igx-bottom-nav-header>
<span igxBottomNavHeaderLabel>Item 2</span>
</igx-bottom-nav-header>
<igx-bottom-nav-content>This is Item 2 content.</igx-bottom-nav-content>
</igx-bottom-nav-item>
  <igx-bottom-nav-item>
<igx-bottom-nav-header>
<span igxBottomNavHeaderLabel>Item 3</span>
</igx-bottom-nav-header>
<igx-bottom-nav-content>This is Item 3 content.</igx-bottom-nav-content>
</igx-bottom-nav-item>
</igx-bottom-nav>
