[hidden] {
  display: none !important; }

.settings {
  width: 400px;
  height: 360px;
  margin: 24px auto;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
  border-radius: 2px; }

igx-banner {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.profile {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 24px 16px;
  background-image: url("https://www.infragistics.com/angular-demos/assets/images/banner/cort.jpg"); }
  .profile__avatar {
    box-sizing: content-box;
    border: 2px solid rgba(0, 0, 0, 0.24);
    z-index: 2; }
  .profile__detail {
    color: #000000;
    margin-left: 16px;
    z-index: 2; }
  .profile::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f3f3f3;
    opacity: .64;
    z-index: 1; }

.reply {
  -ms-flex-flow: column;
      flex-flow: column;
  padding: 0 16px; }
  .reply__switch {
    width: 100%;
    padding: 16px 0;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .reply__message {
    resize: none;
    height: 14rem; }
