<div  >
    <div class="sample-container" >

        <igx-linear-gauge
            #linearGauge
            height="80px" width="400px"
            minimumValue=0 value=50
            maximumValue=100 interval=10

            isScaleInverted=false
            scaleBrush="DodgerBlue"
            scaleOutline="Red"
            scaleStrokeThickness=2
            scaleInnerExtent=0.05
            scaleOuterExtent=0.65
            scaleStartExtent=0.05
            scaleEndExtent=0.95
 >
        </igx-linear-gauge>
    </div>
</div>
