@use "layout.scss";

::ng-deep body.custom-body:has(app-badge-tailwind-styling) {
    background: transparent;
}

igx-badge {
    --ig-size: var(--ig-size-small);
}

igx-avatar {
    --size: 40px;
    --ig-avatar-background: var(--ig-gray-700);
    --ig-avatar-color: var(--ig-gray-50);
}

:host ::ng-deep igx-avatar igx-icon {
    color: var(--ig-gray-50);
}
