<div class="badge-parent flex items-center justify-center gap-12">
  <div class="relative flex">
    <igx-avatar initials="AZ" shape="rounded" size="small"></igx-avatar>
    <igx-badge icon="close" outlined class="badge-style badge-close"></igx-badge>
  </div>
  <div class="relative flex">
    <igx-avatar icon="person" shape="rounded" size="small"></igx-avatar>
    <igx-badge icon="volume_off" outlined class="badge-style badge-volume"></igx-badge>
  </div>
  <div class="relative flex">
    <igx-avatar initials="AZ" shape="circle" size="small"></igx-avatar>
    <igx-badge icon="remove" outlined class="badge-style badge-remove"></igx-badge>
  </div>
  <div class="relative flex">
    <igx-avatar icon="person" shape="square" size="small"></igx-avatar>
    <igx-badge icon="check" outlined class="badge-style badge-check"></igx-badge>
  </div>
</div>
