<igx-list>
  <igx-list-item [isHeader]="true">
    Team Members (4)
  </igx-list-item>
  @for (member of members; track member) {
    <igx-list-item>
      <div class="wrapper">
        <div>
          <igx-avatar icon="person" shape="circle" size="small"></igx-avatar>
          <igx-badge [icon]="member.icon" shape="square" class="badge-style !light-badge ![--background-color:#FF4E00] ![--border-radius:4px]"></igx-badge>
        </div>
        <div class="contact-container">
          <span class="contact-name">{{ member.name }}</span>
        </div>
      </div>
    </igx-list-item>
  }
</igx-list>
