<igx-avatar initials="AZ" shape="rounded" size="small"></igx-avatar>
<igx-badge icon="close" outlined class="[--ig-badge-background-color:var(--ig-error-500)]"></igx-badge>

<igx-avatar icon="person" shape="rounded" size="small"></igx-avatar>
<igx-badge icon="volume_off" outlined class="[--ig-badge-background-color:#8b5bb1]"></igx-badge>

<igx-avatar initials="AZ" shape="circle" size="small"></igx-avatar>
<igx-badge icon="remove" outlined class="[--ig-badge-background-color:var(--ig-gray-900)]"></igx-badge>

<igx-avatar icon="person" shape="square" size="small"></igx-avatar>
<igx-badge icon="check" outlined class="[--ig-badge-background-color:var(--ig-success-600)]"></igx-badge>
