.badge-close {
  --background-color: var(--ig-error-500);
  --border-radius: 50%;
}

.badge-volume {
  --background-color: #7c3aed;
  --border-radius: 50%;
}

.badge-remove {
  --background-color: var(--ig-gray-900);
  --border-radius: 50%;
}

.badge-check {
  --background-color: var(--ig-success-600);
  --border-radius: 50%;
}

.badge-style {
  position: absolute;
  inset-block-end: -4px;
  inset-inline-end: -4px;
}
