<div class="grid-wrapper">
    <igx-grid [showToolbar]="true" #grid [columnSelection] = "columnSelectionType" [data]="data" height="500px" width="100%">
        <ng-template igxToolbarCustomContent let-grid="grid">
                <igx-select [(ngModel)]="columnSelectionType">
                    <label igxLabel>Column Selection</label>
                    <igx-select-item value="none">None</igx-select-item>
                    <igx-select-item value="single">Single</igx-select-item>
                    <igx-select-item value="multiple">Mulitple</igx-select-item>
                </igx-select>
        </ng-template>
        <igx-column field="ID"></igx-column>
        <igx-column field="CompanyName" header="Company Name" ></igx-column>
        <igx-column field="ContactTitle" [selectable]="false" header="Contact Title"></igx-column>
        <igx-column field="City" [selectable]="false" ></igx-column>
        <igx-column field="Country"></igx-column>
        <igx-column field="PostalCode" header="Postal Code"></igx-column>
        <igx-column field="Address" [selectable]="false"></igx-column>
    </igx-grid>
</div>