<div class="sample-wrapper container">
    <igx-dialog #options
        title="Options"
        leftButtonLabel="OK"
        (onLeftButtonSelect)="options.close()">

        <div class="sample-options">

            <fieldset>
                <legend>Highlight Layer</legend>
                <div>
                    <label>highlightCategoryUnderCursor: </label>
                    <input [(ngModel)]="sampleOptions.highlightCategory" type="checkbox" />
                </div>
                <div>
                    <label>highlightItemUnderCursor: </label>
                    <input [(ngModel)]="sampleOptions.highlightItem" type="checkbox" />
                </div>
            </fieldset>

            <fieldset>
                <legend>Tooltips Layer</legend>
                <div>
                    <label>tooltipType: </label>
                    <select [(ngModel)]="sampleOptions.tooltipType">
                        <option *ngFor="let item of TooltipType | keys" [value]="item.value">{{item.value}}</option>
                    </select>
                </div>
            </fieldset>

            <fieldset>
                <legend>Crosshairs Layer</legend>
                <div>
                    <label>displayCrosshairs: </label>
                    <select [(ngModel)]="sampleOptions.crosshairs">
                        <option *ngFor="let item of CrosshairsVisibility | keys" [value]="item.value">{{item.value}}</option>
                    </select>
                </div>
                <div>
                    <label>snapCrosshairsToData: </label>
                    <input [(ngModel)]="sampleOptions.snapCrosshairs" type="checkbox" />
                </div>
                <div>
                    <label>displayCrosshairAxisAnnotations: </label>
                    <input [(ngModel)]="sampleOptions.crosshairAnnotations" type="checkbox" />
                </div>
            </fieldset>

            <fieldset>
                <legend>Final Value Layer</legend>
                <div>
                    <label>displayFinalValueAnnotation: </label>
                    <input [(ngModel)]="sampleOptions.finalValueAnnotations" type="checkbox" />
                </div>
            </fieldset>

            <fieldset>
                <legend>Callout Layer</legend>
                <div>
                    <label>displayEventAnnotations: </label>
                    <input [(ngModel)]="sampleOptions.eventAnnotations" type="checkbox" />
                </div>
            </fieldset>

        </div>

    </igx-dialog>

    <button class="options-button" igxButton="raised" igxRipple="white" (click)="options.open()">Show Options</button>

    <div class="chart">
        <igx-category-chart height="100%" width="100%"
            [dataSource]="categoryData"
            chartType="Auto"
            chartTitle="Olympic Medals By Country"
            yAxisTitle="Total Medals"


            [highlightCategoryUnderCursor]="sampleOptions.highlightCategory"
            [highlightItemUnderCursor]="sampleOptions.highlightItem"
            
            [tooltipType]="sampleOptions.tooltipType"

            [displayCrosshairs]="sampleOptions.crosshairs"
            [snapCrosshairsToData]="sampleOptions.snapCrosshairs"
            [displayCrosshairAxisAnnotations]="sampleOptions.crosshairAnnotations"

            [displayFinalValueAnnotation]="sampleOptions.finalValueAnnotations"

            [displayEventAnnotations]="sampleOptions.eventAnnotations">
        </igx-category-chart>

    </div>
</div>
