::ng-deep .igx-overlay__content--modal
{
	width: 100%;
	margin: 0 50px;
}

select
{
	max-width: 200px;
}

.sample-options
{
	width: 100%;
	height: 100%;
	padding: 0 5px;
}

.sample-options > fieldset
{
	border: solid 1px black;
	padding: 0 7px;
}

fieldset > legend
{
	padding: 0 5px;
}

.chart
{
    height: 100%;
}