<div class="sample-wrapper">
    <igx-grid igxPreventDocumentScroll #gridRowEdit [data]="data" [primaryKey]="'ProductID'" width="100%" height="500px" [rowEditable]="true">
        <igx-column field="ProductID" header="Product ID"></igx-column>
        <igx-column field="ReorderLevel" header="ReorderLever" dataType="number"></igx-column>
        <igx-column field="ProductName" header="ProductName" [dataType]="'string'"></igx-column>
        <igx-column field="UnitsInStock" header="UnitsInStock" dataType="number">
            <!--The following template can be omitted (grid handles this internally) but it is here as an example of custom cell editor.-->
            <ng-template igxCellEditor let-cell="cell">
                <igx-input-group>
                    <input igxInput [igxFocus]='true' name="units" [(ngModel)]="cell.editValue" style="color: black" />
                </igx-input-group>
            </ng-template>
        </igx-column>
        <igx-column field="OrderDate" [dataType]="'date'"></igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'"></igx-column>
    </igx-grid>
</div>