@use '../../../variables' as *;

$text-color: contrast-color($default-palette, 'primary', 900);
$background-color: color($default-palette, "primary", 900);
$border-yellow: #f2c43c;

$custom-grid-theme: grid-theme(
    $palette: $default-palette,
    $cell-selected-text-color: $text-color,
    $cell-active-border-color: $border-yellow,
    $cell-selected-background: $background-color,
    $cell-editing-background: $background-color
);

:host {
    display: block;
    padding: 8px;

    ::ng-deep {
        @include css-vars($custom-grid-theme);
    }
}
