<div class="button-container">
    <div class="button-item"><button igxButton="outlined"><igx-icon family="material">add</igx-icon>Add</button></div>
    <div class="button-item"><button igxButton="outlined">Buy Now</button></div>
    <div class="button-item"><button igxButton="outlined">Add<igx-icon family="material">add</igx-icon></button></div>
    <div class="button-item"><button igxButton="outlined"><igx-icon family="material">add</igx-icon>Floating Action</button></div>
    <div class="button-item"><button igxButton="outlined"><igx-icon family="material">add</igx-icon></button></div>
    <div class="button-item"><button igxButton="outlined">Floating Action</button></div>
    </div>
