@use "igniteui-theming/sass/typography" as *;

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16px);
    inline-size: 100%;
    box-sizing: border-box;
    padding: rem(40px);
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(12px);
}

.button-container button {
    --ig-font-family: "Titillium Web", sans-serif;
    --ig-button-text-transform: uppercase;

    font-size: rem(13.6px);
    letter-spacing: rem(1px);
}
