<main class="font-ig text-base grid surface-500 px-6 py-6">
  <div class="text-center shadow-elevation-4 pb-8">
    <p class="type-style-body-1 text-primary-600">404</p>
    <h1 class="type-style-h1 text-gray-900">Page not found</h1>
    <p class="type-style-body-1 text-gray-500">Sorry, we couldn’t find the page you’re looking for.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="#" class="type-style-button rounded-md bg-primary-500 text-primary-500-contrast px-3.5 py-2.5 shadow-elevation-2 hover:bg-primary-600 transition duration-150 ease-in-out">Go back home</a>
      <a href="#" class="type-style-button text-gray-900 hover:text-primary-600 transition duration-150 ease-in-out">Contact support <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>
