<div class="sample-wrapper flex flex-wrap gap-6">
    <div class="sample-column card-wrapper">
        <h5>Custom card with tailwind utility classes</h5>
        <div
            class="card mt-2 flex flex-col max-w-[400px] border-2 border-secondary-400 border-gray-200 rounded shadow-elevation-4 bg-surface-500 overflow-hidden">
            <div class="flex items-center px-4 py-3 bg-primary-100">
                <img [src]="card.imageUrl" [alt]="card.title" class="w-16 h-16 rounded object-cover mr-4" />
                <div>
                    <h5 class="card-title type-style-h6">{{ card.title }}</h5>
                    <h6 class="card-subtitle type-style-subtitle-2">{{ card.subtitle }}</h6>
                </div>
            </div>

            <div class="card-content px-4 py-4 text-gray-900">
                <p class="type-style-body-2">{{ card.content }}</p>
            </div>

            <div class="card-actions flex justify-around items-center px-2 py-2 bg-primary-100">
                @for (icon of card.icons; track icon) {
                <button
                    class="bg-transparent border-none cursor-pointer text-shadow-2xs text-shadow-secondary-500 text-primary-500-contrast/80 hover:text-secondary-500">
                    <i class="material-icons mt-1">{{ icon }}</i>
                </button>
                }
            </div>
        </div>
    </div>

    <div class="sample-column card-wrapper">
        <h5>IG Angular Card</h5>
        <igx-card class="max-w-[400px] mt-2">
            <igx-card-header class="bg-primary-100">
                <h5 igxCardHeaderTitle>{{card.title}}</h5>
                <h5 igxCardHeaderSubtitle>{{card.subtitle}}</h5>
                <igx-card-media width="64px" height="64px">
                    <img [src]="card.imageUrl">
                </igx-card-media>
            </igx-card-header>

            <igx-card-content>
                <p class="text-gray-800">{{card.content}}</p>
            </igx-card-content>

            <igx-divider></igx-divider>

            <igx-card-actions class="bg-primary-100" layout="justify">
                @for (icon of card.icons; track icon) {
                <button igxIconButton="flat" igxRipple [igxRippleCentered]="true" igxEnd>
                    <igx-icon>{{icon}}</igx-icon>
                </button>
                }
            </igx-card-actions>
        </igx-card>
    </div>
</div>
