.carousel-wrapper {
    width: 60%;
}

.carousel-animation-wrapper {
    margin: 20px auto;
    display: flex;
}

:host ::ng-deep {
    .promo-price {
        display: flex;
        background: rgba(255,255,255,.55);
        padding: 1rem;
        border-bottom: transparent 1px solid;
    }

    .description {
        font-size: 1.2rem;
        color: black;
    }

    .titles {
        display: inline-flex;
        flex-flow: column;
        margin-left: 1rem;
        align-self: center;

        .subTitle{
            font-size: 1rem;
            font-weight: 600;
            color: #585858cc;
        }
    }

    .price {
        padding-left: .5rem;
        font-size: 1.5rem;
        color: #e41c77;
    }

    igx-list {
        justify-content: space-between;
    }

    igx-list-item {
        &.disabled {
            opacity: .5;
        }
    }
}
