<igx-hierarchical-grid igxPreventDocumentScroll  #hierarchicalGrid [data]="data" [height]="'600px'" [width]="'100%'">
    <igx-column field="Artist" [editable]="true" [dataType]="'string'"></igx-column>
    <igx-column field="HasGrammyAward" header="Has Grammy Award?" [dataType]="'boolean'" [selectable]="false">
    </igx-column>
    <igx-column field="Debut" [editable]="true" dataType="number"></igx-column>
    <igx-column field="GrammyNominations" header="Grammy Nominations" dataType="number" [selectable]="false"></igx-column>
    <igx-column field="GrammyAwards" header="Grammy Awards" [editable]="true" dataType="number" [selectable]="false"></igx-column>
    <igx-row-island [key]="'Albums'">
        <igx-column field="Album" [dataType]="'string'" [selectable]="false"></igx-column>
        <igx-column field="LaunchDate" header="Launch Date" [dataType]="'date'"></igx-column>
        <igx-column field="BillboardReview" header="Billboard Review" dataType="number"></igx-column>
        <igx-column field="USBillboard200" header="US Billboard 200" dataType="number" [selectable]="false"></igx-column>
        <igx-row-island [key]="'Songs'">
                <igx-column field="Number" header="No." dataType="number"></igx-column>
                <igx-column field="Title" [dataType]="'string'"></igx-column>
                <igx-column field="Released" [dataType]="'date'" [selectable]="false"></igx-column>
                <igx-column field="Genre" [dataType]="'string'"></igx-column>
        </igx-row-island>
    </igx-row-island>
</igx-hierarchical-grid>