.summaries-data-wrapper { display: inline-block }
.summaries-data-wrapper span:first-child { margin-right: 16px }

.cosy {
    padding-right: 16px;
}

.compact {
    padding-right: 12px;
}

.comfortable {
    padding-right: 24px;
}