<div *ngIf="dataExists">
  <div *ngFor="let key of objectKeys(summariesData)" class="summaries-data-wrapper" [ngClass]="grid.displayDensity">
    <span class="igx-grid-summary__label">{{ key }}</span>
    <span *ngIf="key === 'Count'" class="igx-grid-summary__result">{{ summariesData[key] }}</span>
    <span *ngIf="key !== 'Count' && key !== 'MinDate' && key !== 'MaxDate'" class="igx-grid-summary__result">
        {{ summariesData[key] | number: '1.2-2' }}
    </span>
    <span *ngIf="key === 'MinDate' || key === 'MaxDate'" class="igx-grid-summary__result">
        {{ summariesData[key] | date: 'mediumDate' }}
    </span>
  </div>
</div>