<igx-avatar class="avatar-green" icon="person" shape="circle" size="small"></igx-avatar>
<igx-badge class="badge-teal" icon="photo_camera" outlined></igx-badge>

<igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
<igx-badge class="badge-amber" icon="star_border" outlined></igx-badge>

<igx-avatar class="avatar-pink" icon="favorite_border" shape="circle" size="small"></igx-avatar>
<igx-badge class="badge-magenta" value="2" outlined></igx-badge>

<igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar6.png" shape="rounded" size="small"></igx-avatar>
<igx-badge class="badge-lime" dot outlined></igx-badge>
