<div class="badge-styling">
  <div class="styling-item green">
    <igx-avatar icon="person" shape="circle" size="small"></igx-avatar>
    <igx-badge icon="photo_camera" outlined class="badge-teal"></igx-badge>
  </div>
  <div class="styling-item">
    <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
    <igx-badge icon="star_border" outlined class="badge-amber"></igx-badge>
  </div>
  <div class="styling-item pink">
    <igx-avatar icon="favorite_border" shape="circle" size="small"></igx-avatar>
    <igx-badge value="2" outlined class="badge-magenta"></igx-badge>
  </div>
  <div class="styling-item">
    <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar6.png" shape="rounded" size="small"></igx-avatar>
    <igx-badge dot outlined class="badge-lime"></igx-badge>
  </div>
</div>
