.badge-teal {
  --background-color: var(--ig-success-700);
  --border-radius: 50%;
}

.badge-amber {
  --background-color: var(--ig-warn-600);
  --border-radius: 50%;
}

.badge-magenta {
  --background-color: var(--ig-secondary-A400);
  --text-color: var(--ig-secondary-A400-contrast);
  --border-radius: 50%;
}

.badge-lime {
  --background-color: var(--ig-success-700);
  --border-radius: 50%;
}

.badge-styling {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 24px 16px;
}

.styling-item {
  position: relative;
  display: flex;
}
