.control-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  max-width: 900px;
  padding-left: 10px;
  padding-top: 10px; }

[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

:host ::ng-deep {
  --igx-drop-down-border-radius: 4px;
  --igx-drop-down-elevation: 8;
  --igx-drop-down-background-color: #dcd1f4;
  --igx-drop-down-header-text-color: #5c1fea;
  --igx-drop-down-item-text-color: #fff;
  --igx-drop-down-hover-item-text-color: #5c1fea;
  --igx-drop-down-hover-item-background: #ffffff;
  --igx-drop-down-focused-item-background: #9577db;
  --igx-drop-down-focused-item-text-color: #ffffff;
  --igx-drop-down-selected-item-background: #835cdc;
  --igx-drop-down-selected-item-text-color: #ffffff;
  --igx-drop-down-selected-hover-item-background: #835cdc;
  --igx-drop-down-selected-hover-item-text-color: #ffffff;
  --igx-drop-down-selected-focus-item-background: #835cdc;
  --igx-drop-down-selected-focus-item-text-color: #ffffff;
  --igx-drop-down-disabled-item-background: transparent;
  --igx-drop-down-disabled-item-text-color: rgba(0, 0, 0, 0.36);
  --igx-drop-down-border-color: rgba(0, 0, 0, 0.12);
  --igx-drop-down-border-width: 0;
  --igx-drop-down-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26), 0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08); }

:host ::ng-deep .igx-drop-down {
  position: absolute; }

:host ::ng-deep .igx-drop-down__list {
  overflow: hidden;
  border-radius: var(--igx-drop-down-border-radius);
  background: var(--igx-drop-down-background-color);
  box-shadow: var(--igx-drop-down-shadow);
  min-width: 8rem;
  border: var(--igx-drop-down-border-width) solid var(--igx-drop-down-border-color); }

:host ::ng-deep .igx-drop-down__list-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }
  :host ::ng-deep .igx-drop-down__list-scroll:empty {
    box-shadow: none; }
  :host ::ng-deep .igx-drop-down__list-scroll igx-input-group {
    margin-top: -16px !important; }

:host ::ng-deep .igx-drop-down__header, :host ::ng-deep .igx-drop-down__group label,
:host ::ng-deep .igx-drop-down__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  white-space: nowrap;
  height: 2.5rem; }


:host ::ng-deep .igx-drop-down__item {
  color: var(--igx-drop-down-item-text-color);
  cursor: pointer;
  padding: 0 1.5rem; }
  :host ::ng-deep .igx-drop-down__item:focus {
    outline: 0;
    outline-color: transparent;
    background: var(--igx-drop-down-focused-item-background);
    color: var(--igx-drop-down-focused-item-text-color); }
  :host ::ng-deep .igx-drop-down__item:hover {
    background: var(--igx-drop-down-hover-item-background);
    color: var(--igx-drop-down-hover-item-text-color); }

:host ::ng-deep .igx-drop-down__item--cosy {
  height: 2rem;
  padding: 0 1.25rem; }

:host ::ng-deep .igx-drop-down__item--compact {
  height: 1.75rem;
  padding: 0 1rem; }

:host ::ng-deep .igx-drop-down__header, :host ::ng-deep .igx-drop-down__group label {
  color: var(--igx-drop-down-header-text-color);
  pointer-events: none;
  padding: 0 1rem; }

:host ::ng-deep .igx-drop-down__header--cosy {
  height: 2rem;
  padding: 0 0.75rem; }

:host ::ng-deep .igx-drop-down__header--compact {
  height: 1.75rem;
  padding: 0 0.5rem; }

:host ::ng-deep .igx-drop-down__group {
  pointer-events: auto; }
  :host ::ng-deep .igx-drop-down__group .igx-drop-down__item {
    text-indent: 0 1.5rem; }

:host ::ng-deep .igx-drop-down__item--focused {
  background: var(--igx-drop-down-focused-item-background);
  color: var(--igx-drop-down-focused-item-text-color); }
  :host ::ng-deep .igx-drop-down__item--focused:hover {
    color: var(--igx-drop-down-focused-item-text-color);
    background: var(--igx-drop-down-focused-item-background); }

:host ::ng-deep .igx-drop-down__item--selected {
  background: var(--igx-drop-down-selected-item-background);
  color: var(--igx-drop-down-selected-item-text-color); }
  :host ::ng-deep .igx-drop-down__item--selected:hover {
    background: var(--igx-drop-down-selected-hover-item-background);
    color: var(--igx-drop-down-selected-hover-item-text-color); }

:host ::ng-deep .igx-drop-down__item--selected.igx-drop-down__item--focused {
  background: var(--igx-drop-down-selected-focus-item-background);
  color: var(--igx-drop-down-selected-focus-item-text-color); }

:host ::ng-deep .igx-drop-down__item--disabled, :host ::ng-deep .igx-drop-down__group--disabled {
  background: var(--igx-drop-down-disabled-item-background);
  color: var(--igx-drop-down-disabled-item-text-color);
  cursor: default;
  pointer-events: none; }
  :host ::ng-deep .igx-drop-down__item--disabled:hover, :host ::ng-deep .igx-drop-down__group--disabled:hover {
    background: var(--igx-drop-down-disabled-item-background); }

:host ::ng-deep {
  --igx-combo-empty-list-background: #fff;
  --igx-combo-search-separator-border-color: #5c1fea;
  --igx-combo-empty-list-placeholder-color: rgba(0, 0, 0, 0.26); }

:host ::ng-deep .igx-combo {
  position: relative;
  display: block; }
  :host ::ng-deep .igx-combo .igx-button--icon {
    width: 1.5rem;
    height: 1.5rem; }

:host ::ng-deep .igx-combo__checkbox {
  margin-right: 0.5rem; }

:host ::ng-deep .igx-combo__drop-down {
  position: absolute;
  width: 100%; }
  :host ::ng-deep .igx-combo__drop-down .igx-drop-down {
    width: 100%; }

:host ::ng-deep .igx-combo__search {
  padding: 0.5rem 1rem;
  margin: 0 !important;
  z-index: 26;
  border-bottom: 1px dashed var(--igx-combo-search-separator-border-color); }

:host ::ng-deep .igx-combo__content {
  position: relative;
  overflow: hidden; }
  :host ::ng-deep .igx-combo__content:focus {
    outline: transparent; }

:host ::ng-deep .igx-combo__add {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  padding: 1rem;
  background: var(--igx-combo-empty-list-background); }

:host ::ng-deep .igx-combo__empty {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  color: var(--igx-combo-empty-list-placeholder-color);
  padding: 0 1.5rem;
  font-size: 0.8125rem; }

:host ::ng-deep .igx-combo__add-item.igx-drop-down__item {
  width: auto !important;
  padding: 0 !important; }
  :host ::ng-deep .igx-combo__add-item.igx-drop-down__item:hover {
    background: transparent !important; }

:host ::ng-deep .igx-combo__add-item.igx-drop-down__item--focused:focus {
  background: transparent !important; }

:host ::ng-deep {
  --igx-checkbox-border-radius: 10px;
  --igx-checkbox-border-radius-ripple: 24px;
  --igx-checkbox-variant: material;
  --igx-checkbox-tick-color: #fff;
  --igx-checkbox-label-color: #7344df;
  --igx-checkbox-empty-color: #7344df;
  --igx-checkbox-fill-color: #7344df;
  --igx-checkbox-disabled-color: rgba(0, 0, 0, 0.26);
  --igx-checkbox-disabled-color-label: rgba(0, 0, 0, 0.26); }

@-webkit-keyframes scale-in-out {
  50% {
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%; } }

@keyframes scale-in-out {
  50% {
    transform: scale(0.9);
    transform-origin: 50% 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%; } }

@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

:host ::ng-deep .igx-checkbox {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  outline-style: none; }

:host ::ng-deep .igx-checkbox--disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  cursor: initial; }

:host ::ng-deep .igx-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  clip: rect(0, 0, 0, 0);
  outline: 0;
  pointer-events: none;
  overflow: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

:host ::ng-deep .igx-checkbox__composite-wrapper {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1.25em;
  height: 1.25em; }

:host ::ng-deep .igx-checkbox__composite {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  min-width: 1.25em;
  border-width: 0.125rem;
  border-style: solid;
  border-color: var(--igx-checkbox-empty-color);
  border-radius: var(--igx-checkbox-border-radius);
  -webkit-tap-highlight-color: transparent;
  transition: border-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden; }
  :host ::ng-deep .igx-checkbox__composite::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

:host ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite, .igx-checkbox--indeterminate :host ::ng-deep .igx-checkbox__composite, :host ::ng-deep .igx-checkbox--checked .igx-checkbox__composite, .igx-checkbox--checked :host ::ng-deep .igx-checkbox__composite {
  border-color: var(--igx-checkbox-fill-color);
  background: var(--igx-checkbox-fill-color); }
  :host ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite::after, .igx-checkbox--indeterminate :host ::ng-deep .igx-checkbox__composite::after, :host ::ng-deep .igx-checkbox--checked .igx-checkbox__composite::after, .igx-checkbox--checked :host ::ng-deep .igx-checkbox__composite::after {
    background: var(--igx-checkbox-fill-color); }

:host ::ng-deep .igx-checkbox--disabled .igx-checkbox__composite, .igx-checkbox--disabled :host ::ng-deep .igx-checkbox__composite {
  border-color: var(--igx-checkbox-disabled-color);
  background: transparent; }

:host ::ng-deep .igx-checkbox--indeterminate.igx-checkbox--disabled .igx-checkbox__composite, .igx-checkbox--indeterminate.igx-checkbox--disabled :host ::ng-deep .igx-checkbox__composite, :host ::ng-deep .igx-checkbox--checked.igx-checkbox--disabled .igx-checkbox__composite, .igx-checkbox--checked.igx-checkbox--disabled :host ::ng-deep .igx-checkbox__composite {
  background: var(--igx-checkbox-disabled-color); }
  :host ::ng-deep .igx-checkbox--indeterminate.igx-checkbox--disabled .igx-checkbox__composite::after, .igx-checkbox--indeterminate.igx-checkbox--disabled :host ::ng-deep .igx-checkbox__composite::after, :host ::ng-deep .igx-checkbox--checked.igx-checkbox--disabled .igx-checkbox__composite::after, .igx-checkbox--checked.igx-checkbox--disabled :host ::ng-deep .igx-checkbox__composite::after {
    background: var(--igx-checkbox-disabled-color); }

:host ::ng-deep .igx-checkbox__composite-mark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  stroke: var(--igx-checkbox-tick-color);
  stroke-linecap: square;
  stroke-width: 3;
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  fill: none;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

:host ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite-mark {
  top: 0;
  left: 0; }

:host ::ng-deep .igx-checkbox--checked .igx-checkbox__composite-mark, .igx-checkbox--checked :host ::ng-deep .igx-checkbox__composite-mark {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

:host ::ng-deep .igx-checkbox--indeterminate .igx-checkbox__composite-mark, .igx-checkbox--indeterminate :host ::ng-deep .igx-checkbox__composite-mark {
  stroke-dashoffset: 41;
  /* length of path - adjacent line length */
  opacity: 1;
  -ms-transform: rotate(45deg) translateX(-0.125em);
      transform: rotate(45deg) translateX(-0.125em); }

:host ::ng-deep .igx-checkbox__label, :host ::ng-deep .igx-checkbox__label--before {
  display: inline-block;
  color: var(--igx-checkbox-label-color);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-wrap: break-all; }
  :host ::ng-deep .igx-checkbox__label:empty, :host ::ng-deep .igx-checkbox__label--before:empty {
    margin: 0; }

:host ::ng-deep .igx-checkbox__label--before:empty,
:host ::ng-deep .igx-checkbox__label:empty {
  margin: 0; }

:host ::ng-deep .igx-checkbox__label {
  margin-left: 0.5em; }

:host ::ng-deep .igx-checkbox__label--before {
  margin-right: 0.5em;
  -ms-flex-order: -1;
      order: -1; }

:host ::ng-deep .igx-checkbox--disabled .igx-checkbox__label, .igx-checkbox--disabled :host ::ng-deep .igx-checkbox__label, :host ::ng-deep .igx-checkbox--disabled .igx-checkbox__label--before, .igx-checkbox--disabled :host ::ng-deep .igx-checkbox__label--before {
  color: var(--igx-checkbox-disabled-color-label); }

:host ::ng-deep .igx-checkbox__ripple {
  display: block;
  position: absolute;
  top: calc(50% - 1.5em);
  right: calc(100% - 1.5em - 0.625em);
  width: 3em;
  height: 3em;
  border-radius: var(--igx-checkbox-border-radius-ripple);
  overflow: hidden;
  pointer-events: none;
  -webkit-filter: opacity(1);
          filter: opacity(1); }
  :host ::ng-deep .igx-checkbox__ripple {
    --igx-ripple-variant: material;
    --igx-ripple-color: var(--igx-checkbox-fill-color); }
  :host ::ng-deep .igx-checkbox__ripple .igx-ripple__inner {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: var(--igx-ripple-color);
    pointer-events: none;
    -ms-transform-origin: center;
        transform-origin: center;
    transform: translate3d(0, 0, 0) scale(0);
    will-change: opacity, transform;
    opacity: .5;
    margin: 0 !important;
    border: none !important; }
  :host ::ng-deep .igx-checkbox__ripple .igx-ripple {
    overflow: hidden; }
  :host ::ng-deep .igx-checkbox__ripple {
    --igx-ripple-variant: material;
    --igx-ripple-color: var(--igx-checkbox-fill-color); }

:host ::ng-deep .igx-checkbox--focused .igx-checkbox__ripple, .igx-checkbox--focused :host ::ng-deep .igx-checkbox__ripple {
  -webkit-animation: "scale-in-out" 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
          animation: "scale-in-out" 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  background: var(--igx-checkbox-empty-color);
  transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: .12; }

:host ::ng-deep .igx-checkbox--focused.igx-checkbox--checked .igx-checkbox__ripple, .igx-checkbox--focused.igx-checkbox--checked :host ::ng-deep .igx-checkbox__ripple, :host ::ng-deep .igx-checkbox--focused.igx-checkbox--indeterminate .igx-checkbox__ripple, .igx-checkbox--focused.igx-checkbox--indeterminate :host ::ng-deep .igx-checkbox__ripple {
  background: var(--igx-checkbox-fill-color); }

:host ::ng-deep .igx-checkbox:hover .igx-checkbox__ripple::after, .igx-checkbox:hover :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox:active .igx-checkbox__ripple::after, .igx-checkbox:active :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--indeterminate:hover .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:hover :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--indeterminate:active .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:active :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--checked:hover .igx-checkbox__ripple::after, .igx-checkbox--checked:hover :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--checked:active .igx-checkbox__ripple::after, .igx-checkbox--checked:active :host ::ng-deep .igx-checkbox__ripple::after {
  position: absolute;
  content: '';
  opacity: .06;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

:host ::ng-deep .igx-checkbox:hover .igx-checkbox__ripple::after, .igx-checkbox:hover :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox:active .igx-checkbox__ripple::after, .igx-checkbox:active :host ::ng-deep .igx-checkbox__ripple::after {
  background: var(--igx-checkbox-empty-color); }

:host ::ng-deep .igx-checkbox--indeterminate:hover .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:hover :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--indeterminate:active .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:active :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--checked:hover .igx-checkbox__ripple::after, .igx-checkbox--checked:hover :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--checked:active .igx-checkbox__ripple::after, .igx-checkbox--checked:active :host ::ng-deep .igx-checkbox__ripple::after {
  background: var(--igx-checkbox-fill-color); }

:host ::ng-deep .igx-checkbox:active .igx-checkbox__ripple::after, .igx-checkbox:active :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--indeterminate:active .igx-checkbox__ripple::after, .igx-checkbox--indeterminate:active :host ::ng-deep .igx-checkbox__ripple::after, :host ::ng-deep .igx-checkbox--checked:active .igx-checkbox__ripple::after, .igx-checkbox--checked:active :host ::ng-deep .igx-checkbox__ripple::after {
  opacity: .12; }

:host ::ng-deep .igx-checkbox--plain .igx-checkbox__composite,
:host ::ng-deep .igx-checkbox--plain .igx-checkbox__composite::after,
:host ::ng-deep .igx-checkbox--plain .igx-checkbox__composite-mark,
:host ::ng-deep .igx-checkbox--plain .igx-checkbox--checked .igx-checkbox__composite-mark,
.igx-checkbox--checked :host ::ng-deep .igx-checkbox--plain .igx-checkbox__composite-mark {
  transition: none; }
