.aggregated-data-wrapper { display: inline; margin-right: 24px }
.aggregated-data-wrapper span:first-child { margin-right: 16px }

.cosy {
    padding: 16px;
}

.compact {
    padding: 12px;
}

.comfortable {
    padding: 24px;
}