:host {
    display: block;
    padding: 8px;
}

.switches {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 0%;
    min-width: 100%;
    padding-right: 20px;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 10px;

    >button {
        margin-right: 10px;
    }
}
