<div class="switches">
    <button igxButton="contained" (click)="restoreState()">
        <igx-icon class="btn-icon">restore</igx-icon>
        <span>Restore</span>
    </button>
    <button igxButton="contained" (click)="saveState()">
        <igx-icon class="btn-icon">save</igx-icon>
        <span>Save</span>
    </button>
    <button igxButton="contained" (click)="clearStorage()">
        <igx-icon class="btn-icon">delete</igx-icon>
        <span>Clear</span>
    </button>
</div>

<igx-pivot-grid #grid [data]="data" [pivotConfiguration]="pivotConfigHierarchy" [defaultExpandState]='true'
    [igxGridState]="options" [sortStrategy]="customStrategy" [pivotUI]='{ showConfiguration: false }' [superCompactMode]="true" [height]="'500px'">
</igx-pivot-grid>