$dark-gray: #555;
$charcoal: #424242;
$monte-carlo: #83cbc4;
$green: #159588;

$google-light: calendar-theme(
    $header-background: $green 
);

$google-dark: calendar-theme(
    $header-background: $dark-gray,
    $content-background: $charcoal,
    $date-selected-background: $monte-carlo,
    $date-current-foreground: $monte-carlo,
    $navigation-hover-color: $monte-carlo,
    $picker-hover-foreground: $monte-carlo,
    $ym-current-foreground: $monte-carlo,
    $ym-hover-foreground: $monte-carlo,
    $ym-current-foreground: $monte-carlo,
    $ym-hover-foreground: $monte-carlo
);
