<div class="grid-lite-wrapper">
  <igc-grid-lite [data]="data">
    <igc-grid-lite-column field="avatar" header="Avatar" [cellTemplate]="formatAvatar"></igc-grid-lite-column>
    <igc-grid-lite-column field="firstName" header="First name" sortable filterable resizable></igc-grid-lite-column>
    <igc-grid-lite-column field="lastName" header="Last name" sortable filterable resizable></igc-grid-lite-column>
    <igc-grid-lite-column field="email" header="Email Address"></igc-grid-lite-column>
    <igc-grid-lite-column field="priority" header="Priority" width="12rem" sortable sorting-case-sensitive [sortConfiguration]="{ comparer: priorityComparer }" [cellTemplate]="formatPriority"></igc-grid-lite-column>
    <igc-grid-lite-column field="satisfaction" header="Satisfaction rating" data-type="number" sortable filterable [cellTemplate]="formatSatisfaction"></igc-grid-lite-column>
    <igc-grid-lite-column field="registeredAt" header="Registered @" sortable [cellTemplate]="formatRegisteredAt"></igc-grid-lite-column>
    <igc-grid-lite-column field="active" header="Active" data-type="boolean" [cellTemplate]="formatActive"></igc-grid-lite-column>
  </igc-grid-lite>
</div>
