<div class="grid__wrapper">
    <div class="summary-chooser">
        <igx-buttongroup
            [selectionMode]="'multi'"
            [values]="defaultSummaries"
            (selected)="disableDefaultSummary($event)"
            (deselected)="enableDefaultSummary($event)"
        ></igx-buttongroup>
    </div>

    <div class="summary-chooser">
        <igx-buttongroup
            [selectionMode]="'multi'"
            [values]="customSummaries"
            (selected)="disableCustomSummary($event)"
            (deselected)="enableCustomSummary($event)"
        ></igx-buttongroup>
    </div>
    
    <igx-tree-grid
        [igxPreventDocumentScroll]="true"
        #treegrid1
        [data]="data"
        [autoGenerate]="false"
        height="700px"
        width="100%"
        primaryKey="ID"
        foreignKey="ParentID"
    >
        <igx-column field="ID" header="Order ID"> </igx-column>
        <igx-column field="Name" header="Order Product" [hasSummary]="true">
        </igx-column>
        <igx-column
            field="Units"
            header="Units"
            dataType="number"
            [hasSummary]="true"
            [summaries]="unitsSummary"
            [disabledSummaries]="['totalDelivered', 'totalNotDelivered']"
        >
        </igx-column>
        <igx-column
            field="UnitPrice"
            header="Unit Price"
            dataType="number"
            [hasSummary]="true"
            [disabledSummaries]="['count', 'sum', 'average']"
        >
        </igx-column>
        <igx-column
            field="Price"
            header="Price"
            dataType="number"
            [hasSummary]="true"
            [disabledSummaries]="['count', 'sum', 'average']"
        >
        </igx-column>
        <igx-column
            field="Delivered"
            header="Delivered"
            [hasSummary]="true"
            [dataType]="'boolean'"
        >
        </igx-column>
        <igx-column
            field="OrderDate"
            header="Order Date"
            [dataType]="'date'"
            [hasSummary]="true"
        >
        </igx-column>
    </igx-tree-grid>
</div>
