<div class="wrapper">
    <igx-hierarchical-grid igxPreventDocumentScroll  #hierarchicalGrid [primaryKey]="'Artist'" [moving]="true" [data]="localdata" height="750px" [displayDensity]="'cosy'" [autoGenerate]="false"
                           [allowFiltering]="true" [filterMode]="'excelStyleFilter'"
                           [uniqueColumnValuesStrategy]="singersColumnValuesStrategy">
        <igx-grid-toolbar>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="Photo" [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <img [src]="cell.value" class="photo" />
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Artist" [sortable]="true"></igx-column>
        <igx-column field="Debut" [sortable]="true" [dataType]="'number'"></igx-column>
        <igx-column field="GrammyNominations" header="Grammy Nominations" [dataType]="'number'" [sortable]="true"></igx-column>
        <igx-column field="GrammyAwards" header="Grammy Awards" [dataType]="'number'" [sortable]="true"></igx-column>
        <igx-row-island [key]="'Albums'" [primaryKey]="'Album'" [autoGenerate]="false" [allowFiltering]="true" [filterMode]="'excelStyleFilter'"
                        [uniqueColumnValuesStrategy]="albumsColumnValuesStrategy">
            <igx-column field="Album" [sortable]="true"></igx-column>
            <igx-column field="LaunchDate" header="Launch Date" [sortable]="true" [dataType]="'date'"></igx-column>
            <igx-column field="BillboardReview" header="Billboard Review" [sortable]="true" [dataType]="'number'"></igx-column>
            <igx-column field="USBillboard200" header="US Billboard 200" [sortable]="true" [dataType]="'number'"></igx-column>
            <igx-row-island [key]="'Songs'" [primaryKey]="'Title'" [autoGenerate]="false" >
                    <igx-column field="Number" header="No."></igx-column>
                    <igx-column field="Title"></igx-column>
                    <igx-column field="Released" dataType="date"></igx-column>
                    <igx-column field="Genre"></igx-column>
            </igx-row-island>
        </igx-row-island>
    </igx-hierarchical-grid>
</div>
