<div class="sample-wrapper">
    <section class="sample-content">
        <div class="sample-holder">
            <div class="chips">
                <igx-chips-area #chipsArea class="chiparea" (onMoveStart)="clickedOutside($event)" (onReorder)="chipsOrderChanged($event)">
                    <igx-chip class="chipStyle" *ngFor="let chip of chipList" [id]="chip.id" [draggable]="true" [removable]="true" (onRemove)="chipRemoved($event)">
                        <igx-avatar class="chip-avatar-resized" igxPrefix fontSet="material" [src]="chip.photo" roundShape="true"></igx-avatar>
                        <span #label [class]="'igx-chip__text'">{{chip.name}}</span>
                    </igx-chip>
                </igx-chips-area>
            </div>
            <div class="inputs">
                <igx-input-group #inputGroup>
                    <igx-prefix>To:</igx-prefix>
                    <label igxLabel>Email address</label>
                    <input igxInput #inputForm (keyup.enter)="addEmail()" (keydown)="toggleDropDown($event)" (keydown.ArrowDown)="openDropDown()"
                        type="email" [igxDropDownItemNavigation]="dropdown" required />
                </igx-input-group>
                <igx-input-group>
                    <igx-prefix>Cc:</igx-prefix>
                    <input #ccGroup igxInput [disabled]="'true'" />
                </igx-input-group>
                <igx-drop-down #dropdown (onSelection)="itemSelection($event)" (onOpened)="onDropDownOpen()" (onClosed)="onDropDownClose()">
                    <igx-drop-down-item *ngFor="let item of dropDownList | filter:inputForm.value">
                        <div class="igx-drop-down__item-template">
                            <igx-avatar igxPrefix fontSet="material" [src]="item.photo" roundShape="true"></igx-avatar>
                            <span igxSufix>{{item.name}}</span>
                        </div>
                    </igx-drop-down-item>
                </igx-drop-down>
            </div>
            <div class="chips">
                <igx-chips-area #chipsAreaCc (onReorder)="chipsOrderChangedCc($event)">
                    <igx-chip class="chipStyle" *ngFor="let chip of tagList" [id]="chip.id" [selectable]="true" (onRemove)="chipRemovedCc($event)" (onSelection)="selectChipCc(chip.id)">
                        <span #label [class]="'igx-chip__text'">{{chip.text}}</span>
                    </igx-chip>
                </igx-chips-area>
                <textarea #textArea placeholder="Hey,&#10;&#10;Check out IgniteUI for Angular!" class="emailText"></textarea>
            </div>
            <button class="toggle-button" igxButton="raised" igxRipple="white" (click)="clear()" (click)="showToast(toast, 'middle')"
                [disabled]="toast.isVisible">Send</button>
            <igx-toast #toast message="Your email has been sent!" [position]="toastPosition"></igx-toast>
        </div>
    </section>
</div>