.toggle-button{
    width: 150px;
    margin-bottom: 15px;
}
.toggle-content{
    display: flex;
    width: 320px;
    height: 260px;
}
.toggle-section{
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    font-size: 1.7em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul{
    padding: 20px;
}
li{
    margin-bottom: 15px;
    list-style-type: none;
}