@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-theme: navdrawer-theme(
  $background: #2d313a,
  $item-active-background: #ecc256,
  $item-header-text-color: #f3c03e
);

:host {
    @include tokens($custom-theme);
}
