@import '~igniteui-angular/lib/core/styles/themes/index';

:host {
    $custom-theme: igx-navdrawer-theme(
        $background: #2d313a,
        $item-active-background: #ecc256,
        $item-header-text-color: #f3c03e
    );

    @include igx-css-vars($custom-theme);
}
