<div class="grid-container">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [pinning]='pinningConfig' [height]="'490px'" [width]="'100%'"
        [autoGenerate]="false" [rowDraggable]="true" [primaryKey]="'ID'" [cellSelection]="false" igxDrop
        (onRowDragStart)="onRowDragStart($event)" (dropped)="onDropAllowed($event)"
        (mouseover)="onMouseOver(actionStrip1, grid1, $event)" (onCellClick)="onCellClick($event)"
        (mouseleave)="onMouseLeave(actionStrip1, $event)"
        (onDataPreLoad)="actionStrip1.hide()">
        <igx-column [field]="'CompanyName'" [header]="'Company Name'"></igx-column>
        <igx-column [field]="'ContactName'" [header]="'Contact Name'"></igx-column>
        <igx-column [field]="'ContactTitle'" [header]="'Contact Title'"></igx-column>
        <igx-column [field]="'Address'" [header]="'Address'"></igx-column>
        <igx-column [field]="'City'" [header]="'City'"></igx-column>
        <igx-column [field]="'PostalCode'" [header]="'Postal Code'"></igx-column>
        <igx-column [field]="'Phone'" [header]="'Phone'"></igx-column>
        <igx-column [field]="'Fax'" [header]="'Fax'"></igx-column>

        <igx-action-strip #actionStrip1>
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
        </igx-action-strip>
    </igx-grid>
</div>