.combo {
    margin: 8px;
    width: 430px;
}

.header-item {
    text-transform: capitalize;
}

.header-class, .footer-class {
    text-align: center;
    padding: 4px;
    color: var(--ig-secondary-500);
}

.empty-class {
    margin: 8px;
}
