@import '~igniteui-angular/lib/core/styles/themes/index';

.dialog-container{
    display: flex;
    margin-left: 24px;
}

igx-icon {
    margin-right: 8px;
}

/*BASIC THEMING*/

$my-dialog-theme: igx-dialog-theme(
    $background: #011627,
    $title-color:  #ECAA53,
    $message-color:  #FEFEFE,
    $border-radius: .3,
);

$dark-button: igx-button-theme(
    $raised-background: #ECAA53,
    $raised-text-color: #011627,
);

:host {
    display: block;
    padding: 16px;

    @include igx-css-vars($my-dialog-theme);

    .dialog-container {
        @include igx-css-vars($dark-button);
    }
}
