@use "layout.scss";
@use "igniteui-angular/theming" as *;

$my-dialog-theme: dialog-theme(
  $background: #011627,
  $title-color: #ecaa53,
  $border-radius: 5px,
);

$custom-button: contained-button-theme(
  $background: #ecaa53,
  $foreground: #011627,
);

.dialog-container {
  @include tokens($custom-button);
}

:host {
    @include tokens($my-dialog-theme);
}
