@use '../../../../variables' as *;

.dialog-container {
    display: flex;
}

igx-icon {
    margin-right: 8px;
}

$my-dialog-theme: igx-dialog-theme(
    $background: #011627,
    $title-color:  #ecaa53,
    $message-color:  #fefefe,
    $border-radius: .3,
);

$dark-button: igx-button-theme(
    $background: #ecaa53,
    $foreground: #011627,
);

:host {
    display: block;
    padding: 16px;

    // @include css-vars($my-dialog-theme);

    // .dialog-container {
    //     @include css-vars($dark-button);
    // }

    /* Using Theme Overrides to provide IE 11 support.
     * NOTE: Theming using this approach will greatly increase the size
     * of the output CSS. If you do not plan to target IE 11,
     * delete this section and use the `igx-css-vars` mixin as shown above.
    **/
    ::ng-deep {
        @include dialog($my-dialog-theme);

        .dialog-container {
            @include button($dark-button);
        }
    }
}
