<div class="content-wrap">
    <form class="book-flight-form" [formGroup]="twoInputForm" (ngSubmit)="submitTwoInputForm()">
        <div class="container">
            <div class="input-wrapper">
                <igx-input-group class="contentA">
                    <input #departureAirport igxInput type="text" formControlName="departureAirport">
                    <label for="departureAirport" igxLabel>From</label>
                    <igx-suffix>
                        <igx-icon>plane</igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group class="contentB">
                    <input #arrivalAirport igxInput type="text" formControlName="arrivalAirport">
                    <label for="arrivalAirport" igxLabel>To</label>
                    <igx-suffix>
                        <igx-icon>plane</igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <div>
                </div>
                <!-- <div class="date-range-wrapper"> -->
                    <igx-date-range class="date-range-wrapper" [weekStart]="1" [todayButtonText]="'Show Today'" [monthsViewNumber]="1"
                        [hideOutsideDays]="true" [mode]="'dropdown'">
                        <igx-input-group class="contentC">
                            <input #flyOutDate formControlName="flyOutDate" igxDateRangeStart igxInput type="text">
                            <label for="startDate" igxLabel>Fly out</label>
                            <igx-prefix>
                                <igx-icon>today</igx-icon>
                            </igx-prefix>
                        </igx-input-group>
                        <igx-input-group class="contentD">
                            <input #flyBackDate formControlName="flyBackDate" igxDateRangeEnd igxInput type="text">
                            <label for="endDate" igxLabel>Fly back</label>
                            <igx-prefix>
                                <igx-icon>today</igx-icon>
                            </igx-prefix>
                        </igx-input-group>
                    </igx-date-range>
                <!-- </div> -->
            </div>
        </div>
    </form>
</div>