.grid__wrapper {
    --ig-size: var(--ig-size-small);
}

.top-row,
.grid__wrapper {
    padding: 16px;
    padding-bottom: 0;
}


.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0;
}
