$tp-button: igx-button-theme(
    $schema: $dark-schema,
    $palette: $tp-palette,
    $raised-background: rgba(234,104,250,1),
    $raised-hover-background: rgba(151,89,255,1),
    $raised-border-radius: 1,
    $flat-border-radius: 1,
    $outlined-border-radius: 1,
    $icon-color: #fff,
    $icon-background: transparent,
    $icon-hover-color: igx-color($tp-palette, 'secondary')
);
