$tp-list: igx-list-theme(
    $palette: $tp-palette,
    $schema: $dark-schema,
    $item-background-hover: $row-background,
    $item-background-active: $row-background,
    $item-text-color-hover: #fff,
    $item-text-color: #fff,
    $item-action-color: #535b76,
    $item-action-color-hover: #fff,
    $item-action-color-active: #fff,
);
