@import '~igniteui-angular/lib/core/styles/base/index';
@import "palettes";
$backlog-card-header-height: rem(57px);
$backlog-tab-header-height: rem(58px);
$header-height: rem(56px);
$tp-app-padding: rem(32px);
$backlog-width : rem(400px);
$offset-top: $header-height;
$state-done: #52e282;
$state-new: #54d5ee;
$state-inProgress: #b38de6;
$state-late: #dca676;
$state-priority: #ea5556;
$state-delayed: #d2c059;
$tp-grays-gradient: igx-color($tp-palette, 'surface');
$tp-grays-gradient-btn: linear-gradient(90deg, #343745 0%, rgba(65,70,92,1) 35%, #343745 100%);
$row-background: #343745;
$btn-icon-background: #262933;
$header-background: $row-background;
$scrollbar-track: $row-background;
$scrollbar-thumb: rgba(65,70,92,1);
