@import '~igniteui-angular/lib/core/styles/base/index';
@import "palettes";
$backlog-card-header-height: rem(57px);
$backlog-tab-header-height: rem(58px);
$header-height: rem(56px);
$config-height: rem(68px);
$search-height: rem(50px);
$search-margin: rem(16px);
$tp-app-padding: rem(16px);
$scroll-subtract: $backlog-tab-header-height + $search-height + ($tp-app-padding * 2);
$backlog-width : rem(300px);
$offset-top: $header-height;
$state-done: #52e282;
$state-new: #54d5ee;
$state-inprogress: #b38de6;
$state-late: #c8b78e;
$state-critical: #ea5556;
$state-high: #dc8c35;
$state-delayed: #b1d2c5;
$tp-grays-gradient: igx-color($tp-palette, 'surface');
$tp-grays-gradient-btn: linear-gradient(90deg, #343745 0%, rgba(65,70,92,1) 35%, #343745 100%);
$row-background: #343745;
$row-col-background: #2e313c;
$btn-icon-background: #262933;
$header-background: $row-background;
$scrollbar-track: $row-background;
$scrollbar-thumb: rgba(65,70,92,1);
$light-text: #fff;
