@import '~igniteui-angular/lib/core/styles/themes/index';
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fontawesome.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-regular.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-solid.css");

/* Custom Theming */

$custom-theme: igx-grid-theme(
    $pinned-border-width: 5px,
    $pinned-border-style: double,
    $pinned-border-color: #FFCD0F,
    $cell-active-border-color: #FFCD0F
);

// $primary-color: #292826;
// $secondary-color: #ffcd0f;

/* Using Custom Palette */

// $custom-palette: igx-palette(
//     $primary: $primary-color,
//     $secondary: $secondary-color
// );

// $custom-theme: igx-grid-theme(
//     $pinned-border-width: 5px,
//     $pinned-border-style: double,
//     $pinned-border-color: igx-color($custom-palette, "secondary", 500),
//     $cell-active-border-color: igx-color($custom-palette, "secondary", 500)
// );

/* Using Custom Schema */

// $custom-grid-schema: extend($_light-grid, (
//     pinned-border-width: 5px,
//     pinned-border-style: double,
//     pinned-border-color: (igx-color:("secondary", 500)),
//     cell-active-border-color: (igx-color:("secondary", 500))
// ));
    

// $my-custom-schema: extend($light-schema, (
//     igx-grid: $custom-grid-schema
// ));

// $custom-theme: igx-grid-theme(
//     $palette: $custom-palette,
//     $schema: $my-custom-schema
// );

@include igx-grid($custom-theme);

.header-icon {
    font-size: 1.1em;
    width: 1.1em;
    height: 1.1em;
    float: right;
    cursor: pointer;
}

.header {
    height: 100%;
}

:host ::ng-deep .title {
    width: 100%;
}

.pin-icon {
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #999;

    &:hover {
        color: #444
    }
}

.igx-grid__th--pinned  {
    .pin-icon {
        color: #444;

        &:hover {
            color: #999
        }
    }
}

.title-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid__wrapper {
    margin: 0 auto;
    padding: 5px;
}
