<div class="settings__wrapper">
    <igx-navbar title="Settings">
        <igx-icon>settings</igx-icon>
    </igx-navbar>
    <div class="settings__content">
        <igx-banner class="settings__banner" #connectionBanner>
            <igx-icon>notification_important</igx-icon>
            You are currently sending automatic replies.
            <igx-banner-actions>
                <button igxButton igxRipple (click)="automaticRepliesSwitch(false)">Turn Off</button>
                <button igxButton igxRipple (click)="connectionBanner.close()">DISMISS</button>
            </igx-banner-actions>
        </igx-banner>
        <div class="settings__body">
            <div class="settings__list">
                <igx-avatar initials="QT" [roundShape]="true" size="medium">
                </igx-avatar>
                <h5>
                    Qually T
                </h5>
            </div>
            <div class="settings__panel">
                <igx-switch [(ngModel)]="automaticReplies" (ngModelChange)="toggleBanner($event)">Automatic Replies</igx-switch>
                <igx-input-group type='border'>
                    <textarea igxInput [readonly]="automaticReplies">{{ automaticReplyText }}
                    </textarea>
                </igx-input-group>
            </div>
        </div>
    </div>
</div>