.sample-wrapper {
    max-width: 560px;
    margin-top: 24px;
    height: 360px;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 0px 0px #a3a3a3;
}
.banner-border {
    border-bottom: 1px solid white;
}

.settings__banner { 
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #90f;
}

.settings__header {
    border: 1px solid gray;
    min-height: 40px;
}

.settings__body {
    display: flex;
    height: 160px;
    max-height: 80%;
}

.settings__body > * {
    padding-top: 8px;
    text-align: center;
}
.settings__list {
    width: 40%;
    box-sizing: border-box;
    padding-left: 16px;
}
.settings__panel {
    width: 60%;
    
}

.settings__banner {
    border-bottom: 2px solid #5c5cf1;
}

textarea {
    height: 90%;
    width: 90%;
}
