<div class="grid__wrapper">
    <button igxButton="raised" (click)="openDialog()" class="addEmplBtn">Add Root Employee</button>
    <igx-tree-grid #treeGrid [data]="data" primaryKey="ID" foreignKey="ParentID" [autoGenerate]="false" displayDensity="comfortable"
        width="100%" height="800px" [paging]="true" [perPage]="10" [allowFiltering]="true">
        <igx-column [field]="'Name'" dataType="string" [editable]="true" [hasSummary]="true"></igx-column>
        <igx-column [field]="'Title'" dataType="string" [editable]="true" [hasSummary]="true"></igx-column>
        <igx-column [field]="'Age'" dataType="number" [editable]="true" [hasSummary]="true" [summaries]="numberSummaries"></igx-column>
        <igx-column [field]="'HireDate'" dataType="date" [editable]="true" [hasSummary]="true"></igx-column>
        <igx-column [field]="'OnPTO'" dataType="boolean" [editable]="true" [hasSummary]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <span *ngIf="cell.row.rowData.UnitPrice == 0">-</span>
                <img *ngIf="cell.row.rowData.UnitPrice != 0 && val" src="assets/images/grid/active.png" />
                <img *ngIf="cell.row.rowData.UnitPrice != 0 && !val" src="assets/images/grid/expired.png" />
            </ng-template>
        </igx-column>
        <igx-column [filterable]="false" width="230px">
            <ng-template igxCell let-cell="cell">
                <button igxButton="raised" (click)="openDialog(cell.row.rowID)" class="addEmplBtn">Add Child Employee</button>
            </ng-template>
        </igx-column>
        <igx-column [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <button igxButton="icon" (click)="deleteRow(cell.row.rowID)">
                    <igx-icon>delete</igx-icon>
                </button>
            </ng-template>
        </igx-column>
    </igx-tree-grid>
    <igx-dialog #dialogAdd title="New Employee" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
        (onLeftButtonSelect)="cancel()" (onRightButtonSelect)="addRow()">
        <div class="dialogNewRecord">
            <igx-input-group>
                <label igxLabel for="employeeName">Employee Name</label>
                <input igxInput id="employeeName" type="text" [(ngModel)]="employee.Name" />
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="employeeTitle">Title</label>
                <input igxInput id="employeeTitle" type="text" [(ngModel)]="employee.Title" />
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="employeeAge">Age</label>
                <input igxInput id="employeeAge" type="number" [(ngModel)]="employee.Age" />
            </igx-input-group>
            <igx-datePicker class="datePicker" id="employeeHireDate" label="Hire Date" [(ngModel)]="employee.HireDate"></igx-datePicker>
            <igx-checkbox id="onPTO" [(ngModel)]="employee.OnPTO">On PTO</igx-checkbox>
        </div>
    </igx-dialog>
</div>