<div class="grid__wrapper">    
    <button igxButton="outlined" class="addRootBtn" (click)="openDialog(-1)">
        <igx-icon>person_add</igx-icon>
        <span>Add Root Employee</span>
    </button>    
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="data" primaryKey="ID" foreignKey="ParentID" [autoGenerate]="false" displayDensity="comfortable"
        width="100%" height="800px" [paging]="true" [perPage]="10" [allowFiltering]="true">
        <igx-column [field]="'Name'" dataType="string" [editable]="true" [hasSummary]="true"></igx-column>
        <igx-column [field]="'Title'" dataType="string" [editable]="true" [hasSummary]="true"></igx-column>
        <igx-column [field]="'Age'" dataType="number" [editable]="true" [hasSummary]="true" [summaries]="numberSummaries"></igx-column>
        <igx-column [field]="'HireDate'" dataType="date" [editable]="true" [hasSummary]="true"></igx-column>
        <igx-column [field]="'OnPTO'" dataType="boolean" [editable]="true" [hasSummary]="true" width="130px">
            <ng-template igxCell let-cell="cell" let-val>
                <igx-icon [color]="cell.row.rowData.OnPTO? 'red': 'green'">account_circle</igx-icon>                
            </ng-template>
        </igx-column>
        <igx-column [filterable]="false" width="130px">
            <ng-template igxCell let-cell="cell">
                <div class="buttonsArea">
                    <button igxButton="icon" (click)="openDialog(cell.row.rowID)" class="emplBtn">
                        <igx-icon>person_add</igx-icon>
                    </button>
                    <button igxButton="icon" (click)="deleteRow(cell.row.rowID)" class="emplBtn">
                        <igx-icon>delete</igx-icon>
                    </button>
                </div>
            </ng-template>
        </igx-column>
    </igx-tree-grid>
    <igx-dialog #dialogAdd title="New Employee" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
        (onLeftButtonSelect)="cancel()" (onRightButtonSelect)="addRow()">
        <div class="dialogNewRecord">
            <igx-input-group>
                <label igxLabel for="employeeName">Employee Name</label>
                <input igxInput id="employeeName" type="text" [(ngModel)]="employee.Name" />
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="employeeTitle">Title</label>
                <input igxInput id="employeeTitle" type="text" [(ngModel)]="employee.Title" />
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="employeeAge">Age</label>
                <input igxInput id="employeeAge" type="number" [(ngModel)]="employee.Age" />
            </igx-input-group>
            <igx-date-picker class="datePicker" id="employeeHireDate" label="Hire Date" [(ngModel)]="employee.HireDate"></igx-date-picker>
            <igx-checkbox id="onPTO" [(ngModel)]="employee.OnPTO">On PTO</igx-checkbox>
        </div>
    </igx-dialog>
</div>