<div class="switches">
    <igx-switch (change)='changePinningPosition()' style="padding-left: 20px">Bottom Row Pinning toggle</igx-switch>
</div>
<div class="grid-container">
    <igx-hierarchical-grid igxPreventDocumentScroll #hierarchicalGrid [data]="localData" [primaryKey]="'Photo'" [autoGenerate]="false"
        [height]="'520px'" [width]="'100%'" [rowHeight]="'65px'" [pinning]='pinningConfig' [cellSelection]="'none'">
        <igx-column width='70px' [filterable]='false' [pinned]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <igx-icon class="pin-icon" fontSet="filtering-icons" name="{{cell.row.pinned ? 'unpin' : 'pin'}}"
                    (mouseup)="togglePinning(cell.row, $event)">
                </igx-icon>
            </ng-template>
        </igx-column>
        <igx-column field="Artist"></igx-column>
        <igx-column field="Photo" [editable]="false">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner_2">
                    <img [src]="cell.value" class="photo" />
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Debut" dataType="number" [formatter]="formatter"></igx-column>
        <igx-column field="GrammyNominations" header="Grammy Nominations" dataType="number"></igx-column>
        <igx-column field="GrammyAwards" header="Grammy Awards" dataType="number"></igx-column>

        <igx-row-island [key]="'Albums'" [autoGenerate]="false" [primaryKey]="'Album'" [pinning]='pinningConfig'
            [cellSelection]="'none'">
            <igx-column width='70px' [filterable]='false' [pinned]="true">
                <ng-template igxCell let-cell="cell" let-val>
                    <igx-icon class="pin-icon" fontSet="filtering-icons" name="{{cell.row.pinned ? 'unpin' : 'pin'}}"
                        (mouseup)="togglePinning(cell.row, $event)">
                    </igx-icon>
                </ng-template>
            </igx-column>
            <igx-column field="Album"></igx-column>
            <igx-column field="LaunchDate" header="Launch Date" [dataType]="'date'"></igx-column>
            <igx-column field="BillboardReview" header="Billboard Review"></igx-column>
            <igx-column field="USBillboard200" header="US Billboard 200"></igx-column>
            <igx-row-island [key]="'Songs'" [autoGenerate]="false" [primaryKey]="'Number'" [pinning]='pinningConfig'
                [cellSelection]="'none'">
                <igx-column width='70px' [filterable]='false' [pinned]="true">
                    <ng-template igxCell let-cell="cell" let-val>
                        <igx-icon class="pin-icon" fontSet="filtering-icons"
                            name="{{cell.row.pinned ? 'unpin' : 'pin'}}" (mouseup)="togglePinning(cell.row, $event)">
                        </igx-icon>
                    </ng-template>
                </igx-column>
                <igx-column field="Number" header="No."></igx-column>
                <igx-column field="Title"></igx-column>
                <igx-column field="Released" dataType="date"></igx-column>
                <igx-column field="Genre"></igx-column>
            </igx-row-island>
        </igx-row-island>

        <igx-row-island [key]="'Tours'" [autoGenerate]="false" [primaryKey]="'Tour'" [pinning]='pinningConfig'
            [cellSelection]="'none'">
            <igx-column width='70px' [filterable]='false' [pinned]="true">
                <ng-template igxCell let-cell="cell" let-val>
                    <igx-icon class="pin-icon" fontSet="filtering-icons" name="{{cell.row.pinned ? 'unpin' : 'pin'}}"
                        (mouseup)="togglePinning(cell.row, $event)">
                    </igx-icon>
                </ng-template>
            </igx-column>
            <igx-column field="Tour"></igx-column>
            <igx-column field="StartedOn" header="Started on"></igx-column>
            <igx-column field="Location"></igx-column>
            <igx-column field="Headliner"></igx-column>
        </igx-row-island>
    </igx-hierarchical-grid>
</div>