<div class="sample-content">
  <section class="sample-column">
    <article class="icons-wrapper">
      <div class="icon-sample">
        <igx-icon name="sentiment_very_satisfied" color="rgb(52, 0, 104)" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="home" color="black" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="airplanemode_active" color="#0375be" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="favorite" color="#e41c77" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="search" isActive="false"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="notifications" color="rgb(52, 0, 104)" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="account_balance" color="black" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="phone_iphone" color="#0375be" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="pin_drop" color="#e41c77" isActive="true"></igx-icon>
      </div>
      <div class="icon-sample">
        <igx-icon name="volume_off" isActive="false"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="person" color="rgb(52, 0, 104)" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="wifi" color="black" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="laptop_mac" color="#0375be" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="whatshot" color="#e41c77" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="cloud" isActive="false"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="school" color="rgb(52, 0, 104)" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="bluetooth" color="black" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="headset" color="#0375be" isActive="true"></igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon name="undo" color="#e41c77" isActive="true"></igx-icon>
        </div>   

      <div class="icon-sample">
          <igx-icon name="keyboard_voice" isActive="false"></igx-icon>
      </div>     

    </article>
  </section>
</div>