<div class="sample avatar-size-sample">
    <div class="avatar-size">
        <span class="avatar-frame avatar-frame-large">
            <span class="avatar-with-badge">
                <igx-avatar
                    shape="circle"
                    size="large"
                    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-05.png"
                    alt="A profile photo of a man.">
                </igx-avatar>
                <igx-badge
                    class="avatar-status avatar-dot-badge avatar-dot-badge-large"
                    dot
                    outlined
                    type="success">
                </igx-badge>
            </span>
        </span>
        <span class="avatar-label">Large</span>
    </div>

    <div class="avatar-size">
        <span class="avatar-frame avatar-frame-medium">
            <span class="avatar-with-badge">
                <igx-avatar
                    shape="circle"
                    size="medium"
                    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-03.png"
                    alt="A profile photo of a man.">
                </igx-avatar>
                <igx-badge
                    class="avatar-status avatar-dot-badge avatar-dot-badge-medium"
                    dot
                    outlined
                    type="success">
                </igx-badge>
            </span>
        </span>
        <span class="avatar-label">Medium</span>
    </div>

    <div class="avatar-size">
        <span class="avatar-frame avatar-frame-small">
            <span class="avatar-with-badge">
                <igx-avatar
                    shape="circle"
                    size="small"
                    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png"
                    alt="A profile photo of a man.">
                </igx-avatar>
                <igx-badge
                    class="avatar-status avatar-dot-badge avatar-dot-badge-small"
                    dot
                    outlined
                    type="success">
                </igx-badge>
            </span>
        </span>
        <span class="avatar-label">Small</span>
    </div>
</div>
