<!-- Avatar large size -->
<igx-avatar
    shape="circle"
    size="large"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-05.png"
    alt="A profile photo of a man.">
</igx-avatar>
<igx-badge
    dot
    outlined
    type="success">
</igx-badge>
<span>Large</span>

<!-- Avatar medium size -->
<igx-avatar
    shape="circle"
    size="medium"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-03.png"
    alt="A profile photo of a man.">
</igx-avatar>
<igx-badge
    dot
    outlined
    type="success">
</igx-badge>
<span>Medium</span>

<!-- Avatar small size -->
<igx-avatar
    shape="circle"
    size="small"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png"
    alt="A profile photo of a man.">
</igx-avatar>
<igx-badge
    dot
    outlined
    type="success">
</igx-badge>
<span>Small</span>
