<div class="date-picker-wrapper">
    <div class="container">
        <div class="group">
            <label for="dialogPicker">Dialog Mode</label>
            <igx-date-picker id="dialogPicker"
                             cancelButtonLabel="close"
                             todayButtonLabel="today"
                             [(ngModel)]="date"
                             monthsViewNumber="2"
                             [hideOutsideDays]="true">
            </igx-date-picker>
        </div>
        <div class="group">
            <label for="dropdownPicker">Drop Down Mode</label>
            <igx-date-picker id="dropdownPicker"
                             mode="dropdown"
                             cancelButtonLabel="close"
                             todayButtonLabel="today"
                             [(ngModel)]="date"
                             monthsViewNumber="2"
                             [hideOutsideDays]="true">
            </igx-date-picker>
        </div>
    </div>
</div>
