@use '../../../variables' as *;

.categoryStyle{
    font-weight: 600;
}

.tabContent {
    padding: rem(24px) rem(8px);
    display: flex;
    justify-content: flex-start;
    margin: rem(10px);
}

.avatarContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

igx-divider {
    margin: 0 rem(24px) !important;
}

h6 {
    margin-top: 1em;
}

.details-chart {
    width: rem(200px);
    background: contrast-color($color: 'gray', $variant: 900);
    background: contrast-color($color: 'gray', $variant: 900);
    padding: rem(16px);
    border-radius: rem(4px);
    border: rem(1px) solid contrast-color($color: 'gray', $variant: 900);
}

.tabContent igx-grid {
    box-shadow: none;
    border: rem(1px) solid contrast-color($color: 'gray', $variant: 900);
}

.grid__wrapper {
    --ig-size: var(--ig-size-medium);
    margin: rem(4px) rem(16px);
}
