<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll displayDensity="cosy" [data]="data" [autoGenerate]="false" height="592px" width="100%">
        <igx-column field="name" header="Name" width="250px"></igx-column>
        <igx-column field="position" header="Position"></igx-column>
        <igx-column field="company" header="Company"></igx-column>
        <igx-column field="email" header="Email"></igx-column>
        <igx-column field="referred_by" header="Referrer"></igx-column>
        <ng-template igxGridDetail let-dataItem>
            <div style="width:100%;" (keydown)='$event.stopPropagation()' [style.height.px]='getHeight(tabs.selectedIndex)'>
                <igx-tabs #tabs selectedIndex='0'>
                    <igx-tabs-group label="Details">
                        <div class="tabContent">
                            <div class="avatarContainer">
                                <igx-avatar src="{{dataItem.avatar}}"
                                    roundShape="false" size="large"></igx-avatar>
                                <h6>{{dataItem.name}}</h6>
                            </div>
                            <igx-divider [vertical]="true"></igx-divider>
                            <div class="tabInnerContent">
                                <div class="breathingcontent">
                                    <div><span
                                            class="categoryStyle">Country:&nbsp;</span><span>{{dataItem.country}}</span>
                                    </div>
                                    <div><span class="categoryStyle">City:&nbsp;</span><span>{{dataItem.city}}</span>
                                    </div>
                                    <div><span
                                            class="categoryStyle">Street:&nbsp;</span><span>{{dataItem.street}}</span>
                                    </div>
                                    <div><span class="categoryStyle">Work
                                            Phone:&nbsp;</span><span>{{dataItem.work_phone}}</span></div>
                                    <div><span class="categoryStyle">Mobile
                                            Phone:&nbsp;</span><span>{{dataItem.mobile_phone}}</span></div>
                                </div>
                            </div>
                        </div>
                    </igx-tabs-group>
                    <igx-tabs-group label="Deals">
                        <div class="tabContent">
                            <igx-pie-chart [dataSource]="getPieData(dataItem)" [formatLabel]="formatPieLabel"
                                [outlines]="['transparent']"
                                [brushes]="['rgb(171, 223, 29)', 'rgb(228, 19, 16)', 'rgb(0, 111, 138)']"
                                class="details-chart" labelsPosition="insideEnd" leaderLineVisibility="collapsed"
                                labelMemberPath="Label" valueMemberPath="Value">
                            </igx-pie-chart>
                            <igx-divider [vertical]="true"></igx-divider>
                            <igx-grid [data]="dataItem.gridData ? dataItem.gridData: gridData(dataItem)"
                                [autoGenerate]="true" class="details-grid" columnWidth="70px" displayDensity="cosy"
                                width="260px" height="206px" (onColumnInit)="columnInit($event)">
                            </igx-grid>
                        </div>
                    </igx-tabs-group>
                    <igx-tabs-group label="Sales">
                        <div class="tabContent" style="flex-direction: column;">
                            <igx-legend #legend orientation="horizontal"></igx-legend>
                            <igx-category-chart height="250px" [legend]="legend"
                                [dataSource]="dataItem.chartData ? dataItem.chartData : getChartData(dataItem)"
                                chartType="Line" chartTitle="Sales" subtitle="(Estimated, Actual)" xAxisInterval="1"
                                [brushes]="['rgb(0, 111, 138)', 'rgb(171, 223, 29)']"
                                [xAxisFormatLabel]="formatDateLabel" [includedProperties]="include"
                                [crosshairsSnapToData]="false"
                                [crosshairsDisplayMode]="'Both'" [crosshairsAnnotationEnabled]="true"
                                isHorizontalZoomEnabled="false" isVerticalZoomEnabled="false">
                            </igx-category-chart>
                        </div>
                    </igx-tabs-group>
                </igx-tabs>
            </div>
        </ng-template>
    </igx-grid>
</div>