<div >
    <div >
        <igx-radial-gauge #radialGauge height="300px" width="300px"
            isNeedleDraggingEnabled=true
            isNeedleDraggingConstrained=true
            needleShape="NeedleWithBulb"
            needleBrush="DodgerBlue"
            needleOutline="DodgerBlue"
            needleEndExtent=0.475
            needleStrokeThickness=1

            needlePivotShape="CircleOverlay"
            needlePivotBrush="#9f9fa0"
            needlePivotOutline="#9f9fa0"
            needlePivotWidthRatio=0.2
            needlePivotStrokeThickness=1

            value=50
            minimumValue=0
            maximumValue=80
            interval=10 >
        </igx-radial-gauge>
    </div>
</div>
