<article class="sample-column">
    <igx-buttongroup>
        <button igxButton [igxRipple]="rippleColor">
            <igx-icon>format_align_left</igx-icon>
        </button>
        <button igxButton [igxRipple]="rippleColor">
            <igx-icon>format_align_center</igx-icon>
        </button>
        <button igxButton [igxRipple]="rippleColor">
            <igx-icon>format_align_right</igx-icon>
        </button>
        <button igxButton [igxRipple]="rippleColor" [selected]="true">
            <igx-icon>format_align_justify</igx-icon>
        </button>
    </igx-buttongroup>
</article>
