:host::ng-deep {
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .grid__wrapper {
        margin: 0 16px;
        padding: 5px 1px;
    }
    
    .finjs {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    
    .finjs igx-icon {
        font-size: 16px;
        height: 16px;
    }
    @keyframes fadeInOut {
        0% { opacity: 0 }
        50% { opacity: 1 }
        100% { opacity: 0}
    }

    .container {
        width: 100%;
    }
    
    .positive{
        color: green;
    }
    
    .negative {
        color: red;
    }

    .changePos{
        background-color: rgb(216, 255, 216);
        color: black;
    }
    
    .changeNeg {
        background-color: rgb(255, 226, 226);
        color:black;
    }

    .strongPositive {
        background-color: rgb(144, 255, 144);
        color: black;
    }

    .strongNegative {
        background-color: rgb(255, 182, 182);
        color: black;
    }
}