<div class="grid__wrapper" [class.finjs-dark-theme]="theme">
    <igx-switch [checked]="true" [(ngModel)]="theme">Dark Theme</igx-switch>
    <div class="sliders-holder">
        <div class="slider-wrapper">
            <div class="finjs-slider">
                <label for="slider">Records: {{volume}}</label>
                <igx-slider #slider1 id="slider" [minValue]="0" [maxValue]="20000" [(ngModel)]="volume" [step]="100" (onValueChange)="onVolumeChanged($event)" thumbLabelVisibilityDuration="250" [isContinuous]="false"></igx-slider>
            </div>
            <div class="finjs-slider">
                <label for="slider">Frequency: {{frequency}} ms</label>
                <igx-slider #slider2 id="slider" [minValue]="10" [maxValue]="1000" [step]="10" [(ngModel)]="frequency" (onValueChange)="onFrequencyChanged($event)" thumbLabelVisibilityDuration="250" [isContinuous]="false"></igx-slider>
            </div>
        </div>
        <div class="finjs-flex-row">
            <div>
                <igx-buttongroup  class="finjssample-btn-group" #buttonGroup1 [multiSelection]="false" [values]="controls" (onSelect)="onButtonAction($event)"></igx-buttongroup>
            </div>
            <div class="finjs-sample-switch">
                <span *ngIf="buttonSelected === 2">Feeding {{volume}} new records every {{frequency / 1000}} sec.</span>
                <span *ngIf="buttonSelected === 1">Feeding {{volume}} updated records every {{frequency / 1000}} sec.</span>
                <span *ngIf="buttonSelected === 0">Feeding {{recordsUpdatedLastSecond}} random updated records every {{frequency / 1000}} sec.</span>
                <igx-switch [checked]="grouped" (change)="onChange($event)">Grouped</igx-switch>
            </div>
        </div>
    </div>

    <igx-grid #grid1 [data]="data | async" [height]="'600px'" width="100%" [autoGenerate]='false' displayDensity='compact' [showToolbar]="true" [columnHiding]="true" [columnPinning]="true"
              toolbarTitle="Tokyo Commodity Exchange" columnHidingTitle="Indicators" hiddenColumnsText="Hidden"
              primaryKey='ID' (onGroupingDone)="groupingDone($event)" [rowSelectable]="true">
        <igx-column [field]="'ID'" [hidden]='true'></igx-column>
        <igx-column [field]="'Category'" [width]="'140px'" [filterable]='true' [groupable]='true'></igx-column>
        <igx-column [field]="'Type'" [width]="'120px'" [groupable]='true'></igx-column>
        <igx-column [field]="'Open Price'" [width]="'180px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true">
            <ng-template igxHeader let-column>
                <div class="title-inner">
                    <span>{{column.field}}</span>
                    <igx-icon class="pin-icon" fontSet="fas" iconName="fa-thumbtack" (click)="toggleColumn(column)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>

        <igx-column [field]="'Price'" [width]="'140px'" [dataType]="'number'" [filterable]='true' [cellClasses]="trends" [movable]="true" [sortable]="true">
            <ng-template igxCell let-cell="cell">
                <div class="finjs">
                    <span>{{cell.value | currency:'USD':'symbol':'1.4-4'}}</span>
                    <igx-icon *ngIf="trends.positive(cell.row.rowData)" name="trending_up">trending_up</igx-icon>
                    <igx-icon *ngIf="trends.negative(cell.row.rowData)" name="trending_down"></igx-icon>
                </div>
            </ng-template>
        </igx-column>

        <igx-column [field]="'Change'" [width]="'140px'" [dataType]="'number'" [filterable]='true' [headerClasses]="'headerAlignSyle'" [sortable]="true"
                    [cellClasses]="trendsChange" [formatter]="formatNumber" [movable]="true">
        </igx-column>

        <igx-column [field]="'Change(%)'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="percentage" [movable]="true" [sortable]="true"
                    [cellClasses]="trendsChange">
        </igx-column>

        <igx-column [field]="'Buy'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true"></igx-column>
        <igx-column [field]="'Sell'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true"></igx-column>
        <igx-column [field]="'Spread'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatNumber" [movable]="true"></igx-column>
        <igx-column [field]="'Volume'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatNumber" [movable]="true" [sortable]="true"></igx-column>
        <igx-column [field]="'High(D)'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true"></igx-column>
        <igx-column [field]="'Low(D)'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true"></igx-column>
        <igx-column [field]="'High(Y)'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true"></igx-column>
        <igx-column [field]="'Low(Y)'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true"></igx-column>
        <igx-column [field]="'Start(Y)'" [width]="'130px'" [dataType]="'number'" [filterable]='true' [formatter]="formatCurrency" [movable]="true" [sortable]="true"></igx-column>
    </igx-grid>
</div>
