@import "~igniteui-angular/lib/core/styles/themes/index";

$finjs-palette: igx-palette(#09f, #72da67, #1377d5, #4eb862, #fbb13c, #ff134a);
@include igx-core();

$exclude: (
    igx-grid
);

:host::ng-deep {
    $dark-text: #000;
    $light-text: #000;
    $disabled-text: rgba(255,255,255, .38);

    $crm-grid-palette: igx-palette(
        $primary: #09f,
        $secondary: #ffc800
    );

    $primary-100: igx-color($crm-grid-palette, "primary", 100);

    .finjs-dark-theme {
        .finjs-icons {
            display: flex;
            align-items: center;
            igx-icon {
                font-size: 16px;
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }
        }

        @include igx-theme($finjs-palette ,$exclude);

        // VAR COLORS
    
        $dark-text: #000;
        $light-text: #fff;
        $disabled-text: rgba(255,255,255, .38);
    
         $white-10:rgba(255, 255, 255, .04);
         $white-20:rgba(255, 255, 255, .08);
         $white-30:rgba(255, 255, 255, .12);
         $white-40:rgba(255, 255, 255, .26);
         $white-50:rgba(255, 255, 255, .38);
         $white-60:rgba(255, 255, 255, .54);
         $white-70:rgba(255, 255, 255, .62);
         $white-80:rgba(255, 255, 255, .74);
         $white-90:rgba(255, 255, 255, .87);
    
        // GRID DARK THEME
        $finjs-grid-theme: igx-grid-theme(
            $content-background: #000,
            $content-text-color: #fff,

            $header-background: igx-color($finjs-palette, 'grays', 800),
            $header-text-color: $white-70,
            $header-border-color: $white-40,
            $row-indentation-background: #000,

            $row-selected-background: #333,
            $row-selected-text-color: text-contrast(#333),
            $row-hover-background: #222,
            $row-hover-text-color: text-contrast(#222),
            $row-border-color: #333,
            $row-content-focus-background: rgba(106, 227, 104, .20),

            $cell-selected-background: igx-color($finjs-palette, 'primary'),
            $cell-selected-text-color: igx-color($finjs-palette, 'grays', 900),

            $group-count-background: #333,
            $group-label-icon: igx-color($finjs-palette, 'secondary', 500),
            $group-label-column-name-text: igx-color($finjs-palette, 'secondary', 500),

            $expand-icon-color: $white-60,
            $expand-icon-hover-color: igx-color($finjs-palette, 'secondary', 500),
            $expand-all-icon-color: $white-60,
            $expand-all-icon-hover-color: igx-color($finjs-palette, 'secondary', 500),

            $drop-area-text-color: #fff,
            $drop-area-icon-color: #b4b4b4,
            $drop-area-background: #333,
            $drop-area-on-drop-background: #ddd,

            $pinned-border-color: igx-color($finjs-palette, 'secondary', 300)
        );

        @include igx-grid($finjs-grid-theme);


        // INPUT GROUP
        $finjs-input-group-theme: igx-input-group-theme(
            $palette: $finjs-palette,
            $idle-text-color: $light-text,
            $filled-text-color: $light-text,
            $focused-text-color: $light-text,
            $disabled-text-color: $disabled-text,
            $variant: 'light'
        );

        @include igx-input-group($finjs-input-group-theme);
    
        // CHIPS THEME
        $finjs-chip-theme: igx-chip-theme(
            $chip-background: #333,
            $chip-hover-background: #444,
            $dir-icon-color: $white-60,
            $order-icon-color:$white-60,
            $selected-chip-background:#222,
            $chip-focus-border-color: igx-color($finjs-palette, 'secondary', 500),
            $selected-chip-focus-border-color: igx-color($finjs-palette, 'secondary', 500),
            $selected-chip-hover-border-color: igx-color($finjs-palette, 'secondary', 500),
            $remove-icon-hover-color: igx-color($finjs-palette, 'secondary', 500),
            $order-icon-hover-color: igx-color($finjs-palette, 'secondary', 500),
            $remove-icon-color: $white-50
        );
    
        @include igx-chip($finjs-chip-theme);
    
    
        // CHECKBOX
        $finjs-checkbox-theme: igx-checkbox-theme(
            $empty-color: $white-70,
            $tick-color: $dark-text
        );
    
        @include igx-checkbox($finjs-checkbox-theme);
    
    
        // TOOLBAR
        $finjs-toolbar-theme: igx-grid-toolbar-theme(
            $background-color: #222,
            $dropdown-background: #222
        );
    
        @include igx-grid-toolbar($finjs-toolbar-theme);
    
        // BUTTON GROUP
        $finjs-btn-group-theme: igx-button-group-theme(
            $item-background: #222
        );

        @include igx-button-group($finjs-btn-group-theme);

    
        // GRID FILTER
        $finjs-filtering-theme: igx-grid-filtering-theme(
            $toggle-icon-color: igx-color($finjs-palette, 'secondary', 500),
            $menu-background: #111,
            $menu-button-text-color: igx-color($finjs-palette, 'secondary', 500)
        );
    
        @include igx-grid-filtering($finjs-filtering-theme);
    
    
        // SLIDER
        $finjs-slider-theme: igx-slider-theme(
            $variant: 'light'
        );
    
        @include igx-slider($finjs-slider-theme);
    
        // SWITCH
        $finjs-switch-theme: igx-switch-theme(
            $variant: 'light'
        );
    
        @include igx-switch($finjs-switch-theme);


        // BUTTON
        .igx-button-group,
        .igx-column-hiding__buttons,
        .igx-filtering__options {
            $finjs-button-theme: igx-button-theme(
                $disabled-color: $white-50
            );

            @include igx-button($finjs-button-theme);
        }

        .finjs-slider {
            color: #fff;
        }

        .igx-filtering__expression select {
            background: #333;
            color: $light-text;
            border-color: #444;
        }

        .finjs-sample-switch {
            color: #fff;
        }

        .igx-drop-down__item {
            background: #000;
        }

        &:after {
            content: '';
            background: #111;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 0;
        }
    }

    .sliders-holder {
        display: flex;
        flex-direction: column;
    }

    .finjs-slider {
        flex: 1 0 0%;
        padding: 0 20px;

        &:first-of-type {
            padding-left: 0;
        }

        &:first-of-type {
            padding-right: 0;
        }
    }

    .igx-filtering__expression select {
        background: #333;
        color: $light-text;
        border-color: #444;
    }

    .finjssample-btn-group {
        margin: 15px 15px 15px 0;
        width: 720px;
        .igx-button-group {
            min-width: 720px;
        }
    }

    .finjs-flex-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slider-wrapper {
        display: flex;
        align-items: center;
        flex: 1 0 0%;
    }

    .finjs-sample-switch {
        display: flex;
        align-items: center;
        flex: 1 0 0%;
        justify-content: flex-end;
        margin-left: 20px;
        span {
            flex: 1 0 0%;
            align-self: flex-start;
        }
    }

    .grid__wrapper {
        padding: 30px 15px;

        // fake black background behind the grid
        &:after {
            content: '';
            position: fixed;
            display: flex;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
        }
    }
    
    .finjs-icons {
        display: flex;
        align-items: center;
        igx-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            margin-left: 4px;
        }
    }

    @keyframes fadeInOut {
        0% { opacity: 0 }
        50% { opacity: 1 }
        100% { opacity: 0}
    }

    .positive{
        color: igx-color($finjs-palette, 'success', 500) !important;
    }

    .negative {
        color: igx-color($finjs-palette, 'error', 500) !important;
    }

    .changePos,
    .changeNeg,
    .strongPositive,
    .strongNegative{
        color: igx-color($finjs-palette, 'grays', 900);
        .igx-grid__td-text {
            padding: 2px 5px;
        }
    }

    .changePos{
        .igx-grid__td-text {
            background: rgba(78,184,98, .4);
        }
    }

    .changeNeg {
        .igx-grid__td-text{
            background:  rgba(255,19,74, .4);
        }
    }

    .strongPositive {
        .igx-grid__td-text{
            background:  rgba(78,184,98, .8);
        }
    }

    .strongNegative {
        .igx-grid__td-text{
            background: rgba(255,19,74, .8);
        }
    }

    .igx-grid__td--selected.positive {
        background-color: rgba(78,184,98, .4)!important;
        .finjs-icons {
            color: #FFF;
        }
    }

    .igx-grid__td--selected.negative {
        background-color: rgba(255,19,74, .4)!important;
        .finjs-icons {
            color: #FFF;
        }
    }
}
