@import "~igniteui-angular/lib/core/styles/themes/index";

:host::ng-deep {
    .dark-theme {
        $igx-background-color: #333;
        $igx-foreground-color: text-contrast($igx-background-color);

        background: $igx-background-color;
        color: $igx-foreground-color;

        @include igx-dark-theme($green-palette);

        ::-moz-placeholder {
            opacity: 1;
        }

        .finjs-icons {
            display: flex;
            align-items: center;
            igx-icon {
                font-size: 16px;
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }
        }

        .crm-sample-toolbar__title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 12px;
            padding-left: 16px;
            color: #999;
        }

        // TOOLBAR
    $finjs-toolbar-theme: igx-grid-toolbar-theme(
        $background-color: #222,
        $dropdown-background: #222
    );
    &:after {
        content: '';
        background: #111;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }
    }

    .sliders-holder {
        display: flex;
        flex-direction: column;
    }

    .finjs-slider {
        flex: 1 0 0%;
        padding: 0 20px;

        &:first-of-type {
            padding-left: 0;
        }

        &:first-of-type {
            padding-right: 0;
        }
    }


    .finjssample-btn-group {
        margin: 15px 15px 15px 0;
        width: 720px;
        .igx-button-group {
            min-width: 720px;
        }
    }

    .finjs-flex-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slider-wrapper {
        display: flex;
        align-items: center;
        flex: 1 0 0%;
    }

    .finjs-sample-switch {
        display: flex;
        align-items: center;
        flex: 1 0 0%;
        justify-content: flex-end;
        margin-left: 20px;
        span {
            flex: 1 0 0%;
            align-self: flex-start;
        }
    }

    .grid__wrapper {
        padding: 30px 15px;

        // fake black background behind the grid
        &:after {
            content: '';
            position: fixed;
            display: flex;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
        }
    }

    .finjs-icons {
        display: flex;
        align-items: center;
        igx-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            margin-left: 4px;
        }
    }

    @keyframes fadeInOut {
        0% { opacity: 0 }
        50% { opacity: 1 }
        100% { opacity: 0}
    }

    .changePos,
    .changeNeg,
    .strongPositive,
    .strongNegative{
        color: #fff!important;
        .igx-grid__td-text {
            padding: 2px 5px;
        }
    }

    .positive{
        color: igx-color($green-palette, 'success', 500) !important;
    }

    .positive.strongPositive{
        .igx-grid__td-text {
            color: rgba(78,184,98, .8)!important;
        }
    }

    .negative {
        color: igx-color($green-palette, 'error', 500) !important;
    }

    .negative.strongNegative {
        .igx-grid__td-text{
            color:  rgba(255,19,74, .8)!important;
        }
    }


    // NORMAL

    // positive
    .changePos{
        .igx-grid__td-text {
            background: #335E3B;
        }
    }

    .changePos1{
        background: #335E3B;
        color: #fff;
    }

    .changePos2{
        .igx-grid__td-text {
            border-right:4px solid #335E3B;
            padding-right: 4px;
        }
    }

    // negative
    .changeNeg {
        .igx-grid__td-text{
            background: #7A1C32;
        }
    }

    .changeNeg1 {
        color: #fff;
        background: #7A1C32;
    }

    .changeNeg2 {
        .igx-grid__td-text{
            border-right:4px solid #7A1C32;
            padding-right: 4px;
        }
    }

    // selected
    .igx-grid__td--selected.changePos1,
    .igx-grid__td--selected.changePos2,
    .igx-grid__td--selected.changePos {
        background-color: #335E3B!important;
        .finjs-icons,
        .igx-grid__td-text{
            color: #FFF;
        }
    }

    .igx-grid__td--selected.changeNeg1,
    .igx-grid__td--selected.changeNeg2,
    .igx-grid__td--selected.changeNeg {
        background-color: #7A1C32!important;
        .finjs-icons,
        .igx-grid__td-text{
            color: #FFF;
        }
    }


    // STRONG

    // positive
    .strongPositive {
        .igx-grid__td-text{
            background: #459A55;
        }
    }

    .strongPositive1 {
        background: #459A55;
        color: #fff;

    }


    .strongPositive2 {
        .igx-grid__td-text{
            border-right:4px solid #459A55;
            padding-right: 4px;
        }
    }

    // negative
    .strongNegative {
        .igx-grid__td-text{
            background: #D31642;
            color: #fff;
        }
    }

    .strongNegative1 {
        background: #D31642;
        color: #fff;
    }

    .strongNegative2 {
        .igx-grid__td-text{
            border-right:4px solid #D31642;
            padding-right: 4px;
        }
    }

    // selected
    .igx-grid__td--selected.strongPositive1,
    .igx-grid__td--selected.strongPositive2,
    .igx-grid__td--selected.strongPositive {
        background-color: #459A55!important;
        .finjs-icons,
        .igx-grid__td-text{
            color: #FFF;
        }
    }

    .igx-grid__td--selected.strongNegative1,
    .igx-grid__td--selected.strongNegative2,
    .igx-grid__td--selected.strongNegative {
        background-color: #D31642!important;
        .finjs-icons,
        .igx-grid__td-text{
            color: #FFF;
        }
    }



    .toggle-button igx-icon.header-icon {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
        margin-right: rem(4);
    }

    .toggle-button igx-icon.pin-icon {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        margin-right: rem(4);
    }
}


