<div class="sample-wrapper">
    <section class="section">
        <article class="sample-column">
            <h5 class="sample-title">Flat, Raised, and Outlined</h5>
            <div class="buttons-sample">
                <div class="button-sample-custom">
                    <button igxButton="flat" igxRipple>Flat</button>
                </div>
                <div class="button-sample-custom">
                    <button igxButton="raised" igxRipple="white">Raised</button>
                </div>
                <div class="button-sample-custom">
                    <button igxButton="outlined">Outlined</button>
                </div>
                <div class="button-sample-custom">
                    <button igxButton="flat" [disabled]="'true'">Disabled</button>
                </div>
                <div class="button-sample-custom">
                    <button igxButton="raised" [disabled]="'true'">Disabled</button>
                </div>
                <div class="button-sample-custom">
                    <button igxButton="outlined" [disabled]="'true'">Disabled</button>
                </div>
            </div>
        </article>

        <article class="sample-column">
            <h5 class="sample-title">Floating Action Buttons</h5>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="fab" igxRipple="white">
                        <igx-icon fontSet="material">favorite</igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C">
                        <igx-icon fontSet="material">edit</igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="fab" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow">
                        <igx-icon fontSet="material">add</igx-icon>
                    </button>
                </div>
            </div>
            <h5 class="sample-title">Icon Buttons</h5>
            <div class="buttons-sample">
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true">
                        <igx-icon fontSet="material">search</igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxButtonColor="#E41C77" igxRippleCentered="true">
                        <igx-icon fontSet="material">favorite</igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxRipple igxRippleCentered="true">
                        <igx-icon fontSet="material">more_vert</igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="white" igxButtonBackground="#E41D78" igxRipple="white"
                        igxRippleCentered="true">
                        <igx-icon fontSet="material">search</igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="#FBB13C" igxButtonBackground="#340068" igxRipple="#FBB13C"
                        igxRippleCentered="true">
                        <igx-icon fontSet="material">favorite</igx-icon>
                    </button>
                </div>
                <div class="button-sample">
                    <button igxButton="icon" igxButtonColor="yellow" igxButtonBackground="black" igxRipple="yellow"
                        igxRippleCentered="true">
                        <igx-icon fontSet="material">more_vert</igx-icon>
                    </button>
                </div>
            </div>
        </article>
    </section>
</div>
