<div class="sample-wrapper">
    <section class="section">
        <article class="sample-column">
            <h5>Button</h5>
            <div class="button-sample">
                <button class="sample-button" igxButton="outlined" igxButtonColor="#217346" igxButtonBackground="white"
                    igxRipple>Click Me
                </button>
            </div>
        </article>
        <article class="sample-column">
            <h5>Icon</h5>
            <div class="button-sample">
                <button class="shadow" igxButton="icon" igxButtonColor="#217346" igxButtonBackground="white" igxRipple>
                    <igx-icon fontSet="material">search</igx-icon>
                </button>
            </div>
        </article>
        <article class="sample-column">
            <h5>Avatar</h5>
            <div class="button-sample">
                <igx-avatar class="shadow" bgColor="#72da67" color="white" igxRipple  icon="person" roundShape="true" size="small">
                </igx-avatar>
            </div>
        </article>
    </section>
</div>
