<section class="section">
    <article class="sample-column">
        <h5>Button</h5>
        <button class="sample-button" igxButton="outlined" igxRipple>
            Click Me
        </button>
    </article>
    <article class="sample-column">
        <h5>Icon</h5>
        <button igxButton="icon" igxRipple>
            <igx-icon fontSet="material">search</igx-icon>
        </button>
    </article>
    <article class="sample-column">
        <h5>Avatar</h5>
        <igx-avatar class="shadow" igxRipple icon="person" roundShape="true" size="small">
        </igx-avatar>
    </article>
</section>
