@use '../../../../variables' as *;

.section {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.sample-column {
    min-width: 270px;
}

.sample-button{
    width: 7rem;
}

h5 {
    margin-bottom: 16px;
}

$custom-ripple-theme: ripple-theme(
  $color: color($color: 'secondary', $variant: 200)
);

:host {
	@include css-vars($custom-ripple-theme);
}
