@import '~igniteui-angular/lib/core/styles/themes/index';

.section {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.sample-column {
    min-width: 270px;
}

.sample-button{
    width: 7rem;
}

h5 {
    margin-bottom: 16px;
}

$custom-ripple-theme: igx-ripple-theme(
  $color: igx-color($default-palette, 'secondary', 200)
);

// :host {
//     @include igx-css-vars($custom-ripple-theme);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-ripple($custom-ripple-theme);
}
