<div class="sample">
    <div class="options">
        <span class="legendTitle">Legend: </span>
        <div class="legendInline">
            <igx-legend #legend orientation="Horizontal">
            </igx-legend>
        </div>
    </div>
    <div class="chart">
        <igx-data-chart #chart
            [legend]=legend
            width="100%"
            height="calc(100% - 60px)"
            isHorizontalZoomEnabled="true"
            isVerticalZoomEnabled="true">
            <igx-numeric-x-axis #xAxis name="xAxis"
                isLogarithmic="true"
                abbreviateLargeNumbers="true"
                title="Population"
                minimumValue=10000
                maximumValue=1000000000 >
            </igx-numeric-x-axis>
            <igx-numeric-y-axis #yAxis name="yAxis"
                isLogarithmic="true"
                abbreviateLargeNumbers="true"
                title="Total GDP ($)" >
            </igx-numeric-y-axis>
        </igx-data-chart>
    </div>
</div>
