<div class="badge-size">
    <div class="badge-size-row badge-small">
        <span class="row-label">Small</span>
        <igx-badge dot type="error"></igx-badge>
        <igx-badge value="2" type="info"></igx-badge>
        <igx-badge icon="check" type="success"></igx-badge>
    </div>
    <div class="badge-size-row badge-medium">
        <span class="row-label">Medium</span>
        <igx-badge dot type="error"></igx-badge>
        <igx-badge value="2" type="info"></igx-badge>
        <igx-badge icon="check" type="success"></igx-badge>
    </div>
    <div class="badge-size-row badge-large">
        <span class="row-label">Large</span>
        <igx-badge dot type="error"></igx-badge>
        <igx-badge value="2" type="info"></igx-badge>
        <igx-badge icon="check" type="success"></igx-badge>
    </div>
</div>
