.grid__wrapper {
    margin: 0 auto;
    padding: 16px;
}

.photo {
    vertical-align: middle;
    max-height: 62px;
}

.cell__inner_2 {
    margin: 1px
}

.action__buttons {
    padding-top: 16px;
}

.action__buttons > button {
    margin-right: 16px;
}
