.grid__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    flex-flow: column;
    align-items: flex-start;
    position: relative;
}

::ng-deep {
    .activeRow {
        border: 2px solid #fc81b8;
        border-left: 3px solid #e41c77;
    }

    .toggle-section {
        width: 300px;
        height: 100px;
        background-color: white;
    }

}

.container {
    display: flex;

    igx-icon {
        margin: 20px;
    }
}