.wrapper {
    margin: 10px;
    height: 100%;
    overflow-y: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

.container {
    flex: 1 200px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
    border-radius: 0.75rem;
    margin: 5px 0px 20px 20px;
    word-break: break-all;
    word-wrap: break-word;

    pre {
        margin-left: 10px
    }
}

igx-query-builder {
    flex: 1 100px;
}

igx-grid {
    margin-left: 20px;
}