<div class="wrapper">
    <div class="container">
        <igx-query-builder #queryBuilder
            [entities]="entities"
            [(expressionTree)]="expressionTree"
            (expressionTreeChange)="executeQuery()"
            class="output-area">
        </igx-query-builder>
    
        <div class="output-area">
            <pre>{{sqlQuery}}</pre>
        </div>
    </div>

    <igx-grid #grid [data]="gridData" [autoGenerate]="true" height="270px" [width]="'calc(100% - 40px)'">
    </igx-grid>
</div>