:host {
  display: block;
  padding-inline: 1rem;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-block: 1rem;
  width: fit-content;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 1px solid var(--ig-gray-300);
  border-radius: .25rem;
}

igx-avatar {
    anchor-name: --avatar;
}

igx-badge {
  --size: 1rem;

  position: absolute;
  inset-block-end: anchor(--avatar bottom);
  inset-inline-end: anchor(--avatar right);
}

span {
  display: block;
  font-weight: 600;
}
