.grid__wrapper {
    margin: 0 16px;
    padding-top: 10px;
}

@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$dark-paginator: igx-paginator-theme( $text-color: #F4D45C, $background-color: #575757, $border-color: #292826);
$dark-button: igx-button-theme(
    $foreground: #FFCD0F,
    $hover-foreground: #292826,
    $hover-background: #FFCD0F,
    $focus-foreground: #292826,
    $focus-background: #FFCD0F,
    $disabled-foreground: #16130C
);

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
     ::ng-deep {
        @include igx-paginator($dark-paginator);
        .igx-paginator__pager{
            @include igx-button($dark-button);
        }
    }
}


/*ENHANCED APPROACHES*/

// $yellow-color: #F9D342;
// $black-color: #292826;
// $dark-palette: igx-palette($primary: $black-color, $secondary: $yellow-color);

/*PALETTE and IGX-COLOR*/

// $dark-paginator: igx-paginator-theme(
//     $palette: $dark-palette,
//     $text-color: igx-color($dark-palette, "secondary", 400),
//     $background-color: igx-color($dark-palette, "primary", 200),
//     $border-color:  igx-color($dark-palette, "primary", 500)
// );
// $dark-button: igx-button-theme(
//     $palette: $dark-palette,
//     $foreground: igx-color($dark-palette, "secondary", 700),
//     $hover-foreground: igx-color($dark-palette, "primary", 500),
//     $hover-background: igx-color($dark-palette, "secondary", 500),
//     $focus-foreground: igx-color($dark-palette, "primary", 500),
//     $focus-background: igx-color($dark-palette, "secondary", 500),
//     $disabled-foreground: igx-color($dark-palette, "primary", 700)
// );

/*SCHEMAS*/

// $dark-paginator-schema: extend($_dark-pagination,
//         (
//             text-color:(
//                 igx-color: ("secondary", 400)
//             ),
//             background-color:(
//                 igx-color: ("primary", 200)
//             ),
//             border-color:(
//                 igx-color:( "primary", 500)
//             )
//         )
// );
// $dark-button-schema: extend($_dark-button,
//         (
//             foreground:(
//                 igx-color:("secondary", 700)
//             ),
//             hover-foreground:(
//                 igx-color:("primary", 500)
//             ),
//             hover-background:(
//                 igx-color:("secondary", 500)
//             ),
//             focus-foreground:(
//                 igx-color:("primary", 500)
//             ),
//             focus-background:(
//                 igx-color:("secondary", 500)
//             ),
//             disabled-foreground:(
//                 igx-color:("primary", 700)
//             )
//         )
// );
// $custom-dark-schema: extend($dark-schema,(
//     igx-paginator: $dark-paginator-schema,
//     igx-button: $dark-button-schema
// ));
// $dark-paginator: igx-paginator-theme(
//   $palette: $dark-palette,
//   $schema: $custom-dark-schema
// );
// $dark-button: igx-button-theme(
//   $palette: $dark-palette,
//   $schema: $custom-dark-schema
// );
