<div class="grid__wrapper">
    <igx-tree-grid #treeGrid [data]="data"  cellSelection="single" primaryKey="ID"
        foreignKey="ParentID" height="650px" width="100%" [displayDensity]="'cosy'">
        <igx-column field="Name"></igx-column>
        <igx-column field="Age" width="15%"  [dataType]="'number'" [hasSummary]="true" ></igx-column>
        <igx-column field="Title" [hasSummary]="true" [summaries]="ptoSummary"></igx-column>
        <igx-column field="HireDate" [dataType]="'date'" [hasSummary]="true"></igx-column>
        <igx-column field="OnPTO" width="15%"  [dataType]="'boolean'" [hasSummary]="true"></igx-column>
    </igx-tree-grid>
</div>