.content-wrap {
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

main {
  height: 100%;
  overflow: auto;
  padding: 16px; }
  main h5 {
    padding: 8px 0; }

:host {
  display: block;
  height: calc(100% - 56px); }
