[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.slide-wrapper {
  max-height: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  padding: 10px; }
  .slide-wrapper img {
    width: 100%; }

.carousel-wrapper {
  max-height: 600px;
  height: 100%;
  width: 90%;
  margin: 20px auto; }

.action-wrapper {
  height: 40px;
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin-bottom: 1rem;
  margin-left: 1rem; }

.carousel-animation-wrapper {
  height: 700px;
  margin: 16px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column; }

.igx-card {
  box-shadow: none; }
