<div class='overlay-sample' #mainContainer>
    <div class='container'>
        <div class='container__row'>
            <div class='section__row--wide'>
                <div class='section__container--wide' #scrollDemo>
                    <span (click)="onClickScrollStrategy('absolute')">
                        <igx-icon>notifications</igx-icon>
                        <p>Absolute</p>
                    </span>
                    <span (click)="onClickScrollStrategy('block')">
                        <igx-icon>notifications</igx-icon>
                        <p>Block</p>
                    </span>
                    <span (click)="onClickScrollStrategy('close')">
                        <igx-icon>notifications</igx-icon>
                        <p>Close</p>
                    </span>
                    <span (click)="onClickScrollStrategy('')">
                        <igx-icon>notifications</igx-icon>
                        <p>None</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class='container' [hidden]="previewHidden">
        <overlay-dynamic-card-component></overlay-dynamic-card-component>
    </div>
</div>