<div class="sample-content">
    <section class="sample-column">
        <article class="icons-wrapper">
            <div class="icon-sample first-col">
                <igx-icon>sentiment_very_satisfied</igx-icon>
            </div>
        
            <div class="icon-sample second-col">
                <igx-icon>home</igx-icon>
            </div>
        
            <div class="icon-sample third-col">
                <igx-icon>airplanemode_active</igx-icon>
            </div>
        
            <div class="icon-sample fourth-col">
                <igx-icon>favorite</igx-icon>
            </div>
        
            <div class="icon-sample">
                <igx-icon [isActive]="false">search</igx-icon>
            </div>
        
            <div class="icon-sample first-col">
                <igx-icon>notifications</igx-icon>
            </div>
        
            <div class="icon-sample second-col">
                <igx-icon>account_balance</igx-icon>
            </div>
        
            <div class="icon-sample third-col">
                <igx-icon>phone_iphone</igx-icon>
            </div>
        
            <div class="icon-sample fourth-col">
                <igx-icon>pin_drop</igx-icon>
            </div>
            <div class="icon-sample">
                <igx-icon [isActive]="false">volume_off</igx-icon>
            </div>
        
            <div class="icon-sample first-col">
                <igx-icon>person</igx-icon>
            </div>
        
            <div class="icon-sample second-col">
                <igx-icon>wifi</igx-icon>
            </div>
        
            <div class="icon-sample third-col">
                <igx-icon>laptop_mac</igx-icon>
            </div>
        
            <div class="icon-sample fourth-col">
                <igx-icon>whatshot</igx-icon>
            </div>
        
            <div class="icon-sample">
                <igx-icon [isActive]="false">cloud</igx-icon>
            </div>
        
            <div class="icon-sample first-col">
                <igx-icon>school</igx-icon>
            </div>
        
            <div class="icon-sample second-col">
                <igx-icon>bluetooth</igx-icon>
            </div>
        
            <div class="icon-sample third-col">
                <igx-icon>headset</igx-icon>
            </div>
        
            <div class="icon-sample fourth-col">
                <igx-icon>undo</igx-icon>
                </div>   
        
            <div class="icon-sample">
                <igx-icon [isActive]="false">keyboard_voice</igx-icon>
            </div>     
        
        </article>
    </section>
</div>