igx-icon {
    cursor: pointer;
    user-select: none;
  }
  
  .igx-list {
      border: 2px solid black;
      border-radius: 5px;
      width: 400px;
  }
  
  .igx-list__item:active,
  .igx-list__item {
      padding: 0;
      min-height: auto;
      user-select: auto!important;
  }
  
  .others-message,
  .my-message {
      font-weight: 600;
      min-height: 0em;
      border-radius: 5px;
      margin: 0 0 4px 15px;
      span {
          padding: 4px 10px;
      }
  }
  
  .others-message:active,
  .others-message {
      align-self: flex-start;
      background-color: rgb(122, 155, 247);
      color: white;
  }
  
  .my-message:active,
  .my-message {
      align-self: flex-end;
      background-color: rgb(240, 240, 240);
  }
  
  .my-message {
      margin-right: 5px;
  }
  
  .message__info {
      margin-left: 10px;
      font-weight: 400;
  }
  
  .my-message__info {
      margin-top: 20px;
      font-weight: 400;
      text-align: right;
  }
  
  .contact:active {
      background: transparent;
  } 
  
  .contact {
      margin: 20px 5px 5px 5px;
  }
  
  .contact__panel {
    display: flex;
    align-items: center;
    padding: 0;
  }
  