<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid [data]="data" [paging]="true" [perPage]="10" [paginationTemplate]="pager" height="500px"
        width="100%" displayDensity="cosy">
        <igx-column header="Rank" headerClasses="myClass" field="Id" sortable="true"></igx-column>
        <igx-column field="Name" header="Athlete"></igx-column>
        <igx-column field="BeatsPerMinute" header="Beats per minute" dataType="number">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="TopSpeed" header="Top Speed" dataType="number">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val | number: '1.1-5' }}
                </div>
            </ng-template>
        </igx-column>
    </igx-grid>

    <ng-template #pager>
        <igx-paginator #paginator [(page)]="grid.page" [totalRecords]="grid.totalRecords" [(perPage)]="grid.perPage"
            [dropdownHidden]="isDropdownHidden" [pagerHidden]="isPagerHidden" [selectLabel]="'Records per page:'"
            [dropdownEnabled]="!isDropdownDisabled" [pagerEnabled]="!isPagerDisabled"
            [selectOptions]="selectOptions" [displayDensity]="grid.displayDensity">
        </igx-paginator>
    </ng-template>

    <div class="options-container">
        <label>Display density:</label>
        <div class="select-input">
            <igx-select [(ngModel)]="grid.displayDensity">
                <igx-select-item *ngFor="let density of densityOptions" [value]="density">
                    {{ density }}
                </igx-select-item>
            </igx-select>
        </div>
        <igx-switch [(ngModel)]="isDropdownHidden">Hide Dropdown</igx-switch>
        <igx-switch [(ngModel)]="isPagerHidden">Hide Pager</igx-switch>
        <igx-switch [(ngModel)]="isDropdownDisabled">Disable Dropdown</igx-switch>
        <igx-switch [(ngModel)]="isPagerDisabled">Disable Pager</igx-switch>
    </div>
</div>
