<div class="wrapper">
    <div class="combo-container">
        <igx-combo #remoteCombo class="input-container" width="500px" [itemsMaxHeight]="250" [data]="rData | async" [valueKey]="'ID'"
            [displayKey]="'ProductName'" (onDataPreLoad)="dataLoading($event)" (onSearchInput)="searchInput($event)" (onOpening)="searchInput('')"
            placeholder="Location(s)" searchPlaceholder="Search..." [filterable]="false">
        </igx-combo>
    </div>
</div>
<igx-toast #loadingToast></igx-toast>