<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <form class="input-group-form">
                <h4 class="sample-title">Book your movie ticket</h4>
                <igx-input-group>
                    <input igxInput name="fullName" type="text" [(ngModel)]="user.fullName" required="required" />
                    <label igxLabel for="fullName">Full Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <!-- <igx-input-group> -->
                    <igx-combo #combo1 name="gender" class="input-container" width="100%"
                            [data]="['Male', 'Female']" [(ngModel)]="user.gender"
                            placeholder="Gender" searchPlaceholder="Search..." required
                            (onSelectionChange)="selectGender('$event')">
                    </igx-combo>
                    <!-- <label igxLabel for="gender">Gender</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix> -->
                <!-- </igx-input-group> -->
                <igx-input-group>
                    <igx-prefix>+359</igx-prefix>
                    <label igxLabel for="phone">Phone</label>
                    <input igxInput name="phone" type="text" [(ngModel)]="user.phone" />
                    <igx-suffix>
                        <igx-icon name="phone"></igx-icon>
                    </igx-suffix>
                    <igx-hint position="start">Ex.: +359 888 123 456</igx-hint>
                </igx-input-group>
                <igx-input-group>
                    <label igxLabel for="email">Email address</label>
                    <input igxInput name="email" type="email" [(ngModel)]="user.email" required />
                    <igx-suffix>
                        <igx-icon name="email"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <div class="igx-datePicker">
                    <igx-datePicker name="date" (onSelection)="onDateSelection($event)" ></igx-datePicker>
                </div>
                <div class="igx-time-picker">
                    <igx-time-picker name="dateTime" (onValueChanged)="onTimeSelection($event)" ></igx-time-picker>
                </div>
                <div class="button-wrapper">
                    <button igxButton="raised" igxRipple>Book</button>
                </div>
            </form>
        </article>
    </section>
</div>
