[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.content-wrap {
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

main {
  height: 100%;
  overflow: auto;
  padding: 16px; }
  main h5 {
    padding: 8px 0; }

:host {
  display: block;
  height: 100%;
  /* Using Theme Overrides to provide IE 11 support.
     * NOTE: Theming using this approach will greatly increase the size
     * of the output CSS. If you do not plan to target IE 11,
     * delete this section and use the `igx-css-vars` mixin as shown above.
    **/ }
  :host ::ng-deep {
    --igx-navdrawer-border-radius: 0px;
    --igx-navdrawer-item-border-radius: 4px;
    --igx-navdrawer-elevation: 16;
    --igx-navdrawer-background: #2d313a;
    --igx-navdrawer-border-color: rgba(0, 0, 0, 0.14);
    --igx-navdrawer-item-header-text-color: #f3c03e;
    --igx-navdrawer-item-text-color: white;
    --igx-navdrawer-item-icon-color: white;
    --igx-navdrawer-item-active-text-color: black;
    --igx-navdrawer-item-active-background: #ecc256;
    --igx-navdrawer-item-hover-background: rgba(255, 255, 255, 0.08);
    --igx-navdrawer-item-hover-text-color: white;
    --igx-navdrawer-item-active-icon-color: black;
    --igx-navdrawer-item-hover-icon-color: rgba(0, 0, 0, 0.87);
    --igx-navdrawer-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.26), 0 16px 24px 2px rgba(0, 0, 0, 0.12), 0 6px 30px 5px rgba(0, 0, 0, 0.08); }
  :host ::ng-deep .igx-nav-drawer {
    transition: flex-basis;
    transition: flex-basis, -ms-flex-preferred-size;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  :host ::ng-deep .igx-nav-drawer__aside {
    position: fixed;
    height: 100%;
    max-width: 90%;
    min-height: 100%;
    overflow-x: hidden;
    background: var(--igx-navdrawer-background);
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: width, transform;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: var(--igx-navdrawer-shadow);
    border-right: 1px solid var(--igx-navdrawer-border-color);
    border-radius: var(--igx-navdrawer-border-radius); }
  :host ::ng-deep .igx-nav-drawer__aside.panning {
    overflow-x: hidden;
    transition: none; }
  :host ::ng-deep .igx-nav-drawer__aside--pinned {
    position: relative;
    max-width: 100%;
    box-shadow: none;
    z-index: 0; }
  :host ::ng-deep .igx-nav-drawer__aside--collapsed.igx-nav-drawer__aside--right {
    transform: translate3d(300px, 0, 0);
    box-shadow: none; }
  :host ::ng-deep .igx-nav-drawer__aside--pinned.igx-nav-drawer__aside--collapsed {
    -ms-transform: none;
        transform: none;
    width: 0;
    overflow: hidden;
    border: none; }
  :host ::ng-deep .igx-nav-drawer__aside--collapsed {
    transform: translate3d(-300px, 0, 0);
    box-shadow: none; }
  :host ::ng-deep .igx-nav-drawer__aside--right {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid var(--igx-navdrawer-border-color); }
  :host ::ng-deep .igx-nav-drawer__aside--mini {
    width: 3.75rem;
    transition-duration: .2s, .2s; }
    :host ::ng-deep .igx-nav-drawer__aside--mini .igx-nav-drawer__item, :host ::ng-deep .igx-nav-drawer__aside--mini .igx-nav-drawer__item--active {
      -ms-flex-pack: center;
          justify-content: center; }
  :host ::ng-deep .igx-nav-drawer__aside--normal {
    width: 15.125rem;
    transition-duration: .3s, .3s; }
  :host ::ng-deep .igx-nav-drawer__overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.38);
    transition: opacity, visibility;
    transition-duration: .25s, .25s;
    transition-timing-function: ease-in, step-start;
    transition-delay: 0s, 0s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 999; }
  :host ::ng-deep .igx-nav-drawer__overlay.panning {
    transform: translate3d(0, 0, 0);
    transition: none; }
  :host ::ng-deep .igx-nav-drawer__overlay--hidden {
    transition-timing-function: ease-in-out, step-end;
    visibility: hidden;
    opacity: 0; }
  :host ::ng-deep .igx-nav-drawer__overlay.panning.igx-nav-drawer__overlay--hidden {
    /* must be visible during pan.. */
    visibility: visible; }
  :host ::ng-deep .igx-nav-drawer__item, :host ::ng-deep .igx-nav-drawer__item--active {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    color: var(--igx-navdrawer-item-text-color);
    max-height: 3rem;
    min-width: 2rem;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: transparent;
    white-space: nowrap;
    border-radius: var(--igx-navdrawer-item-border-radius);
    margin: 0.5rem;
    text-decoration: none;
    width: calc(100% - 1rem);
    border: none;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    :host ::ng-deep .igx-nav-drawer__item > igx-icon + span, :host ::ng-deep .igx-nav-drawer__item--active > igx-icon + span {
      margin-left: 2rem; }
    :host ::ng-deep .igx-nav-drawer__item igx-icon, :host ::ng-deep .igx-nav-drawer__item--active igx-icon {
      color: var(--igx-navdrawer-item-icon-color); }
    :host ::ng-deep .igx-nav-drawer__item[igxButton], :host ::ng-deep .igx-nav-drawer__item--active[igxButton] {
      background: transparent;
      border: none;
      box-shadow: none; }
      :host ::ng-deep .igx-nav-drawer__item[igxButton] igx-icon, :host ::ng-deep .igx-nav-drawer__item--active[igxButton] igx-icon {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        margin: 0; }
      :host ::ng-deep .igx-nav-drawer__item[igxButton]:hover, :host ::ng-deep .igx-nav-drawer__item--active[igxButton]:hover, :host ::ng-deep .igx-nav-drawer__item[igxButton]:focus, :host ::ng-deep .igx-nav-drawer__item--active[igxButton]:focus {
        box-shadow: none;
        border: none; }
    :host ::ng-deep .igx-button--fab.igx-nav-drawer__item, :host ::ng-deep .igx-button--fab.igx-nav-drawer__item--active {
      min-height: auto; }
    :host ::ng-deep .igx-button--icon.igx-nav-drawer__item, :host ::ng-deep .igx-button--icon.igx-nav-drawer__item--active {
      height: auto;
      transition: none; }
    :host ::ng-deep .igx-nav-drawer__item:hover, :host ::ng-deep .igx-nav-drawer__item--active:hover, :host ::ng-deep .igx-nav-drawer__item:focus, :host ::ng-deep .igx-nav-drawer__item--active:focus {
      background: var(--igx-navdrawer-item-hover-background);
      color: var(--igx-navdrawer-item-hover-text-color);
      box-shadow: none; }
      :host ::ng-deep .igx-nav-drawer__item:hover igx-icon, :host ::ng-deep .igx-nav-drawer__item--active:hover igx-icon, :host ::ng-deep .igx-nav-drawer__item:focus igx-icon, :host ::ng-deep .igx-nav-drawer__item--active:focus igx-icon {
        color: var(--igx-navdrawer-item-hover-icon-color); }
  :host ::ng-deep .igx-nav-drawer__item--active {
    color: var(--igx-navdrawer-item-active-text-color);
    background: var(--igx-navdrawer-item-active-background); }
    :host ::ng-deep .igx-nav-drawer__item--active igx-icon {
      color: var(--igx-navdrawer-item-active-icon-color); }
    :host ::ng-deep .igx-nav-drawer__item--active[igxButton] {
      box-shadow: none; }
      :host ::ng-deep .igx-nav-drawer__item--active[igxButton] igx-icon {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        margin: 0; }
      :host ::ng-deep .igx-nav-drawer__item--active[igxButton]:hover, :host ::ng-deep .igx-nav-drawer__item--active[igxButton]:focus {
        box-shadow: none;
        border: none; }
    :host ::ng-deep .igx-nav-drawer__item--active:focus, :host ::ng-deep .igx-nav-drawer__item--active:hover {
      color: var(--igx-navdrawer-item-active-text-color);
      background: var(--igx-navdrawer-item-active-background); }
      :host ::ng-deep .igx-nav-drawer__item--active:focus igx-icon, :host ::ng-deep .igx-nav-drawer__item--active:hover igx-icon {
        color: var(--igx-navdrawer-item-active-icon-color); }
  :host ::ng-deep .igx-nav-drawer__item--header {
    display: block;
    padding: 0.75rem 1rem;
    white-space: nowrap;
    color: var(--igx-navdrawer-item-header-text-color); }
  :host ::ng-deep .igx-nav-drawer__style-dummy {
    height: 0;
    background: none;
    box-shadow: none;
    transition: none;
    visibility: hidden; }
