
<igx-combo #combo class="combo" [data]="lData" [displayKey]="'field'" [valueKey]="'field'"
    placeholder="Location(s)" searchPlaceholder="Search..." [allowCustomValues]="customValues" (onAddition)="handleAddition($event)"
    [filterable]="filterable" [itemsMaxHeight]="255" [disabled]="disabled">
</igx-combo>

<igx-switch [(ngModel)]="filterable">Enable Filtering</igx-switch><br />
<igx-switch [(ngModel)]="customValues">Allow Custom Values</igx-switch><br />
<igx-switch (change)="enableGroups($event)">Enable Grouping</igx-switch><br />
<igx-switch [(ngModel)]="disabled">Disabled</igx-switch>
