.wrapper {
  margin: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }

.centered {
  text-align: center; }

.left {
  width: 50%; }

.right {
  width: 50%;
  padding-left: 10px; }
