@use '../../../../variables' as *;

$color-1: #99BFAA;
$color-2: #5C868D;
$color-3: #5C3D46;

$colorful-elevations: igx-elevations($color-1, $color-2, $color-3);

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: igx-elevation(
        $elevations: $colorful-elevations,
        $elevation: 24
    );
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
