.grid__wrapper {
  margin: 0 16px; }

.dialogNewRecord {
  margin: 10px;
  padding: 10px; }
  .dialogNewRecord #discontinued {
    margin-top: 15px; }

:host ::ng-deep .igx-grid {
  margin-top: 10px; }

:host ::ng-deep .igx-checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 8px;
  padding-bottom: 5px; }

:host ::ng-deep .reorderLevelInput {
  color: black;
  width: 100%; }

@media screen and (max-width: 934px) {
  :host ::ng-deep .igx-grid {
    overflow-x: none; } }

.default-theme .addProdBtn.igx-button--raised {
  background-color: lightgrey;
  color: black; }
  .default-theme .addProdBtn.igx-button--raised:hover {
    background-color: rgba(0, 0, 0, 0.26); }
