.sample-holder {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

.my-expansion-panel {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    border: 1px solid rgba(171, 171, 171, 0.3)
}

.example-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    border-top: 1px solid rgba(171, 171, 171, 0.3);
    span {
        display: block;
        margin-bottom: 16px;
    }
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    margin-bottom: 8px;
}
