<div class="sample-wrapper">
  <section class="sample-content">
    <article class="sample-column">
      <igx-input-group type="search">
          <input igxInput placeholder="Search Contacts" [(ngModel)]="search1" />
          <label igxLabel>
              <igx-icon>search</igx-icon>
          </label>
          <igx-suffix>
              <igx-icon>clear</igx-icon>
          </igx-suffix>
      </igx-input-group>
      <div class="list-sample">
          <igx-list allowLeftPanning="true" allowRightPanning="true">
              <igx-list-item [isHeader]="true">Contacts</igx-list-item>
              <igx-list-item options="true" igxRipple="pink" igxRippleTarget=".igx-list__item" *ngFor="let item of navItems | igxFilter: fo1">
                  <div class="item">
                      <igx-avatar [src]="item.avatar" roundShape="true"></igx-avatar>
                      <span>{{item.text}}</span>
                      <igx-icon name="star" [class.favorite]="item.favorite"></igx-icon>
                  </div>
              </igx-list-item>
          </igx-list>
      </div>
  </article>
  </section>
</div>
