<igx-input-group type="search" class="search">
    <igx-prefix>
        <igx-icon>search</igx-icon>
    </igx-prefix>
    <input #search igxInput placeholder="Search Contacts" [(ngModel)]="search1" />
    <igx-suffix *ngIf="search.value.length > 0" (click)="search1 = null">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
</igx-input-group>

<div class="list-sample">
    <igx-list>
        <igx-list-item [isHeader]="true">Contacts</igx-list-item>
        <igx-list-item *ngFor="let contact of contacts | igxFilter: fo1"
            igxRipple="pink"
            igxRippleTarget=".igx-list__item">
            <div class="item">
                <div class="item__detail">
                    <igx-avatar [src]="contact.avatar" roundShape="true"></igx-avatar>
                    <div class="item__detail-info">
                        <span class="item__detail-name">{{contact.name}}</span>
                        <span class="item__detail-phone">{{contact.phone}}</span>
                    </div>
                </div>
                <igx-icon [class.favorite]="contact.favorite">start</igx-icon>
            </div>
        </igx-list-item>
    </igx-list>
</div>
