<nav aria-label="Breadcrumb">
    <igc-breadcrumbs>
        <span>Idle</span>
        <igc-breadcrumb>
            <igc-icon slot="prefix" name="home"></igc-icon>
            <a href="/home" (click)="$event.preventDefault()">Home</a>
            <igc-icon slot="suffix" name="home"></igc-icon>
        </igc-breadcrumb>
    </igc-breadcrumbs>
    <igc-breadcrumbs>
        <span>Hover</span>
        <igc-breadcrumb class="state-hover">
            <igc-icon slot="prefix" name="home"></igc-icon>
            <a href="/home" (click)="$event.preventDefault()">Home</a>
            <igc-icon slot="suffix" name="home"></igc-icon>
        </igc-breadcrumb>
    </igc-breadcrumbs>
    <igc-breadcrumbs>
        <span>Focused</span>
        <igc-breadcrumb class="state-focused">
            <igc-icon slot="prefix" name="home"></igc-icon>
            <a href="/home" (click)="$event.preventDefault()">Home</a>
            <igc-icon slot="suffix" name="home"></igc-icon>
        </igc-breadcrumb>
    </igc-breadcrumbs>
    <igc-breadcrumbs>
        <span>Pressed</span>
        <igc-breadcrumb class="state-pressed">
            <igc-icon slot="prefix" name="home"></igc-icon>
            <a href="/home" (click)="$event.preventDefault()">Home</a>
            <igc-icon slot="suffix" name="home"></igc-icon>
        </igc-breadcrumb>
    </igc-breadcrumbs>
    <igc-breadcrumbs>
        <span>Focused &amp; Hover</span>
        <igc-breadcrumb class="state-focused-hover">
            <igc-icon slot="prefix" name="home"></igc-icon>
            <a href="/home" (click)="$event.preventDefault()">Home</a>
            <igc-icon slot="suffix" name="home"></igc-icon>
        </igc-breadcrumb>
    </igc-breadcrumbs>
    <igc-breadcrumbs>
        <span>Focused &amp; Pressed</span>
        <igc-breadcrumb class="state-focused-pressed">
            <igc-icon slot="prefix" name="home"></igc-icon>
            <a href="/home" (click)="$event.preventDefault()">Home</a>
            <igc-icon slot="suffix" name="home"></igc-icon>
        </igc-breadcrumb>
    </igc-breadcrumbs>
    <igc-breadcrumbs>
        <span>Disabled</span>
        <igc-breadcrumb class="state-disabled">
            <igc-icon slot="prefix" name="home"></igc-icon>
            <a href="/home" (click)="$event.preventDefault()">Home</a>
            <igc-icon slot="suffix" name="home"></igc-icon>
        </igc-breadcrumb>
    </igc-breadcrumbs>
</nav>
