.top-row, .grid__wrapper {
    padding: 16px;
    padding-bottom: 0;
}

.valid-image,
.invalid-image {
    margin-left: -10px;

    img {
        max-width: none;
    }
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px 0;
}
