<div class="list-sample">
    <igx-list>
        <igx-list-item [isHeader]="true">Contacts</igx-list-item>

        <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item-content" *ngFor="let item of navItems">
                <igx-avatar igxListThumbnail [src]="item.avatar" roundShape="true"></igx-avatar>
                <span igxListLineTitle class="name">{{item.text}}</span>
                <span igxListAction igxButton="icon" igxRipple igxRippleCentered="true" (click)="delete(item)">
                    <igx-icon color="#ff5252">delete</igx-icon>
                </span>
        </igx-list-item>

        <igx-snackbar actionText="Undo" (onAction)="restore()">Contact deleted</igx-snackbar>
    </igx-list>
</div>
