.sampleRoot {
    // display: flex;
    // flex-flow: row;
    height: 100%;
    width: 100%;
    min-height: 300px;
    min-width: 600px;
    background: green;
    // width: calc(100% - 25px);
}

.my-legend  .legend-title {
  display: inline-block;
  margin-left: 15%;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin-left: 10%;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 6px;
  margin-right: 100px;
  text-align: center;
  font-size: 85%;
  list-style: none;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
  padding: 20px;
  font-weight: bold;
}
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}
.my-legend a {
  color: #777;
}
