[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-center {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

:host ::ng-deep {
  --igx-circular-bar-track-border-radius: 0;
  --igx-circular-bar-variant: material;
  --igx-circular-bar-base-circle-color: lightgray;
  --igx-circular-bar-progress-circle-color: #09f;
  --igx-circular-bar-text-color: rgba(0, 0, 0, 0.62);
  --igx-circular-bar-progress-circle-color-start: #20c011;
  --igx-circular-bar-progress-circle-color-end: #20c011; }

:host ::ng-deep .igx-circular-bar {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  width: 2rem;
  height: 2rem; }
  :host ::ng-deep .igx-circular-bar svg {
    width: 100%;
    height: 100%;
    min-width: inherit;
    min-height: inherit; }

:host ::ng-deep .igx-circular-bar--indeterminate {
  -webkit-animation: rotate-center 3s linear normal infinite;
          animation: rotate-center 3s linear normal infinite;
  -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }

:host ::ng-deep .igx-circular-bar__inner {
  stroke-width: 0.25rem;
  fill: transparent;
  stroke: var(--igx-circular-bar-base-circle-color); }

:host ::ng-deep .igx-circular-bar__outer {
  fill: transparent;
  stroke-width: 0.25rem;
  stroke-dashoffset: 289;
  stroke-dasharray: 289;
  -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

:host ::ng-deep .igx-circular-bar--indeterminate .igx-circular-bar__outer, .igx-circular-bar--indeterminate :host ::ng-deep .igx-circular-bar__outer {
  stroke-dasharray: 289;
  -webkit-animation: indeterminate-accordion 1.5s cubic-bezier(0, 0.085, 0.68, 0.53) normal infinite;
          animation: indeterminate-accordion 1.5s cubic-bezier(0, 0.085, 0.68, 0.53) normal infinite; }

:host ::ng-deep .igx-circular-bar__text {
  font-size: 2rem;
  font-weight: 600;
  fill: var(--igx-circular-bar-text-color); }

:host ::ng-deep .igx-circular-bar--indeterminate .igx-circular-bar__text, .igx-circular-bar--indeterminate :host ::ng-deep .igx-circular-bar__text {
  visibility: hidden; }

:host ::ng-deep .igx-circular-bar__gradient-start {
  stop-color: var(--igx-circular-bar-progress-circle-color-start); }

:host ::ng-deep .igx-circular-bar__gradient-end {
  stop-color: var(--igx-circular-bar-progress-circle-color-end); }

@-webkit-keyframes indeterminate-accordion {
  from {
    stroke-dashoffset: 578;
    stroke-dasharray: 259; }
  to {
    stroke-dashoffset: 120; } }

@keyframes indeterminate-accordion {
  from {
    stroke-dashoffset: 578;
    stroke-dasharray: 259; }
  to {
    stroke-dashoffset: 120; } }
