@use '../../variables' as *;
@import url('https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fontawesome.css');
@import url('https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-regular.css');
@import url('https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-solid.css');

:host ::ng-deep {
	$light-palette: palette(
        $primary: #09f,
        $secondary: #ffbf00,
        $surface: #fff
    );

	@include palette($light-palette);

	$checkbox-theme: checkbox-theme(
        $fill-color: color($color: 'secondary', $variant: 500),
        $tick-color: contrast-color($color: 'secondary', $variant: 500)
    );

	$summary-theme: grid-summary-theme(
        $background-color: #f0f8fe,
        $result-color: color($color: 'primary', $variant: 500)
    );

	$crm-grid-theme: grid-theme(
        $header-background: #f0f8fe,
        $header-border-color: #dde5eb
    );

	$crm-grid-toolbar: grid-toolbar-theme(
        $background-color: color($color: 'primary', $variant: 500),
        $title-text-color: contrast-color($color: 'primary', $variant: 500)
    );

	$crm-grid-toolbar-button: button-theme(
        $background: color($light-palette, 'primary', 800),
        $hover-background: color($light-palette, 'primary', 900),
        $active-foreground: contrast-color($light-palette, 'primary', 900),
        $focus-foreground: contrast-color($light-palette, 'primary', 900)
    );

	$crm-grid-search-button: button-theme(
        $background: transparent,
        $focus-background: color($light-palette, 'gray', 200),
        $hover-background: color($light-palette, 'gray', 200)
    );

	$crm-input-drop-down: input-group-theme(
        $placeholder-color: color($light-palette, 'gray', 500),
        $idle-text-color: color($light-palette, 'gray', 900)
    );

	.grid__wrapper {
		width: inherit;
		position: relative;
		height: 100%;
		background: transparent;
        padding: 1rem;
	}

	.avatar-cell {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	// grid caption styling
	.crm-toolbar-template {
		justify-content: space-between;
		display: flex;
		flex: 1 0 0%;
		align-items: center;
		padding-right: rem(24px);
		border-radius: 2px;

		& span {
			margin-right: auto;
		}

		.igx-button--flat {
			flex-wrap: nowrap;
			white-space: nowrap;
		}

		.igx-button--icon {
			border-radius: 0;
		}

		.logo-propeller {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 10px;
		}
	}

	.sample-flex-container {
		display: flex;
		align-self: center;
		justify-content: flex-end;
		max-width: 500px;
		width: 70%
	}

	@include css-vars($crm-grid-toolbar);

	.igx-grid-toolbar__actions {
		.igx-button--outlined {
			border: none;
		}
	}

	.igx-grid-toolbar__title {
		max-width: 68ch;
	}

	.igx-grid-toolbar__button-space {
		.igx-icon {
			font-size: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.igx-grid-toolbar__custom-content {
		flex: 1 0 0%;
	}

	.igx-grid-toolbar__actions {
		.igx-button--outlined {
			margin-left: 0.5rem;
		}
	}

	.igx-grid-toolbar__actions {
		.igx-button--outlined {
			border: none;
		}
	}

	.igx-grid-toolbar__actions {
		@include css-vars($crm-grid-toolbar-button);
	}

	.crm-sample-toolbar__title {
		margin-right: rem(16px);
		display: flex;
		align-items: center;
		justify-self: flex-start;
		width: 30%;
	}

	.crm-sample-toolbar__ellipsis {
		@include ellipsis();
		opacity: 0;
		animation: slide-fade 1.25s .25s ease-out forwards;
	}

	.igx-input-group--search {
		width: 100%;
	}

	.igx-input-group--search .igx-input-group__bundle {
		height: rem(36px);
		width: 100%;
		overflow: hidden;

		.igx-input-group__bundle-main {
			padding-top: 0.6rem;
			height: 36px;
		}
	}

	.sample-flex-container {
		.igx-input-group,
		.igx-input-group--focused {
			font-size: 13px;
			overflow: hidden;

			igx-icon {
				font-size: 1rem;
				width: 1rem;
				height: 1rem;
			}
		}

		.igx-input-group__input {
			&::placeholder {
				opacity: 1;
			}
		}
	}

	.caseSensitiveButton {
		margin-left: 8px;
	}

	.igx-input-group--search .igx-input-group__bundle .igx-button--icon {
		border-radius: 0;
	}

	.caseSensitiveIcon {
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
	}

	.searchButtons {
		margin-left: 4px;
	}

	.case-sensitive--active {
		background: color($color: 'primary', $variant: 200);
	}

	.igx-grid__th-resize-line {
		background: color($color: 'secondary', $variant: 500);
	}

	.igx-input-group--search .igx-input-group__bundle,
	.igx-input-group--search .igx-input-group__bundle:hover {
		box-shadow: none;
	}


    @include css-vars($crm-input-drop-down);


	.sample-flex-container {
		.igx-input-group,
		.igx-input-group--focused {
			.igx-input-group__bundle {
				transition: all 250ms ease-in-out;
			}

			igx-icon {
				color: color($color: 'primary', $variant: 200);
			}
		}

		.igx-input-group__textarea,
		.igx-input-group__input {
			color: color($color: 'primary', $variant: 100);
		}

		.igx-input-group {
			igx-icon {
				color: contrast-color($color: 'gray', $variant: 900);
			}

			&:hover,
			&:focus,
			&.igx-input-group--focused {
				igx-icon {
					color: color($color: 'gray', $variant: 600);
				}

				.igx-input-group__bundle {
					background: contrast-color($color: 'gray', $variant: 900);
					color: color($color: 'gray', $variant: 600);
				}

				.igx-input-group__input {
					&::placeholder {
						color: color($color: 'gray', $variant: 600);
						opacity: 1;
					}
				}

				.igx-input-group__textarea,
				.igx-input-group__input {
					color: color($color: 'gray', $variant: 600);
				}

				.igx-button--icon {
					&:focus,
					&:active {
						color: color($color: 'gray', $variant: 600);
					}
				}
			}
		}

		.igx-button--icon {
			&:focus,
			&:active {
				color: color($color: 'primary', $variant: 100);
				background: transparent;
			}
		}

		.igx-input-group__input {
			&::placeholder {
				color: contrast-color($color: 'gray', $variant: 900);
				opacity: 1;
			}
		}
	}

	.igx-input-group--search .igx-input-group__bundle {
		background-color: color($color: 'primary', $variant: 800);

		@include css-vars($crm-grid-search-button);
	}

	.grid__wrapper:not(.dark_grid) {
		@include css-vars($crm-grid-theme);
		@include css-vars($summary-theme);
		@include css-vars($checkbox-theme);
	}


    // DARK THEME
    $dark-palette: palette(
        $primary: #09f,
        $secondary: #fff,
        $surface: #222,
    );

    $checkbox-dark-theme: checkbox-theme(
        $fill-color: color($color: 'gray', $variant: 900),
        $tick-color: contrast-color($color: 'gray', $variant: 900)
    );

    $crm-dark-grid-theme: grid-theme(
        $row-selected-background: color($color: 'gray', $variant: 100),
        $row-selected-text-color: contrast-color($color: 'gray', $variant: 100),
        $row-hover-background: color($color: 'gray', $variant: 200),
        $row-hover-text-color: contrast-color($color: 'gray', $variant: 200),
        $row-selected-hover-background: color($color: 'gray', $variant: 200),
        $row-selected-hover-text-color: contrast-color($color: 'gray', $variant: 200),
        $cell-selected-background: color($color: 'gray', $variant: 900),
        $cell-selected-text-color: contrast-color($color: 'gray', $variant: 900),
        $cell-active-border-color: color($color: 'gray', $variant: 900),
    );

    $crm-grid-dark-button: button-theme(
        $foreground: color($color: 'primary', $variant: 500),
        $hover-foreground: color($color: 'primary', $variant: 500),
        $focus-foreground: color($color: 'primary', $variant: 500),
    );

    $crm-grid-dark-progress: progress-linear-theme(
        $track-color: color($color: 'gray', $variant: 500)
    );

	.dark_grid {
        @include palette($dark-palette);
		@include css-vars($checkbox-dark-theme);
		@include css-vars($crm-dark-grid-theme);
		@include css-vars($crm-grid-dark-button);
		@include css-vars($crm-grid-dark-progress);

		.igx-grid-toolbar__actions {
			@include css-vars($crm-grid-toolbar-button);
		}

        .sample-flex-container {
            .igx-input-group,
            .igx-input-group--focused {
                igx-icon {
                    color: color($color: 'primary', $variant: 200);
                }
            }

            .igx-input-group__textarea,
            .igx-input-group__input {
                color: color($color: 'primary', $variant: 100);
            }

            .igx-input-group {
                igx-icon {
                    color: contrast-color($color: 'gray', $variant: 50);
                }

                &:hover,
                &:focus,
                &.igx-input-group--focused {
                    igx-icon {
                        color: color($color: 'gray', $variant: 400);
                    }

                    .igx-input-group__bundle {
                        background: contrast-color($color: 'gray', $variant: 50);
                        color: color($color: 'gray', $variant: 400);
                    }

                    .igx-input-group__input {
                        &::placeholder {
                            color: color($color: 'gray', $variant: 400);
                        }
                    }

                    .igx-input-group__textarea,
                    .igx-input-group__input {
                        color: color($color: 'gray', $variant: 400);
                    }

                    .igx-button--icon {
                        &:focus,
                        &:active {
                            color: color($color: 'gray', $variant: 400);
                        }
                    }
                }
            }

            .igx-input-group__input {
                &::placeholder {
                    color: contrast-color($color: 'gray', $variant: 50);
                }
            }
        }
    }
}

.animated-fan {
	animation: spin-fade 1.5s cubic-bezier(0.21, 1.07, 0.99, 1) forwards;
}

@keyframes spin-fade {
	0% {
		opacity: 0;
		transform: rotate(0);
	}
	100% {
		opacity: 1;
		transform: rotate(270deg);
	}
}

@keyframes slide-fade {
	0% {
		transform: translateX(-5%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
