.addProdBtn.igx-button--raised{
    margin-bottom: 5px;
}  
  .dialogNewRecord {
    margin: 10px;
    padding: 10px;
  }
  
  .igx-input-group {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .grid-options {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    [igxButton] + [igxButton] {
        margin-left: 8px;
   }
    .drop-down-button {
        width: 92.6719px;
    }
  }

  .snackbar_wrapper{
    position:absolute;
     justify-content:center;
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform:translateX(-50%);
 }