<igx-card class="media-card">
    <igx-card-media height="6.5rem">
        <img
            src="https://dl.infragistics.com/x/img/card/card-2.png"
            alt="A meeting room with a long table and chairs" />
    </igx-card-media>
    <igx-card-header>
        <span igxCardHeaderTitle>Book your meeting room</span>
        <span igxCardHeaderSubtitle>Max 15 seats / 10 m2</span>
    </igx-card-header>
    <igx-card-actions>
        <div igxStart class="media-card__icons">
            <igx-icon>videocam</igx-icon>
            <igx-icon>bluetooth</igx-icon>
            <igx-icon>volume_off</igx-icon>
        </div>
        <button igxButton="flat" igxEnd class="media-card__action">Book now</button>
    </igx-card-actions>
</igx-card>

<igx-card class="media-card">
    <igx-card-media height="6.5rem">
        <img
            src="https://dl.infragistics.com/x/img/card/card-map-1.png"
            alt="A street map with the event space marked" />
    </igx-card-media>
    <igx-card-header>
        <span igxCardHeaderTitle>Main Event Space</span>
        <span igxCardHeaderSubtitle>Floor 4, Suite 402</span>
    </igx-card-header>
    <igx-card-actions>
        <div igxStart class="media-card__icons">
            <igx-icon>directions_bus</igx-icon>
            <igx-icon>directions_car</igx-icon>
            <igx-icon>flight</igx-icon>
        </div>
        <button igxButton="flat" igxEnd class="media-card__action">Get directions</button>
    </igx-card-actions>
</igx-card>

<igx-card class="media-card">
    <igx-card-media height="6.5rem">
        <img
            src="https://dl.infragistics.com/x/img/card/card-map-2.png"
            alt="A map of Europe showing the sales region" />
    </igx-card-media>
    <igx-card-header>
        <span igxCardHeaderTitle>View your coverage area</span>
        <span igxCardHeaderSubtitle>Sales region</span>
    </igx-card-header>
    <igx-card-actions>
        <div igxStart class="media-card__icons">
            <igx-icon>place</igx-icon>
            <igx-icon name="pin-right" family="material"></igx-icon>
        </div>
        <button igxButton="flat" igxEnd class="media-card__action">See details</button>
    </igx-card-actions>
</igx-card>
