<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treegrid1 [data]="data" [autoGenerate]="false" height="500px" width="100%" primaryKey="ID"
        foreignKey="ParentID">
        <igx-column field="ID" header="Product ID" [sortable]="true">
        </igx-column>
        <igx-column field="Name" header="Product Name" [dataType]="'string'" [sortable]="true">
        </igx-column>
        <igx-column field="UnitPrice" header="Unit Price" dataType="number" [sortable]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <span *ngIf="cell.row.rowData.UnitPrice == 0">-</span>
                <span *ngIf="cell.row.rowData.UnitPrice != 0">${{val}}</span>
            </ng-template>
        </igx-column>
        <igx-column field="AddedDate" header="Added Date" [dataType]="'date'" [formatter]="formatDate"
            [sortable]="true">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'" [sortable]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <span *ngIf="cell.row.rowData.UnitPrice == 0">-</span>
                <img *ngIf="cell.row.rowData.UnitPrice != 0 && val" src="https://www.infragistics.com/angular-demos/assets/images/grid/active.png"
                    title="Continued" alt="Continued" />
                <img *ngIf="cell.row.rowData.UnitPrice != 0 && !val" src="https://www.infragistics.com/angular-demos/assets/images/grid/expired.png"
                    title="Discontinued" alt="Discontinued" />
            </ng-template>
        </igx-column>
    </igx-tree-grid>
</div>