<div class="wrapper centered">
    <h5>Perform range selection on the Tree Grid to transfer data to the Grid</h5>
</div>
<div class="wrapper">
    <div class="left">
        <igx-tree-grid igxPreventDocumentScroll  #source width="100%" (onRangeSelection)="transferData(source, target, notification)" (onColumnInit)="initColumn($event)"
            (onSortingDone)="transferExpressions(source, target, 'sort')"
            [data]="sourceData" height="600px"
            [autoGenerate]="false" primaryKey="ID" foreignKey="ParentID">
            <igx-column field="ID" header="Product ID" [dataType]="'string'">
            </igx-column>
            <igx-column field="Name" header="Product Name" [dataType]="'string'">
            </igx-column>
            <igx-column field="UnitPrice" header="Unit Price" dataType="number">
                <ng-template igxCell let-cell="cell" let-val let-row>
                    {{+val | currency}}
                </ng-template>
            </igx-column>
            <igx-column field="AddedDate" header="Added Date" [dataType]="'date'">
            </igx-column>
        </igx-tree-grid>
    </div>
    <div class="right">
        <igx-grid igxPreventDocumentScroll #target width="100%" [data]="targetData" height="600px" autoGenerate="true"
            (onColumnInit)="initColumn($event)">
        </igx-grid>
    </div>
</div>
<igx-toast #notification></igx-toast>