<igx-list class="employees">
    <igx-list-item [isHeader]="true">Loaded {{ employees().length }} of {{ totalCount }} employees</igx-list-item>
    <igx-virtual-scroll
        class="employees__viewport"
        [data]="employees()"
        [estimatedItemSize]="62"
        (dataRequest)="loadMore($event)">
        <ng-template igxVirtualItem let-employee let-index="index" let-count="count">
            <igx-list-item [attr.aria-posinset]="index + 1" [attr.aria-setsize]="totalCount">
                <igx-avatar igxListThumbnail shape="circle" [initials]="employee.initials"></igx-avatar>
                <span igxListLineTitle>#{{ employee.id }} {{ employee.name }}</span>
                <span igxListLineSubTitle>{{ employee.email }}</span>
                <igx-chip igxListAction [variant]="employee.variant">{{ employee.department }}</igx-chip>
            </igx-list-item>
        </ng-template>
    </igx-virtual-scroll>
    <div class="employees__status">
        @if (loading()) {
            <igx-linear-bar [indeterminate]="true" [textVisibility]="false"></igx-linear-bar>
        }
    </div>
</igx-list>
