<div class="grid-wrapper">
    <igx-hierarchical-grid #hierarchicalGrid height="570px" width="100%" [primaryKey]="'CustomerID'"
        [batchEditing]="true" [rowEditable]="true">
        <igx-column field="CustomerID" [editable]="false"></igx-column>
        <igx-column field="CompanyName" [editable]="true" required></igx-column>
        <igx-column field="ContactName" [editable]="true" forbiddenName="bob" required>
        </igx-column>
        <igx-column field="ContactTitle" [editable]="true" required></igx-column>
        <igx-column field="Phone" [editable]="true" required></igx-column>
        <igx-column field="Fax" [editable]="true"></igx-column>

        <igx-row-island [height]="null" [key]="'Orders'" [primaryKey]="'OrderID'" [autoGenerate]="false"
            [batchEditing]="true" [rowEditable]="true" (onFormGroupCreate)="formCreateHandler($event)">
            <igx-column [editable]="false" field="OrderID"></igx-column>
            <igx-column [editable]="true" field="EmployeeID" [editable]="true" required></igx-column>
            <igx-column [editable]="true" field="OrderDate" [dataType]="'date'" [editable]="true" required>
                <ng-template igxCellValidationError let-cell='cell'>
                    <ng-container *ngTemplateOutlet="cell.defaultErrorTemplate">
                    </ng-container>
                    <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['invalidDate']">
                        The date cannot be in the future.
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [editable]="true" field="RequiredDate" [dataType]="'date'" [editable]="true" required>
                <ng-template igxCellValidationError let-cell='cell'>
                    <ng-container *ngTemplateOutlet="cell.defaultErrorTemplate">
                    </ng-container>
                    <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['invalidDate']">
                        The date cannot be in the future.
                    </div>
                    <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['beyondThreshold']">
                        The date cannot be past the order date.
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="ShippedDate" [dataType]="'date'" [editable]="true">
                <ng-template igxCellValidationError let-cell='cell'>
                    <ng-container *ngTemplateOutlet="cell.defaultErrorTemplate">
                    </ng-container>
                    <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['invalidDate']">
                        The date cannot be in the future.
                    </div>
                    <div *ngIf="cell.formGroup?.get(cell.column?.field).errors?.['beyondThreshold']">
                        The date cannot be past the order date.
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="ShipVia" [selectable]="false" [editable]="true"></igx-column>
            <igx-column field="Freight" [selectable]="false" [editable]="true"></igx-column>

            <igx-row-island [height]="null" [key]="'OrderDetails'" [primaryKey]="'ProductID'" [autoGenerate]="false"
                [batchEditing]="true" [rowEditable]="true" [primaryKey]="'ProductID'">
                <igx-column [editable]="true" field="ProductID" [editable]="false" required></igx-column>
                <igx-column [editable]="true" field="UnitPrice" [editable]="true" required></igx-column>
                <igx-column [editable]="true" field="Quantity" [editable]="true" required></igx-column>
                <igx-column [editable]="true" field="Discount" [editable]="true"></igx-column>
            </igx-row-island>
        </igx-row-island>
    </igx-hierarchical-grid>
</div>