<div class="grid-wrapper">
    <igx-hierarchical-grid #hierarchicalGrid height="570px" width="100%" [primaryKey]="'CustomerID'" (formGroupCreated)="formCreateHandler($event)"
        [batchEditing]="true" [rowEditable]="true">
        <igx-column field="CustomerID" [editable]="false"></igx-column>
        <igx-column field="CompanyName" [editable]="true" required></igx-column>
        <igx-column field="ContactName" [editable]="true" required>
        </igx-column>
        <igx-column field="ContactTitle" [editable]="true" required></igx-column>
        <igx-column field="Phone" [editable]="true" required phoneFormat="^[^a-zA-Z]*$">
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr="defaultErrorTemplate">
                <ng-container *ngTemplateOutlet="defaultErr">
                </ng-container>
                <div *ngIf="cell.errors?.['phoneFormat']">
                    Please enter correct phone format
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Fax" [editable]="true"></igx-column>

        <igx-row-island [height]="null" [key]="'Orders'" [primaryKey]="'OrderID'" [autoGenerate]="false"
            [batchEditing]="true" [rowEditable]="true" (formGroupCreated)="formCreateHandler($event)">
            <igx-grid-toolbar [grid]="grid" *igxGridToolbar="let grid">
                <button igxButton [disabled]="!grid.transactions.canUndo" (click)="undo(grid)">Undo</button>
                <button igxButton [disabled]="!grid.transactions.canRedo" (click)="redo(grid)">Redo</button>
            </igx-grid-toolbar>
            <igx-column [editable]="false" field="OrderID"></igx-column>
            <igx-column [editable]="true" field="EmployeeID" [editable]="true" required></igx-column>
            <igx-column [editable]="true" field="OrderDate" [dataType]="'date'" [editable]="true" required>
                <ng-template igxCellValidationError let-cell='cell' let-defaultErr="defaultErrorTemplate">
                    <ng-container *ngTemplateOutlet="defaultErr">
                    </ng-container>
                    <div *ngIf="cell.errors?.['beyondThreshold']">
                        The date cannot be in the future.
                    </div>
                </ng-template>
            </igx-column>
            <igx-column [editable]="true" field="RequiredDate" [dataType]="'date'" [editable]="true" required>
                <ng-template igxCellValidationError let-cell='cell' let-defaultErr="defaultErrorTemplate">
                    <ng-container *ngTemplateOutlet="defaultErr">
                    </ng-container>
                    <div *ngIf="cell.errors?.['futureDate']">
                        The date cannot be in the future.
                    </div>
                    <div *ngIf="cell.errors?.['pastDate']">
                        The date cannot be before the 5th of November 2010
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="ShippedDate" [dataType]="'date'" [editable]="true">
                <ng-template igxCellValidationError let-cell='cell' let-defaultErr="defaultErrorTemplate">
                    <ng-container *ngTemplateOutlet="defaultErr">
                    </ng-container>
                    <div *ngIf="cell.errors?.['futureDate']">
                        The date cannot be in the future.
                    </div>
                    <div *ngIf="cell.errors?.['pastDate']">
                        The date cannot be before the 5th of November 2010
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="ShipVia" [selectable]="false" [editable]="true"></igx-column>
            <igx-column field="Freight" [selectable]="false" [editable]="true"></igx-column>

            <igx-row-island [height]="null" [key]="'OrderDetails'" [primaryKey]="'ProductID'" [autoGenerate]="false"
                [batchEditing]="true" [rowEditable]="true" [primaryKey]="'ProductID'">
                <igx-grid-toolbar [grid]="grid" *igxGridToolbar="let grid">
                    <button igxButton [disabled]="!grid.transactions.canUndo" (click)="undo(grid)">Undo</button>
                    <button igxButton [disabled]="!grid.transactions.canRedo" (click)="redo(grid)">Redo</button>
                </igx-grid-toolbar>
                <igx-column [editable]="true" field="ProductID" [editable]="false" required></igx-column>
                <igx-column [editable]="true" field="UnitPrice" [editable]="true" required></igx-column>
                <igx-column [editable]="true" field="Quantity" [editable]="true" required></igx-column>
                <igx-column [editable]="true" field="Discount" [editable]="true"></igx-column>
            </igx-row-island>
        </igx-row-island>
    </igx-hierarchical-grid>

    <div class="buttons-wrapper">
        <button igxButton [disabled]="!hierarchicalGrid.transactions.canUndo" (click)="undo(hierarchicalGrid)">Undo</button>
        <button igxButton [disabled]="!hierarchicalGrid.transactions.canRedo" (click)="redo(hierarchicalGrid)">Redo</button>
        <button igxButton [disabled]="hierarchicalGrid.transactions.getAggregatedChanges(false).length < 1" (click)="commit()">Commit</button>
    </div>
</div>
