<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [autoGenerate]="false" height="600px" width="100%" [paging]="false">
        <igx-column field="ProductID" header="Product ID" width="17%" [headerClasses]="'prodId'">
        </igx-column>
        <igx-column field="ProductName" header="Product Name" width="17%" [headerClasses]="'prodId'" >
        </igx-column>
        <igx-column field="UnitPrice" header="Price" [filterable]="false" width="17%" editable="true" dataType="number">
        </igx-column>
        <igx-column field="UnitsInStock" header="Units In Stock" width="17%" dataType="number" editable="true"
            [hasSummary]="true" [summaries]="discontinuedSummary">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [editable]="true" width="17%" [dataType]="'boolean'">
        </igx-column>
        <igx-column field="OrderDate" width="15%" [dataType]="'date'" [hasSummary]="true">
        </igx-column>
    </igx-grid>
</div>
