@use "layout.scss";
@use "igniteui-angular/theming" as *;

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;

$custom-grid: grid-theme(
  $filtering-row-text-color: $bg,
  $filtering-row-background: $yellow,
  $filtering-header-text-color: $bg,
  $filtering-header-background: $yellow
);

$dark-input-group: input-group-theme(
  $box-background: $yellow,
  $idle-text-color: $bg,
  $focused-text-color: $bg,
  $filled-text-color: $bg
);

$dark-button: button-theme(
  $background: $yellow,
  $foreground: $bg,
  $hover-background: $bg,
  $hover-foreground: $yellow
);

:host {
  ::ng-deep {
    @include css-vars($custom-grid);
    .igx-grid__filtering-row {
      @include css-vars($dark-button);
      @include css-vars($dark-input-group);  
    }
  }
}