@use '../../../../variables' as *;

.wrapper {
    display: flex;
    flex-direction: row;
}

.contact-name {
    font-weight: 600;
}

.contact-container{
    margin-left: 20px;
}

.badge-style {
  position: absolute;
  bottom: 2.5px;
  left: 40px;
}

$custom-badge-theme: igx-badge-theme(
    $border-color: white,
    $border-width: 1px,
    $icon-color: white,
    $text-color: black
);

:host {
    @include igx-css-vars($custom-badge-theme);
}
