@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-badge-theme: badge-theme(
  $background-color: #57a5cd,
  $border-radius: 4px
);

@include tokens($custom-badge-theme, $mode: 'scoped');
