<igx-list>
    <igx-list-item isHeader="true">
        Team Members (4)
    </igx-list-item>
    <igx-list-item *ngFor="let member of members">
        <div class="wrapper">
            <div>
                <igx-avatar icon="person" roundShape="true" size="small"></igx-avatar>
                <igx-badge [icon]="member.icon" [type]="member.type" class="badge-style"></igx-badge>
            </div>
            <div class="contact-container">
                <span class="contact-name">{{ member.name }}</span>
            </div>
        </div>
    </igx-list-item>
</igx-list>
