@import '~igniteui-angular/lib/core/styles/themes/index';

.wrapper {
    display: flex;
    flex-direction: row;
}

.contact-name {
    font-weight: 600;
}

.contact-container{
    margin-left: 20px;
}

.badge-style {
  position: absolute;
  bottom: 2.5px;
  left: 40px;
}

$custom-badge-theme: igx-badge-theme(
    $border-color: white,
    $border-width: 1px,
    $shadow: 3px 2px 5px 0px rgba(0,0,0,0.4),
    $icon-color: white,
    $text-color: black
);

// :host {
//     @include igx-css-vars($custom-badge-theme);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-badge($custom-badge-theme);
}

