@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-badge-theme: badge-theme(
  $border-radius: 15px,
  $icon-color: white,
  $text-color: black
);

@include css-vars($custom-badge-theme);

