.sample-wrapper {
    padding-left: 10px;
}

.input {
    padding-left: 0.2rem;
}

.input-group {
    width: 160px;
}

.igx-input-group {
    display: inline-block;
}

span {
    display: inline;
    color: #e41c77;
    padding-left: 20px;
}
