<div class="map">
    <igx-icon class="location" color="blue" fontSet="material" [igxTooltipTarget]="locationTooltip">location_on</igx-icon>

    <div class="locationTooltip" #locationTooltip="tooltip" igxTooltip>
        <div class="locationTooltipContent">
            <igx-avatar class="logo" src="assets/images/card/avatars/igLogo.png" size="medium"
                [roundShape]="false"></igx-avatar>
            <div>
                <div>Infragistics Inc. HQ</div>
                <div>2 Commerce Dr, Cranbury, NJ 08512, USA</div>
            </div>
        </div>
    </div>
</div>
