@use "igniteui-theming/sass/typography" as *;

:host {
    display: flex;
    place-content: center;
    place-items: center;
    padding: rem(16px);
}

.states {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: rem(32px);
    transform: translateY(rem(16px));

    .states__row {
        @include type-style("body-2") {
            margin: 0;
        }

        text-align: end;
        color: var(--ig-gray-600);
        font-family: "Aktiv Grotesk", sans-serif;
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(24px);
        letter-spacing: rem(0.1px);
    }

    .states__disabled {
        margin-inline-start: rem(16px);
    }
}
