<div class="states">
    <span class="states__row">On</span>
    <igx-switch labelPosition="before" [checked]="true">
        <span>Power</span>
    </igx-switch>
    <igx-switch labelPosition="before" [checked]="true" [disabled]="true">
        <span>Power</span>
    </igx-switch>

    <span class="states__row">Off</span>
    <igx-switch labelPosition="before">
        <span>Power</span>
    </igx-switch>
    <igx-switch labelPosition="before" [disabled]="true">
        <span>Power</span>
    </igx-switch>
</div>
