<div class="sample-wrapper">
    <div class="sample-content">
        <!-- Single selection mode -->
        <article class="sample-column calendar-wrapper">
            <igx-calendar>
                <div *ngIf="supportIntl; else customParse">
                    <ng-template igxCalendarHeader let-parts>
                        {{ parts.month.combined | titlecase }} {{parts.day.combined }} {{ parts.weekday.combined }}
                    </ng-template>
                    <ng-template igxCalendarSubheader let-parts>
                        <span class="date__el" (click)="parts.monthView()">{{ parts.month.combined }}</span>            
                        <span class="date__el" (click)="parts.yearView()">{{ parts.year.combined }}</span>
                    </ng-template>     
                </div>

                <!-- Displaying template with custom aprsing of the date-->
                <ng-template #customParse>
                    <ng-template igxCalendarHeader let-parts>
                        {{ parseHeaderTemplate(parts) }}
                    </ng-template>
                    <ng-template igxCalendarSubheader let-parts>
                        <span class="date__el" (click)="parts.monthView()">{{ parseMonth(parts) }}</span> 
                        <span class="date__el" (click)="parts.yearView()">{{ parseYear(parts) }}</span>
                    </ng-template>
                </ng-template>

            </igx-calendar>                     
        </article>
    </div>
</div>
    