@import "~igniteui-angular/lib/core/styles/themes/index";

.mailbox {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    display: flex;
    flex-direction: row;
    font-family: Titillium Web;
	font-weight: 400;
    font-style: normal;
    /* Clear default theming */
    background: var(--igx-banner-banner-background);
}
.flexlist {
    display: flex;
    flex-direction: column;
}
.igx-list__item-content {
    padding: 0.1rem 1rem;
}
.folders {
    igx-list-item {
        letter-spacing: 0.15px;
        width: 13rem;
        height: 3rem;
        overflow: hidden;
        /* IE fallback color */
        background: igx-color($default-palette, 'grays', 200);
        /* Default color */
        background: var(--igx-grays-200);
        cursor: pointer;
        width: 13rem;
        &:hover {
            /* IE fallback color */
            background: igx-color($default-palette, 'grays', 100);
            /* Default color */
            background: var(--igx-grays-100);
        }
        &:active {
            /* IE Fallback color */
            background: igx-color($default-palette, 'grays', 50);
            /* Default color */
            background: var(--igx-grays-50);
        }
        igx-icon {
            margin-left: 16px;
            margin-right: 28px;
        }
        &:nth-child(5) {
            igx-icon {
                color: #af1159;
            }
        }
        &:nth-child(6) {
            igx-icon {
                color: #0071bf;
            }
        }
        &:nth-child(7) {
            igx-icon {
                color: #4eb862;
            }
        }
    }
}
.emails-container {
    width: 760px;
}

.email-checked, .email-checked:hover {
    /* IE Fallback */
    background-color: #ea87b4;
    /* Default color */
    background-color: var(--igx-grid-row-selected-background);
    -webkit-transition: background .1s ease-out;
    -moz-transition: background .1s ease-out;
    -o-transition: background .1s ease-out;
    transition: background .1s ease-out;
}

.dragGhost {
    width: 173px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /* IE fallback */
    background-color: #ea87b4;
    /* Default color */
    background: var(--igx-secondary-500);
    font-size: 0.8em;
    padding: 5px;
    position: relative;

    & igx-icon {
        margin: 0 0.5rem;
    }
}