ul {
    padding: 0px;
    margin: 0px;
    li {
        list-style-type: none;
    }
}
.mailbox {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    display: flex;
    flex-direction: row;
    font-family: Titillium Web;
	font-weight: 400;
	font-style: normal;
}
.flexlist {
    display: flex;
    flex-direction: column;
}
.folders {
    li {
        width: 173px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        letter-spacing: 0.15px;
        color: rgba(0,0,0,0.866);
        background: #EBEBEB;
        height: 48px;
        &:hover {
            background: #D8D8D8;
        }
        igx-icon {
            margin-left: 16px;
            margin-right: 28px;
            color: rgba(0,0,0,0.619);
        }
        &:nth-child(5) {
            igx-icon {
                color: #af1159;
            }
        }
        &:nth-child(6) {
            igx-icon {
                color: #0071bf;
            }
        }
        &:nth-child(7) {
            igx-icon {
                color: #4eb862;
            }
        }
    }
}
.emails-container {
    width: 760px;
    .period {
        color: #ed6ca7;
        text-align: left;
        height: 48px;
        padding-left: 15px;
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 48px;
    }
}
.emails {
    li {
        padding-left: 18px;
        padding-right: 18px;
        height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .email-content {
            margin-right: auto;
            justify-content: center;
            .sender {
                font-size: 16px;
                letter-spacing: 0.15px;
                color: rgba(0, 0, 0, 1);
            }
            .email-title {
                font-size: 14px;
                letter-spacing: 0.25px;
                color: rgba(0, 0, 0, 0.619);
            }
        }
    }
    li:hover {
        background-color: #eee;
        cursor: pointer;
    }
    li:active {
        background-color: #e0e0e0;
    }
    li.email-checked:hover {
        background-color: #F4C7DE;
    }
    li.email-checked:active {
        background-color: #cfaabd;
    }
}
.email-checked {
    background: #F4C7DE;
    -webkit-transition: background .1s ease-out;
    -moz-transition: background .1s ease-out;
    -o-transition: background .1s ease-out;
    transition: background .1s ease-out;
}

.dragGhost {
    width: 173px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #dd75b1;
    font-size: 0.8em;
    padding: 5px;
    position: relative;

    & igx-icon {
        margin: 0 0.5rem;
    }
}