@import "~igniteui-angular/lib/core/styles/themes/index";


.drag-ghost {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: rem(180px);
    color: var(--igx-secondary-200-contrast);
    font-size: rem(13px);
    padding: rem(8px);
    border-radius: rem(4px);
    /* IE fallback */
    background-color: #e41c77;
    /* Default color */
    background: var(--igx-secondary-200);

    igx-icon {
        margin-right: rem(8px);
    }
}

:host {
    display: flex;
    user-select: none;
	font-weight: 400;
    font-style: normal;
    height: 100%;

    .folders {
        width: rem(200px);
        padding: 8px;
        /* IE fallback color */
        background: igx-color($default-palette, 'grays', 50);
        /* Default color */
        background: var(--igx-grays-50);
        border: none;

        igx-icon {
            margin: 0;
        }

        igx-list-item {
            cursor: pointer;
            border-radius: 4px;
            background: transparent;
            transition: background .15s $ease-out-quad;

            &.drag-enter {
                /* IE fallback color */
                background: igx-color($default-palette, 'secondary', 100);
                /* Default color */
                background: var(--igx-secondary-100);
            }

            &:hover {
                /* IE fallback color */
                background: igx-color($default-palette, 'grays', 100);
                /* Default color */
                background: var(--igx-grays-100);
            }

            &:nth-child(5) {
                igx-icon {
                    color: #af1159;
                }
            }

            &:nth-child(6) {
                igx-icon {
                    color: #0071bf;
                }
            }

            &:nth-child(7) {
                igx-icon {
                    color: #4eb862;
                }
            }
        }
    }

    .emails {
        flex-grow: 1;
        border: none;
        border-radius: 0;
    }

    .email-checked {
        /* IE Fallback */
        background-color: #ea87b4;
        /* Default color */
        color: var(--igx-secondary-100-contrast);
        background: var(--igx-secondary-100);
        transition: background .1s ease-out;
    }

}
