<div class="mailbox">
    <ul class="folders flexlist">
        <li *ngFor="let folder of folders" igxDrop (onDrop)="dropElement(email)">
            <igx-icon fontSet="material">{{folder.icon}}</igx-icon> {{folder.text}}
        </li>
    </ul>
    <div class="emails-container flexlist">
        <div class="period">
            Today
        </div>
        <div #ghostHostItem class="dragGhost">
            <igx-icon fontSet="material">email</igx-icon> Moving 1 item
        </div>
        <ul class="emails" igxDrop>
            <li *ngFor="let email of emails"
                [class.email-checked]="email.checked"
                (click)="toggleCheck(email)"
                igxDrag
                [dragGhostHost]="ghostHostItem">
                <div class="email-content flexlist">
                    <div class="sender">
                        {{email.sender}} 
                    </div>
                    <div class="email-title">
                        {{email.title}}
                    </div>
                </div>
                <igx-checkbox [(ngModel)]="email.checked">
                </igx-checkbox>
            </li>
        </ul>
    </div>
</div>
