<div class="grid__wrapper">

    <div class="sample__header">
        <div class="switch-sample">
            <h5 class="switch-sample__title">Boston Marathon 2020</h5>
            <igx-switch [(ngModel)]="live" [disabled]="isFinished" title="Start/Stop the marathon"> <span class="switch-sample__label">Live</span>
            </igx-switch>
        </div>
        <igx-input-group>
            <input class="gridSample__filter" igxInput type="text" placeholder="Filter by country" (input)="filter($event.target.value)">
        </igx-input-group>
    </div>

    <igx-grid #grid1 igxPreventDocumentScroll [data]="localData" [paging]="true" [perPage]="20" height="600px" (onSelection)="cellSelection($event)"
    [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true" displayDensity="cosy">
        <igx-column header="Rank" [width]="'12%'" field="Id" sortable="true" [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <div>{{ cell.row.index + 1 }}</div>
                    <ng-container *ngIf="isTop3(cell)">
                        <span class="cup" *ngIf="cell.value === 1">
                            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/grid/trophy_gold.svg" alt="golf-trophy" />
                        </span>
                        <span class="cup" *ngIf="cell.value === 2">
                            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/grid/trophy_silver.svg" alt="silve-trophy" />
                        </span>
                        <span class="cup" *ngIf="cell.value === 3">
                            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/grid/trophy_bronze.svg" alt="bronze-trophy" />
                        </span>
                    </ng-container>
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="Name" header="Athlete" [width]="athleteColumnWidth" [hasSummary]="true">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <igx-avatar [src]="cell.row.rowData.Avatar" roundShape="true" size="small"> </igx-avatar><span
                        class="athlete_name">{{ cell.value }}</span>
                    <igx-badge *ngIf="live" [type]="getBadgeType(cell)" [icon]="getIconType(cell)"></igx-badge>
                </div>

            </ng-template>
        </igx-column>

        <igx-column field="Speed" header="Speed" [width]="'23%'" [filterable]="false" [hasSummary]="true" [summaries]="speedSummary">
            <ng-template igxCell let-val>
                    <igx-sparkline height="40px" width="190px"
                        [dataSource]="val"
                        valueMemberPath="Speed"
                        displayType="Line"
                        minimum="0"
                        lineThickness="2"
                        brush="rgb(0, 153, 255)">
                </igx-sparkline>
            </ng-template>
        </igx-column>

        <igx-column field="BeatsPerMinute" header="Heart Rate (bpm)" [width]="'15%'" [hasSummary]="true" dataType="number" [summaries]="bnpSummary"
            [hidden]="hideBeatsPerMinute" [filterable]="false">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>

        <igx-column field="TopSpeed" header="Top Speed" [width]="'9%'" dataType="number" [hasSummary]="true" [summaries]="topSpeedSummary"
            [filterable]="false" [hidden]="live">

            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val | number: '1.1-5' }}
                </div>
            </ng-template>

        </igx-column>

        <igx-column field="TrackProgress" header="Progress" [filterable]="false" [width]="'10%'">
            <ng-template igxCell let-val>
                <div class="linear-bar-container">
                    <igx-circular-bar [value]="val" [max]="100" [animate]="true" [textVisibility]="true"></igx-circular-bar>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="CountryFlag" header="Country" [width]="'10%'" [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner_2">
                    <span>
                        <img [src]="cell.value" class="flag" />
                    </span>
                </div>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>
