.drop-down {
  margin: 8px;
  width: 220px; }

.drop-down__scroll-container {
  max-height: 280px; }

[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
  --igx-drop-down-border-radius: 4px;
  --igx-drop-down-elevation: 8;
  --igx-drop-down-background-color: #fdfdfd;
  --igx-drop-down-header-text-color: #345779;
  --igx-drop-down-item-text-color: #2dabe8;
  --igx-drop-down-hover-item-text-color: #345779;
  --igx-drop-down-hover-item-background: rgba(0, 0, 0, 0.12);
  --igx-drop-down-focused-item-background: rgba(0, 0, 0, 0.12);
  --igx-drop-down-focused-item-text-color: black;
  --igx-drop-down-selected-item-background: #345779;
  --igx-drop-down-selected-item-text-color: #fdfdfd;
  --igx-drop-down-selected-hover-item-background: #345779;
  --igx-drop-down-selected-hover-item-text-color: #fdfdfd;
  --igx-drop-down-selected-focus-item-background: #345779;
  --igx-drop-down-selected-focus-item-text-color: #fdfdfd;
  --igx-drop-down-disabled-item-background: transparent;
  --igx-drop-down-disabled-item-text-color: rgba(0, 0, 0, 0.36);
  --igx-drop-down-border-color: rgba(0, 0, 0, 0.12);
  --igx-drop-down-border-width: 0;
  --igx-drop-down-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26), 0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08); }

:host ::ng-deep .igx-drop-down {
  position: absolute; }

:host ::ng-deep .igx-drop-down__list {
  overflow: hidden;
  border-radius: var(--igx-drop-down-border-radius);
  background: var(--igx-drop-down-background-color);
  box-shadow: var(--igx-drop-down-shadow);
  min-width: 8rem;
  border: var(--igx-drop-down-border-width) solid var(--igx-drop-down-border-color); }

:host ::ng-deep .igx-drop-down__list-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }
  :host ::ng-deep .igx-drop-down__list-scroll:empty {
    box-shadow: none; }
  :host ::ng-deep .igx-drop-down__list-scroll igx-input-group {
    margin-top: -16px !important; }

:host ::ng-deep .igx-drop-down__header, :host ::ng-deep .igx-drop-down__group label,
:host ::ng-deep .igx-drop-down__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  white-space: nowrap;
  height: 2.5rem; }


:host ::ng-deep .igx-drop-down__item {
  color: var(--igx-drop-down-item-text-color);
  cursor: pointer;
  padding: 0 1.5rem; }
  :host ::ng-deep .igx-drop-down__item:focus {
    outline: 0;
    outline-color: transparent;
    background: var(--igx-drop-down-focused-item-background);
    color: var(--igx-drop-down-focused-item-text-color); }
  :host ::ng-deep .igx-drop-down__item:hover {
    background: var(--igx-drop-down-hover-item-background);
    color: var(--igx-drop-down-hover-item-text-color); }

:host ::ng-deep .igx-drop-down__item--cosy {
  height: 2rem;
  padding: 0 1.25rem; }

:host ::ng-deep .igx-drop-down__item--compact {
  height: 1.75rem;
  padding: 0 1rem; }

:host ::ng-deep .igx-drop-down__header, :host ::ng-deep .igx-drop-down__group label {
  color: var(--igx-drop-down-header-text-color);
  pointer-events: none;
  padding: 0 1rem; }

:host ::ng-deep .igx-drop-down__header--cosy {
  height: 2rem;
  padding: 0 0.75rem; }

:host ::ng-deep .igx-drop-down__header--compact {
  height: 1.75rem;
  padding: 0 0.5rem; }

:host ::ng-deep .igx-drop-down__group {
  pointer-events: auto; }
  :host ::ng-deep .igx-drop-down__group .igx-drop-down__item {
    text-indent: 0 1.5rem; }

:host ::ng-deep .igx-drop-down__item--focused {
  background: var(--igx-drop-down-focused-item-background);
  color: var(--igx-drop-down-focused-item-text-color); }
  :host ::ng-deep .igx-drop-down__item--focused:hover {
    color: var(--igx-drop-down-focused-item-text-color);
    background: var(--igx-drop-down-focused-item-background); }

:host ::ng-deep .igx-drop-down__item--selected {
  background: var(--igx-drop-down-selected-item-background);
  color: var(--igx-drop-down-selected-item-text-color); }
  :host ::ng-deep .igx-drop-down__item--selected:hover {
    background: var(--igx-drop-down-selected-hover-item-background);
    color: var(--igx-drop-down-selected-hover-item-text-color); }

:host ::ng-deep .igx-drop-down__item--selected.igx-drop-down__item--focused {
  background: var(--igx-drop-down-selected-focus-item-background);
  color: var(--igx-drop-down-selected-focus-item-text-color); }

:host ::ng-deep .igx-drop-down__item--disabled, :host ::ng-deep .igx-drop-down__group--disabled {
  background: var(--igx-drop-down-disabled-item-background);
  color: var(--igx-drop-down-disabled-item-text-color);
  cursor: default;
  pointer-events: none; }
  :host ::ng-deep .igx-drop-down__item--disabled:hover, :host ::ng-deep .igx-drop-down__group--disabled:hover {
    background: var(--igx-drop-down-disabled-item-background); }

:host ::ng-deep {
  --igx-button-flat-border-radius: 4px;
  --igx-button-raised-border-radius: 4px;
  --igx-button-outlined-border-radius: 4px;
  --igx-button-fab-border-radius: 28px;
  --igx-button-icon-border-radius: 20px;
  --igx-button-raised-resting-elevation: 2;
  --igx-button-raised-hover-elevation: 4;
  --igx-button-raised-focus-elevation: 8;
  --igx-button-fab-resting-elevation: 6;
  --igx-button-fab-hover-elevation: 12;
  --igx-button-fab-focus-elevation: 12;
  --igx-button-variant: material;
  --igx-button-flat-background: transparent;
  --igx-button-flat-text-color: #e41c77;
  --igx-button-flat-icon-color: 'currentColor';
  --igx-button-flat-hover-icon-color: 'currentColor';
  --igx-button-flat-focus-icon-color: 'currentColor';
  --igx-button-raised-icon-color: 'currentColor';
  --igx-button-raised-hover-icon-color: 'currentColor';
  --igx-button-raised-focus-icon-color: 'currentColor';
  --igx-button-outlined-icon-color: 'currentColor';
  --igx-button-outlined-hover-icon-color: 'currentColor';
  --igx-button-outlined-focus-icon-color: 'currentColor';
  --igx-button-flat-hover-background: rgba(228, 28, 119, 0.05);
  --igx-button-flat-hover-text-color: #e41c77;
  --igx-button-flat-focus-background: rgba(223, 54, 131, 0.12);
  --igx-button-flat-focus-text-color: #e41c77;
  --igx-button-outlined-background: transparent;
  --igx-button-outlined-outline-color: rgba(0, 0, 0, 0.12);
  --igx-button-outlined-text-color: #e41c77;
  --igx-button-outlined-hover-background: rgba(228, 28, 119, 0.05);
  --igx-button-outlined-hover-text-color: #e41c77;
  --igx-button-outlined-focus-background: rgba(223, 54, 131, 0.12);
  --igx-button-outlined-focus-text-color: #e41c77;
  --igx-button-outlined-disabled-outline-color: rgba(0, 0, 0, 0.12);
  --igx-button-raised-background: #345779;
  --igx-button-raised-text-color: #fdfdfd;
  --igx-button-raised-hover-background: #3c648b;
  --igx-button-raised-hover-text-color: white;
  --igx-button-raised-focus-background: #3c648b;
  --igx-button-raised-focus-text-color: white;
  --igx-button-fab-background: #e41c77;
  --igx-button-fab-text-color: black;
  --igx-button-fab-hover-background: #dc5391;
  --igx-button-fab-hover-text-color: black;
  --igx-button-fab-focus-background: #dc5391;
  --igx-button-fab-focus-text-color: black;
  --igx-button-icon-color: rgba(0, 0, 0, 0.74);
  --igx-button-icon-background: transparent;
  --igx-button-icon-hover-background: rgba(0, 0, 0, 0.04);
  --igx-button-icon-hover-color: rgba(0, 0, 0, 0.74);
  --igx-button-icon-focus-background: rgba(0, 0, 0, 0.26);
  --igx-button-icon-focus-color: rgba(0, 0, 0, 0.74);
  --igx-button-disabled-color: rgba(0, 0, 0, 0.26);
  --igx-button-disabled-background: rgba(0, 0, 0, 0.04);
  --igx-button-raised-resting-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
  --igx-button-raised-hover-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.26), 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  --igx-button-raised-focus-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26), 0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08);
  --igx-button-fab-resting-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.26), 0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.08);
  --igx-button-fab-hover-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.26), 0 12px 17px 2px rgba(0, 0, 0, 0.12), 0 5px 22px 4px rgba(0, 0, 0, 0.08);
  --igx-button-fab-focus-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.26), 0 12px 17px 2px rgba(0, 0, 0, 0.12), 0 5px 22px 4px rgba(0, 0, 0, 0.08);
  --igx-button-raised-shadow-color: transparent;
  --igx-button-outlined-shadow-color: transparent;
  --igx-button-icon-shadow-color: transparent;
  --igx-button-fab-shadow-color: transparent; }

:host ::ng-deep .igx-button, :host ::ng-deep .igx-button--flat, :host ::ng-deep .igx-button--outlined, :host ::ng-deep .igx-button--raised {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  min-width: 5.5rem;
  padding: 0.5625rem 1rem;
  min-height: 2.25rem;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  transition: color 1ms ease-in-out, background-color 1ms ease-in-out, border-color 1ms ease-in-out, box-shadow 1ms ease-in-out;
  font-family: inherit; }
  :host ::ng-deep .igx-button .igx-icon, :host ::ng-deep .igx-button--flat .igx-icon, :host ::ng-deep .igx-button--outlined .igx-icon, :host ::ng-deep .igx-button--raised .igx-icon, :host ::ng-deep .igx-button .igx-icon--inactive, :host ::ng-deep .igx-button--flat .igx-icon--inactive, :host ::ng-deep .igx-button--outlined .igx-icon--inactive, :host ::ng-deep .igx-button--raised .igx-icon--inactive {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem; }

:host ::ng-deep .igx-button--cosy {
  padding: 0.375rem 1rem;
  min-height: 1.875rem; }

:host ::ng-deep .igx-button--compact {
  padding: 0.1875rem 1rem;
  min-height: 1.5rem; }

:host ::ng-deep .igx-button--flat {
  background: var(--igx-button-flat-background);
  color: var(--igx-button-flat-text-color);
  border-radius: var(--igx-button-flat-border-radius); }
  :host ::ng-deep .igx-button--flat .igx-icon, :host ::ng-deep .igx-button--flat .igx-icon--inactive {
    color: var(--igx-button-flat-icon-color); }
  :host ::ng-deep .igx-button--flat:hover {
    background: var(--igx-button-flat-hover-background);
    color: var(--igx-button-flat-hover-text-color); }
    :host ::ng-deep .igx-button--flat:hover .igx-icon, :host ::ng-deep .igx-button--flat:hover .igx-icon--inactive {
      color: var(--igx-button-flat-hover-icon-color); }
  :host ::ng-deep .igx-button--flat:focus, :host ::ng-deep .igx-button--flat:active {
    background: var(--igx-button-flat-focus-background);
    color: var(--igx-button-flat-focus-text-color); }
    :host ::ng-deep .igx-button--flat:focus .igx-icon, :host ::ng-deep .igx-button--flat:focus .igx-icon--inactive, :host ::ng-deep .igx-button--flat:active .igx-icon, :host ::ng-deep .igx-button--flat:active .igx-icon--inactive {
      color: var(--igx-button-flat-focus-icon-color); }

:host ::ng-deep .igx-button--outlined {
  border: 1px solid transparent;
  border-color: var(--igx-button-outlined-outline-color);
  background: var(--igx-button-outlined-background);
  color: var(--igx-button-outlined-text-color);
  border-radius: var(--igx-button-outlined-border-radius); }
  :host ::ng-deep .igx-button--outlined .igx-icon, :host ::ng-deep .igx-button--outlined .igx-icon--inactive {
    color: var(--igx-button-outlined-icon-color); }
  :host ::ng-deep .igx-button--outlined:hover {
    background: var(--igx-button-outlined-hover-background);
    color: var(--igx-button-outlined-hover-text-color); }
    :host ::ng-deep .igx-button--outlined:hover .igx-icon, :host ::ng-deep .igx-button--outlined:hover .igx-icon--inactive {
      color: var(--igx-button-outlined-hover-icon-color); }
  :host ::ng-deep .igx-button--outlined:focus, :host ::ng-deep .igx-button--outlined:active {
    background: var(--igx-button-outlined-focus-background);
    color: var(--igx-button-outlined-focus-text-color); }
    :host ::ng-deep .igx-button--outlined:focus .igx-icon, :host ::ng-deep .igx-button--outlined:focus .igx-icon--inactive, :host ::ng-deep .igx-button--outlined:active .igx-icon, :host ::ng-deep .igx-button--outlined:active .igx-icon--inactive {
      color: var(--igx-button-outlined-focus-icon-color); }

:host ::ng-deep .igx-button--raised {
  color: var(--igx-button-raised-text-color);
  background: var(--igx-button-raised-background);
  box-shadow: var(--igx-button-raised-resting-shadow);
  border-radius: var(--igx-button-raised-border-radius); }
  :host ::ng-deep .igx-button--raised .igx-icon, :host ::ng-deep .igx-button--raised .igx-icon--inactive {
    color: var(--igx-button-raised-icon-color); }
  :host ::ng-deep .igx-button--raised:hover {
    color: var(--igx-button-raised-hover-text-color);
    background: var(--igx-button-raised-hover-background);
    box-shadow: var(--igx-button-raised-hover-shadow); }
    :host ::ng-deep .igx-button--raised:hover .igx-icon, :host ::ng-deep .igx-button--raised:hover .igx-icon--inactive {
      color: var(--igx-button-raised-hover-icon-color); }
  :host ::ng-deep .igx-button--raised:focus, :host ::ng-deep .igx-button--raised:active {
    color: var(--igx-button-raised-focus-text-color);
    background: var(--igx-button-raised-focus-background);
    box-shadow: var(--igx-button-raised-focus-shadow); }
    :host ::ng-deep .igx-button--raised:focus .igx-icon, :host ::ng-deep .igx-button--raised:focus .igx-icon--inactive, :host ::ng-deep .igx-button--raised:active .igx-icon, :host ::ng-deep .igx-button--raised:active .igx-icon--inactive {
      color: var(--igx-button-raised-focus-icon-color); }

:host ::ng-deep .igx-button--fab, :host ::ng-deep .igx-button--icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid transparent;
  border-radius: var(--igx-button-fab-border-radius);
  outline: none;
  cursor: pointer;
  transition: color 1ms ease-in-out, background-color 1ms ease-in-out, border-color 1ms ease-in-out, box-shadow 1ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  -webkit-filter: blur(0);
          filter: blur(0); }

:host ::ng-deep .igx-button--fab {
  padding: 0.9375rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  line-height: unset;
  white-space: nowrap;
  color: var(--igx-button-fab-text-color);
  background: var(--igx-button-fab-background);
  box-shadow: var(--igx-button-fab-resting-shadow);
  border-radius: var(--igx-button-fab-border-radius); }
  :host ::ng-deep .igx-button--fab:hover {
    color: var(--igx-button-fab-hover-text-color);
    background: var(--igx-button-fab-hover-background);
    box-shadow: var(--igx-button-fab-resting-shadow); }
  :host ::ng-deep .igx-button--fab:focus, :host ::ng-deep .igx-button--fab:active {
    color: var(--igx-button-fab-focus-text-color);
    background: var(--igx-button-fab-focus-background);
    box-shadow: var(--igx-button-fab-focus-shadow); }

:host ::ng-deep .igx-button--fab-cosy.igx-button--fab {
  padding: 0.6875rem;
  min-width: 3rem;
  min-height: 3rem; }

:host ::ng-deep .igx-button--fab-compact.igx-button--fab {
  padding: 0.4375rem;
  min-width: 2.5rem;
  min-height: 2.5rem; }

:host ::ng-deep .igx-button--icon {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1rem;
  padding: 0;
  color: var(--igx-button-icon-color);
  background: var(--igx-button-icon-background);
  border-radius: var(--igx-button-icon-border-radius); }
  :host ::ng-deep .igx-button--icon:hover {
    transition: color 1ms ease-in-out, background-color 1ms ease-in-out, border-color 1ms ease-in-out, box-shadow 1ms ease-in-out;
    color: var(--igx-button-icon-hover-color);
    background: var(--igx-button-icon-hover-background); }
  :host ::ng-deep .igx-button--icon:focus, :host ::ng-deep .igx-button--icon:active {
    color: var(--igx-button-icon-focus-color);
    background: var(--igx-button-icon-focus-background);
    box-shadow: var(--igx-button-raised-focus-shadow); }

:host ::ng-deep .igx-button--disabled {
  pointer-events: none;
  box-shadow: none; }
  :host ::ng-deep .igx-button--outlined.igx-button--disabled, :host ::ng-deep .igx-button--flat.igx-button--disabled, :host ::ng-deep .igx-button--raised.igx-button--disabled, :host ::ng-deep .igx-button--fab.igx-button--disabled, :host ::ng-deep .igx-button--icon.igx-button--disabled {
    color: var(--igx-button-disabled-color); }
    :host ::ng-deep .igx-button--outlined.igx-button--disabled igx-icon, :host ::ng-deep .igx-button--flat.igx-button--disabled igx-icon, :host ::ng-deep .igx-button--raised.igx-button--disabled igx-icon, :host ::ng-deep .igx-button--fab.igx-button--disabled igx-icon, :host ::ng-deep .igx-button--icon.igx-button--disabled igx-icon {
      color: inherit; }
  :host ::ng-deep .igx-button--raised.igx-button--disabled, :host ::ng-deep .igx-button--fab.igx-button--disabled {
    background: var(--igx-button-disabled-background); }
  :host ::ng-deep .igx-button--flat.igx-button--disabled, :host ::ng-deep .igx-button--outlined.igx-button--disabled {
    background: transparent; }
  :host ::ng-deep .igx-button--outlined.igx-button--disabled {
    border-color: var(--igx-button-outlined-disabled-outline-color); }
  :host ::ng-deep .igx-button--disabled:focus {
    box-shadow: none; }
