@use '../../../variables' as *;

.sample-wrapper {
    margin: 0 auto;
    padding: 16px;
}
:host ::ng-deep {
    --igx-error-500: 34, 80%, 63%;
    .validator-container {
        color: #ECAA53;
    }
}