<div class="sample-wrapper">
    <igx-grid igxPreventDocumentScroll #gridRowEdit [data]="data" [primaryKey]="'ProductID'" width="100%" height="500px"
        [rowEditable]="true">
        <igx-column field="ProductID" header="Product ID"></igx-column>
        <igx-column field="ReorderLevel" header="ReorderLever" [dataType]="'number'" required>
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr='defaultErrorTemplate'>
                <div class="validator-container">
                    <ng-container *ngTemplateOutlet="defaultErr">
                    </ng-container>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="ProductName" header="ProductName" [dataType]="'string'" required>
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr='defaultErrorTemplate'>
                <div class="validator-container">
                    <ng-container *ngTemplateOutlet="defaultErr">
                    </ng-container>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="UnitsInStock" header="UnitsInStock" [dataType]="'number'" required>
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr='defaultErrorTemplate'>
                <div class="validator-container">
                    <ng-container *ngTemplateOutlet="defaultErr">
                    </ng-container>
                </div>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>