:host {
    padding: 8px;
    display: flex;
    flex-direction: column;

    ::ng-deep {
        .upFontValue {
            color: hsla(var(--igx-success-500));
        }

        .downFontValue {
            color: hsla(var(--igx-error-500));
        }

        igx-pivot-data-selector {
            border: 1px solid hsla(var(--igx-gray-200));
            margin: 0 8px;
        }
    }

}

igx-pivot-grid {
    flex: 1;
}

.pivot-container {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    order: 0;
}
