:host {
    padding: 8px;
    display: flex;
    flex-direction: column;

    ::ng-deep {
        .upFontValue {
            color: var(--ig-success-500);
        }

        .downFontValue {
            color: var(--ig-error-500);
        }

        igx-pivot-data-selector {
            border: 1px solid hsla(var(--ig-gray-200));
            margin: 0 8px;
        }
    }

}

igx-pivot-grid {
    flex: 1;
}

igx-pivot-data-selector {
    --ig-size: var(--ig-size-small);
}

.pivot-container {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    order: 0;
}
