:host .url {
  padding: 12px; }
  :host .url__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1; }
  :host .url__path {
    margin: 0;
    padding: 0;
    font-size: 13px; }

:host ::ng-deep p {
  margin: 0;
  padding: 12px; }
