.container {
  display: -ms-flexbox;
  display: flex;
  margin: 10px 30px;
  -ms-flex-pack: center;
      justify-content: center; }

.planet-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 0.8125rem; }

.planet {
  border: 1px solid #777;
  border-radius: 50%;
  margin: 0 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.moons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

.moon {
  border: 1px solid #777;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px; }

.moon-selected {
  background-color: #777;
  transition: all 600ms ease-in; }

.info {
  width: 400px;
  padding: 20px; }

@media only screen and (max-width: 800px) {
  .planet {
    margin: 0 5px; }
  .moon {
    margin: 1px; } }
