<div class="grid__wrapper">
        <igx-grid [igxPreventDocumentScroll]="true" #grid1 [data]="data" [width]="'100%'" [height]="'570px'" [groupingExpressions]="initialExpr">
            <igx-grid-toolbar>
                <button igxButton="raised" [igxToggleAction]="dropDown" [igxDropDownItemNavigation]="dropDown">Group By {{ groupByMode }}</button>
                <igx-drop-down #dropDown (selectionChanging)="selectionChange($event)">
                    <igx-drop-down-item *ngFor="let item of groupByOptions" [value]="item">
                        {{ item.name }}
                    </igx-drop-down-item>
                </igx-drop-down>
            </igx-grid-toolbar>
            <igx-column field="OrderID" header="Order ID" [hidden]="true" >
            </igx-column>
            <igx-column field="ShipCountry" header="Ship Country" width="200px" [groupable]="true">
            </igx-column>
            <igx-column field="OrderDate" header="Order Date" width="200px" [groupable]="true" dataType="date">
                <ng-template igxCell let-value>
                    {{ value | date:'shortDate' }}
                </ng-template>
            </igx-column>
            <igx-column field="PostalCode" header="Postal Code" width="200px" [groupable]="true">
            </igx-column>
            <igx-column field="Discontinued" header="Discontinued" width="200px" [groupable]="true">
                <ng-template igxCell let-cell="cell" let-val>
                        <img *ngIf="val" src="assets/images/grid/active.png" title="Continued" alt="Continued" />
                        <img *ngIf="!val" src="assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
                </ng-template>
            </igx-column>
            <igx-column field="ShipName" header="Ship Name" width="250px" [groupable]="true">
            </igx-column>
            <igx-column field="ShipCity" header="Ship City" width="250px" [groupable]="true">
            </igx-column>
            <igx-column field="ShipperName" header="Shipper Name" width="250px" [groupable]="true">
            </igx-column>
            <igx-column field="Salesperson" header="Salesperson" width="250px" [groupable]="true">
            </igx-column>
            <igx-column field="UnitPrice" header="Unit Price" width="150px" dataType="number" [groupable]="true" >
                <ng-template igxCell let-value>
                    {{ value | currency:'USD':'symbol-narrow'}}
                </ng-template>
            </igx-column>
            <igx-column field="Quantity" header="Quantity" width="150px" dataType="number" [groupable]="true">
            </igx-column>
            <ng-template igxGroupByRow let-groupRow>
                <div class="igx-group-label">
                    <igx-icon family="material" class="igx-group-label__icon">group_work</igx-icon>
                    <span class="igx-group-label__column-name">
                    {{ groupRow.expression.fieldName }}:
                    </span>
                    <span class="igx-group-label__text">{{ isDate(groupRow.value) ? (groupRow.value | date: dateFormatter)  : groupRow.value }}</span>
                    <igx-badge [value]="groupRow.records.length" class='igx-group-label__count-badge'></igx-badge>
                </div>
            </ng-template>
        </igx-grid>
</div>
