.grid-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 16px 24px;

    igx-switch {
        margin-top: 24px;
    }

}

.header {
    height: 100%;
}

.igx-grid__th .title {
    width: 100%;
    cursor: auto;
}

.igx-grid__tbody-content {
    height: 100% !important;
}
