<div class="sample-content">
  <section class="sample-column">
    <article class="icons-wrapper">
      <div class="icon-sample">
        <igx-icon color="rgb(52, 0, 104)" >sentiment_very_satisfied</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="black" >home</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#0375be" >airplanemode_active</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#e41c77" >favorite</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon [isActive]="false">search</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="rgb(52, 0, 104)" >notifications</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="black" >account_balance</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#0375be" >phone_iphone</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#e41c77" >pin_drop</igx-icon>
      </div>
      <div class="icon-sample">
        <igx-icon [isActive]="false">volume_off</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="rgb(52, 0, 104)" >person</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="black" >wifi</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#0375be" >laptop_mac</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#e41c77" >whatshot</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon [isActive]="false">cloud</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="rgb(52, 0, 104)" >school</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="black" >bluetooth</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#0375be" >headset</igx-icon>
      </div>

      <div class="icon-sample">
        <igx-icon color="#e41c77" >undo</igx-icon>
        </div>   

      <div class="icon-sample">
          <igx-icon [isActive]="false">keyboard_voice</igx-icon>
      </div>     

    </article>
  </section>
</div>