<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid1 [data]="data" [autoGenerate]="false" primaryKey="ID" foreignKey="ParentID" [showToolbar]="true" [allowAdvancedFiltering]="true" height="480px" width="100%" >
        <igx-column [field]="'Name'" dataType="string" [sortable]="true"></igx-column>
        <igx-column [field]="'Title'" dataType="string" [sortable]="true"></igx-column>
        <igx-column [field]="'Age'" dataType="number" [sortable]="true"></igx-column>
        <igx-column [field]="'HireDate'" dataType="date" [sortable]="true"></igx-column>
        <igx-column [field]="'OnPTO'" dataType="boolean" [sortable]="true"></igx-column>
    </igx-tree-grid>
</div>