@use "igniteui-angular/theming" as *;

$custom-query-builder: query-builder-theme(
    $background: #1f2836,
    $foreground: #f5f6e6,
    $accent-color: #f5f6e6
);

:host ::ng-deep {
    igx-advanced-filtering-dialog {
        @include tokens($custom-query-builder);
    }
}
