<div class="content-wrap">
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
      <ng-template igxDrawer>
        <nav>
          <span igxDrawerItem [isHeader]="true">Components</span>

          <span *ngFor="let item of componentLinks" routerLink="{{item.link}}"
            routerLinkActive #rla="routerLinkActive"
            igxDrawerItem igxRipple [active]="rla.isActive">
                {{item.name}}
          </span>
        </nav>
      </ng-template>
    </igx-nav-drawer>

    <main>
      <!-- <button (click)="drawer.toggle()"> Menu </button> -->
      <span igxButton="icon" igxToggleAction="navigation">
        <igx-icon fontSet="material">menu</igx-icon>
      </span>
    </main>
  </div>
