@use 'igniteui-angular/theming' as *;
@use 'variables' as *;
@use 'app-layout';

@include igx-core();
@include igx-typography();
@include igx-theme(
    $palette: $palette,
    $schema: $schema
);


/* autoprefixer grid: on */
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}
