.employees-container {
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
    }

    div+div {
        border-top-style: ridge
    }

    span {
        margin: 5px;
        max-width: 100px;
        min-width: 115px;
    }

    &--edit {
        div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            span {
                margin-right: 20px;
            }
        }

        div+div {
            border-top-style: solid;
            border-top-width: 5px;
            border-color: firebrick;
        }
    }
}

.grid__wrapper {
    margin: 0 auto;
    width: 950px;
}