<div class="sample-wrapper">
    <div class="grid__wrapper">
        <igx-grid #grid1 height="400px" [data]="data">
            <igx-column field="Name" header="Name"></igx-column>
            <igx-column field="Title" header="Title" width="20%"></igx-column>
            <igx-column field="Employees" header="Employees" width="40%" editable="true">
                <ng-template #nestedDataTemp igxCell let-cell="cell">
                    <div class="employees-container">
                        <div *ngFor="let employee of cell.value">
                            <span><strong>Name:</strong> {{employee.Name}} </span>
                            <span><strong>Title:</strong> {{employee.Title}} </span>
                            <span><strong>Age:</strong> {{employee.Age}} </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template igxCellEditor let-cell="cell">
                    <div class="employees-container--edit">
                        <div *ngFor="let employee of cell.value">
                            <span>
                                <strong>Name:</strong>
                                <igx-input-group>
                                    <input igxInput [(ngModel)]="employee.Name" />
                                </igx-input-group>
                            </span>
                            <span>
                            <strong>Title:</strong>
                            <igx-input-group>
                                <input igxInput [(ngModel)]="employee.Title" style="text-overflow:ellipsis" />
                            </igx-input-group>
                        </span>
                        <span style="width:10%">
                            <strong>Age:</strong>
                            <igx-input-group>
                                    <input igxInput type="number" [(ngModel)]="employee.Age"/>
                            </igx-input-group>
                        </span>
                        </div>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="Age" header="Age" width="10%"></igx-column>
            <igx-column field="HireDate" header="Hire Date">
                <ng-template igxCell let-cell="cell">
                    {{cell.value | date: 'short'}}
                </ng-template>
            </igx-column>
        </igx-grid>
    </div>
</div>