<igx-list class="employees">
    <igx-list-item [isHeader]="true">Team directory ({{ employees.length }})</igx-list-item>
    <igx-virtual-scroll class="employees__viewport" [data]="employees" [estimatedItemSize]="72">
        <ng-template igxVirtualItem let-employee let-index="index" let-count="count">
            <igx-list-item [attr.aria-posinset]="index + 1" [attr.aria-setsize]="count">
                <igx-avatar igxListThumbnail shape="circle" [initials]="employee.initials"></igx-avatar>
                <span igxListLineTitle>{{ employee.name }}</span>
                <span igxListLineSubTitle>{{ employee.email }}</span>
                @if (employee.bio) {
                    <span igxListLine class="employees__bio">{{ employee.bio }}</span>
                }
                <igx-chip igxListAction [variant]="employee.variant">{{ employee.department }}</igx-chip>
            </igx-list-item>
        </ng-template>
    </igx-virtual-scroll>
</igx-list>
