<div class="top-row">
    <igx-switch [(ngModel)]="rowEdit">Row edit</igx-switch>
</div>
<div class="grid__wrapper">
    <igx-tree-grid [igxPreventDocumentScroll]="true" #treeGrid [batchEditing]="true" [data]="data" primaryKey="ID"
        foreignKey="ParentID" [width]="'100%'" [height]="'500px'" [rowEditable]="rowEdit">
        <igx-column field="ID" header="ID" dataType="number" [editable]="false"></igx-column>
        <igx-column field="Age" header="Age" dataType="number" [editable]="true" required min="18" max="99"></igx-column>
        <igx-column field="Name" header="Full Name" dataType="string" [editable]="true" required></igx-column>
        <igx-column field="Title" header="Title" dataType="string" [editable]="true" required></igx-column>
        <igx-column field="HireDate" header="Hire Date" dataType="date" [editable]="true" required></igx-column>
        <igx-column field="OnPTO" header="On PTO" dataType="boolean" [editable]="true"></igx-column>
    </igx-tree-grid>
</div>
