<div class="sample-column card-wrapper">
    <igx-card>
        <igx-card-media height="180px">
            <img [src]="card.imageUrl">
        </igx-card-media>

        <igx-card-header>
            <h3 igxCardHeaderTitle>{{ card.title }}</h3>
            <h5 igxCardHeaderSubtitle>{{ card.subtitle }}</h5>
        </igx-card-header>

        <igx-card-content>
            <p>{{ card.content }}</p>
        </igx-card-content>

        <igx-card-actions>
            <button igxButton="icon"
                igxRipple
                igxRippleCentered="true"
                *ngFor="let icon of card.icons">
                <igx-icon color="#ECAA53">{{icon}}</igx-icon>
            </button>
        </igx-card-actions>

    </igx-card>
</div>
