@use "layout.scss";
@use "igniteui-angular/theming" as *;

$colorful-card: card-theme(
  $background: #011627,
  $header-text-color: #FEFEFE,
  $subtitle-text-color: #ECAA53,
  $content-text-color: #FEFEFE
);

@include css-vars($colorful-card);
 