<div class="sample-column card-wrapper">
  <igx-card elevated>
    <igx-card-media height="180px">
      <img src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png">
    </igx-card-media>
    <div class="border">
      <igx-card-header>
        <igx-avatar src="https://api.dicebear.com/7.x/miniavs/svg?seed=8"></igx-avatar>
        <div>
          <h6 igxCardHeaderTitle>{{ card.title }}</h6>
          <p igxCardHeaderSubtitle>{{ card.subtitle }}</p>
        </div>
      </igx-card-header>
      <igx-card-content>
        <igx-chip>#artic</igx-chip>
        <igx-chip>#fox</igx-chip>
        <igx-chip>#card</igx-chip>
        <igx-divider></igx-divider>
      </igx-card-content>
      <igx-card-actions>
        @for (icon of card.icons; track icon; let i = $index) {
          <button igxIconButton="flat">
            <igx-icon name={{icon}}></igx-icon>
          </button>
          @if (i < 2) { <igx-divider [vertical]="true">
            </igx-divider>
          }
        }
      </igx-card-actions>
    </div>
  </igx-card>
</div>