@use "layout.scss";
@use "igniteui-angular/theming" as *;

// CSS variables approach

igx-card {
    --border-radius: #{rem(8px)};
    --outline-color: #f0f0f0;
    --resting-shadow: none;
    --hover-shadow: none;
    --header-text-color: rgba(0, 0, 0, 0.88);
}

igx-avatar {
    --background: transparent;
    --size: #{rem(30px)};
}

igx-chip {
    --border-radius: #{rem(4px)};
    --background: #fafafa;
    --border-color: #d9d9d9;
    --hover-background: #d9d9d9;
    --focus-background: #d9d9d9;
}

.igx-icon-button--flat {
    --foreground: #00000073;
    --hover-foreground: #1677ff;
    --hover-background: none;
}

igx-divider {
    --color: #f0f0f0
}

// Sass theme approach

// $custom-card-theme: card-theme(
//     $border-radius: rem(8px),
//     $outline-color: #f0f0f0,
//     $resting-shadow: none,
//     $hover-shadow: none,
//     $header-text-color: #000000e0,
// );

// $custom-avatar-theme: avatar-theme(
//     $background: transparent,
//     $size: rem(30px)
// );

// $custom-chip-theme: chip-theme(
//     $border-radius: rem(4px),
//     $background: #fafafa,
//     $border-color: #d9d9d9,
//     $hover-background: #d9d9d9,
//     $focus-background: #d9d9d9,
// );

// $custom-icon-button-theme: flat-icon-button-theme(
//     $foreground: #00000073,
//     $hover-foreground: #1677ff,
//     $hover-background: none,
// );

// $custom-divider-theme: divider-theme(
//     $color: #f0f0f0
// );

// :host {
//     @include tokens($custom-card-theme);
//     @include tokens($custom-avatar-theme);
//     @include tokens($custom-chip-theme);
//     @include tokens($custom-divider-theme);
//     @include tokens($custom-icon-button-theme);
// }
