@use "igniteui-angular/theming" as *;

:host {
    ::ng-deep {
      .igx-chip__item {
          padding: 0 rem(5px);
          height: rem(22px);
        }
    }
}

.border {
    border: 0.0625rem solid var(--outline-color);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top: none;
}

.igx-card-header{
    width: unset;
    padding: unset;
    align-items: baseline;
    margin: 1.5rem 1.5rem 0 1.5rem;
    height: rem(70px);
}

.igx-card-content {
    padding: 0;

    igx-chip {
        padding: rem(5px);
    
        &:nth-of-type(1) {
            margin-left: rem(5px);
        }
    }

    igx-divider {
        margin-top: rem(5px);
    }
}

igx-icon {
    --igx-icon-size: #{rem(14px)};
}

igx-card-actions {
    justify-content: space-evenly;
    padding: 0.4rem 0;

    igx-divider { 
        height: 1.50rem;
    }
}
