<div  >
    <div class="sample-container" >

        <igx-linear-gauge
            #linearGauge
            height="80px" width="400px"
            minimumValue=0 value=50
            maximumValue=100 interval=10

            tickBrush="DodgerBlue"
            ticksPreTerminal=0
            ticksPostInitial=0
            tickStrokeThickness=2
            tickStartExtent=0.25
            tickEndExtent=0.05

            minorTickCount=4
            minorTickBrush="DarkViolet"
            minorTickEndExtent=0.05
            minorTickStartExtent=0.15
            minorTickStrokeThickness=1
 >
        </igx-linear-gauge>
    </div>
</div>
