<div class="grid__wrapper">
    <igx-grid #myGrid [data]="data" [height]="'530px'" width="100%" [rowSelectable]="true">
        <igx-column [field]="'ContactName'" [width]="'20%'"></igx-column>
        <igx-column [field]="'Country'" [width]="'20%'"></igx-column>
        <igx-column [field]="'City'" [width]="'20%'" dataType="number"></igx-column>
        <igx-column [field]="'PostalCode'" [width]="'20%'" dataType="number"></igx-column>
        <igx-column [field]="'CompanyName'" [width]="'20%'" dataType="number"></igx-column>

        <ng-template igxHeadSelector let-headContext>
            <div style="width: 53px; height: 100%;" (click)="myGrid.onHeadSelectorClick($event, filteredData)"></div>
        </ng-template>

        <ng-template igxRowSelector let-rowContext>
            <div style="width: 53px;">
                <span style="padding-right: 5px;">{{ (rowContext.index + 1) | number: '2.0-0'}}</span>
                <igx-checkbox [checked]="rowContext.selected"
                    (change)="!rowContext.selected ? myGrid.selectRows([rowContext.rowID]) : myGrid.deselectRows([rowContext.rowID])"
                    disableRipple="true" [disableTransitions]="myGrid.disableTransitions"
                    [aria-label]="myGrid.rowCheckboxAriaLabel" style="padding-right: 10px;">
                </igx-checkbox>
            </div>
        </ng-template>
    </igx-grid>
</div>