@use "layout.scss";

.button-group-style {
    --item-text-color: #6d28d9;
    --item-background: #ffffff;
    --item-border-color: #c4b5fd;
    --item-hover-text-color: #6d28d9;
    --item-hover-background: #fae8ff;
    --item-hover-border-color: #c4b5fd;
    --item-selected-text-color: #ffffff;
    --item-selected-background: #7c3aed;
    --item-selected-border-color: #c4b5fd;
    --item-selected-hover-text-color: #ffffff;
    --item-selected-hover-background: #7c3aed;
}
