@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$dark-tooltip: igx-tooltip-theme(
    $text-color: #ECAA53,
    $background: #011627,
    $border-radius: 6px
);

:host {
    @include igx-css-vars($dark-tooltip);
}
