@import '~igniteui-angular/lib/core/styles/themes/index';

$dark-tooltip: igx-tooltip-theme(
    $text-color: #ECAA53,
    $background: #011627,
    $border-radius: 6px
);

// :host {
//     @include igx-css-vars($dark-tooltip);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-tooltip($dark-tooltip);
}

