<div class="sample-column">
    <igx-navbar class="!material-navbar-background-[#7B9E89] ![--text-color:#121E17]" title="Sample App">
        <igx-navbar-action>
            <button class="!material-flat-icon-button-color-[#121E17]" igxIconButton="flat">
                <igx-icon>menu</igx-icon>
            </button>
        </igx-navbar-action>

        <button class="!material-flat-icon-button-color-[#121E17]" igxIconButton="flat">
            <igx-icon>search</igx-icon>
        </button>
        <button class="!material-flat-icon-button-color-[#121E17]" igxIconButton="flat">
            <igx-icon>favorite</igx-icon>
        </button>
        <button class="!material-flat-icon-button-color-[#121E17]" igxIconButton="flat">
            <igx-icon>more_vert</igx-icon>
        </button>
    </igx-navbar>
</div>
