<igx-input-group class="search" type="search">
    <input #searchBar igxInput placeholder="Search Contacts" [(ngModel)]="search" />
    <igx-prefix>
        <igx-icon>search</igx-icon>
    </igx-prefix>
    <igx-suffix *ngIf="searchBar.value.length > 0" (click)="search = null">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
</igx-input-group>

<div class="list-sample">

    <igx-list>
        <igx-list-item [isHeader]="true">Contacts: {{(data | igxFilter: fo).length}} </igx-list-item>
        <div [style.height]="'500px'" [style.overflow]="'hidden'" [style.position]="'relative'">
            <igx-list-item
                [style.width]="'calc(100% - 18px)'"
                igxRipple="pink"
                igxRippleTarget=".igx-list__item"
                *igxFor="let item of data | igxFilter: fo; scrollOrientation : 'vertical'; containerSize: '500px'; itemSize: '50px'">
                <div class="item-container">
                    <div class="contact">
                        <igx-avatar [src]="item.avatar" roundShape="true"></igx-avatar>
                        <div class="contact__info">
                            <span class="name">{{item.name}}</span>
                        </div>
                    </div>
                    <igx-icon [color]="item.favorite ? 'orange' : 'lightgray'">star</igx-icon>
                </div>
            </igx-list-item>
        </div>
    </igx-list>

</div>
