[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.calendar-wrapper {
  max-width: 600px;
  min-width: 200px;
  margin: 8px; }

.igx-calendar {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.08); }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
  --igx-calendar-border-radius: 4px;
  --igx-calendar-date-border-radius: 20px;
  --igx-calendar-month-border-radius: 20px;
  --igx-calendar-variant: material;
  --igx-calendar-content-background: #fdfdfd;
  --igx-calendar-picker-background-color: #fff;
  --igx-calendar-border-color: rgba(0, 0, 0, 0.12);
  --igx-calendar-content-text-color: black;
  --igx-calendar-header-background: #345779;
  --igx-calendar-header-text-color: #ffffff;
  --igx-calendar-picker-arrow-color: #2dabe8;
  --igx-calendar-picker-arrow-hover-color: #345779;
  --igx-calendar-picker-text-color: #2dabe8;
  --igx-calendar-picker-text-hover-color: #345779;
  --igx-calendar-inactive-text-color: rgba(0, 0, 0, 0.5);
  --igx-calendar-label-color: rgba(0, 0, 0, 0.5);
  --igx-calendar-weekend-text-color: rgba(0, 0, 0, 0.7);
  --igx-calendar-year-current-text-color: #2dabe8;
  --igx-calendar-month-current-text-color: #2dabe8;
  --igx-calendar-month-hover-current-text-color: #e41c77;
  --igx-calendar-year-hover-text-color: #2dabe8;
  --igx-calendar-month-hover-background: rgba(0, 0, 0, 0.08);
  --igx-calendar-month-hover-text-color: #2dabe8;
  --igx-calendar-date-selected-background: #345779;
  --igx-calendar-date-selected-text-color: #fdfdfd;
  --igx-calendar-date-current-text-color: #2dabe8;
  --igx-calendar-date-current-bg-color: #fdfdfd;
  --igx-calendar-date-hover-background: rgba(0, 0, 0, 0.12);
  --igx-calendar-date-special-background: rgba(0, 0, 0, 0.04);
  --igx-calendar-date-special-text-color: white;
  --igx-calendar-date-disabled-text-color: rgba(158, 158, 158, 0.6);
  --igx-calendar-date-disabled-background: rgba(0, 0, 0, 0.04); }

:host ::ng-deep .igx-calendar, :host ::ng-deep .igx-calendar--vertical {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  width: 100%;
  background: var(--igx-calendar-content-background);
  overflow: hidden;
  outline: none;
  border-radius: var(--igx-calendar-border-radius);
  border: 0 solid var(--igx-calendar-border-color); }

:host ::ng-deep .igx-calendar + .igx-calendar, :host ::ng-deep .igx-calendar--vertical + .igx-calendar, :host ::ng-deep .igx-calendar + .igx-calendar--vertical, :host ::ng-deep .igx-calendar--vertical + .igx-calendar--vertical {
  margin-left: 1rem; }

:host ::ng-deep .igx-calendar--vertical {
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
  :host ::ng-deep .igx-calendar--vertical .igx-calendar__header {
    min-width: 10.5em; }

:host ::ng-deep .igx-calendar__header {
  background: var(--igx-calendar-header-background);
  color: var(--igx-calendar-header-text-color);
  padding: 1em; }

:host ::ng-deep .igx-calendar__header-year {
  margin: 0;
  color: currentColor;
  opacity: .8; }

:host ::ng-deep .igx-calendar__header-date {
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  :host ::ng-deep .igx-calendar__header-date > span, :host ::ng-deep .igx-calendar--vertical .igx-calendar__header-date > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

:host ::ng-deep .igx-calendar--vertical .igx-calendar__header-date, .igx-calendar--vertical :host ::ng-deep .igx-calendar__header-date {
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }

:host ::ng-deep .igx-calendar-picker {
  display: -ms-flexbox;
  display: flex;
  height: 3.5em;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 1em;
  background: var(--igx-calendar-picker-background-color);
  position: relative; }
  :host ::ng-deep .igx-calendar-picker div {
    text-align: center; }

:host ::ng-deep .igx-calendar-picker__dates {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

:host ::ng-deep .igx-calendar-picker__prev, :host ::ng-deep .igx-calendar-picker__next {
  position: absolute;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: var(--igx-calendar-picker-arrow-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
  height: calc(100% - 1em);
  -ms-flex-align: center;
      align-items: center;
  top: 0; }
  :host ::ng-deep .igx-calendar-picker__prev:focus, :host ::ng-deep .igx-calendar-picker__next:focus, :host ::ng-deep .igx-calendar-picker__prev:hover, :host ::ng-deep .igx-calendar-picker__next:hover {
    color: var(--igx-calendar-picker-arrow-hover-color); }

:host ::ng-deep .igx-calendar-picker__prev {
  left: 0; }

:host ::ng-deep .igx-calendar-picker__next {
  right: 0; }

:host ::ng-deep .igx-calendar-picker__date {
  color: var(--igx-calendar-picker-text-color);
  text-align: center;
  outline: none;
  padding: 0 0.125rem; }
  :host ::ng-deep .igx-calendar-picker__date:hover, :host ::ng-deep .igx-calendar-picker__date:focus {
    color: var(--igx-calendar-picker-text-hover-color);
    cursor: pointer; }

:host ::ng-deep .igx-calendar__body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden; }

:host ::ng-deep .igx-calendar__body-row, :host ::ng-deep .igx-calendar__body-row--wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0.125em 0;
  padding: 0; }
  :host ::ng-deep .igx-calendar__body-row .igx-calendar__label:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__label:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--inactive:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--inactive:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--selected:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--selected:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--current:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--current:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--weekend:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--weekend:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--special:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--special:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--disabled:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--disabled:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__year:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__year:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__year--current:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__year--current:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__month:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__month:first-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__month--current:first-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__month--current:first-of-type {
    padding-left: 0.5em; }
  :host ::ng-deep .igx-calendar__body-row .igx-calendar__label:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__label:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--inactive:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--inactive:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--selected:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--selected:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--current:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--current:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--weekend:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--weekend:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--special:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--special:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__date--disabled:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__date--disabled:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__year:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__year:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__year--current:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__year--current:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__month:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__month:last-of-type, :host ::ng-deep .igx-calendar__body-row .igx-calendar__month--current:last-of-type, :host ::ng-deep .igx-calendar__body-row--wrap .igx-calendar__month--current:last-of-type {
    padding-right: 0.5em; }

:host ::ng-deep .igx-calendar__body-row--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

:host ::ng-deep .igx-calendar__body-column .igx-calendar__year, :host ::ng-deep .igx-calendar__body-column .igx-calendar__year--current {
  -ms-flex: 1 0 0px;
      flex: 1 0 0; }

:host ::ng-deep .igx-calendar__label, :host ::ng-deep .igx-calendar__date, :host ::ng-deep .igx-calendar__date--inactive, :host ::ng-deep .igx-calendar__date--selected, :host ::ng-deep .igx-calendar__date--current, :host ::ng-deep .igx-calendar__date--weekend, :host ::ng-deep .igx-calendar__date--special, :host ::ng-deep .igx-calendar__date--disabled, :host ::ng-deep .igx-calendar__year, :host ::ng-deep .igx-calendar__year--current, :host ::ng-deep .igx-calendar__month, :host ::ng-deep .igx-calendar__month--current {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 14.28%;
      flex-basis: 14.28%;
  color: var(--igx-calendar-content-text-color);
  cursor: pointer;
  outline: none; }

:host ::ng-deep .igx-calendar__date:hover .igx-calendar__date-content::after, :host ::ng-deep .igx-calendar__date:focus .igx-calendar__date-content::after {
  background: var(--igx-calendar-date-hover-background); }

:host ::ng-deep .igx-calendar__date--selected:hover .igx-calendar__date-content ::after, :host ::ng-deep .igx-calendar__date--selected:focus .igx-calendar__date-content ::after {
  background: rgba(255, 255, 255, 0.18); }

:host ::ng-deep .igx-calendar__date-content {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 2.5em;
  height: 2.5em;
  min-width: 2ch;
  border-radius: var(--igx-calendar-date-border-radius);
  z-index: 0; }
  :host ::ng-deep .igx-calendar__date-content::after {
    position: absolute;
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    border-radius: inherit;
    z-index: -1; }

:host ::ng-deep .igx-calendar__label {
  color: var(--igx-calendar-label-color);
  border-radius: 0;
  -ms-flex-preferred-size: 14.28%;
      flex-basis: 14.28%; }
  :host ::ng-deep .igx-calendar__label:hover, :host ::ng-deep .igx-calendar__label:focus {
    color: var(--igx-calendar-label-color); }

:host ::ng-deep .igx-calendar__date--weekend {
  color: var(--igx-calendar-weekend-text-color); }

:host ::ng-deep .igx-calendar__year, :host ::ng-deep .igx-calendar__year--current {
  margin: 0;
  min-width: 8ch;
  line-height: 3.25rem; }

:host ::ng-deep .igx-calendar__year--current {
  color: var(--igx-calendar-year-current-text-color); }

:host ::ng-deep .igx-calendar__year:hover, :host ::ng-deep .igx-calendar__year:focus {
  color: var(--igx-calendar-year-hover-text-color); }

:host ::ng-deep .igx-calendar__month:hover, :host ::ng-deep .igx-calendar__month:focus, :host ::ng-deep .igx-calendar__month--current:hover, :host ::ng-deep .igx-calendar__month--current:focus {
  color: var(--igx-calendar-month-hover-text-color); }
  :host ::ng-deep .igx-calendar__month:hover::after, :host ::ng-deep .igx-calendar__month:focus::after, :host ::ng-deep .igx-calendar__month--current:hover::after, :host ::ng-deep .igx-calendar__month--current:focus::after {
    background: var(--igx-calendar-month-hover-background); }

:host ::ng-deep .igx-calendar__month, :host ::ng-deep .igx-calendar__month--current {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.75em;
  -ms-flex: 1 0 25%;
      flex: 1 0 25%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 5.6875em;
  z-index: 1; }
  :host ::ng-deep .igx-calendar__month::after, :host ::ng-deep .igx-calendar__month--current::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    right: 0;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    height: 48px;
    background: transparent;
    border-radius: var(--igx-calendar-month-border-radius);
    transition: background-color .15s ease-out;
    z-index: -1; }

:host ::ng-deep .igx-calendar__month--current {
  color: var(--igx-calendar-month-current-text-color); }

:host ::ng-deep .igx-calendar__month--current:hover, :host ::ng-deep .igx-calendar__month--current:focus {
  color: var(--igx-calendar-month-hover-current-text-color); }

:host ::ng-deep .igx-calendar__date--inactive {
  cursor: pointer;
  color: var(--igx-calendar-inactive-text-color); }

:host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--single:hover {
  color: var(--igx-calendar-inactive-text-color); }

:host ::ng-deep .igx-calendar__date--special .igx-calendar__date-content {
  background: var(--igx-calendar-date-special-background);
  color: var(--igx-calendar-date-special-text-color);
  font-weight: 900; }

:host ::ng-deep .igx-calendar__date--selected {
  position: relative;
  background: var(--igx-calendar-date-selected-background); }
  :host ::ng-deep .igx-calendar__date--selected .igx-calendar__date-content {
    color: var(--igx-calendar-date-selected-text-color);
    background: var(--igx-calendar-date-selected-background); }

:host ::ng-deep .igx-calendar__date--current .igx-calendar__date-content {
  color: var(--igx-calendar-date-current-text-color);
  font-weight: 600;
  background: var(--igx-calendar-date-current-bg-color); }
  :host ::ng-deep .igx-calendar__date--current .igx-calendar__date-content:hover {
    background: var(--igx-calendar-date-current-bg-color); }
  :host ::ng-deep .igx-calendar__date--current .igx-calendar__date-content:focus {
    background: var(--igx-calendar-date-current-bg-color); }

:host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--current .igx-calendar__date-content {
  color: var(--igx-calendar-date-selected-text-color);
  background: var(--igx-calendar-date-selected-background); }
  :host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--current .igx-calendar__date-content:hover {
    background: var(--igx-calendar-date-selected-background); }
  :host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--current .igx-calendar__date-content:focus {
    background: var(--igx-calendar-date-selected-background); }

:host ::ng-deep .igx-calendar__date--disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--igx-calendar-date-disabled-text-color); }

:host ::ng-deep .igx-calendar__date--single, :host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--first.igx-calendar__date--last {
  background: transparent; }
  :host ::ng-deep .igx-calendar__date--single::before, :host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--first.igx-calendar__date--last::before, :host ::ng-deep .igx-calendar__date--single::after, :host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--first.igx-calendar__date--last::after {
    background: transparent; }

:host ::ng-deep .igx-calendar__date--disabled.igx-calendar__date--range {
  background: var(--igx-calendar-date-disabled-background) !important; }
  :host ::ng-deep .igx-calendar__date--disabled.igx-calendar__date--range .igx-calendar__date-content {
    color: var(--igx-calendar-date-disabled-text-color);
    background: transparent !important; }

:host ::ng-deep .igx-calendar__date--hidden.igx-calendar__date--disabled.igx-calendar__date--range {
  background: transparent !important; }
  :host ::ng-deep .igx-calendar__date--hidden.igx-calendar__date--disabled.igx-calendar__date--range::after, :host ::ng-deep .igx-calendar__date--hidden.igx-calendar__date--disabled.igx-calendar__date--range::before {
    background: transparent !important; }

:host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--range {
  background: transparent !important; }
  :host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--range .igx-calendar__date-content {
    color: var(--igx-calendar-date-disabled-text-color);
    background: transparent !important; }

:host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--range.igx-calendar__date--single, :host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--range.igx-calendar__date--first.igx-calendar__date--last {
  background: transparent !important; }
  :host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--range.igx-calendar__date--single .igx-calendar__date-content, :host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--range.igx-calendar__date--first.igx-calendar__date--last .igx-calendar__date-content {
    color: var(--igx-calendar-date-selected-text-color);
    background: var(--igx-calendar-date-selected-background) !important; }

:host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--first::after {
  background: transparent !important; }

:host ::ng-deep .igx-calendar__date--inactive.igx-calendar__date--selected.igx-calendar__date--last::before {
  background: transparent !important; }

:host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--first {
  position: relative;
  background: transparent;
  z-index: 0; }
  :host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--first::after {
    position: absolute;
    content: '';
    width: 50%;
    top: 0;
    left: 50%;
    bottom: 0;
    background: var(--igx-calendar-date-selected-background);
    z-index: -1; }

:host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--last {
  position: relative;
  background: transparent;
  z-index: 0; }
  :host ::ng-deep .igx-calendar__date--selected.igx-calendar__date--last::before {
    position: absolute;
    content: '';
    width: 50%;
    top: 0;
    right: 50%;
    bottom: 0;
    background: var(--igx-calendar-date-selected-background);
    z-index: -1; }

:host ::ng-deep .igx-calendar__date--hidden .igx-calendar__date-content {
  visibility: hidden; }
