<div class="chip-layout-item">
    <span>Text</span>
    <igx-chip>Chip</igx-chip>
</div>
<div class="chip-layout-item">
    <span>Prefix</span>
    <igx-chip>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
    </igx-chip>
</div>
<div class="chip-layout-item">
    <span>Prefix+Suffix</span>
    <igx-chip>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
        <igx-icon igxSuffix>account_circle</igx-icon>
    </igx-chip>
</div>
<div class="chip-layout-item">
    <span>Suffix</span>
    <igx-chip>
        Chip
        <igx-icon igxSuffix>account_circle</igx-icon>
    </igx-chip>
</div>
