@use '../../../../variables' as *;

igx-buttongroup {
    display: block;
    margin: 24px 4px;
}

.layout-box {
    width: 100%;
    background: color($color: 'gray', $variant: 200);
    padding: 8px;
    border-radius: 6px;
    margin-top: 24px;
}

.layout-box__el {
    height: 48px;
    padding: 10px 20px;
    margin: 8px;
    background: color($color: 'secondary');
    color: color($color: 'surface');
}
