<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <form class="input-group-form">
                <igx-input-group class="autocomplete">
                    <input igxInput #inputField name="items" type="text" [igxAutocomplete]='itemsPanel'
                        [ngModel]="selectedItem" (ngModelChange)="fakeModel.next($event)" />
                    <label igxLabel for="items">Products</label>
                    <igx-suffix igxRipple><igx-icon fontSet="material" (click)="onClear()">clear</igx-icon></igx-suffix>
                </igx-input-group>
                <igx-drop-down #itemsPanel maxHeight="300px">
                    <div class='progress-container' *ngIf="loading">
                        <igx-circular-bar class="circular-progress" [indeterminate]="true"></igx-circular-bar>
                    </div>
                    <div *ngIf="!loading">
                        <div *ngIf="noItems" class="igx-drop-down__item">
                            <span>No items found</span>
                        </div>
                        <igx-drop-down-item *ngFor="let item of data | async" [value]="item.ProductName">
                            {{ item.ProductName }}
                        </igx-drop-down-item>
                    </div>
                </igx-drop-down>
            </form>
        </article>
    </section>
</div>
