<igx-hierarchical-grid class="hierarchicalGrid" [data]="localdata" [autoGenerate]="false"
    [height]="'500px'" [width]="'100%'" [rowHeight]="'65px'" #hierarchicalGrid [columnWidth]='"400px"'>
    <igx-column #artist field="Artist">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Artist</span>
                <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(artist)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #photo field="Photo">
            <ng-template igxHeader>
                    <div class="title-inner">
                        <span style="float:left">Photo</span>
                        <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(photo)"></igx-icon>
                    </div>
                </ng-template>
        <ng-template igxCell let-cell="cell">
            <div class="cell__inner_2">
                <img [src]="cell.value" class="photo" />
            </div>
        </ng-template>
    </igx-column>
    <igx-column #debut field="Debut">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Debut</span>
                <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(debut)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #grammynominations field="Grammy Nominations">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Grammy Nominations</span>
                <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(grammynominations)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #grammyawards field="Grammy Awards">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Grammy Awards</span>
                <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(grammyawards)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>

    <igx-row-island [key]="'Albums'" [autoGenerate]="false" [columnWidth]='"400px"'>
        <igx-column field="Album">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Launch Date" [dataType]="'date'">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Billboard Review">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="US Billboard 200">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
    <igx-row-island [key]="'Songs'" [autoGenerate]="false" [columnWidth]='"500px"'>
            <igx-column field="No.">
                <ng-template igxHeader let-columnRef="column">
                    <div class="title-inner">
                        <span style="float:left"> {{columnRef.field}} </span>
                        <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="Title">
                <ng-template igxHeader let-columnRef="column">
                    <div class="title-inner">
                        <span style="float:left"> {{columnRef.field}} </span>
                        <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="Released">
                <ng-template igxHeader let-columnRef="column">
                    <div class="title-inner">
                        <span style="float:left"> {{columnRef.field}} </span>
                        <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="Genre">
                <ng-template igxHeader let-columnRef="column">
                    <div class="title-inner">
                        <span style="float:left"> {{columnRef.field}} </span>
                        <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                    </div>
                </ng-template>
            </igx-column>
    </igx-row-island>
    </igx-row-island>

    <igx-row-island [key]="'Tours'" [autoGenerate]="false" [columnWidth]='"400px"'>
        <igx-column field="Tour">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Started on">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Location">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Headliner">
            <ng-template igxHeader let-columnRef="column">
                <div class="title-inner">
                    <span style="float:left"> {{columnRef.field}} </span>
                    <igx-icon class="pin-icon" fontSet="fas" name="fa-thumbtack" (click)="toggleColumn(columnRef)"></igx-icon>
                </div>
            </ng-template>
        </igx-column>
    </igx-row-island>
</igx-hierarchical-grid>
