.grid__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  margin: 15px; }

.advanced-dialog {
  margin-bottom: 2px;
  width: 800px;
  height: 350px; }
