<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <form>
                <h4 class="sample-title">Line Type</h4>
                <igx-input-group type="line">
                    <input igxInput name="fullName1" type="text" />
                    <label igxLabel for="fullName1">Full Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <h4 class="sample-title">Box Type</h4>
                <igx-input-group type="box">
                    <input igxInput name="fullName2" type="text" />
                    <label igxLabel for="fullName2">Full Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <h4 class="sample-title">Border Type</h4>
                <igx-input-group type="border">
                    <input igxInput name="fullName3" type="text" />
                    <label igxLabel for="fullName3">Full Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <h4 class="sample-title">Search Type</h4>
                <igx-input-group type="search">
                    <input #input1 igxInput placeholder="Search" />
                    <igx-prefix>
                        <igx-icon>search</igx-icon>
                    </igx-prefix>
                    <igx-suffix *ngIf="input1.value.length > 0" (click)="clearSearchInput()">
                        <igx-icon>clear</igx-icon>
                    </igx-suffix>
                    <igx-suffix>
                        <igx-icon>mic</igx-icon>
                    </igx-suffix>
                </igx-input-group>
            </form>
        </article>
    </section>
</div>
