@use '../../../../variables' as *;

.carousel-wrapper {
    width: 60%;
}

.carousel-animation-wrapper {
    margin: 20px auto;
    display: flex;
}

:host ::ng-deep {
    .promo-price {
        position: relative;
        display: flex;
        background: rgba(igx-color($palette: $palette, $color: 'surface'), .54);
        color: igx-contrast-color($color: 'surface');
        padding: 1rem;
        border-bottom: transparent 1px solid;
        backdrop-filter: blur(10px);
    }

    .description {
        font-size: 1.2rem;
        color: black;
    }

    .titles {
        display: inline-flex;
        flex-flow: column;
        margin-left: 1rem;
        align-self: center;

        .subTitle{
            font-size: 1rem;
            font-weight: 600;
            color: igx-color($color: 'grays', $variant: 600);
        }
    }

    .price {
        padding-left: .5rem;
        font-size: 1.5rem;
        color: igx-color($color: secondary);
    }

    igx-list {
        justify-content: space-between;
    }

    igx-list-item {
        padding: 0 16px;
        cursor: pointer;
        transition: all .25s $ease-out-quad;
        will-change: filter, opacity;
        border-radius: 0 8px 8px 0;

        img {
            margin: 8px;
            border-radius: 8px;
        }

        &.disabled {
            filter: blur(2px);
            opacity: .5;

            &:hover {
                opacity: 1;
                filter: none;
            }
        }
    }
}
