<div class="carousel-animation-wrapper">
    <div class="carousel-wrapper">
        <igx-carousel [loop]="true" [navigation]="false" [pause]="false" animationType="fade" [interval]="2000">
            <div class="slide-wrapper">
                <igx-slide *ngFor="let slide of slides">
                            <img src="{{slide.image}}.png" >
                        <div class="text-container">
                                <span class="description">
                                        {{slide.description}}
                                </span>
                                <span class="price">{{slide.price | currency: 'USD': 'symbol': '3.0'}}</span>
                        </div>
                    </igx-slide>
            </div>
            <ng-template igxCarouselIndicator></ng-template>
        </igx-carousel>
    </div>
    <div class="list-wrapper">
            <igx-list>
                    <igx-list-item *ngFor="let item of slides; let i=index">
                        <div class="item-wrapper" [ngClass]="{'disabled': i !== currentIndex}">
                            <span class="image"><img  src="{{item.image}}Thumb.png" ></span>
                            <span class="titles">
                                <h6>{{item.title}}</h6>
                                <span class="list-item-text">{{item.subTitle}}</span>
                            </span>    
                        </div>
                    </igx-list-item>
            </igx-list>
    </div>
</div>