.carousel-wrapper {
    height: 80%;
    width: 60%;
}

.list-wrapper {
    display: inline-flex;
    margin-left: 5px;
    padding: 0;
}

.carousel-animation-wrapper {
    height: 750px;
    margin: 20px auto;
    display: flex;
}

:host ::ng-deep {
    igx-list {
        height: 85%;
    }

    .slides-wrapper {

        .text-container {
            height: fit-content;
            margin-left: 1.5rem;
            width: 90%;
            padding: 0 1rem 1rem 1rem;
            display: flex;
            position: absolute;
            top: 10px;
            background: rgba(255, 255, 255, 0.6);
            align-items: center;

            .description {
                font-size: 1.56rem;
            }

            .price {
                margin-left: 0.4rem;
                font-size: 2rem;
                color: #e41c77;
            }
        }
    }

    .item-wrapper {
        display: flex;

        .titles {
            display: inline-flex;
            flex-flow: column;
            margin-left: 1rem;
            align-self: center;
        }

        .list-item-text {
            font-size: 1rem;
            font-weight: 600;
            color: #585858cc;
        }

        &.disabled{
            opacity: .5;
        }
    }

}