<div class="carousel-animation-wrapper">
  <div class="carousel-wrapper">
    <igx-carousel [navigation]="false" [indicators]="false" [pause]="false" animationType="fade" [interval]="2000" [gesturesSupport]="false">
      @for (item of slides; track item) {
        <igx-slide #slide>
          <div style="height: 100%" [ngStyle]="slideStyle(item.image)">
            <section class="promo-price" [ngClass]="{'animated': slide.active}">
              <div class="description">{{ item.description }}</div>
              <div class="price">{{ item.price | currency: 'USD': 'symbol': '3.0' }}</div>
            </section>
          </div>
        </igx-slide>
      }
    </igx-carousel>
  </div>
  <div class="list-wrapper">
    <igx-list>
      @for (item of slides; track item; let i = $index) {
        <igx-list-item [ngClass]="{'disabled': i !== currentIndex }" >
          <img igxListThumbnail src="{{item.thumb}}" />
          <div class="titles">
            <h6>{{item.title}}</h6>
            <span class="subTitle">{{item.subTitle}}</span>
          </div>
        </igx-list-item>
      }
    </igx-list>
  </div>
</div>
