.sample-holder {
    padding: 30px;
    border: 1px dotted #ddd;
    margin: 0 auto;
    width: 700px;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 650px;
}
.chiparea{
    width: 640px;
    margin-top: 1.5em;
    flex-flow: wrap;
}
.chips{
    z-index: 1;
}

:host ::ng-deep .igx-drop-down {
    z-index: 2;
}

.igx-drop-down__item {
    margin: 0.75em 0em;
}

.igx-drop-down__item ::ng-deep .igx-avatar__image {
    padding: 0.75em;
}

.emailText{
    margin: 0px;
    height: 300px;
    margin-top: 1.5em;
    width: 640px;
    resize: none;
    line-height: 1em;
    font-size: 1em;
    min-width: 0;
    overflow: visible;
    font-family: inherit;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    outline-style: none;
    box-shadow: none;
}

.emailText{
    height: 270px;
}

.emailText:focus{
    cursor: text;
}