[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

:host ::ng-deep ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #eaeaea; }

:host ::ng-deep ::-webkit-scrollbar-thumb {
  background-color: #bcbcbc; }

:host ::ng-deep .igx-switch__label {
  line-height: 1rem; }

.tlb {
  display: -ms-flexbox;
  display: flex;
  max-width: 734px; }

.grid-wrapper {
  width: 50wh;
  height: 364px;
  margin-top: 7px; }
