@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-theme: grid-theme(
  $pinned-border-width: 5px,
  $pinned-border-style: double,
  $pinned-border-color: #ffcd0f,
  $cell-active-border-color: #ffcd0f
);

:host {
  @include tokens($custom-theme);
}
