@import '~igniteui-angular/lib/core/styles/themes/index';

/* Custom Theming */

$custom-theme: igx-grid-theme(
    $pinned-border-width: 5px,
    $pinned-border-style: double,
    $pinned-border-color: #FFCD0F,
    $cell-active-border-color: #FFCD0F
);

// $primary-color: #292826;
// $secondary-color: #ffcd0f;

/* Using Custom Palette */

// $custom-palette: igx-palette(
//     $primary: $primary-color,
//     $secondary: $secondary-color
// );

// $custom-theme: igx-grid-theme(
//     $pinned-border-width: 5px,
//     $pinned-border-style: double,
//     $pinned-border-color: igx-color($custom-palette, "secondary", 500),
//     $cell-active-border-color: igx-color($custom-palette, "secondary", 500)
// );

/* Using Custom Schema */

// $custom-grid-schema: extend($_light-grid, (
//     pinned-border-width: 5px,
//     pinned-border-style: double,
//     pinned-border-color: (igx-color:("secondary", 500)),
//     cell-active-border-color: (igx-color:("secondary", 500))
// ));
    

// $my-custom-schema: extend($light-schema, (
//     igx-grid: $custom-grid-schema
// ));

// $custom-theme: igx-grid-theme(
//     $palette: $custom-palette,
//     $schema: $my-custom-schema
// );

:host {
    ::ng-deep{
        @include igx-grid($custom-theme);
    }
}

.grid-container {
    display: flex;
    padding: 20px;
}
