<div class="grid__wrapper">
<igx-hierarchical-grid [igxPreventDocumentScroll]="true" #hierarchicalGrid [moving]="true" [data]="localdata" [height]="'630px'" [width]="'100%'">
    <igx-paginator [perPage]="15"></igx-paginator>
    <igx-column #customerid field="CustomerID">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">CustomerID</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(customerid)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #companyname field="CompanyName" width="150px">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">CompanyName</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(companyname)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #contactname field="ContactName" width="150px">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">ContactName</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(contactname)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #contacttitle field="ContactTitle" width="150px">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">ContactTitle</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(contacttitle)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #address field="Address">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Address</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(address)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #city field="City">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">City</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(city)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #postalcode field="PostalCode">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">PostalCode</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(postalcode)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #country field="Country">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Country</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(country)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #phone field="Phone">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Phone</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(phone)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>
    <igx-column #fax field="Fax">
        <ng-template igxHeader>
            <div class="title-inner">
                <span style="float:left">Fax</span>
                <igx-icon class="pin-icon" [attr.draggable]="false" family="fas" name="fa-thumbtack" (click)="toggleColumn(fax)"></igx-icon>
            </div>
        </ng-template>
    </igx-column>

    <igx-row-island [height]="null" [key]="'Orders'" [autoGenerate]="false" [moving]="true">
            <igx-column field="OrderID"></igx-column>
            <igx-column field="EmployeeID"></igx-column>
            <igx-column field="OrderDate" [dataType]="'date'"></igx-column>
            <igx-column field="RequiredDate" [dataType]="'date'"></igx-column>
            <igx-column field="ShippedDate" [dataType]="'date'"></igx-column>
            <igx-column field="ShipVia"></igx-column>
            <igx-column field="Freight"></igx-column>
            <igx-column field="ShipName"></igx-column>
            <igx-column field="ShipAddress"></igx-column>
            <igx-column field="ShipCity"></igx-column>
            <igx-column field="ShipPostalCode"></igx-column>
            <igx-column field="ShipCountry"></igx-column>
        <igx-row-island [height]="null" [key]="'OrderDetails'" [autoGenerate]="false" [moving]="true">
                <igx-column field="ProductID"></igx-column>
                <igx-column field="UnitPrice"></igx-column>
                <igx-column field="Quantity"></igx-column>
                <igx-column field="Discount"></igx-column>
        </igx-row-island>
    </igx-row-island>

</igx-hierarchical-grid>
</div>
