@use 'igniteui-angular/theming' as *;
@forward 'igniteui-angular/theming';

$palette: $light-material-palette;
$schema: $light-material-schema;

$default-palette: $palette;

$green-palette: palette(
    $primary: #09f,
    $secondary: #72da67,
    $grays: #fff,
    $surface: #333
);

$grays-btn-color: color($green-palette, 'grays', 800);
