@use 'igniteui-angular/theming' as *;
@use 'variables' as *;
@use 'app-layout';

/* autoprefixer grid: on */
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

@include core();
@include typography();
@include theme(
    $palette: $palette,
    $schema: $schema
);
