@use 'igniteui-angular/theming' as *;
@use 'variables' as *;
@use 'app-layout';

/* autoprefixer grid: on */
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

@include core();
@include typography();
@include theme(
    $palette: $palette,
    $schema: $schema
);

:root {
    @include palette($palette);
}

.light-theme {
    @include light-theme($palette);
}

$dark-grid-theme: grid-theme(
	$palette: $green-palette,
	$schema: $dark-schema,
	$row-selected-background: #1f3823,
	$row-selected-hover-background: #244229,
	$cell-selected-within-background: #1f3823,
	$header-selected-background: #476744,
	$row-odd-background: #222222,
	$row-even-background: #222222,
	$header-background: #2a2a2a,
	$row-hover-background:#2a2a2a,
	$drop-area-background: #323232
);

.dark-theme {
    .grid-chart-contextmenu-wrapper {
        @include fluent-dark-theme($fluent-excel-palette);
    }

    .actionPane {
        background-color: #212121;
    }
}

.fin-dark-theme {
	::-moz-placeholder {
		opacity: 1;
	}
}

.dark-theme,
.fin-dark-theme {
	background: #333;
	color: #fff;
	@include dark-theme($palette: $green-palette);
	@include css-vars($dark-grid-theme);
}
