<igx-geographic-map
    #map
    name="map"
    width="100%"
    height="calc(100% - 60px)"
    zoomable="true" >
    <igx-geographic-shape-series
    #shapeSeries
    name="polygonSeries"
    shapeMemberPath="points"
    shapeFill="rgba(184, 183, 183, 0.5)"
    shapeStroke="Black"
    shapeStrokeThickness={1.0} >
    </igx-geographic-shape-series>
    <igx-geographic-polyline-series
    #polylineSeries
    name="polylineSeries"
    shapeMemberPath="points"
    shapeStroke="rgba(13, 124, 252, 0.9)"
    thickness={2.0} >
    </igx-geographic-polyline-series>
    <igx-geographic-symbol-series
    #symbolSeries
    name="symbolSeries"
    longitudeMemberPath="longitude"
    latitudeMemberPath="latitude"
    markerType="Circle"
    markerOutline="Red"
    markerBrush="White" >
    </igx-geographic-symbol-series>
</igx-geographic-map>

<ng-template let-series="series" let-item="item" #polylineTooltip>
    <div>
        <span>
        Cable: {{item.name}}
        </span>
        <br />
        <span>
        Length: {{item.distance}}
        </span>
    </div>
</ng-template>

<ng-template let-series="series" let-item="item" #shapeTooltip>
    <div>
        <span>
            Country: {{item.name}}
        </span>
        <br />
        <span>
            Population: {{item.population}}
        </span>
    </div>
</ng-template>

<ng-template let-series="series" let-item="item" #pointTooltip>
    <div>
        <span [style.color]="series.brush">
            City: {{item.city}}
        </span>
        <br />
        <span>
            Population: {{item.population}}
        </span>
    </div>
</ng-template>
