<div class="grid__wrapper">
    <div class="controls-holder">
        <div class="control-item">
            <ul>
                <li>Leave the page by navigating to the <a [routerLink]="['../tree-grid-state-about']"><strong>ABOUT</strong></a> page or hitting the Save button, the current grid state will be stored in the localStorage object.</li>
                <li>To restore the previous grid state, use the <strong><igx-icon class="desc-icon">refresh</igx-icon> Restore Grid State</strong> button.</li>
                <li>To restore a specific feature state, click on the corresponding restore action button.</li>
                <li>Use the switch buttons to stop saving state for the corresponding feature.</li>
            </ul>
        </div>
        <p class="category-title">Features to include in the grid state persistance:</p>
        <div class="switches">
            <div class="control-item" *ngFor="let f of features">
                <igx-switch [(ngModel)]="options[f.key]" (change)="onChange($event, f.key, state)">{{ f.shortName }}</igx-switch>
            </div>
            <div class="control-item">
                <igx-switch [(ngModel)]="serialize">Serialize</igx-switch>
            </div>
        </div>
        <p class="category-title">Restore actions:</p>
        <div class="switches">
            <div class="control-item" *ngFor="let f of features">
                <button igxButton="raised" (click)="restoreFeature(state, f.key)">{{ f.shortName }}</button>
            </div>
        </div>
        <p class="category-title">Grid state actions:</p>
        <div class="switches" style="justify-content: flex-start;">
            <div class="control-item" style="margin-right: 10px;">
                <button igxButton="raised" (click)="saveGridState()"><igx-icon class="btn-icon">save</igx-icon> Save Current State</button>
            </div>
            <div class="control-item" style="margin-right: 10px;">
                <button igxButton="raised" (click)="resetGridState()"><igx-icon class="btn-icon">clear</igx-icon> Reset Current State</button>
            </div>
            <div class="control-item">
                <button igxButton="raised" (click)="restoreGridState()"><igx-icon class="btn-icon">delete</igx-icon> Delete State from localStorage</button>
            </div>
        </div>
    </div>

    <igx-tree-grid #treeGrid [id]="treeGridId" igxGridState
        primaryKey="Name"
        [data]="localData"
        childDataKey="Employees"
        displayDensity="cosy"
        width="100%" height="800px" 
        [autoGenerate]="false"
        [rowSelection]="'multiple'"
        [paging]="true"
        [allowFiltering]="true"
        [columnHiding]="true"
        [columnPinning]="true">
        <igx-column field="Name" dataType="string" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true" [hasSummary]="true"></igx-column>
        <igx-column field="HireDate" dataType="date" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
        <igx-column field="Age" dataType="number" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
    </igx-tree-grid>
</div>