@use "igniteui-theming/sass/typography" as *;

:host {
    container-type: inline-size;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-content: center;
    height: 100vh;
}

.states-matrix {
    display: grid;
    grid-template-columns: auto repeat(3, minmax(rem(124px), 1fr));
    gap: rem(16px);
    inline-size: 100%;
    max-inline-size: rem(680px);
    margin-inline: auto;
}

.states-row {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
}

.row-label,
.column-label,
.cell-label {
    @include type-style("body-2") {
        margin: 0;
    }

    color: var(--ig-gray-700);
}

.column-label,
.cell-label {
    text-align: center;
}

.cell-label {
    display: none;
}

.state-cell {
    display: grid;
    gap: rem(4px);
}

igx-icon {
    --ig-icon-size: #{rem(16px)};
}

@container (width < 34rem) {
    .states-matrix {
        grid-template-columns: minmax(0, 1fr);
    }

    .states-row {
        grid-template-columns: repeat(auto-fit, minmax(rem(150px), 1fr));
    }

    header.states-row {
        display: none;
    }

    .row-label {
        grid-column: 1 / -1;
    }

    .cell-label {
        display: block;
        text-align: start;
        margin-block-start: rem(16px);
    }

    .state-cell {
        margin-inline-end: rem(8px);
    }
}

// WARNING START: Demo overrides only. Do not copy to production.
// Forced state classes are used here solely to present all component states visually.
igx-buttongroup{
    pointer-events: none;
}

.state-hover:not(.state-selected) {
    background: var(--item-hover-background);
    border-color: var(--item-hover-border-color);
    color: var(--item-hover-text-color);
}

.state-idle.state-selected {
    background: var(--item-active-background);
    border-color: var(--item-active-border-color);
    color: var(--item-active-text-color);
}

.state-focused:not(.state-selected) {
    background: var(--item-focused-hover-background);
    border-color: var(--item-focused-hover-border-color);
    color: var(--item-focused-hover-text-color);
}

.state-hover.state-selected {
    background: var(--item-selected-active-background);
    border-color: var(--item-selected-active-border-color);
    color: var(--item-selected-hover-text-color);
}

.state-focused.state-selected {
    background: var(--item-selected-active-background);
    border-color: var(--item-selected-active-border-color);
    color: var(--item-focused-hover-text-color);
}
// WARNING END
