.button-group-interaction-states {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.button-group-interaction-states-row {
    display: grid;
    grid-template-columns: 120px 164px 164px 164px;
    align-items: center;
    gap: 16px;
}

.button-group-interaction-states .row-label,
.button-group-interaction-states .column-label {
    color: #556c86;
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.button-group-interaction-states .column-label {
    text-align: center;
}

.button-group-interaction-states igx-buttongroup {
    width: 164px;
}

.button-group-interaction-states button {
    width: 100%;
    gap: 4px;
}

.button-group-interaction-states igx-icon {
    --ig-icon-size: 16px;
}

.button-group-interaction-states button.state-hover:not(.state-selected) {
    background: var(--item-hover-background);
    border-color: var(--item-hover-border-color);
    color: var(--item-hover-text-color);
}

.button-group-interaction-states button.state-idle.state-selected {
    background: var(--item-active-background);
    border-color: var(--item-active-border-color);
    color: var(--item-active-text-color);
}

.button-group-interaction-states button.state-focused:not(.state-selected) {
    background: var(--item-focused-hover-background);
    border-color: var(--item-focused-hover-border-color);
    color: var(--item-focused-hover-text-color);
}

.button-group-interaction-states button.state-hover.state-selected {
    background: var(--item-selected-active-background);
    border-color: var(--item-selected-active-border-color);
    color: var(--item-selected-hover-text-color);
}

.button-group-interaction-states button.state-focused.state-selected {
    background: var(--item-selected-active-background);
    border-color: var(--item-selected-active-border-color);
    color: var(--item-focused-hover-text-color);
}
