<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <igx-input-group type="search">
                <input igxInput placeholder="Search Contacts" [(ngModel)]="search" />
                <label igxLabel>
                    <igx-icon>search</igx-icon>
                </label>
                <igx-suffix>
                    <igx-icon>clear</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <div class="list-sample">
                <igx-list>
                    <igx-list-item [isHeader]="true">Contacts: {{(data | igxFilter: fo).length}} </igx-list-item>
                    <div [style.height]="'518px'">
                        <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item"
                                       *igxFor="let item of data | igxFilter: fo; scrollOrientation : 'vertical'; containerSize: '500px'; itemSize: '50px'">
                            <div class="item">
                                <igx-avatar [src]="item.avatar" roundShape="true"></igx-avatar>
                                <span>{{item.name}}</span>
                                <igx-icon name="star" [class.favorite]="item.favorite"></igx-icon>
                            </div>
                        </igx-list-item>
                    </div>
                </igx-list>
            </div>
        </article>
    </section>
</div>
