<div class="sample-wrapper container">
    <div class="options">
        <div>
            <label width="130px" class="optionLabel" >Chart Type: </label>
            <select class="optionSelector" [(ngModel)]="sampleOptions.chartType">
                <option>Column</option>
                <option>Area</option>
                <option>Line</option>
                <option>Point</option>
                <option>Spline</option>
                <option>SplineArea</option>
                <option>StepArea</option>
                <option>StepLine</option>
            </select>

            <label class="optionItem"><input [(ngModel)]="sampleOptions.calloutsVisible" type="checkbox" />Enable Callouts</label>
            <label class="optionItem"><input [(ngModel)]="sampleOptions.finalValuesVisible" type="checkbox" />Enable Final Value Annotations</label>
        </div>
        <div>
            <label width="130px" class="optionLabel">Crosshairs: </label>
            <select class="optionSelector" [(ngModel)]="sampleOptions.crosshairsDisplay">
                <option>Default</option>
                <option>None</option>
                <option>Horizontal</option>
                <option>Vertical</option>
                <option>Both</option>
            </select>

            <label class="optionItem"><input [(ngModel)]="sampleOptions.snapCrosshairs" type="checkbox" />Snap Crosshairs to Data</label>
            <label class="optionItem"><input [(ngModel)]="sampleOptions.crosshairAnnotations" type="checkbox" />Enable Crosshairs Annotations</label>
        </div>
    </div>

    <div class="chart">
        <igx-category-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="categoryData"
            [chartType]="sampleOptions.chartType"
            chartTitle="Weather Data"
            subtitle="(High, Low)"
            xAxisInterval="1"
            yAxisMinimumValue="60"
            yAxisMaximumValue="110"
            [xAxisFormatLabel]="formatDateLabel"
            [includedProperties]="include"

            [crosshairsDisplayMode]="sampleOptions.crosshairsDisplay"
            [crosshairsSnapToData]="sampleOptions.snapCrosshairs"
            [crosshairsAnnotationEnabled]="sampleOptions.crosshairAnnotations"

            [finalValueAnnotationsVisible]="sampleOptions.finalValuesVisible"

            [calloutsVisible]="sampleOptions.calloutsVisible"
            [calloutsDataSource]="categoryData"
            calloutsXMemberPath="index"
            calloutsYMemberPath="value"
            calloutsLabelMemberPath="content">
        </igx-category-chart>

    </div>
</div>
