<article class="sample-column">
    <form>
        <igx-input-group>
            <input igxInput [igxTextSelection]="true" [(ngModel)]="person.fullName" name="fullName" type="text"/>
            <label igxLabel for="fullName">Full Name</label>
        </igx-input-group>
        <igx-input-group>
            <input igxInput [igxTextSelection]="true" [igxFocus]="isFocused" [(ngModel)]="person.email"  name="email" type="text" />
            <label igxLabel for="email">Email</label>
        </igx-input-group>
    </form>
</article>
