<div class="grid__wrapper">
    <span style="display: flex">
        <igx-buttongroup [values]="selectionModes" (onSelect)="selectCellSelectionMode($event)"></igx-buttongroup>
        <igx-snackbar #snackbar actionText="Got it. Thanks!" (onAction)="snackbar.hide()">
            <div class="container">
                <igx-icon>notification_important</igx-icon>
                <ng-container *ngIf="selectionMode === 'multiple'">
                    <ul>
                        <li><b>This is the default selection behavior.</b></li>
                        <li>Click on a cell and while pressing the mouse key perform drag action.
                        </li>
                        <li>Select a cell and press Shift + Arrow down key, this will start range selection as well.
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="selectionMode === 'single'">
                    <ul>
                        <li><b>Now you can select only one cell within the grid.</b></li>
                        <li>On single cell click the previous selection state will be cleared.</li>
                        <li>The mouse drag will not work and instead of selecting a cell, this will make default text
                            selection.</li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="selectionMode === 'none'">
                    <ul>
                        <li><b>Now you are unable to select a cell while interacting with grid UI.</b></li>
                        <li>If you need to select a cell, you can use the grid API methods.</li>
                    </ul>
                </ng-container>
            </div>
        </igx-snackbar>
    </span>
    <br />
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="data" [height]="'530px'" [width]="'100%'" primaryKey="ID" foreignKey="ParentID"
        [cellSelection]="selectionMode">
        <igx-column [field]="'ID'"></igx-column>
        <igx-column [field]="'Name'"></igx-column>
        <igx-column [field]="'Age'" [dataType]="'number'"></igx-column>
        <igx-column [field]="'Title'"></igx-column>
        <igx-column [field]="'HireDate'" [dataType]="'boolean'">
        </igx-column>
        <igx-column [field]="'OnPTO'" [dataType]="'date'"></igx-column>
    </igx-tree-grid>
</div>