<igx-hierarchical-grid igxPreventDocumentScroll  #hierarchicalGrid [data]="localdata" [height]="'500px'" [width]="'100%'" displayDensity="compact" [allowFiltering]="true">
    <igx-column field="CustomerID" [movable]="true" sortable="true" resizable="true"></igx-column>
    <igx-column-group [movable]="true" [pinned]="false" header="General Information">
        <igx-column field="CompanyName" [movable]="true" sortable="true" resizable="true"></igx-column>
        <igx-column-group [movable]="true" header="Personal Details">
            <igx-column field="ContactName" [movable]="true" sortable="true" resizable="true"></igx-column>
            <igx-column field="ContactTitle" [movable]="true" sortable="true" resizable="true"></igx-column>
        </igx-column-group>
    </igx-column-group>
    <igx-column-group header="Address Information">
        <igx-column-group header="Location">
            <igx-column field="Address" [movable]="true" sortable="true" resizable="true"></igx-column>
            <igx-column field="City" [movable]="true" sortable="true" resizable="true"></igx-column>
            <igx-column field="PostalCode" [movable]="true" sortable="true" resizable="true"></igx-column>
            <igx-column field="Country" [movable]="true" sortable="true" resizable="true"></igx-column>
        </igx-column-group>
        <igx-column-group header="Contact Information">
            <igx-column field="Phone" sortable="true" resizable="true"></igx-column>
            <igx-column field="Fax" sortable="true" resizable="true"></igx-column>
        </igx-column-group>
    </igx-column-group>

    <igx-row-island [key]="'Orders'" [autoGenerate]="false">
        <igx-column-group header="Order Information">
            <igx-column-group header="Order Details">
                <igx-column field="OrderID" [movable]="true" sortable="true" resizable="true"></igx-column>
                <igx-column field="EmployeeID" [movable]="true" sortable="true" resizable="true"></igx-column>
                <igx-column field="OrderDate" [movable]="true" sortable="true" resizable="true" [dataType]="'date'"></igx-column>
                <igx-column field="RequiredDate" [movable]="true" sortable="true" resizable="true" [dataType]="'date'"></igx-column>
            </igx-column-group>
            <igx-column-group header="General Shipping Information">
                <igx-column field="ShippedDate" sortable="true" resizable="true" [dataType]="'date'"></igx-column>
                <igx-column field="ShipVia" sortable="true" resizable="true"></igx-column>
                <igx-column field="Freight" sortable="true" resizable="true"></igx-column>
                <igx-column field="ShipName" sortable="true" resizable="true"></igx-column>
            </igx-column-group>
            <igx-column-group header="Shipping Location">
                <igx-column field="ShipAddress" sortable="true" resizable="true"></igx-column>
                <igx-column field="ShipCity" sortable="true" resizable="true"></igx-column>
                <igx-column field="ShipPostalCode" sortable="true" resizable="true"></igx-column>
                <igx-column field="ShipCountry" sortable="true" resizable="true"></igx-column>
            </igx-column-group>
        </igx-column-group>
        <igx-row-island [key]="'OrderDetails'" [autoGenerate]="false">
                <igx-column field="ProductID" sortable="true" resizable="true"></igx-column>
                <igx-column field="UnitPrice" sortable="true" resizable="true"></igx-column>
                <igx-column field="Quantity" sortable="true" resizable="true"></igx-column>
                <igx-column field="Discount" sortable="true" resizable="true"></igx-column>
        </igx-row-island>
    </igx-row-island>

</igx-hierarchical-grid>

<section class="button-section">
    <button igxButton="raised" (click)="pinGroup()">Pin first group</button>
    <button igxButton="raised" (click)="hideGroup()">Hide first group</button>
</section>