@import '~igniteui-angular/lib/core/styles/themes/index';

$theme: igx-carousel-theme(
    $slide-background: #333
);

:host ::ng-deep{
    @include igx-carousel($theme);
}

.slide-wrapper{
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;

    img {
        width: 100%;
        object-fit: contain;
    }
}

.carousel-wrapper{
    max-height: 600px;
    height: 100%;
    width: 90%;
    margin: 20px auto;
}

.action-wrapper{
    height: 40px;
    width: 70%;
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.carousel-animation-wrapper{
    height: 700px;
    margin: 16px auto;
    display: flex;
    flex-flow:column;
}