.date-picker-wrapper {
    padding: 1rem;
    max-width: 700px;
}

igx-input-group {
    display: inline-block;
    width: 49%;
}

.towns {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}
