
<form>
    <div class="towns">
        <igx-select name="townFrom" [(ngModel)]="townFrom" class="town-select">
            <igx-prefix>
                <igx-icon>flight_takeoff</igx-icon>
            </igx-prefix>
            <igx-select-item *ngFor="let town of towns" [value]="town">
                {{town}}
            </igx-select-item>
        </igx-select>
        <igx-select name="townTo" [(ngModel)]="townTo" class="town-select">
            <igx-prefix>
                <igx-icon>flight_land</igx-icon>
            </igx-prefix>
            <igx-select-item *ngFor="let town of towns | withoutTownFrom:townFrom" [value]="town">
                {{town}}
            </igx-select-item>
        </igx-select>
    </div>

    <igx-date-range-picker name="datesRange" #dateRangePicker="ngModel" required
        [(ngModel)]="range"
        [minValue]="minDate"
        [maxValue]="maxDate"
        [placeholder]="'Depart on - Return on'"
    >
        <label igxLabel>Flight dates</label>
        <igx-hint *ngIf="dateRangePicker.invalid && (dateRangePicker.dirty || dateRangePicker.touched)">
            Please choose start and end date!
        </igx-hint>
    </igx-date-range-picker>
</form>

