.sample-wrapper {
    overflow-y: auto;
}
.calendar-wrapper {
    max-width: 900px;
    min-width: 200px;
    max-height: 450px;
}
.calendar {
    width:100%;
}
igx-input-group {
    display: inline-block;
    margin-left: 20px;
    width: 250px;
}
.form {
    display: flex;
    padding-left: 2px;
    margin-top: 20px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.calendarDropDown {
    display: inline-block;
    margin-left: 20px;
    width: 522px;
    padding-left: 2px;
    margin-top: 35px;
}