<div class="grid-wrapper">
    <div class="summaries">
        <h5 class="summaries-title">Disable Summaries for Column:</h5>
        <ng-container *ngFor="let column of columns; let i = index">
            <div class="summary-column-button">
                <button
                    #toggleButton
                    igxButton="outlined"
                    (click)="toggle(i)"
                >
                    {{ column.label }} ({{ getCheckedSummariesCount(column.summaries) }})
                </button>
                <div igxToggle>
                    <div class="summaries-dropdown">
                        <div>
                            <p class="summaries-dropdown-title">
                                Disabled Summaries
                            </p>
                        </div>

                        <div class="summaries-dropdown-items">
                            <igx-checkbox
                                *ngFor="let summary of column.summaries; let i = index"
                                class="summaries-dropdown-item"
                                [checked]="summary.checked"
                                (change)="toggleCheckbox($event, i, column)"
                            >
                                {{ summary.summaryLabel }}
                            </igx-checkbox>
                        </div>

                        <div class="summaries-dropdown-buttons">
                            <button igxButton="flat" (click)="checkAllColumns(column)">
                                Disable All
                            </button>
                            <button igxButton="flat" (click)="uncheckAllColumns(column)">
                                Enable All
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <igx-grid
        [igxPreventDocumentScroll]="true"
        #grid1
        [data]="data"
        [autoGenerate]="false"
        height="700px"
        width="100%"
    >
        <igx-column
            field="ProductID"
            header="Product ID"
            [hasSummary]="true"
        ></igx-column>
        <igx-column
            field="ProductName"
            header="Product Name"
            [hasSummary]="true"
        >
        </igx-column>
        <igx-column
            field="UnitPrice"
            header="Unit Price"
            dataType="number"
            [hasSummary]="true"
        >
        </igx-column>
        <igx-column
            field="UnitsInStock"
            header="Units In Stock"
            dataType="number"
            [hasSummary]="true"
            [summaries]="unitsInStockSummary"
        >
        </igx-column>
        <igx-column
            field="Discontinued"
            header="Discontinued"
            [dataType]="'boolean'"
            [hasSummary]="true"
            [summaries]="discontinuedSummary"
        >
        </igx-column>
        <igx-column
            field="OrderDate"
            header="Order Date"
            [dataType]="'date'"
            [hasSummary]="true"
        >
        </igx-column>
    </igx-grid>
</div>
