@use '../../../../variables' as *;

//Sample related styling
igx-switch {
    margin-top: 24px;
}

$custom-switch-theme: switch-theme(
    $thumb-on-color: #ECAA53,
    $track-on-color: #F0CB9C
);

:host {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;

	@include css-vars($custom-switch-theme);
}

