@use '../../../../variables' as *;

//Sample related styling
igx-switch {
    margin-top: 24px;
}

$custom-switch-theme: igx-switch-theme(
    $thumb-on-color: #ECAA53,
    $track-on-color: #F0CB9C
);

:host {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;

    // @include igx-css-vars($custom-switch-theme);

    /* Using Theme Overrides to provide IE 11 support.
     * NOTE: Theming using this approach will greatly increase the size
     * of the output CSS. If you do not plan to target IE 11,
     * delete this section and use the `igx-css-vars` mixin as shown above.
    **/
    ::ng-deep {
        @include igx-switch($custom-switch-theme);
    }
}

