@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-theme: progress-linear-theme(
  $fill-color-default: #ecaa53,
  $text-color: #ecaa53,
);

:host {
    @include tokens($custom-theme);
}
