@use '../../../../variables' as *;

igx-linear-bar {
    margin-top: 20px;
}

$custom-theme: progress-linear-theme(
    $track-color: #D3D3D3,
    $fill-color-default: #ECAA53,
    $text-color: #ECAA53
);

:host {
    @include css-vars($custom-theme);
}
