.selection-samples {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    padding-left: 48px;
}

.selection-sample {
    display: flex;
    align-items: center;
    gap: 30px;
}

.selection-sample > span {
    width: 120px;
    text-align: right;
    color: #556c86;
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.selection-sample igx-buttongroup {
    width: 200px;
}
