@use 'igniteui-theming' as *;

:host {
    container-type: inline-size;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-content: center;
    height: 100vh;
}

.selection-samples {
    display: grid;
    grid-template-columns: auto minmax(rem(180px), 1fr);
    align-items: center;
    gap: rem(24px) rem(32px);
    inline-size: 100%;
    max-inline-size: rem(380px);
    margin-inline: auto;
}

.sample-label {
    @include type-style('body-2');

    color: var(--ig-gray-700);
    text-align: end;
}

igx-buttongroup {
    inline-size: 100%;
}

@container (width < 22rem) {
    .selection-samples {
        grid-template-columns: minmax(0, 1fr);
        gap: rem(4px);
    }

    .sample-label {
        text-align: start;

        &:not(:first-of-type) {
            margin-block-start: rem(16px);
        }
    }
}
