@import '~igniteui-angular/lib/core/styles/themes/index';

$custom-banner-theme: igx-banner-theme(
    $banner-message-color: #151515,
    $banner-background: #dedede,
    $banner-illustration-color: #666666
);

// :host {
//     @include igx-css-vars($custom-banner-theme);
// }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
    @include igx-banner($custom-banner-theme);
}

