.photo {
    vertical-align: middle;
    max-height: 62px;
}
.cell__inner_2 {
    margin: 1px
}
.grid-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-flow: column;
    align-items: flex-start;
    position: relative;
}

.grid__wrapper{
    padding: 16px;
}

igx-snackbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.igx-snackbar {
    background: rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    igx-icon {
        margin: 20px;
    }
}