<div class="hgrid-sample">
    <igx-hierarchical-grid igxPreventDocumentScroll  class="hgrid" [data]="localdata" [autoGenerate]="false" [height]="'500px'" [width]="'100%'"
        [rowHeight]="'65px'" #hierarchicalGrid>
        <igx-column field="Artist" [sortable]='true'></igx-column>
        <igx-column field="Photo">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner_2">
                    <img [src]="cell.value" class="photo" />
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Debut" [sortable]='true' [formatter]="formatter"></igx-column>
        <igx-column field="GrammyNominations" header="Grammy Nominations" [sortable]='true'></igx-column>
        <igx-column field="GrammyAwards" header="Grammy Awards" [sortable]='true'></igx-column>

        <igx-row-island [key]="'Albums'" [autoGenerate]="false">
            <igx-column field="Album" [sortable]='true'></igx-column>
            <igx-column field="LaunchDate" header="Launch Date" [sortable]='true' [dataType]="'date'"></igx-column>
            <igx-column field="BillboardReview" header="Billboard Review" [sortable]='true'></igx-column>
            <igx-column field="USBillboard200" header="US Billboard 200" [sortable]='true'></igx-column>
            <igx-row-island [key]="'Songs'" [autoGenerate]="false">
                <igx-column field="Number" header="No." [sortable]='true'></igx-column>
                <igx-column field="Title" [sortable]='true'></igx-column>
                <igx-column field="Released" dataType="date" [sortable]='true'></igx-column>
                <igx-column field="Genre" [sortable]='true'></igx-column>
            </igx-row-island>
        </igx-row-island>

        <igx-row-island [key]="'Tours'" [autoGenerate]="false">
            <igx-column field="Tour" [sortable]='true'></igx-column>
            <igx-column field="StartedOn" header="Started on" [sortable]='true'></igx-column>
            <igx-column field="Location" [sortable]='true'></igx-column>
            <igx-column field="Headliner" [sortable]='true'></igx-column>
        </igx-row-island>
    </igx-hierarchical-grid>
</div>