@import './node_modules/igniteui-angular/lib/core/styles/themes/index';

$border-color: igx-color($default-palette, grays, 400);

.container {
    display: flex;
    margin: 10px 30px;
    justify-content: center;
}

.planet-name {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 20px;
    font-size: 0.8125rem;
}

.planet {
    border: 1px solid $border-color;
    border-radius: 50%;
    margin-right: 20px;
}

.moons {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.moon {
    border: 1px solid $border-color;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
}

.moon-selected {
    background-color: $border-color;
    transition: all 600ms ease-in;
}

.info {
    width: 400px;
    padding: 20px;
}