[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
  --igx-banner-banner-background: #dedede;
  --igx-banner-banner-message-color: #151515;
  --igx-banner-banner-border-color: rgba(0, 0, 0, 0.26);
  --igx-banner-banner-illustration-color: #666666; }

:host ::ng-deep .igx-banner, :host ::ng-deep .igx-banner--cosy, :host ::ng-deep .igx-banner--compact,
:host ::ng-deep .igx-banner__illustration,
:host ::ng-deep .igx-banner__message {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

:host ::ng-deep .igx-banner, :host ::ng-deep .igx-banner--cosy, :host ::ng-deep .igx-banner--compact {
  padding-right: 0.5rem;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: var(--igx-banner-banner-background);
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end; }


:host ::ng-deep .igx-banner__illustration {
  -ms-flex-pack: center;
      justify-content: center;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  color: var(--igx-banner-banner-illustration-color); }

:host ::ng-deep .igx-banner__border-top {
  border-top: 1px solid var(--igx-banner-banner-border-color);
  top: -1px; }

:host ::ng-deep .igx-banner__border-bottom {
  border-bottom: 1px solid var(--igx-banner-banner-border-color);
  top: 0; }

:host ::ng-deep .igx-banner__text {
  color: var(--igx-banner-banner-message-color);
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  margin-left: 1.5rem; }

:host ::ng-deep .igx-banner--cosy {
  padding: 0.5rem; }

:host ::ng-deep .igx-banner--compact {
  padding: 0.5rem; }


:host ::ng-deep .igx-banner__message {
  min-width: 13.75rem;
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  margin-right: 5.625rem; }

:host ::ng-deep .igx-banner__banner__row {
  display: -ms-flexbox;
  display: flex; }

:host ::ng-deep .igx-banner__actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 2.5rem; }
