<div class="chip-size-item">
    <span>Small</span>
    <igx-chip class="size-small" selectable [selected]="true" removable>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
        <igx-icon igxSuffix>account_circle</igx-icon>
    </igx-chip>
</div>
<div class="chip-size-item">
    <span>Medium</span>
    <igx-chip class="size-medium" selectable [selected]="true" removable>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
        <igx-icon igxSuffix>account_circle</igx-icon>
    </igx-chip>
</div>
<div class="chip-size-item">
    <span>Large</span>
    <igx-chip class="size-large" selectable [selected]="true" removable>
        <igx-icon igxPrefix>arrow_upward</igx-icon>
        Chip
        <igx-icon igxSuffix>account_circle</igx-icon>
    </igx-chip>
</div>
