<div class="states">
    <span class="states__corner"></span>
    <span class="states__column">Hover</span>
    <span class="states__column">Focused</span>
    <span class="states__column">Focused &amp; Hover</span>

    <span class="states__row">Enabled / On</span>
    <igx-switch labelPosition="before" [checked]="true">
        <span>Power</span>
    </igx-switch>
    <igx-switch labelPosition="before" [checked]="true">
        <span>Power</span>
    </igx-switch>
    <igx-switch labelPosition="before" [checked]="true">
        <span>Power</span>
    </igx-switch>

    <span class="states__row">Enabled / Off</span>
    <igx-switch labelPosition="before">
        <span>Power</span>
    </igx-switch>
    <igx-switch labelPosition="before">
        <span>Power</span>
    </igx-switch>
    <igx-switch labelPosition="before">
        <span>Power</span>
    </igx-switch>
</div>
