.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 300px;
}

.sample {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% - 25px);
}

.chart {
    flex: 1;
    height: calc(100% - 45px);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

.options {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    font-family: aktiv-grotesk, sans-serif;
    color: #585858;
    display: inline-block;
}

.optionItem {
    margin-left: 10px;
    // font-family: Arial, Verdana, Helvetica, "Times New Roman", Times, serif;
    display: inline-block;
    vertical-align: center;
}

.optionLabel {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    // font-size: 11pt;
    // font-family: Arial, Verdana, Helvetica, "Times New Roman", Times, serif;
    vertical-align: center;
    padding: 0px;
    display: inline-block;
}

.optionValue {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    // font-size: 11pt;
    display: inline-block;
    width: 40px;
    padding: 0px;
}

.button {
    vertical-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

select {
    font-size: 11pt;
    font-family: Arial, Verdana, Helvetica, "Times New Roman", Times, serif;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: center;
    padding: 4px;
    display: inline-block;
}


.legend {
    width: 100%;
    font-size: 11pt;
    /* font-family: Arial, Verdana, Helvetica, "Times New Roman", Times, serif; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
}

.legendCenter {
    width: auto;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: center;
}

.legendInline {
    width: auto;
    /* font-size: 11pt; */
    /* font-family: Arial, Verdana, Helvetica, "Times New Roman", Times, serif; */
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    /* vertical-align: center; */
    /* background: red; */
}

.legendTitle {
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0px;
    /* font-size: 11pt; */
    /* font-family: Arial, Verdana, Helvetica, "Times New Roman", Times, serif; */
    /* vertical-align: top; */
    vertical-align: center;
    display: inline-block;
    /* background: orange; */
}
