.drop-down-wrapper {
  width: 30%;
  margin: 8px;
  min-width: 280px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.08); }
  .drop-down-wrapper .textContainer {
    height: 100px;
    border-radius: 2px;
    padding: 16px; }
