<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="data" primaryKey="ID" foreignKey="ParentID"
        width ="100%"
        height ="500px"
        rowEditable = true
        [rowSelection] = selectionMode
        columnHiding = true
        >
        <igx-column *ngFor="let c of columns"
            [editable] ="c.editable"
            [field]="c.field"
            [dataType]="c.dataType"
            [header]="c.label"
            [movable]="c.movable"
            [resizable]="c.resizable"
            [sortable]="c.sortable"
            [filterable]="c.filterable"
            >
        </igx-column>
    </igx-tree-grid>
</div>


