.button {
    width: 160px;
}

.controls-wrapper {
    display: flex;
    flex-flow: row;
    max-width: 450px;
    margin: 8px;
}

igx-switch {
    padding-left: 24px;
}

.drop-down__scroll-container {
    max-height: 240px;
}
