<div class="sample-wrapper">
    <article class="sample-column">
        <h4 class="sample-title">Custom Dialog</h4>
        <p class="sample-description">Sign in form.</p>
        <button igxButton="raised" igxButtonColor="white" igxButtonBackground="#EC6F74" igRipple="white" (click)="form.open()">Show Dialog</button>

        <igx-dialog #form title="Sign In" leftButtonLabel="Cancel" (onLeftButtonSelect)="form.close()" (onRightButtonSelect)="signIn($event)" rightButtonLabel="Sign In"
            rightButtonBackgroundColor="#0375be" rightButtonColor="#ffffff" [closeOnOutsideSelect]="true">
            <div class="igx-form-group">
                <input type="text" igxInput />
                <label igxLabel>Username</label>
            </div>
            <div class="igx-form-group">
                <input type="password" igxInput />
                <label igxLabel>Password</label>
            </div>
        </igx-dialog>
    </article>
</div>