.drop-area {
  width: 160px;
  height: 160px;
  background-color: #d3d3d3;
  border: 1px dashed #131313;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column;
      flex-flow: column;
  text-align: center;
  margin: 8px; }

:host {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row;
      flex-flow: row;
  width: 100%; }
