<div class="wrapper centered">
    <h5>Perform range selection on the Tree Grid to transfer data to the Grid</h5>
</div>
<div class="wrapper">
    <div class="left">
        <igx-tree-grid [igxPreventDocumentScroll]="true"  #source width="100%" (rangeSelected)="transferData(source, target, notification)" (columnInit)="initColumn($event)"
            (sortingDone)="transferExpressions(source, target)"
            [data]="sourceData" height="600px"
            [autoGenerate]="false" primaryKey="ID" foreignKey="ParentID">
            <igx-column field="ID" header="Order ID">
            </igx-column>
            <igx-column field="Name" header="Order Product">
            </igx-column>
            <igx-column field="Units" header="Units" [dataType]="'number'">
            </igx-column>
            <igx-column field="UnitPrice" header="Unit Price" [dataType]="'currency'" [pipeArgs]="formatOptions">
            </igx-column>
            <igx-column field="Price" header="Price" [dataType]="'currency'" [pipeArgs]="formatOptions">
            </igx-column>
            <igx-column field="OrderDate" header="Order Date" [dataType]="'date'">
            </igx-column>
        </igx-tree-grid>
    </div>
    <div class="right">
        <igx-grid [igxPreventDocumentScroll]="true" #target width="100%" [data]="targetData" height="600px" [autoGenerate]="true"
            (columnInit)="initColumn($event)">
        </igx-grid>
    </div>
</div>
<igx-toast #notification></igx-toast>
