<igx-hierarchical-grid igxPreventDocumentScroll  #hierarchicalGrid class="hgrid" [data]="localdata" [primaryKey]="'Photo'" [autoGenerate]="false"
    [height]="'500px'" [width]="'100%'" [rowHeight]="'65px'" [rowEditable]="true">
    <igx-column field="Artist"></igx-column>
    <igx-column field="Photo" [editable]="false">
        <ng-template igxCell let-cell="cell">
            <div class="cell__inner_2">
                <img [src]="cell.value" class="photo" />
            </div>
        </ng-template>
    </igx-column>
    <igx-column field="Debut"></igx-column>
    <igx-column field="Grammy Nominations" [dataType]="'number'"></igx-column>
    <igx-column field="Grammy Awards" [dataType]="'number'"></igx-column>

    <igx-row-island [key]="'Albums'" [autoGenerate]="false" [primaryKey]="'Album'" [rowEditable]="true">
        <igx-column field="Album"></igx-column>
        <igx-column field="Launch Date" [dataType]="'date'"></igx-column>
        <igx-column field="Billboard Review"></igx-column>
        <igx-column field="US Billboard 200"></igx-column>
        <igx-row-island [key]="'Songs'" [autoGenerate]="false">
            <igx-column field="No."></igx-column>
            <igx-column field="Title"></igx-column>
            <igx-column field="Released"></igx-column>
            <igx-column field="Genre"></igx-column>
        </igx-row-island>
    </igx-row-island>

    <igx-row-island [key]="'Tours'" [autoGenerate]="false">
        <igx-column field="Tour"></igx-column>
        <igx-column field="Started on"></igx-column>
        <igx-column field="Location"></igx-column>
        <igx-column field="Headliner"></igx-column>
    </igx-row-island>
    <ng-template igxRowEditText let-rowChangesCount>
        <span class="changes"> Changes: {{rowChangesCount}}</span>
    </ng-template>
    <ng-template igxRowEditActions let-endRowEdit>
        <div class="custom-buttons">
            <button igxButton="icon" class="custom-button" igxRowEditTabStop (click)="endRowEdit(false)">
                <igx-icon>clear</igx-icon>
            </button>
            <button igxButton="icon" class="custom-button" igxRowEditTabStop (click)="endRowEdit(true)">
                <igx-icon>check</igx-icon>
            </button>
        </div>
    </ng-template>
</igx-hierarchical-grid>