<div class="wrapper">
    <igx-grid igxPreventDocumentScroll #grid
        [width]="'100%'"
        height="603px"
        [data]="sourceData"
        [autoGenerate]="false"
        [displayDensity]="'cosy'" (onGridKeydown)="customNavigation($event)" >
        <igx-column-layout [header]="'Company'">
            <igx-column [rowStart]="1" [colStart]="1" [colEnd]="3" field="company" header='Company'></igx-column>
            <igx-column [rowStart]="2" [colStart]="1"field="country" header='Country'></igx-column>
            <igx-column [rowStart]="2" [colStart]="2" field="city" header='City'></igx-column>
            <igx-column [rowStart]="3" [colStart]="1" [colEnd]="3" field="address" header='Address'></igx-column>
        </igx-column-layout>
        <igx-column-layout [header]="'Sales'">
            <igx-column [rowStart]="1" [rowEnd]='3' [colStart]="1" [colEnd]="3" field="sales_lifetimeSales" header='Lifetime Sales'></igx-column>
            <igx-column [rowStart]="3" [colStart]="1" field="sales_quarterlySales" header='Quarterly'></igx-column>
            <igx-column [rowStart]="3" [colStart]="2" field="sales_yearlySales" header='Yearly'></igx-column>
        </igx-column-layout>
        <igx-column-layout [header]="'Market Potential'">
            <igx-column [rowStart]="1" [rowEnd]='4' [colStart]="1" field="sales_marketPotential" header='Market Potential'></igx-column>
        </igx-column-layout>
        <igx-column-layout [header]="'Assets'">
            <igx-column [rowStart]="1" [colStart]="1" field="assets_cash" header='Assets Cash'></igx-column>
            <igx-column [rowStart]="1" [colStart]="2" [colEnd]="4" field="assets_accRec" header='Accounts Receivable'></igx-column>
            <igx-column [rowStart]="2" [rowEnd]='4' [colStart]="1" [colEnd]="4" field="assets_books" header='Assets Books'></igx-column>
        </igx-column-layout>
    </igx-grid>
</div>
