@use 'igniteui-theming' as *;

:host {
    display: grid;
    place-items: center;
    height: 100vh;
}

.sample-layout {
    display: flex;
    gap: rem(32px);
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.sample-inner-layout {
    display: grid;
    gap: rem(8px);
    align-items: start;
}

igx-buttongroup {
    min-width: rem(280px);
}

span {
    color: #556c86;
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 0.5rem;
    text-align: center;
}
