.grid__wrapper {
    display: flex;
    flex-flow: row;
    height: 650px;
    margin: 15px;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-flow: column;
    height: 650px;
    margin-left: 1px;
    font-size: 0.9em;
    transform: scale(0.95);
    transform-origin: top left;
}

.igSelect {
    margin-left: 1px;
}
