.grid__wrapper {
    display: flex;
    flex-flow: row;
    height: 650px;
    margin: 15px;
}

.flex-column {
    display: flex;
    flex-flow: column;
    height: 650px;
    margin-left: 1px;
}

.igSelect {
    margin-left: 1px;
}