<div class="top-row">
    <igx-switch [(ngModel)]="rowEdit">Row edit</igx-switch>
</div>
<div class="grid__wrapper">
    <igx-grid #grid1 [data]="data" [width]="'100%'" [height]="'480px'" [autoGenerate]="false" [batchEditing]="true"
        [rowEditable]="rowEdit" [primaryKey]="'id'">
        <igx-column field="Avatar" header="Photo" dataType="string" width="80" [editable]="false">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner avatar-cell">
                    <igx-avatar [src]="cell.row.data.avatar" [roundShape]="true" size="small"></igx-avatar>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="name" header="Name" [editable]="true" required></igx-column>
        <igx-column field="company" header="Company" [editable]="true"></igx-column>
        <igx-column field="email" width="190" header="Email" [editable]="true" required email></igx-column>
        <igx-column field="fax" header="Phone" [editable]="true"></igx-column>
        <igx-column field="created_on" header="Date of Registration" width="170" [editable]="true"
            [dataType]="'date'" required>
            <ng-template igxCell let-cell>
                {{ cell | date: 'longDate' }}
            </ng-template>
        </igx-column>
        <igx-column field="last_activity" header="Last Active" width="170" [editable]="true" [dataType]="'date'"
            required>
            <ng-template igxCell let-cell>
                {{ cell | date: 'longDate' }}
            </ng-template>
        </igx-column>
        <igx-column field="estimated_sales" header="Estimated Sales" [editable]="true" [dataType]="'number'" required min="0"></igx-column>
        <igx-column field="deals_lost" header="Deals Lost" [editable]="true" [dataType]="'number'" required min="0">
        </igx-column>
        <igx-column field="deals_won" header="Deals Won" [editable]="true" [dataType]="'number'" required min="0">
        </igx-column>
        <igx-column field="deals_pending" header="Deals Pending" [editable]="true" [dataType]="'number'" required
            min="0"></igx-column>
    </igx-grid>
</div>