<div class="grid-wrapper">
    <igx-tree-grid  igxPreventDocumentScroll
                    [data]="data"
                    primaryKey="ID"
                    foreignKey = "ParentID"
                    [showToolbar]="true"
                    height="500px"
                    width="100%"
                    [columnSelection]="currentColumnSelection">
        <igx-column *ngFor="let c of columnConfig"
                    [field] = "c.field"
                    [header] = "c.field"
                    [selectable] = "c.selectable"
                    [formatter] = "c?.formatter">
        </igx-column>
        <ng-template igxToolbarCustomContent let-igxTreeGrid="grid">
            <igx-select [(ngModel)]="currentColumnSelection">
                <label igxLabel>Column Selection</label>
                <igx-select-item value="none">None</igx-select-item>
                <igx-select-item value="single">Single</igx-select-item>
                <igx-select-item value="multiple">Mulitple</igx-select-item>
            </igx-select>
        </ng-template>
    </igx-tree-grid>
</div>