<div class="grid-wrapper">
    <igx-tree-grid  [igxPreventDocumentScroll]="true"
                    [data]="data"
                    primaryKey="ID"
                    foreignKey = "ParentID"
                    height="530px"
                    width="100%"
                    [columnSelection]="currentColumnSelection">
        <igx-grid-toolbar>

            <igx-select [(ngModel)]="currentColumnSelection" [displayDensity]="'compact'">
                <label igxLabel>Column Selection</label>
                <igx-select-item value="none">None</igx-select-item>
                <igx-select-item value="single">Single</igx-select-item>
                <igx-select-item value="multiple">Mulitple</igx-select-item>
            </igx-select>

        </igx-grid-toolbar>

        <igx-column *ngFor="let c of columnConfig"
                    [field] = "c.field"
                    [header] = "c.field"
                    [selectable] = "c.selectable"
                    [formatter] = "c?.formatter">
        </igx-column>

    </igx-tree-grid>
</div>
