@use "layout.scss";
@use "igniteui-angular/theming" as *;

$dark-highlight: highlight-theme(
  $resting-background: #ffcd0f,
  $resting-color: #292826,
  $active-background: #292826,
  $active-color: #ffcd0f,
);

:host ::ng-deep {
    @include tokens($dark-highlight);

    .custom-highlight {
        border: 1px solid #ffcd0f;
    }

    .custom-active-highlight {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
    }
}
