
<div class="grid__wrapper">
    <app-grid-with-transactions>
        <igx-grid igxPreventDocumentScroll #gridRowEditTransaction [data]="data" [primaryKey]="'ProductID'" width="100%" height="500px"
            [rowEditable]="true" [allowFiltering]="true">
            <igx-column [pinned]="true" [filterable]="false" [editable]="false">
                <ng-template igxCell let-cell="cell" let-val>
                    <button igxButton (click)="deleteRow(cell.cellID.rowID)" [disabled]="cell.row.deleted">Delete</button>
                </ng-template>
            </igx-column>
            <igx-column field="ProductID" header="Product ID" [pinned]="true" [filterable]="false"></igx-column>
            <igx-column field="ProductName" header="Product Name" [dataType]="'string'" [sortable]="true" [pinned]="true"></igx-column>
            <igx-column field="UnitPrice" header="Unit Price" [dataType]="'string'" [sortable]="true"></igx-column>
            <igx-column field="UnitsOnOrder" header="Units On Order" dataType="number" [editable]="false"
                [filterable]="false"></igx-column>
            <igx-column field="UnitsInStock" header="Units In Stock" dataType="number" [sortable]="true">
                <ng-template igxCellEditor let-cell="cell">
                    <input name="units" [igxFocus]="true" [(ngModel)]="cell.editValue"
                        style="color: black; width: 30px;" />
                </ng-template>
            </igx-column>
            <igx-column field="QuantityPerUnit" header="Quantity Per Unit" [dataType]="'string'" [filterable]="false"></igx-column>
            <igx-column field="ReorderLevel" header="Reorder Level" dataType="number" [filterable]="false"></igx-column>
            <igx-column field="SupplierID" header="Supplier ID" dataType="number" [editable]="false" [filterable]="false"></igx-column>
            <igx-column field="CategoryID" header="Category ID" dataType="number" [filterable]="false"></igx-column>
            <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'" [pinned]="true" [filterable]="false"></igx-column>
        </igx-grid>
    </app-grid-with-transactions>
    <div class="buttons-row">
        <button igxButton (click)="addRow()">Add Row</button>
        <div class="buttons-wrapper">
            <button igxButton [disabled]="!undoEnabled" (click)="undo()">Undo</button>
            <button igxButton [disabled]="!redoEnabled" (click)="redo()">Redo</button>
            <button igxButton [disabled]="!hasTransactions" (click)="openCommitDialog()">Commit</button>
        </div>
    </div>
    <igx-dialog title="Submit the following transactions?">
        <igx-grid igxPreventDocumentScroll #dialogGrid [data]="transactionsData" [rowHeight]="64"
            [primaryKey]="'id'" width="600px" height="300px" [emptyGridMessage]="'No available transactions'">
            <igx-column field="id" header="ID" [dataType]="'string'" width="100px"></igx-column>
            <igx-column field="type" header="Type" width="150px" [sortable]="true">
                <ng-template igxCell let-cell="cell" let-val>
                    <span [class]="classFromType(val)">{{ typeFormatter(val) }}</span>
                </ng-template>
            </igx-column>
            <igx-column field="newValue" header="Value" width="900px">
                <ng-template igxCell let-cell="cell" let-val>
                    <span class="transaction-log">{{ stateFormatter(val) }}</span>
                </ng-template>
            </igx-column>
        </igx-grid>
        <div class="buttons-wrapper">
            <button igxButton (click)="commit()">Commit</button>
            <button igxButton (click)="discard()">Discard</button>
            <button igxButton (click)="cancel()">Cancel</button>
        </div>
    </igx-dialog>
</div>