[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.section {
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.sample-column {
  min-width: 270px; }

.sample-button {
  width: 7rem; }

h5 {
  margin-bottom: 16px; }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
  --igx-ripple-variant: material;
  --igx-ripple-color: #e17fab; }

:host ::ng-deep .igx-ripple__inner {
  display: block;
  position: absolute;
  border-radius: 50%;
  background: var(--igx-ripple-color);
  pointer-events: none;
  -ms-transform-origin: center;
      transform-origin: center;
  transform: translate3d(0, 0, 0) scale(0);
  will-change: opacity, transform;
  opacity: .5;
  margin: 0 !important;
  border: none !important; }

:host ::ng-deep .igx-ripple {
  overflow: hidden; }
