<div class="grid__wrapper">
    <div>
        <!-- <button igxButton="outlined" (click)="applyCSS()">Apply CSS bindings</button> -->
        <igx-input-group type="border">
            <textarea style="font-family: monospace;" #userCSS igxInput cols="15" rows="5">{{ oddColStyles | json }}</textarea>
            <igx-hint>Note: You cannot use the callback functionality here</igx-hint>
        </igx-input-group>
        <button igxButton="outlined" (click)="updateCSS(userCSS.value)">Apply new styles</button>
    </div>
    <igx-tree-grid igxPreventDocumentScroll 
        #grid1 [data]="data"
        primaryKey="ID" foreignKey="ParentID"
        width="80%"
        height="300px">
        <igx-column *ngFor="let c of columns"
            [field]="c.field"
            [header]="c.field"
            [cellStyles]="c.cellStyles">
        </igx-column>
    </igx-tree-grid>
</div>