.drop-down-virtual-wrapper {
  overflow: hidden;
  max-height: 240px;
  width: 180px; }

:host {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  margin: 8px; }

.button {
  width: 180px; }

.selection {
  line-height: 2.25rem;
  padding: 0px 8px; }

.igx-drop-down__item {
  padding: 0 0.8rem; }
