<div class="calendar-section">
    <article class="calendar-wrapper">
        <igx-calendar #calendar selection="multi" (selected)="onSelection($event)" (viewDateChanged)="viewDateChanged($event)" (activeViewChanged)="activeViewChanged($event)"></igx-calendar>
    </article>
</div>
<div class="calendar-section">
    <div class="selected-data-area">
        <div class="logContainer">
            <div class="highlight">
                <span>{{loggerHeader}}</span>
            </div>
            <div class="logger"></div>
        </div>
    </div>
</div>
