.igx-calendar{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.26),
    0 1px 1px 0 rgba(0,0,0,.12),
    0 2px 1px -1px rgba(0,0,0,.08);
 }
 
 :host {
     display: flex;
     width: 100%;
     flex-flow: row wrap;
 }
 
 button {
     margin: 8px 0px;
 }
 
 .calendar-wrapper {
     width: 300px;
     margin: 8px;
 }
 
 .calendar-section {
     height: 383px;
 }
 
 .selected-data-area{
     overflow-y: auto;
     max-height: 500px;
     width: 100%;
     height: 100%;
     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
     margin-top: 8px;
 }
 
 .logContainer {
     padding: 0.2rem 0.4rem;
 }

 .highlight {
    background-color: rgba(0,153,255, 0.1);
    margin-bottom: 0.4rem;
 }
 
