.grid__wrapper {
    margin: 15px;
}

.offset {
    margin-bottom: 15px;
}

.resultsText {
    font-size: 0.875rem;
}

.caseSensitiveButton {
    margin-left: 10px;
}

.caseSensitiveIcon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, .54);
}

.searchButtons {    
    margin-left: 5px;
}