<div class="badge-type">
    <div class="badge-type-item">
        <div class="avatar-wrapper">
            <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
            <igx-badge dot outlined type="success" class="dot-badge"></igx-badge>
        </div>
        <span>Dot</span>
    </div>
    <div class="badge-type-item">
        <div class="avatar-wrapper">
            <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
            <igx-badge icon="check" outlined type="success"></igx-badge>
        </div>
        <span>Icon</span>
    </div>
    <div class="badge-type-item">
        <div class="avatar-wrapper">
            <igx-avatar src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png" shape="circle" size="small"></igx-avatar>
            <igx-badge value="2" outlined type="success"></igx-badge>
        </div>
        <span>Text</span>
    </div>
</div>
