<div class="badge-type">
    <div class="badge-type-item">
        <div class="avatar-wrapper">
            <igx-avatar src="assets/images/avatar/18.jpg" shape="circle" size="small"></igx-avatar>
            <igx-badge dot outlined type="success" class="dot-badge"></igx-badge>
        </div>
        <span>Dot</span>
    </div>
    <div class="badge-type-item">
        <div class="avatar-wrapper">
            <igx-avatar src="assets/images/avatar/18.jpg" shape="circle" size="small"></igx-avatar>
            <igx-badge icon="check" outlined type="success"></igx-badge>
        </div>
        <span>Icon</span>
    </div>
    <div class="badge-type-item">
        <div class="avatar-wrapper">
            <igx-avatar src="assets/images/avatar/18.jpg" shape="circle" size="small"></igx-avatar>
            <igx-badge value="2" outlined type="success"></igx-badge>
        </div>
        <span>Text</span>
    </div>
</div>
