<div class="sizes">
    <div class="size">
        <span class="size-label">Small</span>
        <igc-rating class="size-small" label="Rate your experience" [value]="5"></igc-rating>
    </div>
    <div class="size">
        <span class="size-label">Medium</span>
        <igc-rating class="size-medium" label="Rate your experience" [value]="5"></igc-rating>
    </div>
    <div class="size">
        <span class="size-label">Large</span>
        <igc-rating class="size-large" label="Rate your experience" [value]="5"></igc-rating>
    </div>
</div>
