:host {
    igx-badge {
        margin-inline-end: auto;
    }

    ::ng-deep .negative-row {
        $bg-color: rgb(253 243 243);

        --body-column-border-color-odd: $bg-color;
        --body-column-border-color-even: $bg-color;

        background: $bg-color;
        --row-border-color: #FF000099;
        --row-border-style: dashed;

        border-block-start: 1px var(--row-border-style) var(--row-border-color);
    }
}
