<div class="sample-wrapper">
    <section class="sample-content">
        <article class="sample-column">
            <form class="input-group-form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                <h4 class="sample-title">Book your movie ticket</h4>
                <igx-input-group>
                    <input igxInput name="fullName" type="text" formControlName="fullName"/>
                    <label igxLabel for="fullName">Full Name</label>
                    <igx-suffix>
                        <igx-icon name="person"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <igx-input-group>
                    <igx-prefix>+359</igx-prefix>
                    <label igxLabel for="phone">Phone</label>
                    <input igxInput name="phone" type="text" formControlName="phone"/>
                    <igx-suffix>
                        <igx-icon name="phone"></igx-icon>
                    </igx-suffix>
                    <igx-hint position="start">Ex.: +359 888 123 456</igx-hint>
                </igx-input-group>
                <igx-input-group>
                    <label igxLabel for="email">Email address</label>
                    <input igxInput name="email" type="email" formControlName="email"/>
                    <igx-suffix>
                        <igx-icon name="email"></igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <div class="igx-datePicker">
                    <igx-datePicker name="date" (onSelection)="onDateSelection($event)" formControlName="date"></igx-datePicker>
                </div>
                <div class="igx-time-picker">
                    <igx-time-picker name="dateTime" (onValueChanged)="onTimeSelection($event)" formControlName="dateTime"></igx-time-picker>
                </div>
                <div class="button-wrapper">
                    <button igxButton="raised" igxRipple type="submit" [disabled]="!reactiveForm.valid">Book</button>
                </div>
            </form>
        </article>
    </section>
</div>