<div class='controls-wrapper'>
    <button class="button" igxButton="raised" [igxToggleAction]="dropDown"
        [igxDropDownItemNavigation]="dropDown">Foods</button>
    <igx-switch [(ngModel)]="disableMeats">
        Disable 'Meats'
    </igx-switch>
</div>
<igx-drop-down #dropDown [width]="'160px'">
    <div class="drop-down__scroll-container">
        <igx-drop-down-item-group *ngFor="let foodGroup of foods" [label]="foodGroup.name"
            [disabled]="disableMeats && foodGroup.name === 'Meats'">
            <igx-drop-down-item *ngFor="let food of foodGroup.entries" [value]='food.refNo'>
                {{ food.name }}
            </igx-drop-down-item>
        </igx-drop-down-item-group>
    </div>
</igx-drop-down>
