<div class='controls-wrapper'>
  <button class="button" igxButton="contained" [igxToggleAction]="dropDown"
  [igxDropDownItemNavigation]="dropDown">Foods</button>
  <igx-switch [(ngModel)]="disableMeats">
    Disable 'Meats'
  </igx-switch>
</div>
<igx-drop-down #dropDown [width]="'160px'">
  <div class="drop-down__scroll-container">
    @for (foodGroup of foods; track foodGroup) {
      <igx-drop-down-item-group [label]="foodGroup.name"
        [disabled]="disableMeats && foodGroup.name === 'Meats'">
        @for (food of foodGroup.entries; track food) {
          <igx-drop-down-item [value]='food.refNo'>
            {{ food.name }}
          </igx-drop-down-item>
        }
      </igx-drop-down-item-group>
    }
  </div>
</igx-drop-down>
