.sample-wrapper {
    padding-left: 10px;
    padding-top: 10px;
}

.button {
    width:100px;
}

.controls-wrapper {
    display: flex;
    flex-flow: row;
    max-width: 450px;
}

igx-switch {
    padding-left: 24px;
}