@import "~igniteui-angular/lib/core/styles/themes/index";
@import '~igniteui-angular/lib/core/styles/themes/presets/dark-green/index';

@include igx-core();

:host ::ng-deep {

    $app-palette: igx-palette(#09f, #f66604);
    $app-dark-green-palette: igx-palette(#222, #72da67);
    $default-palette: $app-palette;

    .dark-theme {
        $igx-background-color: #484848;
        $igx-foreground-color: text-contrast($igx-background-color);
        background: $igx-background-color;
        color: $igx-foreground-color;

        @include igx-theme(
            $default-palette,
            $preset: $dark-green-theme
        );
    }
}