.wrapper {
    max-height: 100%;
}
.main {
    width: calc(100% - 300px);
}

.content {    
    width: 100%;    
    height: calc(100% - 56px);    
    max-height: 1000px;
    min-width: 300px;
    min-height: 300px;
    justify-content: center;
    align-items: stretch;
    overflow: auto;    
}

.innerItem {
    margin-left: 36px;
}

.nav-header {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    background: #eee;
    height: 142px;
}

.logo {
    width: 172px;
    height: 56.666px;
}

.searchGroup {
    margin: 10px;
    width: 260px;
}

@media only screen and (max-width: 1024px) {
    .content {
      padding: 0 15px;
      justify-content: flex-start;
    }
  }
