.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin: 16px 0; }

.icon-sample {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 20%;
      flex: 1 0 20%;
  width: 44px;
  height: 44px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
