<div class="kanban">
    <div 
        #toDo
        igxDrop
        id="toDoList"
        class="state-container"
        [attr.data-state]="'ToDo'"
        (enter)="onStateContainerEnter($event)"
        (leave)="onStateContainerLeave($event)"
        (dropped)="onItemDropped($event)">        
        <h4 class="state-title">To Do {{toDoList.length}}
        </h4>
        <div *ngFor="let item of toDoList"
            igxDrag
            igxDrop
            (dragStart)="dragStartHandler($event)"
            (dragEnd)="dragEndHandler($event)"
            (enter)="onItemEnter($event)"
            (leave)="onItemLeave($event)"
            class="item-container"
            [class.notVisible]="item.id === 'dummy'"
            id="{{item.id}}"
            [attr.data-state]="item.state"
            [hideBaseOnDrag]="true"
            [dragTolerance]="0"
            [ghostClass]="'drag-ghost-class'">
                <div class="item">
                    <div class="title">{{item.text}}</div>
                    <div class="id">{{item.id}}</div>
                </div>
        </div>    
    </div>
    <div 
        #inProgress
        igxDrop 
        id="inProgressList"
        class="state-container"
        [attr.data-state]="'InProgress'"
        (enter)="onStateContainerEnter($event)"
        (leave)="onStateContainerLeave($event)"
        (dropped)="onItemDropped($event)">
        <h4 class="state-title">In Progress {{inProgressList.length}}</h4>
        <div *ngFor="let item of inProgressList"
            igxDrag
            igxDrop
            (dragStart)="dragStartHandler($event)"
            (dragEnd)="dragEndHandler($event)"
            (enter)="onItemEnter($event)"
            (leave)="onItemLeave($event)"
            class="item-container" 
            [class.notVisible]="item.id === 'dummy'"
            id="{{item.id}}" 
            [attr.data-state]="item.state"
            [hideBaseOnDrag]="true"
            [dragTolerance]="0"
            [ghostClass]="'drag-ghost-class'">
                <div class="item">
                    <div class="title">{{item.text}}</div>
                    <div class="id">{{item.id}}</div>
                </div>
        </div>
    </div>
    <div 
        #done
        igxDrop
        id="doneList"
        class="state-container"
        [attr.data-state]="'Done'"
        (enter)="onStateContainerEnter($event)"
        (leave)="onStateContainerLeave($event)"
        (dropped)="onItemDropped($event)">
        <h4 class="state-title">Done {{doneList.length}}</h4>
        <div *ngFor="let item of doneList"
            igxDrag
            igxDrop
            (dragStart)="dragStartHandler($event)"
            (dragEnd)="dragEndHandler($event)"
            (enter)="onItemEnter($event)"
            (leave)="onItemLeave($event)"
            class="item-container"
            [class.notVisible]="item.id === 'dummy'"
            id="{{item.id}}" 
            [attr.data-state]="item.state"
            [hideBaseOnDrag]="true"
            [dragTolerance]="0"
            [ghostClass]="'drag-ghost-class'">
            <div class="item">
                <div class="title">{{item.text}}</div>
                <div class="id">{{item.id}}</div>
            </div>
        </div>  
    </div>
</div>
