$custom-blue: #0099FF;
$title-color: rgba(0,0,0,0.866);

@mixin vendor-box-shadow(   $x1, $y1, $blur1, $spread1, $rgba1, 
                            $x2, $y2, $blur2, $spread2, $rgba2, 
                            $x3, $y3, $blur3, $spread3, $rgba3) {
    -webkit-box-shadow: $x1 $y1 $blur1 $spread1 $rgba1, $x2 $y2 $blur2 $spread2 $rgba2, $x3 $y3 $blur3 $spread3 $rgba3;
    -moz-box-shadow: $x1 $y1 $blur1 $spread1 $rgba1, $x2 $y2 $blur2 $spread2 $rgba2, $x3 $y3 $blur3 $spread3 $rgba3;
    box-shadow: $x1 $y1 $blur1 $spread1 $rgba1, $x2 $y2 $blur2 $spread2 $rgba2, $x3 $y3 $blur3 $spread3 $rgba3;
}
li {
    list-style-type: none
}
.kanban {
    max-width: 950px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-around;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.state-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    position: relative;
    padding-top: 40px;
    .state-title {
        font-family: Titillium Web;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 0.15px;
        color: $title-color;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 0px auto;
        text-align: center;
        text-transform: uppercase;
        span {
            border: 2px solid transparent;        
            width: 22px;
            height: 22px;
            display: inline-block;
            line-height: 16px;
        }
    }
    .list {
        padding: 10px 20px 20px 20px;
        margin: 0px;
        height: 100%;
    }
}
.item-container {
    background: white;
    width: 280px;
    height: 98px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: unset;
    }
    @include vendor-box-shadow(0px, 3px, 1px, -2px, rgba(0,0,0,0.078), 0px, 2px, 2px, 0px, rgba(0,0,0,0.121), 0px, 1px, 5px, 0px, rgba(0,0,0,0.258));
    .item {
        padding: 20px 20px 10px 20px;
        font-family: Titillium Web;
        font-style: normal;
        vertical-align: center;
        .title {
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0.15px;
            color: $title-color;
            text-align: left;
        }
        .id {
            margin-top: 10px;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.1px;
            color: rgba(0,0,0,0.619);
            text-align: right;
        }
    }
    &.drag-ghost-class {
        @include vendor-box-shadow(0px, 4px, 18px, 3px, rgba(0,0,0,0.078), 0px, 10px, 14px, 1px, rgba(0,0,0,0.121), 0px, 6px, 6px, -3px, rgba(0,0,0,0.258));
        .item {
            .title {
                color: $custom-blue
            }
            .id {
                color: $custom-blue
            }
        }
    }
}
.dragHovered {
    background: #A7D8F9;
    h4 span {
        border: 2px solid white!important;
        color: white;
        background: #0099FF;
        border-radius: 11px;
        font-weight: 400;
        font-size: 13px;
        vertical-align: 15%;
        @include vendor-box-shadow(0px, 4px, 18px, 3px, rgba(0,0,0,0.078), 0px, 10px, 14px, 1px, rgba(0,0,0,0.121), 0px, 6px, 6px, -3px, rgba(0,0,0,0.258));
    }
}