$custom-blue: #0099FF;

@mixin vendor-box-shadow(   $x1, $y1, $blur1, $spread1, $rgba1, 
                            $x2, $y2, $blur2, $spread2, $rgba2, 
                            $x3, $y3, $blur3, $spread3, $rgba3) {
    -webkit-box-shadow: $x1 $y1 $blur1 $spread1 $rgba1, $x2 $y2 $blur2 $spread2 $rgba2, $x3 $y3 $blur3 $spread3 $rgba3;
    -moz-box-shadow: $x1 $y1 $blur1 $spread1 $rgba1, $x2 $y2 $blur2 $spread2 $rgba2, $x3 $y3 $blur3 $spread3 $rgba3;
    box-shadow: $x1 $y1 $blur1 $spread1 $rgba1, $x2 $y2 $blur2 $spread2 $rgba2, $x3 $y3 $blur3 $spread3 $rgba3;
}
li {
    list-style-type: none
}
.kanban {
    max-width: 950px;
    height: 710px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-around;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.notVisible {
    visibility: hidden !important;
}
article {
    display: flex;
    flex-direction: column;
    width: 320px;
    position: relative;
    padding: 50px 20px 20px 20px;
    margin: 0px;
    h4 {
        font-family: Titillium Web;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 0.15px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 0px auto;
        text-align: center;
        text-transform: uppercase;
        /* IE Fallback color */
        color: #026ab0;
        /* Default color */
        color: var(--igx-card-header-text-color);
    }
}
igx-card {
    width: 280px;
    height: 98px;
    margin-bottom: 10px;
    font-family: Titillium Web;
    &:last-child {
        margin-bottom: unset;
    }
    igx-card-header {
        padding-bottom: 0;
        p {
            font-weight: 400;
            text-align: left;
        }
    }
    igx-card-content {
        padding-top: 0;
        p {
            font-weight: 300;
            letter-spacing: 0.1px;
            text-align: right;
        }
    }
    &.drag-ghost-class {
        @include vendor-box-shadow(0px, 4px, 18px, 3px, rgba(0,0,0,0.078), 0px, 10px, 14px, 1px, rgba(0,0,0,0.121), 0px, 6px, 6px, -3px, rgba(0,0,0,0.258));
        igx-card-header p, igx-card-content p {
            color: $custom-blue
        }
    }
}
.dragHovered {
    /* IE Fallback color */
    background-color: #9ba8b0;
    /* Default color */
    background-color: var(--igx-navdrawer-item-active-background);
}
