<div class="sample-container">
    <igx-category-chart 
        [dataSource]="data"
        [pixelScalingRatio]="scalingRatio"
        yAxisLabelExtent="40" 
        #chart>
    </igx-category-chart>

    <div class="sample-controls"> 
        <button igxButton="raised" 
        igxRipple="white"
        (click)="onChangeAmountClicked()"
        >Change Amount</button>
        <span #fpsSpan class="fpslabel">FPS:</span>
        <div class="max-points-slider">
        <span class="label">Data amount: {{ maxPoints }}</span>
        <br/>
        <igx-slider id="slider"
        [minValue]="5000" 
        [maxValue]="2000000" 
        [value]="maxPoints" 
        [isContinuous]=true
        (onValueChange)="onMaxPointsChanged($event.value)"></igx-slider>
        </div>
        
        <div class="frequency-slider">

        <span class="label">Refresh frequency (ms): {{ refreshMilliseconds }} </span>
        <igx-slider id="slider"
        [minValue]="10" 
        [maxValue]="1000" 
        [value]="refreshMilliseconds" 
        [isContinuous]=true
        (onValueChange)="onRefreshFrequencyChanged($event.value)"></igx-slider>
        </div>
        
    </div>
</div>