<igx-expansion-panel>
    <igx-expansion-panel-header>
        <igx-expansion-panel-title>
            IgxExpansionPanel
        </igx-expansion-panel-title>
        <igx-expansion-panel-description>
            A control with toggleable content
        </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
        The IgxExpansionPanel control provides a header with a short title and summary as well as a toggleable, detailed view.
    </igx-expansion-panel-body>
</igx-expansion-panel>