<div class="button-grid flex flex-col items-center justify-center h-full gap-6 p-4">
  <div class="button-row grid grid-cols-4 items-center justify-items-center gap-12">
    <button igxButton="contained" class="confirm-button">Confirm</button>
    <button igxButton="outlined" class="send-button">
      <igx-icon family="material">send</igx-icon>
      Send
    </button>
    <button igxButton="flat" class="cancel-button">Cancel</button>
    <button igxButton="fab" class="add-button">
      Add
      <igx-icon family="material">add</igx-icon>
    </button>
  </div>
</div>
