<section class="sample-content">
    <article class="sample-column card-wrapper">
        <igx-card type="outlined" class="weather-card">
            <igx-card-header>
                <h3 igxCardHeaderTitle>{{ cards[1].title }}</h3>
                <h5 igxCardHeaderSubtitle>{{ cards[1].subtitle }}</h5>
            </igx-card-header>

            <igx-card-content>
                <div class="weather">
                    <div class="weather-now">
                        <span class="big-number">
                            {{ cards[1].content}}
                            <span class="temp-unit">{{ cards[1].unit}}</span>
                        </span>

                    </div>
                    <img  [src]="cards[1].imageUrl">
                </div>

                <div class="w_details">
                    <div class="w_details__item">
                        <igx-icon class="w_details__icon" fontSet="weather-icons" [name]="details[0].icon"></igx-icon>
                        <span class="w_details__value">{{details[0].value}}</span>
                        <span class="w_details__label">{{details[0].label}}</span>
                    </div>
                    <div class="w_details__item">
                        <igx-icon class="w_details__icon" fontSet="weather-icons" [name]="details[1].icon"></igx-icon>
                        <span class="w_details__value">{{details[1].value}}</span>
                        <span class="w_details__label">{{details[1].label}}</span>
                    </div>
                </div>

                <div class="time-wrapper">
                    <igx-slider [continuous]="true" [minValue]="0" [maxValue]="100" [step]="10"></igx-slider>
                    <div class="weather-time">
                        <span>08:00</span>
                        <span>12:00</span>
                        <span>16:00</span>
                        <span>20:00</span>
                        <span>00:00</span>
                    </div>
                </div>
            </igx-card-content>

            <igx-expansion-panel>
                <igx-expansion-panel-body>
                    <igx-list>
                        <igx-list-item *ngFor="let day of days;">
                            <div class="item-container">
                                <span class="day">{{ day.day }}</span>
                                <span [class]="day.isSunny ? 'isSunny w_icon' : 'w_icon'" class="w_icon">
                                    <igx-icon>{{day.icon}}</igx-icon>
                                </span>
                                <span class="degree">
                                    <span>{{ day.tempHeight}} / {{day.tempLow}}</span>
                                </span>
                            </div>
                        </igx-list-item>
                    </igx-list>
                </igx-expansion-panel-body>
            </igx-expansion-panel>

            <igx-divider></igx-divider>

            <igx-card-actions>
                <button (click)="toggleDetails()" igxButton igxRipple>{{cards[1].buttons}}</button>
            </igx-card-actions>
        </igx-card>
    </article>

    <article class="sample-column card-wrapper">
        <igx-card>
            <igx-card-media height="248px">
                <img [src]="cards[0].imageUrl">
            </igx-card-media>

            <igx-card-header>
                <h3 igxCardHeaderTitle>{{ cards[0].title }}</h3>
                <h5 igxCardHeaderSubtitle>{{ cards[0].subtitle }}</h5>
            </igx-card-header>

            <igx-card-content>
                <p>{{ cards[0].content}}</p>

                <igx-divider class="content-divider"></igx-divider>

                <span class="chip-label igx-typography__subtitle-1"> Tonight's availability</span>

                <div class="chip-holder">
                    <igx-chip *ngFor="let chip of cards[0].chips">
                        {{ chip }}
                    </igx-chip>
                </div>
            </igx-card-content>

            <igx-card-actions>
                <button igxButton igxRipple *ngFor="let button of cards[0].buttons">{{ button }}</button>
            </igx-card-actions>
        </igx-card>
    </article>

    <article class="sample-column card-wrapper">
        <igx-card>
            <igx-card-header>
                <igx-avatar src="assets/images/card/avatars/photographer.jpg" roundShape="true"></igx-avatar>
                <h4 igxCardHeaderTitle>Frank Carter</h4>
                <h5 igxCardHeaderSubtitle>Photographer</h5>
            </igx-card-header>

            <igx-card-media>
                <img src="assets/images/card/media/photographer_portfolio.jpg">
            </igx-card-media>

            <igx-card-content>
                <p>Photographer Frank Carter won this year national photo contest with his image "Skies" which gathered the most votes in the competition.</p>
            </igx-card-content>

            <igx-card-actions>
                <button igxButton>Like</button>
                <button igxButton>Share</button>
            </igx-card-actions>
        </igx-card>
    </article>
</section>
