<div class="wrapper">
    <igx-grid igxPreventDocumentScroll #grid
        [width]="'100%'"
        height="750px"
        [data]="sourceData"
        [autoGenerate]="false"
        [sortingExpressions]="sort"
        [displayDensity]="'cosy'">
        <igx-column-layout [header]="'ID'">
            <igx-column [rowStart]="1" [colStart]="1" [rowEnd]="3" field="ID" [filterable]="false" [width]="'150px'"></igx-column>
        </igx-column-layout>
        <igx-column-layout [header]="'Contact Details'">
            <igx-column [rowStart]="1" [colStart]="1" [colEnd]="3" field="CompanyName" [header]="'Company Name'" [sortable]="true" [width]="'350px'"></igx-column>
            <igx-column [rowStart]="2" [colStart]="1" [colEnd]="2" field="ContactName" [header]="'Contact Name'"></igx-column>
            <igx-column [rowEnd]="3" [rowStart]="2" [colStart]="2" [colEnd]="3" field="ContactTitle" [header]="'Contact Title'"></igx-column>
        </igx-column-layout>
        <igx-column-layout [header]="'Address Details'">
            <igx-column [rowStart]="1" [colStart]="1" [colEnd]="3" field="Country" [width]="'220px'"></igx-column>
            <igx-column [rowStart]="1" [colStart]="3" [colEnd]="5" field="Region" [width]="'220px'"></igx-column>
            <igx-column [rowStart]="1" [colStart]="5" [colEnd]="7" field="PostalCode" [header]="'Postal Code'" [filterable]="false" [width]="'220px'"></igx-column>
            <igx-column [rowStart]="2" [colStart]="1" [colEnd]="4" field="City"></igx-column>
            <igx-column [rowStart]="2" [colStart]="4" [colEnd]="7" field="Address"></igx-column>
        </igx-column-layout>
        <igx-column-layout [header]="'Phone Details'">
                <igx-column [rowStart]="1" [colStart]="1" [colEnd]="2" field="Phone" [width]="'220px'"></igx-column>
                <igx-column [rowStart]="2" [colStart]="1" [colEnd]="2" field="Fax"></igx-column>
            </igx-column-layout>
    </igx-grid>
</div>
