igx-time-picker {
  width: 400px; }

.action-buttons {
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  height: 52px; }
  .action-buttons [igxButton] {
    margin: 8px 8px 8px 0px; }
