@use "layout.scss";
@use "igniteui-angular/theming" as *;

$banner-theme: banner-theme(
    $banner-background: #e3e3e3,
    $banner-message-color: color($purple-palette, "secondary", 600),
);
$banner-theme: banner-theme(
    $banner-background: #494949,
    $banner-message-color: #ffcd0f,
);

$icon-button-theme: flat-icon-button-theme(
    $foreground: #ffcd0f,
    $hover-foreground: #ffffff
);

:host {
    @include tokens($banner-theme);
    @include tokens($icon-button-theme);
}

igx-grid {
    @include palette($purple-palette);
}
