.grid__wrapper {
    margin: 0 auto;
    padding: 5px;
}

.cellAlignSyle {
    text-align: right;
    float:right;
}

.cellAlignSyle > span {
    float:right;
}

.up {
    color: green;
}

.down {
    color: red;
}

.headerAlignSyle {
    text-align: right !important;
}

.currency-badge-container {
    width: 80px;
    float: right;
}

.badge-left {
    float: left;
}

.remote-data-loading-template {
    animation: content-placeholder-animation .5s infinite;
    background-color: lightgray;
    height: 15px;
}

.remote-data-loading-template-medium {
    @extend .remote-data-loading-template;
    width: 30px;
}

.remote-data-loading-template-large {
    @extend .remote-data-loading-template;
    width: 40px;
}

.remote-data-loading-template-small {
    @extend .remote-data-loading-template;
    width: 20px;
}

@keyframes content-placeholder-animation {
    0% {
        opacity: .75;
        transform: scaleX(.9);
    }
    50% {
        opacity: 1;
        transform: scaleX(1.1);
    }
    100% {
        opacity: .75;
        transform: scaleX(.9);
    }
}
