.grid__wrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  @media (max-width: 1000px) {
    .grid__wrapper {
      width: 98% !important;
      margin: 0 auto;
      padding-left: 1%;
      padding-right: 1%;
    }
  }
  
  @media (max-width: 720px) {
    .grid__wrapper {
      width: 720px !important;
      margin: 0 3px;
      padding-right: 5px;
    }
  }
  .cellAlignSyle {
    text-align: right;
    float:right;
}
.cellAlignSyle > span {
    float:right;
}
.up {
    color: green;
}
.down {
    color: red;
}
.headerAlignSyle {
    text-align: right !important;
}

.grid__wrapper {
  margin: 0 auto;
  padding: 5px;
}

.currency-badge-container {
    width: 80px; 
    float: right;
}

.badge-left {
    float: left;
}