<ng-template #cellTemplate igxCell let-val let-rowData="cell.row.rowData">
    <div *ngIf="!rowData.emptyRec; else getDataLoadingTemplate()">
        {{ val }}
    </div>
</ng-template>
<div class="grid__wrapper">
    <ng-template #remoteDataLoadingLarge>
        <div class="remote-data-loading-template-large"></div>
    </ng-template>
    <ng-template #remoteDataLoadingMedium>
        <div class="remote-data-loading-template-medium"></div>
    </ng-template>
    <ng-template #remoteDataLoadingSmall>
        <div class="remote-data-loading-template-small"></div>
    </ng-template>

    <igx-grid igxPreventDocumentScroll #grid [data]="remoteData | async" [height]="'500px'" [width]="'100%'" [autoGenerate]='false'
        (onSortingDone)="processData(true)">
        <igx-column [field]="'ShipName'" [sortable]="true" [cellTemplate]="cellTemplate"></igx-column>
        <igx-column [field]="'ShipAddress'" [sortable]="true" [cellTemplate]="cellTemplate"></igx-column>
        <igx-column [field]="'City'" [sortable]="true" [cellTemplate]="cellTemplate"></igx-column>
        <igx-column [field]="'Country'" [sortable]="true" [cellTemplate]="cellTemplate"></igx-column>
        <igx-column [field]="'Quantity'" dataType="number" [headerClasses]="'headerAlignSyle'" [sortable]="true">
            <ng-template igxHeader>
                <span class="cellAlignSyle">Quantity</span>
            </ng-template>
            <ng-template igxCell let-val let-cell="cell">
                <div *ngIf="!cell.row.rowData.emptyRec; else getDataLoadingTemplate()">
                    <div class="currency-badge-container">
                        <igx-badge *ngIf="val>20" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                        <igx-badge *ngIf="val<=20" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                        <span class="cellAlignSyle" [class.up]="val>20" [class.down]="val<=20">{{ formatNumber(val) }}</span>
                    </div>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Freight'" dataType="number" [headerClasses]="'headerAlignSyle'" [sortable]="true">
            <ng-template igxHeader>
                <span class="cellAlignSyle">Freight</span>
            </ng-template>
            <ng-template igxCell let-val let-cell="cell">
                <div *ngIf="!cell.row.rowData.emptyRec; else getDataLoadingTemplate()">
                    <div class="currency-badge-container">
                        <igx-badge *ngIf="val>20" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                        <igx-badge *ngIf="val<=20" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                        <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<=0">{{ formatNumber(val) }}</span>
                    </div>
                </div>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>
