<div class="switches">
    <igx-switch (change)='changePinningPosition()' style="padding-left: 20px">Bottom Row Pinning toggle</igx-switch>
</div>
<div class="grid-container">
    <igx-grid #grid1 igxPreventDocumentScroll [data]="data" [pinning]='pinningConfig' [height]="'520px'" [width]="'100%'" [autoGenerate]="false"
        [primaryKey]="'ID'" [cellSelection]="'none'" [rowEditable]="true"
        (mouseover)="onMouseOver(actionStrip1, grid1, $event)" (onCellClick)="onCellClick($event)"
        (mouseleave)="onMouseLeave(actionStrip1, $event)"
        (onDataPreLoad)="actionStrip1.hide()">
        <igx-column [field]="'CompanyName'" [header]="'Company Name'" [width]="'300px'"></igx-column>
        <igx-column [field]="'ContactName'" [header]="'Contact Name'"></igx-column>
        <igx-column [field]="'ContactTitle'" [header]="'Contact Title'"></igx-column>
        <igx-column [field]="'Address'" [header]="'Address'"></igx-column>
        <igx-column [field]="'City'" [header]="'City'"></igx-column>
        <igx-column [field]="'PostalCode'" [header]="'Postal Code'"></igx-column>
        <igx-column [field]="'Phone'" [header]="'Phone'"></igx-column>
        <igx-column [field]="'Fax'" [header]="'Fax'"></igx-column>

        <igx-action-strip #actionStrip1>
            <igx-grid-pinning-actions></igx-grid-pinning-actions>
            <igx-grid-editing-actions></igx-grid-editing-actions>
        </igx-action-strip>
    </igx-grid>
</div>