@use 'igniteui-angular/lib/core/styles/themes/index' as *;
@forward 'igniteui-angular/lib/core/styles/themes/index';

:host {
    display: flex;
}

h5 {
    margin: 8px;
}

igx-list {
    box-shadow: elevation(2);
    max-height: 352px;
}

.animate {
    overflow-y: scroll;
}

igx-list-item {
    border-bottom: 1px solid var(--ig-gray-100);
}
