.sample-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 500px;
}

.wrapper {
    display: flex;
    > * {
        width: 100%;
        margin-left: 8px;
        &:first-of-type {
            margin-left: 0;
        }
    }
}
