.grid-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 16px 24px;

    igx-switch {
        margin-top: 24px;
    }

}

.grid__wrapper {
    margin: 0 16px;
}

.header-icon {
    font-size: 1.4em;
    width: 1.1em;
    height: 1.1em;
    float: right;
    cursor: pointer;
}

.header {
    height: 100%;
}

.igx-grid__th .title {
    width: 100%;
    cursor: auto;
}