<div class="switches">
    <igx-switch (change)='changePinningPosition()' style="padding-left: 20px"> Bottom Row Pinning toggle</igx-switch>
</div>

<div class="grid-container">
    <igx-tree-grid igxPreventDocumentScroll [pinning]="pinningConfig" #treegrid [data]="data" primaryKey="ID" foreignKey="ParentID"
        [width]="'100%'" [height]="'520px'" [cellSelection]="'none'">
        <igx-column width='70px' [pinned]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <igx-icon class="pin-icon" fontSet="filtering-icons" name="{{cell.row.pinned ? 'unpin' : 'pin'}}"
                    (mouseup)="togglePinning(cell.row, $event)">
                </igx-icon>
            </ng-template>
        </igx-column>
        <igx-column *ngFor="let c of columns" [field]="c.field" [dataType]="c.dataType" [header]="c.label">
        </igx-column>
    </igx-tree-grid>
</div>