<div igxLayout>
    <div class="layout-box sidebar" igxLayout igxLayoutDir="column">
        <div class="layout-box__el" igxFlex>Sidebar</div>
    </div>

    <div class="layout-box content" igxLayout igxLayoutDir="column">
        <div class="layout-box__el header" igxFlex>Header</div>
        <div class="layout-box__el body" igxFlex>
            <div class="layout-box" igxLayout>
                <div class="layout-box__el" igxFlex>1</div>
                <div class="layout-box__el" igxFlex>2</div>
                <div class="layout-box__el" igxFlex>3</div>
            </div>
        </div>
        <div class="layout-box__el footer" igxFlex>Footer</div>
    </div>
</div>
