.layout-box {
    width: 100%;
    background: var(--igx-grays-200);
    padding: 8px;

    .layout-box__el {
        padding: 10px 20px;
        margin: 8px;
        background: var(--igx-secondary-500);
        color: var(--igx-surface-500);
    }

    &.sidebar {
        flex: 1;
    }

    &.content {
        flex: 3;

        .layout-box {
            height: 400px;
        }

        .body {
            background: none;
            padding: 0;
        }
    }
}
