<div class="grid__wrapper">
        <igx-grid #grid1 [data]="data" [width]="'100%'" [height]="'600px'" [rowSelectable]='true'  [primaryKey]="'ID'">
                <igx-column #col field="OrderID" header="Order ID" width="0%" hidden=true [headerClasses]="'prodId'">
                </igx-column>
                <igx-column #col field="ShipCountry" header="Ship Country" width="15%" [headerClasses]="'prodId'" [groupable]="true">
                </igx-column>
                <igx-column #col field="OrderDate" header="Order Date" width="18%" [headerClasses]="'prodId'" [formatter]="formatDate">
                </igx-column>
                <igx-column #col field="ShipName" header="Ship Name" width="20%" [headerClasses]="'prodId'">
                </igx-column>
                <igx-column #col field="ShipCity" header="Ship City" width="13%" [headerClasses]="'prodId'" [groupable]="true">
                </igx-column>
                <igx-column #col field="UnitPrice" header="Unit Price" width="13%" [headerClasses]="'prodId'" [formatter]="formatCurrency" [dataType]="'number'">
                </igx-column>
                <igx-column #col field="Discontinued" header="Discontinued" width="10%" [headerClasses]="'prodId'">
                    <ng-template igxCell let-cell="cell" let-val>
                            <img *ngIf="val" src="assets/images/grid/active.png" title="Continued" alt="Continued" />
                            <img *ngIf="!val" src="assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
                    </ng-template>
                </igx-column>
                <ng-template igxGroupByRow let-groupRow>
                        <div class="igx-group-label">
                            <igx-icon fontSet="material" name="group_work" class="igx-group-label__icon"></igx-icon>
                            <span class="igx-group-label__column-name">
                            {{ groupRow.expression.fieldName }}:
                            </span>
                            <span class="igx-group-label__text">{{ isDate(groupRow.value) ? formatDate(groupRow.value) : groupRow.value }}</span>
                            <igx-badge [value]="groupRow.records.length" class='igx-group-label__count-badge'></igx-badge>
                            <span style ="color:#09f;"> Ordered in 2017:</span><span class="igx-badge__circle igx-badge__circle--default" >{{ calc2017(groupRow.records)}}</span>
                        </div>
                    </ng-template>
            </igx-grid>
</div>
