.wrapper {
    display: flex;
    flex-direction: row;
}
.contact-name {
    font-weight: 600;
}
.contact-container{
    margin-left: 20px;
}
.badge-style
{
  position: absolute;
  bottom: -6px;
  right: -50px;
}