<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [primaryKey]="'ProductID'" [autoGenerate]="false" [displayDensity]="'cosy'"
        width="100%" height="350px" [paging]="true" [rowSelection]="selectionMode" (onGridKeydown)="customKeydown($event)">
        <igx-column field="ProductID" header="Product ID" width="16%" [headerClasses]="'prodId'"
            [editable]="true">
        </igx-column>
        <igx-column field="ReorderLevel" header="Orders" width="16%" [sortable]="true" [filterable]="true" editable="true"
            dataType="number" [movable]="true">
        </igx-column>
        <igx-column field="ProductName" width="16%" header="ProductName" [sortable]="true" [dataType]="'string'"
            editable="true" [resizable]="true" [movable]="true">
        </igx-column>
        <igx-column field="UnitsInStock" header="UnitsInStock" width="16%" dataType="number" editable="true"
            [sortable]="true" [movable]="true">
        </igx-column>
        <igx-column field="OrderDate" width="16%" [dataType]="'date'" [sortable]="true"
            editable="true" [resizable]="true" [movable]="true">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'" width="20%"
            editable="true" [resizable]="true" [movable]="true">
        </igx-column>
    </igx-grid>
</div>
