<div class="container" width="100%" height="calc(100% - 200px)">

    <igx-data-chart #mainChart name="mainChart"
    width="100%"
    height="calc(100% - 160px)"
    isHorizontalZoomEnabled="true"
    isVerticalZoomEnabled="false"
    [dataSource]="data" >
        <igx-ordinal-time-x-axis #xAxis name="xAxis" dateTimeMemberPath="time">
        </igx-ordinal-time-x-axis>
        <igx-numeric-y-axis #yAxis name="yAxis" labelLocation="OutsideLeft"
            title="yAxis" labelExtent="40" >
        </igx-numeric-y-axis>
        <igx-financial-price-series
            name="series2"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            highMemberPath="high"
            lowMemberPath="low"
            closeMemberPath="close"
            openMemberPath="open"
            volumeMemberPath="volume">
        </igx-financial-price-series>
    </igx-data-chart>

    <div width="100%" height="160px" position="relative">
        <div width="100%" height="160px" position="absolute" top="0px" left="0px" >
            <igx-data-chart
            #zoomChart name="zoomChart"
            width="100%"
            height="160px"
            isHorizontalZoomEnabled="true"
            isVerticalZoomEnabled="true"
            [dataSource]="data" >
                <igx-ordinal-time-x-axis #xAxis name="xAxis" dateTimeMemberPath="time">
                </igx-ordinal-time-x-axis>
                <igx-numeric-y-axis #yAxis name="yAxis" labelLocation="OutsideLeft"
                    title="yAxis" labelExtent="40" >
                </igx-numeric-y-axis>
                <igx-financial-price-series
                    name="series2"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    highMemberPath="high"
                    lowMemberPath="low"
                    closeMemberPath="close"
                    openMemberPath="open"
                    volumeMemberPath="volume">
                </igx-financial-price-series>
            </igx-data-chart>
        </div>
        <div width="100%" height="160px" position="absolute" top="0px" left="0px" >
            <igx-zoom-slider
            #zoomSlider name="zoomSlider"
            width="100%"
            height="100%" >
            </igx-zoom-slider>
        </div>
    </div>
</div>
