<div class="hgrid-wrapper">
    <igx-hierarchical-grid [igxPreventDocumentScroll]="true"  #hierarchicalGrid class="hgrid" [data]="data" height="480px" rowHeight="65px">
        <igx-grid-toolbar>
            <igx-grid-toolbar-title>Singers</igx-grid-toolbar-title>
        </igx-grid-toolbar>

        <igx-column field="Artist" width="150px"></igx-column>
        <igx-column field="Photo">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner_2">
                    <img [src]="cell.value" class="photo" />
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="Debut"></igx-column>
        <igx-column field="GrammyNominations" header="Grammy Nominations" width="200px"></igx-column>
        <igx-column field="GrammyAwards" header="Grammy Awards" width="200px"></igx-column>

        <igx-row-island [height]="null" key="Albums" [autoGenerate]="false">
            <igx-grid-toolbar [grid]="childGrid" *igxGridToolbar="let childGrid">
                <igx-grid-toolbar-title>Albums</igx-grid-toolbar-title>
            </igx-grid-toolbar>

            <igx-column field="Album"></igx-column>
            <igx-column field="LaunchDate" header="Launch Date" dataType="date"></igx-column>
            <igx-column field="BillboardReview" header="Billboard Review"></igx-column>
            <igx-column field="USBillboard200" header="US Billboard 200"></igx-column>

        <igx-row-island [height]="null" key="Songs" [autoGenerate]="false">
            <igx-grid-toolbar [grid]="childGrid" *igxGridToolbar="let childGrid">
                <igx-grid-toolbar-title>Songs</igx-grid-toolbar-title>
            </igx-grid-toolbar>

                <igx-column field="Number" header="No."></igx-column>
                <igx-column field="Title"></igx-column>
                <igx-column field="Released" dataType="date"></igx-column>
                <igx-column field="Genre"></igx-column>
        </igx-row-island>
    </igx-row-island>

    <igx-row-island [height]="null" key="Tours" [autoGenerate]="false">
        <igx-grid-toolbar [grid]="childGrid" *igxGridToolbar="let childGrid">
            <igx-grid-toolbar-title>Tours</igx-grid-toolbar-title>
        </igx-grid-toolbar>

        <igx-column field="Tour"></igx-column>
        <igx-column field="StartedOn" header="Started on"></igx-column>
        <igx-column field="Location"></igx-column>
        <igx-column field="Headliner"></igx-column>
    </igx-row-island>

    </igx-hierarchical-grid>
</div>
