@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$custom-column-actions-theme: igx-column-actions-theme(
    $background-color: steelblue,
    $title-color: gold
);
$custom-button: igx-button-theme($foreground: gold, $disabled-foreground: black);

/*ENHANCED APPROACHES*/

// $yellow-color: gold;
// $blue-color: steelblue;
// $custom-palette: igx-palette($primary: $blue-color, $secondary: $yellow-color);

/*PALETTE and IGX-COLOR*/

// $custom-column-actions-theme: igx-column-actions-theme(
//     $palette: $custom-palette,
//     $title-color: igx-color($custom-palette, "secondary", 400),
//     $background-color: igx-color($custom-palette, "primary", 200)
// );
// $custom-button: igx-button-theme(
//     $palette: $custom-palette,
//     $foreground: igx-color($custom-palette, "secondary", 400),
//     $disabled-foreground: black
// );

/*SCHEMAS*/

// $custom-column-actions-schema: extend($_dark-column-actions,
//     (
//         title-color:(
//             igx-color: ("secondary", 400)
//         ),
//         background-color:(
//             igx-color: ("primary", 200)
//         )
//     )
// );
//
// $custom-button-schema: extend($_dark-button,
//     (
//         foreground:(
//             igx-color:("secondary", 500)
//         ),
//         disabled-foreground:(
//             igx-color:("primary", 700)
//         )
//     )
// );
//
// $custom-dark-schema: extend($dark-schema,(
//     igx-column-actions: $custom-column-actions-schema,
//     igx-button: $custom-button-schema
// ));
// $custom-column-actions-theme: igx-column-actions-theme(
//   $palette: $custom-palette,
//   $schema: $custom-dark-schema
// );
// $custom-button: igx-button-theme(
//   $palette: $custom-palette,
//   $schema: $custom-dark-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    ::ng-deep {
        @include igx-column-actions($custom-column-actions-theme);
        .igx-column-actions {
            @include igx-button($custom-button);
        }
    }
}

.hgrid_wrapper {
    margin: 16px;
}

.photo {
    vertical-align: middle;
    max-height: 62px;
}
.cell__inner_2 {
    margin: 1px
}
