@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-column-actions-theme: column-actions-theme(
  $background-color: #292826,
  $title-color: #ffcd0f
);

$custom-button: flat-button-theme(
  $foreground: #ffcd0f,
  $disabled-foreground: #292826
);

$dark-checkbox-theme: checkbox-theme(
  $label-color: #ffcd0f,
  $empty-color: #ffcd0f,
  $fill-color: #ffcd0f,
  $tick-color: #292826
);

:host ::ng-deep {
  @include tokens($custom-column-actions-theme);

  .igx-column-actions {
    @include tokens($custom-button);
    @include tokens($dark-checkbox-theme);
  }
}
