@use '../../../variables' as *;

$custom-column-actions-theme: igx-column-actions-theme(
    $background-color: steelblue,
    $title-color: gold
);

$custom-button: igx-button-theme($foreground: gold, $disabled-foreground: black);

:host {
    ::ng-deep {
        @include igx-column-actions($custom-column-actions-theme);
        .igx-column-actions {
            @include igx-button($custom-button);
        }
    }
}

.hgrid_wrapper {
    margin: 16px;
}

.photo {
    vertical-align: middle;
    max-height: 62px;
}
.cell__inner_2 {
    margin: 1px
}
