@use "layout.scss";
@use "igniteui-angular/theming" as *;

// Create expansion panel theme
$custom-panel-theme: expansion-panel-theme(
  $header-background: #353a4b,
  $body-background: #353a4b,
  $header-title-color: #ffd351,
  $header-icon-color: #ffd351,
);

:host {
    @include tokens($custom-panel-theme);
}
