<nav aria-label="Breadcrumb">
    <igc-breadcrumbs separator="slash">
        <igc-breadcrumb><a href="/home" (click)="$event.preventDefault()">Home</a></igc-breadcrumb>
        <igc-breadcrumb><a href="/home/products" (click)="$event.preventDefault()">Products</a></igc-breadcrumb>
        <igc-breadcrumb><a href="/home/products/laptops" (click)="$event.preventDefault()">Laptops</a></igc-breadcrumb>
        <igc-breadcrumb current><a href="/home/products/laptops/gaming" (click)="$event.preventDefault()">Gaming Laptop</a></igc-breadcrumb>
    </igc-breadcrumbs>
</nav>
