// Ignite UI for Angular Theming engine related styling
// in component.scss
@import '~igniteui-angular/lib/core/styles/themes/index';

.header-footer-select-sample {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 48px;
}

:host ::ng-deep {
    .select__entry {
        span {
            display: flex;
            padding: 8px;
            justify-content: space-between;
            width: 100%;
        }
    }
}

igx-select {
    min-width: 320px;
}

.custom-select-header,
.custom-select-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background: #ebebeb;
    igx-icon {
        color: #ddd;
        &.important-icon {
            color: igx-color($default-palette, "primary", 500);
        }
    }
}

.sample-template-icons,
.sample-template-icons__item {
    display: flex;
    align-items: center;
    igx-icon {
        margin-right: 8px;
    }
}

.sample-template-icons__item {
    margin-left: 32px;
}

.custom-select-header {
    height: 56px;
}

.custom-select-footer {
    height: 44px;
}

.sample-template-heading {
    font-size: 12px;
}

.sample-template-heading {
    color: igx-color($default-palette, "secondary", 600);
}

$light-sample-btn-group: igx-button-group-theme(
    $schema: $light-schema,
    $shadow: none,
    $border-radius: 0,
    $item-background: igx-color($default-palette, "grays", 300),
    $item-text-color: igx-color($default-palette, "grays", 700),
    $item-hover-background: igx-color($default-palette, "grays", 400),
    $item-hover-text-color: igx-color($default-palette, "grays", 700),
    $item-border-color: #d5d5d5,
    $item-selected-text-color: #fff,
    $item-selected-background: igx-color($default-palette, "primary", 500),
    $item-selected-border-color: igx-color($default-palette, "primary", 500),
    $item-selected-hover-background: igx-color($default-palette, "primary", 600)
);

@include igx-button-group($light-sample-btn-group);
:host ::ng-deep {
    @include igx-button-group($light-sample-btn-group);
}

.dark-theme {
    .custom-select-header,
    .custom-select-footer {
        background: #222;
        igx-icon {
            color: #ddd;
            &.important-icon {
                color: igx-color($green-palette, "secondary", 500);
            }
        }
    }

    .sample-template-heading {
        color: igx-color($green-palette, "secondary", 600);
    }

    $dark-sample-btn-group: igx-button-group-theme(
        $schema: $dark-schema,
        $palette: $green-palette,
        $shadow: none,
        $item-background: #333,
        $item-hover-background: #444,
        $item-hover-text-color: #fff,
        $item-border-color: #222,
        $item-text-color: #ddd,
        $border-radius: 0,
        $item-selected-text-color: #000,
        $item-selected-background: igx-color($green-palette, "secondary", 500),
        $item-selected-border-color: igx-color($green-palette, "secondary", 500),
        $item-selected-hover-background: igx-color($green-palette, "secondary", 600)
    );

    @include igx-button-group($dark-sample-btn-group);

    :host ::ng-deep {
        @include igx-button-group($dark-sample-btn-group);
    }
}
