<div class="header-footer-select-sample">
    <igx-select [overlaySettings]="{ outlet: element }">
        <label igxLabel>Pick your fruit</label>
        <igx-select-item *ngFor="let fruit of fruits" [value]="fruit.type" class="select__entry" [text]="fruit.type"
            [ngSwitch]="fruit.delivery">
            {{fruit.type}}
            <igx-icon *ngSwitchCase="'flight'">flight</igx-icon>
            <igx-icon *ngSwitchCase="'train'">train</igx-icon>
            <igx-icon *ngSwitchCase="'boat'">directions_boat</igx-icon>
        </igx-select-item>
        <ng-template igxSelectHeader>
            <div class="custom-select-header">
                <span class="sample-template-heading">DELIVERY METHOD</span>
                <igx-buttongroup (click)="filter($event.target.title)">
                    <button igxButton title="flight">
                        <igx-icon title="flight">flight</igx-icon>
                    </button>
                    <button igxButton title="train">
                        <igx-icon title="train">train</igx-icon>
                    </button>
                    <button igxButton title="boat">
                        <igx-icon title="boat">directions_boat</igx-icon>
                    </button>
                </igx-buttongroup>
            </div>
        </ng-template>
        <ng-template igxSelectFooter>
            <div class="custom-select-footer">
                <span class="sample-template-heading">TOTAL</span>
                <div class="sample-template-icons">
                    <span class="sample-template-icons__item">
                        <igx-icon title="flight" [class.important-icon]="selected === 'flight'">flight</igx-icon>
                        {{flightCount}}
                    </span>
                    <span class="sample-template-icons__item">
                        <igx-icon title="train" [class.important-icon]="selected === 'train'">train</igx-icon>
                        {{trainCount}}
                    </span>
                    <span class="sample-template-icons__item">
                        <igx-icon title="boat" [class.important-icon]="selected === 'boat'">directions_boat</igx-icon>
                        {{boatCount}}
                    </span>
                </div>
            </div>
        </ng-template>
    </igx-select>
</div>
