@import '~igniteui-angular/lib/core/styles/themes/index';

.carousel-container{
    width: 70vw;
    height: 80vh;
    margin: 16px auto;
}

:host ::ng-deep{

    .image-container{
        max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .igx-carousel{
        max-width: 100%;
        width: unset;
    }

    .igx-nav-dot{
        background: black;
        box-shadow: none;
        width: 15px;
        height: 15px;
    }

    .igx-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: unset;
    }

    .igx-slide img{
        object-fit: fill;
        max-width: 90%;
    }

}
