@use '../../../../variables' as *;

$flatBtn: flat-button-theme(
    $border-radius: .5
);

$containedBtn: contained-button-theme(
    $border-radius: 30px
);

$fabBtn: fab-button-theme(
    $border-radius: 10%
);

$iconBtn: flat-icon-button-theme(
    $border-radius: 12px
);

.flat {
    @include tokens($flatBtn);
}

.contained {
    @include tokens($containedBtn);
}

.fab {
    @include tokens($fabBtn);
}

.icon {
    @include tokens($iconBtn);
}

.buttons-sample {
    display: flex;
}

.buttons-sample_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
