@use '../../../../variables' as *;

$flatBtn: igx-button-theme(
    $border-radius: .5
);

$raisedBtn: igx-button-theme(
    $border-radius: 30px
);

$fabBtn: igx-button-theme(
    $border-radius: 10%
);

$iconBtn: igx-button-theme(
    $border-radius: .5 .2 .5 .2
);

.flat {
    @include igx-button($flatBtn);
}

.raised {
    @include igx-button($raisedBtn);
}

.fab {
    @include igx-button($fabBtn);
}

.icon {
    @include igx-button($iconBtn);
}

.buttons-sample {
    display: flex;
}

.buttons-sample_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
