.sample-wrapper {
    overflow-y: auto;
    max-height: 530px;
    margin: 8px;
}

igx-expansion-panel-body, igx-switch {
    padding: 16px;
}

.nested-accordion {
    margin: 0 16px;
    padding: 0;
}
