$ep-sample-border: 1px solid rgba(174, 174, 174, 0.25);

.sample-wrapper {
    overflow-y: auto;
    max-height: 470px;
    margin: 8px;
}

.body-container {
    padding: 16px;
}

igx-switch {
    padding: 16px;
}

.nested-accordion {
    margin: 10px 16px;
    padding: 0;
}

igx-expansion-panel {
    border: $ep-sample-border;
}
