<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [paging]="true" [perPage]="10" height="500px" width="100%" displayDensity="cosy">
        <igx-column header="Rank" headerClasses="myClass" field="Id" sortable="true"></igx-column>
        <igx-column field="Name" header="Athlete"></igx-column>
        <igx-column field="BeatsPerMinute" header="Beats per minute" dataType="number">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val }}
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="TopSpeed" header="Top Speed" dataType="number">
            <ng-template igxCell let-val>
                <div class="cell__inner">
                    {{ val | number: '1.1-5' }}
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="CountryFlag" header="Country">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner_">
                    <span>
                        <img [src]="cell.value" class="flag" />
                    </span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Delete Row'" [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <button igxButton="icon" (click)="removeRow(cell.cellID.rowIndex)">
                    <igx-icon>delete</igx-icon>
                </button>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>