.carousel-wrapper {
  width: 60%; }

.carousel-animation-wrapper {
  margin: 20px auto;
  display: -ms-flexbox;
  display: flex; }

:host ::ng-deep .promo-price {
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.55);
  padding: 1rem;
  border-bottom: transparent 1px solid; }

:host ::ng-deep .description {
  font-size: 1.2rem;
  color: black; }

:host ::ng-deep .titles {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: column;
      flex-flow: column;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      align-self: center; }
  :host ::ng-deep .titles .subTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #585858cc; }

:host ::ng-deep .price {
  padding-left: .5rem;
  font-size: 1.5rem;
  color: #e41c77; }

:host ::ng-deep igx-list {
  -ms-flex-pack: justify;
      justify-content: space-between; }

:host ::ng-deep igx-list-item.disabled {
  opacity: .5; }
