<div class="grid__wrapper">

  <igx-grid #grid1 [data]="data" [paging]="true" [perPage]="6" [paginationTemplate]="pager" width="90%">
    <igx-column header="Rank" headerClasses="myClass" width="100px" field="Id" sortable="true">
    </igx-column>

    <igx-column field="Name" header="Athlete" width="180px">
    </igx-column>

    <igx-column field="AthleteNumber" header="Athlete Number" dataType="number" width="120px">
    </igx-column>

      <igx-column field="BeatsPerMinute" header="Beats per minute" width="140px" dataType="number">
          <ng-template igxCell let-val>
              <div class="cell__inner">
                  {{ val }}
              </div>
          </ng-template>
      </igx-column>

      <igx-column field="TopSpeed" header="Top Speed" width="103px" dataType="number">
          <ng-template igxCell let-val>
              <div class="cell__inner">
                  {{ val | number: '1.1-5' }}
              </div>
          </ng-template>
      </igx-column>

      <igx-column field="TrackProgress" header="Track Progress" width="250px">
          <ng-template igxCell let-val>
              <igx-linear-bar [textVisibility]="false" class="cell__inner_2" [value]="val"></igx-linear-bar>
          </ng-template>
      </igx-column>

      <igx-column field="CountryFlag" header="Country" width="90px">
          <ng-template igxCell let-cell="cell">
              <div class="cell__inner_2">
                  <span>
                      <img [src]="cell.value" class="flag" />
                  </span>
              </div>
          </ng-template>
      </igx-column>
  </igx-grid>

  <ng-template #pager let-grid>
      <div *ngIf="grid.paging && grid.totalPages > 0" class="igx-paginator">
          <button [disabled]="grid.isFirstPage" (click)="grid.paginate(0)" igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon>first_page</igx-icon>
          </button>
          <button [disabled]="grid.isFirstPage" (click)="grid.previousPage()" igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon>chevron_left</igx-icon>
          </button>
          <span>{{ grid.page + 1 }} of {{ grid.totalPages }}</span>
          <button [disabled]="grid.isLastPage" (click)="grid.nextPage()" igxRipple igxRippleCentered="true" igxButton="icon">
              <igx-icon>chevron_right</igx-icon>
          </button>
          <button [disabled]="grid.isLastPage" (click)="grid.paginate(grid.totalPages - 1)" igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon>last_page</igx-icon>
          </button>
      </div>
  </ng-template>
</div>