<div class="grid__wrapper">

  <igx-grid #grid1 [data]="data" [paging]="true" [perPage]="6" [paginationTemplate]="pager" width="1000px">
      <igx-column header="Rank" headerClasses="myClass" width="100px" field="Id" sortable="true">
      </igx-column>

      <igx-column field="Name" header="Athlete" width="280">
      </igx-column>

      <igx-column field="AthleteNumber" header="Athlete Number" [hidden]="true" dataType="number">
          <ng-template igxCell let-val>
              <div class="cell__inner">
                  {{ val }}
              </div>
          </ng-template>
      </igx-column>

      <igx-column field="BeatsPerMinute" header="Beats per minute" [hidden]="false">
          <ng-template igxCell let-val>
              <div class="cell__inner">
                  {{ val }}
              </div>
          </ng-template>
      </igx-column>

      <igx-column field="TopSpeed" header="Top Speed" width="103px">

          <ng-template igxCell let-val>
              <div class="cell__inner">
                  {{ val | number: '1.1-5' }}
              </div>
          </ng-template>

      </igx-column>

      <igx-column field="TrackProgress" sortable="true" header="Track Progress">
          <ng-template igxCell let-val>
              <igx-linear-bar [textVisibility]="false" class="cell__inner_2" [value]="val"></igx-linear-bar>
          </ng-template>
      </igx-column>

      <igx-column field="CountryName" hidden="true"></igx-column>

      <igx-column field="CountryFlag" header="Country" width="90px">
          <ng-template igxCell let-cell="cell">
              <div class="cell__inner_2">
                  <span>
                      <img [src]="cell.value" class="flag" />
                  </span>
              </div>
          </ng-template>
      </igx-column>
  </igx-grid>

  <ng-template #pager let-grid>
      <div *ngIf="grid.paging && grid.totalPages > 0" class="igx-paginator">
          <button [disabled]="grid.isFirstPage" (click)="grid.paginate(0)" igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon>first_page</igx-icon>
          </button>
          <button [disabled]="grid.isFirstPage" (click)="grid.previousPage()" igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon>chevron_left</igx-icon>
          </button>
          <span>{{ grid.page + 1 }} of {{ grid.totalPages }}</span>
          <button [disabled]="grid.isLastPage" (click)="grid.nextPage()" igxRipple igxRippleCentered="true" igxButton="icon">
              <igx-icon>chevron_right</igx-icon>
          </button>
          <button [disabled]="grid.isLastPage" (click)="grid.paginate(grid.totalPages - 1)" igxButton="icon" igxRipple igxRippleCentered="true">
              <igx-icon>last_page</igx-icon>
          </button>
      </div>
  </ng-template>

</div>

<!-- <div class="grid__wrapper">
  <igx-grid #grid1 [data]="data" [height]="'600px'" width="'100%'" [autoGenerate]='false'>
      <igx-column [field]="'FirstName'" [width]="'150px'" [dataType]="'string'" filterable="true"></igx-column>
      <igx-column [field]="'LastName'" [width]="'120px'" [dataType]="'string'" filterable="true"></igx-column>        
      <igx-column [field]="'RegisterDate'" [width]="'150px'" [dataType]="'date'" filterable="true"></igx-column>
      <igx-column [field]="'Country'" [width]="'150px'" [dataType]="'string'" filterable="true"></igx-column>
      <igx-column [field]="'Age'" [width]="'150px'" [dataType]="'number'" filterable="true"></igx-column>
      <igx-column [field]="'IsActive'" [width]="'150px'" [dataType]="'boolean'" filterable="true">
        <ng-template igxCell let-val>
          <igx-checkbox checked="val">
            simple checkbox
        </igx-checkbox>
        </ng-template>
      </igx-column>
  </igx-grid>
  <br/>
</div> -->