.contextmenu {
  position: absolute;
  width: 200px;
  background: white;
  display: -ms-flexbox;
  display: flex;
  cursor: context-menu;
  -ms-flex-direction: column;
      flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 9999; }

.item {
  padding: 10px; }

.item:hover {
  background: #cccbcb; }

.icon {
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 5px; }
