.categoryStyle {
  font-weight: 600; }

.tabContent {
  padding: 24px 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin: 10px; }

.avatarContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column; }

igx-divider {
  margin: 0 24px !important; }

h6 {
  margin-top: 1em; }

.details-chart {
  width: 200px;
  background: rgba(0, 0, 0, 0.04);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08); }

.tabContent igx-grid {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.08); }

.grid__wrapper {
  margin: 4px 16px; }
