@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-strip: action-strip-theme(
  $background: rgba(150, 133, 143, 0.7),
  $actions-background: rgba(109, 121, 147, 0.9),
  $icon-color:  null,
  $delete-action: null,
  $actions-border-radius: 0
);

@include css-vars($custom-strip);
 