@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-strip: action-strip-theme(
  $background: rgba(109, 121, 147, 0.2),
  $actions-background: rgba(#011627, 0.9),
  $actions-border-radius: 0,
);

@include tokens($custom-strip, $mode: 'scoped');
