@use '../../../../variables' as *;

:host ::ng-deep {
    .igx-action-strip__actions {
        display: flex;
        flex-direction: column;
        max-height: 72px;
    }
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: auto;
    min-width: 700px;
    max-width: 1000px;
    position: relative;
}

.text-strike-through {
    text-decoration: line-through;
}

$custom-strip: igx-action-strip-theme(
    $background: rgba(150, 133, 143, 0.4),
    $actions-background: rgba(109, 121, 147, 0.6),
    $icon-color:  null,
    $delete-action: null,
    $actions-border-radius: 0
);

.my-action-strip {
    @include igx-action-strip($custom-strip);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}
