<div class="grid-wrapper">
    <igx-grid #grid1 [data]="data" [width]="'100%'" [height]="'480px'" [autoGenerate]="false" [batchEditing]="true"
        [primaryKey]="'id'" (formGroupCreated)='formCreateHandler($event)'>
        <igx-column field="Avatar" header="Photo" dataType="string" width="80" [editable]="false">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner avatar-cell">
                    <igx-avatar [src]="cell.row.data.avatar" [roundShape]="true" size="small"></igx-avatar>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="name" header="Name" [editable]="true" required></igx-column>
        <igx-column field="company" header="Company" [editable]="true"></igx-column>
        <igx-column field="email" width="190" header="Email" [editable]="true" required email></igx-column>
        <igx-column field="fax" header="Phone" [editable]="true" phoneFormat="\+\d{1}\-(?!0)(\d{3})\-(\d{3})\-(\d{4})\b">
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr="defaultErrorTemplate">
                <ng-container *ngTemplateOutlet="defaultErr" >
                </ng-container>
                <div *ngIf="cell.errors?.['phoneFormat']">
                    Please enter correct phone format
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="created_on" header="Date of Registration" width="170" [editable]="true" [dataType]="'date'" required>
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr='defaultErrorTemplate'>
                <ng-container *ngTemplateOutlet="defaultErr" >
                </ng-container>
                <div *ngIf="cell.errors?.['futureDate']">
                    The date cannot be in the future.
                </div>
            </ng-template>
            <ng-template igxCell let-cell>
                {{ cell | date: 'longDate' }}
            </ng-template>
        </igx-column>
        <igx-column field="last_activity" header="Last Active" width="170" [editable]="true" [dataType]="'date'" required>
            <ng-template igxCell let-cell>
                {{ cell | date: 'longDate' }}
            </ng-template>
            <ng-template igxCellValidationError let-cell='cell' let-defaultErr="defaultErrorTemplate">
                <ng-container *ngTemplateOutlet="defaultErr">
                </ng-container>
                <div *ngIf="cell.errors?.['futureDate']">
                    The date cannot be in the future.
                </div>
                <div *ngIf="cell.errors?.['pastDate']">
                    The date cannot be before the 5th of November 2010
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="estimated_sales" header="Estimated Sales" [editable]="true" [dataType]="'number'" required min="0">
        </igx-column>
        <igx-column field="deals_lost" header="Deals Lost" [editable]="true" [dataType]="'number'" required min="0">
        </igx-column>
        <igx-column field="deals_won" header="Deals Won" [editable]="true" [dataType]="'number'" required min="0">
        </igx-column>
        <igx-column field="deals_pending" header="Deals Pending" [editable]="true" [dataType]="'number'" required min="0">
        </igx-column>
    </igx-grid>
</div>

<div class="buttons-wrapper">
    <button igxButton [disabled]="!grid1.transactions.canUndo" (click)="undo()">Undo</button>
    <button igxButton [disabled]="!grid1.transactions.canRedo" (click)="redo()">Redo</button>
    <button igxButton [disabled]="grid1.transactions.getAggregatedChanges(false).length < 1" (click)="commit()">Commit</button>
</div>
