@use "igniteui-angular/theming" as *;
@use "sass:map";

:host {
    display: flex;
    min-block-size: 100%;
    box-sizing: border-box;
    place-content: center;
    place-items: center;
    padding: 16px;

    @include tokens(switch-theme($schema: map.get($light-material-schema, switch)));
}

.variants {
    --variant-gap: 60px;
    --label-gap: 30px;

    display: flex;
    inline-size: 100%;
    align-items: center;
    justify-content: center;
    gap: var(--variant-gap);

    .variants__item {
        display: flex;
        align-items: center;
        gap: var(--label-gap);
    }

    .variants__label {
        font: 500 14px / 24px "Aktiv Grotesk", sans-serif;
        letter-spacing: 0.1px;
        color: var(--ig-gray-600);
    }
}
