<div class="sample">

    <div class="chart">
        <igx-data-chart #chart
        [dataSource]="data"
        height="calc(100% - 60px)"
        width="100%"
        chartTitle="ANNUAL TEMPERATURE CHANGES"
        isHorizontalZoomEnabled=true
        isVerticalZoomEnabled=true>
            <igx-category-x-axis #xAxis label="Year" name="xAxis" gap=0.5></igx-category-x-axis>
            <igx-numeric-y-axis #yAxis name="yAxis" minValue=20 title="Temperature (°C)"></igx-numeric-y-axis>

            <igx-range-area-series name="series1" [xAxis]="xAxis" [yAxis]="yAxis" highMemberPath="High" lowMemberPath="Low">

            </igx-range-area-series>

        </igx-data-chart>
    </div>
</div>
