.offline-banner {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.gallery__wrapper {
  max-width: 400px;
  padding-top: 24px;
  margin: 0 auto; }

.gallery__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  max-height: 430px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.gallery__item {
  margin: 8px 16px;
  overflow: visible;
  border-radius: 0; }
  .gallery__item div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }

img {
  max-width: 100%; }
