
.overlay-sample {
    padding: 32px 0px 32px 32px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
}

.container__row > div, .section__row > span, .section__position-element > div {
    display: inline-block;
}
.section__row, .container__row, .section__header {
    width: 100%;
}

.section__row, .section__row > span {
    height: 48px;
}

span:hover {
    border: 1px solid #e41c77;
    box-sizing: border-box;
    cursor: pointer;
}

.section__container--wide {
    align-content: flex-start;
    display: flex;;
}

.section__row > span {
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
    font-weight: 500;
}
.section__row > span {
    width: 48px;
    box-sizing: border-box;
    padding-top: 12px;
}

.section__row > span > img {
    align-self: center;
    width: 24px;
    height: 24px;
    max-width: 100%;
    max-height: 100%;
}

.section__position-element, .section__position-header {
    width: 144px;
    text-align: center;
}

.section__separator {
    width: 32px;
}
.container, .container--small {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    min-width: 512px;
}
.container--small {
    min-width: 288px;
}

.overlay__element {
    width: 288px;
    height: 144px;
}

.section__header {
    max-height: 96px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
}

.container__row {
    height: 100%;
    text-align: left;
    margin-top: 16px;
}
.section__position-element {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}