.addSingerBtn.igx-button--raised {
  margin-bottom: 10px;
  background-color: lightgrey;
  color: black; }
  .addSingerBtn.igx-button--raised:hover {
    background-color: rgba(0, 0, 0, 0.26); }

.dialogNewRecord {
  margin: 10px;
  padding: 10px; }

.igx-input-group {
  margin-bottom: 10px;
  padding: 5px; }

.igx-checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 8px;
  padding-bottom: 5px; }

.reorderLevelInput {
  color: black;
  width: 100%; }
