<div class="sample-wrapper">
    <section class="sample-content">
      <article class="linear-samples sample-column">
        <h4 class="sample-title">Linear progress bar</h4>
        <div class="linear-container">
        <igx-linear-bar type="default"></igx-linear-bar>
        <igx-linear-bar type="info" [striped]="true"></igx-linear-bar>
        <igx-linear-bar type="success"></igx-linear-bar>
        <igx-linear-bar type="warning" [striped]="true"></igx-linear-bar>
        <igx-linear-bar type="danger"></igx-linear-bar>
        </div>
    </article>
</section>
<section class="sample-content">
    <article class="linear-samples sample-column">
        <div class="button-container">
            <p>Press the button to start updating the bars</p>
            <button igxButton="fab" igxButtonBackground="#333" igxRipple="white" (click)="tick()">
                <igx-icon fontSet="material" [name]="changeIcon()"></igx-icon>
            </button>
        </div>
    </article>
    <article class="linear-samples sample-column">
        <div class="button-container">
            <p>Press the button to reset the bars</p>
            <button igxButton="fab" igxButtonBackground="#333" igxRipple="white" (click)="reset()" [disabled]="disable">
                <igx-icon name="replay" color="white" isActive="true" ></igx-icon>
            </button>
        </div>
    </article>
</section>
</div>
