@use 'igniteui-theming' as *;

:host {
    display: grid;
    place-items: center;
    height: 100vh;
}

.sample-layout {
    display: grid;
    width: rem(280px);
    gap: rem(8px);
}

igx-buttongroup {
    max-width: rem(280px);
}

.album-title {
    @include type-style('body-2');

    margin-block: 0 rem(8px);
    color: var(--ig-primary-500);
}

.album-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(4px);
}

.album-photos img {
    width: 100%;
    object-fit: cover;
    display: block;
}
