.deleted {
  text-decoration: line-through;
}

.edited {
  font-style: italic;
}

igx-icon {
  cursor: pointer;
}

:host {
  padding: 20px;
  display: block;
  max-width: 500px;
}

.output {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.buttons {
  padding-top: 15px;
  @extend .output;
}
