<div class="sample-container">

    <div class="sample-controls">
        <div class="sample-vertical-box">
            <span class="label">Refresh Interval: {{ refreshIntervalText }} </span>
            <igx-slider class="slider"
            [minValue]="5"
            [maxValue]="1000"
            [value]="refreshInterval"
            [isContinuous]=true
            (onValueChange)="onRefreshFrequencyChanged($event.value)"></igx-slider>
        </div>
        <div class="sample-vertical-box">
            <span class="label">Data Points: {{ maxPointsText }}</span>
            <igx-slider class="slider"
            [minValue]="250"
            [maxValue]="100000"
            [value]="maxPoints"
            [isContinuous]=true
            (onValueChange)="onMaxPointsChanged($event.value)"></igx-slider>
        </div>
        <button igxButton="raised"
        igxRipple="white"
        (click)="onChangeAmountClicked()"
        >Assign Data</button>
            <div class="sample-vertical-box">
            <span class="fpsLabel">FPS: </span>
            <span #fpsSpan class="fpsLabel"> 60</span>
        </div>
        <div class="optimizeCheckbox">
            <span class="label">Optimize Scaling: </span>
            <input class="checkbox" type="checkbox" (change)="onOptimizeScalingChanged($event.target.checked)"/>
        </div>
    </div>

    <div class="chart">
        <igx-financial-chart height="calc(100% - 60px)" width="100%"
            [dataSource]="data"
            [pixelScalingRatio]="scalingRatio"
            chartType="candle"
            zoomSliderType="candle"
            volumeType="none"
            isToolbarVisible=false
            #chart>
        </igx-financial-chart>
      <!-- yAxisLabelExtent="40" -->
    </div>
</div>
