<div class="grid-container">
    <igx-grid>
    </igx-grid>
</div>
<div class="solar-system">
    <div class="group">Uranus<div class="planet"></div></div>
    <div class="group">Neptune<div class="planet"></div></div>
    <div class="group">Saturn<div class="planet"></div></div>
    <div class="group">Jupiter<div class="planet"></div></div>
    <div class="group">Mars<div class="planet"></div></div>
    <div class="group">Earth<div class="planet"></div></div>
    <div class="group">Venus<div class="planet"></div></div>
    <div class="group">Mercury<div class="planet"></div></div>
    <div class="sun"></div>
</div>