<div >
    <div class="sample-container"   >

        <igx-bullet-graph
            #bulletGraph
            height="80px" width="400px"
            minimumValue=0 value=70 interval=10
            maximumValue=100 targetValue=90

            isScaleInverted=false
            scaleBackgroundBrush="DodgerBlue"
            scaleBackgroundOutline="Red"
            scaleBackgroundThickness=2
            scaleStartExtent=0.05
            scaleEndExtent=0.95
             >

        </igx-bullet-graph>

    </div>

</div>
