<div class="grid__wrapper">
    <button class="button-opitions" igxButton="raised" (click)="grid1.sortingExpressions = []">
        Clear Sorting
    </button>
    - To clear sorting only
    <br />

    <button class="button-opitions" igxButton="raised" (click)="grid1.groupingExpressions = []">
        Clear Grouped columns
    </button>
    - To clear grouped columns only
    <br />

    <igx-grid igxPreventDocumentScroll #grid1 [data]="data" [autoGenerate]="false" height="500px" width="100%"
        [groupingExpressions]='expr' sortable="true" [sortingOptions]="sortingOptions">

        <igx-grid-toolbar>
            <igx-grid-toolbar-actions>
                <igx-select (selectionChanging)="grid1.sortingExpressions = []">
                    <label igxLabel>Select Sorting Type</label>
                    <igx-select-item (click)="sortingOptions = sortingOptions.mode ==='single' ? {mode: 'multiple'} : {mode: 'single'}" *ngFor="let type of sortingTypes" [value]="type">
                        {{type}}
                    </igx-select-item>
                </igx-select>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="OrderID" header="Order ID" [groupable]="true"  sortable="true">
        </igx-column>
        <igx-column field="CategoryName" header="Category Name" [dataType]="'string'" [groupable]="true" sortable="true">
        </igx-column>
        <igx-column field="CompanyName" header="Company Name" [dataType]="'string'" [groupable]="true" sortable="true">
        </igx-column>
        <igx-column field="ShipCountry" header="Ship Country" [dataType]="'string'" [groupable]="true" sortable="true">
        </igx-column>
        <igx-column field="SaleAmount" header="Sale Amount" dataType="number" [groupable]="true" sortable="true">
            <ng-template igxCell let-cell="cell" let-val let-row>
                ${{val}}
            </ng-template>
        </igx-column>
        <igx-column field="ShippedDate" header="Shipped Date" [dataType]="'date'" [formatter]="formatDate" sortable="true">
        </igx-column>
    </igx-grid>
</div>
