<div class="grid__wrapper">
    <igx-grid #grid1 [data]="data" [autoGenerate]="false" height="500px" width="100%" (onSortingDone)="removeSorting($event)" [showToolbar]="true">
        <ng-template igxToolbarCustomContent let-grid="grid">
            <igx-select [(ngModel)]="currentSortingType" (onSelection) = "sortTypeSelection($event)">
                <label igxLabel>Select Sorting Type</label>
                <igx-select-item *ngFor="let type of sortingTypes" [value]="type.value">
                    {{type.name}}
                </igx-select-item>
            </igx-select>
        </ng-template>
        <igx-column field="ProductID" header="Product ID" [headerClasses]="'prodId'">
        </igx-column>
        <igx-column field="ProductName" header="Product Name" [dataType]="'string'" sortable="true">
        </igx-column>
        <igx-column field="UnitsInStock" header="UnitsInStock" [dataType]="'number'" sortable="true">
            <ng-template igxCell let-cell="cell" let-val let-row>
            ${{val}}
            </ng-template>
        </igx-column>
        <igx-column field="OrderDate" [dataType]="'date'" [formatter]="formatDate" sortable="true">
        </igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'">
            <ng-template igxCell let-cell="cell" let-val>
                <img *ngIf="val" src="assets/images/grid/active.png" title="Continued" alt="Continued" />
                <img *ngIf="!val" src="assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
            </ng-template>
        </igx-column>
    </igx-grid>
</div>