@use "igniteui-theming/sass/typography" as *;

:host {
    display: flex;
    place-content: center;
    place-items: center;
    padding: rem(16px);
}

.notifications {
    inline-size: 100%;
    max-inline-size: rem(384px);
    background: var(--ig-surface-500);
    border-radius: rem(4px);
    overflow: hidden;

    .notifications__title {
        @include type-style("overline") {
            margin: 0;
        }

        padding: rem(16px);
        text-transform: uppercase;
        color: var(--ig-secondary-500);
        font-family: "Titillium Web", sans-serif;
        font-size: rem(10px);
        font-weight: 400;
        line-height: rem(16px);
        letter-spacing: rem(1.5px);
    }

    .notifications__row {
        padding-block: rem(12px);
        padding-inline: rem(16px);

        igx-switch {
            inline-size: 100%;
            justify-content: space-between;
            gap: rem(16px);
            transform: translateX(rem(-10px));

            ::ng-deep .igx-switch__composite {
                transform: translateX(rem(8px));
            }
        }
    }
}

.option {
    display: flex;
    flex-direction: column;
    gap: rem(2px);
    text-align: start;
    white-space: normal;

    .option__label {
        @include type-style("body-1") {
            margin: 0;
        }

        color: var(--ig-gray-900);
        font-family: "Titillium Web", sans-serif;
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(24px);
        letter-spacing: rem(0.15px);
    }

    .option__hint {
        @include type-style("body-2") {
            margin: 0;
        }

        color: var(--ig-gray-700);
        font-family: "Titillium Web", sans-serif;
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(20px);
        letter-spacing: rem(0.25px);
    }
}
