
// in component.scss
@import '~igniteui-angular/lib/core/styles/themes/index';

$custom-drop-down-theme: igx-drop-down-theme(
    $border-radius: 4px
);

:host {
    ::ng-deep {
        @include igx-drop-down($custom-drop-down-theme);
    }
}

.drop-down-wrapper {
    width: 30%;
    margin: 5px 5px;
    min-width: 280px;

    .textContainer {
        height: 100px;
        box-shadow: igx-elevation($elevations, 1);
        border-radius: 2px;
        padding: 15px;
    }
}
