@use '../../../../variables' as *;

.drop-down-wrapper {
    width: 30%;
    margin: 8px;
    min-width: 280px;
    box-shadow: 0 1px 3px 0 igx-elevation($elevation: 2);

    .textContainer {
        height: 100px;
        border-radius: 2px;
        padding: 16px;
    }
}
