<div  >
    <div class="sample-container" >

        <igx-linear-gauge
            #linearGauge
            height="80px" width="400px"
            minimumValue=0 value=50
            maximumValue=100 interval=10

            rangeBrushes="#a4bd29, #F86232"
            rangeOutlines="#a4bd29, #F86232"  >

            <igx-linear-graph-range
                startValue=0 endValue=50
                innerStartExtent=0.075 innerEndExtent=0.075
                outerStartExtent=0.25 outerEndExtent=0.4>
            </igx-linear-graph-range>
            <igx-linear-graph-range
                startValue=50 endValue=100
                innerStartExtent=0.075 innerEndExtent=0.075
                outerStartExtent=0.4 outerEndExtent=0.55>
            </igx-linear-graph-range>

        </igx-linear-gauge>
    </div>
</div>
