.drop-down-virtual-wrapper {
    overflow: hidden;
    max-height: 240px;
    width: 160px;
}

:host {
    display: flex;
    flex-flow: row;
    padding: 4px;
}

.selection__name {
    font-weight: 800;
}

.selection {
    line-height: 2.25rem;
    font-size: 0.925rem;
    padding: 0px 8px;
}