<div class="form">
    <igx-avatar shape="circle" src="https://dl.infragistics.com/x/img/avatars/14.jpg" alt="profile picture"></igx-avatar>
    <div class="fields">
        <igx-input-group>
            <input igxInput type="text" placeholder="First Name" />
        </igx-input-group>
        <igx-input-group>
            <input igxInput type="text" placeholder="Last Name" />
        </igx-input-group>
        <div class="actions">
            <button igxButton="flat">Cancel</button>
            <button igxButton="contained">Save</button>
        </div>
    </div>
</div>
