.form {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    padding: 2rem;
}

.form igx-avatar {
    --ig-size: var(--ig-size-large);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 260px;
    width: 100%;
}

:host ::ng-deep .fields .igx-input-group__bundle {
    background-color: var(--ig-gray-0);
}

.fields igx-input-group {
    --ig-size: var(--ig-size-medium);
}
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 0.5rem;
}
