@use "igniteui-theming/sass/typography" as *;

.form {
    display: flex;
    justify-content: center;
    gap: rem(20px);
    padding: rem(40px);
}

.form igx-avatar {
    --ig-size: var(--ig-size-large);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    max-inline-size: rem(260px);
    inline-size: 100%;
}

:host ::ng-deep .fields .igx-input-group__bundle {
    background-color: var(--ig-gray-50);
}

:host ::ng-deep .fields igx-input-group,
:host ::ng-deep .fields igx-input-group .igx-input-group__input {
    --ig-size: var(--ig-size-medium);
}

:host ::ng-deep .fields .igx-input-group__input {
    margin: 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: rem(16px);
    margin-block-start: rem(8px);
}
