<form>
    <div class="select-wrapper">
        <igx-select [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
            <igx-prefix>Fruit</igx-prefix>
            <igx-select-item *ngFor="let item of items" [value]="item">
                {{item}}
            </igx-select-item>
        </igx-select>
        <div class="output">You selected: {{selected}}</div>
    </div>
    <button igxButton (click)="selectBanana()">Select Banana</button>
    <button igxButton (click)="setToNull()">Set To Null</button>
</form>
