<igx-buttongroup [values]="stepperOrientations" (selected)="toggleOrientation($event)">
</igx-buttongroup>

<igx-buttongroup [values]="modes" (selected)="toggleModes($event)">
</igx-buttongroup>

<igx-stepper #stepper [orientation]="orientation" [linear]="linear">

    <ng-template igxStepActiveIndicator>
        <igx-icon>edit</igx-icon>
    </ng-template>

    <igx-step #step1 [isValid]="form1.form.valid || !form1.form.touched">
        <span igxStepTitle>Personal Info</span>
        <div igxStepContent>
            <form #form1="ngForm">
                <igx-input-group>
                    <input igxInput name="fullName" type="text" [(ngModel)]="user.fullName" required />
                    <label igxLabel for="fullName">Full Name</label>
                </igx-input-group>

                <igx-input-group>
                    <input igxInput name="email" type="email" [(ngModel)]="user.email" required email />
                    <label igxLabel for="email">Email</label>
                </igx-input-group>
            </form>
            <button igxButton="raised" (click)="stepper.next()" [disabled]="!form1.form.valid && stepper.linear">NEXT
            </button>
        </div>
    </igx-step>

    <igx-step #step2 [isValid]="form2.form.valid || !form2.form.touched">
        <span igxStepTitle>Address</span>
        <div igxStepContent>
            <form #form2="ngForm">
                <igx-input-group>
                    <input igxInput name="fullName" type="text" [(ngModel)]="user.city" required />
                    <label igxLabel for="fullName">City</label>
                </igx-input-group>

                <igx-input-group>
                    <input igxInput name="email" type="text" [(ngModel)]="user.street" required />
                    <label igxLabel for="email">Street</label>
                </igx-input-group>
            </form>
            <button igxButton="raised" (click)="stepper.prev()">PREVIOUS
            </button>
            <button igxButton="raised" (click)="stepper.next()" [disabled]="!form2.form.valid && stepper.linear">NEXT
            </button>
            <button igxButton (click)="stepper.navigateTo(3)">PAYMENT</button>
        </div>
    </igx-step>

    <igx-step #step3 [optional]="true">
        <span igxStepTitle>Billing</span>
        <span igxStepSubTitle>(optional)</span>
        <div igxStepContent>
            <form #form3="ngForm">
                <igx-input-group>
                    <input igxInput name="fullName" type="text" [(ngModel)]="user.city2" />
                    <label igxLabel for="fullName">City</label>
                </igx-input-group>

                <igx-input-group>
                    <input igxInput name="email" type="text" [(ngModel)]="user.street2" />
                    <label igxLabel for="email">Street</label>
                </igx-input-group>
            </form>
            <button igxButton="raised" (click)="stepper.prev()">PREVIOUS
            </button>
            <button igxButton="raised" (click)="stepper.next()" [disabled]="!form2.form.valid && stepper.linear">NEXT
            </button>
        </div>
    </igx-step>

    <igx-step #step4 [isValid]="user.payment">
        <span igxStepTitle>Payment</span>
        <div igxStepContent>
            <igx-radio-group [(ngModel)]="user.payment" alignment="vertical" required>
                <igx-radio *ngFor="let paymentType of paymentTypes" value="paymentType">
                    {{ paymentType }}
                </igx-radio>
            </igx-radio-group>
            <button igxButton="raised" (click)="stepper.prev()">PREVIOUS
            </button>
            <button igxButton="raised" (click)="stepper.next()">NEXT
            </button>
        </div>
    </igx-step>

    <igx-step #step5>
        <span igxStepTitle>Delivery</span>
        <div igxStepContent>
            <p>Your order is on its way. Expect delivery on 25th September 2021. Delivery address: San Jose, CA 94243.
            </p>

            <button igxButton="raised" (click)="stepper.prev()">PREVIOUS
            </button>
            <button igxButton="raised" (click)="stepper.reset()">Reset</button>
        </div>
    </igx-step>

</igx-stepper>
