@use '../../../variables' as *;

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$dark-paginator: paginator-theme(
    $text-color: $yellow,
    $background-color: $gray,
    $border-color: $bg
);
$dark-button: button-theme(
    $foreground: $yellow,
    $hover-foreground: $bg,
    $hover-background: $yellow,
    $focus-foreground: $bg,
    $focus-background: $yellow,
    $disabled-foreground: #16130C
);
$dark-input-group: input-group-theme(
    $filled-text-color: $light-gray,
    $idle-text-color: $light-gray,
    $focused-text-color: $yellow,
    $border-color: $light-gray,
    $hover-border-color: $yellow,
    $focused-border-color: $yellow
);
$dark-drop-down-theme: drop-down-theme(
    $background-color: $bg,
    $item-text-color: $yellow,
    $selected-item-background: $yellow,
    $selected-item-text-color: $bg,
    $focused-item-background: $yellow,
    $focused-item-text-color: $bg,
    $selected-focus-item-background: $yellow,
    $selected-focus-item-text-color: $bg,
    $selected-hover-item-background: $yellow,
    $selected-hover-item-text-color: $bg
);
/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
	::ng-deep {
		@include css-vars($dark-paginator);
		@include css-vars($dark-drop-down-theme);

		igx-paginator {
			@include css-vars($dark-button);
			@include css-vars($dark-input-group);
		}
	}
}

.grid__wrapper {
    margin: 0 16px;
    padding-top: 16px;
}
