@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$dark-paginator: igx-paginator-theme(
    $text-color: $yellow,
    $background-color: $gray,
    $border-color: $bg
);
$dark-button: igx-button-theme(
    $foreground: $yellow,
    $hover-foreground: $bg,
    $hover-background: $yellow,
    $focus-foreground: $bg,
    $focus-background: $yellow,
    $disabled-color: #16130C
);
$dark-input-group: igx-input-group-theme(
    $filled-text-color: $light-gray,
    $idle-text-color: $light-gray,
    $focused-text-color: $yellow,
    $border-color: $light-gray,
    $hover-border-color: $yellow,
    $focused-border-color: $yellow
);
$dark-drop-down-theme: igx-drop-down-theme(
    $background-color: $bg,
    $item-text-color: $yellow,
    $selected-item-background: $yellow,
    $selected-item-text-color: $bg,
    $focused-item-background: $yellow,
    $focused-item-text-color: $bg,
    $selected-focus-item-background: $yellow,
    $selected-focus-item-text-color: $bg,
    $selected-hover-item-background: $yellow,
    $selected-hover-item-text-color: $bg
);
/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
     ::ng-deep {
        @include igx-paginator($dark-paginator);
        @include igx-drop-down($dark-drop-down-theme);

        igx-paginator {
            @include igx-button($dark-button);
            @include igx-input-group($dark-input-group);
        }
    }
}

.grid__wrapper {
    margin: 0 16px;
    padding-top: 16px;
}


/*ENHANCED APPROACHES*/

// $yellow-color: #F9D342;
// $black-color: #292826;
// $dark-palette: igx-palette($primary: $black-color, $secondary: $yellow-color);

/*PALETTE and IGX-COLOR*/

// $dark-paginator: igx-paginator-theme(
//     $palette: $dark-palette,
//     $text-color: igx-color($dark-palette, "secondary", 400),
//     $background-color: igx-color($dark-palette, "primary", 200),
//     $border-color:  igx-color($dark-palette, "primary", 500)
// );
// $dark-button: igx-button-theme(
//     $palette: $dark-palette,
//     $icon-color: igx-color($dark-palette, "secondary", 700),
//     $icon-hover-color: igx-color($dark-palette, "primary", 500),
//     $icon-hover-background: igx-color($dark-palette, "secondary", 500),
//     $icon-focus-color: igx-color($dark-palette, "primary", 500),
//     $icon-focus-background: igx-color($dark-palette, "secondary", 500),
//     $disabled-color: igx-color($dark-palette, "primary", 700)
// );

/*SCHEMAS*/

// $dark-paginator-schema: extend($_dark-pagination,
//         (
//             text-color:(
//                 igx-color: ("secondary", 400)
//             ),
//             background-color:(
//                 igx-color: ("primary", 200)
//             ),
//             border-color:(
//                 igx-color:( "primary", 500)
//             )
//         )
// );
// $dark-button-schema: extend($_dark-button,
//         (
//             icon-color:(
//                 igx-color:("secondary", 700)
//             ),
//             icon-hover-color:(
//                 igx-color:("primary", 500)
//             ),
//             icon-hover-background:(
//                 igx-color:("secondary", 500)
//             ),
//             icon-focus-color:(
//                 igx-color:("primary", 500)
//             ),
//             icon-focus-background:(
//                 igx-color:("secondary", 500)
//             ),
//             disabled-color:(
//                 igx-color:("primary", 700)
//             )
//         )
// );
// $custom-dark-schema: extend($dark-schema,(
//     igx-paginator: $dark-paginator-schema,
//     igx-button: $dark-button-schema
// ));
// $dark-paginator: igx-paginator-theme(
//   $palette: $dark-palette,
//   $schema: $custom-dark-schema
// );
// $dark-button: igx-button-theme(
//   $palette: $dark-palette,
//   $schema: $custom-dark-schema
// );
