@use "layout.scss";
@use "igniteui-angular/theming" as *;

$background: #19171b;
$foreground: #eeece1;
$accent: #ffcd0f;

$grid-theme: grid-theme(
    $background: $background,
    $foreground: $foreground,
    $accent-color: $accent,
);

$paginator-theme: paginator-theme(
    $foreground: #ff570f,
    $background: #130425FF,
    $border-color: #ff570f,
    $accent-color: #ff570f,
);

igx-grid {
    @include tokens($grid-theme);
}

igx-paginator {
    @include tokens($paginator-theme);
}