.sample-wrapper {
    display: flex;
}

h5 {
    margin: 8px;
}

igx-list {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .08);
    max-height: 352px;
}

.animate {
    overflow-y: scroll;
}

igx-list-item {
    border-bottom: 1px solid var(--igx-grays-100);
}
