.sample-container {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display:inline-block;
}

.sample-control {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sample-button {
    margin-bottom: 5px;
    margin-right: 10px;
    height: 30px;
    font: "12px 'Titillium Web', sans-serif"
}
