@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);
html,
body {
    height: 100%;
    overflow: hidden;
}

.sample-wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: transparent;
}

.sample-content {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 25%;
    align-content: flex-start;
    margin: 16px;
    min-width: 280px;
}

.sample-title {
    color: #0375be;
    margin-bottom: 12px;
    margin-top: 12px;
}

.sample-title .light {
    font-weight: 400;
}

.sample-description {
    font-size: 14px;
    font-weight: normal;
    color: #717171;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.error>div>div {
    background-color: red !important;
}

.headerAlignSyle {
    text-align: right !important;
}

.grid__wrapper {
    padding: 30px 15px;

    // fake black background behind the grid
    &:after {
        content: '';
        position: fixed;
        display: flex;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
}
.dark-theme {
    @include igx-dark-theme($green-palette); // grid caption styling
    background-color: #111;

    ::-moz-placeholder {
        opacity: 1;
    }



    .crm-sample-toolbar {
        background: #111;
        color: white;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .08);
    }
    .operationsContainer {
        display: flex;
        .igx-button--flat {
            -webkit-tap-highlight-color: transparent;
        }
    }
    div.igx-overlay {
        .toggle-content {
            background-color: #222;
        }
        .toggle-content {
            background-color: #111;
            box-shadow: igx-elevation($elevations, 4);
        }
        .dd-title {
            color: white;
        }
        .dd-list__item {
            &:hover {
                background: #4b4b4b;
            }
        }
    }
}

.finjs-icons {
    display: flex;
    align-items: center;
    igx-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-left: 4px;
    }
}

// grid caption styling
.crm-sample-toolbar {
    background: #f4f4f4;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: rem(8px) rem(24px);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .08);
    border-radius: 2px;
    & span {
        margin-right: auto;
    }
    .igx-button--flat {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    .igx-button--icon {
        border-radius: 0;
    }
    .crm-sample-toolbar__title {
        margin-right: rem(16px);
        display: flex;
        justify-self: flex-start;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        padding-left: 16px;
        opacity: 0.6;
        color: black;
        .logo-propeller {
            margin-right: 8px;
            margin-top: 2px;
        }
    }
}

.crm-sample-toolbar__ellipsis {
    @include ellipsis();
    opacity: 0;
    animation: slide-fade 1.25s .25s ease-out forwards;
}

.sample-flex-container {
    display: flex;
    align-self: center;
    flex: 1 1 auto;
    justify-content: flex-end;
    width: 100%;
}

.operationsContainer {
    display: flex;
    .igx-button--flat {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 5.5rem;
        height: 2.25rem;
        padding: 0 1rem;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
        transition: all .15s ease-out;
    }
}

.toggle-button igx-icon.header-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin-right: rem(4);
}

.toggle-button igx-icon.pin-icon {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    margin-right: rem(4);
}

.relative-container {
    position: relative;
}

div.igx-overlay {
    .toggle-content {
        background: #fff;
        display: flex;
        width: 240px;
        height: 300px;
        position: absolute;
        z-index: 3;
        overflow: auto;
        box-shadow: igx-elevation($elevations, 4);
    }
    .toggle-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 0.8em;
    }
    .dd-title {
        color: #666;
        margin: 0;
        padding: 8px 8px 0 8px;
        font-size: 14px;
    }
    .dd-list {
        list-style-type: none;
    }
    .dd-list__item {
        display: flex;
        align-items: center;
        padding: 16px;
        &:hover {
            background: #f9f9f9;
        }
    }
    .pin-icon {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
    }
    .animated-fan {
        width: 28px;
        height: 28px;
        animation: spin-fade 1.5s cubic-bezier(0.21, 1.07, 0.99, 1) forwards;
    }
    .crm-sample-toolbar .igx-button--flat {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

@keyframes fadeInOut {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0}
}

.changePos,
.changeNeg,
.strongPositive,
.strongNegative{
    color: #fff!important;
    .igx-grid__td-text {
        padding: 2px 5px;
    }
}

.positive{
    color: igx-color($default-palette, 'success', 500) !important;
}

.positive.strongPositive{
    .igx-grid__td-text {
        color: rgba(78,184,98, .8)!important;
    }
}

.negative {
    color: igx-color($default-palette, 'error', 500) !important;
}

.negative.strongNegative {
    .igx-grid__td-text{
        color:  rgba(255,19,74, .8)!important;
    }
}


// NORMAL

// positive
.changePos{
    .igx-grid__td-text {
        background: #335E3B;
    }
}

.changePos1{
    background: #335E3B;
    color: #fff;
}

.changePos2{
    .igx-grid__td-text {
        border-right:4px solid #335E3B;
        padding-right: 4px;
    }
}

// negative
.changeNeg {
    .igx-grid__td-text{
        background: #7A1C32;
    }
}

.changeNeg1 {
    color: #fff;
    background: #7A1C32;
}

.changeNeg2 {
    .igx-grid__td-text{
        border-right:4px solid #7A1C32;
        padding-right: 4px;
    }
}

// selected
.igx-grid__td--selected.changePos1,
.igx-grid__td--selected.changePos2,
.igx-grid__td--selected.changePos {
    background-color: #335E3B!important;
    .finjs-icons,
    .igx-grid__td-text{
        color: #FFF;
    }
}

.igx-grid__td--selected.changeNeg1,
.igx-grid__td--selected.changeNeg2,
.igx-grid__td--selected.changeNeg {
    background-color: #7A1C32!important;
    .finjs-icons,
    .igx-grid__td-text{
        color: #FFF;
    }
}


// STRONG

// positive
.strongPositive {
    .igx-grid__td-text{
        background: #459A55;
    }
}

.strongPositive1 {
    background: #459A55;
    color: #fff;

}


.strongPositive2 {
    .igx-grid__td-text{
        border-right:4px solid #459A55;
        padding-right: 4px;
    }
}

// negative
.strongNegative {
    .igx-grid__td-text{
        background: #D31642;
        color: #fff;
    }
}

.strongNegative1 {
    background: #D31642;
    color: #fff;
}

.strongNegative2 {
    .igx-grid__td-text{
        border-right:4px solid #D31642;
        padding-right: 4px;
    }
}

// selected
.igx-grid__td--selected.strongPositive1,
.igx-grid__td--selected.strongPositive2,
.igx-grid__td--selected.strongPositive {
    background-color: #459A55!important;
    .finjs-icons,
    .igx-grid__td-text{
        color: #FFF;
    }
}

.igx-grid__td--selected.strongNegative1,
.igx-grid__td--selected.strongNegative2,
.igx-grid__td--selected.strongNegative {
    background-color: #D31642!important;
    .finjs-icons,
    .igx-grid__td-text{
        color: #FFF;
    }
}



.toggle-button igx-icon.header-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin-right: rem(4);
}

.toggle-button igx-icon.pin-icon {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    margin-right: rem(4);
}