@import '~igniteui-angular/lib/core/styles/themes/index';

@include igx-core();
@include igx-theme($default-palette);

html, body {
    height: 100%;
    overflow: hidden;
}

.sample-wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: transparent;
}

.sample-content {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 25%;
    align-content: flex-start;
    margin: 16px;
    min-width: 280px;
}

.sample-title {
    color: #0375be;
    margin-bottom: 24px;
}

.sample-title .light {
    font-weight: 400;
}

.sample-description {
    font-size: 14px;
    font-weight: normal;
    color: #717171;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.error > div > div {
    background-color: red !important;
}
.headerAlignSyle {
    text-align: right !important;
}

.finjs-dark-theme {
    $finjs-palette: igx-palette(#09f, #72da67);

    $dark-text: #000;
    $light-text: #fff;
    $disabled-text: rgba(255,255,255, .38);

    $white-10:rgba(255, 255, 255, .04);
    $white-20:rgba(255, 255, 255, .08);
    $white-30:rgba(255, 255, 255, .12);
    $white-40:rgba(255, 255, 255, .26);
    $white-50:rgba(255, 255, 255, .38);
    $white-60:rgba(255, 255, 255, .54);
    $white-70:rgba(255, 255, 255, .62);
    $white-80:rgba(255, 255, 255, .74);
    $white-90:rgba(255, 255, 255, .87);

    $finjs-dropdown-theme: igx-drop-down-theme(
        $background-color: #000
    );

    @include igx-drop-down($finjs-dropdown-theme);

    // CHECKBOX
    $finjs-checkbox-theme: igx-checkbox-theme(
        $palette: $finjs-palette,
        $label-color: $white-70,
        $empty-color: $white-70,
        $tick-color: $dark-text
    );

    @include igx-checkbox($finjs-checkbox-theme);

    // BUTTON
    $finjs-button-theme: igx-button-theme(
        $palette: $finjs-palette,
        $disabled-color: $white-50
    );

    @include igx-button($finjs-button-theme);


    // INPUT GROUP
    $finjs-input-group-theme: igx-input-group-theme(
        $palette: $finjs-palette,
        $idle-text-color: $light-text,
        $filled-text-color: $light-text,
        $focused-text-color: $light-text,
        $disabled-text-color: $disabled-text,
        $variant: 'light'
    );

    @include igx-input-group($finjs-input-group-theme);

    // CHIPS THEME
    $finjs-chip-theme: igx-chip-theme(
        $chip-background: #333,
        $chip-hover-background: #444,
        $dir-icon-color: $white-60,
        $order-icon-color:$white-60,
        $selected-chip-background:#000,
        $chip-focus-border-color: igx-color($finjs-palette, 'secondary', 500),
        $selected-chip-focus-border-color: igx-color($finjs-palette, 'secondary', 500),
        $selected-chip-hover-border-color: $white-40,
        $remove-icon-hover-color: igx-color($finjs-palette, 'secondary', 500),
        $order-icon-hover-color: igx-color($finjs-palette, 'secondary', 500),
        $remove-icon-color: $white-50
    );

    @include igx-chip($finjs-chip-theme);

    // GRID DARK THEME
    $finjs-grid-theme: igx-grid-theme(
        $ghost-header-background: #333,
        $ghost-header-icon-color: $white-70
    );

    @include igx-grid($finjs-grid-theme);


    // grid caption styling
    .crm-sample-toolbar {
        background: #222;
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        color: white;
        font-weight: 600;
        font-size: 1.25rem;
        padding: rem(8px) rem(24px);
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.26), 0 2px 2px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.08);
        border-radius: 2px;
        & span {
            margin-right: auto;
        }

        .igx-button--flat {
            flex-wrap: nowrap;
            white-space: nowrap;
        }

        .igx-button--icon {
            border-radius: 0;
        }
    }

    .sample-flex-container {
        display: flex;
        align-self: center;
        flex: 1 1 auto;
        justify-content: flex-end;
        width: 100%;
    }

    .crm-sample-toolbar__title {
        margin-right: rem(16px);
        display: flex;
        align-items: center;
        justify-self: flex-start;

        .logo-propeller {
            margin-right: 8px;
            margin-top: 2px;
        }
    }

    .crm-sample-toolbar__ellipsis {
        @include ellipsis();
        opacity: 0;
        animation: slide-fade 1.25s .25s ease-out forwards;
    }

    .operationsContainer {
        display: flex;

        .igx-button--flat {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 5.5rem;
            height: 2.25rem;
            padding: 0 1rem;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: 0;
            -webkit-tap-highlight-color: transparent;
            overflow: hidden;
            transition: all .15s ease-out;
        }
    }

    .toggle-button igx-icon.header-icon {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
        margin-right: rem(4);
    }

    .toggle-button igx-icon.pin-icon {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        margin-right: rem(4);
    }

    .relative-container {
        position: relative;
    }

    .toggle-content {
        display: flex;
        width: 240px;
        height: 300px;
        position: absolute;
        z-index: 3;
        background-color: #222;
        overflow: auto;
        box-shadow: igx-elevation($elevations, 4);
    }

    .toggle-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 0.8em;
    }

    .dd-title {
        color: white;
        margin:0;
        padding: 16px;
        font-size: 14px;
    }

    .dd-list {
        list-style-type: none;
    }

    .dd-list__item {
        display: flex;
        align-items: center;
        padding: 16px;

        &:hover {
            background: #4b4b4b;
        }
    }

    .pin-icon {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
    }

    .animated-fan {
        width: 28px;
        height: 28px;
        animation: spin-fade 1.5s cubic-bezier(0.21, 1.07, 0.99, 1) forwards;
    }

    .crm-sample-toolbar .igx-button--flat {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}
