// Browser samples related styling
.control-wrapper {
   margin:10px;
}

.drop-down {
    width:180px;
}

.drop-down__scroll-container {
    max-height: 280px;
}

// Using Ignite UI for Angular Theming engine related styling
// Import the IgniteUI themes library first
@import '~igniteui-angular/lib/core/styles/themes/index';
$my-primary-color: #ffffff;
$my-secondary-color: #7344df;

$my-color-palette: igx-palette(
    $primary: $my-primary-color,
    $secondary: $my-secondary-color
);

$my-light-purple: igx-color($my-color-palette, "secondary", 100);
$my-medium-purple: igx-color($my-color-palette, "secondary", 300);
$my-medium-plus-purple: igx-color($my-color-palette, "secondary", 400);
$my-dark-purple: igx-color($my-color-palette, "secondary", 600);

$custom-drop-down-theme: igx-drop-down-theme(
    $background-color: $my-light-purple,
    $header-text-color: $my-dark-purple,
    $item-text-color: $my-primary-color,

    $selected-item-background: $my-medium-plus-purple,
    $selected-item-text-color: $my-primary-color,
    $selected-hover-item-background: $my-medium-plus-purple,
    $selected-hover-item-text-color: $my-primary-color,
    $selected-focus-item-background: $my-medium-plus-purple,
    $selected-focus-item-text-color: $my-primary-color,

    $focused-item-background: $my-medium-purple,
    $focused-item-text-color: $my-primary-color,

    $hover-item-background: $my-primary-color,
    $hover-item-text-color: $my-dark-purple
);

$custom-button-theme: igx-button-theme(
    $palette: $my-color-palette
);

:host {
    ::ng-deep {
        @include igx-drop-down($custom-drop-down-theme);
        @include igx-button($custom-button-theme);
    }
}





