<div class="wrapper">
    <div class="icon-sample">
        <igx-icon fontSet="filter-icons" name="contains"></igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon fontSet="filter-icons" name="does_not_contain"></igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon fontSet="filter-icons" name="does_not_equal"></igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon fontSet="filter-icons" name="ends_with"></igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon fontSet="filter-icons" name="equals"></igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon fontSet="filter-icons" name="is_empty"></igx-icon>
    </div>
    <div class="icon-sample">
        <igx-icon fontSet="filter-icons" name="starts_with"></igx-icon>
    </div>
</div>
