[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.card-wrapper {
  max-width: 320px;
  min-width: 220px; }

/* Using Theme Overrides to provide IE 11 support.
 * NOTE: Theming using this approach will greatly increase the size
 * of the output CSS. If you do not plan to target IE 11,
 * delete this section and use the `igx-css-vars` mixin as shown above.
**/
:host ::ng-deep {
  --igx-card-border-radius: 4px;
  --igx-card-resting-elevation: 2;
  --igx-card-hover-elevation: 8;
  --igx-card-variant: material;
  --igx-card-background: #011627;
  --igx-card-header-text-color: #FEFEFE;
  --igx-card-subtitle-text-color: #ECAA53;
  --igx-card-content-text-color: #FEFEFE;
  --igx-card-actions-text-color: rgba(255, 255, 255, 0.5);
  --igx-card-outline-color: rgba(0, 0, 0, 0.26);
  --igx-card-resting-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
  --igx-card-hover-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26), 0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08); }

:host ::ng-deep .igx-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-shadow: var(--igx-card-resting-shadow);
  overflow: hidden;
  border-radius: var(--igx-card-border-radius);
  background: var(--igx-card-background);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  :host ::ng-deep .igx-card:hover {
    box-shadow: var(--igx-card-hover-shadow); }

:host ::ng-deep .igx-card--outlined {
  box-shadow: none;
  border: 1px solid var(--igx-card-outline-color); }
  :host ::ng-deep .igx-card--outlined:hover {
    box-shadow: none; }

:host ::ng-deep .igx-card--horizontal {
  -ms-flex-direction: row;
      flex-direction: row; }

:host ::ng-deep .igx-card-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  padding: 1rem;
  color: var(--igx-card-header-text-color); }
  :host ::ng-deep .igx-card-header:empty {
    display: block;
    padding: 0; }

:host ::ng-deep .igx-card-header--vertical {
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
  :host ::ng-deep .igx-card-header--vertical .igx-card-header__titles {
    text-align: center; }
  :host ::ng-deep .igx-card-header--vertical .igx-card-header__thumbnail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-item-align: unset;
        align-self: unset;
    margin-right: 0;
    margin-bottom: 1rem; }

:host ::ng-deep .igx-card-header--compact {
  padding: 1rem; }

:host ::ng-deep .igx-card-header__thumbnail {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 1rem; }
  :host ::ng-deep .igx-card-header__thumbnail:empty {
    display: none; }

:host ::ng-deep .igx-card-header__titles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  overflow: hidden;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-pack: center;
      justify-content: center; }
  :host ::ng-deep .igx-card-header__titles:empty {
    display: none; }

:host ::ng-deep .igx-card-header__subtitle {
  color: var(--igx-card-subtitle-text-color); }

:host ::ng-deep .igx-card__tgroup {
  margin: 0 1em; }

:host ::ng-deep .igx-card-content {
  display: block;
  width: 100%;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 0.875rem;
  color: var(--igx-card-content-text-color); }

:host ::ng-deep .igx-card__media {
  display: block;
  overflow: hidden;
  line-height: 0; }
  :host ::ng-deep .igx-card__media > * {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

:host ::ng-deep .igx-card__media--right {
  width: auto;
  margin-left: auto;
  -ms-flex-order: 9999;
      order: 9999; }

:host ::ng-deep .igx-card-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.5rem; }
  :host ::ng-deep .igx-card-actions [igxButton] ~ [igxButton] {
    margin-left: 0.5rem; }

:host ::ng-deep .igx-card-actions--vertical {
  -ms-flex-direction: column;
      flex-direction: column; }

:host ::ng-deep .igx-card-actions__icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-order: 1;
      order: 1;
  color: var(--igx-card-actions-text-color);
  margin-left: auto; }
  :host ::ng-deep .igx-card-actions__icons:empty {
    display: none; }

:host ::ng-deep .igx-card-actions__buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-order: 0;
      order: 0; }
  :host ::ng-deep .igx-card-actions__buttons:empty {
    display: none; }

:host ::ng-deep .igx-card-actions--justify .igx-card-actions__buttons, .igx-card-actions--justify :host ::ng-deep .igx-card-actions__buttons,
:host ::ng-deep .igx-card-actions--justify .igx-card-actions__icons,
.igx-card-actions--justify :host ::ng-deep .igx-card-actions__icons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-positive: 1;
      flex-grow: 1; }
  :host ::ng-deep .igx-card-actions--justify .igx-card-actions__buttons:empty, .igx-card-actions--justify :host ::ng-deep .igx-card-actions__buttons:empty,
  :host ::ng-deep .igx-card-actions--justify .igx-card-actions__icons:empty,
  .igx-card-actions--justify :host ::ng-deep .igx-card-actions__icons:empty {
    display: none; }

:host ::ng-deep .igx-card-actions--vertical .igx-card-actions__icons, .igx-card-actions--vertical :host ::ng-deep .igx-card-actions__icons,
:host ::ng-deep .igx-card-actions--vertical .igx-card-actions__buttons,
.igx-card-actions--vertical :host ::ng-deep .igx-card-actions__buttons {
  -ms-flex-direction: column;
      flex-direction: column; }
  :host ::ng-deep .igx-card-actions--vertical .igx-card-actions__icons [igxButton] ~ [igxButton], .igx-card-actions--vertical :host ::ng-deep .igx-card-actions__icons [igxButton] ~ [igxButton],
  :host ::ng-deep .igx-card-actions--vertical .igx-card-actions__buttons [igxButton] ~ [igxButton],
  .igx-card-actions--vertical :host ::ng-deep .igx-card-actions__buttons [igxButton] ~ [igxButton] {
    margin-left: 0;
    margin-top: 0.5rem; }

:host ::ng-deep .igx-card-actions--vertical .igx-card-actions__icons, .igx-card-actions--vertical :host ::ng-deep .igx-card-actions__icons {
  margin-top: auto;
  margin-left: 0; }

:host ::ng-deep .igx-card-actions--reverse .igx-card-actions__icons, .igx-card-actions--reverse :host ::ng-deep .igx-card-actions__icons {
  -ms-flex-order: 0;
      order: 0;
  margin-left: 0; }

:host ::ng-deep .igx-card-actions--reverse .igx-card-actions__buttons, .igx-card-actions--reverse :host ::ng-deep .igx-card-actions__buttons {
  -ms-flex-order: 1;
      order: 1;
  margin-left: auto; }

:host ::ng-deep .igx-card-actions--vertical.igx-card-actions--reverse .igx-card-actions__icons, .igx-card-actions--vertical.igx-card-actions--reverse :host ::ng-deep .igx-card-actions__icons {
  margin: 0;
  margin-bottom: auto; }

:host ::ng-deep .igx-card-actions--vertical.igx-card-actions--reverse .igx-card-actions__buttons, .igx-card-actions--vertical.igx-card-actions--reverse :host ::ng-deep .igx-card-actions__buttons {
  margin: 0;
  margin-top: auto; }

:host ::ng-deep .igx-card-actions__bgroup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
  :host ::ng-deep .igx-card-actions__bgroup [igxButton] ~ [igxButton] {
    margin-left: 8px; }

:host ::ng-deep .igx-card-actions__igroup, :host ::ng-deep .igx-card-actions__igroup--start, :host ::ng-deep .igx-card-actions__igroup--end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
  :host ::ng-deep .igx-card-actions__igroup .igx-button--icon, :host ::ng-deep .igx-card-actions__igroup--start .igx-button--icon, :host ::ng-deep .igx-card-actions__igroup--end .igx-button--icon {
    color: var(--igx-card-actions-text-color); }

:host ::ng-deep .igx-card-actions__igroup--start {
  margin-right: auto; }

:host ::ng-deep .igx-card-actions__igroup--end {
  margin-left: auto; }
