.cellAlignSyle {
    text-align: right;
    float:right;
}
.cellAlignSyle > span {
    float:right;
}
.up {
    color: green;
}
.down {
    color: red;
}
.headerAlignSyle {
    text-align: right !important;
}

.sample-container {
    width: 20%;
    display: flex;

    margin: 0% 0% 20px 10px
}

.grid-controls {
    display: flex;
    justify-content: space-between;
    margin: 0 16px 24px;
    flex-flow: column;
    align-items: flex-start;
}

.grid__wrapper {
    margin: 0 16px;
}