
<div class="sample-container">
  <div class="grid-controls">
    <igx-switch [(ngModel)]="hideRowSelectors">Hide Row Selectors</igx-switch>
    <igx-buttongroup [values]="selectionModes" (selected)="selectCellSelectionMode($event)"></igx-buttongroup>
  </div>
  <div class="sample-wrapper">
    <div class="grid-wrapper">
      <igx-grid [igxPreventDocumentScroll]="true" #grid1 [data]="data | async" [height]="'550px'" [primaryKey]="'ID'" width="100%" [cellSelection]="'none'"
        [rowSelection]="selectionMode" [selectedRows]="selectedRows" [hideRowSelectors]="hideRowSelectors" [allowFiltering]="true"
        (rowSelectionChanging)="handleRowSelection($event)">
        <igx-column [field]="'Category'"></igx-column>
        <igx-column [field]="'Type'" [filterable]="false"></igx-column>
        <igx-column [field]="'Price'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Buy'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Sell'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Change'" dataType="number" [headerClasses]="'headerAlignSyle'">
          <ng-template igxHeader>
            <span>Change</span>
          </ng-template>
          <ng-template igxCell let-val>
            <div class="currency-badge-container">
              @if (val>0) {
                <igx-badge type="success" position="bottom-right" icon="arrow_upward"
                class="badge-left"></igx-badge>
              }
              @if (val<0) {
                <igx-badge type="error" position="bottom-right" icon="arrow_downward"
                class="error badge-left"></igx-badge>
              }
              <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}</span>
            </div>
          </ng-template>
        </igx-column>
        <igx-column [field]="'Change(%)'" dataType="number" [formatter]="formatNumber">
          <ng-template igxHeader>
            <span>Change(%)</span>
          </ng-template>

          <ng-template igxCell let-val>
            <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}%</span>
          </ng-template>
        </igx-column>
        <igx-column [field]="'Change On Year(%)'" dataType="number" [formatter]="formatNumber">
          <ng-template igxCell let-val>
            <div class="currency-badge-container">
              @if (val>0) {
                <igx-badge type="success" position="bottom-right" icon="arrow_upward"
                class="badge-left"></igx-badge>
              }
              @if (val<0) {
                <igx-badge type="error" position="bottom-right" icon="arrow_downward"
                class="error badge-left"></igx-badge>
              }
              <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}%</span>
            </div>
          </ng-template>
        </igx-column>
      </igx-grid>
    </div>
    <div class="log-wrapper">
      <div class="selected-data-area">
        <div class="logContainer">
          <div class="highlight">
            <span>Events execution sequence</span>
            <button class="clearBtn" igxButton="flat" (click)="clearLog()">
              <igx-icon>clear</igx-icon>
              <span>Clear log</span>
            </button>
          </div>
          <hr />
          <div #logger class="logger"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<igx-snackbar #snackbarRowCount actionText="Got it. Thanks!" (clicked)="snackbarRowCount.close()">
  <div class="container">
    <igx-icon>notification_important</igx-icon>
    @if (selectionMode === 'multiple') {
      <p>Number of selected rows: {{selectedRowsCount}}</p>
    }
    @if (selectionMode === 'single' && this.selectedRowIndex !== undefined) {
      <p>Currently selected row index: {{selectedRowIndex}}</p>
    }
    @if (selectionMode === 'single' && this.selectedRowIndex === undefined) {
      <p>There is no currently selected row.</p>
    }
  </div>
</igx-snackbar>

<igx-snackbar #snackbar actionText="Got it. Thanks!" (clicked)="snackbar.close()">
  <div class="container">
    <igx-icon>notification_important</igx-icon>
    @if (selectionMode === 'multiple') {
      <ul>
        <li><b>Now you can select multiple rows within a grid.</b></li>
        <li>Click on row selector field or press SPACE key when some cell is active to toggle row
          selection.
        </li>
        <li>On cell click the row get selected and previous selection state is cleared.</li>
        <li>On cell click holding ctrl key, the row get selected and previous selection state is
          preserved.
        </li>
        <li>Shift + click select a range of rows.</li>
      </ul>
    }
    @if (selectionMode === 'single') {
      <ul>
        <li><b>Now you can select only one row within a grid.</b></li>
        <li>Click on row selector field or press SPACE key when some cell is active to toggle row
          selection.
        </li>
        <li>On cell click the row get selected and previous selection state is cleared.</li>
      </ul>
    }
    @if (selectionMode === 'none') {
      <ul>
        <li><b>Now you are unable to select a row while interacting with grid UI.</b></li>
        <li>If you need to select a row use grid API methods.</li>
      </ul>
    }
  </div>
</igx-snackbar>
