.cellAlignSyle {
    text-align: right;
    float: right;
}

.cellAlignSyle > span {
    float: right;
}

.up {
    color: green;
}

.down {
    color: red;
}

.headerAlignSyle {
    text-align: right !important;
}

.sample-container {
    margin: 16px;
}

.grid-controls {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: flex-start;
    position: relative;
    > * {
        margin-bottom: 16px;
    }
}

.currency-badge-container {
    width: 80px;
    float: right;
}

.badge-left {
    float: left;
}

ul {
    padding: 0;
    list-style-type: none;
}

.igx-snackbar {
    background: rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    igx-icon {
        margin: 20px;
    }
}

.snackBarRowSelection{
    text-align: center;
    padding-bottom: 10px;
}
