<div class="grid-controls"> <br />
    <span>
        <igx-switch [(ngModel)]="hideRowSelectors">Hide Row Selectors</igx-switch>
    </span>
    <br />
    <span style="display: flex">
        <igx-buttongroup [values]="selectionModes" (onSelect)="selectCellSelectionMode($event)"></igx-buttongroup>
        <igx-snackbar #snackbar actionText="Got it. Thanks!" (onAction)="snackbar.hide()">
            <div class="container">
                <igx-icon>notification_important</igx-icon>
                <ng-container *ngIf="selectionMode === 'multiple'">
                    <ul>
                        <li><b>Now you can select multiple rows within a grid.</b></li>
                        <li>Click on row selector field or press SPACE key when some cell is active to toggle row
                            selection.
                        </li>
                        <li>On cell click the row get selected and previous selection state is cleared.</li>
                        <li>On cell click holding ctrl key, the row get selected and previous selection state is
                            preserved.
                        </li>
                        <li>Shift + click select a range of rows.</li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="selectionMode === 'single'">
                    <ul>
                        <li><b>Now you can select only one row within a grid.</b></li>
                        <li>Click on row selector field or press SPACE key when some cell is active to toggle row
                            selection.
                        </li>
                        <li>On cell click the row get selected and previous selection state is cleared.</li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="selectionMode === 'none'">
                    <ul>
                        <li><b>Now you are unable to select a row while interacting with grid UI.</b></li>
                        <li>If you need to select a row use grid API methods.</li>
                    </ul>
                </ng-container>
            </div>
        </igx-snackbar>
    </span>
</div>
<div class="grid__wrapper">
    <igx-grid igxPreventDocumentScroll #grid1 [data]="data | async" [height]="'530px'" width="100%" [cellSelection]="'none'"
        [rowSelection]="selectionMode" [hideRowSelectors]="hideRowSelectors" [allowFiltering]="true"
        (onRowSelectionChange)="handleRowSelection($event)">
        <igx-column [field]="'Category'"></igx-column>
        <igx-column [field]="'Type'" [filterable]='false'></igx-column>
        <igx-column [field]="'Price'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Buy'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Sell'" dataType="number" [formatter]="formatCurrency"></igx-column>
        <igx-column [field]="'Change'" dataType="number" [headerClasses]="'headerAlignSyle'">
            <ng-template igxHeader>
                <span>Change</span>
            </ng-template>
            <ng-template igxCell let-val>
                <div class="currency-badge-container">
                    <igx-badge *ngIf="val>0" type="success" position="bottom-right" icon="arrow_upward"
                        class="badge-left"></igx-badge>
                    <igx-badge *ngIf="val<0" type="error" position="bottom-right" icon="arrow_downward"
                        class="error badge-left"></igx-badge>
                    <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}</span>
                </div>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Change(%)'" dataType="number" [formatter]="formatNumber">
            <ng-template igxHeader>
                <span>Change(%)</span>
            </ng-template>

            <ng-template igxCell let-val>
                <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}%</span>
            </ng-template>
        </igx-column>
        <igx-column [field]="'Change On Year(%)'" dataType="number" [formatter]="formatNumber">
            <ng-template igxCell let-val>
                <div class="currency-badge-container">
                    <igx-badge *ngIf="val>0" type="success" position="bottom-right" icon="arrow_upward"
                        class="badge-left"></igx-badge>
                    <igx-badge *ngIf="val<0" type="error" position="bottom-right" icon="arrow_downward"
                        class="error badge-left"></igx-badge>
                    <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<0">{{ formatNumber(val) }}%</span>
                </div>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>