[hidden] {
  display: none !important; }

.igx-display-container {
  display: inherit;
  position: relative;
  width: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.igx-display-container--inactive {
  width: 100%; }

.igx-drag {
  -ms-touch-action: none;
      touch-action: none; }

.igx-drag--select-disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-drag__handle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-svg-container {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden; }

.igx-radio-group {
  display: block; }

[class^='igx-'],
[class^='igx-'] *,
[class^='igx-'] *::before,
[class^='igx-'] *::after {
  box-sizing: border-box; }

.carousel-container {
  width: 70vw;
  height: 80vh;
  margin: 16px auto; }

:host ::ng-deep .image-container {
  max-width: 85%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: auto; }

:host ::ng-deep .igx-carousel {
  max-width: 100%;
  width: unset; }

:host ::ng-deep .igx-nav-dot {
  background: black;
  box-shadow: none;
  width: 15px;
  height: 15px; }

:host ::ng-deep .igx-slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  max-width: 100%;
  width: unset; }

:host ::ng-deep .igx-slide .image-container img {
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 90%;
  display: block;
  margin: auto; }

:host ::ng-deep form {
  margin: 10% auto; }

:host ::ng-deep .btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
