<div class="sample-container">
    <igx-card>
        <igx-card-header>
            <pre>--ig-radius-factor: 0;</pre>
        </igx-card-header>
        <igx-card-content>
            <igx-chip class="square-chip">
                <igx-icon igxPrefix>place</igx-icon>
                <span>Square Chip</span>
            </igx-chip>
        </igx-card-content>
    </igx-card>

    <igx-card>
        <igx-card-header>
            <pre>--ig-radius-factor: 0;</pre>
        </igx-card-header>
        <igx-card-content>
            <igx-chip class="round-chip">
                <igx-icon igxPrefix>place</igx-icon>
                <span>Round Chip</span>
            </igx-chip>
        </igx-card-content>
    </igx-card>
</div>
