<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll #treeGrid [data]="localData" childDataKey="Employees" width="100%" height="800px"
                   [autoGenerate]="false" [rowSelection]="selectionMode" [paging]="true" [allowFiltering]="true">
        <igx-grid-toolbar>
            <igx-grid-toolbar-title>Employees</igx-grid-toolbar-title>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                <igx-grid-toolbar-exporter>
                    <span excelText>Export to Excel</span>
                    <span csvText>Export to CSV</span>
                </igx-grid-toolbar-exporter>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="Name" dataType="string" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true" [hasSummary]="true"></igx-column>
        <igx-column field="HireDate" dataType="date" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
        <igx-column field="Age" dataType="number" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
        <igx-column field="Performance" header="Performance" [width]="'260px'" [filterable]="false" >
            <ng-template igxCell let-val>
                <igx-sparkline height="40px" width="250px"
                    [dataSource]="val"
                    valueMemberPath="Points"
                    displayType="Line"
                    lineThickness="2"
                    brush="rgb(21, 190, 6)">
                </igx-sparkline>
            </ng-template>
        </igx-column>
    </igx-tree-grid>
</div>
