<div class="container">
    <div class="input-row">
        <igx-simple-combo #country
            (selectionChanging)="countryChanging($event)"
            [(ngModel)]="selectedCountry"
            [data]="countriesData"
            [displayKey]="'name'"></igx-simple-combo>
    </div>
    <div class="input-row">
        <igx-simple-combo #province
            (selectionChanging)="provinceChanging($event)"
            [disabled]="regionData.length === 0"
            [(ngModel)]="selectedRegion"
            [data]="regionData"
            [displayKey]="'name'">
        </igx-simple-combo>
    </div>
    <div class="input-row">
        <igx-simple-combo #city
            placeholder="Choose City..."
            [disabled]="citiesData.length === 0"
            [(ngModel)]="selectedCity"
            [data]="citiesData"
            [displayKey]="'name'">
        </igx-simple-combo>
    </div>
</div>
