<div class="container">
    <div class="input-row">
        <igx-simple-combo #country
            [data]="countriesData"
            (selectionChanging)="countryChanging($event)"
            placeholder="Choose Country..."
            [(ngModel)]="selectedCountry"
            [displayKey]="'name'"></igx-simple-combo>
    </div>
    <div class="input-row">
        <igx-simple-combo #province
            [data]="regionData"
            (selectionChanging)="provinceChanging($event)"
            placeholder="Choose Region..."
            [(ngModel)]="selectedRegion"
            [displayKey]="'name'"
            [disabled]="regionData.length === 0">
        </igx-simple-combo>
    </div>
    <div class="input-row">
        <igx-simple-combo #city
            [data]="citiesData"
            placeholder="Choose City..."
            [(ngModel)]="selectedCity"
            [displayKey]="'name'"
            [valueKey]="'id'"
            [disabled]="citiesData.length === 0">
        </igx-simple-combo>
    </div>
</div>
