[hidden] {
  display: none !important; }

.wrapper {
  width: 400px;
  margin: 0 auto; }

.elevation-sample {
  margin-top: 48px;
  padding: 16px;
  height: 250px; }

.elevation-sample p.variable {
  font-weight: 600; }

.elevation-sample pre.formatter {
  white-space: pre-line; }

.elevation-sample code.css {
  margin-bottom: 0;
  font-size: 14px; }

.elevation-sample {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26), 0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08); }
