.max-points-slider, .frequency-slider {
    margin-left: 5px;
    width: 70px;
    vertical-align: middle;
  }
.sample-container {
width: 100%;
height: 550px;
}
.sample-controls {
height: 50px;
}
igx-financial-chart {
    max-width: 900px;
    width: 100%;
    height: calc(100% - 50px);
}
.label {
    margin-left: 10px;
    margin-right: 5px;
}