<div class="grid__wrapper">
    <igx-tree-grid [igxPreventDocumentScroll]="true"  #treeGrid [data]="data | async" childDataKey="Content" [expansionDepth]="0" width="100%"
        height="540px" [isLoading]="isLoading" [pagingMode]="mode">
        <igx-paginator
            [totalRecords]="totalCount"
            (pagingDone)="paginate($event.current)"
            [(page)]="page"
            [(perPage)]="perPage">
        </igx-paginator>
        <igx-column field="Name">
            <ng-template igxCell let-cell="cell" let-val>
                <igx-icon *ngIf="cell.row.data.Type === 'File folder'" family="material" class="typeIcon">folder
                </igx-icon>
                <igx-icon *ngIf="cell.row.data.Type === 'JPG File'" family="material" class="typeIcon">photo</igx-icon>
                {{val}}
            </ng-template>
        </igx-column>
        <igx-column field="Type"></igx-column>
        <igx-column field="Size" dataType="number" [formatter]="formatSize"></igx-column>
    </igx-tree-grid>
</div>
