a {
    color: #731963;
  }
  
  .links{
    text-align: center;
    padding: 0 35px;
  }
  
  #linksContainer {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
  }
  
  :host{
    width: 100%;
    text-align:center;
  }
  
  img {
    max-width:100%;
  }

  .code-snippet {
      background-color: #bbd;
      border: 1px solid #444455;
      justify-content: left;
      text-align: left;
      padding: 10px 10px 10px 10px;
  }

  .small-links {
    padding: 0;
    margin: 0;
  }