<h1>{{title}}</h1>
<div igxLayout igxLayoutDir="columns" igxLayoutItemAlign="center">
    <div>
        <p>Open terminal and do:</p>
<pre class="code-snippet left-align">
$ npm i -g igniteui-cli
$ ig
</pre>
        <p>Then simply follow the CLI guidance and choose Angular. That's it!</p>
        <h3>Prerequisites:</h3>
        <p class="small-links"><a href="https://nodejs.org" alt="Node.js">Node.js</a> v8.9.4+</p>
        <p class="small-links"><a href="https://www.npmjs.com/" alt="npmjs">npm</a> v5+</p>
    </div>
    <div id="linksContainer">
        <h3 class="links"><a target="_blank" rel="noopener" href="https://github.com/IgniteUI/ignite-ui-cli">Ignite UI CLI </a></h3>
        <h3 class="links"><a target="_blank" rel="noopener" href="https://www.infragistics.com/products/ignite-ui-angular">Component Demos Online</a></h3>
    </div>
</div>