<div >
    <div class="sample-container"   >

        <igx-bullet-graph
            #bulletGraph
            height="80px" width="400px"
            minimumValue=0 value=70 interval=10
            maximumValue=100 targetValue=90

            tickBrush="DodgerBlue"
            ticksPreTerminal=0
            ticksPostInitial=0
            tickStrokeThickness=2
            tickStartExtent=0.2
            tickEndExtent=0.075

            minorTickCount=4
            minorTickBrush="DarkViolet"
            minorTickEndExtent=0.1
            minorTickStartExtent=0.2
            minorTickStrokeThickness=1
             >

        </igx-bullet-graph>

    </div>

</div>
