<div class="wrapper">
    <igx-grid #grid
        [width]="'100%'" height="600px"
        [data]="sourceData" [autoGenerate]="false" [groupingExpressions]="group" [sortingExpressions]="sort" [allowFiltering]="true">
        <igx-column-layout [pinned]="true">
            <igx-column [rowStart]="1" [rowEnd]="3" [colStart]="1" field="ID" [filterable]="false" [width]="'150px'"></igx-column>
        </igx-column-layout>
        <igx-column-layout [pinned]="true">
            <igx-column [rowStart]="1" [colStart]="1" [colEnd]="3" field="CompanyName" [header]="'Company Name'" [sortable]="true" [width]="'350px'"></igx-column>
            <igx-column [rowStart]="2" [colStart]="1" [colEnd]="1" field="ContactName" [header]="'Contact Name'" [groupable]="true"></igx-column>
            <igx-column [rowStart]="2" [colStart]="2" [colEnd]="2" field="ContactTitle" [header]="'Contact Title'" [groupable]="true"></igx-column>
        </igx-column-layout>
        <igx-column-layout>
            <igx-column [rowStart]="1" [colStart]="1" [colEnd]="3" field="Country" [groupable]="true" [filterable]="false" [width]="'200px'"></igx-column>
            <igx-column [rowStart]="1" [colStart]="3" [colEnd]="5" field="Region" [groupable]="true" [filterable]="false" [width]="'200px'"></igx-column>
            <igx-column [rowStart]="1" [colStart]="5" [colEnd]="7" field="PostalCode" [header]="'Postal Code'" [groupable]="true" [filterable]="false" [width]="'200px'"></igx-column>
            <igx-column [rowStart]="2" [colStart]="1" [colEnd]="4" field="City" [groupable]="true" [filterable]="false"></igx-column>
            <igx-column [rowStart]="2" [colStart]="4" [colEnd]="7" field="Address" [filterable]="false"></igx-column>
        </igx-column-layout>
        <igx-column-layout>
                <igx-column [rowStart]="1" [colStart]="1" [colEnd]="1" field="Phone" [filterable]="false" [width]="'200px'"></igx-column>
                <igx-column [rowStart]="2" [colStart]="1" [colEnd]="1" field="Fax" [filterable]="false"></igx-column>
            </igx-column-layout>
    </igx-grid>
</div>
