@import '~igniteui-angular/lib/core/styles/themes/index';
@import "tp-themes/tp-grid";

$header-height: rem(56px);
$tp-app-padding: rem(34px);
$offset-top: $header-height;
$state-done: #00a86b;
$state-new: rgb(0, 110, 184);
$state-inProgress: rgb(187, 57, 134);
$state-late: rgb(215, 85, 21);
$state-priority: rgb(191, 34, 44);
$state-delayed: rgb(171, 149, 29);

$tp-palette: igx-palette(
    $primary: rgb(0, 127, 212),
    $secondary: rgb(171, 149, 29),
    $surface: #282A37
);

$scrollbar-track: #131317;
$scrollbar-thumb: rgba(171, 149, 29, 0.11);

:host {
    display: block;
    height:100%;
    ::ng-deep {
        .tp-app {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: $tp-app-padding;
            background: rgb(74,79,100);
            background: linear-gradient(90deg, rgba(74,79,100,1) 0%, rgba(33,34,42,1) 100%);
            color: #ccc;

            &__grid {
                flex: 1;
            }

            &__inner {
                display: flex;
                flex: 1 0 0%;
            }

            ::-webkit-scrollbar {
                width: 16px;
                height: 16px;
                background-color: $scrollbar-track;
            }
            ::-webkit-scrollbar-thumb {
                background-color: $scrollbar-thumb;
            }
            @include igx-dark-theme($tp-palette);

            &__backlog {
                min-width: 300px;
                min-height: 400px;
                margin-right: rem(16px);

                .igx-card-header {
                    flex: initial !important;;
                }
                .igx-card-content {
                    padding: 0;
                }

                igx-icon {
                    width: rem(16px) !important;
                    height: rem(16px) !important;
                    font-size: rem(16px) !important;
                }
            }
        }

        .done {
            background-color: #00a86b;
        }

        .new {
            background-color: $state-new;
        }

        .inProgress {
            background-color: $state-inProgress;
        }

        .late {
            background-color: $state-late;
        }

        .priority {
            color:$state-priority;
        }

        .delayed {
            color: $state-delayed;
        }
    }
}
