@use '../_bootstrap-button-theme';

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
