@use "igniteui-theming/sass/typography" as *;

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(32px);
    padding: rem(32px);
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24px);
}
