<div class="button-container">
    <div class="button-item">
        <button igxButton="contained" [disabled]="true">
            <igx-icon family="material">notifications</igx-icon>
            Contained
            <igx-icon family="material">notifications</igx-icon>
        </button>
    </div>
    <div class="button-item">
        <button igxButton="outlined" [disabled]="true">
            <igx-icon family="material">notifications</igx-icon>
            Outlined
            <igx-icon family="material">notifications</igx-icon>
        </button>
    </div>
    <div class="button-item">
        <button igxButton="flat" [disabled]="true">
            <igx-icon family="material">notifications</igx-icon>
            Flat
            <igx-icon family="material">notifications</igx-icon>
        </button>
    </div>
    <div class="button-item">
        <button igxButton="fab" [disabled]="true">
            <igx-icon family="material">add</igx-icon>
            Floating Action
            <igx-icon family="material">add</igx-icon>
        </button>
    </div>
</div>
