.grid__wrapper {
  margin: 0 auto;
  padding: 5px; }

.cellAlignSyle {
  text-align: right;
  float: right; }

.cellAlignSyle > span {
  float: right; }

.up {
  color: green; }

.down {
  color: red; }

.headerAlignSyle {
  text-align: right !important; }

.currency-badge-container {
  width: 80px;
  float: right; }

.badge-left {
  float: left; }

.remote-data-loading-template, .remote-data-loading-template-medium, .remote-data-loading-template-large, .remote-data-loading-template-small {
  -webkit-animation: content-placeholder-animation .5s infinite;
          animation: content-placeholder-animation .5s infinite;
  background-color: lightgray;
  height: 15px; }

.remote-data-loading-template-medium {
  width: 30px; }

.remote-data-loading-template-large {
  width: 40px; }

.remote-data-loading-template-small {
  width: 20px; }

@-webkit-keyframes content-placeholder-animation {
  0% {
    opacity: .75;
    transform: scaleX(0.9); }
  50% {
    opacity: 1;
    transform: scaleX(1.1); }
  100% {
    opacity: .75;
    transform: scaleX(0.9); } }

@keyframes content-placeholder-animation {
  0% {
    opacity: .75;
    transform: scaleX(0.9); }
  50% {
    opacity: 1;
    transform: scaleX(1.1); }
  100% {
    opacity: .75;
    transform: scaleX(0.9); } }
