<div class='columnWrapper'>
    <span>
        <h5>Toast Component using content projection</h5>
        <button igxButton="raised" (click)="toast.show()">Show Toast</button>
        <button igxButton="raised" (click)="toast.hide()">Hide Toast</button>
        <igx-toast #toast [autoHide]="false">Notification displayed</igx-toast>
    </span>
    <span>
        <h5>Toast Component where dynamically changes the message text</h5>
        <button igxButton="outlined" igxButtonColor="blue" (click)="toast1.show('Hi! This is info message.')">Info Message</button>
        <button igxButton="outlined" igxButtonColor="green" (click)="toast1.show('Hi! This is success message.')">Success Message</button>
        <button igxButton="outlined" igxButtonColor="orange" (click)="toast1.show('Hi! This is warning message.')">Warning Message</button>
        <button igxButton="outlined" igxButtonColor="red" (click)="toast1.show('Hi! This is error message.')">Error Message</button>
        <igx-toast #toast1 [autoHide]="true"></igx-toast>
    </span>
    <span>
        <h5>Toast Component using Content Projection and dynamically changes the message text</h5>
        <button igxButton="raised" (click)="toast2.show('You have one new message.')">Show Toast</button>
        <button igxButton="raised" (click)="toast2.show('Your massage has been successfully sent.')">Show Toast with another message</button>
        <igx-toast #toast2 [autoHide]="true">
            <igx-icon>mail</igx-icon>
        </igx-toast>
    </span>
</div>