<div class="drop-area" igxDrop (enter)="onEnterAllowed($event)" (leave)="onLeaveAllowed($event)"
    (dropped)="onDropAllowed($event)">
    <div>Drag a row here to delete it</div>
</div>
<igx-hierarchical-grid igxPreventDocumentScroll  class="hgrid" [allowFiltering]='true' #grid1 [data]="localData" [primaryKey]="'id'" [rowDraggable]="true"
    [height]="'540px'" [width]="'100%'" #hGrid (onRowDragStart)="onRowDragStart($event)" (onRowDragEnd)="onRowDragEnd($event)" [rowSelection]="selectionMode" 
    (onRowSelectionChange)="handleRowSelectionChange($event)">
    <igx-column field="name" header="Name"></igx-column>
    <igx-column field="system" header="Is System Drive"></igx-column>
    
    <igx-row-island [rowDraggable]="true" [primaryKey]="'id'" igxDrop [key]="'folders'" #layout1 [rowSelection]="selectionMode"
    (onRowSelectionChange)="handleRowSelectionChange($event)" (onRowDragStart)="onRowDragStart($event)">
        <igx-column field="name" header="Name"></igx-column>
        <igx-column field="createdOn" header="Created On"></igx-column>
        <igx-column field="createdBy" header="Created By"></igx-column>
        <ng-template let-data igxRowDragGhost>
            <div class="allow-drop"> 
                <igx-icon fontSet="material">{{dragIcon}}{{countIcon}}</igx-icon> 
            </div>
        </ng-template>
        <igx-row-island [rowDraggable]="true" [primaryKey]="'id'" igxDrop [key]="'files'" [rowSelection]="selectionMode"
        (onRowSelectionChange)="handleRowSelectionChange($event)" (onRowDragStart)="onRowDragStart($event)">
            <igx-column field="name" header="Name"></igx-column>
            <igx-column field="extension" header="Extension"></igx-column>
            <igx-column field="size" header="Size" dataType="number" hasSummary='true'></igx-column>
            <igx-column field="createdBy" header="createdBy"></igx-column>
            <ng-template let-data igxRowDragGhost>
                <div class="allow-drop"> 
                    <igx-icon fontSet="material">{{dragIcon}}{{countIcon}}</igx-icon> 
                </div>
            </ng-template>
        </igx-row-island>
    </igx-row-island>
    <ng-template let-data igxRowDragGhost>
        <div class="allow-drop"> 
            <igx-icon fontSet="material">{{dragIcon}}{{countIcon}}</igx-icon> 
        </div>
    </ng-template>
</igx-hierarchical-grid>