.chat-sample-wrapper {
  margin: 0 auto;
  height: 100%;
  padding-bottom: 50px; }

.chat-sample__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative; }

igx-icon {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.igx-input-group--border .igx-input-group__bundle,
.igx-input-group--border .igx-input-group__bundle:hover,
.igx-input-group--border .igx-input-group__bundle:focus,
.igx-input-group--focused.igx-input-group--border .igx-input-group__bundle,
.igx-input-group--focused,
.igx-input-group__bundle:focus,
.igx-input-group__bundle,
.igx-input-group:focus {
  box-shadow: none;
  outline: none; }

.igx-input-group--border .igx-input-group__bundle {
  padding: 4px 0; }

.igx-list {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  z-index: 0;
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  padding-bottom: 10px; }

.chat-massage-field {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0 8px;
  height: 50px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  background: #fff; }

.chat-sample-wrapper .input-round-box {
  -ms-transform: translateY(0);
      transform: translateY(0);
  font-size: 14px; }

.chat-sample-wrapper .igx-input-group__bundle-main {
  padding: 0; }

.chat-sample-wrapper .chat-input-group {
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.chat-sample-wrapper .igx-input-group__wrapper {
  -ms-flex: 1;
      flex: 1; }

.chat-sample-wrapper .igx-input-group--box .igx-input-group__bundle {
  padding: 0 8px; }

.send-message-button {
  margin-left: 8px; }

.igx-list__item-base:active,
.igx-list__item-base {
  padding: 0;
  min-height: 36px;
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important; }

.others-message .igx-list__item-content,
.my-message .igx-list__item-content {
  font-weight: 600;
  min-height: 16px;
  border-radius: 4px;
  margin: 0 0 4px 16px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 300; }

.igx-list__item-content {
  padding: .5rem 0; }

.others-message--first .igx-list__item-content {
  border-top-left-radius: 0; }

.my-message--first .igx-list__item-content {
  border-top-right-radius: 0; }

.others-message:active .igx-list__item-content,
.others-message .igx-list__item-content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #09f;
  color: white; }

.my-message:active .igx-list__item-content,
.my-message .igx-list__item-content {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #f0f0f0; }

.my-message .igx-list__item-content {
  margin-right: 16px; }

.message__info {
  margin-left: 10px;
  font-weight: 400; }

.my-message__info {
  margin-top: 20px;
  font-weight: 400;
  text-align: right; }

.contact:active {
  background: transparent; }

.contact {
  margin: 20px 16px 5px 16px; }

.contact__panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0; }

@media only screen and (min-width: 960px) {
  .chat-sample-wrapper {
    max-width: 400px;
    max-height: 600px;
    margin: 20px auto;
    padding: 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #999; }
  .chat-massage-field {
    max-width: 400px;
    position: static;
    padding-bottom: 0; } }
