@use '../../../../variables' as *;

.wrap-row {
    width: calc(50% - 16px);
}

.layout-box {
    width: 100%;
    background: color($color: 'gray', $variant: 200);
    padding: 8px;
    border-radius: 6px;
    margin-top: 24px;
}

.layout-box__el {
    height: 48px;
    padding: 10px 20px;
    margin: 8px;
    background: color($color: 'secondary');
    color: color($color: 'surface');
}
