<div class="interactions">
    <igx-card>
        <igx-list>
            <igx-list-item [isHeader]="true">Wishlist</igx-list-item>
            <!-- use the transactionBasePipe to apply some changes to the items in the wishlist without affecting the original data -->
            <igx-list-item *ngFor="let item of this.wishlist | transactionBasePipe; let i = index"
                [ngClass]="{deleted: applyDelete && i === 1}">
                <div [ngClass]="{edited: applyEdit && i === 0}" [ngStyle]="{width: '100%'}">
                    <p igxListLineTitle>{{item.name}}</p>
                    <p igxListLineSubTitle>Costs: {{item.price}}</p>
                </div>
                <igx-icon (click)="onEdit()" *ngIf="i === 0 && !editDisabled">edit</igx-icon>
                <igx-icon (click)="onDelete()" *ngIf="i === 1 && !deleteDisabled">delete</igx-icon>
            </igx-list-item>
            <button igxButton (click)="onAdd()" [disabled]="addDisabled" class="add">Add New</button>
        </igx-list>
    </igx-card>
    <div class="buttons">
        <button igxButton="raised" (click)="onClear()" class="clear">Clear Transactions</button>
        <button igxButton="raised" (click)="onCommit()" class="commit">Commit Transactions</button>
    </div>
</div>
<div class="output">
    <div class="log">
        <h5 class="title">Transaction Log</h5>
        <div *ngFor="let transaction of this.getTransactionLog()">
            Transaction/{{transaction.type.toUpperCase()}} -> {{transaction.name}} Costs: ${{transaction.price}}
        </div>
    </div>
    <div class="data">
        <div class="item" *ngFor="let item of this.wishlist; let i = index">
            <div class="item-head">
                Item{{i + 1}}:
            </div>
            <div class="item-content">
                <span>{{item.name}}</span>
                <span>Costs: {{item.price}}</span>
            </div>
        </div>
    </div>
</div>
