@import "~igniteui-angular/lib/core/styles/themes/index";

$palette: igx-palette(red, white);
$err-color: rgba(igx-color($palette, "error"), 0.205);

:host ::ng-deep {
  .deleted {
    .igx-list__item-content {
      background: $err-color;
      text-decoration: line-through;
    }
  }
}

.edited {
  font-style: italic;
}

.interactions {
  padding: 15px;
  max-width: 500px;
  display: flex;
  flex-flow: column;
}

.buttons {
  padding-top: 15px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

igx-icon {
  cursor: pointer;
}

.output {
  padding-left: 15px;
  margin-right: 15px;
  max-width: 600px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.data {
  padding-top: 50px;
  flex-flow: column;
  justify-content: flex-end;
}

.item-content {
  padding-left: 30px;
  display: flex;
  flex-flow: column;
}
