@import "~igniteui-angular/lib/core/styles/themes/index";

$palette: igx-palette(red, white);
$err-color: rgba(igx-color($palette, "error"), 0.205);

:host ::ng-deep {
  .deleted {
    .igx-list__item-content {
      background: $err-color;
      text-decoration: line-through;
    }
  }
}

.demo {
  padding: 20px;
  display: flex;
  flex-flow: column;
  max-width: 500px;
}

.edited {
  font-style: italic;
}

.output {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.buttons {
  padding-top: 15px;
  @extend .output;
}

igx-icon {
  cursor: pointer;
}
