<div class="sample-container">
    <div>
        <span>Small</span>
        <igc-color-picker #colorPicker class="small-picker" mode="input" label="Pick a color"></igc-color-picker>
    </div>
    <div>
        <span>Medium</span>
        <igc-color-picker class="medium-picker" mode="input" label="Pick a color"></igc-color-picker>
    </div>
    <div>
        <span>Large</span>
        <igc-color-picker class="large-picker" mode="input" label="Pick a color"></igc-color-picker>
    </div>
</div>
