<article class="sample-column">
    <h6>Selection Mode</h6>
    <div class="radio-buttons">
        <igx-radio [(ngModel)]="selectionMode" value="single">Single</igx-radio>
        <igx-radio [(ngModel)]="selectionMode" value="singleRequired">Single-Required</igx-radio>
        <igx-radio [(ngModel)]="selectionMode" value="multi">Multi</igx-radio>
    </div>
    <igx-buttongroup [selectionMode]="selectionMode">
        <button igxButton [igxRipple]="rippleColor">
            <igx-icon>format_bold</igx-icon>
        </button>
        <button igxButton [igxRipple]="rippleColor">
            <igx-icon>format_italic</igx-icon>
        </button>
        <button igxButton [igxRipple]="rippleColor">
            <igx-icon>format_underlined</igx-icon>
        </button>
    </igx-buttongroup>
</article>