.icons_wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px; }

.drag_container {
  padding: 0px;
  width: 100px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative; }

.icon_container {
  -moz-user-select: none;
  padding: 1px;
  position: relative; }
  .icon_container img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%; }
  .icon_container:after {
    content: '';
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    z-index: 1;
    box-shadow: 0px 3px 30px 20px #000; }

.drag_ghost_class {
  width: 110px;
  height: 110px; }
