<div class="sample-wrapper container">
    <div class="cellOptions">

        <div class="workbookOperations">         
            <button class="workbookButton" (click)="workbookSave()" [disabled]="!canSave">
                <label>Save Workbook</label>
            </button>           
        </div>       
        <div class="cellFeatures">
            <label class="label">Add a Comment cell A1: </label> 
            <input type="checkbox" id="addComment" (change)='onCommentChanged($event.target)' [(ngModel)]="addComment"> <br/>
            <label class="label">Add a Formula for cells F1 to F20: </label> 
            <input type="checkbox" id="addFormula" (change)='onFormulaChanged($event.target)' [(ngModel)]="addFormula">  <br/>
            <label class="label">Merge Cells: </label>
            <input type="checkbox" id="mergeCells" (change)='onMergeChanged($event.target)' [(ngModel)]="mergeCells"> 
        </div>
    </div>


</div>
