<div class="container">
    <div class="options">
        <button (click)="exportData()">Export To Excel File</button>
    </div>
    <div class="chart">
        <igx-category-chart #chart
            height="98%" width="100%"
            yAxisMinimumValue=0
            xAxisInterval=1
            chartType="column"
            thickness=0
            subtitle="Electricity vs Heating Expanses"
            subtitleTextStyle="11pt Verdana"
            subtitleTextColor="gray"
            [dataSource]="chartData">
        </igx-category-chart>
    </div>
</div>
