.divider-sample {
    display: flex;
    padding: 20px;
    border: 1px solid #ededed;
    > div {
        margin-left: 40px;
        &:first-of-type {
            margin-left: 0;
            margin-right: 0;
        }
    }
    h4 {
        margin-top: 0;
    }
    p {
        margin-top: 0;
    }
    .mt {
        margin-top: 16px;
        margin-bottom: 0;
    }
    .mb {
        margin-bottom: 16px;
    }
}
.inset-sample {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.divider-indent-text {
    padding-left: 40px;
}
