@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-toast-theme: toast-theme(
  $background: #dedede,
  $text-color: #151515,
  $border-radius: 12px
);

@include css-vars($custom-toast-theme);
 