@use "layout.scss";
@use "igniteui-angular/theming" as *;

$custom-toast-theme: toast-theme(
  $text-color: #ffcd0f,
  $background: #292826,
  $border-radius: 12px
);

:host {
  @include tokens($custom-toast-theme);
}
