.sample-content{
    margin: 10% auto 0;
}

.sample-column {
    min-width: 270px;
}

.btn-group {
    display: flex;
    width: 250px;
    margin-top: 16px;
    justify-content: space-between;
}

@import '~igniteui-angular/lib/core/styles/themes/index';

$custom-toast-theme: igx-toast-theme(
    $background: #dedede,
    $text-color: #151515,
    $border-radius: 12px
);

/* Using Custom Palette */

// $white-color: #dedede;
// $black-color: #151515;

// $light-palette: igx-palette($primary: $white-color, $secondary: $black-color);

// $custom-toast-theme: igx-toast-theme(
//     $background: igx-color($light-palette, "primary", 400),
//     $text-color: igx-color($light-palette, "secondary", 400),
//     $border-radius: 12px
// );


/* Using Custom Schema */

// $light-toast-schema: extend($_light-toast,
//     (
//         background: (
//             igx-color: ("primary", 400)
//         ),
//         text-color: (
//             igx-color: ("secondary", 400)
//         ),
//         border-radius: 12px
//     )
// );

// $custom-light-schema: extend($light-schema,(
//     igx-toast: $light-toast-schema
// ));

// $custom-toast-theme: igx-toast-theme(
//   $palette: $light-palette,
//   $schema: $custom-light-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
    ::ng-deep {
        @include igx-toast($custom-toast-theme);
    }
}
