<h5 class="sample-title">Time Picker with retemplated Input Group - dropdown mode</h5>

<igx-time-picker [value]="today" format="HH:mm" mode="dropdown">
    <ng-template igxTimePickerTemplate let-openDialog="openDialog" let-value="value" let-displayTime="displayTime">
        <igx-input-group>
            <input #dropDownTarget igxInput [value]="displayTime" (blur)="onBlur(dropDownTarget.value, value)"/>
            <igx-suffix>
                <igx-icon (click)="openDialog()">access_time</igx-icon>
            </igx-suffix>
        </igx-input-group>
        <label>{{today}}</label>
    </ng-template>
</igx-time-picker>