<igx-time-picker #picker [(ngModel)]="today" [inputFormat]="'hh:mm'">
    <igx-picker-toggle igxPrefix>
        <igx-icon>access_alarm</igx-icon>
    </igx-picker-toggle>
    <igx-hint>{{today.toLocaleString()}}</igx-hint>
    <ng-template igxPickerActions>
        <div class="action-buttons">
            <button igxButton="flat" (click)="picker.cancelButtonClick()">cancel</button>
            <button igxButton="flat" (click)="picker.okButtonClick()">done</button>
            <button igxButton="flat" (click)="selectNow(picker)">now</button>
        </div>
    </ng-template>
</igx-time-picker>
