<button class="button" igxButton="raised" [igxToggleAction]="remoteDropDown" [igxDropDownItemNavigation]="remoteDropDown">Products</button>
<igx-drop-down #remoteDropDown>
    <div class="drop-down-virtual-wrapper">
        <igx-drop-down-item
            *igxFor="let item of rData | async; index as index; scrollOrientation: 'vertical'; containerSize: itemsMaxHeight; itemSize: itemHeight;"
            [value]="item.ProductName" role="option" [disabled]="item.disabled" [index]="index"
            (onChunkPreload)="dataLoading($event)">
            {{ item.ProductName }}
        </igx-drop-down-item>
    </div>
</igx-drop-down>
<div class="selection">Selected Product:
    <span>{{ remoteDropDown.selectedItem?.value }}</span>
</div>
<igx-toast #loadingToast></igx-toast>
