nav ::-webkit-scrollbar {
    width: 3px;
    background: #e4e4e4;
}

nav ::-webkit-scrollbar-thumb {
    background: #ec6f74;
    border-radius: 0;
}

.main {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}