<div class="main">
  <igx-nav-drawer id="navigation" [isOpen]="drawerState.open">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true" igxRipple>Components</span>

        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon fontSet="material" name="{{ item.name }}"></igx-icon>
          <span>{{ item.text }}</span>
        </span>
    </nav>
    </ng-template>
  </igx-nav-drawer>

  <div>
    <span igxButton="icon" igxToggleAction="navigation" [closeOnOutsideClick]="false">
      <igx-icon fontSet="material" name="menu"></igx-icon>
    </span>
    <h2>
      Currently viewing {{ selected }} component.
    </h2>
  </div>
</div>
