.deleted {
  text-decoration: line-through; }

.edited {
  font-style: italic; }

igx-icon {
  cursor: pointer; }

:host {
  padding: 20px;
  display: block;
  max-width: 500px; }

.output, .buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.buttons {
  padding-top: 15px; }
