.search-text {
  margin: 1em; }

.search-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column; }

.input-group {
  width: 80%;
  min-width: 370px;
  margin-bottom: .5em; }

hr {
  color: #ccc; }

.description {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  text-align: center; }

.caseSensitiveIcon {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.54); }

.searchButtons {
  margin-left: 5px; }

p {
  line-height: 27px; }

.input-group {
  margin-top: 10px; }
