@use "layout.scss";
@use "igniteui-angular/theming" as *;

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$custom-grid: grid-theme(
  $filtering-row-text-color: $bg,
  $filtering-row-background: $yellow,
  $filtering-header-text-color: $bg,
  $filtering-header-background: $yellow
);

$dark-input-group: input-group-theme(
  $box-background: $yellow,
  $idle-text-color: $bg,
  $focused-text-color: $bg,
  $filled-text-color: $bg
);

$dark-button: flat-button-theme(
  $background: $yellow,
  $foreground: $bg,
  $hover-background: $bg,
  $hover-foreground: $yellow
);

$dark-drop-down-theme: drop-down-theme(
  $background-color: $bg,
  $item-text-color: $yellow,
  $selected-item-background: $yellow,
  $selected-item-text-color: $bg,
  $focused-item-background: $yellow,
  $focused-item-text-color: $bg,
  $selected-focus-item-background: $yellow,
  $selected-focus-item-text-color: $bg,
  $selected-hover-item-background: $yellow,
  $selected-hover-item-text-color: $bg
);

:host {
    @include tokens($custom-grid);
    @include tokens($dark-drop-down-theme);
    @include tokens($dark-input-group);
    @include tokens($dark-button);
}
