@use '../../../variables' as *;

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$custom-grid: igx-grid-theme(
    $filtering-row-text-color: $bg,
    $filtering-row-background: $yellow,
    $filtering-header-text-color: $bg,
    $filtering-header-background: $yellow
);

$dark-input-group: igx-input-group-theme(
    $box-background: $yellow,
    $idle-text-color: $bg,
    $focused-text-color: $bg,
    $filled-text-color: $bg
);

$dark-button: igx-button-theme(
    $background: $yellow,
    $foreground: $bg,
    $hover-background: $bg,
    $hover-foreground: $yellow
);

$dark-drop-down-theme: igx-drop-down-theme(
    $background-color: $bg,
    $item-text-color: $yellow,
    $selected-item-background: $yellow,
    $selected-item-text-color: $bg,
    $focused-item-background: $yellow,
    $focused-item-text-color: $bg,
    $selected-focus-item-background: $yellow,
    $selected-focus-item-text-color: $bg,
    $selected-hover-item-background: $yellow,
    $selected-hover-item-text-color: $bg
);

:host {
     ::ng-deep {
        @include igx-grid($custom-grid);
        @include igx-drop-down($dark-drop-down-theme);
        igx-grid-filtering-row {
            @include igx-button($dark-button);
            @include igx-input-group($dark-input-group);
            .igx-input-group__input::placeholder {
                color: $bg;
            }
        }
    }
}

.grid__wrapper {
    margin: 15px;
}
