@import '~igniteui-angular/lib/core/styles/themes/index';

/*BASIC THEMING*/

$yellow: #ffcd0f;
$bg: #292826;
$gray: #404040;
$light-gray: rgba(255, 255, 255, .54);

$custom-grid: igx-grid-theme(
    $filtering-row-text-color: $bg,
    $filtering-row-background: $yellow,
    $filtering-header-text-color: $bg,
    $filtering-header-background: $yellow
);

$dark-input-group: igx-input-group-theme(
    $box-background: $yellow,
    $idle-text-color: $bg,
    $focused-text-color: $bg,
    $filled-text-color: $bg
);

$dark-button: igx-button-theme(
    $flat-background: $yellow,
    $flat-text-color: $bg,
    $flat-hover-background: $bg,
    $flat-hover-text-color: $yellow
);

$dark-drop-down-theme: igx-drop-down-theme(
    $background-color: $bg,
    $item-text-color: $yellow,
    $selected-item-background: $yellow,
    $selected-item-text-color: $bg,
    $focused-item-background: $yellow,
    $focused-item-text-color: $bg,
    $selected-focus-item-background: $yellow,
    $selected-focus-item-text-color: $bg,
    $selected-hover-item-background: $yellow,
    $selected-hover-item-text-color: $bg
);

/*ENHANCED APPROACHES*/

// $yellow-color: #FFCD0F;
// $black-color: #292826;
// $dark-palette: igx-palette($primary: $black-color, $secondary: $yellow-color);

/*PALETTE and IGX-COLOR*/

// $custom-grid: igx-grid-theme(
//     $filtering-row-text-color: igx-color($dark-palette, "primary", 400),
//     $filtering-row-background: igx-color($dark-palette, "secondary", 400),
//     $filtering-header-text-color: igx-color($dark-palette, "primary", 400),
//     $filtering-header-background: igx-color($dark-palette, "secondary", 400)
// );

// $dark-input-group: igx-input-group-theme(
//     $box-background: igx-color($dark-palette, "primary", 400),
//     $idle-text-color: igx-color($dark-palette, "secondary", 400),
//     $focused-text-color: igx-color($dark-palette, "secondary", 400),
//     $filled-text-color: igx-color($dark-palette, "secondary", 400)
// );

// $dark-button: igx-button-theme(
//     $flat-background: igx-color($dark-palette, "secondary", 400),
//     $flat-text-color: igx-color($dark-palette, "primary", 400),
//     $flat-hover-background: igx-color($dark-palette, "primary", 400),
//     $flat-hover-text-color: igx-color($dark-palette, "secondary", 400)
// );

/*SCHEMAS*/

// $custom-grid-schema: extend($_light-grid,
//     (
//         filtering-row-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         filtering-row-background:(
//             igx-color: ("secondary", 400)
//         ),
//         filtering-header-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         filtering-header-background:(
//             igx-color: ("secondary", 400)
//         )
//     )
// );

// $custom-input-group-schema: extend($_light-input-group,
//     (
//         box-background:(
//             igx-color: ("primary", 400)
//         ),
//         idle-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         focused-text-color:(
//             igx-color: ("secondary", 400)
//         ),
//         filled-text-color:(
//             igx-color: ("secondary", 400)
//         )
//     )
// );

// $custom-button-schema: extend($_light-button,
//     (
//         flat-background:(
//             igx-color: ("secondary", 400)
//         ),
//         flat-text-color:(
//             igx-color: ("primary", 400)
//         ),
//         flat-hover-background:(
//             igx-color: ("primary", 400)
//         ),
//         flat-hover-text-color:(
//             igx-color: ("secondary", 400)
//         )
//     )
// );

// $custom-light-schema: extend($light-schema,(
//     igx-grid: $custom-grid-schema,
//     igx-input-group: $custom-input-group-schema,
//     igx-button: $custom-button-schema
// ));

// $custom-grid: igx-grid-theme(
//   $palette: $dark-palette,
//   $schema: $custom-light-schema
// );

/*INCLUSION by DEFAULT ViewEncapsulation strategy*/

:host {
     ::ng-deep {
        @include igx-grid($custom-grid);
        @include igx-drop-down($dark-drop-down-theme);
        igx-grid-filtering-row {
            @include igx-button($dark-button);
            @include igx-input-group($dark-input-group);
            .igx-input-group__input::placeholder {
                color: $bg;
            }
        }
    }
}

.grid__wrapper {
    margin: 15px;
}
