#dots #dot1 {
  -webkit-animation: load 1s infinite;
          animation: load 1s infinite; }

#dots #dot2 {
  -webkit-animation: load 1s infinite;
          animation: load 1s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

#dots #dot3 {
  -webkit-animation: load 1s infinite;
          animation: load 1s infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

@-webkit-keyframes load {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes load {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
