<!-- Avatar Circle -->
<igx-avatar
    shape="circle"
    size="small"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-06.png"
    alt="A profile photo of a man.">
</igx-avatar>
<igx-badge
    dot
    outlined
    type="success">
</igx-badge>
<span>Circle</span>

<!-- Avatar Square -->
<igx-avatar
    shape="square"
    size="small">
    <igx-icon name="mail" collection="material"></igx-icon>
</igx-avatar>
<igx-badge
    outlined
    shape="square"
    type="info">
    2
</igx-badge>
<span>Square</span>

<!-- Avatar Rounded -->
<igx-avatar
    shape="rounded"
    size="small"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-07.png"
    alt="A profile photo of a man.">
</igx-avatar>
<igx-badge
    outlined
    shape="rounded"
    type="success">
    <igx-icon name="check" collection="material"></igx-icon>
</igx-badge>
<span>Rounded</span>
