.grid__wrapper {
  margin: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row; }

.photo {
  vertical-align: middle;
  max-height: 62px; }

.cell__inner_2 {
  margin: 1px; }

.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  height: 645px;
  margin-left: 1px; }

.igSelect {
  margin-left: 1px; }
