<div class="grid__wrapper">
    <igx-tree-grid igxPreventDocumentScroll  #treeGrid [data]="remoteData | async" primaryKey="ID" foreignKey="ParentID" [autoGenerate]="false" width="100%" height="450px"
                   [filterStrategy]="noopFilterStrategy"
                   [allowFiltering]="true">
        <igx-column [field]="'Name'" dataType="string"></igx-column>
        <igx-column [field]="'Title'" dataType="string"></igx-column>
        <igx-column [field]="'Age'" dataType="number"></igx-column>
        <igx-column [field]="'HireDate'" dataType="date"></igx-column>
        <igx-column [field]="'OnPTO'" dataType="boolean"width="130px">
            <ng-template igxCell let-cell="cell" let-val>
                <igx-icon [color]="cell.row.rowData.OnPTO? 'red': 'green'">account_circle</igx-icon>                
            </ng-template>
        </igx-column>
    </igx-tree-grid>
</div>
