name: Continuous Deployment Matrix
permissions:
  contents: write

on:
  push:
    branches:
      - master
      - vnext
  workflow_dispatch:
    workflow_dispatch:
    inputs:
      branch:
        description: 'Input a branch name (e.g., vnext)'
        required: true

env:
  REPLACEMENT_TEXT: '@infragistics/igniteui-angular-extras'
  BRANCH_REF: ${{ github.event.inputs.branch && format('refs/heads/{0}', github.event.inputs.branch) || github.ref }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: app
            custom_command: run generate-live-editing
            submodule_dir: angular-demos
            base_href: /angular-demos/
            target_folder: dist/app
            npm_build_command: run build-ci
            repositoryfy: true
            repositoryfy_command: repositoryfyAngularDemos
          - name: app-crm
            custom_command: run generate-live-editing:app-crm
            submodule_dir: angular-demos-crm
            base_href: /angular-demos-grid-crm/
            target_folder: dist/app-crm
            npm_build_command: run build-ci:app-crm --loglevel verbose
            repositoryfy: false
            repositoryfy_command: ''
          - name: app-lob
            custom_command: run generate-live-editing:app-lob
            submodule_dir: angular-demos-lob
            base_href: /angular-demos-lob/
            target_folder: dist/app-lob
            npm_build_command: run build-ci:app-lob
            repositoryfy: true
            repositoryfy_command: repositoryfyAngularDemosLob

    steps:
      - name: Trigger Deploy Workflow in IgniteUI Actions
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.CLASSIC_PAT_GITHUB }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: 'IgniteUI',
              repo: 'igniteui-actions',
              event_type: 'igniteui-angular-samples-cd',
              client_payload: {
                repository: "${{ github.repository }}",
                calling_branch: "${{ env.BRANCH_REF }}",
                custom_command: "${{ matrix.custom_command }}",
                submodule_dir: "${{ matrix.submodule_dir }}",
                base_href: "${{ matrix.base_href }}",
                target_folder: "${{ matrix.target_folder }}",
                npm_build_command: "${{ matrix.npm_build_command }}",
                repositoryfy: ${{ matrix.repositoryfy }},
                repositoryfy_command: "${{ matrix.repositoryfy_command }}",
                ref: "${{ github.ref }}"
              }
            });
