name: Trigger Deployment Workflow

on:
  push:
    branches:
      - vnext
      - master
  workflow_dispatch:
    inputs:
      branch:
        description: 'Input a branch name (e.g., vnext)'
        required: true

permissions:
  contents: read
jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Setup GitHub CLI
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
      
      - name: Trigger Workflow in Another Repository
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.CLASSIC_PATKA }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: 'IgniteUI',
              repo: 'igniteui-actions',
              event_type: 'igniteui-angular-samples-cd',
              client_payload: {
                branch: '${{ github.ref_name }}',
                unit: false,
                integration: true
              }
            });
