<div class="grid__wrapper">
    <igx-tree-grid #treeGrid [data]="localData" childDataKey="Employees" width="100%" height="500px"
                   [autoGenerate]="false" [rowSelectable]="true" [paging]="true"
                   [showToolbar]="true" toolbarTitle="Employees" [columnHiding]="true" [columnPinning]="true">
        <igx-column field="Name" dataType="string" [filterable]="true" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>        
        <igx-column field="HireDate" dataType="date" [filterable]="true" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
        <igx-column field="Age" dataType="number" [filterable]="true" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
    </igx-tree-grid>
</div>