<div class="grid__wrapper">
    <igx-tree-grid #treeGrid [data]="localData" childDataKey="Employees" width="100%" height="500px"
                   [autoGenerate]="false" [rowSelectable]="true" [paging]="true" [allowFiltering]="true"
                   [showToolbar]="true" toolbarTitle="Employees" [columnHiding]="true" [columnPinning]="true"
                   [exportExcel]="true" [exportCsv]="true" exportExcelText="To Excel" exportCsvText="To CSV">
        <igx-column field="Name" dataType="string" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true" [hasSummary]="true"></igx-column>
        <igx-column field="HireDate" dataType="date" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
        <igx-column field="Age" dataType="number" [sortable]="true" [editable]="true" [movable]="true" [resizable]="true"></igx-column>
    </igx-tree-grid>
</div>
