@use '../../../../variables' as *;

$custom-banner-theme: banner-theme(
    $banner-message-color: #151515,
    $banner-background: #dedede,
    $banner-illustration-color: #666666
);

igx-banner {
    @include css-vars($custom-banner-theme);
}
