// Sample related styling section
.offline-banner {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.gallery__wrapper {
    max-width: 400px;
    padding-top: 24px;
    margin: 0 auto;
}

.gallery__content {
    display: flex;
    flex-flow: column;
    max-height: 430px;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.gallery__item {
    padding: 16px;
    overflow: visible;
    border-radius: 0;

    & div {
        display: flex;
        justify-content: center;
    }
}

.gallery__item:first-child {
    padding-top: 24px;
}

img {
    max-width: 90%;
}

// Ignite UI for Angular Theming engine related styling
@import '~igniteui-angular/lib/core/styles/themes/index';

$custom-banner-theme: igx-banner-theme(
    $banner-message-color: #151515,
    $banner-background: #dedede,
    $banner-illustration-color: #666666
);

/* Using Custom Palette */

// $white-color: #dedede;
// $black-color: #151515;

// $light-banner-palette: igx-palette($primary: $white-color, $secondary: $black-color);

// $custom-banner-theme: igx-banner-theme(
//     $banner-message-color: igx-color($light-banner-palette, "secondary", 400),
//     $banner-background: igx-color($light-banner-palette, "primary", 400),
//     $banner-illustration-color: igx-color($light-banner-palette, "secondary", 100)
// );

/* Using Custom Schema */

// $light-toast-schema: extend($_light-toast,
//     (
//         banner-message-color: (
//             igx-color: ("secondary", 400)
//         ),
//         banner-background: (
//             igx-color: ("primary", 400)
//         ),
//         banner-illustration-color: (
//             igx-color: ("secondary", 100)
//         )
//     )
// );

// $custom-light-schema: extend($light-schema,(
//     igx-banner: $light-banner-schema
// ));

// $custom-banner-theme: igx-banner-theme(
//   $palette: $light-banner-palette,
//   $schema: $custom-light-schema
// );

// Pass our custom-banner-theme to `igx-banner` mixin.
:host {
   ::ng-deep {
           @include igx-css-vars($custom-banner-theme);
   }
}


