@use 'igniteui-theming' as *;

:host {
    container-type: inline-size;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    place-items: center;
    height: 100vh;
}

.button-group-size {
    display: grid;
    grid-template-columns: auto minmax(rem(240px), 1fr);
    align-items: center;
    gap: rem(24px) rem(32px);
    inline-size: 100%;
    max-inline-size: rem(480px);
    margin-inline: auto;
}

.sample-label {
    color: #556c86;
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: end;
}

igx-buttongroup {
    &:nth-of-type(1n) {
        --ig-size: var(--ig-size-small);
    }
    &:nth-of-type(2n) {
        --ig-size: var(--ig-size-medium);
    }
    &:nth-of-type(3n) {
        --ig-size: var(--ig-size-large);
    }
}

@container (width < 22rem) {
    .button-group-size {
        grid-template-columns: minmax(0, 1fr);
        gap: rem(4px);
    }

    .sample-label {
        text-align: start;

        &:not(:first-of-type) {
            margin-block-start: rem(16px);
        }
    }
}
