<div className="sample">
    <div className="chart">
        <div className="options">
            <span className="optionItem">Series Type:</span>
            <select (onChange)="onAxisTypeChange($event)">
                <option>Column (CategoryXAxis)</option>
                <option>Bar (CategoryYAxis)</option>
                <option>Scatter (NumericXAxis)</option>
                <option>Financial (TimeXAxis)</option>
            </select>
        </div>
        <igx-data-chart #chart            
            width="100%"
            height="500px"></igx-data-chart>
    </div>
</div>