@import "../../../variables";
@import "~@angular/material/theming";

// $custom-typography: mat-typography-config(
//     $font-family: $material-typeface,
//     $button: mat-typography-level(14px, $font-weight: 600)
// );

$saturations: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700);

@function material-like-palette(
    $color,
    $saturations,
    $palette,
) {
    $shade: ();
    $contrast: ();
    $result: ();
    @each $saturation in $saturations {
        $shade: map-merge($shade, ($saturation: igx-color($palette, $color, $saturation)));
        $contrast: map-merge($contrast, ($saturation: igx-color($palette, $color, #{$saturation}-contrast)));
        $result: map-merge($shade, (contrast: $contrast));
    }

    @return $result;
}

$igx-light-palette: igx-palette(
    $primary: #09f,
    $secondary: #e41c77
);

$custom-dark-palette: igx-palette(
    $primary: #011627,
    $secondary: #72da67,
    $grays: #fff,
    $surface: #222,
);

$light-palette-primary: mat-palette(material-like-palette('primary', $saturations, $igx-light-palette));
$light-palette-accent: mat-palette(material-like-palette('secondary', $saturations, $igx-light-palette));
$custom-mat-light-theme: mat-light-theme($light-palette-primary, $light-palette-accent);

$dark-palette-primary: mat-palette(material-like-palette('primary', $saturations, $custom-dark-palette));
$dark-palette-accent: mat-palette(material-like-palette('secondary', $saturations, $custom-dark-palette));
$custom-mat-dark-theme: mat-dark-theme($dark-palette-primary, $dark-palette-accent);

.navbar-brand {
    margin-right: 16px;
}

mat-toolbar div {
    margin-left: auto;

    igx-avatar {
        margin-right: 8px;
    }
}

.card-wrapper {
    margin: 16px;
    flex: 1 0 25%;
}

.slider-wrapper {
    padding: 16px 0;
    flex: 1 0 25%;

    p {
        margin-bottom: 0;
        padding: 0 8px;
    }
}

.card-panel {
    margin: 8px 16px;
    box-shadow: igx-elevation($elevation: 2);
}

.mat-slider {
    width: 100%;
}

.mat-button, .mat-stroked-button {
    text-transform: uppercase;
}

igx-expansion-panel-header h5 {
    margin-top: 0;
}

igx-expansion-panel-body {
    padding: 16px;
}

:host {
    display: block;
    height: auto;
    min-height: 100%;

    @include igx-typography($font-family: $material-typeface, $type-scale: $material-type-scale);

    &.light {
        @include igx-color-classes($palette: $igx-light-palette, $prop: "background", $prefix: "bg");

        background: igx-color($igx-light-palette, 'surface');

        #Path1 {
            fill: igx-color($igx-light-palette, 'secondary');
        }

        #Path2 {
            stroke: igx-color($igx-light-palette, 'secondary');
            stroke-width: "0.8";
        }

        .primary {
            color: igx-color($igx-light-palette, 'primary');
            margin-left: 32px;
        }
    }

    &.dark {
        @include igx-color-classes($palette: $custom-dark-palette, $prop: "background", $prefix: "bg");

        background: igx-color($custom-dark-palette, 'surface');

        #Path1 {
            fill: igx-color($custom-dark-palette, 'secondary');
        }

        #Path2 {
            stroke: igx-color($custom-dark-palette, 'secondary');
            stroke-width: "0.8";
        }

        ::ng-deep {
            .primary {
                color: igx-color($custom-dark-palette, 'primary', 100);
                margin-left: 32px;
            }

            .mat-step-header .mat-step-icon-selected {
                background-color: igx-color($custom-dark-palette, 'secondary');
            }

            .mat-accent .mat-slider-thumb,
            .mat-accent .mat-slider-track-fill {
                background-color: igx-color($custom-dark-palette, 'primary', 100);
            }

            .mat-stepper-horizontal {
                background: igx-color($custom-dark-palette, 'surface');
            }

            igx-expansion-panel h5 {
                color: igx-color($custom-dark-palette, 'grays', 800);
            }
        }
    }

    &.light,
    &.dark {
        .success {
            color: igx-color($igx-light-palette, "success");
        }

        .error {
            color: igx-color($igx-light-palette, "error");
        }

        .warning {
            color: igx-color($igx-light-palette, "warn");
        }
    }
}

::ng-deep {
    // @include mat-core($custom-typography);
    @include igx-theme($igx-light-palette, $legacy-support: true);
    // @include angular-material-theme($custom-mat-light-theme);

    .dark {
        @include igx-dark-theme($custom-dark-palette, $legacy-support: true);
        // @include angular-material-theme($custom-mat-dark-theme);
    }
}
