@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../variables' as *;
@include mat.elevation-classes();
@include mat.app-background();

$custom-typography: mat.m2-define-typography-config(
    $font-family: $material-typeface,
    $button: mat.m2-define-typography-level(14px, $font-weight: 600)
);

$saturations: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700);

@function material-like-palette(
    $color,
    $saturations,
    $palette,
) {
    $shade: ();
    $contrast: ();
    $result: ();
    @each $saturation in $saturations {
        $shade: map.merge($shade, ($saturation: color($palette, $color, $saturation)));
        $contrast: map.merge($contrast, ($saturation: color($palette, $color, #{$saturation}-contrast)));
        $result: map.merge($shade, (contrast: $contrast));
    }

    @return $result;
}

$igx-light-palette: palette(
    $primary: #09f,
    $secondary: #e41c77,
    $surface: #fff,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #fbb13c,
    $error: #ff134a,
);

$custom-dark-palette: palette(
    $primary: #206094,
    $secondary: #72da67,
    $surface: #222,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #fbb13c,
    $error: #ff134a,
);

$light-palette-primary: mat.m2-define-palette(material-like-palette('primary', $saturations, $igx-light-palette));
$light-palette-accent: mat.m2-define-palette(material-like-palette('secondary', $saturations, $igx-light-palette));
$custom-mat-light-theme: mat.m2-define-light-theme((
    color: (
        primary: $light-palette-primary,
        accent: $light-palette-accent
    ),
    typography: $custom-typography
));

$dark-palette-primary: mat.m2-define-palette(material-like-palette('primary', $saturations, $custom-dark-palette));
$dark-palette-accent: mat.m2-define-palette(material-like-palette('secondary', $saturations, $custom-dark-palette));
$custom-mat-dark-theme: mat.m2-define-dark-theme((
    color: (
        primary: $dark-palette-primary,
        accent: $dark-palette-accent
    )
));

::ng-deep {
    @include mat.elevation-classes();
    @include mat.app-background();

    .mat-menu {
        @include mat.menu-theme($custom-mat-light-theme);
    }

    .dark-menu-theme {
        @include mat.menu-color($custom-mat-dark-theme);
    }
}

.navbar-brand {
    margin-right: 16px;
}

mat-toolbar div {
    margin-left: auto;

    igx-avatar {
        margin-right: 8px;
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: rem(16px);
    gap: rem(16px);
    align-items: stretch;
}

.slider-wrapper {
    padding: 16px 0;
    flex: 1 0 25%;

    p {
        margin-bottom: 0;
        padding: 0 8px;
    }
}

.card-panel {
    margin: 8px 16px;
    box-shadow: elevation(2);
}

.mat-slider {
    width: 100%;
}

.mat-button, .mat-stroked-button {
    text-transform: uppercase;
}

igx-expansion-panel-header h5 {
    margin-top: 0;
}

igx-expansion-panel-body {
    padding: 16px;
}

:host {
    display: block;
    height: auto;
    min-height: 100%;

    @include typography($font-family: $material-typeface, $type-scale: $material-type-scale);

    &.light {
        @include color-classes($palette: $igx-light-palette, $prop: "background", $prefix: "bg");

        background: color($igx-light-palette, 'surface');

        #Path1 {
            fill: color($igx-light-palette, 'secondary');
        }

        #Path2 {
            stroke: color($igx-light-palette, 'secondary');
            stroke-width: "0.8";
        }

        .primary {
            color: color($igx-light-palette, 'primary');
            margin-left: 32px;
        }
    }

    &.dark {
        @include color-classes($palette: $custom-dark-palette, $prop: "background", $prefix: "bg");

        background: color($custom-dark-palette, 'surface');

        #Path1 {
            fill: color($custom-dark-palette, 'secondary');
        }

        #Path2 {
            stroke: color($custom-dark-palette, 'secondary');
            stroke-width: "0.8";
        }

        ::ng-deep {
            @include dark-theme($custom-dark-palette);
            @include mat.all-component-colors($custom-mat-dark-theme);

            .primary {
                color: color($custom-dark-palette, 'primary', 100);
                margin-left: 32px;
            }

            .mat-mdc-slider.secondary .mdc-slider__track--inactive,
            .mat-mdc-slider.secondary .mdc-slider__thumb-knob {
                background-color: color($custom-mat-dark-theme, 'accent');
            }

            .mat-mdc-slider.secondary .mdc-slider__track--active_fill,
            .mat-mdc-slider.secondary .mdc-slider__thumb-knob {
                border-color: color($custom-mat-dark-theme, 'accent');
            }

            .mat-mdc-slider.secondary .mat-mdc-slider-visual-thumb .mat-ripple > * {
                background-color: color($custom-mat-dark-theme, 'accent');
                opacity: .12;
            }

            .mat-step-header .mat-step-icon-selected {
                background-color: color($custom-dark-palette, 'secondary');
            }

            .mat-stepper-horizontal,
            .mat-mdc-form-field-focus-overlay,
            .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                background: color($custom-dark-palette, 'surface');
            }

            igx-expansion-panel h5 {
                color: color($custom-dark-palette, 'gray', 800);
            }
        }
    }

    &.light,
    &.dark {
        .success {
            color: color($igx-light-palette, "success");
        }

        .error {
            color: color($igx-light-palette, "error");
        }

        .warning {
            color: color($igx-light-palette, "warn");
        }
    }

    ::ng-deep {
        @include theme($igx-light-palette);
        @include mat.all-component-themes($custom-mat-light-theme);

        .mat-mdc-slider.secondary .mdc-slider__track--inactive,
        .mat-mdc-slider.secondary .mdc-slider__thumb-knob {
            background-color: color($custom-mat-light-theme, 'accent');
        }

        .mat-mdc-slider.secondary .mdc-slider__track--active_fill,
        .mat-mdc-slider.secondary .mdc-slider__thumb-knob {
            border-color: color($custom-mat-light-theme, 'accent');
        }

        .mat-mdc-slider.secondary .mat-mdc-slider-visual-thumb .mat-ripple > * {
            background-color: color($custom-mat-light-theme, 'accent');
            opacity: .12;
        }

        .mat-stepper-horizontal.mb-1 .mat-horizontal-stepper-header-container {
            margin-bottom: 16px;
        }

        .mat-mdc-form-field-focus-overlay,
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: color($igx-light-palette, 'surface');
        }
    }
}
