<div class="sample avatar-variants-sample">
    <div class="avatar-variant">
        <span class="avatar-with-badge">
            <igx-avatar
                class="size-small"
                shape="circle"
                size="small"
                src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png"
                alt="A profile photo of a man.">
            </igx-avatar>
            <igx-badge
                class="avatar-status avatar-dot-badge size-small"
                dot
                outlined
                type="success">
            </igx-badge>
        </span>
        <span class="avatar-label">Image</span>
    </div>

    <div class="avatar-variant">
        <span class="avatar-with-badge">
            <igx-avatar class="size-small" shape="circle" size="small">
                <igx-icon name="mail" collection="material"></igx-icon>
            </igx-avatar>
            <igx-badge
                class="avatar-status avatar-count-badge size-small"
                outlined
                shape="rounded"
                type="info">
                2
            </igx-badge>
        </span>
        <span class="avatar-label">Icon</span>
    </div>

    <div class="avatar-variant">
        <span class="avatar-with-badge">
            <igx-avatar
                class="size-small"
                shape="circle"
                size="small"
                initials="AZ"
                alt="Avatar with AZ initials.">
            </igx-avatar>
            <igx-badge
                class="avatar-status avatar-check-badge size-small"
                outlined
                shape="rounded"
                type="success">
                <igx-icon name="check" collection="material"></igx-icon>
            </igx-badge>
        </span>
        <span class="avatar-label">Initials</span>
    </div>
</div>
