<!-- Avatar with image -->
<igx-avatar
    shape="circle"
    size="small"
    src="https://dl.infragistics.com/x/img/avatars/avatar-profile-04.png"
    alt="A profile photo of a man.">
</igx-avatar>
<igx-badge
    dot
    outlined
    type="success">
</igx-badge>
<span>Image</span>

<!-- Avatar with icon -->
<igx-avatar
    shape="circle"
    size="small"
>
    <igx-icon name="mail" collection="material"></igx-icon>
</igx-avatar>
<igx-badge
    outlined
    shape="rounded"
    type="info">
    2
</igx-badge>
<span>Icon</span>

<!-- Avatar with initials -->
<igx-avatar
    shape="circle"
    size="small"
    initials="AZ"
    alt="Avatar with AZ initials.">
</igx-avatar>
<igx-badge
    outlined
    shape="rounded"
    type="success">
    <igx-icon name="check" collection="material"></igx-icon>
</igx-badge>
<span>Initials</span>

