<div class="grid__wrapper">
    <div class="sample__header">
        <igx-grid [igxPreventDocumentScroll]="true" #grid1 [data]="data" [autoGenerate]="false"
            width="100%" height="500px" [primaryKey]="'ID'">
            <igx-column field="ID" header="ID" [dataType]="'number'" width="50px">
            </igx-column>
            <igx-column field="Country" header="Country" [dataType]="'string'" width="220px">
                <ng-template igxCell let-cell="cell">
                    <igx-simple-combo [id]="'country-' + cell.row.data.ID" [data]="countriesData"
                        (selectionChanging)="countryChanging($event, cell)" placeholder="Choose Country..."
                        [displayKey]="'name'" [displayDensity]="'compact'" width="100%">
                    </igx-simple-combo>
                </ng-template>
            </igx-column>
            <igx-column field="Region" header="Region" dataType="string" width="220px">
                <ng-template igxCell let-cell="cell">
                    <div>
                        <igx-simple-combo [id]="'region-' + cell.row.data.ID"
                            (selectionChanging)="regionChanging($event, cell)" placeholder="Choose Region..."
                            [displayKey]="'name'" [displayDensity]="'compact'" [(ngModel)]="cell.value"
                            [disabled]="cell.row.cells[1].value === ''">
                        </igx-simple-combo>
                        <igx-linear-bar [id]="'region-progress-' + cell.row.data.ID" [style.visibility]="'hidden'"
                            type="info" [indeterminate]="true">
                        </igx-linear-bar>
                    </div>
                </ng-template>
            </igx-column>
            <igx-column field="City" header="City" width="220px" [editable]="true">
                <ng-template igxCell let-cell="cell">
                    <div>
                        <igx-simple-combo [id]="'city-' + cell.row.data.ID" placeholder="Choose City..."
                            [(ngModel)]="cell.value" [displayKey]="'name'" [displayDensity]="'compact'"
                            [disabled]="cell.row.cells[2].value === ''">
                        </igx-simple-combo>
                        <igx-linear-bar [id]="'city-progress-' + cell.row.data.ID" [style.visibility]="'hidden'"
                            type="info" [indeterminate]="true">
                        </igx-linear-bar>
                    </div>
                </ng-template>
            </igx-column>
        </igx-grid>
    </div>
</div>
