<div class="sample-content">
    <section class="sample-column">
      <article class="icons-wrapper">
        <div class="icon-sample">
          <igx-icon name="sentiment_very_satisfied" color="rgb(52, 0, 104)" [isActive]="true"></igx-icon>
        </div>
  
        <div class="icon-sample">
          <igx-icon name="home" color="black" class="custom-size" [isActive]="true"></igx-icon>
        </div>
  
        <div class="icon-sample">
          <igx-icon name="airplanemode_active" color="#0375be" [isActive]="true"></igx-icon>
        </div> 
      </article>
    </section>
  </div>