.grid__wrapper {
    width: 1050px;
    margin: 10px auto;
}

igx-snackbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.igx-snackbar {
    background: rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    igx-icon {
        margin: 20px;
    }
}