@use "layout.scss";
@use "igniteui-angular/theming" as *;

$yellow: #ffcd0f;
$black: #292826;
$muted-yellow: #ffe482;

$custom-query-builder: query-builder-theme(
  $schema: $dark-material-schema,
  $background: $black,
);

$custom-button: flat-button-theme(
  $schema: $dark-material-schema,
  $foreground: $yellow,
);

$custom-input-group: input-group-theme(
  $focused-secondary-color: $yellow
);

$custom-chip: chip-theme(
  $schema: $dark-material-schema,
  $background: $yellow,
);

$custom-icon-button: outlined-icon-button-theme(
  $schema: $dark-material-schema,
  $foreground: $yellow,
);


:host {
    @include theme($palette: $dark-material-palette);
    @include tokens($custom-query-builder);
    @include tokens($custom-input-group);
    @include tokens($custom-chip);
    @include tokens($custom-icon-button);
    @include tokens($custom-button);
}

.wrapper{
    margin: 10px;
    height: 100%;
    overflow-y: auto;
}
