@use "layout.scss";
@use "igniteui-angular/theming" as *;

$yellow: #ffcd0f;
$black: #292826;
$muted-yellow: #ffe482;

$custom-query-builder: query-builder-theme(
  $schema: $dark-material-schema,
  $background: $black,
  $subquery-background: #373532,
  $subquery-border-color: #4e4d4a,
  $header-background: $black,
  $header-foreground: $yellow,
  $color-expression-group-and: #4e78ea,
  $color-expression-group-or: #b64fcb
);

$custom-button: button-theme(
  $schema: $dark-material-schema,
  $background: $black,
  $foreground: $yellow,
  $hover-foreground: $black,
  $hover-background: $yellow,
  $focus-foreground: $yellow,
  $focus-background: $black,
  $border-color: $yellow
);

$custom-input-group: input-group-theme(
  $focused-secondary-color: $yellow
);

$custom-chip: chip-theme(
  $schema: $dark-material-schema,
  $background: $yellow,
  $text-color: $black,
  $ghost-background: $yellow
);

$custom-icon-button: icon-button-theme(
  $schema: $dark-material-schema,
  $background: $yellow,
  $foreground: $black
);

@include css-vars($custom-query-builder);

:host {
  ::ng-deep {
    @include css-vars($custom-input-group);
    @include css-vars($custom-chip);
    @include css-vars($custom-icon-button);

    .igx-filter-tree__buttons {
      @include css-vars($custom-button);
    }
  }
}
 