.main__wrapper {
    height: calc(100% - 56px);
    app-finjs-grid {
        height: 100%;
    }
}

:host ::ng-deep {
    .fin-dark-theme {
        .finjs-slider,
        .sample-toolbar {
            color: rgba(255, 255, 255, 0.87);
        }
    }
}