.main__wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    app-finjs-grid {
        height: 100%;
    }
}

.chart-container {
    width: 50vw;
}

::ng-deep {
    .igx-dialog__window:has(.igx-dialog__window-content):has(.chart-container.fin-dark-theme) {
        background-color: rgb(51, 51, 51);
    }
}

:host ::ng-deep {
    .fin-dark-theme {
        .finjs-slider,
        .sample-toolbar {
            color: rgba(255, 255, 255, 0.87);
        }
    }
}
