:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

igx-chips-area {
    --ig-size: var(--ig-size-large);

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.25rem;
}
