@use "igniteui-angular/theming" as *;
@use "igniteui-angular/lib/core/styles/components/radio/radio-component" as radio;
@use "sass:map";

:host {
    ::ng-deep{
        $_radio-schema: map.get($light-fluent-schema, radio);
        @include radio(radio-theme($schema: $_radio-schema));
        @include radio.component();

        // Note: This is not the standard approach for styling the component.
        // We're using it here solely to mirror the UI5 sample.
        .igx-radio--checked .igx-radio__composite::after {
            --fill-color: #556b81;
        }

        .igx-radio__composite::after, 
        .igx-radio__composite::before, 
        .igx-radio__composite {
            width: 1.125rem;
            height: 1.125rem;
        }

        .igx-radio__composite {
            min-width: 1.125rem;
        }

        .igx-radio__ripple {
            display: none;
        }
    }
}

igx-radio + igx-radio {
    margin-top: 1rem;
}

.radio-wrapper {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}