@import "~igniteui-angular/lib/core/styles/themes/index";

igx-radio + igx-radio {
    margin-top: 16px;
}

$custom-radio-theme: igx-radio-theme(
    $disabled-color: lightgray,
    $empty-color:  #345779,
    $fill-color: #2dabe8,
    $fill-color-hover: #2dabe8,
    $fill-hover-border-color: #2dabe8

);

:host {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;

    // @include igx-css-vars($custom-radio-theme);

    /* Using Theme Overrides to provide IE 11 support.
     * NOTE: Theming using this approach will greatly increase the size
     * of the output CSS. If you do not plan to target IE 11,
     * delete this section and use the `igx-css-vars` mixin as shown above.
    **/
    ::ng-deep {
        @include igx-radio($custom-radio-theme);
    }
}

