@use "layout.scss";
@use "igniteui-angular/theming" as *;

// CSS variables approach

// igx-radio {
//     --empty-color: #345779;
//     --fill-color: #2dabe8;
// }

// Sass theme approach

$custom-radio-theme: radio-theme(
    $empty-color:  #345779,
    $fill-color: #2dabe8,
);

:host {
    @include tokens($custom-radio-theme);
}
