@use "layout.scss";
@use "igniteui-angular/theming" as *;

// CSS variables approach

igx-radio {
    --empty-color: #556b81;
    --label-color: #131e29;
    --fill-color: #0064d9;
    --focus-outline-color: #0032a5;
}

igx-radio:hover {
    --empty-fill-color: #e3f0ff;
    --empty-color: #0064d9;
    --hover-color: transparent;
}

// Sass theme approach

// $custom-radio-theme: radio-theme(
//     $empty-color: #556b81,
//     $label-color: #131e29,
//     $fill-color: #0064d9,
//     $focus-outline-color: #0032a5,
//     $fill-color-hover: #0064d9,
//     $hover-color: transparent
// );

// @include css-vars($custom-radio-theme);
