@import "~igniteui-angular/lib/core/styles/themes/index";

:host {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
}

igx-radio + igx-radio {
    margin-top: 16px;
}

$custom-radio-theme: igx-radio-theme(
    $disabled-color: lightgray,
    $empty-color:  #345779,
    $fill-color: #2dabe8,
    $fill-color-hover: #2dabe8,
    $fill-hover-border-color: #2dabe8

);

:host {
    @include igx-css-vars($custom-radio-theme);
}
